# MovieLens 1M Dataset

In [2]:
import pandas as pd

In [3]:
path = "data/"
links = pd.read_csv(path+"links.csv", sep=",")
ratings = pd.read_csv(path+"ratings.csv", sep=",")
movies = pd.read_csv(path+"movies.csv", sep=",", encoding="latin")

In [4]:
for df in [links, ratings, movies]:
    print(df.head())
    print("++++++++++++++++++++")

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
++++++++++++++++++++
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
++++++++++++++++++++
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
++++++++++++++++++++

In [5]:
data = pd.merge(ratings, movies, on='movieId')

In [6]:
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [7]:
data.iloc[0]

userId                                                 1
movieId                                                1
rating                                               4.0
timestamp                                      964982703
title                                   Toy Story (1995)
genres       Adventure|Animation|Children|Comedy|Fantasy
Name: 0, dtype: object

In [8]:
ratings_by_title = data.groupby('title').size()

In [9]:
ratings_by_title.head()

title
'71 (2014)                                 1
'Hellboy': The Seeds of Creation (2004)    1
'Round Midnight (1986)                     2
'Salem's Lot (2004)                        1
'Til There Was You (1997)                  2
dtype: int64

In [10]:
active_titles = ratings_by_title.index[ratings_by_title >= 250]

In [11]:
for title in active_titles[:20]:
    print(title)

Forrest Gump (1994)
Matrix, The (1999)
Pulp Fiction (1994)
Shawshank Redemption, The (1994)
Silence of the Lambs, The (1991)
Star Wars: Episode IV - A New Hope (1977)

In [12]:
mean_ratings = data.pivot_table('rating', index='title', aggfunc='mean')

In [13]:
mean_ratings = mean_ratings.loc[active_titles]

In [14]:
mean_ratings

                                             rating
title
Forrest Gump (1994)                        4.164134
Matrix, The (1999)                         4.192446
Pulp Fiction (1994)                        4.197068
Shawshank Redemption, The (1994)           4.429022
Silence of the Lambs, The (1991)           4.161290
Star Wars: Episode IV - A New Hope (1977)  4.231076

In [15]:
rating_std_by_title = data.groupby('title')['rating'].std()

In [16]:
ratings_std_by_title = rating_std_by_title.loc[active_titles]

In [17]:
rating_std_by_title.sort_values(ascending=False).head(10)

title
Fanny and Alexander (Fanny och Alexander) (1982)                      3.181981
Ivan's Childhood (a.k.a. My Name is Ivan) (Ivanovo detstvo) (1962)    3.181981
Lassie (1994)                                                         2.828427
Kwaidan (Kaidan) (1964)                                               2.828427
Zed & Two Noughts, A (1985)                                           2.828427
Emma (2009)                                                           2.828427
Troll 2 (1990)                                                        2.598076
Room in Rome (HabitaciÃ³n en Roma) (2010)                             2.474874
The Conjuring 2 (2016)                                                2.474874
Paper Heart (2009)                                                    2.474874
Name: rating, dtype: float64