### Restart and Run All Cells

In [1]:
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

today = date.today()
today_str = today.strftime("%Y-%m-%d")
current_time = datetime.now()
print(current_time)

2025-02-08 14:17:34.057213

In [3]:
format_dict = {
    "q_amt": "{:,}",
    "y_amt": "{:,}",
    "yoy_gain": "{:,}",
    "q_amt_c": "{:,}",
    "q_amt_p": "{:,}",
    "aq_amt": "{:,}",
    "ay_amt": "{:,}",
    "acc_gain": "{:,}",
    "latest_amt": "{:,}",
    "previous_amt": "{:,}",
    "inc_amt": "{:,}",
    "inc_amt_pq": "{:,}",
    "inc_amt_py": "{:,}",    
    "latest_amt_q": "{:,}",
    "previous_amt_q": "{:,}",
    "inc_amt_q": "{:,}",
    "latest_amt_y": "{:,}",
    "previous_amt_y": "{:,}",
    "inc_amt_y": "{:,}",
    "kind_x": "{:,}",
    "inc_pct": "{:.2f}%",
    "inc_pct_q": "{:.2f}%",
    "inc_pct_y": "{:.2f}%",
    "inc_pct_pq": "{:.2f}%",
    "inc_pct_py": "{:.2f}%",   
    "mean_pct": "{:.2f}%",
    "std_pct": "{:.2f}%",      
}

In [5]:
cols = 'name year quarter q_amt y_amt aq_amt ay_amt q_eps y_eps aq_eps ay_eps ticker_id publish_date'.split()
colt = 'name year qtr_int latest_amt previous_amt inc_amt inc_pct ticker_id'.split()

In [7]:
sql = """
SELECT name, id AS ticker_id
FROM tickers"""

tickers = pd.read_sql(sql, conpg)
tickers.shape

(396, 2)

In [9]:
sql = text("DELETE FROM epss")
rp = conpg.execute(sql)
rp.rowcount

9257

In [11]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,publish_date
FROM epss 
ORDER BY year, quarter, name"""

df_inp = pd.read_sql(sql, conlt)
df_inp.shape

(9262, 12)

In [13]:
df_merge = pd.merge(df_inp, tickers, on="name", how="outer", indicator=True)
df_merge.shape

(9432, 14)

In [15]:
df_left = df_merge[df_merge["_merge"] == "left_only"]
df_left["name"].unique()
df_left

Empty DataFrame
Columns: [name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, publish_date, ticker_id, _merge]
Index: []

In [17]:
cols = 'name year quarter q_amt y_amt aq_amt ay_amt q_eps y_eps aq_eps ay_eps ticker_id publish_date'.split()
cols

['name',
 'year',
 'quarter',
 'q_amt',
 'y_amt',
 'aq_amt',
 'ay_amt',
 'q_eps',
 'y_eps',
 'aq_eps',
 'ay_eps',
 'ticker_id',
 'publish_date']

In [19]:
df_ins = df_merge[df_merge["_merge"] == "both"]
df_eps = df_ins[cols]
df_eps.shape

(9262, 13)

In [21]:
# Convert DataFrame to list of records
rcds = df_eps.values.tolist()

# Define column names in the same order as values
columns = ['name', 'year', 'quarter', 'q_amt', 'y_amt', 'aq_amt', 'ay_amt', 
           'q_eps', 'y_eps', 'aq_eps', 'ay_eps', 'ticker_id', 'publish_date']

# SQL insert statement with named parameters
sql = text("""
    INSERT INTO epss 
    (name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, 
     q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date)
    VALUES (:name, :year, :quarter, :q_amt, :y_amt, :aq_amt, :ay_amt,
            :q_eps, :y_eps, :aq_eps, :ay_eps, :ticker_id, :publish_date)
""")

try:
    # Execute inserts
    for rcd in rcds:
        # Convert list to dictionary
        params = dict(zip(columns, rcd))
        conpg.execute(sql, params)
    
    # Commit the transaction
    conpg.commit()
except Exception as e:
    # Rollback on error
    conpg.rollback()
    raise e

### Start of Yearly Profit Section

In [24]:
sql = text("DELETE FROM yr_profits")
rp = conpg.execute(sql)
rp.rowcount

6760

In [26]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
ORDER BY year desc, quarter desc, name"""
df_year = pd.read_sql(sql, conlt)
df_year.shape

(6764, 7)

In [28]:
# Extract numeric portion from Q9 format
df_year["qtr_int"] = df_year["quarter"].str[1:]
df_year.shape

(6764, 8)

In [30]:
df_merge = pd.merge(df_year, tickers, on="name", how="outer", indicator=True)
df_merge.shape

(6934, 10)

In [32]:
df_left = df_merge[df_merge["_merge"] == "left_only"]
df_left

Empty DataFrame
Columns: [name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, qtr_int, ticker_id, _merge]
Index: []

In [34]:
df_ins = df_merge[df_merge["_merge"] == "both"]
df_eps = df_ins[colt]
df_eps.shape

(6764, 8)

In [36]:
# Column names (ensure they match the actual column names in your table)
columns = ["name", "year", "quarter", "latest_amt", "previous_amt", "inc_amt", "inc_pct", "ticker_id"]

# Convert list of lists to list of dictionaries
rcds = [dict(zip(columns, row)) for row in df_eps.values.tolist()]

query = text("""
    INSERT INTO yr_profits (name, year, quarter, 
    latest_amt, previous_amt, inc_amt, inc_pct, ticker_id) 
    VALUES (:name, :year, :quarter, :latest_amt, :previous_amt, :inc_amt, :inc_pct, :ticker_id)
""")

conpg.execute(query, rcds)  # Bulk insert with named placeholders
conpg.commit()  # Commit transaction

### Start of Profits section

In [39]:
sql = """
SELECT name, id AS ticker_id
FROM tickers"""
tickers = pd.read_sql(sql, conpg)
tickers.shape

(396, 2)

In [41]:
sql = text("DELETE FROM profits")
rp = conpg.execute(sql)
rp.rowcount

39

In [43]:
sql = """
SELECT *
FROM profits 
ORDER BY year desc, quarter desc, name"""
profits = pd.read_sql(sql, conlt)
profits.shape

(56, 23)

In [45]:
sql = """
SELECT name, year, quarter, publish_date
FROM epss"""
epss = pd.read_sql(sql, conlt)
epss.shape

(9262, 4)

In [47]:
df_merge = pd.merge(
    profits, epss, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.shape

(9271, 25)

In [49]:
prf_eps = df_merge[df_merge["_merge"] == "both"]
prf_eps.shape

(47, 25)

In [51]:
columns = ["id", "ticker_id", "_merge"]
prf_eps_2 = prf_eps.drop(columns, axis=1)
prf_eps_2.shape

(47, 22)

In [53]:
df_merge = pd.merge(prf_eps_2, tickers, on="name", how="inner")
df_merge.shape

(47, 23)

In [55]:
# Convert DataFrame to a list of tuples
rcds = df_merge.values.tolist()
print(f"Number of records to insert: {len(rcds)}")

# SQL query with parameter placeholders
sql = text("""
INSERT INTO profits (
    name, year, quarter, kind,
    latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
    latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
    q_amt_c, y_amt, inc_amt_py, inc_pct_py,
    q_amt_p, inc_amt_pq, inc_pct_pq,
    mean_pct, std_pct, publish_date, ticker_id
)
VALUES (
    :name, :year, :quarter, :kind,
    :latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
    :latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
    :q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
    :q_amt_p, :inc_amt_pq, :inc_pct_pq,
    :mean_pct, :std_pct, :publish_date, :ticker_id
)
""")

# Execute the query for each record
for rcd in rcds:
    # Convert tuple to dictionary
    params = {
        'name': rcd[0],
        'year': rcd[1],
        'quarter': rcd[2],
        'kind': rcd[3],
        'latest_amt_y': rcd[4],
        'previous_amt_y': rcd[5],
        'inc_amt_y': rcd[6],
        'inc_pct_y': rcd[7],
        'latest_amt_q': rcd[8],
        'previous_amt_q': rcd[9],
        'inc_amt_q': rcd[10],
        'inc_pct_q': rcd[11],
        'q_amt_c': rcd[12],
        'y_amt': rcd[13],
        'inc_amt_py': rcd[14],
        'inc_pct_py': rcd[15],
        'q_amt_p': rcd[16],
        'inc_amt_pq': rcd[17],
        'inc_pct_pq': rcd[18],
        'mean_pct': rcd[19],
        'std_pct': rcd[20],
        'publish_date': rcd[21],
        'ticker_id': rcd[22]
    }

    # Execute the query
    conpg.execute(sql, params)

print("Records inserted successfully!")

Number of records to insert: 47
Records inserted successfully!

### End of Profits section

In [58]:
sql = '''
SELECT * FROM profits
ORDER BY name, year DESC, quarter DESC'''
profits = pd.read_sql(sql, conpg)
profits.shape

(47, 24)

In [60]:
profits2 = profits.drop('id',axis=1)
profits2.shape

(47, 23)

In [62]:
dfc_hi = profits2.sort_values(['name','year','quarter'], ascending=False)
dfc_hi.shape

(47, 23)

In [64]:
dfc_hi_uniq = dfc_hi.drop_duplicates(subset='name')
dfc_hi_uniq.shape

(41, 23)

In [66]:
rcds = dfc_hi_uniq.values.tolist()
len(rcds)

41

In [68]:
sql = text('DELETE FROM profits')
print(sql)

DELETE FROM profits

In [70]:
rp = conpg.execute(sql)
rp.rowcount

47

In [72]:
rcds = dfc_hi_uniq.values.tolist()
print(f"Number of records to insert: {len(rcds)}")

# SQL query with parameter placeholders
sql = text("""
INSERT INTO profits (
    name, year, quarter, kind,
    latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
    latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
    q_amt_c, y_amt, inc_amt_py, inc_pct_py,
    q_amt_p, inc_amt_pq, inc_pct_pq,
    mean_pct, std_pct, publish_date, ticker_id
)
VALUES (
    :name, :year, :quarter, :kind,
    :latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
    :latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
    :q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
    :q_amt_p, :inc_amt_pq, :inc_pct_pq,
    :mean_pct, :std_pct, :publish_date, :ticker_id
)
""")

# Execute the query for each record
for rcd in rcds:
    # Convert tuple to dictionary
    params = {
        'name': rcd[0],
        'year': rcd[1],
        'quarter': rcd[2],
        'kind': rcd[3],
        'latest_amt_y': rcd[4],
        'previous_amt_y': rcd[5],
        'inc_amt_y': rcd[6],
        'inc_pct_y': rcd[7],
        'latest_amt_q': rcd[8],
        'previous_amt_q': rcd[9],
        'inc_amt_q': rcd[10],
        'inc_pct_q': rcd[11],
        'q_amt_c': rcd[12],
        'y_amt': rcd[13],
        'inc_amt_py': rcd[14],
        'inc_pct_py': rcd[15],
        'q_amt_p': rcd[16],
        'inc_amt_pq': rcd[17],
        'inc_pct_pq': rcd[18],
        'mean_pct': rcd[19],
        'std_pct': rcd[20],
        'publish_date': rcd[21],
        'ticker_id': rcd[22]
    }

    # Execute the query
    conpg.execute(sql, params)

print("Records inserted successfully!")

Number of records to insert: 41
Records inserted successfully!

In [74]:
sql = '''
SELECT * FROM profits
ORDER BY name'''
profits = pd.read_sql(sql, conpg)
profits.head().style.format(format_dict)

In [76]:
conpg.commit()
conpg.close()

In [78]:
conmy.commit()
conmy.close()

In [80]:
conlt.commit()
conlt.close()

In [82]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-08 14:21:45