In [30]:
import pandas as pd
import os
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2025"
quarter = "1"
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-06-18 16:35:39

In [32]:
#today = date(2025, 6, 13)
today = date.today()
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-06-18'

In [34]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [36]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [38]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

### Comparison check between Ticker and Buy

In [49]:
sql = """
SELECT * FROM buy LIMIT 1"""
buy_df = pd.read_sql(sql, const)
buy_df.dtypes

name         object
date         object
volbuy      float64
price       float64
volsell     float64
volbal      float64
active        int64
dividend    float64
period       object
grade        object
dtype: object

In [51]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
buy = pd.read_sql(sql, const)
buy.shape

(28, 1)

In [45]:
sql = """
SELECT * 
FROM tickers
ORDER BY name"""
print(sql)
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].shape

SELECT *
FROM tickers
ORDER BY name

(396, 3)

In [47]:
tmp_df = buy.merge(tickers, on='name', how='inner')
tmp_df.dtypes

name                  object
id                     int64
full_name             object
sector                object
subsector             object
market                object
website               object
created_at    datetime64[ns]
updated_at    datetime64[ns]
dtype: object

In [22]:
sql = text('''
    UPDATE buy
    SET period = :period, grade = :grade
    WHERE name = :name
''')

In [24]:
params = {
    'period': '1',
    'grade': 'C1',
    'name': 'AH'
}

In [26]:
const.execute(sql, params)

In [164]:
params = {
    'period': '2',
    'grade': 'A1',
    'name': 'AIMIRT'
}

In [32]:
params = {
    'period': '1',
    'grade': 'A1',
    'name': 'AWC'
}

In [34]:
const.execute(sql, params)

In [64]:
params = {
    'period': '3',
    'grade': 'B3',
    'name': 'BCH'
}

In [72]:
params = {
    'period': '2',
    'grade': 'C1',
    'name': 'CPNREIT'
}

In [76]:
params = {
    'period': '2',
    'grade': 'C1',
    'name': 'DIF'
}

In [80]:
params = {
    'period': '2',
    'grade': 'C1',
    'name': 'GVREIT'
}

In [84]:
params = {
    'period': '3',
    'grade': 'C3',
    'name': 'IVL'
}

In [36]:
params = {
    'period': '1',
    'grade': 'A2',
    'name': 'JMART'
}

In [38]:
const.execute(sql, params)

In [92]:
params = {
    'period': '1',
    'grade': 'C3',
    'name': 'JMT'
}

In [40]:
const.execute(sql, params)

In [96]:
params = {
    'period': '4',
    'grade': 'C2',
    'name': 'KCE'
}

In [100]:
params = {
    'period': '2',
    'grade': 'A4',
    'name': 'MCS'
}

In [160]:
params = {
    'period': '2',
    'grade': 'A1',
    'name': 'NER'
}

In [46]:
params = {
    'period': '1',
    'grade': 'C2',
    'name': 'ORI'
}

In [108]:
params = {
    'period': '4',
    'grade': 'B2',
    'name': 'PTG'
}

In [112]:
params = {
    'period': '1',
    'grade': 'C2',
    'name': 'PTTGC'
}

In [116]:
params = {
    'period': '3',
    'grade': 'A3',
    'name': 'RCL'
}

In [120]:
params = {
    'period': '1',
    'grade': 'C2',
    'name': 'SCC'
}

In [124]:
params = {
    'period': '2',
    'grade': 'B1',
    'name': 'SENA'
}

In [28]:
params = {
    'period': '1',
    'grade': 'A3',
    'name': 'SINGER'
}

In [30]:
const.execute(sql, params)

In [132]:
params = {
    'period': '3',
    'grade': 'A4',
    'name': 'STA'
}

In [136]:
params = {
    'period': '3',
    'grade': 'A1',
    'name': 'SYNEX'
}

In [140]:
params = {
    'period': '2',
    'grade': 'C1',
    'name': 'TFFIF'
}

In [144]:
params = {
    'period': '4',
    'grade': 'C1',
    'name': 'TOA'
}

In [148]:
params = {
    'period': '3',
    'grade': 'A4',
    'name': 'TVO'
}

In [152]:
params = {
    'period': '2',
    'grade': 'B1',
    'name': 'WHAIR'
}

In [156]:
params = {
    'period': '2',
    'grade': 'C1',
    'name': 'WHART'
}

In [170]:
const.execute(sql, params)

In [11]:
tmp_df[['name','id']]

       name   id
0     3BBIF  241
1        AH   11
2    AIMIRT   13
3       AWC  668
4       BCH   55
5   CPNREIT  127
6       DIF  146
7    GVREIT  209
8       IVL  238
9     JMART  244
10      JMT  245
11      KCE  256
12      MCS  301
13      NER  649
14      ORI  347
15      PTG  387
16    PTTGC  391
17      RCL  401
18      SCC  433
19     SENA  443
20   SINGER  452
21      STA  489
22    SYNEX  504
23    TFFIF  655
24      TOA  562
25      TVO  594
26    WHAIR  217
27    WHART  630

In [53]:
sqlPrice = text('''
    UPDATE buy
    SET price = :price
    WHERE name = :name
''')

In [55]:
paramsPrice = {
    'price': 8.05,
    'name': 'WHAIR'
}

In [61]:
rowcount = const.execute(sqlPrice, paramsPrice)
print(rowcount)

<sqlalchemy.engine.cursor.CursorResult object at 0x000001F19519DA90>