In [1]:
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2025"
quarter = "2"
today = date.today()
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-08-15'

In [2]:
today = date(2025, 8, 14)
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-08-14'

### Restart and Run All

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()
format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [7]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 5', conlt).style.format(format_dict)

In [8]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"
ORDER BY name'''
sql = sql % (year, quarter, select_date)

df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.sample(4).style.format(format_dict)

In [9]:
df_epss_inp.shape

(5, 14)

In [10]:
df_epss_inp["yoy_gain"] = df_epss_inp["q_amt"] - df_epss_inp["y_amt"]
df_epss_inp["yoy_pct"]  = round(df_epss_inp["yoy_gain"] / abs(df_epss_inp["y_amt"]) * 100,2)
df_epss_inp["acc_gain"] = df_epss_inp["aq_amt"] - df_epss_inp["ay_amt"]
df_epss_inp["acc_pct"] = round(df_epss_inp["acc_gain"] / abs(df_epss_inp["ay_amt"]) * 100,2)
df_pct = df_epss_inp[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_pct.sample().style.format(format_dict)

In [11]:
criteria_1 = df_pct.q_amt > 110000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [12]:
criteria_2 = df_pct.y_amt > 100000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [13]:
criteria_3 = df_pct.yoy_pct > 10
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [14]:
criteria_4 = (df_pct.q_amt > df_pct.y_amt)
df_pct.loc[criteria_4, cols].style.format(format_dict)

In [15]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#df_pct_criteria = criteria_1 & criteria_2
df_pct.loc[df_pct_criteria, cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [16]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [17]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [18]:
names = df_epss_inp['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'BCH', 'IVL', 'ORI', 'SENA', 'TOA'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [20]:
sql = """SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss_stocks = pd.read_sql(sql, conlt)
epss_stocks.shape

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('BCH', 'IVL', 'ORI', 'SENA', 'TOA')
ORDER BY E.name, year DESC, quarter DESC

(240, 10)

### Delete from profits of older profit stocks

In [22]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(in_p))
print(sqlDel)
# Execute with parameters
rp = conlt.execute(sqlDel, {'quarter': quarter})
rp.rowcount

    DELETE FROM profits
    WHERE name IN ('BCH', 'IVL', 'ORI', 'SENA', 'TOA')
    AND quarter < :quarter

0

In [23]:
rp = conmy.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [24]:
rp = conpg.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [25]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['CBG', 'CKP', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC', 'SYNEX', 'TVO'], dtype='object', name='name')

In [26]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['CBG', 'CKP', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC', 'SYNEX', 'TVO'], dtype='object', name='name')

In [27]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['CBG', 'CKP', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC', 'SYNEX', 'TVO'], dtype='object', name='name')

### Portfolio that publish today

In [29]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

pg_tickers = pd.read_sql(sql, conpg)
pg_tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

SELECT *
FROM tickers
WHERE name IN ('BCH', 'IVL', 'ORI', 'SENA', 'TOA')
ORDER BY name

   name   id
0   BCH   55
1   IVL  238
2   ORI  347
3  SENA  443
4   TOA  562

In [30]:
sql = """
SELECT name 
FROM buy
"""
df_buy = pd.read_sql(sql, const)
df_buy.shape

(28, 1)

In [31]:
df_merge = pd.merge(pg_tickers, df_buy, on='name', how='inner')
df_merge

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,55,BCH,BANGKOK CHAIN HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,SET100 / SETWB,www.bangkokchainhospital.com,2018-04-22 04:29:36.442067,2019-11-19 07:13:52.520896
1,238,IVL,INDORAMA VENTURES PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET50 / SETTHSI,www.indoramaventures.com,2018-04-22 04:29:37.583373,2021-07-07 03:33:38.986666
2,347,ORI,ORIGIN PROPERTY PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD / SETTHSI,www.origin.co.th,2018-04-22 04:29:38.228072,2022-01-15 03:54:48.440923
3,443,SENA,SENADEVELOPMENT PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.sena.co.th,2018-04-22 04:29:38.825191,2018-04-22 04:29:38.825191
4,562,TOA,TOA PAINT (THAILAND) PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SETTHSI,www.toagroup.com,2018-04-22 04:29:39.494571,2021-07-07 03:33:39.241053

In [32]:
file_name = 'pub_stock.xlsx'
output_file = os.path.join(dat_path, file_name)
print(f"Output file : {output_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\pub_stock.xlsx

In [33]:
df_merge[['id','name','sector','market']].to_excel(output_file, index=False)

### Portfolio that already published

In [35]:
sql = """
SELECT * 
FROM buy"""
df_buy = pd.read_sql(sql, const)
df_buy.shape

(28, 10)

In [36]:
names = df_buy["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'STA', 'SINGER', 'PTG', 'PTT', 'MCS', 'DIF', 'JMT', 'WHART', 'BCH', 'SENA', 'TFFIF', '3BBIF', 'IVL', 'PTTGC', 'WHAIR', 'ORI', 'AH', 'GVREIT', 'NER', 'AIMIRT', 'TOA', 'AWC', 'SYNEX', 'SCC', 'RCL', 'JMART', 'CPNREIT', 'TVO'"

In [37]:
sql = """
SELECT *
FROM epss
WHERE publish_date >= '%s'
AND name IN (%s)
ORDER BY publish_date, name"""
sql = sql % (select_date, in_p)
df_epss_buy = pd.read_sql(sql, conlt)
df_epss_buy.style.format(format_dict)

### Comparison check between EPS and Buy

In [39]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
df_buy = pd.read_sql(sql, const)
df_buy.shape

(28, 1)

In [40]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
'''
sql = sql % (select_date)
print(sql)
df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-08-14'

(6, 14)

In [41]:
df_epss_buy = df_epss_inp.merge(df_buy, on='name', how='inner')
df_epss_buy.sort_values(by='name')

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
5,24532,BCH,2025,2,388219,277102,709531,595996,0.1600,0.1100,0.2800,0.2400,51,2025-08-15
1,24528,IVL,2025,2,-521012,-22995725,-1833092,-21862730,-0.1300,-4.1300,-0.4100,-3.9600,231,2025-08-14
4,24531,ORI,2025,2,319358,451700,430971,915792,0.1301,0.1841,0.1756,0.3732,339,2025-08-14
2,24529,SENA,2025,2,98835,74601,210208,185547,0.0685,0.0517,0.1457,0.1286,437,2025-08-14
3,24530,TFFIF,2025,3,515601,503917,1596389,1481623,0.0000,0.0000,0.0000,0.0000,686,2025-08-14
0,24527,TOA,2025,2,651794,476975,1384893,1281023,0.3400,0.2400,0.7100,0.6400,645,2025-08-14

In [42]:
df_epss_buy.dtypes

id                int64
name             object
year              int64
quarter           int64
q_amt             int64
y_amt             int64
aq_amt            int64
ay_amt            int64
q_eps           float64
y_eps           float64
aq_eps          float64
ay_eps          float64
ticker_id         int64
publish_date     object
dtype: object

In [43]:
u_df_epss_buy = df_epss_buy.merge(df_epss_inp, on='name', how='outer', indicator=True)
u_df_epss_buy.query("_merge == 'both'")

,id_x,name,year_x,quarter_x,q_amt_x,y_amt_x,aq_amt_x,ay_amt_x,q_eps_x,y_eps_x,...,y_amt_y,aq_amt_y,ay_amt_y,q_eps_y,y_eps_y,aq_eps_y,ay_eps_y,ticker_id_y,publish_date_y,_merge
0,24532,BCH,2025,2,388219,277102,709531,595996,0.1600,0.1100,...,277102,709531,595996,0.1600,0.1100,0.2800,0.2400,51,2025-08-15,both
1,24528,IVL,2025,2,-521012,-22995725,-1833092,-21862730,-0.1300,-4.1300,...,-22995725,-1833092,-21862730,-0.1300,-4.1300,-0.4100,-3.9600,231,2025-08-14,both
2,24531,ORI,2025,2,319358,451700,430971,915792,0.1301,0.1841,...,451700,430971,915792,0.1301,0.1841,0.1756,0.3732,339,2025-08-14,both
3,24529,SENA,2025,2,98835,74601,210208,185547,0.0685,0.0517,...,74601,210208,185547,0.0685,0.0517,0.1457,0.1286,437,2025-08-14,both
4,24530,TFFIF,2025,3,515601,503917,1596389,1481623,0.0000,0.0000,...,503917,1596389,1481623,0.0000,0.0000,0.0000,0.0000,686,2025-08-14,both
5,24527,TOA,2025,2,651794,476975,1384893,1281023,0.3400,0.2400,...,476975,1384893,1281023,0.3400,0.2400,0.7100,0.6400,645,2025-08-14,both

In [44]:
u_df_epss_buy.drop('_merge', axis=1, inplace=True)
u_df_epss_buy.dtypes

id_x                int64
name               object
year_x              int64
quarter_x           int64
q_amt_x             int64
y_amt_x             int64
aq_amt_x            int64
ay_amt_x            int64
q_eps_x           float64
y_eps_x           float64
aq_eps_x          float64
ay_eps_x          float64
ticker_id_x         int64
publish_date_x     object
id_y                int64
year_y              int64
quarter_y           int64
q_amt_y             int64
y_amt_y             int64
aq_amt_y            int64
ay_amt_y            int64
q_eps_y           float64
y_eps_y           float64
aq_eps_y          float64
ay_eps_y          float64
ticker_id_y         int64
publish_date_y     object
dtype: object

In [45]:
sql = 'SELECT name, id AS pg_ticker_id FROM tickers'
df_pg_tickers_id = pd.read_sql(sql, conpg)
df_pg_tickers_id.dtypes

name            object
pg_ticker_id     int64
dtype: object

In [46]:
df_epss_lt_pg_id = u_df_epss_buy.merge(df_pg_tickers_id, on='name', how='inner', indicator=True)
df_epss_lt_pg_id.dtypes

id_x                 int64
name                object
year_x               int64
quarter_x            int64
q_amt_x              int64
y_amt_x              int64
aq_amt_x             int64
ay_amt_x             int64
q_eps_x            float64
y_eps_x            float64
aq_eps_x           float64
ay_eps_x           float64
ticker_id_x          int64
publish_date_x      object
id_y                 int64
year_y               int64
quarter_y            int64
q_amt_y              int64
y_amt_y              int64
aq_amt_y             int64
ay_amt_y             int64
q_eps_y            float64
y_eps_y            float64
aq_eps_y           float64
ay_eps_y           float64
ticker_id_y          int64
publish_date_y      object
pg_ticker_id         int64
_merge            category
dtype: object

In [47]:
cols = 'name ticker_id_y pg_ticker_id'.split()
df_epss_lt_pg_id[cols]

    name  ticker_id_y  pg_ticker_id
0    BCH           51            55
1    IVL          231           238
2    ORI          339           347
3   SENA          437           443
4  TFFIF          686           655
5    TOA          645           562

In [48]:
#const.close()
#conpg.commit()
#conpg.close()  
#conmy.commit()
#conmy.close()
conlt.commit()
conlt.close()