In [1]:
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2025"
quarter = "2"
today = date.today()
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-08-02'

In [2]:
today = date(2025, 7, 19)
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-07-19'

### Restart and Run All

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()
format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [7]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 5', conlt).style.format(format_dict)

In [8]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"
ORDER BY name'''
sql = sql % (year, quarter, select_date)

epss = pd.read_sql(sql, conlt)
epss.sample(5).style.format(format_dict)

In [9]:
epss.shape

(17, 14)

In [10]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"]  = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100,2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)
df_pct = epss[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_pct.sample(5).style.format(format_dict)

In [11]:
criteria_1 = df_pct.q_amt > 110000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [12]:
criteria_2 = df_pct.y_amt > 100000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [13]:
criteria_3 = df_pct.yoy_pct > 10
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [14]:
criteria_4 = (df_pct.q_amt > df_pct.y_amt)
df_pct.loc[criteria_4, cols].style.format(format_dict)

In [15]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#df_pct_criteria = criteria_1 & criteria_2
df_pct.loc[df_pct_criteria, cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [16]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[True]).style.format(format_dict)

In [17]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [18]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'BH', 'DELTA', 'GLOBAL', 'HFT', 'HMPRO', 'KBANK', 'KKP', 'KTB', 'LHFG', 'MINT', 'MST', 'PSL', 'PTTEP', 'SCB', 'SCC', 'SCGP', 'SNC'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [20]:
sql = """SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.shape

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('BH', 'DELTA', 'GLOBAL', 'HFT', 'HMPRO', 'KBANK', 'KKP', 'KTB', 'LHFG', 'MINT', 'MST', 'PSL', 'PTTEP', 'SCB', 'SCC', 'SCGP', 'SNC')
ORDER BY E.name, year DESC, quarter DESC

(877, 10)

### Delete from profits of older profit stocks

In [22]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(in_p))
print(sqlDel)
# Execute with parameters
rp = conlt.execute(sqlDel, {'quarter': quarter})
rp.rowcount

    DELETE FROM profits
    WHERE name IN ('BH', 'DELTA', 'GLOBAL', 'HFT', 'HMPRO', 'KBANK', 'KKP', 'KTB', 'LHFG', 'MINT', 'MST', 'PSL', 'PTTEP', 'SCB', 'SCC', 'SCGP', 'SNC')
    AND quarter < :quarter

0

In [23]:
rp = conmy.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [24]:
rp = conpg.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [25]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index([], dtype='object', name='name')

In [26]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index([], dtype='object', name='name')

In [27]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index([], dtype='object', name='name')

### Portfolio that publish today

In [29]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('BH', 'DELTA', 'GLOBAL', 'HFT', 'HMPRO', 'KBANK', 'KKP', 'KTB', 'LHFG', 'MINT', 'MST', 'PSL', 'PTTEP', 'SCB', 'SCC', 'SCGP', 'SNC')
ORDER BY name

In [30]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

      name   id
0       BH   65
1    DELTA  144
2   GLOBAL  198
3      HFT  213
4    HMPRO  214
5    KBANK  253
6      KKP  262
7      KTB  265
8     LHFG  276
9     MINT  309
10     MST  298
11     PSL  711
12   PTTEP  390
13     SCB  432
14     SCC  433
15    SCGP  684
16     SNC  465

In [31]:
sql = """
SELECT name 
FROM buy
"""
buys = pd.read_sql(sql, const)
buys.shape

(27, 1)

In [32]:
df_merge = pd.merge(tickers, buys, on='name', how='inner')
df_merge

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,433,SCC,THE SIAM CEMENT PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET50 / SETCLMV / SETHD / SETTHSI,www.scg.com,2018-04-22 04:29:38.768905,2019-11-19 07:13:53.911910

In [33]:
file_name = 'pub_stock.xlsx'
output_file = os.path.join(dat_path, file_name)
print(f"Output file : {output_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\pub_stock.xlsx

In [34]:
df_merge[['id','name','sector','market']].to_excel(output_file, index=False)

### Portfolio that already published

In [36]:
sql = """
SELECT * 
FROM buy"""
buys = pd.read_sql(sql, const)
buys.shape

(27, 10)

In [37]:
names = buys["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'STA', 'SINGER', 'PTG', 'MCS', 'DIF', 'JMT', 'WHART', 'BCH', 'SENA', 'TFFIF', '3BBIF', 'IVL', 'PTTGC', 'WHAIR', 'ORI', 'AH', 'GVREIT', 'NER', 'AIMIRT', 'TOA', 'AWC', 'SYNEX', 'SCC', 'RCL', 'JMART', 'CPNREIT', 'TVO'"

In [38]:
sql = """
SELECT *
FROM epss
WHERE publish_date >= '%s'
AND name IN (%s)
ORDER BY publish_date, name"""
sql = sql % (select_date, in_p)
df_tmp = pd.read_sql(sql, conlt)
df_tmp.style.format(format_dict)

### Not yet published

In [40]:
sql = """
SELECT name
FROM epss
WHERE publish_date >= '%s'
"""
sql = sql % (select_date)
epss = pd.read_sql(sql, conlt)
epss.shape

(18, 1)

In [41]:
names = epss["name"].values.tolist()
names

['STANLY',
 'DELTA',
 'PTTEP',
 'LHFG',
 'KBANK',
 'SCB',
 'KKP',
 'KTB',
 'SCC',
 'SNC',
 'MST',
 'SCGP',
 'HMPRO',
 'GLOBAL',
 'BH',
 'HFT',
 'PSL',
 'MINT']

In [42]:
names = epss["name"].values.tolist()

if names:
    sql = text("""
    SELECT *
    FROM buy
    WHERE name NOT IN :names
    ORDER BY name
    """)
    df_tmp = pd.read_sql(sql, const, params={'names': tuple(names)})
else:
    sql = text("""
    SELECT *
    FROM buy
    ORDER BY name
    """)
    df_tmp = pd.read_sql(sql, const)

df_tmp.shape

(26, 10)

In [43]:
df_tmp.sample(5)

,name,date,volbuy,price,volsell,volbal,active,dividend,period,grade
3,AWC,2023-06-15,9000.0,4.96,0.0,0.0,1,0.0750,1,A1
25,WHART,2022-01-05,25000.0,11.60,0.0,0.0,1,0.7133,2,C1
7,GVREIT,2022-08-24,75000.0,7.64,0.0,0.0,1,0.7989,2,C1
16,RCL,2021-11-08,27000.0,38.75,0.0,0.0,1,2.5000,3,A3
8,IVL,2022-08-29,7200.0,40.00,0.0,0.0,1,0.7000,3,C3

### Comparison check between EPS and Buy

In [45]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
buy = pd.read_sql(sql, const)
buy.shape

(27, 1)

In [46]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
'''
sql = sql % (select_date)
print(sql)
tdy_df = pd.read_sql(sql, conlt)
tdy_df.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-07-19'

(18, 14)

In [47]:
tdy_buy_df = tdy_df.merge(buy, on='name', how='inner')
tdy_buy_df.sort_values(by='name')

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,24446,SCC,2025,2,17337286,3707928,18436134,6132786,14.45,3.09,15.36,5.11,427,2025-07-30

In [48]:
tdy_buy_df.shape

(1, 14)

In [49]:
u_tdy_buy_df = buy.merge(tdy_df, on='name', how='outer', indicator=True)
u_tdy_buy_df.query("_merge == 'both'").shape

(1, 15)

In [50]:
const.close()
conpg.commit()
conpg.close()
conmy.commit()
conmy.close()
conlt.commit()
conlt.close()