In [1]:
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2025"
quarter = "2"
today = date.today()
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-08-09'

In [3]:
today = date(2025, 8, 2)
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-08-02'

### Restart and Run All

In [6]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [8]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()
format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [12]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 5', conlt).style.format(format_dict)

In [14]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"
ORDER BY name'''
sql = sql % (year, quarter, select_date)

epss = pd.read_sql(sql, conlt)
epss.sample(5).style.format(format_dict)

In [16]:
epss.shape

(60, 14)

In [18]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"]  = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100,2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)
df_pct = epss[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_pct.sample(5).style.format(format_dict)

In [20]:
criteria_1 = df_pct.q_amt > 110000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [22]:
criteria_2 = df_pct.y_amt > 100000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [24]:
criteria_3 = df_pct.yoy_pct > 10
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [26]:
criteria_4 = (df_pct.q_amt > df_pct.y_amt)
df_pct.loc[criteria_4, cols].style.format(format_dict)

In [28]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#df_pct_criteria = criteria_1 & criteria_2
df_pct.loc[df_pct_criteria, cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [32]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [34]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [36]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'3BBIF', 'AIE', 'AIMIRT', 'AIT', 'ASK', 'ASW', 'AWC', 'BA', 'BCP', 'BCPG', 'BE8', 'BEC', 'BKIH', 'CBG', 'CKP', 'CPAXT', 'DCC', 'DOHOME', 'DRT', 'EGATIF', 'GC', 'GGC', 'GPSC', 'GULF', 'III', 'INOX', 'IRPC', 'LANNA', 'LPH', 'MAJOR', 'MBAX', 'MTC', 'NER', 'PCSGH', 'PDG', 'QH', 'RBF', 'RCL', 'S11', 'SIS', 'SMPC', 'SPRC', 'STA', 'STGT', 'SUPEREIF', 'SVI', 'TCAP', 'TFG', 'THANI', 'TIDLOR', 'TPIPP', 'TRUE', 'TTLPF', 'TU', 'TVO', 'WHA', 'WHAIR', 'WHART', 'WHAUP', 'WORK'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [39]:
sql = """SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.shape

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('3BBIF', 'AIE', 'AIMIRT', 'AIT', 'ASK', 'ASW', 'AWC', 'BA', 'BCP', 'BCPG', 'BE8', 'BEC', 'BKIH', 'CBG', 'CKP', 'CPAXT', 'DCC', 'DOHOME', 'DRT', 'EGATIF', 'GC', 'GGC', 'GPSC', 'GULF', 'III', 'INOX', 'IRPC', 'LANNA', 'LPH', 'MAJOR', 'MBAX', 'MTC', 'NER', 'PCSGH', 'PDG', 'QH', 'RBF', 'RCL', 'S11', 'SIS', 'SMPC', 'SPRC', 'STA', 'STGT', 'SUPEREIF', 'SVI', 'TCAP', 'TFG', 'THANI', 'TIDLOR', 'TPIPP', 'TRUE', 'TTLPF', 'TU', 'TVO', 'WHA', 'WHAIR', 'WHART', 'WHAUP', 'WORK')
ORDER BY E.name, year DESC, quarter DESC

(2380, 10)

### Delete from profits of older profit stocks

In [42]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(in_p))
print(sqlDel)
# Execute with parameters
rp = conlt.execute(sqlDel, {'quarter': quarter})
rp.rowcount

    DELETE FROM profits
    WHERE name IN ('3BBIF', 'AIE', 'AIMIRT', 'AIT', 'ASK', 'ASW', 'AWC', 'BA', 'BCP', 'BCPG', 'BE8', 'BEC', 'BKIH', 'CBG', 'CKP', 'CPAXT', 'DCC', 'DOHOME', 'DRT', 'EGATIF', 'GC', 'GGC', 'GPSC', 'GULF', 'III', 'INOX', 'IRPC', 'LANNA', 'LPH', 'MAJOR', 'MBAX', 'MTC', 'NER', 'PCSGH', 'PDG', 'QH', 'RBF', 'RCL', 'S11', 'SIS', 'SMPC', 'SPRC', 'STA', 'STGT', 'SUPEREIF', 'SVI', 'TCAP', 'TFG', 'THANI', 'TIDLOR', 'TPIPP', 'TRUE', 'TTLPF', 'TU', 'TVO', 'WHA', 'WHAIR', 'WHART', 'WHAUP', 'WORK')
    AND quarter < :quarter

0

In [44]:
rp = conmy.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [46]:
rp = conpg.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [48]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['SCC'], dtype='object', name='name')

In [50]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['2778'], dtype='object', name='name')

In [52]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['SCC'], dtype='object', name='name')

### Portfolio that publish today

In [55]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('3BBIF', 'AIE', 'AIMIRT', 'AIT', 'ASK', 'ASW', 'AWC', 'BA', 'BCP', 'BCPG', 'BE8', 'BEC', 'BKIH', 'CBG', 'CKP', 'CPAXT', 'DCC', 'DOHOME', 'DRT', 'EGATIF', 'GC', 'GGC', 'GPSC', 'GULF', 'III', 'INOX', 'IRPC', 'LANNA', 'LPH', 'MAJOR', 'MBAX', 'MTC', 'NER', 'PCSGH', 'PDG', 'QH', 'RBF', 'RCL', 'S11', 'SIS', 'SMPC', 'SPRC', 'STA', 'STGT', 'SUPEREIF', 'SVI', 'TCAP', 'TFG', 'THANI', 'TIDLOR', 'TPIPP', 'TRUE', 'TTLPF', 'TU', 'TVO', 'WHA', 'WHAIR', 'WHART', 'WHAUP', 'WORK')
ORDER BY name

In [57]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

        name   id
0      3BBIF  241
1        AIE  691
2     AIMIRT   13
3        AIT   14
4        ASK   42
5        ASW  705
6        AWC  668
7         BA   49
8        BCP   56
9       BCPG   57
10       BE8  721
11       BEC   60
12      BKIH   71
13       CBG   90
14       CKP  110
15     CPAXT  291
16       DCC  140
17    DOHOME  670
18       DRT  149
19    EGATIF  160
20        GC  188
21       GGC  193
22      GPSC  202
23      GULF  207
24       III  226
25      INOX  643
26      IRPC  234
27     LANNA  272
28       LPH  283
29     MAJOR  290
30      MBAX  695
31       MTC  323
32       NER  649
33     PCSGH  353
34       PDG  354
35        QH  394
36       RBF  672
37       RCL  401
38       S11  418
39       SIS  455
40      SMPC  463
41      SPRC  478
42       STA  489
43      STGT  685
44  SUPEREIF  675
45       SVI  500
46      TCAP  512
47       TFG  521
48     THANI  528
49    TIDLOR  696
50     TPIPP  569
51      TRUE  580
52     TTLPF  676
53        TU  591
54       TVO  594
55       WHA  628
56     WHAIR  217
57     WHART  630
58     WHAUP  631
59      WORK  636

In [59]:
sql = """
SELECT name 
FROM buy
"""
buys = pd.read_sql(sql, const)
buys.shape

(28, 1)

In [61]:
df_merge = pd.merge(tickers, buys, on='name', how='inner')
df_merge

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,241,3BBIF,JASMINE BROADBAND INTERNET INFRASTRUCTURE FUND,Technology,Information & Communication Technology,SET,www.jas-if.com,2018-04-22 04:29:37.600684,2019-03-03 03:45:01.621634
1,13,AIMIRT,AIM INDUSTRIAL GROWTH FREEHOLD AND LEASEHOLD R...,Property & Construction,Property Fund & REITs,SET,www.aimreit.com,2018-04-22 04:29:36.146073,2018-04-22 04:29:36.146073
2,668,AWC,ASSET WORLD CORP PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET50 / SETTHSI,https://www.assetworldcorp-th.com,2019-11-19 07:13:52.454317,2022-01-15 03:54:48.241937
3,649,NER,NORTH EAST RUBBER PUBLIC COMPANY LIMITED,Agro & Food Industry,Agribusiness,sSET,www.nerubber.com,2019-03-03 03:45:01.837764,2019-11-19 07:13:53.611284
4,401,RCL,REGIONAL CONTAINER LINES PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,SET100 / SETCLMV,www.rclgroup.com,2018-04-22 04:29:38.554599,2022-01-15 03:54:48.472788
5,489,STA,SRI TRANG AGRO-INDUSTRY PUBLIC COMPANY LIMITED,Agro & Food Industry,Agribusiness,SET100 / SETTHSI / SETWB,www.sritranggroup.com,2018-04-22 04:29:39.085589,2022-01-15 03:54:48.525517
6,594,TVO,THAI VEGETABLE OIL PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET / SETTHSI / SETWB,www.tvothai.com,2018-04-22 04:29:39.677962,2019-11-19 07:13:54.470342
7,217,WHAIR,HEMARAJ LEASEHOLD REAL ESTATE INVESTMENT TRUST,Property & Construction,Property Fund & REITs,SET,www.hemarajreit.com,2018-04-22 04:29:37.460955,2018-04-22 04:29:37.460955
8,630,WHART,WHA PREMIUM GROWTH FREEHOLD AND LEASEHOLD REAL...,Property & Construction,Property Fund & REITs,SET,www.whareit.com,2018-04-22 04:29:39.879467,2018-04-22 04:29:39.879467

In [63]:
file_name = 'pub_stock.xlsx'
output_file = os.path.join(dat_path, file_name)
print(f"Output file : {output_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\pub_stock.xlsx

In [65]:
df_merge[['id','name','sector','market']].to_excel(output_file, index=False)

### Portfolio that already published

In [68]:
sql = """
SELECT * 
FROM buy"""
buys = pd.read_sql(sql, const)
buys.shape

(28, 10)

In [70]:
names = buys["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'STA', 'SINGER', 'PTG', 'PTT', 'MCS', 'DIF', 'JMT', 'WHART', 'BCH', 'SENA', 'TFFIF', '3BBIF', 'IVL', 'PTTGC', 'WHAIR', 'ORI', 'AH', 'GVREIT', 'NER', 'AIMIRT', 'TOA', 'AWC', 'SYNEX', 'SCC', 'RCL', 'JMART', 'CPNREIT', 'TVO'"

In [72]:
sql = """
SELECT *
FROM epss
WHERE publish_date >= '%s'
AND name IN (%s)
ORDER BY publish_date, name"""
sql = sql % (select_date, in_p)
df_tmp = pd.read_sql(sql, conlt)
df_tmp.style.format(format_dict)

### Not yet published

In [75]:
sql = """
SELECT name
FROM epss
WHERE publish_date >= '%s'
"""
sql = sql % (select_date)
epss = pd.read_sql(sql, conlt)
epss.shape

(61, 1)

In [77]:
names = epss["name"].values.tolist()
names

['STA',
 'AWC',
 'RCL',
 'TVO',
 'NER',
 'AIMIRT',
 '3BBIF',
 'WHART',
 'WHAIR',
 'RBF',
 'TCAP',
 'QH',
 'TFG',
 'BE8',
 'PCSGH',
 'TPIPP',
 'MAJOR',
 'S11',
 'GULF',
 'GGC',
 'SPRC',
 'ASK',
 'STGT',
 'WHAUP',
 'CBG',
 'BKIH',
 'BEC',
 'SIS',
 'WHA',
 'INOX',
 'LPH',
 'CKP',
 'EGATIF',
 'SUPEREIF',
 'AIE',
 'TTLPF',
 'BA',
 'ASW',
 'SMPC',
 'CPAXT',
 'WORK',
 'AIT',
 'KYE',
 'BCP',
 'TIDLOR',
 'GC',
 'DOHOME',
 'IRPC',
 'BCPG',
 'SVI',
 'GPSC',
 'PDG',
 'THANI',
 'DRT',
 'III',
 'MTC',
 'MBAX',
 'TRUE',
 'DCC',
 'LANNA',
 'TU']

In [79]:
names = epss["name"].values.tolist()

if names:
    sql = text("""
    SELECT *
    FROM buy
    WHERE name NOT IN :names
    ORDER BY name
    """)
    df_tmp = pd.read_sql(sql, const, params={'names': tuple(names)})
else:
    sql = text("""
    SELECT *
    FROM buy
    ORDER BY name
    """)
    df_tmp = pd.read_sql(sql, const)

df_tmp.shape

(19, 10)

In [81]:
df_tmp.sample(5)

,name,date,volbuy,price,volsell,volbal,active,dividend,period,grade
1,BCH,2021-09-07,4000.0,21.7,0.0,0.0,1,0.4000,3,B3
17,TFFIF,2023-07-06,20000.0,7.2,0.0,0.0,1,0.4596,2,C1
6,JMART,2023-01-20,6800.0,33.0,0.0,0.0,1,0.4700,1,A2
9,ORI,2022-04-07,50000.0,9.0,0.0,0.0,1,0.0210,1,C2
2,CPNREIT,2022-08-16,55000.0,18.0,0.0,0.0,1,0.5705,2,C1

### Comparison check between EPS and Buy

In [84]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
buy = pd.read_sql(sql, const)
buy.shape

(28, 1)

In [86]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
'''
sql = sql % (select_date)
print(sql)
tdy_df = pd.read_sql(sql, conlt)
tdy_df.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-08-02'

(61, 14)

In [88]:
tdy_buy_df = tdy_df.merge(buy, on='name', how='inner')
tdy_buy_df.sort_values(by='name')

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
6,24462,3BBIF,2025,2,2907279,-305163,4214537,784167,0.0000,0.0000,0.0000,0.0000,234,2025-08-06
5,24461,AIMIRT,2025,2,173311,336512,335356,456942,0.0000,0.0000,0.0000,0.0000,669,2025-08-07
1,24457,AWC,2025,2,1404480,1247183,3373807,2851744,0.0439,0.0390,0.1054,0.0891,699,2025-08-08
4,24460,NER,2025,2,553998,478748,1162834,932363,0.2998,0.2591,0.6293,0.5046,680,2025-08-08
2,24458,RCL,2025,2,2004879,1148367,4062964,1760899,2.4200,1.3900,4.9000,2.1200,396,2025-08-08
0,24456,STA,2025,2,-786796,628444,-98106,298741,-0.5100,0.4100,-0.0600,0.1900,481,2025-08-08
3,24459,TVO,2025,2,647618,550247,1181233,858722,0.7300,0.6200,1.3300,0.9700,585,2025-08-08
8,24464,WHAIR,2025,2,171802,143146,417520,287479,0.0000,0.0000,0.0000,0.0000,211,2025-08-05
7,24463,WHART,2025,2,594099,400815,1260006,1064448,0.0000,0.0000,0.0000,0.0000,622,2025-08-06

In [90]:
tdy_buy_df.shape

(9, 14)

In [92]:
u_tdy_buy_df = buy.merge(tdy_df, on='name', how='outer', indicator=True)
u_tdy_buy_df.query("_merge == 'both'").shape

(9, 15)

In [94]:
const.close()
conpg.commit()
conpg.close()
conmy.commit()
conmy.close()
conlt.commit()
conlt.close()