In [1]:
import os
import pandas as pd
from datetime import date, datetime, timedelta
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2025"
quarter = "2"

current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-08-23 23:27:52

In [2]:
select_date = date(2025, 8, 13)
select_date = select_date.strftime("%Y-%m-%d")
select_date

'2025-08-13'

### Tables in the process

In [6]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [8]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()
format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [12]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"
ORDER BY name'''
sql = sql % (year, quarter, select_date)

df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.tail().style.format(format_dict)

In [14]:
df_epss_inp.shape

(115, 14)

In [16]:
df_epss_inp["yoy_gain"] = df_epss_inp["q_amt"] - df_epss_inp["y_amt"]
df_epss_inp["yoy_pct"]  = round(df_epss_inp["yoy_gain"] / abs(df_epss_inp["y_amt"]) * 100,2)
df_epss_inp["acc_gain"] = df_epss_inp["aq_amt"] - df_epss_inp["ay_amt"]
df_epss_inp["acc_pct"] = round(df_epss_inp["acc_gain"] / abs(df_epss_inp["ay_amt"]) * 100,2)
df_aggr = df_epss_inp[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_aggr.tail().style.format(format_dict)

In [18]:
criteria_1 = df_aggr.q_amt > 110000
df_aggr.loc[criteria_1,cols].style.format(format_dict)

In [20]:
criteria_2 = df_aggr.y_amt > 100000
df_aggr.loc[criteria_2, cols].style.format(format_dict)

In [22]:
criteria_3 = df_aggr.yoy_pct > 10
df_aggr.loc[criteria_3, cols].style.format(format_dict)

In [24]:
criteria_4 = (df_aggr.q_amt > df_aggr.y_amt)
df_aggr.loc[criteria_4, cols].style.format(format_dict)

In [26]:
df_aggr_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
df_aggr.loc[df_aggr_criteria, cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [28]:
df_aggr[df_aggr_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [30]:
df_aggr[df_aggr_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [32]:
names = df_epss_inp['name']
portfolio = ", ".join(map(lambda name: "'%s'" % name, names))
portfolio

"'ACE', 'ADVANC', 'AH', 'AJ', 'AMATA', 'ANAN', 'AP', 'ASIAN', 'ASP', 'BAM', 'BANPU', 'BCH', 'BDMS', 'BEAUTY', 'BEM', 'BGC', 'BGRIM', 'BJC', 'BLA', 'BPP', 'CENTEL', 'CHG', 'CK', 'COM7', 'CPALL', 'CPF', 'CPN', 'CPNCG', 'CPNREIT', 'CRC', 'DCON', 'DIF', 'EA', 'EASTW', 'EGCO', 'FORTH', 'FSMART', 'GFPT', 'GRAMMY', 'GUNKUL', 'HANA', 'HTC', 'ICHI', 'ILM', 'IMH', 'IP', 'IVL', 'JMART', 'JMT', 'KCE', 'KEX', 'LALIN', 'LH', 'LIT', 'LPN', 'M', 'MCS', 'MEGA', 'NOBLE', 'ONEE', 'OR', 'ORI', 'OSP', 'PAP', 'PLANB', 'POPF', 'PREB', 'PRM', 'PSH', 'PTG', 'PTT', 'PTTGC', 'RATCH', 'RJH', 'ROJNA', 'RS', 'SAPPE', 'SAT', 'SAWAD', 'SC', 'SCCC', 'SENA', 'SGP', 'SINGER', 'SIRI', 'SJWD', 'SKN', 'SKR', 'SPALI', 'SPC', 'SPCG', 'SPRIME', 'SSP', 'SUPER', 'SYNEX', 'TASCO', 'THG', 'TIPCO', 'TIPH', 'TK', 'TKN', 'TKS', 'TMT', 'TOA', 'TOP', 'TPIPL', 'TQM', 'TSE', 'TTA', 'TTW', 'TYCN', 'UTP', 'VIBHA', 'VNG', 'WICE'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [35]:
sql = """
    SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
    FROM epss E JOIN stocks S ON E.name = S.name 
    WHERE E.name IN ({})
    ORDER BY E.name, year DESC, quarter DESC 
""".format(portfolio)
print(sql)

epss_stocks = pd.read_sql(sql, conlt)
epss_stocks.shape

    SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
    FROM epss E JOIN stocks S ON E.name = S.name
    WHERE E.name IN ('ACE', 'ADVANC', 'AH', 'AJ', 'AMATA', 'ANAN', 'AP', 'ASIAN', 'ASP', 'BAM', 'BANPU', 'BCH', 'BDMS', 'BEAUTY', 'BEM', 'BGC', 'BGRIM', 'BJC', 'BLA', 'BPP', 'CENTEL', 'CHG', 'CK', 'COM7', 'CPALL', 'CPF', 'CPN', 'CPNCG', 'CPNREIT', 'CRC', 'DCON', 'DIF', 'EA', 'EASTW', 'EGCO', 'FORTH', 'FSMART', 'GFPT', 'GRAMMY', 'GUNKUL', 'HANA', 'HTC', 'ICHI', 'ILM', 'IMH', 'IP', 'IVL', 'JMART', 'JMT', 'KCE', 'KEX', 'LALIN', 'LH', 'LIT', 'LPN', 'M', 'MCS', 'MEGA', 'NOBLE', 'ONEE', 'OR', 'ORI', 'OSP', 'PAP', 'PLANB', 'POPF', 'PREB', 'PRM', 'PSH', 'PTG', 'PTT', 'PTTGC', 'RATCH', 'RJH', 'ROJNA', 'RS', 'SAPPE', 'SAT', 'SAWAD', 'SC', 'SCCC', 'SENA', 'SGP', 'SINGER', 'SIRI', 'SJWD', 'SKN', 'SKR', 'SPALI', 'SPC', 'SPCG', 'SPRIME', 'SSP', 'SUPER', 'SYNEX', 'TASCO', 'THG', 'TIPCO', 'TIPH', 'TK', 'TKN', 'TKS', 'TMT', 'TOA', 'TOP', 'TPIPL', 'TQM', 'TSE', 'TTA', 'TTW', 'TYCN', 'UTP', 'VIBHA', 'VNG', 'WICE')
    ORDER BY E.name, year DESC, quarter DESC

(5150, 10)

### Delete from profits of older profit stocks

In [38]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(portfolio))
print(sqlDel)
# Execute with parameters
result = conlt.execute(sqlDel, {'quarter': quarter})
result.rowcount

    DELETE FROM profits
    WHERE name IN ('ACE', 'ADVANC', 'AH', 'AJ', 'AMATA', 'ANAN', 'AP', 'ASIAN', 'ASP', 'BAM', 'BANPU', 'BCH', 'BDMS', 'BEAUTY', 'BEM', 'BGC', 'BGRIM', 'BJC', 'BLA', 'BPP', 'CENTEL', 'CHG', 'CK', 'COM7', 'CPALL', 'CPF', 'CPN', 'CPNCG', 'CPNREIT', 'CRC', 'DCON', 'DIF', 'EA', 'EASTW', 'EGCO', 'FORTH', 'FSMART', 'GFPT', 'GRAMMY', 'GUNKUL', 'HANA', 'HTC', 'ICHI', 'ILM', 'IMH', 'IP', 'IVL', 'JMART', 'JMT', 'KCE', 'KEX', 'LALIN', 'LH', 'LIT', 'LPN', 'M', 'MCS', 'MEGA', 'NOBLE', 'ONEE', 'OR', 'ORI', 'OSP', 'PAP', 'PLANB', 'POPF', 'PREB', 'PRM', 'PSH', 'PTG', 'PTT', 'PTTGC', 'RATCH', 'RJH', 'ROJNA', 'RS', 'SAPPE', 'SAT', 'SAWAD', 'SC', 'SCCC', 'SENA', 'SGP', 'SINGER', 'SIRI', 'SJWD', 'SKN', 'SKR', 'SPALI', 'SPC', 'SPCG', 'SPRIME', 'SSP', 'SUPER', 'SYNEX', 'TASCO', 'THG', 'TIPCO', 'TIPH', 'TK', 'TKN', 'TKS', 'TMT', 'TOA', 'TOP', 'TPIPL', 'TQM', 'TSE', 'TTA', 'TTW', 'TYCN', 'UTP', 'VIBHA', 'VNG', 'WICE')
    AND quarter < :quarter

0

In [40]:
result = conmy.execute(sqlDel, {'quarter': quarter})
result.rowcount

0

In [42]:
result = conpg.execute(sqlDel, {'quarter': quarter})
result.rowcount

0

In [44]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['CBG', 'CK', 'CKP', 'FPT', 'GPSC', 'GULF', 'MTC', 'PLANB', 'SCC',
       'SMPC', 'SYNEX', 'TVO'],
      dtype='object', name='name')

In [46]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['2811', 'CBG', 'CK', 'CKP', 'FPT', 'GPSC', 'GULF', 'MTC', 'PLANB',
       'SCC', 'SMPC', 'SYNEX', 'TVO'],
      dtype='object', name='name')

In [48]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['CBG', 'CK', 'CKP', 'FPT', 'GPSC', 'GULF', 'MTC', 'PLANB', 'SCC',
       'SMPC', 'SYNEX', 'TVO'],
      dtype='object', name='name')

### Portfolio that publish today

In [51]:
sql = """
    SELECT * 
    FROM tickers
    WHERE name IN ({})
    ORDER BY name
""".format(portfolio)
print(sql)

pg_tickers = pd.read_sql(sql, conpg)
pg_tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

    SELECT *
    FROM tickers
    WHERE name IN ('ACE', 'ADVANC', 'AH', 'AJ', 'AMATA', 'ANAN', 'AP', 'ASIAN', 'ASP', 'BAM', 'BANPU', 'BCH', 'BDMS', 'BEAUTY', 'BEM', 'BGC', 'BGRIM', 'BJC', 'BLA', 'BPP', 'CENTEL', 'CHG', 'CK', 'COM7', 'CPALL', 'CPF', 'CPN', 'CPNCG', 'CPNREIT', 'CRC', 'DCON', 'DIF', 'EA', 'EASTW', 'EGCO', 'FORTH', 'FSMART', 'GFPT', 'GRAMMY', 'GUNKUL', 'HANA', 'HTC', 'ICHI', 'ILM', 'IMH', 'IP', 'IVL', 'JMART', 'JMT', 'KCE', 'KEX', 'LALIN', 'LH', 'LIT', 'LPN', 'M', 'MCS', 'MEGA', 'NOBLE', 'ONEE', 'OR', 'ORI', 'OSP', 'PAP', 'PLANB', 'POPF', 'PREB', 'PRM', 'PSH', 'PTG', 'PTT', 'PTTGC', 'RATCH', 'RJH', 'ROJNA', 'RS', 'SAPPE', 'SAT', 'SAWAD', 'SC', 'SCCC', 'SENA', 'SGP', 'SINGER', 'SIRI', 'SJWD', 'SKN', 'SKR', 'SPALI', 'SPC', 'SPCG', 'SPRIME', 'SSP', 'SUPER', 'SYNEX', 'TASCO', 'THG', 'TIPCO', 'TIPH', 'TK', 'TKN', 'TKS', 'TMT', 'TOA', 'TOP', 'TPIPL', 'TQM', 'TSE', 'TTA', 'TTW', 'TYCN', 'UTP', 'VIBHA', 'VNG', 'WICE')
    ORDER BY name

       name   id
0       ACE  667
1    ADVANC    8
2        AH   11
3        AJ   15
4     AMATA   24
..      ...  ...
110    TYCN  714
111     UTP  613
112   VIBHA  619
113     VNG  703
114    WICE  632

[115 rows x 2 columns]

In [53]:
sql = """
    SELECT name 
    FROM buy
"""
df_buy = pd.read_sql(sql, const)
df_buy.shape

(29, 1)

In [55]:
df_merge = pd.merge(pg_tickers, df_buy, on='name', how='inner')
df_merge

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,11,AH,AAPICO HITECH PUBLIC COMPANY LIMITED,Industrials,Automotive,sSET / SETTHSI,www.aapico.com,2018-04-22 04:29:36.134601,2021-07-07 03:33:38.806441
1,55,BCH,BANGKOK CHAIN HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,SET100 / SETWB,www.bangkokchainhospital.com,2018-04-22 04:29:36.442067,2019-11-19 07:13:52.520896
2,121,CPF,CHAROEN POKPHAND FOODS PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,www.cpfworldwide.com,2018-04-22 04:29:36.867977,2021-07-07 03:33:38.893396
3,127,CPNREIT,CPN RETAIL GROWTH LEASEHOLD REIT,Property & Construction,Property Fund & REITs,SET,www.cpnreit.com,2018-04-22 04:29:36.900508,2018-04-22 04:29:36.900508
4,146,DIF,DIGITAL TELECOMMUNICATIONS INFRASTRUCTURE FUND,Technology,Information & Communication Technology,SET,www.digital-tif.com,2018-04-22 04:29:37.030748,2018-04-22 04:29:37.030748
5,238,IVL,INDORAMA VENTURES PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET50 / SETTHSI,www.indoramaventures.com,2018-04-22 04:29:37.583373,2021-07-07 03:33:38.986666
6,244,JMART,JAY MART PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET50,www.jaymart.co.th,2018-04-22 04:29:37.616395,2021-01-26 15:42:35.221412
7,245,JMT,JMT NETWORK SERVICES PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET50,www.jmtnetwork.co.th,2018-04-22 04:29:37.621811,2020-07-06 13:23:59.311892
8,301,MCS,M.C.S.STEEL PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,sSET,www.mcssteel.com,2018-04-22 04:29:37.957104,2021-08-22 18:22:07.463483
9,347,ORI,ORIGIN PROPERTY PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD / SETTHSI,www.origin.co.th,2018-04-22 04:29:38.228072,2022-01-15 03:54:48.440923
10,387,PTG,PTG ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETHD / SETTHSI,www.ptgenergy.co.th,2018-04-22 04:29:38.474708,2022-01-15 03:54:48.464340
11,389,PTT,PTT PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETHD / SETTHSI,www.pttplc.com,2018-04-22 04:29:38.484745,2019-11-19 07:13:53.785316
12,391,PTTGC,PTT GLOBAL CHEMICAL PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET50 / SETCLMV / SETTHSI,www.pttgcgroup.com,2018-04-22 04:29:38.496779,2021-07-07 03:33:39.100623
13,443,SENA,SENADEVELOPMENT PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.sena.co.th,2018-04-22 04:29:38.825191,2018-04-22 04:29:38.825191
14,452,SINGER,SINGER THAILAND PUBLIC COMPANY LIMITED,Services,Commerce,SET100,www.singerthai.co.th,2018-04-22 04:29:38.875668,2021-07-07 03:33:39.150064
15,504,SYNEX,SYNNEX (THAILAND) PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET100 / SETTHSI,www.synnex.co.th,2018-04-22 04:29:39.170664,2021-07-07 03:33:39.202279
16,562,TOA,TOA PAINT (THAILAND) PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SETTHSI,www.toagroup.com,2018-04-22 04:29:39.494571,2021-07-07 03:33:39.241053

In [57]:
file_name = 'pub_stock.xlsx'
output_file = os.path.join(dat_path, file_name)
print(f"Output file : {output_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\pub_stock.xlsx

In [59]:
df_merge[['id','name','sector','market']].to_excel(output_file, index=False)

### Update ticker_id from table tickers in PortPg

In [62]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
df_buy = pd.read_sql(sql, const)
df_buy.shape

(29, 1)

In [64]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
'''
sql = sql % (select_date)
print(sql)
df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-08-13'

(130, 14)

In [66]:
sql = """
SELECT *
FROM tickers"""
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape

(396, 9)

In [68]:
df_epss_buy = df_epss_inp.merge(df_buy, on='name', how='inner')
df_epss_buy = df_epss_buy.drop(columns=['ticker_id'])

df_epss_buy_tickers = df_epss_buy.merge(pg_tickers, on='name', how='inner')
df_epss_buy_tickers = df_epss_buy_tickers.rename(columns={'id_y': 'ticker_id'})
                                                  
columns = 'name ticker_id publish_date'.split()
df_epss_buy_tickers[columns].sort_values(by='name')

       name  ticker_id publish_date
2        AH         11   2025-08-13
15      BCH         55   2025-08-15
17      CPF        121   2025-08-14
18  CPNREIT        127   2025-08-13
7       DIF        146   2025-08-13
16   GVREIT        209   2025-08-15
11      IVL        238   2025-08-14
8     JMART        244   2025-08-13
9       JMT        245   2025-08-13
3       MCS        301   2025-08-13
14      ORI        347   2025-08-14
4       PTG        387   2025-08-13
6       PTT        389   2025-08-13
0     PTTGC        391   2025-08-13
12     SENA        443   2025-08-14
5    SINGER        452   2025-08-13
1     SYNEX        504   2025-08-13
13    TFFIF        655   2025-08-14
10      TOA        562   2025-08-14

In [70]:
conlt.commit()
conlt.close()
conmy.commit()
conmy.close()
conpg.commit()
conpg.close()

In [72]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-08-23 23:28:41