In [1]:
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2025"
quarter = "2"
today = date.today()
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-08-14'

In [2]:
today = date(2025, 8, 13)
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-08-13'

### Restart and Run All

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()
format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [7]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 5', conlt).style.format(format_dict)

In [8]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"
ORDER BY name'''
sql = sql % (year, quarter, select_date)

df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.sample(4).style.format(format_dict)

In [9]:
df_epss_inp.shape

(10, 14)

In [10]:
df_epss_inp["yoy_gain"] = df_epss_inp["q_amt"] - df_epss_inp["y_amt"]
df_epss_inp["yoy_pct"]  = round(df_epss_inp["yoy_gain"] / abs(df_epss_inp["y_amt"]) * 100,2)
df_epss_inp["acc_gain"] = df_epss_inp["aq_amt"] - df_epss_inp["ay_amt"]
df_epss_inp["acc_pct"] = round(df_epss_inp["acc_gain"] / abs(df_epss_inp["ay_amt"]) * 100,2)
df_pct = df_epss_inp[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_pct.sample(5).style.format(format_dict)

In [11]:
criteria_1 = df_pct.q_amt > 110000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [12]:
criteria_2 = df_pct.y_amt > 100000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [13]:
criteria_3 = df_pct.yoy_pct > 10
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [14]:
criteria_4 = (df_pct.q_amt > df_pct.y_amt)
df_pct.loc[criteria_4, cols].style.format(format_dict)

In [15]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#df_pct_criteria = criteria_1 & criteria_2
df_pct.loc[df_pct_criteria, cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [16]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [17]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [18]:
names = df_epss_inp['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'DIF', 'JMART', 'JMT', 'MCS', 'PTG', 'PTT', 'PTTGC', 'SINGER', 'SYNEX'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [20]:
sql = """SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss_stocks = pd.read_sql(sql, conlt)
epss_stocks.shape

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('AH', 'DIF', 'JMART', 'JMT', 'MCS', 'PTG', 'PTT', 'PTTGC', 'SINGER', 'SYNEX')
ORDER BY E.name, year DESC, quarter DESC

(420, 10)

### Delete from profits of older profit stocks

In [22]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(in_p))
print(sqlDel)
# Execute with parameters
rp = conlt.execute(sqlDel, {'quarter': quarter})
rp.rowcount

    DELETE FROM profits
    WHERE name IN ('AH', 'DIF', 'JMART', 'JMT', 'MCS', 'PTG', 'PTT', 'PTTGC', 'SINGER', 'SYNEX')
    AND quarter < :quarter

0

In [23]:
rp = conmy.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [24]:
rp = conpg.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [25]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['CBG', 'CKP', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC', 'SYNEX', 'TVO'], dtype='object', name='name')

In [26]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['CBG', 'CKP', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC', 'SYNEX', 'TVO'], dtype='object', name='name')

In [27]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['CBG', 'CKP', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC', 'SYNEX', 'TVO'], dtype='object', name='name')

### Portfolio that publish today

In [29]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

pg_tickers = pd.read_sql(sql, conpg)
pg_tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

SELECT *
FROM tickers
WHERE name IN ('AH', 'DIF', 'JMART', 'JMT', 'MCS', 'PTG', 'PTT', 'PTTGC', 'SINGER', 'SYNEX')
ORDER BY name

     name   id
0      AH   11
1     DIF  146
2   JMART  244
3     JMT  245
4     MCS  301
5     PTG  387
6     PTT  389
7   PTTGC  391
8  SINGER  452
9   SYNEX  504

In [30]:
sql = """
SELECT name 
FROM buy
"""
buys = pd.read_sql(sql, const)
buys.shape

(28, 1)

In [31]:
df_merge = pd.merge(pg_tickers, buys, on='name', how='inner')
df_merge

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,11,AH,AAPICO HITECH PUBLIC COMPANY LIMITED,Industrials,Automotive,sSET / SETTHSI,www.aapico.com,2018-04-22 04:29:36.134601,2021-07-07 03:33:38.806441
1,146,DIF,DIGITAL TELECOMMUNICATIONS INFRASTRUCTURE FUND,Technology,Information & Communication Technology,SET,www.digital-tif.com,2018-04-22 04:29:37.030748,2018-04-22 04:29:37.030748
2,244,JMART,JAY MART PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET50,www.jaymart.co.th,2018-04-22 04:29:37.616395,2021-01-26 15:42:35.221412
3,245,JMT,JMT NETWORK SERVICES PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET50,www.jmtnetwork.co.th,2018-04-22 04:29:37.621811,2020-07-06 13:23:59.311892
4,301,MCS,M.C.S.STEEL PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,sSET,www.mcssteel.com,2018-04-22 04:29:37.957104,2021-08-22 18:22:07.463483
5,387,PTG,PTG ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETHD / SETTHSI,www.ptgenergy.co.th,2018-04-22 04:29:38.474708,2022-01-15 03:54:48.464340
6,389,PTT,PTT PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETHD / SETTHSI,www.pttplc.com,2018-04-22 04:29:38.484745,2019-11-19 07:13:53.785316
7,391,PTTGC,PTT GLOBAL CHEMICAL PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET50 / SETCLMV / SETTHSI,www.pttgcgroup.com,2018-04-22 04:29:38.496779,2021-07-07 03:33:39.100623
8,452,SINGER,SINGER THAILAND PUBLIC COMPANY LIMITED,Services,Commerce,SET100,www.singerthai.co.th,2018-04-22 04:29:38.875668,2021-07-07 03:33:39.150064
9,504,SYNEX,SYNNEX (THAILAND) PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET100 / SETTHSI,www.synnex.co.th,2018-04-22 04:29:39.170664,2021-07-07 03:33:39.202279

In [32]:
file_name = 'pub_stock.xlsx'
output_file = os.path.join(dat_path, file_name)
print(f"Output file : {output_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\pub_stock.xlsx

In [33]:
df_merge[['id','name','sector','market']].to_excel(output_file, index=False)

### Portfolio that already published

In [35]:
sql = """
SELECT * 
FROM buy"""
buys = pd.read_sql(sql, const)
buys.shape

(28, 10)

In [36]:
names = buys["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'STA', 'SINGER', 'PTG', 'PTT', 'MCS', 'DIF', 'JMT', 'WHART', 'BCH', 'SENA', 'TFFIF', '3BBIF', 'IVL', 'PTTGC', 'WHAIR', 'ORI', 'AH', 'GVREIT', 'NER', 'AIMIRT', 'TOA', 'AWC', 'SYNEX', 'SCC', 'RCL', 'JMART', 'CPNREIT', 'TVO'"

In [37]:
sql = """
SELECT *
FROM epss
WHERE publish_date >= '%s'
AND name IN (%s)
ORDER BY publish_date, name"""
sql = sql % (select_date, in_p)
df_epss_buy = pd.read_sql(sql, conlt)
df_epss_buy.style.format(format_dict)

### Not yet published

In [39]:
sql = """
SELECT name
FROM epss
WHERE publish_date >= '%s'
"""
sql = sql % (select_date)
epss = pd.read_sql(sql, conlt)
epss.shape

(10, 1)

In [40]:
names = epss["name"].values.tolist()
names

['PTTGC', 'SYNEX', 'AH', 'MCS', 'PTG', 'SINGER', 'PTT', 'DIF', 'JMART', 'JMT']

In [41]:
names = epss["name"].values.tolist()

if names:
    sql = text("""
    SELECT *
    FROM buy
    WHERE name NOT IN :names
    ORDER BY name
    """)
    df_epss_buy = pd.read_sql(sql, const, params={'names': tuple(names)})
else:
    sql = text("""
    SELECT *
    FROM buy
    ORDER BY name
    """)
    df_epss_buy = pd.read_sql(sql, const)

df_epss_buy.shape

(18, 10)

In [42]:
df_epss_buy.sample(5)

,name,date,volbuy,price,volsell,volbal,active,dividend,period,grade
4,CPNREIT,2022-08-16,55000.0,18.00,0.0,0.0,1,0.5705,2,C1
10,SCC,2021-09-20,600.0,405.00,0.0,0.0,1,5.0000,1,C2
2,AWC,2023-06-15,9000.0,4.96,0.0,0.0,1,0.0750,1,A1
1,AIMIRT,2023-08-17,17500.0,10.60,0.0,0.0,1,0.8500,2,A1
9,RCL,2021-11-08,24000.0,40.15,0.0,0.0,1,2.5000,3,A3

### Comparison check between EPS and Buy

In [44]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
df_buy = pd.read_sql(sql, const)
df_buy.shape

(28, 1)

In [45]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
'''
sql = sql % (select_date)
print(sql)
df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-08-13'

(10, 14)

In [46]:
df_epss_buy = df_epss_inp.merge(df_buy, on='name', how='inner')
df_epss_buy.sort_values(by='name')

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
2,24519,AH,2025,2,108071,102734,414253,422226,0.320,0.290,1.230,1.190,9,2025-08-13
7,24524,DIF,2025,2,2764853,2675677,5496796,5357976,0.000,0.000,0.000,0.000,140,2025-08-13
8,24525,JMART,2025,2,110956,339706,251290,575532,0.076,0.234,0.172,0.397,236,2025-08-13
9,24526,JMT,2025,2,246468,366881,576497,785143,0.170,0.250,0.390,0.540,237,2025-08-13
3,24520,MCS,2025,2,240524,116864,460718,186190,0.500,0.240,0.970,0.390,293,2025-08-13
4,24521,PTG,2025,2,312003,465517,502048,723222,0.190,0.280,0.300,0.430,381,2025-08-13
6,24523,PTT,2025,2,21532882,35469389,44848371,64436892,0.760,1.250,1.570,2.260,383,2025-08-13
0,24517,PTTGC,2025,2,-3616135,1845820,-6183329,1239724,-0.850,0.410,-1.470,0.270,385,2025-08-13
5,24522,SINGER,2025,2,12452,28424,32537,48591,0.020,0.030,0.040,0.060,446,2025-08-13
1,24518,SYNEX,2025,2,190158,159905,378375,311899,0.220,0.190,0.450,0.370,495,2025-08-13

In [93]:
df_epss_buy.dtypes

id                int64
name             object
year              int64
quarter           int64
q_amt             int64
y_amt             int64
aq_amt            int64
ay_amt            int64
q_eps           float64
y_eps           float64
aq_eps          float64
ay_eps          float64
ticker_id         int64
publish_date     object
dtype: object

In [99]:
u_df_epss_buy = buy.merge(df_epss_inp, on='name', how='outer', indicator=True)
u_df_epss_buy.query("_merge == 'both'")

,name,id,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date,_merge
1,AH,24519.0,2025.0,2.0,108071.0,102734.0,414253.0,422226.0,0.320,0.290,1.230,1.190,9.0,2025-08-13,both
6,DIF,24524.0,2025.0,2.0,2764853.0,2675677.0,5496796.0,5357976.0,0.000,0.000,0.000,0.000,140.0,2025-08-13,both
9,JMART,24525.0,2025.0,2.0,110956.0,339706.0,251290.0,575532.0,0.076,0.234,0.172,0.397,236.0,2025-08-13,both
10,JMT,24526.0,2025.0,2.0,246468.0,366881.0,576497.0,785143.0,0.170,0.250,0.390,0.540,237.0,2025-08-13,both
11,MCS,24520.0,2025.0,2.0,240524.0,116864.0,460718.0,186190.0,0.500,0.240,0.970,0.390,293.0,2025-08-13,both
14,PTG,24521.0,2025.0,2.0,312003.0,465517.0,502048.0,723222.0,0.190,0.280,0.300,0.430,381.0,2025-08-13,both
15,PTT,24523.0,2025.0,2.0,21532882.0,35469389.0,44848371.0,64436892.0,0.760,1.250,1.570,2.260,383.0,2025-08-13,both
16,PTTGC,24517.0,2025.0,2.0,-3616135.0,1845820.0,-6183329.0,1239724.0,-0.850,0.410,-1.470,0.270,385.0,2025-08-13,both
20,SINGER,24522.0,2025.0,2.0,12452.0,28424.0,32537.0,48591.0,0.020,0.030,0.040,0.060,446.0,2025-08-13,both
22,SYNEX,24518.0,2025.0,2.0,190158.0,159905.0,378375.0,311899.0,0.220,0.190,0.450,0.370,495.0,2025-08-13,both

In [117]:
u_df_epss_buy.drop('_merge', axis=1, inplace=True)
u_df_epss_buy.dtypes

name             object
id              float64
year            float64
quarter         float64
q_amt           float64
y_amt           float64
aq_amt          float64
ay_amt          float64
q_eps           float64
y_eps           float64
aq_eps          float64
ay_eps          float64
ticker_id       float64
publish_date     object
dtype: object

In [111]:
sql = 'SELECT name, id AS pg_ticker_id FROM tickers'
df_pg_tickers_id = pd.read_sql(sql, conpg)
df_pg_tickers_id.dtypes

name            object
pg_ticker_id     int64
dtype: object

In [131]:
df_epss_lt_pg_id = u_df_epss_buy.merge(df_pg_tickers_id, on='name', how='inner', indicator=True)
df_epss_lt_pg_id.dtypes

name              object
id               float64
year             float64
quarter          float64
q_amt            float64
y_amt            float64
aq_amt           float64
ay_amt           float64
q_eps            float64
y_eps            float64
aq_eps           float64
ay_eps           float64
ticker_id        float64
publish_date      object
pg_ticker_id       int64
_merge          category
dtype: object

In [133]:
cols = 'name ticker_id pg_ticker_id'.split()
df_epss_lt_pg_id[cols]

       name  ticker_id  pg_ticker_id
0     3BBIF        NaN           241
1        AH        9.0            11
2    AIMIRT        NaN            13
3       AWC        NaN           668
4       BCH        NaN            55
5   CPNREIT        NaN           127
6       DIF      140.0           146
7    GVREIT        NaN           209
8       IVL        NaN           238
9     JMART      236.0           244
10      JMT      237.0           245
11      MCS      293.0           301
12      NER        NaN           649
13      ORI        NaN           347
14      PTG      381.0           387
15      PTT      383.0           389
16    PTTGC      385.0           391
17      RCL        NaN           401
18      SCC        NaN           433
19     SENA        NaN           443
20   SINGER      446.0           452
21      STA        NaN           489
22    SYNEX      495.0           504
23    TFFIF        NaN           655
24      TOA        NaN           562
25      TVO        NaN           594
26    WHAIR        NaN           217
27    WHART        NaN           630

In [101]:
#const.close()
#conpg.commit()
#conpg.close()  
#conmy.commit()
#conmy.close()
conlt.commit()
conlt.close()