In [1]:
import os
import pandas as pd
from datetime import date, datetime, timedelta
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2025"
quarter = "2"

current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-08-18 22:41:47

In [7]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
ORDER BY publish_date DESC LIMIT 3
"""
sql = sql % (year, quarter)
print(sql)

df_tmp = pd.read_sql(sql, conlt)
df_tmp

SELECT *
FROM epss
WHERE year = 2025 AND quarter = 2
ORDER BY publish_date DESC LIMIT 3

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,24532,BCH,2025,2,388219,277102,709531,595996,0.1600,0.1100,0.2800,0.2400,51,2025-08-15
1,24547,CHG,2025,2,207649,192256,432979,456222,0.0189,0.0175,0.0394,0.0415,98,2025-08-15
2,24548,FORTH,2025,2,122149,104988,182847,189170,0.1310,0.1120,0.1950,0.2020,176,2025-08-15

In [9]:
today = date(2025, 8, 15)
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-08-15'

### Tables in the process

In [12]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [14]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [16]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()
format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [20]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"
ORDER BY name'''
sql = sql % (year, quarter, select_date)

df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.tail().style.format(format_dict)

In [22]:
df_epss_inp.shape

(3, 14)

In [26]:
df_epss_inp["yoy_gain"] = df_epss_inp["q_amt"] - df_epss_inp["y_amt"]
df_epss_inp["yoy_pct"]  = round(df_epss_inp["yoy_gain"] / abs(df_epss_inp["y_amt"]) * 100,2)
df_epss_inp["acc_gain"] = df_epss_inp["aq_amt"] - df_epss_inp["ay_amt"]
df_epss_inp["acc_pct"] = round(df_epss_inp["acc_gain"] / abs(df_epss_inp["ay_amt"]) * 100,2)
df_aggr = df_epss_inp[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_aggr.tail().style.format(format_dict)

In [28]:
criteria_1 = df_aggr.q_amt > 110000
df_aggr.loc[criteria_1,cols].style.format(format_dict)

In [30]:
criteria_2 = df_aggr.y_amt > 100000
df_aggr.loc[criteria_2, cols].style.format(format_dict)

In [32]:
criteria_3 = df_aggr.yoy_pct > 10
df_aggr.loc[criteria_3, cols].style.format(format_dict)

In [34]:
criteria_4 = (df_aggr.q_amt > df_aggr.y_amt)
df_aggr.loc[criteria_4, cols].style.format(format_dict)

In [36]:
df_aggr_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#df_aggr_criteria = criteria_1 & criteria_2
df_aggr.loc[df_aggr_criteria, cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [38]:
df_aggr[df_aggr_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [40]:
df_aggr[df_aggr_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [42]:
names = df_epss_inp['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'BCH', 'CHG', 'FORTH'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [45]:
sql = """SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss_stocks = pd.read_sql(sql, conlt)
epss_stocks.shape

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('BCH', 'CHG', 'FORTH')
ORDER BY E.name, year DESC, quarter DESC

(139, 10)

### Delete from profits of older profit stocks

In [48]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(in_p))
print(sqlDel)
# Execute with parameters
result = conlt.execute(sqlDel, {'quarter': quarter})
result.rowcount

    DELETE FROM profits
    WHERE name IN ('BCH', 'CHG', 'FORTH')
    AND quarter < :quarter

0

In [50]:
result = conmy.execute(sqlDel, {'quarter': quarter})
result.rowcount

0

In [52]:
result = conpg.execute(sqlDel, {'quarter': quarter})
result.rowcount

0

In [54]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['CBG', 'CKP', 'FPT', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC', 'SYNEX',
       'TVO'],
      dtype='object', name='name')

In [56]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['2811', 'CBG', 'CKP', 'FPT', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC',
       'SYNEX', 'TVO'],
      dtype='object', name='name')

In [58]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['CBG', 'CKP', 'FPT', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC', 'SYNEX',
       'TVO'],
      dtype='object', name='name')

### Portfolio that publish today

In [61]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

pg_tickers = pd.read_sql(sql, conpg)
pg_tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

SELECT *
FROM tickers
WHERE name IN ('BCH', 'CHG', 'FORTH')
ORDER BY name

    name   id
0    BCH   55
1    CHG  101
2  FORTH  181

In [63]:
sql = """
SELECT name 
FROM buy
"""
df_buy = pd.read_sql(sql, const)
df_buy.shape

(29, 1)

In [65]:
df_merge = pd.merge(pg_tickers, df_buy, on='name', how='inner')
df_merge

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,55,BCH,BANGKOK CHAIN HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,SET100 / SETWB,www.bangkokchainhospital.com,2018-04-22 04:29:36.442067,2019-11-19 07:13:52.520896

In [67]:
file_name = 'pub_stock.xlsx'
output_file = os.path.join(dat_path, file_name)
print(f"Output file : {output_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\pub_stock.xlsx

In [69]:
df_merge[['id','name','sector','market']].to_excel(output_file, index=False)

### Comparison check between EPS and Buy

In [71]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
df_buy = pd.read_sql(sql, const)
df_buy.shape

(29, 1)

In [73]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
'''
sql = sql % (select_date)
print(sql)
df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-08-15'

(4, 14)

In [75]:
sql = """
SELECT *
FROM tickers"""
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape

(396, 9)

In [77]:
df_epss_buy = df_epss_inp.merge(df_buy, on='name', how='inner')
df_epss_buy = df_epss_buy.drop(columns=['ticker_id'])

df_epss_buy_tickers = df_epss_buy.merge(pg_tickers, on='name', how='inner')
df_epss_buy_tickers = df_epss_buy_tickers.rename(columns={'id_y': 'ticker_id'})
                                                  
columns = 'name ticker_id publish_date'.split()
df_epss_buy_tickers[columns].sort_values(by='name')

     name  ticker_id publish_date
0     BCH         55   2025-08-15
1  GVREIT        209   2025-08-15

In [79]:
conlt.commit()
conlt.close()

In [81]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-08-18 22:47:11