In [1]:
import os
import pandas as pd
from datetime import date, datetime, timedelta
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2025"
quarter = "2"

current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-08-19 15:35:09

In [2]:
select_date = date(2025, 8, 14)
select_date = select_date.strftime("%Y-%m-%d")
select_date

'2025-08-14'

### Tables in the process

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()
format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [7]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"
ORDER BY name'''
sql = sql % (year, quarter, select_date)

df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.tail().style.format(format_dict)

In [8]:
df_epss_inp.shape

(39, 14)

In [9]:
df_epss_inp["yoy_gain"] = df_epss_inp["q_amt"] - df_epss_inp["y_amt"]
df_epss_inp["yoy_pct"]  = round(df_epss_inp["yoy_gain"] / abs(df_epss_inp["y_amt"]) * 100,2)
df_epss_inp["acc_gain"] = df_epss_inp["aq_amt"] - df_epss_inp["ay_amt"]
df_epss_inp["acc_pct"] = round(df_epss_inp["acc_gain"] / abs(df_epss_inp["ay_amt"]) * 100,2)
df_aggr = df_epss_inp[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_aggr.tail().style.format(format_dict)

In [10]:
criteria_1 = df_aggr.q_amt > 110000
df_aggr.loc[criteria_1,cols].style.format(format_dict)

In [11]:
criteria_2 = df_aggr.y_amt > 100000
df_aggr.loc[criteria_2, cols].style.format(format_dict)

In [12]:
criteria_3 = df_aggr.yoy_pct > 10
df_aggr.loc[criteria_3, cols].style.format(format_dict)

In [13]:
criteria_4 = (df_aggr.q_amt > df_aggr.y_amt)
df_aggr.loc[criteria_4, cols].style.format(format_dict)

In [14]:
df_aggr_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#df_aggr_criteria = criteria_1 & criteria_2
df_aggr.loc[df_aggr_criteria, cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [15]:
df_aggr[df_aggr_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [16]:
df_aggr[df_aggr_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [17]:
names = df_epss_inp['name']
portfolio = ", ".join(map(lambda name: "'%s'" % name, names))
portfolio

"'ACE', 'BCH', 'BEAUTY', 'CHG', 'CK', 'CPF', 'EA', 'EASTW', 'EGCO', 'FORTH', 'FSMART', 'HANA', 'HTC', 'ICHI', 'IMH', 'IVL', 'KEX', 'LPN', 'MEGA', 'NOBLE', 'ORI', 'PLANB', 'PRM', 'ROJNA', 'RS', 'SAWAD', 'SENA', 'SJWD', 'SPC', 'SPCG', 'SSP', 'SUPER', 'TIPCO', 'TIPH', 'TOA', 'TPIPL', 'TQM', 'TTA', 'VIBHA'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [19]:
sql = """
    SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
    FROM epss E JOIN stocks S ON E.name = S.name 
    WHERE E.name IN ({})
    ORDER BY E.name, year DESC, quarter DESC 
""".format(portfolio)
print(sql)

epss_stocks = pd.read_sql(sql, conlt)
epss_stocks.shape

    SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, daily_volume, beta, publish_date
    FROM epss E JOIN stocks S ON E.name = S.name
    WHERE E.name IN ('ACE', 'BCH', 'BEAUTY', 'CHG', 'CK', 'CPF', 'EA', 'EASTW', 'EGCO', 'FORTH', 'FSMART', 'HANA', 'HTC', 'ICHI', 'IMH', 'IVL', 'KEX', 'LPN', 'MEGA', 'NOBLE', 'ORI', 'PLANB', 'PRM', 'ROJNA', 'RS', 'SAWAD', 'SENA', 'SJWD', 'SPC', 'SPCG', 'SSP', 'SUPER', 'TIPCO', 'TIPH', 'TOA', 'TPIPL', 'TQM', 'TTA', 'VIBHA')
    ORDER BY E.name, year DESC, quarter DESC

(1762, 10)

### Delete from profits of older profit stocks

In [21]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(portfolio))
print(sqlDel)
# Execute with parameters
result = conlt.execute(sqlDel, {'quarter': quarter})
result.rowcount

    DELETE FROM profits
    WHERE name IN ('ACE', 'BCH', 'BEAUTY', 'CHG', 'CK', 'CPF', 'EA', 'EASTW', 'EGCO', 'FORTH', 'FSMART', 'HANA', 'HTC', 'ICHI', 'IMH', 'IVL', 'KEX', 'LPN', 'MEGA', 'NOBLE', 'ORI', 'PLANB', 'PRM', 'ROJNA', 'RS', 'SAWAD', 'SENA', 'SJWD', 'SPC', 'SPCG', 'SSP', 'SUPER', 'TIPCO', 'TIPH', 'TOA', 'TPIPL', 'TQM', 'TTA', 'VIBHA')
    AND quarter < :quarter

0

In [22]:
result = conmy.execute(sqlDel, {'quarter': quarter})
result.rowcount

0

In [23]:
result = conpg.execute(sqlDel, {'quarter': quarter})
result.rowcount

0

In [24]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['CBG', 'CKP', 'FPT', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC', 'SYNEX',
       'TVO'],
      dtype='object', name='name')

In [25]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['2811', 'CBG', 'CKP', 'FPT', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC',
       'SYNEX', 'TVO'],
      dtype='object', name='name')

In [26]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['CBG', 'CKP', 'FPT', 'GPSC', 'GULF', 'MTC', 'SCC', 'SMPC', 'SYNEX',
       'TVO'],
      dtype='object', name='name')

### Portfolio that publish today

In [28]:
sql = """
    SELECT * 
    FROM tickers
    WHERE name IN ({})
    ORDER BY name
""".format(portfolio)
print(sql)

pg_tickers = pd.read_sql(sql, conpg)
pg_tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

    SELECT *
    FROM tickers
    WHERE name IN ('ACE', 'BCH', 'BEAUTY', 'CHG', 'CK', 'CPF', 'EA', 'EASTW', 'EGCO', 'FORTH', 'FSMART', 'HANA', 'HTC', 'ICHI', 'IMH', 'IVL', 'KEX', 'LPN', 'MEGA', 'NOBLE', 'ORI', 'PLANB', 'PRM', 'ROJNA', 'RS', 'SAWAD', 'SENA', 'SJWD', 'SPC', 'SPCG', 'SSP', 'SUPER', 'TIPCO', 'TIPH', 'TOA', 'TPIPL', 'TQM', 'TTA', 'VIBHA')
    ORDER BY name

      name   id
0      ACE  667
1      BCH   55
2   BEAUTY   59
3      CHG  101
4       CK  109
5      CPF  121
6       EA  153
7    EASTW  155
8     EGCO  161
9    FORTH  181
10  FSMART  183
11    HANA  211
12     HTC  218
13    ICHI  223
14     IMH  707
15     IVL  238
16     KEX  717
17     LPN  284
18    MEGA  303
19   NOBLE  336
20     ORI  347
21   PLANB  366
22     PRM  382
23   ROJNA  409
24      RS  413
25   SAWAD  429
26    SENA  443
27    SJWD  250
28     SPC  471
29    SPCG  472
30     SSP  486
31   SUPER  496
32   TIPCO  538
33    TIPH  537
34     TOA  562
35   TPIPL  568
36     TQM  657
37     TTA  588
38   VIBHA  619

In [29]:
sql = """
    SELECT name 
    FROM buy
"""
df_buy = pd.read_sql(sql, const)
df_buy.shape

(29, 1)

In [30]:
df_merge = pd.merge(pg_tickers, df_buy, on='name', how='inner')
df_merge

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,55,BCH,BANGKOK CHAIN HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,SET100 / SETWB,www.bangkokchainhospital.com,2018-04-22 04:29:36.442067,2019-11-19 07:13:52.520896
1,121,CPF,CHAROEN POKPHAND FOODS PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,www.cpfworldwide.com,2018-04-22 04:29:36.867977,2021-07-07 03:33:38.893396
2,238,IVL,INDORAMA VENTURES PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET50 / SETTHSI,www.indoramaventures.com,2018-04-22 04:29:37.583373,2021-07-07 03:33:38.986666
3,347,ORI,ORIGIN PROPERTY PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD / SETTHSI,www.origin.co.th,2018-04-22 04:29:38.228072,2022-01-15 03:54:48.440923
4,443,SENA,SENADEVELOPMENT PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.sena.co.th,2018-04-22 04:29:38.825191,2018-04-22 04:29:38.825191
5,562,TOA,TOA PAINT (THAILAND) PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SETTHSI,www.toagroup.com,2018-04-22 04:29:39.494571,2021-07-07 03:33:39.241053

In [31]:
file_name = 'pub_stock.xlsx'
output_file = os.path.join(dat_path, file_name)
print(f"Output file : {output_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\pub_stock.xlsx

In [32]:
df_merge[['id','name','sector','market']].to_excel(output_file, index=False)

### Update ticker_id from table tickers in PortPg

In [34]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
df_buy = pd.read_sql(sql, const)
df_buy.shape

(29, 1)

In [35]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
'''
sql = sql % (select_date)
print(sql)
df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-08-14'

(46, 14)

In [36]:
sql = """
SELECT *
FROM tickers"""
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape

(396, 9)

In [37]:
df_epss_buy = df_epss_inp.merge(df_buy, on='name', how='inner')
df_epss_buy = df_epss_buy.drop(columns=['ticker_id'])

df_epss_buy_tickers = df_epss_buy.merge(pg_tickers, on='name', how='inner')
df_epss_buy_tickers = df_epss_buy_tickers.rename(columns={'id_y': 'ticker_id'})
                                                  
columns = 'name ticker_id publish_date'.split()
df_epss_buy_tickers[columns].sort_values(by='name')

     name  ticker_id publish_date
5     BCH         55   2025-08-15
7     CPF        121   2025-08-14
6  GVREIT        209   2025-08-15
1     IVL        238   2025-08-14
4     ORI        347   2025-08-14
2    SENA        443   2025-08-14
3   TFFIF        655   2025-08-14
0     TOA        562   2025-08-14

In [38]:
conlt.commit()
conlt.close()
conmy.commit()
conmy.close()
conpg.commit()
conpg.close()

In [39]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-08-19 15:35:10