In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2025
quarter = 2
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-08-11 22:19:59

In [2]:
# Must modify select date to latest unprocessed date
select_date = date(2025, 8, 2)
select_date = select_date.strftime("%Y-%m-%d")
select_date

'2025-08-02'

In [3]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()
format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [5]:
names = """
IP
""".split()
names

['IP']

In [6]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'IP'"

In [7]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.style.format(format_dict)

### End of Process for specified stocks

In [9]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'"""
sql = sql % (year, quarter, select_date)
print(sql)
df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.sample(5).style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2025 AND quarter = 2
AND publish_date >= '2025-08-02'

### End of Normal Process

In [11]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
df_qt_profits = pd.read_sql(sql, conlt)
df_qt_profits.shape

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2025 AND quarter = 'Q2'

(87, 7)

In [12]:
epss_inp_qt_profits = pd.merge(df_epss_inp, df_qt_profits, on=["name"], suffixes=(["_e", "_q"]), how="inner")
epss_inp_qt_profits.sample(5).style.format(format_dict)

### Delete duplicated year and quarter

In [14]:
columns = ['year_q','quarter_q']
epss_inp_qt_profits = epss_inp_qt_profits.drop(columns, axis='columns')
epss_inp_qt_profits.sample(5).style.format(format_dict)

In [15]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
print(sql)
df_yr_profits = pd.read_sql(sql, conlt)
df_yr_profits.sample(5).sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2025 AND quarter = "Q2"

In [16]:
df_merge2 = pd.merge(epss_inp_qt_profits, df_yr_profits, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.sample(5).style.format(format_dict)

### Delete duplicated year and quarter

In [18]:
columns = ['year_e','quarter_e']
df_aggr = df_merge2.drop(columns, axis='columns')
df_aggr.sample(5).style.format(format_dict)

### Profits criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [20]:
df_aggr[df_aggr['name'] == 'TVO'].style.format(format_dict)

In [21]:
criteria_1 = df_aggr.latest_amt_y > 440_000
df_aggr.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [22]:
criteria_2 = df_aggr.previous_amt_y >= 400_000
df_aggr.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [23]:
criteria_3 = df_aggr.inc_pct_y >= 10.00
df_aggr.loc[criteria_3, cols].style.format(format_dict)

In [24]:
criteria_4 = (df_aggr.q_amt > df_aggr.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
df_aggr.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [25]:
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_2 
filter = df_aggr.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [26]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [27]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [28]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [29]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)'''
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2025 AND A.quarter = 2
AND B.year = 2025 AND B.quarter = (2-1)

In [30]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape

(87, 6)

In [31]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [33]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3.style.format(format_dict)

In [34]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']].copy()               
final2.style.format(format_dict)

### If there is no record in the above statement, no need to further process

In [36]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [37]:
final2.loc[:, 'kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

In [38]:
final2.kind.value_counts()

kind
1    7
Name: count, dtype: int64

In [39]:
final2.loc[:, 'inc_amt_py'] = final2['q_amt_c'] - final2['y_amt']
final2.loc[:, 'inc_pct_py'] = (final2['inc_amt_py'] / abs(final2['y_amt'])) * 100

final2.loc[:, 'inc_amt_pq'] = final2['q_amt_c'] - final2['q_amt_p']
final2.loc[:, 'inc_pct_pq'] = (final2['inc_amt_pq'] / abs(final2['q_amt_p'])) * 100

In [40]:
final2.loc[:, 'inc_pct_py'] = final2['inc_pct_py'].replace('inf', np.nan)

In [41]:
final2.loc[:, 'mean_pct'] = final2[['inc_pct_y', 'inc_pct_q', 'inc_pct_py', 'inc_pct_pq']].mean(axis=1, skipna=True)

In [42]:
final2[['name','mean_pct']].sort_values(['mean_pct'], ascending=False)

    name    mean_pct
4   GULF         inf
6    CKP  409.526446
2    TVO   52.460038
9   GPSC   43.838537
7   SMPC   18.777351
5    CBG   14.905379
10   MTC   10.463603

In [43]:
# First ensure it's a copy
final3 = final2.copy()
# Then perform operations
final3['std_pct'] = final3[['inc_pct_y', 'inc_pct_q', 'inc_pct_py', 'inc_pct_pq']].std(axis=1)

In [44]:
final3[['name','std_pct']].sort_values(['std_pct'], ascending=True)

    name     std_pct
10   MTC    7.733210
5    CBG   14.315010
7   SMPC   19.089449
9   GPSC   25.996432
2    TVO   76.451262
6    CKP  390.202145
4   GULF         NaN

In [45]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [46]:
df_merge4 = pd.merge(final3, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final4 = df_merge4[colv].copy()
final4.style.format(format_dict)

In [47]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2025 AND quarter = 2
ORDER BY name

In [48]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [49]:
df_merge = pd.merge(
    final4, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [50]:
final5 = df_merge[df_merge["_merge"] == "left_only"]
final5

Empty DataFrame
Columns: [name, year, quarter, kind_x, latest_amt_y_x, previous_amt_y_x, inc_amt_y_x, inc_pct_y_x, latest_amt_q_x, previous_amt_q_x, inc_amt_q_x, inc_pct_q_x, q_amt_c_x, y_amt_x, inc_amt_py_x, inc_pct_py_x, q_amt_p_x, inc_amt_pq_x, inc_pct_pq_x, ticker_id_x, mean_pct_x, std_pct_x, id, kind_y, latest_amt_y_y, previous_amt_y_y, inc_amt_y_y, inc_pct_y_y, latest_amt_q_y, previous_amt_q_y, inc_amt_q_y, inc_pct_q_y, q_amt_c_y, y_amt_y, inc_amt_py_y, inc_pct_py_y, q_amt_p_y, inc_amt_pq_y, inc_pct_pq_y, ticker_id_y, mean_pct_y, std_pct_y, _merge]
Index: []

[0 rows x 43 columns]

In [51]:
final6 = final5[colw]
final6.sort_values('name')

Empty DataFrame
Columns: [name, year, quarter, kind_x, latest_amt_y_x, previous_amt_y_x, inc_amt_y_x, inc_pct_y_x, latest_amt_q_x, previous_amt_q_x, inc_amt_q_x, inc_pct_q_x, q_amt_c_x, y_amt_x, inc_amt_py_x, inc_pct_py_x, q_amt_p_x, inc_amt_pq_x, inc_pct_pq_x, ticker_id_x, mean_pct_x, std_pct_x]
Index: []

[0 rows x 22 columns]

In [52]:
rcds = final6.values.tolist()
len(rcds)

0

In [53]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
lt_profits = pd.read_sql(sql, conlt)
lt_profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2025 AND quarter = 2
ORDER BY name

In [54]:
for rcd in rcds:
    print(rcd)

In [55]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

try:
    conlt.execute(sql, records_dicts)
    conlt.commit()  # Explicitly commit if not using context manager
    print(f"Successfully inserted {len(records_dicts)} records")
except Exception as e:
    conlt.rollback()  # Explicit rollback on failure
    print("Insert failed:", e)

Insert failed: (sqlalchemy.exc.InvalidRequestError) A value is required for bind parameter 'name'
[SQL:
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?,
?, ?, ?, ?,
?, ?, ?, ?,
?, ?, ?, ?,
?, ?, ?,
?, ?, ?)
]
(Background on this error at: https://sqlalche.me/e/20/cd3x)

In [56]:
# Replace 'inf' with 999.99 in specific columns
lt_profits['inc_pct_py'] = lt_profits['inc_pct_py'].replace([np.inf, -np.inf], 999.99)
lt_profits['mean_pct'] = lt_profits['mean_pct'].replace([np.inf, -np.inf], 999.99)

In [57]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
lt_profits = pd.read_sql(sql, conlt)
lt_profits.style.format(format_dict)

### End of Create Data

In [59]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(394, 2)

In [60]:
df_merge = pd.merge(final6, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### After call 250-Export-to-PortPg

In [62]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('IP') AND year = 2025 AND quarter = 2

In [63]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

Empty DataFrame
Columns: [name, ticker_id]
Index: []

In [64]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('IP')
ORDER BY name

In [65]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

  name   id market
0   IP  713    mai

### Additional process to find stocks in SET50 & SET100

In [67]:
names = df_epss_inp['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'STA', 'AWC', 'RCL', 'TVO', 'NER', 'AIMIRT', '3BBIF', 'WHART', 'WHAIR', 'RBF', 'TCAP', 'QH', 'TFG', 'BE8', 'PCSGH', 'TPIPP', 'MAJOR', 'S11', 'GULF', 'GGC', 'SPRC', 'ASK', 'STGT', 'WHAUP', 'CBG', 'BKIH', 'BEC', 'SIS', 'WHA', 'INOX', 'LPH', 'CKP', 'EGATIF', 'SUPEREIF', 'AIE', 'TTLPF', 'BA', 'ASW', 'SMPC', 'CPAXT', 'WORK', 'AIT', 'BCP', 'TIDLOR', 'GC', 'DOHOME', 'IRPC', 'BCPG', 'SVI', 'GPSC', 'PDG', 'THANI', 'DRT', 'III', 'MTC', 'MBAX', 'TRUE', 'DCC', 'LANNA', 'TU'"

In [68]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('STA', 'AWC', 'RCL', 'TVO', 'NER', 'AIMIRT', '3BBIF', 'WHART', 'WHAIR', 'RBF', 'TCAP', 'QH', 'TFG', 'BE8', 'PCSGH', 'TPIPP', 'MAJOR', 'S11', 'GULF', 'GGC', 'SPRC', 'ASK', 'STGT', 'WHAUP', 'CBG', 'BKIH', 'BEC', 'SIS', 'WHA', 'INOX', 'LPH', 'CKP', 'EGATIF', 'SUPEREIF', 'AIE', 'TTLPF', 'BA', 'ASW', 'SMPC', 'CPAXT', 'WORK', 'AIT', 'BCP', 'TIDLOR', 'GC', 'DOHOME', 'IRPC', 'BCPG', 'SVI', 'GPSC', 'PDG', 'THANI', 'DRT', 'III', 'MTC', 'MBAX', 'TRUE', 'DCC', 'LANNA', 'TU')
ORDER BY name

In [69]:
lt_tickers = pd.read_sql(sql, conlt)
lt_tickers.shape

(60, 9)

In [71]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:08:11 22:20:00