In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2025
quarter = 2

current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-08-23 23:29:50

In [3]:
# Must modify select date to latest unprocessed date
select_date = date(2025, 8, 13)
select_date = select_date.strftime("%Y-%m-%d")
select_date

'2025-08-13'

In [5]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()
format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [5]:
names = """
IP
""".split()
names

['IP']

In [6]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'IP'"

In [7]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.style.format(format_dict)

### End of Process for specified stocks

In [7]:
sql = """
    SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
    FROM epss 
    WHERE year = :year AND quarter = :quarter
    AND publish_date >= :select_date
"""

params = {
    'year': year,
    'quarter': quarter,
    'select_date': select_date
}

df_epss_inp = pd.read_sql(sql, conlt, params=params)
df_epss_inp.tail().style.format(format_dict)

### End of Normal Process

In [10]:
sql = """
    SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
    FROM qt_profits 
    WHERE year = :year AND quarter = :quarter
"""
params = (year, f"Q{quarter}")
print(sql)
df_qt_profits = pd.read_sql(sql, con=conlt, params=params)
df_qt_profits.shape

    SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
    FROM qt_profits
    WHERE year = :year AND quarter = :quarter

(202, 7)

In [12]:
epss_inp_qt_profits = pd.merge(df_epss_inp, df_qt_profits, on=["name"], suffixes=(["_e", "_q"]), how="inner")
epss_inp_qt_profits.tail().style.format(format_dict)

### Delete duplicated year and quarter

In [15]:
columns = ['year_q','quarter_q']
epss_inp_qt_profits = epss_inp_qt_profits.drop(columns, axis='columns')
epss_inp_qt_profits.tail().style.format(format_dict)

In [17]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = "Q%s"'''
sql = sql % (year, quarter)
print(sql)
df_yr_profits = pd.read_sql(sql, conlt)
df_yr_profits.tail().sort_values(['inc_pct'],ascending=[False]).style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2025 AND quarter = "Q2"

In [19]:
df_merge2 = pd.merge(epss_inp_qt_profits, df_yr_profits, on=['name'], suffixes=(['_q','_y']), how='inner')
df_merge2.tail().style.format(format_dict)

### Delete duplicated year and quarter

In [22]:
columns = ['year_e','quarter_e']
df_aggr = df_merge2.drop(columns, axis='columns')
df_aggr.tail().style.format(format_dict)

### Profits criteria
1. Current yearly profit amount > 440 millions
2. Previous yearly profit amount > 400 millions
3. Yearly gain percent >= 10 percent

In [29]:
df_aggr[df_aggr['name'] == 'M'].style.format(format_dict)

In [31]:
criteria_1 = df_aggr.latest_amt_y > 440_000
df_aggr.loc[criteria_1, cols].tail().sort_values(by=["name"], ascending=True).style.format(format_dict)

In [33]:
criteria_2 = df_aggr.previous_amt_y >= 400_000
df_aggr.loc[criteria_2, cols].tail().sort_values(by=["name"], ascending=True).style.format(format_dict)

In [35]:
criteria_3 = df_aggr.inc_pct_y >= 10.00
df_aggr.loc[criteria_3, cols].tail().style.format(format_dict)

In [39]:
criteria_4 = (df_aggr.q_amt > df_aggr.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
df_aggr.loc[criteria_4,colt].tail().sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [41]:
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
filter = df_aggr.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [43]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [45]:
final = pre_final.copy()
final.style.format(format_dict)

In [47]:
final.sort_values(['name'], ascending=True).style.format(format_dict)

In [49]:
sql = '''
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)'''
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2025 AND A.quarter = 2
AND B.year = 2025 AND B.quarter = (2-1)

In [51]:
epss2 = pd.read_sql(sql, conlt)
epss2.shape

(202, 6)

In [53]:
df_merge3 = pd.merge(final, epss2, on=['name'], suffixes=(['_f','_e']), how='inner')
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [56]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3.style.format(format_dict)

In [58]:
final2 = df_merge3[['name','year','quarter',\
'latest_amt_y','previous_amt_y','inc_amt_y','inc_pct_y',\
'latest_amt_q','previous_amt_q','inc_amt_q','inc_pct_q',\
'q_amt_c', 'y_amt', 'q_amt_p']].copy()               
final2.style.format(format_dict)

### If there is no record in the above statement, no need to further process

In [61]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [63]:
final2.loc[:, 'kind'] = final2[['q_amt_c', 'q_amt_p']].apply(better, axis=1)

In [65]:
final2.kind.value_counts()

kind
1    10
Name: count, dtype: int64

In [67]:
final2.loc[:, 'inc_amt_py'] = final2['q_amt_c'] - final2['y_amt']
final2.loc[:, 'inc_pct_py'] = (final2['inc_amt_py'] / abs(final2['y_amt'])) * 100

final2.loc[:, 'inc_amt_pq'] = final2['q_amt_c'] - final2['q_amt_p']
final2.loc[:, 'inc_pct_pq'] = (final2['inc_amt_pq'] / abs(final2['q_amt_p'])) * 100

In [69]:
final2.loc[:, 'inc_pct_py'] = final2['inc_pct_py'].replace('inf', np.nan)

In [71]:
final2.loc[:, 'mean_pct'] = final2[['inc_pct_y', 'inc_pct_q', 'inc_pct_py', 'inc_pct_pq']].mean(axis=1, skipna=True)

In [73]:
final2[['name','mean_pct']].sample().sort_values(['mean_pct'], ascending=False)

     name   mean_pct
3  GUNKUL  17.767638

In [75]:
# First ensure it's a copy
final3 = final2.copy()
# Then perform operations
final3['std_pct'] = final3[['inc_pct_y', 'inc_pct_q', 'inc_pct_py', 'inc_pct_pq']].std(axis=1)

In [83]:
final3[['name','std_pct']].tail().sort_values(['std_pct'], ascending=True)

      name     std_pct
7   ADVANC   13.471353
12    COM7   16.345224
8     GFPT   19.589997
11     BLA   35.333393
10     BAM  212.959576

In [85]:
sql = "SELECT name, id, market FROM tickers"
lt_tickers = pd.read_sql(sql, conlt)
lt_tickers.tail().style.format(format_dict)

In [87]:
df_merge4 = pd.merge(final3, lt_tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final4 = df_merge4[colv].copy()
final4.tail().style.format(format_dict)

In [89]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2025 AND quarter = 2
ORDER BY name

In [91]:
lt_profits = pd.read_sql(sql, conlt)
lt_profits.style.format(format_dict)

In [93]:
df_merge = pd.merge(
    final4, lt_profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.sample(5).style.format(format_dict)

In [95]:
final5 = df_merge[df_merge["_merge"] == "left_only"]
final5

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
0,ADVANC,2025,2,1.0,39612451.0,30780229.0,8832222.0,28.69,39612451.0,37207829.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,BAM,2025,2,1.0,2232876.0,1691342.0,541534.0,32.02,2232876.0,1395007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,BLA,2025,2,1.0,5579492.0,3033411.0,2546081.0,83.93,5579492.0,4264902.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,COM7,2025,2,1.0,3716936.0,2805210.0,911726.0,32.50,3716936.0,3466058.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,GFPT,2025,2,1.0,2205364.0,1544341.0,661023.0,42.80,2205364.0,2146335.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10,GUNKUL,2025,2,1.0,1750889.0,1318230.0,432659.0,32.82,1750889.0,1728234.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
16,TTW,2025,2,1.0,3130292.0,2840724.0,289568.0,10.19,3130292.0,2956380.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [97]:
final6 = final5[colw].copy()
final6.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
0,ADVANC,2025,2,1.0,39612451.0,30780229.0,8832222.0,28.69,39612451.0,37207829.0,...,10981885.0,8577263.0,2404622.0,28.034840,10583526.0,398359.0,3.763954,6.0,16.737199,13.471353
1,BAM,2025,2,1.0,2232876.0,1691342.0,541534.0,32.02,2232876.0,1395007.0,...,1293993.0,456124.0,837869.0,183.693250,216770.0,1077223.0,496.942843,709.0,193.179023,212.959576
2,BLA,2025,2,1.0,5579492.0,3033411.0,2546081.0,83.93,5579492.0,4264902.0,...,2128385.0,982985.0,1145400.0,116.522633,1189085.0,939300.0,78.993512,70.0,77.566536,35.333393
6,COM7,2025,2,1.0,3716936.0,2805210.0,911726.0,32.50,3716936.0,3466058.0,...,1003155.0,753044.0,250111.0,33.213331,980654.0,22501.0,2.294489,114.0,18.811955,16.345224
7,GFPT,2025,2,1.0,2205364.0,1544341.0,661023.0,42.80,2205364.0,2146335.0,...,642113.0,583084.0,59029.0,10.123584,638456.0,3657.0,0.572788,187.0,14.061593,19.589997
10,GUNKUL,2025,2,1.0,1750889.0,1318230.0,432659.0,32.82,1750889.0,1728234.0,...,484524.0,461869.0,22655.0,4.905070,366965.0,117559.0,32.035480,202.0,17.767638,16.994552
16,TTW,2025,2,1.0,3130292.0,2840724.0,289568.0,10.19,3130292.0,2956380.0,...,796563.0,622651.0,173912.0,27.930895,668684.0,127879.0,19.123981,581.0,15.781219,9.799397

In [99]:
rcds = final6.values.tolist()
len(rcds)

7

In [101]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
lt_profits = pd.read_sql(sql, conlt)
lt_profits.sample(5).style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2025 AND quarter = 2
ORDER BY name

In [103]:
# 1. First replace inf in the DataFrame
lt_profits['inc_pct_py'] = lt_profits['inc_pct_py'].replace([np.inf, -np.inf], 999.99)
lt_profits['mean_pct'] = lt_profits['mean_pct'].replace([np.inf, -np.inf], 999.99)

# Now when you print rcds, you'll see 999.99 instead of inf
lt_profits.style.format(format_dict)

In [105]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

# Check for empty records before attempting insertion
if not rcds:
    print("No records to insert - skipping database operation")
    # In notebook/script context, just proceed to next cell instead of 'return'
else:
    try:
        # Convert list data to dictionaries for named parameters
#        records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]
        conlt.execute(sql, records_dicts)
        conlt.commit()
        print(f"Successfully inserted {len(records_dicts)} records")
    except Exception as e:
        conlt.rollback()
        print("Insert failed:", e)
    finally:
        conlt.commit()

Successfully inserted 7 records

In [107]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
lt_profits = pd.read_sql(sql, conlt)
lt_profits.style.format(format_dict)

### End of Create Data

In [110]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:08:23 23:35:36