### Restart and Run All

In [2]:
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

current_time = datetime.now()
print(current_time)

2025-08-19 16:03:55.887000

In [3]:
format_dict = {
    "q_amt": "{:,}",
    "y_amt": "{:,}",
    "yoy_gain": "{:,}",
    "q_amt_c": "{:,}",
    "q_amt_p": "{:,}",
    "aq_amt": "{:,}",
    "ay_amt": "{:,}",
    "acc_gain": "{:,}",
    "latest_amt": "{:,}",
    "previous_amt": "{:,}",
    "inc_amt": "{:,}",
    "inc_amt_pq": "{:,}",
    "inc_amt_py": "{:,}",    
    "latest_amt_q": "{:,}",
    "previous_amt_q": "{:,}",
    "inc_amt_q": "{:,}",
    "latest_amt_y": "{:,}",
    "previous_amt_y": "{:,}",
    "inc_amt_y": "{:,}",
    "kind_x": "{:,}",
    "inc_pct": "{:.2f}%",
    "inc_pct_q": "{:.2f}%",
    "inc_pct_y": "{:.2f}%",
    "inc_pct_pq": "{:.2f}%",
    "inc_pct_py": "{:.2f}%",   
    "mean_pct": "{:.2f}%",
    "std_pct": "{:.2f}%",      
}

In [4]:
sql = '''
SELECT name, id AS ticker_id
FROM tickers'''

df_tickers   = pd.read_sql(sql, conpg)
df_tickers.shape

(396, 2)

In [5]:
# Delete old epss in PortPG
sql = text("DELETE FROM epss")
rp = conpg.execute(sql)
rp.rowcount

9797

In [6]:
sql = '''
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,publish_date
FROM epss 
ORDER BY year, quarter, name'''

df_epss   = pd.read_sql(sql, conlt)
df_epss.shape

(9831, 12)

In [7]:
# There are ticker records that have no epss
df_merge = pd.merge(df_epss, df_tickers, on='name', how='outer', indicator = True)
df_merge.shape

(10001, 14)

In [8]:
# There is no eps records that have no ticker
df_left = df_merge[df_merge['_merge'] == 'left_only']
df_left['name'].unique()
df_left

Empty DataFrame
Columns: [name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, publish_date, ticker_id, _merge]
Index: []

In [9]:
cols = 'name year quarter q_amt y_amt aq_amt ay_amt q_eps y_eps aq_eps ay_eps ticker_id publish_date'.split()
cols

['name',
 'year',
 'quarter',
 'q_amt',
 'y_amt',
 'aq_amt',
 'ay_amt',
 'q_eps',
 'y_eps',
 'aq_eps',
 'ay_eps',
 'ticker_id',
 'publish_date']

In [10]:
# epss from PortLT that will be copied to PortPG
df_ins = df_merge[df_merge["_merge"] == "both"]
df_epss_cols    = df_ins[cols]
df_epss_cols.shape

(9831, 13)

In [11]:
# Convert DataFrame to list of records
rcds = df_epss_cols.values.tolist()

# Define column names in the same order as values
columns = ['name', 'year', 'quarter', 'q_amt', 'y_amt', 'aq_amt', 'ay_amt', 
           'q_eps', 'y_eps', 'aq_eps', 'ay_eps', 'ticker_id', 'publish_date']

# SQL insert statement with named parameters
sql = text("""
    INSERT INTO epss 
    (name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, 
     q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date)
    VALUES (:name, :year, :quarter, :q_amt, :y_amt, :aq_amt, :ay_amt,
            :q_eps, :y_eps, :aq_eps, :ay_eps, :ticker_id, :publish_date)
""")

try:
    # Execute inserts
    for rcd in rcds:
        # Convert list to dictionary
        params = dict(zip(columns, rcd))
        conpg.execute(sql, params)
    
    # Commit the transaction
    conpg.commit()
except Exception as e:
    # Rollback on error
    conpg.rollback()
    raise e

### Start of Yearly Profit Section

In [13]:
sql = text("DELETE FROM yr_profits")
rp = conpg.execute(sql)
rp.rowcount

7286

In [14]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
ORDER BY year desc, quarter desc, name'''
df_yr_profits = pd.read_sql(sql, conlt)
df_yr_profits.shape

(7320, 7)

In [15]:
# Extract numeric portion from Q9 format
df_yr_profits["qtr_int"] = df_yr_profits["quarter"].str[1:]
df_yr_profits.shape

(7320, 8)

In [16]:
# There are ticker records that have no epss
df_merge = pd.merge(df_yr_profits, df_tickers, on='name', how='outer', indicator = True)
df_merge.shape

(7490, 10)

In [17]:
# There is no eps records that have no ticker
df_left = df_merge[df_merge['_merge'] == 'left_only']
df_left

Empty DataFrame
Columns: [name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, qtr_int, ticker_id, _merge]
Index: []

In [18]:
# quarter in numeric format 1..4
colt = 'name year qtr_int latest_amt previous_amt inc_amt inc_pct ticker_id'.split()
colt

['name',
 'year',
 'qtr_int',
 'latest_amt',
 'previous_amt',
 'inc_amt',
 'inc_pct',
 'ticker_id']

In [19]:
df_ins = df_merge[df_merge["_merge"] == "both"]
df_yr_profits_colt = df_ins[colt]
df_yr_profits_colt.shape

(7320, 8)

In [20]:
# Column names (ensure they match the actual column names in your table)
columns = ["name", "year", "quarter", "latest_amt", "previous_amt", "inc_amt", "inc_pct", "ticker_id"]

# Convert list of lists to list of dictionaries
rcds = [dict(zip(columns, row)) for row in df_yr_profits_colt.values.tolist()]

query = text("""
    INSERT INTO yr_profits (name, year, quarter, 
    latest_amt, previous_amt, inc_amt, inc_pct, ticker_id) 
    VALUES (:name, :year, :quarter, :latest_amt, :previous_amt, :inc_amt, :inc_pct, :ticker_id)
""")

conpg.execute(query, rcds)  # Bulk insert with named placeholders
conpg.commit()  # Commit transaction

In [21]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-19 16:03:58