### Restart and Run All

In [2]:
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

current_time = datetime.now()
print(current_time)

2025-08-03 16:41:29.921806

In [3]:
format_dict = {
    "q_amt": "{:,}",
    "y_amt": "{:,}",
    "yoy_gain": "{:,}",
    "q_amt_c": "{:,}",
    "q_amt_p": "{:,}",
    "aq_amt": "{:,}",
    "ay_amt": "{:,}",
    "acc_gain": "{:,}",
    "latest_amt": "{:,}",
    "previous_amt": "{:,}",
    "inc_amt": "{:,}",
    "inc_amt_pq": "{:,}",
    "inc_amt_py": "{:,}",    
    "latest_amt_q": "{:,}",
    "previous_amt_q": "{:,}",
    "inc_amt_q": "{:,}",
    "latest_amt_y": "{:,}",
    "previous_amt_y": "{:,}",
    "inc_amt_y": "{:,}",
    "kind_x": "{:,}",
    "inc_pct": "{:.2f}%",
    "inc_pct_q": "{:.2f}%",
    "inc_pct_y": "{:.2f}%",
    "inc_pct_pq": "{:.2f}%",
    "inc_pct_py": "{:.2f}%",   
    "mean_pct": "{:.2f}%",
    "std_pct": "{:.2f}%",      
}

In [4]:
sql = '''
SELECT name, id AS ticker_id
FROM tickers'''

tickers = pd.read_sql(sql, conpg)
tickers.shape

(396, 2)

In [5]:
# Delete old epss in PortPG
sql = text("DELETE FROM epss")
rp = conpg.execute(sql)
rp.rowcount

9706

In [6]:
sql = '''
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,publish_date
FROM epss 
ORDER BY year, quarter, name'''

df_inp = pd.read_sql(sql, conlt)
df_inp.shape

(9706, 12)

In [7]:
# There are ticker records that have no epss
df_merge = pd.merge(df_inp, tickers, on='name', how='outer', indicator = True)
df_merge.shape

(9876, 14)

In [8]:
# There is no eps records that have no ticker
df_left = df_merge[df_merge['_merge'] == 'left_only']
df_left['name'].unique()
df_left

Empty DataFrame
Columns: [name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, publish_date, ticker_id, _merge]
Index: []

In [9]:
cols = 'name year quarter q_amt y_amt aq_amt ay_amt q_eps y_eps aq_eps ay_eps ticker_id publish_date'.split()
cols

['name',
 'year',
 'quarter',
 'q_amt',
 'y_amt',
 'aq_amt',
 'ay_amt',
 'q_eps',
 'y_eps',
 'aq_eps',
 'ay_eps',
 'ticker_id',
 'publish_date']

In [10]:
# epss from PortLT that will be copied to PortPG
df_ins = df_merge[df_merge["_merge"] == "both"]
df_eps = df_ins[cols]
df_eps.shape

(9706, 13)

In [11]:
# Convert DataFrame to list of records
rcds = df_eps.values.tolist()

# Define column names in the same order as values
columns = ['name', 'year', 'quarter', 'q_amt', 'y_amt', 'aq_amt', 'ay_amt', 
           'q_eps', 'y_eps', 'aq_eps', 'ay_eps', 'ticker_id', 'publish_date']

# SQL insert statement with named parameters
sql = text("""
    INSERT INTO epss 
    (name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, 
     q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date)
    VALUES (:name, :year, :quarter, :q_amt, :y_amt, :aq_amt, :ay_amt,
            :q_eps, :y_eps, :aq_eps, :ay_eps, :ticker_id, :publish_date)
""")

try:
    # Execute inserts
    for rcd in rcds:
        # Convert list to dictionary
        params = dict(zip(columns, rcd))
        conpg.execute(sql, params)
    
    # Commit the transaction
    conpg.commit()
except Exception as e:
    # Rollback on error
    conpg.rollback()
    raise e

### Start of Yearly Profit Section

In [13]:
sql = text("DELETE FROM yr_profits")
rp = conpg.execute(sql)
rp.rowcount

7194

In [14]:
sql = '''
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
ORDER BY year desc, quarter desc, name'''
df_year = pd.read_sql(sql, conlt)
df_year.shape

(7194, 7)

In [15]:
# Extract numeric portion from Q9 format
df_year["qtr_int"] = df_year["quarter"].str[1:]
df_year.shape

(7194, 8)

In [16]:
# There are ticker records that have no epss
df_merge = pd.merge(df_year, tickers, on='name', how='outer', indicator = True)
df_merge.shape

(7364, 10)

In [17]:
# There is no eps records that have no ticker
df_left = df_merge[df_merge['_merge'] == 'left_only']
df_left

Empty DataFrame
Columns: [name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, qtr_int, ticker_id, _merge]
Index: []

In [18]:
# quarter in numeric format 1..4
colt = 'name year qtr_int latest_amt previous_amt inc_amt inc_pct ticker_id'.split()
colt

['name',
 'year',
 'qtr_int',
 'latest_amt',
 'previous_amt',
 'inc_amt',
 'inc_pct',
 'ticker_id']

In [19]:
df_ins = df_merge[df_merge["_merge"] == "both"]
df_eps = df_ins[colt]
df_eps.shape

(7194, 8)

In [20]:
# Column names (ensure they match the actual column names in your table)
columns = ["name", "year", "quarter", "latest_amt", "previous_amt", "inc_amt", "inc_pct", "ticker_id"]

# Convert list of lists to list of dictionaries
rcds = [dict(zip(columns, row)) for row in df_eps.values.tolist()]

query = text("""
    INSERT INTO yr_profits (name, year, quarter, 
    latest_amt, previous_amt, inc_amt, inc_pct, ticker_id) 
    VALUES (:name, :year, :quarter, :latest_amt, :previous_amt, :inc_amt, :inc_pct, :ticker_id)
""")

conpg.execute(query, rcds)  # Bulk insert with named placeholders
conpg.commit()  # Commit transaction

### Start of Profits section

In [22]:
sql = '''
SELECT * FROM profits
ORDER BY name, year DESC, quarter DESC'''
profits = pd.read_sql(sql, conpg)
profits.shape

(1, 24)

In [23]:
profits2 = profits.drop('id',axis=1)
profits2.shape

(1, 23)

In [24]:
dfc_hi = profits2.sort_values(['name','year','quarter'], ascending=False)
dfc_hi.shape

(1, 23)

In [25]:
dfc_hi_uniq = dfc_hi.drop_duplicates(subset='name')
dfc_hi_uniq.shape

(1, 23)

In [26]:
rcds = dfc_hi_uniq.values.tolist()
len(rcds)

1

In [27]:
sql = text('DELETE FROM profits')
print(sql)

DELETE FROM profits

In [28]:
rp = conpg.execute(sql)
rp.rowcount

1

In [29]:
rcds = dfc_hi_uniq.values.tolist()
print(f"Number of records to insert: {len(rcds)}")

# SQL query with parameter placeholders
sql = text("""
INSERT INTO profits (
    name, year, quarter, kind,
    latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
    latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
    q_amt_c, y_amt, inc_amt_py, inc_pct_py,
    q_amt_p, inc_amt_pq, inc_pct_pq,
    mean_pct, std_pct, publish_date, ticker_id
)
VALUES (
    :name, :year, :quarter, :kind,
    :latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
    :latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
    :q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
    :q_amt_p, :inc_amt_pq, :inc_pct_pq,
    :mean_pct, :std_pct, :publish_date, :ticker_id
)
""")

# Execute the query for each record
for rcd in rcds:
    # Convert tuple to dictionary
    params = {
        'name': rcd[0],
        'year': rcd[1],
        'quarter': rcd[2],
        'kind': rcd[3],
        'latest_amt_y': rcd[4],
        'previous_amt_y': rcd[5],
        'inc_amt_y': rcd[6],
        'inc_pct_y': rcd[7],
        'latest_amt_q': rcd[8],
        'previous_amt_q': rcd[9],
        'inc_amt_q': rcd[10],
        'inc_pct_q': rcd[11],
        'q_amt_c': rcd[12],
        'y_amt': rcd[13],
        'inc_amt_py': rcd[14],
        'inc_pct_py': rcd[15],
        'q_amt_p': rcd[16],
        'inc_amt_pq': rcd[17],
        'inc_pct_pq': rcd[18],
        'mean_pct': rcd[19],
        'std_pct': rcd[20],
        'publish_date': rcd[21],
        'ticker_id': rcd[22]
    }

    # Execute the query
    conpg.execute(sql, params)

print("Records inserted successfully!")

Number of records to insert: 1
Records inserted successfully!

In [30]:
sql = '''
SELECT * FROM profits
ORDER BY name'''
profits = pd.read_sql(sql, conpg)
profits.head().style.format(format_dict)

### End of Profits section

In [32]:
conpg.commit()
conpg.close()

In [33]:
conmy.commit()
conmy.close()

In [34]:
conlt.commit()
conlt.close()

In [35]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-03 16:41:32