In [3]:
import pandas as pd
import os
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2024"
quarter = "3"
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-02-15 15:16:52

In [5]:
today = date(2025, 2, 13)
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-02-13'

### Tables in the process

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")
#C:\Users\PC1\OneDrive\A5\Excel
xsl_path = os.path.join(base_path, "Excel")

In [10]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Excel path (xsl_path): {xsl_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Excel path (xsl_path): C:\Users\PC1\OneDrive\A5\Excel
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [12]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:,.2f}%','acc_pct':'{:,.2f}%'
              }

In [14]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 5', conlt).style.format(format_dict)

In [16]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
ORDER BY name
"""
sql = sql % (year, quarter, select_date)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.tail().style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2024 AND quarter = 3
AND publish_date >= '2025-02-13'
ORDER BY name

In [18]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[colt]
df_pct.tail().style.format(format_dict)

In [20]:
criteria_1 = df_pct.q_amt > 110_000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [22]:
criteria_2 = df_pct.y_amt > 100_000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [24]:
criteria_3 = df_pct.yoy_pct > 10.00
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [26]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3
#df_pct_criteria = criteria_1 & criteria_3 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [28]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [30]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [32]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'BCT', 'BLAND', 'BTS', 'BTSGIF', 'IMPACT', 'KYE', 'LHK', 'PTL', 'TMW', 'TR'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [35]:
sql = """
SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
LIMIT 12
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('BCT', 'BLAND', 'BTS', 'BTSGIF', 'IMPACT', 'KYE', 'LHK', 'PTL', 'TMW', 'TR')
ORDER BY E.name, year DESC, quarter DESC
LIMIT 12

### Delete from profits of older profit stocks

In [38]:
in_p

"'BCT', 'BLAND', 'BTS', 'BTSGIF', 'IMPACT', 'KYE', 'LHK', 'PTL', 'TMW', 'TR'"

In [40]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(in_p))

# Execute with parameters
rp = conlt.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [42]:
rp = conmy.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [44]:
rp = conpg.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [46]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'ADVANC', 'AIT', 'AYUD', 'BBL', 'BCH', 'BDMS', 'BDMS', 'BEM',
       'BH', 'CBG', 'CIMBT', 'CK', 'CKP', 'CPALL', 'CPAXT', 'CRC', 'EGATIF',
       'FPT', 'GPSC', 'GVREIT', 'ILM', 'IMPACT', 'INTUCH', 'KSL', 'KSL', 'KTB',
       'LHFG', 'M', 'MINT', 'MTC', 'MTI', 'OISHI', 'PLANB', 'PLANB', 'PTT',
       'RCL', 'ROJNA', 'SAUCE', 'SCB', 'SCCC', 'SJWD', 'SPC', 'SPI', 'STARK',
       'SVI', 'SYNEX', 'TFFIF', 'TFG', 'TIPH', 'TTB', 'TTB', 'VIBHA', 'VNT'],
      dtype='object', name='name')

In [48]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['2759', '2760', '2761', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CK', 'CKP',
       'CRC', 'MTC', 'PLANB', 'RCL', 'ROJNA', 'SYNEX', 'TFG'],
      dtype='object', name='name')

In [50]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['ADVANC', 'AIT', 'BBL', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CK', 'CKP',
       'CPALL', 'CPAXT', 'CRC', 'EGATIF', 'FPT', 'GPSC', 'GVREIT', 'ILM',
       'IMPACT', 'INTUCH', 'KSL', 'KTB', 'LHFG', 'M', 'MINT', 'MTC', 'PLANB',
       'PTT', 'RCL', 'ROJNA', 'SCB', 'SCCC', 'SJWD', 'SPC', 'SVI', 'SYNEX',
       'TFFIF', 'TFG', 'TIPH', 'TTB', 'VIBHA'],
      dtype='object', name='name')

### Portfolio that publish today

In [53]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('BCT', 'BLAND', 'BTS', 'BTSGIF', 'IMPACT', 'KYE', 'LHK', 'PTL', 'TMW', 'TR')
ORDER BY name

In [55]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

     name   id
0     BCT  706
1   BLAND   74
2     BTS   86
3  BTSGIF   87
4  IMPACT  228
5     KYE  270
6     LHK  278
7     PTL  388
8     TMW  554
9      TR  573

In [57]:
sql = """
SELECT name 
FROM buy
"""
buys = pd.read_sql(sql, const)
buys.shape

(31, 1)

In [59]:
df_merge = pd.merge(tickers, buys, on='name', how='inner')
df_merge

Empty DataFrame
Columns: [id, name, full_name, sector, subsector, market, website, created_at, updated_at]
Index: []

In [61]:
file_name = 'pub_stock.xlsx'
xsl_file = xsl_path + '\\' + file_name
df_merge[['id','name','sector','market']].to_excel(xsl_file, index=False)

### Portfolio that already published

In [64]:
sql = """
SELECT * 
FROM buy"""
buys = pd.read_sql(sql, const)
buys.shape

(31, 10)

In [66]:
	names = buys["name"].values.tolist()
	in_p = ", ".join(map(lambda name: "'%s'" % name, names))
	in_p

"'STA', 'SINGER', 'PTG', 'KCE', 'MCS', 'DIF', 'TMT', 'JMT', 'WHART', 'BCH', 'SENA', 'TFFIF', '3BBIF', 'ASP', 'IVL', 'PTTGC', 'WHAIR', 'ORI', 'AH', 'ASK', 'GVREIT', 'NER', 'AIMIRT', 'TOA', 'AWC', 'SYNEX', 'SCC', 'RCL', 'JMART', 'CPNREIT', 'TVO'"

In [68]:
sql = """
SELECT *
FROM epss
WHERE publish_date >= '2025-01-01'
AND name IN (%s)
ORDER BY publish_date, name"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, conlt)
df_tmp.style.format(format_dict)

In [70]:
df_tmp.shape

(7, 14)

### Not yet published

In [73]:
sql = """
SELECT name
FROM epss
WHERE publish_date >= '2024-10-01'
"""
epss = pd.read_sql(sql, conlt)
epss.shape

(282, 1)

In [75]:
	names = epss["name"].values.tolist()
	in_p = ", ".join(map(lambda name: "'%s'" % name, names))
	in_p

"'AEONTS', 'LPF', 'BBL', 'LHFG', 'TTB', 'KTC', 'BAY', 'KKP', 'TISCO', 'TRUE', 'DELTA', 'STANLY', 'PTTEP', 'MST', 'HMPRO', 'GLOBAL', 'SCGP', '3BBIF', 'ADVANC', 'SCC', 'MCS', 'NER', 'WHAIR', 'RCL', 'JMART', 'ASK', 'JMT', 'TMT', 'SINGER', 'STA', 'KEX', 'TCAP', 'STGT', 'CBG', 'SIS', 'SPRIME', 'WORK', 'WHAUP', 'WHA', 'KYE', 'INOX', 'TOP', 'THANI', 'INTUCH', 'BE8', 'ASW', 'S11', 'CPAXT', 'TPIPP', 'SMPC', 'SC', 'GPSC', 'AIT', 'OR', 'TIPH', 'PAP', 'BCP', 'LPN', 'BH', 'SGP', 'QH', 'BCPG', 'PDG', 'HFT', 'TU', 'III', 'DOHOME', 'SCCC', 'IRPC', 'DCC', 'PSL', 'PTTGC', 'AWC', 'IVL', 'MBAX', 'TPIPL', 'ILM', 'VGI', 'EGATIF', 'LIT', 'TTLPF', 'PTL', 'CKP', 'MAJOR', 'LANNA', 'RJH', 'TYCN', 'ICHI', 'BGC', 'BA', 'ASIAN', 'DRT', 'PTG', 'AH', 'KCE', 'SYNEX', 'DCON', 'BANPU', 'PLANB', 'TIDLOR', 'SNC', 'TK', 'BPP', 'MTC', 'COM7', 'EASTW', 'SPALI', 'BDMS', 'EPG', 'TASCO', 'MEGA', 'M', 'SUPEREIF', 'MINT', 'GFPT', 'AP', 'BEAUTY', 'BGRIM', 'VNG', 'WHART', 'DIF', 'TVO', 'BCH', 'GRAMMY', 'SAWAD', 'EGCO', 'TKN', 'PREB', 'TTA', 'FSMART', 'THG', 'SPC', 'BEM', 'OSP', 'TFG', 'BTSGIF', 'CRC', 'PTT', 'CPALL', 'CPNCG', 'HANA', 'GUNKUL', 'POPF', 'SVI', 'SIRI', 'UTP', 'IMH', 'SJWD', 'AIMIRT', 'ASP', 'SENA', 'TOA', 'ORI', 'CPNREIT', 'KBANK', 'KTB', 'VIBHA', 'RS', 'SABUY', 'CHG', 'FORTH', 'NOBLE', 'TQM', 'BTS', 'AJ', 'CK', 'PSH', 'EA', 'AMATA', 'CENTEL', 'SSP', 'TKS', 'PRM', 'ANAN', 'ROJNA', 'RBF', 'PCSGH', 'SPCG', 'LPH', 'LH', 'IMPACT', 'CPF', 'RATCH', 'HTC', 'BAM', 'AIE', 'SAPPE', 'ACE', 'BJC', 'BKIH', 'BLA', 'CPTGF', 'ECL', 'GC', 'KGI', 'LALIN', 'ONEE', 'SKN', 'SKR', 'SPRC', 'SUPER', 'TIPCO', 'TSE', 'TTW', 'WICE', 'FPT', 'BCT', 'BLAND', 'EPG', 'LHK', 'TMW', 'TR', 'TSTH', 'BEC', 'CPN', 'GGC', 'GULF', 'IP', 'SAT', 'SCB', 'KGI', 'GVREIT', 'TFFIF', 'AEONTS', 'TSTH', 'TISCO', 'LHFG', 'KTC', 'TTB', 'BAY', 'KKP', 'KBANK', 'SCB', 'BBL', 'KTB', 'STANLY', 'MST', 'SCGP', 'SCC', 'PTTEP', 'SVI', 'ADVANC', 'MBAX', '3BBIF', 'FPT', 'JMART', 'SINGER', 'JMT', 'OR', 'GGC', 'GULF', 'INTUCH', 'DCC', 'IRPC', 'PSL', 'SMPC', 'DELTA', 'TOP', 'TR', 'SIS', 'TPIPL', 'PTL', 'BLAND', 'MINT', 'EPG', 'BTS', 'S11', 'TPIPP', 'TTLPF', 'EGATIF', 'IMPACT', 'INOX', 'BTSGIF', 'BCT', 'KYE', 'AOT', 'TFFIF', 'LHK', 'TMW', 'GVREIT', 'DRT', 'GLOBAL'"

In [77]:
sql = """
SELECT *
FROM buy
WHERE name NOT IN (%s)
ORDER BY name
"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, const)
df_tmp

Empty DataFrame
Columns: [name, date, volbuy, price, volsell, volbal, active, dividend, period, grade]
Index: []

### Comparison check between EPS and Buy

In [80]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
buy = pd.read_sql(sql, const)
buy.shape

(31, 1)

In [82]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
AND quarter = %s
'''
sql = sql % (select_date, quarter)
print(sql)
tdy_df = pd.read_sql(sql, conlt)
tdy_df.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-02-13'
AND quarter = 3

(10, 14)

In [84]:
tdy_buy_df = tdy_df.merge(buy, on='name', how='inner')
tdy_buy_df.sort_values(by='name')

Empty DataFrame
Columns: [id, name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date]
Index: []

In [86]:
tdy_buy_df.shape

(0, 14)

In [88]:
sql = """
SELECT * 
FROM tickers
ORDER BY name"""
print(sql)
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].shape

SELECT *
FROM tickers
ORDER BY name

(396, 3)

In [90]:
tmp_df = tdy_buy_df.merge(tickers, on='name', how='inner')
tmp_df.shape

(0, 22)

In [92]:
tmp_df[['name','id_y','market']].sort_values(by='name')

Empty DataFrame
Columns: [name, id_y, market]
Index: []

In [94]:
const.close()
conpg.close()
conmy.close()
conlt.close()