In [88]:
import numpy as np
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2025
quarter = 3
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-08-16 16:50:03

In [2]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
ORDER BY publish_date ASC LIMIT 2
"""
sql = sql % (year, quarter)
print(sql)

df_tmp = pd.read_sql(sql, conlt)
df_tmp

SELECT *
FROM epss
WHERE year = 2025 AND quarter = 3
ORDER BY publish_date ASC LIMIT 2

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,24354,MC,2025,3,188485,164658,625659,576728,0.24,0.21,0.79,0.73,291,2025-05-14
1,24533,AOT,2025,3,3864797,4562722,14262366,14910347,0.27,0.32,1.00,1.04,24,2025-08-13

In [3]:
# Must modify select date to latest unprocess date
select_date = date(2025, 8, 13)
select_date = select_date.strftime("%Y-%m-%d")
select_date

'2025-08-13'

In [4]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

format_dict = {
    "q_amt": "{:,}",
    "y_amt": "{:,}",
    "yoy_gain": "{:,}",
    "q_amt_c": "{:,}",
    "q_amt_p": "{:,}",
    "aq_amt": "{:,}",
    "ay_amt": "{:,}",
    "acc_gain": "{:,}",
    "latest_amt": "{:,}",
    "previous_amt": "{:,}",
    "inc_amt": "{:,}",
    "inc_amt_pq": "{:,}",
    "inc_amt_py": "{:,}",    
    "latest_amt_q": "{:,}",
    "previous_amt_q": "{:,}",
    "inc_amt_q": "{:,}",
    "latest_amt_y": "{:,}",
    "previous_amt_y": "{:,}",
    "inc_amt_y": "{:,}",
    "kind_x": "{:,}",
    "inc_pct": "{:.2f}%",
    "inc_pct_q": "{:.2f}%",
    "inc_pct_y": "{:.2f}%",
    "inc_pct_pq": "{:.2f}%",
    "inc_pct_py": "{:.2f}%",   
    "mean_pct": "{:.2f}%",
    "std_pct": "{:.2f}%",      
}

### Process for specified stocks

In [6]:
names = """
SINGER
""".split()
names

['SINGER']

In [7]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SINGER'"

In [8]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.style.format(format_dict)

### End of Process for specified stocks

In [10]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, select_date)
print(sql)
df_epss_inp = pd.read_sql(sql, conlt)
df_epss_inp.tail().style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2025 AND quarter = 3
AND publish_date >= '2025-08-13'

### End of Normal Process

In [12]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
df_qt_profits = pd.read_sql(sql, conlt)
df_qt_profits.style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2025 AND quarter = 'Q3'

In [13]:
df_merge = pd.merge(df_epss_inp, df_qt_profits, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head().style.format(format_dict)

### Delete duplicated year and quarter

In [15]:
columns = ["year_q", "quarter_q"]
epss_inp_qt_profits = df_merge.drop(columns, axis=1)
epss_inp_qt_profits.style.format(format_dict)

In [16]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
df_yr_profits = pd.read_sql(sql, conlt)
df_yr_profits.tail().style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2025 AND quarter = 'Q3'

In [17]:
df_merge2 = pd.merge(
    epss_inp_qt_profits, df_yr_profits, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head(7).style.format(format_dict)

### Delete duplicated year and quarter

In [19]:
columns = ["year_e", "quarter_e"]
df_aggr = df_merge2.drop(columns, axis=1)
df_aggr.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent

### Must manually select interested stock name

In [22]:
df_aggr[df_aggr["name"] == "FPT"].style.format(format_dict)

In [23]:
criteria_1 = df_aggr.latest_amt_y > 440_000
df_aggr.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [24]:
criteria_2 = df_aggr.previous_amt_y >= 400_000
df_aggr.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [25]:
criteria_3 = df_aggr.inc_pct_y >= 10.00
df_aggr.loc[criteria_3, cols].style.format(format_dict)

In [26]:
df_aggr_criteria = criteria_1 & criteria_2 & criteria_3
#df_aggr_criteria = criteria_1 & criteria_2 
filter = df_aggr.loc[df_aggr_criteria]
filter.sort_values('name').style.format(format_dict)

### If there is no record, not necessary to run the rest

In [28]:
final = filter.drop(colt, axis=1)
final.style.format(format_dict)

In [29]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [30]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2025 AND A.quarter = 3
AND B.year = 2025 AND B.quarter = (3-1)

In [31]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [32]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [34]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
0,FPT,1825089,1511634,313455,20.74,1825089,1636546,188543,11.52,2025,3,644152,330697,222210

In [35]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

### If there is no record in the above statement, no need to further process

In [37]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [38]:
final2.loc[:, "kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [39]:
final2.kind.value_counts()

kind
1    1
Name: count, dtype: int64

In [40]:
final2.loc[:, "inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2.loc[:, "inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2.loc[:, "inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2.loc[:, "inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [41]:
final2.loc[:, 'inc_pct_py'] = final2['inc_pct_py'].replace('inf', np.nan)

In [42]:
final2.loc[:, 'mean_pct'] = final2[['inc_pct_y', 'inc_pct_q', 'inc_pct_py', 'inc_pct_pq']].mean(axis=1, skipna=True)

In [43]:
final2[['name','mean_pct']].sample().sort_values(['mean_pct'], ascending=False)

  name   mean_pct
0  FPT  79.232627

In [60]:
# First ensure it's a copy
final3 = final2.copy()
# Then perform operations
final3['std_pct'] = final3[['inc_pct_y', 'inc_pct_q', 'inc_pct_py', 'inc_pct_pq']].std(axis=1)

In [62]:
final3[['name','std_pct']].sample().sort_values(['std_pct'], ascending=True)

  name    std_pct
0  FPT  82.648053

In [64]:
sql = "SELECT name, id FROM tickers"
lt_tickers = pd.read_sql(sql, conlt)
lt_tickers.head().style.format(format_dict)

In [66]:
df_merge4 = pd.merge(final3, lt_tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final4 = df_merge4[colv].copy()
final4.style.format(format_dict)

In [70]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2025 AND quarter = 3
ORDER BY name

In [72]:
lt_profits = pd.read_sql(sql, conlt)
lt_profits.style.format(format_dict)

In [74]:
df_merge = pd.merge(
    final4, lt_profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [76]:
final5 = df_merge[df_merge["_merge"] == "left_only"]
final5

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
0,FPT,2025,3,1,1825089,1636546,188543,11.52,1825089,1511634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [78]:
final6 = final5[colw].copy()
final6.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
0,FPT,2025,3,1,1825089,1636546,188543,11.52,1825089,1511634,...,644152,330697,313455,94.786164,222210,421942,189.884344,746,79.232627,82.648053

In [80]:
rcds = final6.values.tolist()
len(rcds)

1

In [82]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
lt_profits = pd.read_sql(sql, conlt)
lt_profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2025 AND quarter = 3
ORDER BY name

In [84]:
# 1. First replace inf in the DataFrame
lt_profits['inc_pct_py'] = lt_profits['inc_pct_py'].replace([np.inf, -np.inf], 999.99)
lt_profits['mean_pct'] = lt_profits['mean_pct'].replace([np.inf, -np.inf], 999.99)

# Now when you print rcds, you'll see 999.99 instead of inf
lt_profits.style.format(format_dict)

In [90]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)

In [92]:
records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

# Check for empty records before attempting insertion
if not rcds:
    print("No records to insert - skipping database operation")
    # In notebook/script context, just proceed to next cell instead of 'return'
else:
    try:
        # Convert list data to dictionaries for named parameters
#        records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]
        conlt.execute(sql, records_dicts)
        conlt.commit()
        print(f"Successfully inserted {len(records_dicts)} records")
    except Exception as e:
        conlt.rollback()
        print("Insert failed:", e)
    finally:
        conlt.commit()

Successfully inserted 1 records

In [94]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
lt_profits = pd.read_sql(sql, conlt)
lt_profits.style.format(format_dict)

### End of Create Data

In [96]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:08:16 16:52:34