In [1]:
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2024
quarter = 3
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-02-15 15:25:52

In [3]:
# Must modify select date to latest unprocess date
select_date = date(2025, 2, 13)
select_date = select_date.strftime("%Y-%m-%d")
select_date

'2025-02-13'

In [5]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

format_dict = {
    "q_amt": "{:,}",
    "y_amt": "{:,}",
    "yoy_gain": "{:,}",
    "q_amt_c": "{:,}",
    "q_amt_p": "{:,}",
    "aq_amt": "{:,}",
    "ay_amt": "{:,}",
    "acc_gain": "{:,}",
    "latest_amt": "{:,}",
    "previous_amt": "{:,}",
    "inc_amt": "{:,}",
    "inc_amt_pq": "{:,}",
    "inc_amt_py": "{:,}",    
    "latest_amt_q": "{:,}",
    "previous_amt_q": "{:,}",
    "inc_amt_q": "{:,}",
    "latest_amt_y": "{:,}",
    "previous_amt_y": "{:,}",
    "inc_amt_y": "{:,}",
    "kind_x": "{:,}",
    "inc_pct": "{:.2f}%",
    "inc_pct_q": "{:.2f}%",
    "inc_pct_y": "{:.2f}%",
    "inc_pct_pq": "{:.2f}%",
    "inc_pct_py": "{:.2f}%",   
    "mean_pct": "{:.2f}%",
    "std_pct": "{:.2f}%",      
}

### Process for specified stocks

In [4]:
names = """
SINGER
""".split()
names

['SINGER']

In [5]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SINGER'"

In [6]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [7]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, select_date)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.tail().style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2024 AND quarter = 3
AND publish_date >= '2025-02-13'

### End of Normal Process

In [10]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2024 AND quarter = 'Q3'

In [12]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head().style.format(format_dict)

### Delete duplicated year and quarter

In [15]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.style.format(format_dict)

In [17]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2024 AND quarter = 'Q3'

In [19]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head(7).style.format(format_dict)

### Delete duplicated year and quarter

In [22]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent

### Must manually select interested stock name

In [26]:
profits[profits["name"] == "PTL"].style.format(format_dict)

In [28]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [30]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [32]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [34]:
profits_criteria = criteria_1 & criteria_2 & criteria_3
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

### If there is no record, not necessary to run the rest

In [37]:
final = filter.drop(colt, axis=1)
final.style.format(format_dict)

In [39]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [41]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2024 AND A.quarter = 3
AND B.year = 2024 AND B.quarter = (3-1)

In [43]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [45]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [48]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

Empty DataFrame
Columns: [name, latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q, latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y, year, quarter, q_amt_c, y_amt, q_amt_p]
Index: []

In [50]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

### If there is no record in the above statement, no need to further process

In [52]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [54]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [56]:
final2.kind.value_counts()

Series([], Name: count, dtype: int64)

In [58]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [60]:
import numpy as np

final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

C:\Users\PC1\AppData\Local\Temp\ipykernel_155292\2720956829.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [62]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [64]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

Empty DataFrame
Columns: [name, mean_pct]
Index: []

In [30]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [31]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

     name     std_pct
11   GULF   29.021152
3      CK   39.075919
2   VIBHA   69.502603
6   ROJNA  280.112477

In [32]:
sql = "SELECT name, id FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [33]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [34]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [35]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [36]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
0,VIBHA,2024,3,1.0,1023556.0,834338.0,189218.0,22.68,1023556.0,953845.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,CK,2024,3,1.0,1773101.0,1456951.0,316150.0,21.70,1773101.0,1406435.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,ROJNA,2024,3,1.0,3647560.0,1174631.0,2472929.0,210.53,3647560.0,1652478.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,GULF,2024,3,1.0,19032052.0,15500861.0,3531191.0,22.78,19032052.0,16362607.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [37]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
1,CK,2024,3,1.0,1773101.0,1456951.0,316150.0,21.70,1773101.0,1406435.0,...,1007708.0,641042.0,366666.0,57.198436,488081.0,519627.0,106.463271,106.0,52.857927,39.075919
3,GULF,2024,3,1.0,19032052.0,15500861.0,3531191.0,22.78,19032052.0,16362607.0,...,6029749.0,3360304.0,2669445.0,79.440580,4741260.0,1288489.0,27.176088,653.0,36.426667,29.021152
2,ROJNA,2024,3,1.0,3647560.0,1174631.0,2472929.0,210.53,3647560.0,1652478.0,...,2262762.0,267680.0,1995082.0,745.323521,628511.0,1634251.0,260.019475,404.0,334.150749,280.112477
0,VIBHA,2024,3,1.0,1023556.0,834338.0,189218.0,22.68,1023556.0,953845.0,...,361431.0,291720.0,69711.0,23.896545,141104.0,220327.0,156.145113,610.0,52.507914,69.502603

In [38]:
rcds = final5.values.tolist()
len(rcds)

4

In [39]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2024 AND quarter = 3
ORDER BY name

In [40]:
for rcd in rcds:
    print(rcd)

['VIBHA', 2024, 3, 1.0, 1023556.0, 834338.0, 189218.0, 22.68, 1023556.0, 953845.0, 69711.0, 7.31, 361431.0, 291720.0, 69711.0, 23.896544631838747, 141104.0, 220327.0, 156.14511282458326, 610.0, 52.5079143641055, 69.50260263920661]
['CK', 2024, 3, 1.0, 1773101.0, 1456951.0, 316150.0, 21.7, 1773101.0, 1406435.0, 366666.0, 26.07, 1007708.0, 641042.0, 366666.0, 57.19843629590573, 488081.0, 519627.0, 106.46327146518712, 106.0, 52.85792694027321, 39.075919371030665]
['ROJNA', 2024, 3, 1.0, 3647560.0, 1174631.0, 2472929.0, 210.53, 3647560.0, 1652478.0, 1995082.0, 120.73, 2262762.0, 267680.0, 1995082.0, 745.3235206216377, 628511.0, 1634251.0, 260.0194745994899, 404.0, 334.1507488052819, 280.1124772029414]
['GULF', 2024, 3, 1.0, 19032052.0, 15500861.0, 3531191.0, 22.78, 19032052.0, 16362607.0, 2669445.0, 16.31, 6029749.0, 3360304.0, 2669445.0, 79.4405803760612, 4741260.0, 1288489.0, 27.17608821283794, 653.0, 36.42666714722479, 29.021151844924923]

In [41]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [42]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

In [43]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(394, 2)

In [44]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [45]:
print(final3.name)

0    VIBHA
1       CK
2    ROJNA
3     GULF
Name: name, dtype: object

In [46]:
sr = final3['name']
names = sr.values.tolist()
names

['VIBHA', 'CK', 'ROJNA', 'GULF']

In [47]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'VIBHA', 'CK', 'ROJNA', 'GULF'"

In [48]:
sqlDel = """
DELETE FROM profits
WHERE name IN (%s)
AND year = %s AND quarter = %s
"""
sqlDel = sqlDel % (in_p, year, quarter)
print(sqlDel)

DELETE FROM profits
WHERE name IN ('VIBHA', 'CK', 'ROJNA', 'GULF')
AND year = 2024 AND quarter = 3

In [49]:
rp = conmy.execute(sqlDel)
rp.rowcount

0

In [50]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('VIBHA', 'CK', 'ROJNA', 'GULF') AND year = 2024 AND quarter = 3

In [51]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [52]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [53]:
rcds = profits_inp.values.tolist()
len(rcds)

4

In [54]:
for rcd in rcds:
    print(rcd)

[2756, 'CK', 2024, 3, 1, 1773101, 1456951, 316150, 21.7, 1773101, 1406435, 366666, 26.07, 1007708, 641042, 366666, 57.19843629590573, 488081, 519627, 106.46327146518712, 106, 52.85792694027321, 39.075919371030665]
[2758, 'GULF', 2024, 3, 1, 19032052, 15500861, 3531191, 22.78, 19032052, 16362607, 2669445, 16.31, 6029749, 3360304, 2669445, 79.4405803760612, 4741260, 1288489, 27.17608821283794, 653, 36.42666714722479, 29.021151844924923]
[2757, 'ROJNA', 2024, 3, 1, 3647560, 1174631, 2472929, 210.53, 3647560, 1652478, 1995082, 120.73, 2262762, 267680, 1995082, 745.3235206216377, 628511, 1634251, 260.0194745994899, 404, 334.1507488052819, 280.1124772029414]
[2755, 'VIBHA', 2024, 3, 1, 1023556, 834338, 189218, 22.68, 1023556, 953845, 69711, 7.31, 361431, 291720, 69711, 23.896544631838747, 141104, 220327, 156.14511282458326, 610, 52.5079143641055, 69.50260263920661]

In [55]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [56]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [57]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['ADVANC', 'ADVANC', 'ADVANC', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CK',
       'CKP', 'CRC', 'GULF', 'INTUCH', 'MTC', 'PLANB', 'RCL', 'ROJNA', 'SYNEX',
       'TFG', 'VIBHA'],
      dtype='object', name='name')

### After call 350-Export-to-PortPg

In [58]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('VIBHA', 'CK', 'ROJNA', 'GULF') AND year = 2024 AND quarter = 3

In [59]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

    name  ticker_id
2     CK        109
1   GULF        207
0  ROJNA        409
3  VIBHA        619

In [60]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('VIBHA', 'CK', 'ROJNA', 'GULF')
ORDER BY name

In [61]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

    name   id
0     CK  109
1   GULF  207
2  ROJNA  409
3  VIBHA  619

In [62]:
sql = """
SELECT * 
FROM profits 
WHERE year = %s AND quarter = %s"""
sql = sql % (year, quarter)
tmp = pd.read_sql(sql, conmy)
tmp.shape

(18, 23)

In [63]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('VIBHA', 'CK', 'ROJNA', 'GULF')
ORDER BY name

In [64]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

    name   id                      market
0     CK  109  SET100 / SETCLMV / SETTHSI
1   GULF  207   SET50 / SETCLMV / SETTHSI
2  ROJNA  409                        sSET
3  VIBHA  619                       SETWB