In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2025
quarter = 3
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-08-16 16:53:52

### Insert Profits from PortLt to PortMy

In [4]:
sql = """
SELECT * 
FROM profits 
WHERE  year = %s AND quarter = %s"""
sql = sql % (year, quarter)
print(sql)

lt_profits = pd.read_sql(sql, conlt)
lt_profits

SELECT *
FROM profits
WHERE  year = 2025 AND quarter = 3

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2811,FPT,2025,3,1,1825089,1636546,188543,11.52,1825089,...,644152,330697,313455,94.786164,222210,421942,189.884344,746,79.232627,82.648053

In [6]:
lt_profits = lt_profits.drop(columns=['id'])
lt_profits.shape

(1, 22)

In [8]:
sql = """
SELECT * 
FROM profits 
WHERE  year = %s AND quarter = %s"""
sql = sql % (year, quarter)
print(sql)

my_profits = pd.read_sql(sql, conmy)
my_profits

SELECT *
FROM profits
WHERE  year = 2025 AND quarter = 3

Empty DataFrame
Columns: [id, name, year, quarter, kind, latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y, latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q, q_amt_c, y_amt, inc_amt_py, inc_pct_py, q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct]
Index: []

[0 rows x 23 columns]

In [10]:
sqlDel = text("DELETE FROM profits WHERE year = :year AND quarter = :quarter")
print(sqlDel)  # Shows the uncompiled SQL with placeholders

# Execute and get the result
result = conmy.execute(sqlDel, {"year": year, "quarter": quarter})
rows_deleted = result.rowcount  # Get the number of rows deleted
#conmy.commit()  # Commit the transaction

print(f"Number of rows deleted: {rows_deleted}")

DELETE FROM profits WHERE year = :year AND quarter = :quarter
Number of rows deleted: 0

In [12]:
# Define SQL statement using named placeholders
sqlInsMy = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")
print(sqlInsMy)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)

In [14]:
rcds = lt_profits.values.tolist()
print(f"Number of rows to insert: {len(rcds)}")

Number of rows to insert: 1

In [16]:
# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]
#print(records_dicts)

# Insert data using transactions
try:
    result = conmy.execute(sqlInsMy, records_dicts)  # Bulk insert using named parameters
    rows_insert = result.rowcount
    print(f"{rows_insert} rows inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
finally:
    conmy.commit()

1 rows inserted successfully!

In [54]:
sql = """
SELECT * 
FROM profits 
WHERE  year = %s AND quarter = %s"""
sql = sql % (year, quarter)
print(sql)

my_profits = pd.read_sql(sql, conmy)
my_profits

SELECT *
FROM profits
WHERE  year = 2025 AND quarter = 3

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,209,FPT,2025,3,1,1825089,1636546,188543,11.52,1825089,...,644152,330697,313455,94.786164,222210,421942,189.884344,746,79.232627,82.648053

### PortPg Process

In [58]:
sql = """
SELECT * 
FROM profits 
WHERE  year = %s AND quarter = %s"""
sql = sql % (year, quarter)
print(sql)

pg_profits = pd.read_sql(sql, conpg)
pg_profits

SELECT *
FROM profits
WHERE  year = 2025 AND quarter = 3

Empty DataFrame
Columns: [id, name, year, quarter, kind, latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y, latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q, q_amt_c, y_amt, inc_amt_py, inc_pct_py, q_amt_p, inc_amt_pq, inc_pct_pq, mean_pct, std_pct, publish_date, ticker_id]
Index: []

[0 rows x 24 columns]

In [60]:
sqlDel = text("DELETE FROM profits WHERE year = :year AND quarter = :quarter")
print(sqlDel)  # Shows the uncompiled SQL with placeholders

# Execute and get the result
result = conpg.execute(sqlDel, {"year": year, "quarter": quarter})
rows_deleted = result.rowcount  # Get the number of rows deleted

print(f"Number of rows deleted: {rows_deleted}")

DELETE FROM profits WHERE year = :year AND quarter = :quarter
Number of rows deleted: 0

In [62]:
sql = 'SELECT name, id FROM tickers'
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape

(396, 2)

In [64]:
pg_tickers.query('name == "FPT"')

    name   id
104  FPT  722

In [90]:
df_merge = pd.merge(my_profits, pg_tickers, on="name", how="inner")
df_merge

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct,id_y
0,209,FPT,2025,3,1,1825089,1636546,188543,11.52,1825089,...,330697,313455,94.786164,222210,421942,189.884344,746,79.232627,82.648053,722

In [92]:
df_merge = df_merge.drop(columns=['ticker_id']).rename(columns={'id_y': 'ticker_id'})

In [ ]:
#df_merge.rename(columns={"id_y": "ticker_id"}, inplace=True)

In [94]:
df_merge

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,mean_pct,std_pct,ticker_id
0,209,FPT,2025,3,1,1825089,1636546,188543,11.52,1825089,...,644152,330697,313455,94.786164,222210,421942,189.884344,79.232627,82.648053,722

In [96]:
df_merge.dtypes

id_x                int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
mean_pct          float64
std_pct           float64
ticker_id           int64
dtype: object

In [98]:
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

In [100]:
final = df_merge[colv].copy()
final.sort_values(by=['ticker_id'],ascending=True).style.format(format_dict)

In [102]:
# Define SQL statement using named placeholders
sqlInsPg = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]
print(sqlInsPg)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)

In [80]:
rcds = final.values.tolist()
print(f"Number of rows to insert: {len(rcds)}")

Number of rows to insert: 1

In [82]:
records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]
#print(records_dicts)

# Check for empty records before attempting insertion
if not rcds:
    print("No records to insert - skipping database operation")
    # In notebook/script context, just proceed to next cell instead of 'return'
try:
    result = conpg.execute(sqlInsPg, records_dicts)  # Bulk insert using named parameters
    rows_insert = result.rowcount
    print(f"{rows_insert} rows inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
finally:
    conpg.commit()

Error inserting data: (psycopg2.errors.ForeignKeyViolation) insert or update on table "profits" violates foreign key constraint "fk_rails_47a7f1c194"
DETAIL:  Key (ticker_id)=(746) is not present in table "tickers".

[SQL:
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (%(name)s, %(year)s, %(quarter)s, %(kind)s,
%(latest_amt_y)s, %(previous_amt_y)s, %(inc_amt_y)s, %(inc_pct_y)s,
%(latest_amt_q)s, %(previous_amt_q)s, %(inc_amt_q)s, %(inc_pct_q)s,
%(q_amt_c)s, %(y_amt)s, %(inc_amt_py)s, %(inc_pct_py)s,
%(q_amt_p)s, %(inc_amt_pq)s, %(inc_pct_pq)s,
%(ticker_id)s, %(mean_pct)s, %(std_pct)s)
]
[parameters: {'name': 'FPT', 'year': 2025, 'quarter': 3, 'kind': 1, 'latest_amt_y': 1825089, 'previous_amt_y': 1636546, 'inc_amt_y': 188543, 'inc_pct_y': 11.52, 'latest_amt_q': 1825089, 'previous_amt_q': 1511634, 'inc_amt_q': 313455, 'inc_pct_q': 20.74, 'q_amt_c': 644152, 'y_amt': 330697, 'inc_amt_py': 313455, 'inc_pct_py': 94.786163769251, 'q_amt_p': 222210, 'inc_amt_pq': 421942, 'inc_pct_pq': 189.88434363890013, 'ticker_id': 746, 'mean_pct': 79.23262685203778, 'std_pct': 82.64805335430906}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [44]:
sql = """
SELECT * 
FROM profits 
WHERE  year = %s AND quarter = %s"""
sql = sql % (year, quarter)
print(sql)

pg_profits = pd.read_sql(sql, conpg)
pg_profits

SELECT *
FROM profits
WHERE  year = 2025 AND quarter = 3

Empty DataFrame
Columns: [id, name, year, quarter, kind, latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y, latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q, q_amt_c, y_amt, inc_amt_py, inc_pct_py, q_amt_p, inc_amt_pq, inc_pct_pq, mean_pct, std_pct, publish_date, ticker_id]
Index: []

[0 rows x 24 columns]