In [1]:
import pandas as pd
import os
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2024"
quarter = "4"
select_date = date.today()
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-22

In [2]:
select_date = date(2025, 2, 20)
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-20

In [3]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")
#C:\Users\PC1\OneDrive\A5\Excel
xsl_path = os.path.join(base_path, "Excel")

In [4]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Excel path (xsl_path): {xsl_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Excel path (xsl_path): C:\Users\PC1\OneDrive\A5\Excel
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

### Restart and Run All

In [6]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [7]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 5', conlt).style.format(format_dict)

In [8]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, select_date)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2024 AND quarter = 4
AND publish_date >= '2025-02-20'

In [9]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[colt]
df_pct.head().style.format(format_dict)

In [10]:
criteria_1 = df_pct.q_amt > 110_000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [11]:
criteria_2 = df_pct.y_amt > 100_000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [12]:
criteria_3 = df_pct.yoy_pct > 10.00
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [13]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3
#df_pct_criteria = criteria_1 & criteria_2 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [14]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [15]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [16]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'CPNREIT', 'MCS', 'TMT', 'TFG', 'WORK', 'BE8', 'CBG', 'MAJOR', 'ROJNA', 'SPRIME', 'LIT', 'BEC', 'WHA', 'LANNA', 'RCL', 'TCAP', 'ASW', 'BCP', 'EASTW', 'LPH', 'PREB', 'PTT', 'TRUE', 'CKP', 'BCPG', 'GFPT', 'AIMIRT'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [18]:
sql = """
SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.shape

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('CPNREIT', 'MCS', 'TMT', 'TFG', 'WORK', 'BE8', 'CBG', 'MAJOR', 'ROJNA', 'SPRIME', 'LIT', 'BEC', 'WHA', 'LANNA', 'RCL', 'TCAP', 'ASW', 'BCP', 'EASTW', 'LPH', 'PREB', 'PTT', 'TRUE', 'CKP', 'BCPG', 'GFPT', 'AIMIRT')
ORDER BY E.name, year DESC, quarter DESC

(1141, 11)

### Delete from profits of older profit stocks

In [20]:
in_p

"'CPNREIT', 'MCS', 'TMT', 'TFG', 'WORK', 'BE8', 'CBG', 'MAJOR', 'ROJNA', 'SPRIME', 'LIT', 'BEC', 'WHA', 'LANNA', 'RCL', 'TCAP', 'ASW', 'BCP', 'EASTW', 'LPH', 'PREB', 'PTT', 'TRUE', 'CKP', 'BCPG', 'GFPT', 'AIMIRT'"

In [21]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(in_p))
print(sqlDel)
# Execute with parameters
rp = conlt.execute(sqlDel, {'quarter': quarter})
rp.rowcount

    DELETE FROM profits
    WHERE name IN ('CPNREIT', 'MCS', 'TMT', 'TFG', 'WORK', 'BE8', 'CBG', 'MAJOR', 'ROJNA', 'SPRIME', 'LIT', 'BEC', 'WHA', 'LANNA', 'RCL', 'TCAP', 'ASW', 'BCP', 'EASTW', 'LPH', 'PREB', 'PTT', 'TRUE', 'CKP', 'BCPG', 'GFPT', 'AIMIRT')
    AND quarter < :quarter

5

In [22]:
rp = conmy.execute(sqlDel, {'quarter': quarter})
rp.rowcount

5

In [23]:
rp = conpg.execute(sqlDel, {'quarter': quarter})
rp.rowcount

5

In [24]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'ADVANC', 'AYUD', 'BBL', 'BCH', 'BDMS', 'BDMS', 'BEM', 'BH',
       'CIMBT', 'CK', 'CPALL', 'CPAXT', 'CRC', 'EGATIF', 'FPT', 'GPSC',
       'GVREIT', 'ILM', 'IMPACT', 'INTUCH', 'KSL', 'KSL', 'KTB', 'LHFG', 'M',
       'MINT', 'MTI', 'OISHI', 'PLANB', 'PLANB', 'PTT', 'SAUCE', 'SCB', 'SCCC',
       'SJWD', 'SPC', 'SPI', 'STARK', 'SVI', 'SYNEX', 'TFFIF', 'TIPH', 'TTB',
       'TTB', 'VIBHA', 'VNT'],
      dtype='object', name='name')

In [25]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['2759', '2760', '2761', 'BCH', 'BDMS', 'BEM', 'BH', 'CK', 'CRC',
       'PLANB', 'SYNEX'],
      dtype='object', name='name')

In [26]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['ADVANC', 'BBL', 'BCH', 'BDMS', 'BEM', 'BH', 'CK', 'CPALL', 'CPAXT',
       'CRC', 'EGATIF', 'FPT', 'GPSC', 'GVREIT', 'ILM', 'IMPACT', 'INTUCH',
       'KSL', 'KTB', 'LHFG', 'M', 'MINT', 'PLANB', 'PTT', 'SCB', 'SCCC',
       'SJWD', 'SPC', 'SVI', 'SYNEX', 'TFFIF', 'TIPH', 'TTB', 'VIBHA'],
      dtype='object', name='name')

### Portfolio that publish today

In [28]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('CPNREIT', 'MCS', 'TMT', 'TFG', 'WORK', 'BE8', 'CBG', 'MAJOR', 'ROJNA', 'SPRIME', 'LIT', 'BEC', 'WHA', 'LANNA', 'RCL', 'TCAP', 'ASW', 'BCP', 'EASTW', 'LPH', 'PREB', 'PTT', 'TRUE', 'CKP', 'BCPG', 'GFPT', 'AIMIRT')
ORDER BY name

In [29]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

       name   id
0    AIMIRT   13
1       ASW  705
2       BCP   56
3      BCPG   57
4       BE8  721
5       BEC   60
6       CBG   90
7       CKP  110
8   CPNREIT  127
9     EASTW  155
10     GFPT  192
11    LANNA  272
12      LIT  281
13      LPH  283
14    MAJOR  290
15      MCS  301
16     PREB  377
17      PTT  389
18      RCL  401
19    ROJNA  409
20   SPRIME  674
21     TCAP  512
22      TFG  521
23      TMT  553
24     TRUE  580
25      WHA  628
26     WORK  636

In [30]:
sql = """
SELECT name 
FROM buy
"""
buys = pd.read_sql(sql, const)
buys.shape

(30, 1)

In [31]:
df_merge = pd.merge(tickers, buys, on='name', how='inner')
df_merge

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,13,AIMIRT,AIM INDUSTRIAL GROWTH FREEHOLD AND LEASEHOLD R...,Property & Construction,Property Fund & REITs,SET,www.aimreit.com,2018-04-22 04:29:36.146073,2018-04-22 04:29:36.146073
1,127,CPNREIT,CPN RETAIL GROWTH LEASEHOLD REIT,Property & Construction,Property Fund & REITs,SET,www.cpnreit.com,2018-04-22 04:29:36.900508,2018-04-22 04:29:36.900508
2,301,MCS,M.C.S.STEEL PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,sSET,www.mcssteel.com,2018-04-22 04:29:37.957104,2021-08-22 18:22:07.463483
3,401,RCL,REGIONAL CONTAINER LINES PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,SET100 / SETCLMV,www.rclgroup.com,2018-04-22 04:29:38.554599,2022-01-15 03:54:48.472788
4,553,TMT,TMT STEEL PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,sSET / SETTHSI,www.tmtsteel.co.th,2018-04-22 04:29:39.444026,2022-01-15 03:54:48.559927

In [32]:
file_name = 'pub_stock.xlsx'
output_file = os.path.join(dat_path, file_name)
print(f"Output file : {output_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\pub_stock.xlsx

In [33]:
df_merge[['id','name','sector','market']].to_excel(output_file, index=False)

### Portfolio that already published

In [35]:
sql = """
SELECT * 
FROM buy"""
buys = pd.read_sql(sql, const)
buys.shape

(30, 10)

In [36]:
names = buys["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'STA', 'SINGER', 'PTG', 'KCE', 'MCS', 'DIF', 'TMT', 'JMT', 'WHART', 'BCH', 'SENA', 'TFFIF', '3BBIF', 'ASP', 'IVL', 'PTTGC', 'WHAIR', 'ORI', 'AH', 'GVREIT', 'NER', 'AIMIRT', 'TOA', 'AWC', 'SYNEX', 'SCC', 'RCL', 'JMART', 'CPNREIT', 'TVO'"

In [37]:
sql = """
SELECT *
FROM epss
WHERE publish_date >= '2025-01-01'
AND name IN (%s)
ORDER BY publish_date, name"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, conlt)
df_tmp.style.format(format_dict)

### Not yet published

In [39]:
sql = """
SELECT name
FROM epss
WHERE publish_date >= '2025-01-01'
"""
epss = pd.read_sql(sql, conlt)
epss.shape

(111, 1)

In [40]:
names = epss["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AEONTS', 'TSTH', 'TISCO', 'LHFG', 'KTC', 'TTB', 'BAY', 'KKP', 'KBANK', 'SCB', 'BBL', 'KTB', 'STANLY', 'MST', 'SCGP', 'SCC', 'PTTEP', 'SVI', 'ADVANC', 'MBAX', '3BBIF', 'FPT', 'JMART', 'SINGER', 'JMT', 'OR', 'GGC', 'GULF', 'INTUCH', 'DCC', 'IRPC', 'PSL', 'SMPC', 'DELTA', 'TOP', 'TR', 'SIS', 'TPIPL', 'PTL', 'BLAND', 'MINT', 'EPG', 'BTS', 'S11', 'TPIPP', 'TTLPF', 'EGATIF', 'IMPACT', 'INOX', 'BTSGIF', 'BCT', 'KYE', 'AOT', 'TFFIF', 'LHK', 'TMW', 'GVREIT', 'DRT', 'GLOBAL', 'DOHOME', 'BLA', 'SC', 'BJC', 'SPRC', 'NER', 'WHART', 'WHAIR', 'PDG', 'SAT', 'GC', 'III', 'MTC', 'TIPCO', 'THANI', 'CPAXT', 'AIE', 'SNC', 'STA', 'STGT', 'AIT', 'TASCO', 'PTTGC', 'TU', 'ASK', 'CPNREIT', 'MCS', 'TMT', 'TFG', 'WORK', 'BE8', 'CBG', 'MAJOR', 'ROJNA', 'SPRIME', 'LIT', 'BEC', 'WHA', 'LANNA', 'RCL', 'TCAP', 'ASW', 'BCP', 'EASTW', 'LPH', 'PREB', 'PTT', 'TRUE', 'CKP', 'BCPG', 'GFPT', 'AIMIRT'"

In [41]:
sql = """
SELECT *
FROM buy
WHERE name NOT IN (%s)
ORDER BY name
"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, const)
df_tmp

,name,date,volbuy,price,volsell,volbal,active,dividend,period,grade
0,AH,2023-06-08,1200.0,37.00,0.0,0.0,1,1.2500,1,C1
1,ASP,2022-03-07,30000.0,3.80,0.0,0.0,1,0.1700,1,C1
2,AWC,2023-06-15,9000.0,4.96,0.0,0.0,1,0.0500,4,B1
3,BCH,2021-09-07,4000.0,21.70,0.0,0.0,1,0.3700,4,A3
4,DIF,2020-08-01,35000.0,13.90,0.0,0.0,1,0.8888,2,B3
5,IVL,2022-08-29,7200.0,40.00,0.0,0.0,1,0.7000,1,C3
6,KCE,2021-10-07,10000.0,77.25,0.0,0.0,1,1.3000,3,B2
7,ORI,2022-04-07,60000.0,9.15,0.0,0.0,1,0.3210,1,C3
8,PTG,2023-07-12,3600.0,11.40,0.0,0.0,1,0.4500,4,A4
9,SENA,2022-03-29,105000.0,4.48,0.0,0.0,1,0.2342,2,B4
10,SYNEX,2022-01-07,15000.0,28.70,0.0,0.0,1,0.3600,4,A3
11,TOA,2023-09-06,1000.0,26.00,0.0,0.0,1,0.6800,1,C1
12,TVO,2024-11-06,4000.0,24.90,0.0,0.0,1,1.4500,4,A2

### Comparison check between EPS and Buy

In [43]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
buy = pd.read_sql(sql, const)
buy.shape

(30, 1)

In [44]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
AND quarter = %s
'''
sql = sql % (select_date, quarter)
print(sql)
tdy_df = pd.read_sql(sql, conlt)
tdy_df.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-02-20'
AND quarter = 4

(27, 14)

In [45]:
tdy_buy_df = tdy_df.merge(buy, on='name', how='inner')
tdy_buy_df.sort_values(by='name')

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
4,24097,AIMIRT,2024,4,342254,-208318,948697,201902,0.00,0.00,0.00,0.00,669,2025-02-21
0,24071,CPNREIT,2024,4,357438,572390,1696069,3235112,0.00,0.00,0.00,0.00,647,2025-02-20
1,24072,MCS,2024,4,346777,139173,678604,164611,0.72,0.30,1.42,0.35,293,2025-02-21
3,24085,RCL,2024,4,3318461,-571675,9170542,1501901,4.01,-0.69,11.07,1.81,396,2025-02-21
2,24073,TMT,2024,4,-30932,12833,-41552,333881,-0.04,0.01,-0.05,0.38,545,2025-02-21

In [46]:
sql = """
SELECT * 
FROM tickers
ORDER BY name"""
print(sql)
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].shape

SELECT *
FROM tickers
ORDER BY name

(396, 3)

In [47]:
tmp_df = tdy_buy_df.merge(tickers, on='name', how='inner')
tmp_df.shape

(5, 22)

In [48]:
tmp_df[['name','id_y','market']].sort_values(by='name')

      name  id_y            market
4   AIMIRT    13               SET
0  CPNREIT   127               SET
1      MCS   301              sSET
3      RCL   401  SET100 / SETCLMV
2      TMT   553    sSET / SETTHSI

In [49]:
const.close()
conpg.commit()
conpg.close()
conmy.commit()
conmy.close()
conlt.commit()
conlt.close()

In [50]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:02:22 11:46:54