In [1]:
import pandas as pd
import os
from datetime import date, timedelta
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2024"
quarter = "4"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2025-01-19'

In [2]:
data_path = os.path.join(os.path.expanduser("~"), "OneDrive","A5","Data")
xsl_path = os.path.join(os.path.expanduser("~"), "OneDrive","A5","Excel")
csv_path = os.path.join(os.path.expanduser("~"), "iCloudDrive")
one_path = os.path.join(os.path.expanduser("~"), "OneDrive","Documents","Data")
osd_path = os.path.join(os.path.expanduser("~"),"OneDrive","Documents","obsidian-git-sync","Data")
dts_path = os.path.join(os.path.expanduser("~"),"Downloads","Datasets")
data_path, xsl_path

('C:\\Users\\PC1\\OneDrive\\A5\\Data', 'C:\\Users\\PC1\\OneDrive\\A5\\Excel')

In [3]:
today = date(2025, 1, 14)
select_date = today.strftime("%Y-%m-%d")
select_date

'2025-01-14'

### Restart and Run All

In [5]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [6]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 5', conlt).style.format(format_dict)

In [7]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, select_date)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2024 AND quarter = 4
AND publish_date >= '2025-01-14'

In [8]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[colt]
df_pct.head().style.format(format_dict)

In [9]:
criteria_1 = df_pct.q_amt > 110_000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [10]:
criteria_2 = df_pct.y_amt > 100_000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [11]:
criteria_3 = df_pct.yoy_pct > 10.00
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [12]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3
#df_pct_criteria = criteria_1 & criteria_2 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [13]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [14]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [15]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'TISCO', 'LHFG', 'KTC'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [17]:
sql = """
SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('TISCO', 'LHFG', 'KTC')
ORDER BY E.name, year DESC, quarter DESC

### Delete from profits of older profit stocks

In [19]:
in_p

"'TISCO', 'LHFG', 'KTC'"

In [20]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(in_p))
print(sqlDel)
# Execute with parameters
rp = conlt.execute(sqlDel, {'quarter': quarter})
rp.rowcount

    DELETE FROM profits
    WHERE name IN ('TISCO', 'LHFG', 'KTC')
    AND quarter < :quarter

1

In [21]:
rp = conmy.execute(sqlDel, {'quarter': quarter})
rp.rowcount

0

In [22]:
rp = conpg.execute(sqlDel, {'quarter': quarter})
rp.rowcount

1

In [23]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'ADVANC', 'ADVANC', 'ADVANC', 'AIT', 'AYUD', 'BBL', 'BCH', 'BDMS',
       'BDMS', 'BEM', 'BH', 'CBG', 'CIMBT', 'CK', 'CKP', 'CPALL', 'CPAXT',
       'CRC', 'EGATIF', 'FPT', 'GPSC', 'GULF', 'GVREIT', 'ILM', 'IMPACT',
       'INTUCH', 'INTUCH', 'INTUCH', 'KSL', 'KSL', 'KTB', 'M', 'MTC', 'MTI',
       'OISHI', 'PLANB', 'PLANB', 'PTT', 'RCL', 'ROJNA', 'SAUCE', 'SCB',
       'SCCC', 'SJWD', 'SPC', 'SPI', 'STARK', 'SYNEX', 'TFFIF', 'TFG', 'TIPH',
       'TTB', 'TTB', 'VIBHA', 'VNT'],
      dtype='object', name='name')

In [24]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['ADVANC', 'ADVANC', 'ADVANC', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CK',
       'CKP', 'CRC', 'GULF', 'INTUCH', 'MTC', 'PLANB', 'RCL', 'ROJNA', 'SYNEX',
       'TFG'],
      dtype='object', name='name')

In [25]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['ADVANC', 'AIT', 'BBL', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CK', 'CKP',
       'CPALL', 'CPAXT', 'CRC', 'EGATIF', 'FPT', 'GPSC', 'GULF', 'GVREIT',
       'ILM', 'IMPACT', 'INTUCH', 'KSL', 'KTB', 'M', 'MTC', 'PLANB', 'PTT',
       'RCL', 'ROJNA', 'SCB', 'SCCC', 'SJWD', 'SPC', 'SYNEX', 'TFFIF', 'TFG',
       'TIPH', 'TTB', 'VIBHA'],
      dtype='object', name='name')

### Portfolio that publish today

In [27]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('TISCO', 'LHFG', 'KTC')
ORDER BY name

In [28]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

    name   id
0    KTC  266
1   LHFG  276
2  TISCO  539

In [29]:
sql = """
SELECT name 
FROM buy
"""
buys = pd.read_sql(sql, const)
buys.shape

(31, 1)

In [30]:
df_merge = pd.merge(tickers, buys, on='name', how='inner')
df_merge

Empty DataFrame
Columns: [id, name, full_name, sector, subsector, market, website, created_at, updated_at]
Index: []

In [31]:
file_name = 'pub_stock.xlsx'
xsl_file = xsl_path + '\\' + file_name
df_merge[['id','name','sector','market']].to_excel(xsl_file, index=False)

### Portfolio that already published

In [33]:
sql = """
SELECT * 
FROM buy"""
buys = pd.read_sql(sql, const)
buys.shape

(31, 10)

In [34]:
names = buys["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'STA', 'SINGER', 'PTG', 'KCE', 'MCS', 'DIF', 'TMT', 'JMT', 'WHART', 'BCH', 'SENA', 'TFFIF', '3BBIF', 'ASP', 'IVL', 'PTTGC', 'WHAIR', 'ORI', 'AH', 'ASK', 'GVREIT', 'NER', 'AIMIRT', 'TOA', 'AWC', 'SYNEX', 'SCC', 'RCL', 'JMART', 'CPNREIT', 'TVO'"

In [35]:
sql = """
SELECT *
FROM epss
WHERE publish_date >= '2025-01-01'
AND name IN (%s)
ORDER BY publish_date, name"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, conlt)
df_tmp.style.format(format_dict)

### Not yet published

In [37]:
sql = """
SELECT name
FROM epss
WHERE publish_date >= '2025-01-01'
"""
epss = pd.read_sql(sql, conlt)
epss.shape

(5, 1)

In [38]:
names = epss["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AEONTS', 'TSTH', 'TISCO', 'LHFG', 'KTC'"

In [39]:
sql = """
SELECT *
FROM buy
WHERE name NOT IN (%s)
ORDER BY name
"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, const)
df_tmp

,name,date,volbuy,price,volsell,volbal,active,dividend,period,grade
0,3BBIF,2018-05-17,120000.0,10.10,0.0,0.0,1,0.1600,3,A3
1,AH,2023-06-08,1200.0,37.00,0.0,0.0,1,1.2500,1,C1
2,AIMIRT,2023-08-17,12500.0,10.90,0.0,0.0,1,0.8600,2,A2
3,ASK,2023-02-16,6000.0,26.25,0.0,0.0,1,1.1600,1,C1
4,ASP,2022-03-07,30000.0,3.80,0.0,0.0,1,0.1700,1,C1
5,AWC,2023-06-15,9000.0,4.96,0.0,0.0,1,0.0500,4,B1
6,BCH,2021-09-07,4000.0,21.70,0.0,0.0,1,0.3700,4,A3
7,CPNREIT,2022-08-16,55000.0,18.00,0.0,0.0,1,0.8401,2,C1
8,DIF,2020-08-01,35000.0,13.90,0.0,0.0,1,0.8930,2,B3
9,GVREIT,2022-08-24,60000.0,7.90,0.0,0.0,1,0.7833,2,C1
10,IVL,2022-08-29,7200.0,40.00,0.0,0.0,1,0.7000,1,C3
11,JMART,2023-01-20,6800.0,33.00,0.0,0.0,1,0.4800,3,A2
12,JMT,2023-01-26,4200.0,55.50,0.0,0.0,1,0.8700,3,B4
13,KCE,2021-10-07,10000.0,77.25,0.0,0.0,1,1.3000,3,B2
14,MCS,2016-09-20,75000.0,15.40,0.0,0.0,1,0.5200,2,A3
15,NER,2021-09-01,27000.0,7.45,0.0,0.0,1,0.3400,2,A2
16,ORI,2022-04-07,50000.0,10.40,0.0,0.0,1,0.3210,1,C3
17,PTG,2023-07-12,3600.0,11.40,0.0,0.0,1,0.4500,4,A4
18,PTTGC,2021-03-17,6000.0,64.75,0.0,0.0,1,0.7500,1,C4
19,RCL,2021-11-08,27000.0,38.75,0.0,0.0,1,1.5000,4,A3
20,SCC,2021-09-20,600.0,405.00,0.0,0.0,1,6.0000,1,C2
21,SENA,2022-03-29,105000.0,4.48,0.0,0.0,1,0.2342,2,B4
22,SINGER,2023-01-19,6000.0,24.80,0.0,0.0,1,0.0000,1,A2
23,STA,2021-06-15,10000.0,30.00,0.0,0.0,1,1.0000,1,C2
24,SYNEX,2022-01-07,15000.0,28.70,0.0,0.0,1,0.3600,4,A3
25,TFFIF,2023-07-06,20000.0,7.50,0.0,0.0,1,0.4432,2,A4
26,TMT,2021-08-16,36000.0,10.20,0.0,0.0,1,0.2000,1,C1
27,TOA,2023-09-06,1000.0,26.00,0.0,0.0,1,0.6800,1,C1
28,TVO,2024-11-06,4000.0,24.90,0.0,0.0,1,1.4500,4,A2
29,WHAIR,2021-10-11,50000.0,8.70,0.0,0.0,1,0.6342,2,C1
30,WHART,2022-01-05,20000.0,12.30,0.0,0.0,1,0.7075,2,C1

### Comparison check between EPS and Buy

In [41]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
buy = pd.read_sql(sql, const)
buy

       name
0     3BBIF
1        AH
2    AIMIRT
3       ASK
4       ASP
5       AWC
6       BCH
7   CPNREIT
8       DIF
9    GVREIT
10      IVL
11    JMART
12      JMT
13      KCE
14      MCS
15      NER
16      ORI
17      PTG
18    PTTGC
19      RCL
20      SCC
21     SENA
22   SINGER
23      STA
24    SYNEX
25    TFFIF
26      TMT
27      TOA
28      TVO
29    WHAIR
30    WHART

In [42]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
AND quarter = %s
'''
sql = sql % (select_date, quarter)
print(sql)
tdy_df = pd.read_sql(sql, conlt)
tdy_df.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-01-14'
AND quarter = 4

(3, 14)

In [43]:
tdy_buy_df = tdy_df.merge(buy, on='name', how='inner')
tdy_buy_df.sort_values(by='name')

Empty DataFrame
Columns: [id, name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date]
Index: []

In [44]:
sql = """
SELECT * 
FROM tickers
ORDER BY name"""
print(sql)
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].shape

SELECT *
FROM tickers
ORDER BY name

(396, 3)

In [45]:
tmp_df = tdy_buy_df.merge(tickers, on='name', how='inner')
tmp_df.shape

(0, 22)

In [46]:
tmp_df[['name','id_y','market']].sort_values(by='name')

Empty DataFrame
Columns: [name, id_y, market]
Index: []

In [47]:
const.close()
conpg.close()
conmy.close()
conlt.close()