In [1]:
import pandas as pd
import os
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2024"
quarter = "4"
select_date = date.today()
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-12

In [5]:
select_date = date(2025, 2, 10)
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-10

In [7]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")
#C:\Users\PC1\OneDrive\A5\Excel
xsl_path = os.path.join(base_path, "Excel")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Excel path (xsl_path): {xsl_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Excel path (xsl_path): C:\Users\PC1\OneDrive\A5\Excel
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

### Restart and Run All

In [11]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [13]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 5', conlt).style.format(format_dict)

In [15]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, select_date)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2024 AND quarter = 4
AND publish_date >= '2025-02-10'

In [17]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[colt]
df_pct.head().style.format(format_dict)

In [19]:
criteria_1 = df_pct.q_amt > 110_000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [21]:
criteria_2 = df_pct.y_amt > 100_000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [23]:
criteria_3 = df_pct.yoy_pct > 10.00
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [25]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3
#df_pct_criteria = criteria_1 & criteria_2 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [27]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [29]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [31]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'JMART', 'SINGER', 'JMT', 'OR', 'GGC', 'GULF', 'INTUCH', 'DCC', 'IRPC', 'PSL'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [34]:
sql = """
SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.shape

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('JMART', 'SINGER', 'JMT', 'OR', 'GGC', 'GULF', 'INTUCH', 'DCC', 'IRPC', 'PSL')
ORDER BY E.name, year DESC, quarter DESC

(349, 11)

### Delete from profits of older profit stocks

In [37]:
in_p

"'JMART', 'SINGER', 'JMT', 'OR', 'GGC', 'GULF', 'INTUCH', 'DCC', 'IRPC', 'PSL'"

In [39]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(in_p))
print(sqlDel)
# Execute with parameters
rp = conlt.execute(sqlDel, {'quarter': quarter})
rp.rowcount

    DELETE FROM profits
    WHERE name IN ('JMART', 'SINGER', 'JMT', 'OR', 'GGC', 'GULF', 'INTUCH', 'DCC', 'IRPC', 'PSL')
    AND quarter < :quarter

3

In [41]:
rp = conmy.execute(sqlDel, {'quarter': quarter})
rp.rowcount

2

In [43]:
rp = conpg.execute(sqlDel, {'quarter': quarter})
rp.rowcount

2

In [45]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'ADVANC', 'AIT', 'AYUD', 'BBL', 'BCH', 'BDMS', 'BDMS', 'BEM',
       'BH', 'CBG', 'CIMBT', 'CK', 'CKP', 'CPALL', 'CPAXT', 'CRC', 'EGATIF',
       'FPT', 'GPSC', 'GVREIT', 'ILM', 'IMPACT', 'INTUCH', 'KSL', 'KSL', 'KTB',
       'LHFG', 'M', 'MTC', 'MTI', 'OISHI', 'PLANB', 'PLANB', 'PTT', 'RCL',
       'ROJNA', 'SAUCE', 'SCB', 'SCCC', 'SJWD', 'SPC', 'SPI', 'STARK', 'SVI',
       'SYNEX', 'TFFIF', 'TFG', 'TIPH', 'TTB', 'TTB', 'VIBHA', 'VNT'],
      dtype='object', name='name')

In [47]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['2759', '2760', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CK', 'CKP', 'CRC',
       'MTC', 'PLANB', 'RCL', 'ROJNA', 'SYNEX', 'TFG'],
      dtype='object', name='name')

In [49]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['ADVANC', 'AIT', 'BBL', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CK', 'CKP',
       'CPALL', 'CPAXT', 'CRC', 'EGATIF', 'FPT', 'GPSC', 'GVREIT', 'ILM',
       'IMPACT', 'KSL', 'KTB', 'LHFG', 'M', 'MTC', 'PLANB', 'PTT', 'RCL',
       'ROJNA', 'SCB', 'SCCC', 'SJWD', 'SPC', 'SVI', 'SYNEX', 'TFFIF', 'TFG',
       'TIPH', 'TTB', 'VIBHA'],
      dtype='object', name='name')

### Portfolio that publish today

In [52]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('JMART', 'SINGER', 'JMT', 'OR', 'GGC', 'GULF', 'INTUCH', 'DCC', 'IRPC', 'PSL')
ORDER BY name

In [54]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

     name   id
0     DCC  140
1     GGC  193
2    GULF  207
3  INTUCH  231
4    IRPC  234
5   JMART  244
6     JMT  245
7      OR  686
8     PSL  711
9  SINGER  452

In [56]:
sql = """
SELECT name 
FROM buy
"""
buys = pd.read_sql(sql, const)
buys.shape

(31, 1)

In [58]:
df_merge = pd.merge(tickers, buys, on='name', how='inner')
df_merge

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,244,JMART,JAY MART PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET50,www.jaymart.co.th,2018-04-22 04:29:37.616395,2021-01-26 15:42:35.221412
1,245,JMT,JMT NETWORK SERVICES PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET50,www.jmtnetwork.co.th,2018-04-22 04:29:37.621811,2020-07-06 13:23:59.311892
2,452,SINGER,SINGER THAILAND PUBLIC COMPANY LIMITED,Services,Commerce,SET100,www.singerthai.co.th,2018-04-22 04:29:38.875668,2021-07-07 03:33:39.150064

In [60]:
file_name = 'pub_stock.xlsx'
output_file = os.path.join(dat_path, file_name)
print(f"Output file : {output_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\pub_stock.xlsx

In [62]:
df_merge[['id','name','sector','market']].to_excel(output_file, index=False)

### Portfolio that already published

In [65]:
sql = """
SELECT * 
FROM buy"""
buys = pd.read_sql(sql, const)
buys.shape

(31, 10)

In [67]:
names = buys["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'STA', 'SINGER', 'PTG', 'KCE', 'MCS', 'DIF', 'TMT', 'JMT', 'WHART', 'BCH', 'SENA', 'TFFIF', '3BBIF', 'ASP', 'IVL', 'PTTGC', 'WHAIR', 'ORI', 'AH', 'ASK', 'GVREIT', 'NER', 'AIMIRT', 'TOA', 'AWC', 'SYNEX', 'SCC', 'RCL', 'JMART', 'CPNREIT', 'TVO'"

In [69]:
sql = """
SELECT *
FROM epss
WHERE publish_date >= '2025-01-01'
AND name IN (%s)
ORDER BY publish_date, name"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, conlt)
df_tmp.style.format(format_dict)

### Not yet published

In [72]:
sql = """
SELECT name
FROM epss
WHERE publish_date >= '2025-01-01'
"""
epss = pd.read_sql(sql, conlt)
epss.shape

(32, 1)

In [74]:
names = epss["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AEONTS', 'TSTH', 'TISCO', 'LHFG', 'KTC', 'TTB', 'BAY', 'KKP', 'KBANK', 'SCB', 'BBL', 'KTB', 'STANLY', 'MST', 'SCGP', 'SCC', 'PTTEP', 'SVI', 'ADVANC', 'MBAX', '3BBIF', 'FPT', 'JMART', 'SINGER', 'JMT', 'OR', 'GGC', 'GULF', 'INTUCH', 'DCC', 'IRPC', 'PSL'"

In [76]:
sql = """
SELECT *
FROM buy
WHERE name NOT IN (%s)
ORDER BY name
"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, const)
df_tmp.shape

(26, 10)

### Comparison check between EPS and Buy

In [79]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
buy = pd.read_sql(sql, const)
buy.shape

(31, 1)

In [81]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
AND quarter = %s
'''
sql = sql % (select_date, quarter)
print(sql)
tdy_df = pd.read_sql(sql, conlt)
tdy_df.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-02-10'
AND quarter = 4

(10, 14)

In [83]:
tdy_buy_df = tdy_df.merge(buy, on='name', how='inner')
tdy_buy_df.sort_values(by='name')

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,24009,JMART,2024,4,310052,165997,1140849,-447011,0.212,0.113,0.783,-0.308,236,2025-02-11
2,24011,JMT,2024,4,400174,540307,1615223,2010656,0.280,0.370,1.110,1.380,237,2025-02-11
1,24010,SINGER,2024,4,-62054,17156,13726,-3209604,-0.070,0.020,0.020,-3.940,446,2025-02-11

In [85]:
sql = """
SELECT * 
FROM tickers
ORDER BY name"""
print(sql)
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].shape

SELECT *
FROM tickers
ORDER BY name

(396, 3)

In [87]:
tmp_df = tdy_buy_df.merge(tickers, on='name', how='inner')
tmp_df.shape

(3, 22)

In [89]:
tmp_df[['name','id_y','market']].sort_values(by='name')

     name  id_y  market
0   JMART   244   SET50
2     JMT   245   SET50
1  SINGER   452  SET100

In [91]:
const.close()
conpg.commit()
conpg.close()
conmy.commit()
conmy.close()
conlt.commit()
conlt.close()

In [ ]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)