In [3]:
import pandas as pd
import os
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2024"
quarter = "4"
select_date = date.today()
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-20

In [5]:
select_date = date(2025, 2, 17)
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-17

In [7]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")
#C:\Users\PC1\OneDrive\A5\Excel
xsl_path = os.path.join(base_path, "Excel")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Excel path (xsl_path): {xsl_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Quarterly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Excel path (xsl_path): C:\Users\PC1\OneDrive\A5\Excel
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

### Restart and Run All

In [12]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [14]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 5', conlt).style.format(format_dict)

In [16]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, select_date)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2024 AND quarter = 4
AND publish_date >= '2025-02-17'

In [18]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[colt]
df_pct.head().style.format(format_dict)

In [20]:
criteria_1 = df_pct.q_amt > 110_000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [22]:
criteria_2 = df_pct.y_amt > 100_000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [24]:
criteria_3 = df_pct.yoy_pct > 10.00
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [26]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3
#df_pct_criteria = criteria_1 & criteria_2 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [28]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [30]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [32]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'DOHOME', 'BLA', 'SC', 'BJC', 'SPRC', 'NER', 'WHART', 'WHAIR', 'PDG', 'SAT', 'GC', 'III', 'MTC', 'TIPCO', 'THANI', 'CPAXT', 'AIE', 'SNC', 'STA', 'STGT', 'AIT', 'TASCO', 'PTTGC', 'TU', 'ASK'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [35]:
sql = """
SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.shape

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('DOHOME', 'BLA', 'SC', 'BJC', 'SPRC', 'NER', 'WHART', 'WHAIR', 'PDG', 'SAT', 'GC', 'III', 'MTC', 'TIPCO', 'THANI', 'CPAXT', 'AIE', 'SNC', 'STA', 'STGT', 'AIT', 'TASCO', 'PTTGC', 'TU', 'ASK')
ORDER BY E.name, year DESC, quarter DESC

(1079, 11)

### Delete from profits of older profit stocks

In [38]:
in_p

"'DOHOME', 'BLA', 'SC', 'BJC', 'SPRC', 'NER', 'WHART', 'WHAIR', 'PDG', 'SAT', 'GC', 'III', 'MTC', 'TIPCO', 'THANI', 'CPAXT', 'AIE', 'SNC', 'STA', 'STGT', 'AIT', 'TASCO', 'PTTGC', 'TU', 'ASK'"

In [40]:
sqlDel = text("""
    DELETE FROM profits 
    WHERE name IN ({})
    AND quarter < :quarter
""".format(in_p))
print(sqlDel)
# Execute with parameters
rp = conlt.execute(sqlDel, {'quarter': quarter})
rp.rowcount

    DELETE FROM profits
    WHERE name IN ('DOHOME', 'BLA', 'SC', 'BJC', 'SPRC', 'NER', 'WHART', 'WHAIR', 'PDG', 'SAT', 'GC', 'III', 'MTC', 'TIPCO', 'THANI', 'CPAXT', 'AIE', 'SNC', 'STA', 'STGT', 'AIT', 'TASCO', 'PTTGC', 'TU', 'ASK')
    AND quarter < :quarter

2

In [42]:
rp = conmy.execute(sqlDel, {'quarter': quarter})
rp.rowcount

1

In [44]:
rp = conpg.execute(sqlDel, {'quarter': quarter})
rp.rowcount

2

In [46]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'ADVANC', 'AYUD', 'BBL', 'BCH', 'BDMS', 'BDMS', 'BEM', 'BH',
       'CBG', 'CIMBT', 'CK', 'CKP', 'CPALL', 'CPAXT', 'CRC', 'EGATIF', 'FPT',
       'GPSC', 'GVREIT', 'ILM', 'IMPACT', 'INTUCH', 'KSL', 'KSL', 'KTB',
       'LHFG', 'M', 'MINT', 'MTI', 'OISHI', 'PLANB', 'PLANB', 'PTT', 'RCL',
       'ROJNA', 'SAUCE', 'SCB', 'SCCC', 'SJWD', 'SPC', 'SPI', 'STARK', 'SVI',
       'SYNEX', 'TFFIF', 'TFG', 'TIPH', 'TTB', 'TTB', 'VIBHA', 'VNT'],
      dtype='object', name='name')

In [48]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['2759', '2760', '2761', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CK', 'CKP',
       'CRC', 'PLANB', 'RCL', 'ROJNA', 'SYNEX', 'TFG'],
      dtype='object', name='name')

In [50]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['ADVANC', 'BBL', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CK', 'CKP',
       'CPALL', 'CPAXT', 'CRC', 'EGATIF', 'FPT', 'GPSC', 'GVREIT', 'ILM',
       'IMPACT', 'INTUCH', 'KSL', 'KTB', 'LHFG', 'M', 'MINT', 'PLANB', 'PTT',
       'RCL', 'ROJNA', 'SCB', 'SCCC', 'SJWD', 'SPC', 'SVI', 'SYNEX', 'TFFIF',
       'TFG', 'TIPH', 'TTB', 'VIBHA'],
      dtype='object', name='name')

### Portfolio that publish today

In [53]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('DOHOME', 'BLA', 'SC', 'BJC', 'SPRC', 'NER', 'WHART', 'WHAIR', 'PDG', 'SAT', 'GC', 'III', 'MTC', 'TIPCO', 'THANI', 'CPAXT', 'AIE', 'SNC', 'STA', 'STGT', 'AIT', 'TASCO', 'PTTGC', 'TU', 'ASK')
ORDER BY name

In [55]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id']].sort_values(by=[ "name"], ascending=[True])

      name   id
0      AIE  691
1      AIT   14
2      ASK   42
3      BJC   68
4      BLA   73
5    CPAXT  291
6   DOHOME  670
7       GC  188
8      III  226
9      MTC  323
10     NER  649
11     PDG  354
12   PTTGC  391
13     SAT  427
14      SC  431
15     SNC  465
16    SPRC  478
17     STA  489
18    STGT  685
19   TASCO  511
20   THANI  528
21   TIPCO  538
22      TU  591
23   WHAIR  217
24   WHART  630

In [57]:
sql = """
SELECT name 
FROM buy
"""
buys = pd.read_sql(sql, const)
buys.shape

(30, 1)

In [59]:
df_merge = pd.merge(tickers, buys, on='name', how='inner')
df_merge

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,649,NER,NORTH EAST RUBBER PUBLIC COMPANY LIMITED,Agro & Food Industry,Agribusiness,sSET,www.nerubber.com,2019-03-03 03:45:01.837764,2019-11-19 07:13:53.611284
1,391,PTTGC,PTT GLOBAL CHEMICAL PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET50 / SETCLMV / SETTHSI,www.pttgcgroup.com,2018-04-22 04:29:38.496779,2021-07-07 03:33:39.100623
2,489,STA,SRI TRANG AGRO-INDUSTRY PUBLIC COMPANY LIMITED,Agro & Food Industry,Agribusiness,SET100 / SETTHSI / SETWB,www.sritranggroup.com,2018-04-22 04:29:39.085589,2022-01-15 03:54:48.525517
3,217,WHAIR,HEMARAJ LEASEHOLD REAL ESTATE INVESTMENT TRUST,Property & Construction,Property Fund & REITs,SET,www.hemarajreit.com,2018-04-22 04:29:37.460955,2018-04-22 04:29:37.460955
4,630,WHART,WHA PREMIUM GROWTH FREEHOLD AND LEASEHOLD REAL...,Property & Construction,Property Fund & REITs,SET,www.whareit.com,2018-04-22 04:29:39.879467,2018-04-22 04:29:39.879467

In [61]:
file_name = 'pub_stock.xlsx'
output_file = os.path.join(dat_path, file_name)
print(f"Output file : {output_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\pub_stock.xlsx

In [63]:
df_merge[['id','name','sector','market']].to_excel(output_file, index=False)

### Portfolio that already published

In [66]:
sql = """
SELECT * 
FROM buy"""
buys = pd.read_sql(sql, const)
buys.shape

(30, 10)

In [68]:
names = buys["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'STA', 'SINGER', 'PTG', 'KCE', 'MCS', 'DIF', 'TMT', 'JMT', 'WHART', 'BCH', 'SENA', 'TFFIF', '3BBIF', 'ASP', 'IVL', 'PTTGC', 'WHAIR', 'ORI', 'AH', 'GVREIT', 'NER', 'AIMIRT', 'TOA', 'AWC', 'SYNEX', 'SCC', 'RCL', 'JMART', 'CPNREIT', 'TVO'"

In [70]:
sql = """
SELECT *
FROM epss
WHERE publish_date >= '2025-01-01'
AND name IN (%s)
ORDER BY publish_date, name"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, conlt)
df_tmp.style.format(format_dict)

### Not yet published

In [73]:
sql = """
SELECT name
FROM epss
WHERE publish_date >= '2025-01-01'
"""
epss = pd.read_sql(sql, conlt)
epss.shape

(84, 1)

In [75]:
names = epss["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AEONTS', 'TSTH', 'TISCO', 'LHFG', 'KTC', 'TTB', 'BAY', 'KKP', 'KBANK', 'SCB', 'BBL', 'KTB', 'STANLY', 'MST', 'SCGP', 'SCC', 'PTTEP', 'SVI', 'ADVANC', 'MBAX', '3BBIF', 'FPT', 'JMART', 'SINGER', 'JMT', 'OR', 'GGC', 'GULF', 'INTUCH', 'DCC', 'IRPC', 'PSL', 'SMPC', 'DELTA', 'TOP', 'TR', 'SIS', 'TPIPL', 'PTL', 'BLAND', 'MINT', 'EPG', 'BTS', 'S11', 'TPIPP', 'TTLPF', 'EGATIF', 'IMPACT', 'INOX', 'BTSGIF', 'BCT', 'KYE', 'AOT', 'TFFIF', 'LHK', 'TMW', 'GVREIT', 'DRT', 'GLOBAL', 'DOHOME', 'BLA', 'SC', 'BJC', 'SPRC', 'NER', 'WHART', 'WHAIR', 'PDG', 'SAT', 'GC', 'III', 'MTC', 'TIPCO', 'THANI', 'CPAXT', 'AIE', 'SNC', 'STA', 'STGT', 'AIT', 'TASCO', 'PTTGC', 'TU', 'ASK'"

In [79]:
sql = """
SELECT *
FROM buy
WHERE name NOT IN (%s)
ORDER BY name
"""
sql = sql % in_p
df_tmp = pd.read_sql(sql, const)
df_tmp

,name,date,volbuy,price,volsell,volbal,active,dividend,period,grade
0,AH,2023-06-08,1200.0,37.00,0.0,0.0,1,1.2500,1,C1
1,AIMIRT,2023-08-17,12500.0,10.90,0.0,0.0,1,0.8600,2,A2
2,ASP,2022-03-07,30000.0,3.80,0.0,0.0,1,0.1700,1,C1
3,AWC,2023-06-15,9000.0,4.96,0.0,0.0,1,0.0500,4,B1
4,BCH,2021-09-07,4000.0,21.70,0.0,0.0,1,0.3700,4,A3
5,CPNREIT,2022-08-16,55000.0,18.00,0.0,0.0,1,0.6818,2,C1
6,DIF,2020-08-01,35000.0,13.90,0.0,0.0,1,0.8888,2,B3
7,IVL,2022-08-29,7200.0,40.00,0.0,0.0,1,0.7000,1,C3
8,KCE,2021-10-07,10000.0,77.25,0.0,0.0,1,1.3000,3,B2
9,MCS,2016-09-20,75000.0,15.40,0.0,0.0,1,0.5200,2,A3
10,ORI,2022-04-07,60000.0,9.15,0.0,0.0,1,0.3210,1,C3
11,PTG,2023-07-12,3600.0,11.40,0.0,0.0,1,0.4500,4,A4
12,RCL,2021-11-08,27000.0,38.75,0.0,0.0,1,1.5000,4,A3
13,SENA,2022-03-29,105000.0,4.48,0.0,0.0,1,0.2342,2,B4
14,SYNEX,2022-01-07,15000.0,28.70,0.0,0.0,1,0.3600,4,A3
15,TMT,2021-08-16,36000.0,10.20,0.0,0.0,1,0.2000,1,C1
16,TOA,2023-09-06,1000.0,26.00,0.0,0.0,1,0.6800,1,C1
17,TVO,2024-11-06,4000.0,24.90,0.0,0.0,1,1.4500,4,A2

### Comparison check between EPS and Buy

In [82]:
sql = """
SELECT name FROM buy WHERE active = 1 ORDER BY name"""
buy = pd.read_sql(sql, const)
buy.shape

(30, 1)

In [84]:
sql = '''
SELECT * 
FROM epss 
WHERE publish_date >= '%s' 
AND quarter = %s
'''
sql = sql % (select_date, quarter)
print(sql)
tdy_df = pd.read_sql(sql, conlt)
tdy_df.shape

SELECT *
FROM epss
WHERE publish_date >= '2025-02-17'
AND quarter = 4

(25, 14)

In [86]:
tdy_buy_df = tdy_df.merge(buy, on='name', how='inner')
tdy_buy_df.sort_values(by='name')

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,24051,NER,2024,4,359321,461741,1652466,1545601,0.1945,0.2499,0.8943,0.8365,680,2025-02-19
4,24068,PTTGC,2024,4,-11738129,5081416,-29810548,999129,-2.6100,1.1300,-6.6200,0.2200,385,2025-02-17
3,24064,STA,2024,4,854339,-422046,1670375,-434369,0.5600,-0.2700,1.0900,-0.2800,481,2025-02-18
2,24053,WHAIR,2024,4,-116575,51355,316443,406217,0.0000,0.0000,0.0000,0.0000,211,2025-02-19
1,24052,WHART,2024,4,204671,531656,1920947,2245518,0.0000,0.0000,0.0000,0.0000,622,2025-02-19

In [88]:
sql = """
SELECT * 
FROM tickers
ORDER BY name"""
print(sql)
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].shape

SELECT *
FROM tickers
ORDER BY name

(396, 3)

In [90]:
tmp_df = tdy_buy_df.merge(tickers, on='name', how='inner')
tmp_df.shape

(5, 22)

In [92]:
tmp_df[['name','id_y','market']].sort_values(by='name')

    name  id_y                     market
0    NER   649                       sSET
4  PTTGC   391  SET50 / SETCLMV / SETTHSI
3    STA   489   SET100 / SETTHSI / SETWB
2  WHAIR   217                        SET
1  WHART   630                        SET

In [94]:
const.close()
conpg.commit()
conpg.close()
conmy.commit()
conmy.close()
conlt.commit()
conlt.close()

In [96]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:02:20 14:19:15