In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2024
quarter = 4
select_date = date.today()
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-03-03

In [5]:
select_date = date(2025, 3, 3)
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-03-03

In [7]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [8]:
names = """
IP
""".split()
names

['IP']

In [10]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'IP'"

In [12]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [9]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, select_date)
print(sql)
epss = pd.read_sql(sql, conlt)
#epss.style.format(format_dict)
epss.shape

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2024 AND quarter = 4
AND publish_date >= '2025-03-03'

(6, 7)

### End of Normal Process

In [12]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.shape

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2024 AND quarter = 'Q4'

(206, 7)

In [14]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.sample(5).style.format(format_dict)

### Delete duplicated year and quarter

In [17]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.sample(5).style.format(format_dict)

In [19]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.sample(5).style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2024 AND quarter = 'Q4'

In [21]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.sample(5).style.format(format_dict)

### Delete duplicated year and quarter

In [24]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.sample().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent
4. YoY Profit Higher

In [29]:
profits[profits["name"] == "SUPER"].style.format(format_dict)

In [31]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [33]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [35]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [37]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [39]:
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [41]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [43]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [45]:
#final = filter.drop(colt, axis=1)
#final.style.format(format_dict)

In [47]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [49]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2024 AND A.quarter = 4
AND B.year = 2024 AND B.quarter = (4-1)

In [51]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [53]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [56]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

Empty DataFrame
Columns: [name, latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q, latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y, year, quarter, q_amt_c, y_amt, q_amt_p]
Index: []

In [58]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

### If there is no record in the above statement, no need to further process

In [107]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [109]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [111]:
final2.kind.value_counts()

kind
1    3
Name: count, dtype: int64

In [113]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [115]:
final2["inc_pct_py"] = final2["inc_pct_py"].replace("inf", np.nan)

In [117]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [119]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

     name    mean_pct
0     TVO  114.886387
1     SKN   49.084911
2  TIDLOR    9.111340

In [121]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [123]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

     name    std_pct
2  TIDLOR   5.691305
1     SKN  29.418397
0     TVO  70.880591

In [125]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [127]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [129]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2024 AND quarter = 4
ORDER BY name

In [135]:
profits = pd.read_sql(sql, conlt)
profits.sample().style.format(format_dict)

In [137]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.sample().style.format(format_dict)

In [139]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
14,SKN,2024,4,1.0,624813.0,424752.0,200061.0,47.10,624813.0,535872.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,TIDLOR,2024,4,1.0,4230480.0,3790425.0,440055.0,11.61,4230480.0,4087251.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
18,TVO,2024,4,1.0,2103105.0,729556.0,1373549.0,188.27,2103105.0,1611173.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [141]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
14,SKN,2024,4,1.0,624813.0,424752.0,200061.0,47.10,624813.0,535872.0,...,189971.0,101030.0,88941.0,88.034247,131372.0,58599.0,44.605395,642.0,49.084911,29.418397
17,TIDLOR,2024,4,1.0,4230480.0,3790425.0,440055.0,11.61,4230480.0,4087251.0,...,1044464.0,901235.0,143229.0,15.892525,990550.0,53914.0,5.442835,723.0,9.111340,5.691305
18,TVO,2024,4,1.0,2103105.0,729556.0,1373549.0,188.27,2103105.0,1611173.0,...,807667.0,315736.0,491931.0,155.804533,436716.0,370951.0,84.941014,585.0,114.886387,70.880591

In [143]:
rcds = final5.values.tolist()
len(rcds)

3

In [145]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2024 AND quarter = 4
ORDER BY name

In [147]:
for rcd in rcds:
    print(rcd)

['SKN', 2024, 4, 1.0, 624813.0, 424752.0, 200061.0, 47.1, 624813.0, 535872.0, 88941.0, 16.6, 189971.0, 101030.0, 88941.0, 88.0342472532911, 131372.0, 58599.0, 44.60539536583138, 642.0, 49.08491065478062, 29.41839656430728]
['TIDLOR', 2024, 4, 1.0, 4230480.0, 3790425.0, 440055.0, 11.61, 4230480.0, 4087251.0, 143229.0, 3.5, 1044464.0, 901235.0, 143229.0, 15.892525257008439, 990550.0, 53914.0, 5.442834788753722, 723.0, 9.11134001144054, 5.691304547758499]
['TVO', 2024, 4, 1.0, 2103105.0, 729556.0, 1373549.0, 188.27, 2103105.0, 1611173.0, 491932.0, 30.53, 807667.0, 315736.0, 491931.0, 155.80453290090455, 436716.0, 370951.0, 84.94101429762134, 585.0, 114.88638679963148, 70.88059136058712]

In [149]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

In [151]:
try:
    # Execute the SQL statement within the existing transaction
    conlt.execute(sql, records_dicts)  # Bulk insert using named parameters
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
    conlt.rollback()  # Rollback the transaction in case of error

Data inserted successfully!

In [153]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

### End of Create Data

In [156]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(394, 2)

In [158]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [161]:
names = final5.name
names

14       SKN
17    TIDLOR
18       TVO
Name: name, dtype: object

In [163]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SKN', 'TIDLOR', 'TVO'"

In [165]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('SKN', 'TIDLOR', 'TVO') AND year = 2024 AND quarter = 4

In [167]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [169]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [171]:
rcds = profits_inp.values.tolist()
len(rcds)

3

In [173]:
for rcd in rcds:
    print(rcd)

[2775, 'SKN', 2024, 4, 1, 624813, 424752, 200061, 47.1, 624813, 535872, 88941, 16.6, 189971, 101030, 88941, 88.0342472532911, 131372, 58599, 44.60539536583138, 642, 49.08491065478062, 29.41839656430728]
[2776, 'TIDLOR', 2024, 4, 1, 4230480, 3790425, 440055, 11.61, 4230480, 4087251, 143229, 3.5, 1044464, 901235, 143229, 15.892525257008439, 990550, 53914, 5.442834788753722, 723, 9.11134001144054, 5.691304547758499]
[2777, 'TVO', 2024, 4, 1, 2103105, 729556, 1373549, 188.27, 2103105, 1611173, 491932, 30.53, 807667, 315736, 491931, 155.80453290090455, 436716, 370951, 84.94101429762134, 585, 114.88638679963148, 70.88059136058712]

In [175]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

# Insert data using transactions
try:
    with conmy.begin():  # Transaction block
        conmy.execute(sql, records_dicts)  # Bulk insert using named parameters
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
finally:
    conmy.commit()

Data inserted successfully!

In [177]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['2759', '2760', '2761', '2762', '2763', '2764', '2765', '2766', '2767',
       '2768', '2769', '2770', '2771', '2772', '2773', '2774', '2775', '2776',
       '2777'],
      dtype='object', name='name')

### After call 450-Export-to-PortPg

In [179]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('SKN', 'TIDLOR', 'TVO') AND year = 2024 AND quarter = 4

In [181]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

Empty DataFrame
Columns: [name, ticker_id]
Index: []

In [183]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('SKN', 'TIDLOR', 'TVO')
ORDER BY name

In [185]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

     name   id                 market
0     SKN  458                   sSET
1  TIDLOR  696                  SET50
2     TVO  594  SET / SETTHSI / SETWB

### Additional process to find stocks in SET50 & SET100

In [188]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'BCH', 'DIF', 'TVO', 'ASP', 'ORI', 'SIRI', 'VIBHA', 'EA', 'EGCO', 'BGRIM', 'AJ', 'RS', 'SPC', 'ACE', 'CPN', 'CPNCG', 'POPF', 'HTC', 'FSMART', 'CHG', 'SJWD', 'IMH', 'BEAUTY', 'BKIH', 'GPSC', 'HFT', 'ICHI', 'LALIN', 'ONEE', 'RBF', 'SKN', 'SKR', 'SUPEREIF', 'TIDLOR', 'TYCN', 'WHAUP', 'WICE'"

In [190]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('AH', 'BCH', 'DIF', 'TVO', 'ASP', 'ORI', 'SIRI', 'VIBHA', 'EA', 'EGCO', 'BGRIM', 'AJ', 'RS', 'SPC', 'ACE', 'CPN', 'CPNCG', 'POPF', 'HTC', 'FSMART', 'CHG', 'SJWD', 'IMH', 'BEAUTY', 'BKIH', 'GPSC', 'HFT', 'ICHI', 'LALIN', 'ONEE', 'RBF', 'SKN', 'SKR', 'SUPEREIF', 'TIDLOR', 'TYCN', 'WHAUP', 'WICE')
ORDER BY name

In [192]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,698,ACE,ABSOLUTE CLEAN ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100,www.ace-energy.co.th,2019-11-19 07:11:16.920183,2021-01-26 15:41:59.109472
1,9,AH,AAPICO HITECH PUBLIC COMPANY LIMITED,Industrials,Automotive,sSET / SETTHSI,www.aapico.com,2017-07-23 06:30:43.935758,2021-07-07 03:34:13.530450
2,12,AJ,A.J. PLAST PUBLIC COMPANY LIMITED,Industrials,Packaging,sSET / SETCLMV,www.ajplast.co.th,2017-07-23 06:30:44.227648,2021-07-07 03:34:13.547356
3,40,ASP,ASIA PLUS GROUP HOLDINGS PUBLIC COMPANY LIMITED,Financials,Finance & Securities,sSET,www.asiaplusgroup.co.th,2017-07-23 06:30:47.385453,2017-12-27 02:26:12.204614
4,51,BCH,BANGKOK CHAIN HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,SET100 / SETWB,www.bangkokchainhospital.com,2017-07-23 06:30:48.660793,2019-11-19 07:11:18.318608
5,55,BEAUTY,BEAUTY COMMUNITY PUBLIC COMPANY LIMITED,Services,Commerce,SET,www.beautycommunity.co.th,2017-07-23 06:30:49.077654,2022-01-15 03:54:12.673611
6,59,BGRIM,B.GRIMM POWER PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETTHSI,www.bgrimmpower.com,2017-07-23 06:30:49.577381,2019-03-03 03:43:37.778419
7,68,BKIH,BANGKOK INSURANCE PUBLIC COMPANY LIMITED,Financials,Insurance,SET,www.bangkokinsurance.com,2017-07-23 06:30:50.764348,2017-07-23 06:30:50.764348
8,98,CHG,CHULARAT HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,SET100 / SETWB,www.chularat.com,2017-07-23 06:30:55.787454,2019-11-19 07:11:19.924951
9,121,CPN,CENTRAL PATTANA PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET50 / SETTHSI,www.centralpattana.co.th,2017-07-23 06:30:58.911154,2021-01-26 15:41:59.378040
10,122,CPNCG,CPN COMMERCIAL GROWTH LEASEHOLD PROPERTY FUND,Property & Construction,Property Fund & REITs,SET,www.cpncg.com,2017-07-23 06:30:59.011249,2017-07-23 06:30:59.011249
11,140,DIF,DIGITAL TELECOMMUNICATIONS INFRASTRUCTURE FUND,Technology,Information & Communication Technology,SET,www.digital-tif.com,2017-07-23 06:31:01.454911,2017-07-23 06:31:01.454911
12,148,EA,ENERGY ABSOLUTE PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETTHSI,www.energyabsolute.co.th,2017-07-23 06:31:02.895289,2019-03-03 03:43:39.583356
13,157,EGCO,ELECTRICITY GENERATING PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETHD / SETTHSI,www.egco.com,2017-07-23 06:31:04.161619,2021-07-07 03:34:13.705244
14,178,FSMART,FORTH SMART SERVICE PUBLIC COMPANY LIMITED,Services,Services,mai,www.boonterm.com,2017-07-23 06:31:07.228447,2022-01-15 03:54:12.799026
15,197,GPSC,GLOBAL POWER SYNERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETTHSI,www.gpscgroup.com,2017-07-23 06:31:12.018425,2021-01-26 15:41:59.498854
16,207,HFT,HWA FONG RUBBER (THAILAND) PUBLIC COMPANY LIMITED,Industrials,Automotive,sSET,www.duro.co.th,2017-07-23 06:31:13.934713,2021-01-26 15:41:59.525849
17,212,HTC,HAAD THIP PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,sSET / SETTHSI,www.haadthip.com,2017-07-23 06:31:14.802103,2021-01-26 15:41:59.532866
18,216,ICHI,ICHITAN GROUP PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,sSET / SETCLMV,www.ichitangroup.com,2017-07-23 06:31:15.468451,2022-01-15 03:54:12.839128
19,730,IMH,INTERMEDICAL CARE AND LAB HOSPITAL PUBLIC COMP...,Services,Services,mai,www.intermedthai.com/,2021-08-22 15:11:51.511917,2022-01-15 03:54:12.858021
20,263,LALIN,LALIN PROPERTY PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.lalinproperty.com,2017-07-23 06:31:21.351487,2021-01-26 15:41:59.652212
21,741,ONEE,THE ONE ENTERPRISE PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100,www.theoneenterprise.com,2022-07-03 00:17:44.125032,2022-07-03 00:17:44.125032
22,339,ORI,ORIGIN PROPERTY PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD / SETTHSI,www.origin.co.th,2017-07-23 06:31:31.201362,2022-01-15 03:54:12.968797
23,364,POPF,PRIME OFFICE LEASEHOLD PROPERTY FUND,Property & Construction,Property Fund & REITs,SET,www.scbam.com,2017-07-23 06:31:34.357854,2017-07-23 06:31:34.357854
24,703,RBF,R&B FOOD SUPPLY PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET100 / SETCLMV / SETWB,https://www.rbfoodsupply.co.th,2019-11-19 07:11:25.552170,2021-01-26 15:41:59.865078
25,408,RS,RS PUBLIC COMPANY LIMITED,Services,Commerce,SET / SETTHSI,www.rs.co.th,2017-07-23 06:31:41.422986,2022-01-15 03:54:13.043179
26,447,SIRI,SANSIRI PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET / SETTHSI,www.sansiri.com,2017-07-23 06:31:47.490953,2022-01-15 03:54:13.083352
27,242,SJWD,JWD INFOLOGISTICS PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,sSET / SETTHSI,www.jwd-group.com,2017-07-23 06:31:18.959179,2019-03-03 03:43:41.262046
28,642,SKN,S.KIJCHAI ENTERPRISE PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,sSET,www.skn.co.th,2017-10-13 05:33:23.808784,2021-07-07 03:34:13.989298
29,451,SKR,SIKARIN PUBLIC COMPANY LIMITED,Services,Health Care Services,SET,www.sikarin.com,2017-07-23 06:31:48.023120,2019-03-03 03:43:44.046531
30,463,SPC,SAHA PATHANAPIBUL PUBLIC COMPANY LIMITED,Services,Commerce,SET,www.sahapat.co.th,2017-07-23 06:31:49.614868,2017-07-23 06:31:49.614868
31,706,SUPEREIF,SUPER ENERGY POWER PLANT INFRASTRUCTURE FUND,Resources,Energy & Utilities,SET,www.supereif.com,2019-11-19 07:11:27.915718,2022-01-15 03:54:13.142504
32,723,TIDLOR,NGERN TID LOR PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET50,www.ngerntidlor.com/th/home.html,2021-05-10 23:19:52.787664,2022-01-15 03:54:13.168709
33,585,TVO,THAI VEGETABLE OIL PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET / SETTHSI / SETWB,www.tvothai.com,2017-07-23 06:32:09.904659,2019-11-19 07:11:31.055190
34,737,TYCN,"TYCOONS WORLDWIDE GROUP (THAILAND) PUBLIC CO.,...",Industrials,Steel and Metal Products,SET,www.tycons.com,2021-11-04 15:13:03.928246,2021-11-04 15:13:03.928246
35,610,VIBHA,VIBHAVADI MEDICAL CENTER PUBLIC COMPANY LIMITED,Services,Health Care Services,SETWB,www.vibhavadi.com,2017-07-23 06:32:13.979586,2021-01-26 15:42:00.276024
36,623,WHAUP,WHA UTILITIES AND POWER PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET / SETTHSI,www.wha-up.com,2017-07-23 06:32:16.177824,2021-07-07 03:34:14.179836
37,624,WICE,WICE LOGISTICS PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,sSET,www.wice.co.th,2017-07-23 06:32:16.329569,2021-01-26 15:42:00.303670

In [194]:
conlt.commit()
conlt.close()

In [196]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:03:01 15:57:32