In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2024
quarter = 4
select_date = date.today()
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-20

In [3]:
select_date = date(2025, 2, 17)
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-17

In [5]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [8]:
names = """
IP
""".split()
names

['IP']

In [10]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'IP'"

In [12]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [12]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, select_date)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2024 AND quarter = 4
AND publish_date >= '2025-02-17'

### End of Normal Process

In [15]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.shape

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2024 AND quarter = 'Q4'

(70, 7)

In [17]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [20]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.head(5).style.format(format_dict)

In [22]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.sample(5).style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2024 AND quarter = 'Q4'

In [24]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [27]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent
4. YoY Profit Higher

In [32]:
profits[profits["name"] == "MTC"].style.format(format_dict)

In [34]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [36]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [38]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [40]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [44]:
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [46]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [48]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [50]:
#final = filter.drop(colt, axis=1)
#final.style.format(format_dict)

In [52]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [54]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2024 AND A.quarter = 4
AND B.year = 2024 AND B.quarter = (4-1)

In [56]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [58]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [61]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
0,BLA,4317070,3027476,1289594,42.60,4317070,2548298,1768772,69.41,2024,4,1647774,-1584383,614248
1,MTC,5867308,5675828,191480,3.37,5867308,4906468,960840,19.58,2024,4,1542634,1351154,1491064
2,CPAXT,10569078,9890938,678140,6.86,10569078,8640076,1929002,22.33,2024,4,3959766,3281626,1952003

In [63]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

### If there is no record in the above statement, no need to further process

In [66]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [68]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [70]:
final2.kind.value_counts()

kind
1    3
Name: count, dtype: int64

In [72]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [74]:
final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

C:\Users\PC1\AppData\Local\Temp\ipykernel_424312\3023047653.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [76]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [78]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

    name    mean_pct
0    BLA  121.067435
2  CPAXT   38.177827
1    MTC   10.145048

In [80]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [82]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

    name    std_pct
1    MTC   8.079628
2  CPAXT  43.673047
0    BLA  77.310248

In [84]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [86]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [88]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2024 AND quarter = 4
ORDER BY name

In [90]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [92]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [94]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
1,BLA,2024,4,1.0,4317070.0,2548298.0,1768772.0,69.41,4317070.0,3027476.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,CPAXT,2024,4,1.0,10569078.0,8640076.0,1929002.0,22.33,10569078.0,9890938.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,MTC,2024,4,1.0,5867308.0,4906468.0,960840.0,19.58,5867308.0,5675828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [96]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
1,BLA,2024,4,1.0,4317070.0,2548298.0,1768772.0,69.41,4317070.0,3027476.0,...,1647774.0,-1584383.0,3232157.0,204.000990,614248.0,1033526.0,168.258749,70.0,121.067435,77.310248
2,CPAXT,2024,4,1.0,10569078.0,8640076.0,1929002.0,22.33,10569078.0,9890938.0,...,3959766.0,3281626.0,678140.0,20.664756,1952003.0,2007763.0,102.856553,283.0,38.177827,43.673047
4,MTC,2024,4,1.0,5867308.0,4906468.0,960840.0,19.58,5867308.0,5675828.0,...,1542634.0,1351154.0,191480.0,14.171590,1491064.0,51570.0,3.458604,315.0,10.145048,8.079628

In [98]:
rcds = final5.values.tolist()
len(rcds)

3

In [100]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2024 AND quarter = 4
ORDER BY name

In [102]:
for rcd in rcds:
    print(rcd)

['BLA', 2024, 4, 1.0, 4317070.0, 2548298.0, 1768772.0, 69.41, 4317070.0, 3027476.0, 1289594.0, 42.6, 1647774.0, -1584383.0, 3232157.0, 204.00098965969718, 614248.0, 1033526.0, 168.25874890923535, 70.0, 121.06743464223314, 77.31024844359558]
['CPAXT', 2024, 4, 1.0, 10569078.0, 8640076.0, 1929002.0, 22.33, 10569078.0, 9890938.0, 678140.0, 6.86, 3959766.0, 3281626.0, 678140.0, 20.664755825313428, 1952003.0, 2007763.0, 102.85655298685504, 283.0, 38.17782720304211, 43.67304724074172]
['MTC', 2024, 4, 1.0, 5867308.0, 4906468.0, 960840.0, 19.58, 5867308.0, 5675828.0, 191480.0, 3.37, 1542634.0, 1351154.0, 191480.0, 14.171589618947952, 1491064.0, 51570.0, 3.4586040572369794, 315.0, 10.145048419046233, 8.07962797521106]

In [104]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

# Insert data using transactions
try:
    with conlt.begin() as trans:  # Start a new transaction
        conlt.execute(sql, records_dicts)  # Bulk insert using named parameters
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
    trans.rollback()  # Rollback the transaction in case of error

Error inserting data: This connection has already initialized a SQLAlchemy Transaction() object via begin() or autobegin; can't call begin() here unless rollback() or commit() is called first.

NameError: name 'trans' is not defined

In [106]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

### End of Create Data

In [109]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(394, 2)

In [111]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [114]:
names = final5.name
names

1      BLA
2    CPAXT
4      MTC
Name: name, dtype: object

In [116]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'BLA', 'CPAXT', 'MTC'"

In [118]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('BLA', 'CPAXT', 'MTC') AND year = 2024 AND quarter = 4

In [120]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [122]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [124]:
rcds = profits_inp.values.tolist()
len(rcds)

0

In [126]:
for rcd in rcds:
    print(rcd)

In [128]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

# Insert data using transactions
try:
    with conmy.begin():  # Transaction block
        conmy.execute(sql, records_dicts)  # Bulk insert using named parameters
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
finally:
    conmy.commit()

Error inserting data: (sqlalchemy.exc.InvalidRequestError) A value is required for bind parameter 'name'
[SQL:
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?,
?, ?, ?, ?,
?, ?, ?, ?,
?, ?, ?, ?,
?, ?, ?,
?, ?, ?)
]
(Background on this error at: https://sqlalche.me/e/20/cd3x)

In [130]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['2759', '2760', '2761', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CK', 'CKP',
       'CRC', 'PLANB', 'RCL', 'ROJNA', 'SYNEX', 'TFG'],
      dtype='object', name='name')

### After call 450-Export-to-PortPg

In [133]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('BLA', 'CPAXT', 'MTC') AND year = 2024 AND quarter = 4

In [135]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

Empty DataFrame
Columns: [name, ticker_id]
Index: []

In [137]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('BLA', 'CPAXT', 'MTC')
ORDER BY name

In [139]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

    name   id           market
0    BLA   73  SET50 / SETTHSI
1  CPAXT  291              SET
2    MTC  323  SET50 / SETTHSI

### Additional process to find stocks in SET50 & SET100

In [142]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'DOHOME', 'BLA', 'SC', 'BJC', 'SPRC', 'NER', 'WHART', 'WHAIR', 'PDG', 'SAT', 'GC', 'III', 'MTC', 'TIPCO', 'THANI', 'CPAXT', 'AIE', 'SNC', 'STA', 'STGT', 'AIT', 'TASCO', 'PTTGC', 'TU', 'ASK'"

In [144]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('DOHOME', 'BLA', 'SC', 'BJC', 'SPRC', 'NER', 'WHART', 'WHAIR', 'PDG', 'SAT', 'GC', 'III', 'MTC', 'TIPCO', 'THANI', 'CPAXT', 'AIE', 'SNC', 'STA', 'STGT', 'AIT', 'TASCO', 'PTTGC', 'TU', 'ASK')
ORDER BY name

In [146]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,720,AIE,AI ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET,www.aienergy.co.th,2021-02-21 16:12:17.821078,2022-01-15 03:54:12.607554
1,11,AIT,"ADVANCED INFORMATION TECHNOLOGY PUBLIC CO.,LTD.",Technology,Information & Communication Technology,sSET,www.ait.co.th,2017-07-23 06:30:44.134557,2017-12-27 02:26:11.417971
2,38,ASK,ASIA SERMKIJ LEASING PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET,www.ask.co.th,2017-07-23 06:30:47.135935,2022-01-15 03:54:12.634778
3,65,BJC,BERLI JUCKER PUBLIC COMPANY LIMITED,Services,Commerce,SETCLMV / SETTHSI / SETWB,www.bjc.co.th,2017-07-23 06:30:50.362737,2022-01-15 03:54:12.695208
4,70,BLA,BANGKOK LIFE ASSURANCE PUBLIC COMPANY LIMITED,Financials,Insurance,SET50 / SETTHSI,www.bangkoklife.com,2017-07-23 06:30:51.035886,2022-01-15 03:54:12.701165
5,283,CPAXT,SIAM MAKRO PUBLIC COMPANY LIMITED,Services,Commerce,SET,www.siammakro.co.th,2017-07-23 06:31:23.967729,2017-07-23 06:31:23.967729
6,701,DOHOME,DOHOME PUBLIC COMPANY LIMITED,Services,Commerce,SET100 / SETWB,https://www.dohome.co.th/,2019-11-19 07:11:20.688406,2021-01-26 15:41:59.414935
7,183,GC,GLOBAL CONNECTIONS PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET,www.gc.co.th,2017-07-23 06:31:07.933967,2017-07-23 06:31:07.933967
8,637,III,TRIPLE I LOGISTICS PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,sSET,www.iii-logistics.com,2017-09-01 02:49:07.120556,2018-08-12 12:53:54.151421
9,315,MTC,MUANGTHAI CAPITAL PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET50 / SETTHSI,www.muangthaicap.com,2017-07-23 06:31:27.734879,2021-01-26 15:41:59.736895
10,680,NER,NORTH EAST RUBBER PUBLIC COMPANY LIMITED,Agro & Food Industry,Agribusiness,sSET,www.nerubber.com,2019-03-03 03:43:42.465733,2019-11-19 07:11:24.050281
11,347,PDG,PRODIGY PUBLIC COMPANY LIMITED,Industrial,Industrial,mai,www.prodigy.co.th,2017-07-23 06:31:32.209499,2022-01-15 03:54:12.985822
12,385,PTTGC,PTT GLOBAL CHEMICAL PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET50 / SETCLMV / SETTHSI,www.pttgcgroup.com,2017-07-23 06:31:37.524939,2021-07-07 03:34:13.916539
13,421,SAT,SOMBOON ADVANCE TECHNOLOGY PUBLIC COMPANY LIMITED,Industrials,Automotive,sSET / SETTHSI,www.satpcl.co.th,2017-07-23 06:31:43.366289,2018-08-12 12:54:06.298269
14,425,SC,SC ASSET CORPORATION PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET / SETTHSI,www.scasset.com,2017-07-23 06:31:43.890670,2018-08-12 12:54:06.806691
15,457,SNC,SNC FORMER PUBLIC COMPANY LIMITED,Industrials,Industrial Materials & Machinery,sSET / SETTHSI,www.sncformer.com,2017-07-23 06:31:48.790403,2022-01-15 03:54:13.099177
16,470,SPRC,STAR PETROLEUM REFINING PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV,www.sprc.co.th,2017-07-23 06:31:50.615829,2021-01-26 15:42:00.011693
17,481,STA,SRI TRANG AGRO-INDUSTRY PUBLIC COMPANY LIMITED,Agro & Food Industry,Agribusiness,SET100 / SETTHSI / SETWB,www.sritranggroup.com,2017-07-23 06:31:51.957277,2022-01-15 03:54:13.122661
18,714,STGT,SRI TRANG GLOVES (THAILAND) PUBLIC COMPANY LIM...,Consumer Products,Personal Products & Pharmaceuticals,SET100 / SETTHSI,www.sritranggloves.com,2021-01-26 15:42:00.052117,2022-01-15 03:54:13.136033
19,502,TASCO,TIPCO ASPHALT PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET100 / SETCLMV / SETHD / SETTHSI,www.tipcoasphalt.com,2017-07-23 06:31:54.989965,2021-01-26 15:42:00.086060
20,522,THANI,RATCHTHANI LEASING PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET100 / SETHD / SETTHSI,www.ratchthani.com,2017-07-23 06:31:58.264521,2022-01-15 03:54:13.160978
21,530,TIPCO,TIPCO FOODS PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,sSET,www.tipco.net,2017-07-23 06:31:59.622355,2017-12-27 02:26:23.098918
22,582,TU,THAI UNION GROUP PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET50 / SETCLMV / SETHD / SETTHSI / SETWB,thaiunion.com,2017-07-23 06:32:09.503438,2021-07-07 03:34:14.154419
23,211,WHAIR,HEMARAJ LEASEHOLD REAL ESTATE INVESTMENT TRUST,Property & Construction,Property Fund & REITs,SET,www.hemarajreit.com,2017-07-23 06:31:14.694180,2017-07-23 06:31:14.694180
24,622,WHART,WHA PREMIUM GROWTH FREEHOLD AND LEASEHOLD REAL...,Property & Construction,Property Fund & REITs,SET,www.whareit.com,2017-07-23 06:32:16.019967,2017-07-23 06:32:16.019967

In [148]:
conlt.commit()
conlt.close()

In [150]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:02:20 14:37:20