In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2024
quarter = 4
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2025-01-26'

In [3]:
today = date(2025, 1, 17)
today_str = today.strftime("%Y-%m-%d")
today_str

'2025-01-17'

In [5]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [8]:
names = """
IP
""".split()
names

['IP']

In [10]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'IP'"

In [12]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [58]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2024 AND quarter = 4
AND publish_date >= '2025-01-17'

### End of Normal Process

In [72]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2024 AND quarter = 'Q4'

In [76]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [78]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.head(5).style.format(format_dict)

In [80]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2024 AND quarter = 'Q4'

In [82]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [85]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent
4. YoY Profit Higher

In [88]:
profits[profits["name"] == "KBANK"].style.format(format_dict)

In [90]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [92]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [94]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [96]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [98]:
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [100]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [102]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [104]:
#final = filter.drop(colt, axis=1)
#final.style.format(format_dict)

In [106]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [108]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2024 AND A.quarter = 4
AND B.year = 2024 AND B.quarter = (4-1)

In [110]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [112]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [115]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

Empty DataFrame
Columns: [name, latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q, latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y, year, quarter, q_amt_c, y_amt, q_amt_p]
Index: []

In [117]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

### If there is no record in the above statement, no need to further process

In [120]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [122]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [124]:
final2.kind.value_counts()

Series([], Name: count, dtype: int64)

In [126]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [128]:
final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

C:\Users\PC1\AppData\Local\Temp\ipykernel_308780\3023047653.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [130]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [132]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

Empty DataFrame
Columns: [name, mean_pct]
Index: []

In [134]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [136]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

Empty DataFrame
Columns: [name, std_pct]
Index: []

In [138]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [140]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [142]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2024 AND quarter = 4
ORDER BY name

In [144]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [146]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [148]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

Empty DataFrame
Columns: [name, year, quarter, kind_x, latest_amt_y_x, previous_amt_y_x, inc_amt_y_x, inc_pct_y_x, latest_amt_q_x, previous_amt_q_x, inc_amt_q_x, inc_pct_q_x, q_amt_c_x, y_amt_x, inc_amt_py_x, inc_pct_py_x, q_amt_p_x, inc_amt_pq_x, inc_pct_pq_x, ticker_id_x, mean_pct_x, std_pct_x, id, kind_y, latest_amt_y_y, previous_amt_y_y, inc_amt_y_y, inc_pct_y_y, latest_amt_q_y, previous_amt_q_y, inc_amt_q_y, inc_pct_q_y, q_amt_c_y, y_amt_y, inc_amt_py_y, inc_pct_py_y, q_amt_p_y, inc_amt_pq_y, inc_pct_pq_y, ticker_id_y, mean_pct_y, std_pct_y, _merge]
Index: []

[0 rows x 43 columns]

In [150]:
final5 = final4[colw]
final5.sort_values('name')

Empty DataFrame
Columns: [name, year, quarter, kind_x, latest_amt_y_x, previous_amt_y_x, inc_amt_y_x, inc_pct_y_x, latest_amt_q_x, previous_amt_q_x, inc_amt_q_x, inc_pct_q_x, q_amt_c_x, y_amt_x, inc_amt_py_x, inc_pct_py_x, q_amt_p_x, inc_amt_pq_x, inc_pct_pq_x, ticker_id_x, mean_pct_x, std_pct_x]
Index: []

[0 rows x 22 columns]

In [152]:
rcds = final5.values.tolist()
len(rcds)

0

In [154]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2024 AND quarter = 4
ORDER BY name

In [156]:
for rcd in rcds:
    print(rcd)

In [158]:
sql = """
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [160]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of Create Data

In [48]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(396, 2)

In [49]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [50]:
names = final5.name
names

0     SJWD
1      SPC
2    CPAXT
3        M
4    PLANB
Name: name, dtype: object

In [51]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SJWD', 'SPC', 'CPAXT', 'M', 'PLANB'"

In [52]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('SJWD', 'SPC', 'CPAXT', 'M', 'PLANB') AND year = 2023 AND quarter = 4

In [53]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [54]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [55]:
rcds = profits_inp.values.tolist()
len(rcds)

5

In [56]:
for rcd in rcds:
    print(rcd)

[2676, 'CPAXT', 2023, 4, 1, 8640076, 7696904, 943172, 12.25, 8640076, 7829883, 810193, 10.35, 3281626, 2471433, 810193, 32.782316979663214, 1676912, 1604714, 95.69458623946873, 283, 37.76922580478299, 39.93019521835363]
[2677, 'M', 2023, 4, 1, 1681945, 1438814, 243131, 16.9, 1681945, 1493614, 188331, 12.61, 508940, 320609, 188331, 58.741644807226244, 388791, 120149, 30.903235928815224, 279, 29.788720184010366, 20.82259609755133]
[2678, 'PLANB', 2023, 4, 1, 911247, 703174, 208073, 29.59, 911247, 861493, 49754, 5.78, 290826, 235306, 55520, 23.594808462172658, 260991, 29835, 11.431428669954137, 358, 17.5990592830317, 10.915760734097693]
[2674, 'SJWD', 2023, 4, 1, 761315, 504315, 257000, 50.96, 761315, 613131, 148184, 24.17, 261005, 112821, 148184, 131.34434192215988, 139766, 121239, 86.74427256986678, 242, 73.30465362300666, 46.413814421587354]
[2675, 'SPC', 2023, 4, 1, 2230666, 1626668, 603998, 37.13, 2230666, 1907401, 323265, 16.95, 772457, 28095, 744362, 2649.4465207332264, 384034, 388423, 101.14286755860158, 463, 701.167347072957, 1299.348566382152]

In [57]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [58]:
for rcd in rcds:
    conmy.execute(sql, rcd)

In [59]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['ADVANC', 'BBL', 'BDMS', 'CPALL', 'CPAXT', 'GPSC', 'ILM', 'IMPACT',
       'INTUCH', 'INTUCH', 'KTB', 'M', 'PLANB', 'PTT', 'SCB', 'SCCC', 'SJWD',
       'SPC', 'TIPH', 'TTB', 'TTB'],
      dtype='object', name='name')

### After call 450-Export-to-PortPg

In [60]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('SJWD', 'SPC', 'CPAXT', 'M', 'PLANB') AND year = 2023 AND quarter = 4

In [61]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

    name  ticker_id
4  CPAXT        291
3      M        287
2  PLANB        366
1   SJWD        250
0    SPC        471

In [62]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('SJWD', 'SPC', 'CPAXT', 'M', 'PLANB')
ORDER BY name

In [63]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

    name   id            market
0  CPAXT  291               SET
1      M  287             SETWB
2  PLANB  366  SET100 / SETTHSI
3   SJWD  250    sSET / SETTHSI
4    SPC  471               SET

### Additional process to find stocks in SET50 & SET100

In [64]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'ORI', 'AH', 'BCH', 'SABUY', 'SJWD', 'VIBHA', 'SPC', 'ANAN', 'EASTW', 'RS', 'BGC', 'CK', 'CPN', 'STEC', 'TTA', 'BGRIM', 'SUPER', 'AMATA', 'ACE', 'AIE', 'AJ', 'BEAUTY', 'BEC', 'CPAXT', 'CRC', 'ECL', 'FORTH', 'GC', 'GRAMMY', 'HFT', 'HMPRO', 'HTC', 'III', 'IP', 'LALIN', 'LPH', 'M', 'ONEE', 'PDG', 'PLANB', 'POPF', 'S11', 'SIRI', 'SKN', 'SKR', 'SMPC', 'SPRIME', 'SSP', 'SUPEREIF', 'TK', 'TOP', 'TPIPL', 'TSE', 'TYCN'"

In [65]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('ORI', 'AH', 'BCH', 'SABUY', 'SJWD', 'VIBHA', 'SPC', 'ANAN', 'EASTW', 'RS', 'BGC', 'CK', 'CPN', 'STEC', 'TTA', 'BGRIM', 'SUPER', 'AMATA', 'ACE', 'AIE', 'AJ', 'BEAUTY', 'BEC', 'CPAXT', 'CRC', 'ECL', 'FORTH', 'GC', 'GRAMMY', 'HFT', 'HMPRO', 'HTC', 'III', 'IP', 'LALIN', 'LPH', 'M', 'ONEE', 'PDG', 'PLANB', 'POPF', 'S11', 'SIRI', 'SKN', 'SKR', 'SMPC', 'SPRIME', 'SSP', 'SUPEREIF', 'TK', 'TOP', 'TPIPL', 'TSE', 'TYCN')
ORDER BY name

In [66]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,698,ACE,ABSOLUTE CLEAN ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100,www.ace-energy.co.th,2019-11-19 07:11:16.920183,2021-01-26 15:41:59.109472
1,9,AH,AAPICO HITECH PUBLIC COMPANY LIMITED,Industrials,Automotive,sSET / SETTHSI,www.aapico.com,2017-07-23 06:30:43.935758,2021-07-07 03:34:13.530450
2,720,AIE,AI ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET,www.aienergy.co.th,2021-02-21 16:12:17.821078,2022-01-15 03:54:12.607554
3,12,AJ,A.J. PLAST PUBLIC COMPANY LIMITED,Industrials,Packaging,sSET / SETCLMV,www.ajplast.co.th,2017-07-23 06:30:44.227648,2021-07-07 03:34:13.547356
4,21,AMATA,AMATA CORPORATION PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETCLMV / SETTHSI,www.amata.com,2017-07-23 06:30:45.227516,2019-03-03 03:43:37.010600
5,23,ANAN,ANANDA DEVELOPMENT PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.ananda.co.th,2017-07-23 06:30:45.502451,2021-01-26 15:41:59.156219
6,51,BCH,BANGKOK CHAIN HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,SET100 / SETWB,www.bangkokchainhospital.com,2017-07-23 06:30:48.660793,2019-11-19 07:11:18.318608
7,55,BEAUTY,BEAUTY COMMUNITY PUBLIC COMPANY LIMITED,Services,Commerce,SET,www.beautycommunity.co.th,2017-07-23 06:30:49.077654,2022-01-15 03:54:12.673611
8,56,BEC,BEC WORLD PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100,www.becworld.com,2017-07-23 06:30:49.218292,2021-07-07 03:34:13.608165
9,677,BGC,BG CONTAINER GLASS PUBLIC COMPANY LIMITED,Industrials,Packaging,sSET / SETCLMV / SETTHSI,www.bgc.co.th,2019-03-03 03:43:37.662577,2022-01-15 03:54:12.688218
10,59,BGRIM,B.GRIMM POWER PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETTHSI,www.bgrimmpower.com,2017-07-23 06:30:49.577381,2019-03-03 03:43:37.778419
11,106,CK,CH. KARNCHANG PUBLIC COMPANY LIMITED,Property & Construction,Construction Services,SET100 / SETCLMV / SETTHSI,www.ch-karnchang.co.th,2017-07-23 06:30:56.836747,2019-03-03 03:43:38.781128
12,283,CPAXT,SIAM MAKRO PUBLIC COMPANY LIMITED,Services,Commerce,SET,www.siammakro.co.th,2017-07-23 06:31:23.967729,2017-07-23 06:31:23.967729
13,121,CPN,CENTRAL PATTANA PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET50 / SETTHSI,www.centralpattana.co.th,2017-07-23 06:30:58.911154,2021-01-26 15:41:59.378040
14,708,CRC,CENTRAL RETAIL CORPORATION PUBLIC COMPANY LIMITED,Services,Commerce,SET50 / SETCLMV / SETTHSI / SETWB,https://www.centralretail.com/,2020-02-21 03:37:32.781314,2022-01-15 03:54:12.743952
15,151,EASTW,EASTERN WATER RESOURCES DEVELOPMENT AND MANAGE...,Resources,Energy & Utilities,SETTHSI,www.eastwater.com,2017-07-23 06:31:03.278563,2022-01-15 03:54:12.776395
16,153,ECL,EASTERN COMMERCIAL LEASING PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET,www.ecl.co.th,2017-07-23 06:31:03.510933,2018-08-12 12:53:50.475931
17,176,FORTH,FORTH CORPORATION PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET100,www.forth.co.th,2017-07-23 06:31:06.910720,2018-08-12 12:53:51.662456
18,183,GC,GLOBAL CONNECTIONS PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET,www.gc.co.th,2017-07-23 06:31:07.933967,2017-07-23 06:31:07.933967
19,198,GRAMMY,GMM GRAMMY PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET,www.gmmgrammy.com,2017-07-23 06:31:12.194015,2017-07-23 06:31:12.194015
20,207,HFT,HWA FONG RUBBER (THAILAND) PUBLIC COMPANY LIMITED,Industrials,Automotive,sSET,www.duro.co.th,2017-07-23 06:31:13.934713,2021-01-26 15:41:59.525849
21,208,HMPRO,HOME PRODUCT CENTER PUBLIC COMPANY LIMITED,Services,Commerce,SET50 / SETTHSI / SETWB,www.homepro.co.th,2017-07-23 06:31:14.102242,2019-11-19 07:11:22.113622
22,212,HTC,HAAD THIP PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,sSET / SETTHSI,www.haadthip.com,2017-07-23 06:31:14.802103,2021-01-26 15:41:59.532866
23,637,III,TRIPLE I LOGISTICS PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,sSET,www.iii-logistics.com,2017-09-01 02:49:07.120556,2018-08-12 12:53:54.151421
24,736,IP,INTER PHARMA PUBLIC COMPANY LIMITED,Consumer Products,Consumer Products,mai,www.interpharma.co.th,2021-10-25 15:07:42.612339,2021-10-25 15:07:42.612339
25,263,LALIN,LALIN PROPERTY PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.lalinproperty.com,2017-07-23 06:31:21.351487,2021-01-26 15:41:59.652212
26,275,LPH,LADPRAO GENERAL HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,sSET,www.ladpraohospital.com,2017-07-23 06:31:22.951004,2017-12-27 02:26:16.108775
27,279,M,MK RESTAURANT GROUP PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SETWB,www.mkrestaurant.com,2017-07-23 06:31:23.484838,2019-11-19 07:11:23.304305
28,741,ONEE,THE ONE ENTERPRISE PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100,www.theoneenterprise.com,2022-07-03 00:17:44.125032,2022-07-03 00:17:44.125032
29,339,ORI,ORIGIN PROPERTY PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD / SETTHSI,www.origin.co.th,2017-07-23 06:31:31.201362,2022-01-15 03:54:12.968797
30,347,PDG,PRODIGY PUBLIC COMPANY LIMITED,Industrial,Industrial,mai,www.prodigy.co.th,2017-07-23 06:31:32.209499,2022-01-15 03:54:12.985822
31,358,PLANB,PLAN B MEDIA PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100 / SETTHSI,www.planbmedia.co.th,2017-07-23 06:31:33.542008,2022-01-15 03:54:12.993395
32,364,POPF,PRIME OFFICE LEASEHOLD PROPERTY FUND,Property & Construction,Property Fund & REITs,SET,www.scbam.com,2017-07-23 06:31:34.357854,2017-07-23 06:31:34.357854
33,408,RS,RS PUBLIC COMPANY LIMITED,Services,Commerce,SET / SETTHSI,www.rs.co.th,2017-07-23 06:31:41.422986,2022-01-15 03:54:13.043179
34,412,S11,S 11 GROUP PUBLIC COMPANY LIMITED,Financials,Finance & Securities,sSET,www.sgroup.co.th,2017-07-23 06:31:42.031741,2021-01-26 15:41:59.898759
35,721,SABUY,SABUY TECHNOLOGY PUBLIC COMPANY LIMITED,Services,Commerce,SET,www.sabuytechnology.com,2021-03-16 02:33:57.952553,2022-01-15 03:54:13.051513
36,447,SIRI,SANSIRI PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET / SETTHSI,www.sansiri.com,2017-07-23 06:31:47.490953,2022-01-15 03:54:13.083352
37,242,SJWD,JWD INFOLOGISTICS PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,sSET / SETTHSI,www.jwd-group.com,2017-07-23 06:31:18.959179,2019-03-03 03:43:41.262046
38,642,SKN,S.KIJCHAI ENTERPRISE PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,sSET,www.skn.co.th,2017-10-13 05:33:23.808784,2021-07-07 03:34:13.989298
39,451,SKR,SIKARIN PUBLIC COMPANY LIMITED,Services,Health Care Services,SET,www.sikarin.com,2017-07-23 06:31:48.023120,2019-03-03 03:43:44.046531
40,455,SMPC,SAHAMITR PRESSURE CONTAINER PUBLIC COMPANY LIM...,Industrials,Packaging,sSET,www.smpcplc.com,2017-07-23 06:31:48.564852,2021-01-26 15:41:59.994716
41,463,SPC,SAHA PATHANAPIBUL PUBLIC COMPANY LIMITED,Services,Commerce,SET,www.sahapat.co.th,2017-07-23 06:31:49.614868,2017-07-23 06:31:49.614868
42,705,SPRIME,S PRIME GROWTH LEASEHOLD REAL ESTATE INVESTMEN...,Property & Construction,Property Fund & REITs,SET,No url,2019-11-19 07:11:27.497243,2021-01-26 15:42:00.016837
43,643,SSP,SERMSANG POWER CORPORATION PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET / SETCLMV,www.sermsang.com,2017-10-13 05:33:24.004267,2021-01-26 15:42:00.032186
44,484,STEC,SINO-THAI ENGINEERING AND CONSTRUCTION PUBLIC ...,Property & Construction,Construction Services,SET100,www.stecon.co.th,2017-07-23 06:31:52.331814,2017-07-23 06:31:52.331814
45,487,SUPER,SUPER ENERGY CORPORATION PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV,www.supercorp.co.th,2017-07-23 06:31:52.722805,2021-01-26 15:42:00.060439
46,706,SUPEREIF,SUPER ENERGY POWER PLANT INFRASTRUCTURE FUND,Resources,Energy & Utilities,SET,www.supereif.com,2019-11-19 07:11:27.915718,2022-01-15 03:54:13.142504
47,532,TK,THITIKORN PUBLIC COMPANY LIMITED,Financials,Finance & Securities,sSET,www.tk.co.th,2017-07-23 06:31:59.922248,2021-07-07 03:34:14.078554
48,555,TOP,THAI OIL PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETTHSI,www.thaioilgroup.com,2017-07-23 06:32:04.097316,2021-07-07 03:34:14.109110
49,559,TPIPL,TPI POLENE PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET,www.tpipolene.co.th,2017-07-23 06:32:05.279713,2019-03-03 03:43:45.671381
50,573,TSE,THAI SOLAR ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET,www.thaisolarenergy.com,2017-07-23 06:32:07.987353,2019-11-19 07:11:30.547854
51,579,TTA,THORESEN THAI AGENCIES PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,SET100 / SETWB,www.thoresen.com,2017-07-23 06:32:08.938394,2022-01-15 03:54:13.222818
52,737,TYCN,"TYCOONS WORLDWIDE GROUP (THAILAND) PUBLIC CO.,...",Industrials,Steel and Metal Products,SET,www.tycons.com,2021-11-04 15:13:03.928246,2021-11-04 15:13:03.928246
53,610,VIBHA,VIBHAVADI MEDICAL CENTER PUBLIC COMPANY LIMITED,Services,Health Care Services,SETWB,www.vibhavadi.com,2017-07-23 06:32:13.979586,2021-01-26 15:42:00.276024