In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2024
quarter = 4
select_date = date.today()
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-22

In [3]:
select_date = date(2025, 2, 20)
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-20

In [5]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [8]:
names = """
IP
""".split()
names

['IP']

In [10]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'IP'"

In [12]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [7]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, select_date)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2024 AND quarter = 4
AND publish_date >= '2025-02-20'

### End of Normal Process

In [10]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.shape

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2024 AND quarter = 'Q4'

(97, 7)

In [12]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [15]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.head(5).style.format(format_dict)

In [17]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.sample(5).style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2024 AND quarter = 'Q4'

In [19]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [22]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent
4. YoY Profit Higher

In [27]:
profits[profits["name"] == "MCS"].style.format(format_dict)

In [29]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [31]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [33]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [35]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [37]:
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [39]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [41]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [50]:
#final = filter.drop(colt, axis=1)
#final.style.format(format_dict)

In [43]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [45]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2024 AND A.quarter = 4
AND B.year = 2024 AND B.quarter = (4-1)

In [47]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [49]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [52]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
0,CBG,2842676,2709312,133364,4.92,2842676,1924235,918441,47.73,2024,4,782668,649304,741043
3,BCPG,1819389,1481869,337520,22.78,1819389,1104036,715353,64.79,2024,4,163822,-173698,-28379
4,AIMIRT,948696,698124,250572,35.89,948696,501902,446794,89.02,2024,4,342254,-208318,149501

In [54]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

### If there is no record in the above statement, no need to further process

In [57]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [59]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [61]:
final2.kind.value_counts()

kind
1    3
Name: count, dtype: int64

In [63]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [67]:
final2["inc_pct_py"] = final2["inc_pct_py"].replace("inf", np.nan)

In [69]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [71]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

     name    mean_pct
3    BCPG  239.787287
4  AIMIRT  129.533731
0     CBG   19.701654

In [73]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [75]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

     name     std_pct
0     CBG   20.026338
4  AIMIRT   97.589630
3    BCPG  300.649659

In [77]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [79]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [81]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2024 AND quarter = 4
ORDER BY name

In [83]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [85]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [87]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
1,AIMIRT,2024,4,1.0,948696.0,501902.0,446794.0,89.02,948696.0,698124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,BCPG,2024,4,1.0,1819389.0,1104036.0,715353.0,64.79,1819389.0,1481869.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,CBG,2024,4,1.0,2842676.0,1924235.0,918441.0,47.73,2842676.0,2709312.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [89]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
1,AIMIRT,2024,4,1.0,948696.0,501902.0,446794.0,89.02,948696.0,698124.0,...,342254.0,-208318.0,550572.0,264.294012,149501.0,192753.0,128.930910,669.0,129.533731,97.589630
2,BCPG,2024,4,1.0,1819389.0,1104036.0,715353.0,64.79,1819389.0,1481869.0,...,163822.0,-173698.0,337520.0,194.314270,-28379.0,192201.0,677.264879,53.0,239.787287,300.649659
3,CBG,2024,4,1.0,2842676.0,1924235.0,918441.0,47.73,2842676.0,2709312.0,...,782668.0,649304.0,133364.0,20.539532,741043.0,41625.0,5.617083,87.0,19.701654,20.026338

In [91]:
rcds = final5.values.tolist()
len(rcds)

3

In [93]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2024 AND quarter = 4
ORDER BY name

In [95]:
for rcd in rcds:
    print(rcd)

['AIMIRT', 2024, 4, 1.0, 948696.0, 501902.0, 446794.0, 89.02, 948696.0, 698124.0, 250572.0, 35.89, 342254.0, -208318.0, 550572.0, 264.2940120392861, 149501.0, 192753.0, 128.93091016113604, 669.0, 129.53373055010553, 97.58962973235059]
['BCPG', 2024, 4, 1.0, 1819389.0, 1104036.0, 715353.0, 64.79, 1819389.0, 1481869.0, 337520.0, 22.78, 163822.0, -173698.0, 337520.0, 194.31426959435342, -28379.0, 192201.0, 677.2648789597941, 53.0, 239.7872871385369, 300.6496587100314]
['CBG', 2024, 4, 1.0, 2842676.0, 1924235.0, 918441.0, 47.73, 2842676.0, 2709312.0, 133364.0, 4.92, 782668.0, 649304.0, 133364.0, 20.539531559947267, 741043.0, 41625.0, 5.617082949302537, 87.0, 19.701653627312453, 20.026338115583684]

In [ ]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

In [99]:
try:
    # Execute the SQL statement within the existing transaction
    conlt.execute(sql, records_dicts)  # Bulk insert using named parameters
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
    conlt.rollback()  # Rollback the transaction in case of error

Data inserted successfully!

In [101]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

### End of Create Data

In [104]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(394, 2)

In [106]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [109]:
names = final5.name
names

1    AIMIRT
2      BCPG
3       CBG
Name: name, dtype: object

In [111]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AIMIRT', 'BCPG', 'CBG'"

In [113]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('AIMIRT', 'BCPG', 'CBG') AND year = 2024 AND quarter = 4

In [115]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [117]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [119]:
rcds = profits_inp.values.tolist()
len(rcds)

3

In [121]:
for rcd in rcds:
    print(rcd)

[2762, 'AIMIRT', 2024, 4, 1, 948696, 501902, 446794, 89.02, 948696, 698124, 250572, 35.89, 342254, -208318, 550572, 264.2940120392861, 149501, 192753, 128.93091016113604, 669, 129.53373055010553, 97.58962973235059]
[2763, 'BCPG', 2024, 4, 1, 1819389, 1104036, 715353, 64.79, 1819389, 1481869, 337520, 22.78, 163822, -173698, 337520, 194.31426959435342, -28379, 192201, 677.2648789597941, 53, 239.7872871385369, 300.6496587100314]
[2764, 'CBG', 2024, 4, 1, 2842676, 1924235, 918441, 47.73, 2842676, 2709312, 133364, 4.92, 782668, 649304, 133364, 20.539531559947267, 741043, 41625, 5.617082949302537, 87, 19.701653627312453, 20.026338115583684]

In [123]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

# Insert data using transactions
try:
    with conmy.begin():  # Transaction block
        conmy.execute(sql, records_dicts)  # Bulk insert using named parameters
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
finally:
    conmy.commit()

Data inserted successfully!

In [125]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['2759', '2760', '2761', '2762', '2763', '2764', 'BCH', 'BDMS', 'BEM',
       'BH', 'CK', 'CRC', 'PLANB', 'SYNEX'],
      dtype='object', name='name')

### After call 450-Export-to-PortPg

In [127]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('AIMIRT', 'BCPG', 'CBG') AND year = 2024 AND quarter = 4

In [129]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

Empty DataFrame
Columns: [name, ticker_id]
Index: []

In [131]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('AIMIRT', 'BCPG', 'CBG')
ORDER BY name

In [133]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

     name  id                              market
0  AIMIRT  13                                 SET
1    BCPG  57  SET100 / SETCLMV / SETHD / SETTHSI
2     CBG  90             SET50 / SETCLMV / SETWB

### Additional process to find stocks in SET50 & SET100

In [136]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'CPNREIT', 'MCS', 'TMT', 'TFG', 'WORK', 'BE8', 'CBG', 'MAJOR', 'ROJNA', 'SPRIME', 'LIT', 'BEC', 'WHA', 'LANNA', 'RCL', 'TCAP', 'ASW', 'BCP', 'EASTW', 'LPH', 'PREB', 'PTT', 'TRUE', 'CKP', 'BCPG', 'GFPT', 'AIMIRT'"

In [138]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('CPNREIT', 'MCS', 'TMT', 'TFG', 'WORK', 'BE8', 'CBG', 'MAJOR', 'ROJNA', 'SPRIME', 'LIT', 'BEC', 'WHA', 'LANNA', 'RCL', 'TCAP', 'ASW', 'BCP', 'EASTW', 'LPH', 'PREB', 'PTT', 'TRUE', 'CKP', 'BCPG', 'GFPT', 'AIMIRT')
ORDER BY name

In [140]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,669,AIMIRT,AIM INDUSTRIAL GROWTH FREEHOLD AND LEASEHOLD R...,Property & Construction,Property Fund & REITs,SET,www.aimreit.com,2018-06-21 02:39:56.326926,2018-06-21 02:39:56.326926
1,728,ASW,ASSETWISE PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.assetwise.co.th,2021-08-22 15:11:51.493365,2022-01-15 03:54:12.640882
2,52,BCP,BANGCHAK CORPORATION PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETTHSI,www.bangchak.co.th,2017-07-23 06:30:48.761380,2021-07-07 03:34:13.600451
3,53,BCPG,BCPG PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETHD / SETTHSI,www.bcpggroup.com,2017-07-23 06:30:48.869670,2022-01-15 03:54:12.666662
4,745,BE8,BERYL 8 PLUS PUBLIC COMPANY LIMITED,Technology,Technology,mai,www.beryl8.com,2022-08-05 10:20:13.082282,2022-08-05 10:20:13.082282
5,56,BEC,BEC WORLD PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100,www.becworld.com,2017-07-23 06:30:49.218292,2021-07-07 03:34:13.608165
6,87,CBG,CARABAO GROUP PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET50 / SETCLMV / SETWB,www.carabaogroup.com,2017-07-23 06:30:54.027998,2019-11-19 07:11:19.512684
7,107,CKP,CK POWER PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETTHSI,www.ckpower.co.th,2017-07-23 06:30:56.987542,2021-01-26 15:41:59.340667
8,647,CPNREIT,CPN RETAIL GROWTH LEASEHOLD REIT,Property & Construction,Property Fund & REITs,SET,www.cpnreit.com,2017-12-21 13:43:29.709328,2017-12-21 13:43:29.709328
9,151,EASTW,EASTERN WATER RESOURCES DEVELOPMENT AND MANAGE...,Resources,Energy & Utilities,SETTHSI,www.eastwater.com,2017-07-23 06:31:03.278563,2022-01-15 03:54:12.776395
10,187,GFPT,GFPT PUBLIC COMPANY LIMITED,Agro & Food Industry,Agribusiness,sSET / SETTHSI,www.gfpt.co.th,2017-07-23 06:31:08.585650,2021-07-07 03:34:13.727071
11,264,LANNA,THE LANNA RESOURCES PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET,www.lannar.com,2017-07-23 06:31:21.518187,2021-01-26 15:41:59.658586
12,273,LIT,LEASE IT PUBLIC COMPANY LIMITED,Financials,Financials,mai,www.leaseit.co.th,2017-07-23 06:31:22.751914,2022-01-15 03:54:12.908594
13,275,LPH,LADPRAO GENERAL HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,sSET,www.ladpraohospital.com,2017-07-23 06:31:22.951004,2017-12-27 02:26:16.108775
14,282,MAJOR,MAJOR CINEPLEX GROUP PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100 / SETCLMV / SETTHSI,www.majorcineplex.com,2017-07-23 06:31:23.860123,2021-07-07 03:34:13.827819
15,293,MCS,M.C.S.STEEL PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,sSET,www.mcssteel.com,2017-07-23 06:31:25.175515,2021-08-22 18:21:29.955601
16,372,PREB,PRE-BUILT PUBLIC COMPANY LIMITED,Property & Construction,Construction Services,SET,www.prebuilt.co.th,2017-07-23 06:31:35.566133,2021-01-26 15:41:59.818302
17,383,PTT,PTT PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETHD / SETTHSI,www.pttplc.com,2017-07-23 06:31:37.233572,2019-11-19 07:11:25.130404
18,396,RCL,REGIONAL CONTAINER LINES PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,SET100 / SETCLMV,www.rclgroup.com,2017-07-23 06:31:39.448926,2022-01-15 03:54:13.035036
19,404,ROJNA,ROJANA INDUSTRIAL PARK PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.rojana.com,2017-07-23 06:31:40.706123,2017-12-27 02:26:19.237126
20,705,SPRIME,S PRIME GROWTH LEASEHOLD REAL ESTATE INVESTMEN...,Property & Construction,Property Fund & REITs,SET,No url,2019-11-19 07:11:27.497243,2021-01-26 15:42:00.016837
21,503,TCAP,THANACHART CAPITAL PUBLIC COMPANY LIMITED,Financials,Banking,SET100 / SETHD,www.thanachart.co.th,2017-07-23 06:31:55.147304,2021-01-26 15:42:00.090886
22,513,TFG,THAIFOODS GROUP PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET,www.tfg.co.th,2017-07-23 06:31:56.704570,2017-07-23 06:31:56.704570
23,545,TMT,TMT STEEL PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,sSET / SETTHSI,www.tmtsteel.co.th,2017-07-23 06:32:02.297024,2022-01-15 03:54:13.186946
24,571,TRUE,TRUE CORPORATION PUBLIC COMPANY LIMITED,Technology,Information & Communication Technology,SET50 / SETTHSI,www.truecorp.co.th,2017-07-23 06:32:07.647453,2019-03-03 03:43:45.971874
25,619,WHA,WHA CORPORATION PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SET100 / SETHD / SETTHSI,www.wha.co.th,2017-07-23 06:32:15.496450,2021-07-07 03:34:14.173507
26,628,WORK,WORKPOINT ENTERTAINMENT PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET,www.workpoint.co.th,2017-07-23 06:32:16.937561,2022-01-15 03:54:13.274614

In [142]:
conlt.commit()
conlt.close()

In [144]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:02:22 13:16:55