In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2024
quarter = 4
select_date = date.today()
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-15

In [3]:
select_date = date(2025, 2, 13)
select_date = select_date.strftime("%Y-%m-%d")
print(select_date)

2025-02-13

In [5]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [8]:
names = """
IP
""".split()
names

['IP']

In [10]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'IP'"

In [12]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [7]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, select_date)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2024 AND quarter = 4
AND publish_date >= '2025-02-13'

### End of Normal Process

In [10]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.shape

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2024 AND quarter = 'Q4'

(45, 7)

In [12]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [15]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.head(5).style.format(format_dict)

In [17]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.sample(5).style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2024 AND quarter = 'Q4'

In [19]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [22]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent
4. YoY Profit Higher

In [29]:
profits[profits["name"] == "MINT"].style.format(format_dict)

In [31]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [33]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [35]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [37]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [39]:
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [41]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [43]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [45]:
#final = filter.drop(colt, axis=1)
#final.style.format(format_dict)

In [45]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [47]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s AND B.quarter = (%s-1)"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2024 AND A.quarter = 4
AND B.year = 2024 AND B.quarter = (4-1)

In [49]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [51]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [54]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
0,MINT,7750222,5102760,2647462,51.88,7750222,5407055,2343167,43.34,2024,4,3631530,984068,149396

In [56]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

### If there is no record in the above statement, no need to further process

In [59]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [61]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [63]:
final2.kind.value_counts()

kind
1    1
Name: count, dtype: int64

In [65]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [67]:
final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

C:\Users\PC1\AppData\Local\Temp\ipykernel_125392\3023047653.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [69]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [71]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

   name   mean_pct
0  MINT  673.76512

In [73]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [75]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

   name      std_pct
0  MINT  1109.621072

In [77]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [79]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [81]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2024 AND quarter = 4
ORDER BY name

In [83]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [85]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [87]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
1,MINT,2024,4,1.0,7750222.0,5407055.0,2343167.0,43.34,7750222.0,5102760.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [89]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
1,MINT,2024,4,1.0,7750222.0,5407055.0,2343167.0,43.34,7750222.0,5102760.0,...,3631530.0,984068.0,2647462.0,269.032425,149396.0,3482134.0,2330.808054,301.0,673.76512,1109.621072

In [91]:
rcds = final5.values.tolist()
len(rcds)

1

In [93]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2024 AND quarter = 4
ORDER BY name

In [95]:
for rcd in rcds:
    print(rcd)

['MINT', 2024, 4, 1.0, 7750222.0, 5407055.0, 2343167.0, 43.34, 7750222.0, 5102760.0, 2647462.0, 51.88, 3631530.0, 984068.0, 2647462.0, 269.0324245885447, 149396.0, 3482134.0, 2330.808053763153, 301.0, 673.7651195879245, 1109.6210724798275]

In [99]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

# Insert data using transactions
try:
    with conlt.begin() as trans:  # Start a new transaction
        conlt.execute(sql, records_dicts)  # Bulk insert using named parameters
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
    trans.rollback()  # Rollback the transaction in case of error

Data inserted successfully!

In [103]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

### End of Create Data

In [105]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(394, 2)

In [107]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [110]:
names = final5.name
names

1    MINT
Name: name, dtype: object

In [112]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'MINT'"

In [114]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('MINT') AND year = 2024 AND quarter = 4

In [116]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.style.format(format_dict)

In [118]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

In [120]:
rcds = profits_inp.values.tolist()
len(rcds)

1

In [122]:
for rcd in rcds:
    print(rcd)

[2761, 'MINT', 2024, 4, 1, 7750222, 5407055, 2343167, 43.34, 7750222, 5102760, 2647462, 51.88, 3631530, 984068, 2647462, 269.0324245885447, 149396, 3482134, 2330.808053763153, 301, 673.7651195879245, 1109.6210724798275]

In [124]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

# Insert data using transactions
try:
    with conmy.begin():  # Transaction block
        conmy.execute(sql, records_dicts)  # Bulk insert using named parameters
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
finally:
    conmy.commit()

Data inserted successfully!

In [126]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['2759', '2760', '2761', 'BCH', 'BDMS', 'BEM', 'BH', 'CBG', 'CK', 'CKP',
       'CRC', 'MTC', 'PLANB', 'RCL', 'ROJNA', 'SYNEX', 'TFG'],
      dtype='object', name='name')

### After call 450-Export-to-PortPg

In [128]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('MINT') AND year = 2024 AND quarter = 4

In [130]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

   name  ticker_id
0  MINT        309

In [132]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('MINT')
ORDER BY name

In [134]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

   name   id                             market
0  MINT  309  SET50 / SETCLMV / SETTHSI / SETWB

### Additional process to find stocks in SET50 & SET100

In [137]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SMPC', 'DELTA', 'TOP', 'SIS', 'TPIPL', 'MINT', 'EPG', 'S11', 'TPIPP', 'TTLPF', 'EGATIF', 'INOX', 'DRT', 'GLOBAL'"

In [139]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('SMPC', 'DELTA', 'TOP', 'SIS', 'TPIPL', 'MINT', 'EPG', 'S11', 'TPIPP', 'TTLPF', 'EGATIF', 'INOX', 'DRT', 'GLOBAL')
ORDER BY name

In [141]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,138,DELTA,DELTA ELECTRONICS (THAILAND) PUBLIC COMPANY LI...,Technology,Electronic Components,SET,www.deltathailand.com,2017-07-23 06:31:00.997874,2022-01-15 03:54:12.754970
1,143,DRT,DIAMOND BUILDING PRODUCTS PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,sSET / SETCLMV / SETTHSI,www.dbp.co.th,2017-07-23 06:31:02.086192,2021-07-07 03:34:13.690603
2,156,EGATIF,NORTH BANGKOK POWER PLANT BLOCK 1 INFRASTRUCTU...,Resources,Energy & Utilities,SET,www.ktam.co.th,2017-07-23 06:31:03.927442,2017-07-23 06:31:03.927442
3,162,EPG,EASTERN POLYMER GROUP PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET100 / SETTHSI,www.epg.co.th,2017-07-23 06:31:05.010998,2022-01-15 03:54:12.785912
4,193,GLOBAL,SIAM GLOBAL HOUSE PUBLIC COMPANY LIMITED,Services,Commerce,SET50 / SETCLMV / SETTHSI / SETWB,www.globalhouse.co.th,2017-07-23 06:31:11.317301,2022-01-15 03:54:12.813219
5,674,INOX,POSCO-THAINOX PUBLIC COMPANY LIMITED,Industrials,Steel and Metal Products,SET,www.poscothainox.com,2018-08-12 12:53:54.698730,2021-08-22 18:21:29.908036
6,301,MINT,MINOR INTERNATIONAL PUBLIC COMPANY LIMITED,Agro & Food Industry,Food & Beverage,SET50 / SETCLMV / SETTHSI / SETWB,www.minor.com,2017-07-23 06:31:26.051885,2019-11-19 07:11:23.698934
7,412,S11,S 11 GROUP PUBLIC COMPANY LIMITED,Financials,Finance & Securities,sSET,www.sgroup.co.th,2017-07-23 06:31:42.031741,2021-01-26 15:41:59.898759
8,449,SIS,SIS DISTRIBUTION (THAILAND) PUBLIC COMPANY LIM...,Technology,Information & Communication Technology,sSET,www.sisthai.com,2017-07-23 06:31:47.756542,2019-03-03 03:43:43.746079
9,455,SMPC,SAHAMITR PRESSURE CONTAINER PUBLIC COMPANY LIM...,Industrials,Packaging,sSET,www.smpcplc.com,2017-07-23 06:31:48.564852,2021-01-26 15:41:59.994716
10,555,TOP,THAI OIL PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETTHSI,www.thaioilgroup.com,2017-07-23 06:32:04.097316,2021-07-07 03:34:14.109110
11,559,TPIPL,TPI POLENE PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,SET,www.tpipolene.co.th,2017-07-23 06:32:05.279713,2019-03-03 03:43:45.671381
12,560,TPIPP,TPI POLENE POWER PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET,www.tpipolenepower.co.th,2017-07-23 06:32:05.530911,2021-07-07 03:34:14.114254
13,707,TTLPF,TALAAD THAI LEASEHOLD PROPERTY FUND,Property & Construction,Property Fund & REITs,SET,None,2019-11-19 07:11:30.744041,2019-11-19 07:11:30.744041

In [143]:
conlt.commit()
conlt.close()

In [145]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:02:15 14:39:16