### Restart and Run All Cells

In [2]:
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-20 14:34:39

In [3]:
format_dict = {
    "q_amt": "{:,}",
    "y_amt": "{:,}",
    "yoy_gain": "{:,}",
    "q_amt_c": "{:,}",
    "q_amt_p": "{:,}",
    "aq_amt": "{:,}",
    "ay_amt": "{:,}",
    "acc_gain": "{:,}",
    "latest_amt": "{:,}",
    "previous_amt": "{:,}",
    "inc_amt": "{:,}",
    "inc_amt_pq": "{:,}",
    "inc_amt_py": "{:,}",    
    "latest_amt_q": "{:,}",
    "previous_amt_q": "{:,}",
    "inc_amt_q": "{:,}",
    "latest_amt_y": "{:,}",
    "previous_amt_y": "{:,}",
    "inc_amt_y": "{:,}",
    "kind_x": "{:,}",
    "inc_pct": "{:.2f}%",
    "inc_pct_q": "{:.2f}%",
    "inc_pct_y": "{:.2f}%",
    "inc_pct_pq": "{:.2f}%",
    "inc_pct_py": "{:.2f}%",   
    "mean_pct": "{:.2f}%",
    "std_pct": "{:.2f}%",      
}

In [4]:
cols = 'name year quarter q_amt y_amt aq_amt ay_amt q_eps y_eps aq_eps ay_eps ticker_id publish_date'.split()
colt = 'name year qtr_int latest_amt previous_amt inc_amt inc_pct ticker_id'.split()

In [5]:
sql = """
SELECT name, id AS ticker_id
FROM tickers"""

tickers = pd.read_sql(sql, conpg)
tickers.shape

(396, 2)

In [6]:
sql = text("DELETE FROM epss")
rp = conpg.execute(sql)
rp.rowcount

9299

In [7]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,publish_date
FROM epss 
ORDER BY year, quarter, name"""

df_inp = pd.read_sql(sql, conlt)
df_inp.shape

(9324, 12)

In [8]:
df_merge = pd.merge(df_inp, tickers, on="name", how="outer", indicator=True)
df_merge.shape

(9494, 14)

In [9]:
df_left = df_merge[df_merge["_merge"] == "left_only"]
df_left["name"].unique()
df_left

Empty DataFrame
Columns: [name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, publish_date, ticker_id, _merge]
Index: []

In [10]:
cols = 'name year quarter q_amt y_amt aq_amt ay_amt q_eps y_eps aq_eps ay_eps ticker_id publish_date'.split()
cols

['name',
 'year',
 'quarter',
 'q_amt',
 'y_amt',
 'aq_amt',
 'ay_amt',
 'q_eps',
 'y_eps',
 'aq_eps',
 'ay_eps',
 'ticker_id',
 'publish_date']

In [11]:
df_ins = df_merge[df_merge["_merge"] == "both"]
df_eps = df_ins[cols]
df_eps.shape

(9324, 13)

In [12]:
# Convert DataFrame to list of records
rcds = df_eps.values.tolist()

# Define column names in the same order as values
columns = ['name', 'year', 'quarter', 'q_amt', 'y_amt', 'aq_amt', 'ay_amt', 
           'q_eps', 'y_eps', 'aq_eps', 'ay_eps', 'ticker_id', 'publish_date']

# SQL insert statement with named parameters
sql = text("""
    INSERT INTO epss 
    (name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, 
     q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date)
    VALUES (:name, :year, :quarter, :q_amt, :y_amt, :aq_amt, :ay_amt,
            :q_eps, :y_eps, :aq_eps, :ay_eps, :ticker_id, :publish_date)
""")

try:
    # Execute inserts
    for rcd in rcds:
        # Convert list to dictionary
        params = dict(zip(columns, rcd))
        conpg.execute(sql, params)
    
    # Commit the transaction
    conpg.commit()
except Exception as e:
    # Rollback on error
    conpg.rollback()
    raise e

### Start of Yearly Profit Section

In [14]:
sql = text("DELETE FROM yr_profits")
rp = conpg.execute(sql)
rp.rowcount

6801

In [15]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
ORDER BY year desc, quarter desc, name"""
df_year = pd.read_sql(sql, conlt)
df_year.shape

(6826, 7)

In [16]:
# Extract numeric portion from Q9 format
df_year["qtr_int"] = df_year["quarter"].str[1:]
df_year.shape

(6826, 8)

In [17]:
df_merge = pd.merge(df_year, tickers, on="name", how="outer", indicator=True)
df_merge.shape

(6996, 10)

In [18]:
df_left = df_merge[df_merge["_merge"] == "left_only"]
df_left

Empty DataFrame
Columns: [name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, qtr_int, ticker_id, _merge]
Index: []

In [19]:
df_ins = df_merge[df_merge["_merge"] == "both"]
df_eps = df_ins[colt]
df_eps.shape

(6826, 8)

In [20]:
# Column names (ensure they match the actual column names in your table)
columns = ["name", "year", "quarter", "latest_amt", "previous_amt", "inc_amt", "inc_pct", "ticker_id"]

# Convert list of lists to list of dictionaries
rcds = [dict(zip(columns, row)) for row in df_eps.values.tolist()]

query = text("""
    INSERT INTO yr_profits (name, year, quarter, 
    latest_amt, previous_amt, inc_amt, inc_pct, ticker_id) 
    VALUES (:name, :year, :quarter, :latest_amt, :previous_amt, :inc_amt, :inc_pct, :ticker_id)
""")

conpg.execute(query, rcds)  # Bulk insert with named placeholders
conpg.commit()  # Commit transaction

### Start of Profits section

In [22]:
sql = """
SELECT name, id AS ticker_id
FROM tickers"""
tickers = pd.read_sql(sql, conpg)
tickers.shape

(396, 2)

In [23]:
sql = text("DELETE FROM profits")
rp = conpg.execute(sql)
rp.rowcount

39

In [24]:
sql = """
SELECT *
FROM profits 
ORDER BY year desc, quarter desc, name"""
profits = pd.read_sql(sql, conlt)
profits.shape

(52, 23)

In [25]:
cold = 'name year quarter'.split()
profits[cold].sort_values(by=['name','year','quarter'],ascending=[True,False,False])

      name  year  quarter
45      2S  2021        4
0   ADVANC  2024        4
46    AYUD  2021        4
33     BBL  2023        3
3      BCH  2024        3
4     BDMS  2024        3
18    BDMS  2023        4
5      BEM  2024        3
6       BH  2024        3
7      CBG  2024        3
44   CIMBT  2022        1
8       CK  2024        3
9      CKP  2024        3
19   CPALL  2023        4
20   CPAXT  2023        4
10     CRC  2024        3
21  EGATIF  2023        4
39     FPT  2023        2
34    GPSC  2023        3
51  GVREIT  2021        3
22     ILM  2023        4
35  IMPACT  2023        3
23  INTUCH  2023        4
40     KSL  2022        3
43     KSL  2022        2
36     KTB  2023        3
37    LHFG  2023        3
24       M  2023        4
1     MINT  2024        4
47     MTI  2021        4
41   OISHI  2022        3
11   PLANB  2024        3
25   PLANB  2023        4
26     PTT  2023        4
12     RCL  2024        3
13   ROJNA  2024        3
48   SAUCE  2021        4
27     SCB  2023        4
28    SCCC  2023        4
29    SJWD  2023        4
30     SPC  2023        4
49     SPI  2021        4
42   STARK  2022        3
2      SVI  2024        4
14   SYNEX  2024        3
15   TFFIF  2024        3
16     TFG  2024        3
31    TIPH  2023        4
32     TTB  2023        4
38     TTB  2023        3
17   VIBHA  2024        3
50     VNT  2021        4

In [26]:
sql = """
SELECT name, year, quarter, publish_date
FROM epss"""
epss = pd.read_sql(sql, conlt)
epss.shape

(9324, 4)

In [27]:
df_merge = pd.merge(
    profits, epss, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.shape

(9333, 25)

In [28]:
prf_eps = df_merge[df_merge["_merge"] == "both"]
prf_eps.shape

(43, 25)

In [29]:
columns = ["id", "ticker_id", "_merge"]
prf_eps_2 = prf_eps.drop(columns, axis=1)
prf_eps_2.shape

(43, 22)

In [30]:
df_merge = pd.merge(prf_eps_2, tickers, on="name", how="inner")
df_merge.shape

(43, 23)

In [31]:
# Convert DataFrame to a list of tuples
rcds = df_merge.values.tolist()
print(f"Number of records to insert: {len(rcds)}")

# SQL query with parameter placeholders
sql = text("""
INSERT INTO profits (
    name, year, quarter, kind,
    latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
    latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
    q_amt_c, y_amt, inc_amt_py, inc_pct_py,
    q_amt_p, inc_amt_pq, inc_pct_pq,
    mean_pct, std_pct, publish_date, ticker_id
)
VALUES (
    :name, :year, :quarter, :kind,
    :latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
    :latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
    :q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
    :q_amt_p, :inc_amt_pq, :inc_pct_pq,
    :mean_pct, :std_pct, :publish_date, :ticker_id
)
""")

# Execute the query for each record
for rcd in rcds:
    # Convert tuple to dictionary
    params = {
        'name': rcd[0],
        'year': rcd[1],
        'quarter': rcd[2],
        'kind': rcd[3],
        'latest_amt_y': rcd[4],
        'previous_amt_y': rcd[5],
        'inc_amt_y': rcd[6],
        'inc_pct_y': rcd[7],
        'latest_amt_q': rcd[8],
        'previous_amt_q': rcd[9],
        'inc_amt_q': rcd[10],
        'inc_pct_q': rcd[11],
        'q_amt_c': rcd[12],
        'y_amt': rcd[13],
        'inc_amt_py': rcd[14],
        'inc_pct_py': rcd[15],
        'q_amt_p': rcd[16],
        'inc_amt_pq': rcd[17],
        'inc_pct_pq': rcd[18],
        'mean_pct': rcd[19],
        'std_pct': rcd[20],
        'publish_date': rcd[21],
        'ticker_id': rcd[22]
    }

    # Execute the query
    conpg.execute(sql, params)

print("Records inserted successfully!")

Number of records to insert: 43
Records inserted successfully!

### End of Profits section

In [33]:
sql = '''
SELECT * FROM profits
ORDER BY name, year DESC, quarter DESC'''
profits = pd.read_sql(sql, conpg)
profits.shape

(43, 24)

In [34]:
profits2 = profits.drop('id',axis=1)
profits2.shape

(43, 23)

In [35]:
dfc_hi = profits2.sort_values(['name','year','quarter'], ascending=False)
dfc_hi.shape

(43, 23)

In [36]:
dfc_hi_uniq = dfc_hi.drop_duplicates(subset='name')
dfc_hi_uniq.shape

(39, 23)

In [37]:
rcds = dfc_hi_uniq.values.tolist()
len(rcds)

39

In [38]:
# Identify duplicated rows based on the 'name' column
duplicated_rows = dfc_hi[dfc_hi.duplicated(subset='name', keep=False)]

# Display the duplicated rows
print("Duplicated and dropped rows:")
print(duplicated_rows[cold])

Duplicated and dropped rows:
     name  year  quarter
40    TTB  2023        4
41    TTB  2023        3
26  PLANB  2024        3
27  PLANB  2023        4
20    KSL  2022        3
21    KSL  2022        2
3    BDMS  2024        3
4    BDMS  2023        4

In [39]:
sql = text('DELETE FROM profits')
print(sql)

DELETE FROM profits

In [40]:
rp = conpg.execute(sql)
rp.rowcount

43

In [41]:
rcds = dfc_hi_uniq.values.tolist()
print(f"Number of records to insert: {len(rcds)}")

# SQL query with parameter placeholders
sql = text("""
INSERT INTO profits (
    name, year, quarter, kind,
    latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
    latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
    q_amt_c, y_amt, inc_amt_py, inc_pct_py,
    q_amt_p, inc_amt_pq, inc_pct_pq,
    mean_pct, std_pct, publish_date, ticker_id
)
VALUES (
    :name, :year, :quarter, :kind,
    :latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
    :latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
    :q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
    :q_amt_p, :inc_amt_pq, :inc_pct_pq,
    :mean_pct, :std_pct, :publish_date, :ticker_id
)
""")

# Execute the query for each record
for rcd in rcds:
    # Convert tuple to dictionary
    params = {
        'name': rcd[0],
        'year': rcd[1],
        'quarter': rcd[2],
        'kind': rcd[3],
        'latest_amt_y': rcd[4],
        'previous_amt_y': rcd[5],
        'inc_amt_y': rcd[6],
        'inc_pct_y': rcd[7],
        'latest_amt_q': rcd[8],
        'previous_amt_q': rcd[9],
        'inc_amt_q': rcd[10],
        'inc_pct_q': rcd[11],
        'q_amt_c': rcd[12],
        'y_amt': rcd[13],
        'inc_amt_py': rcd[14],
        'inc_pct_py': rcd[15],
        'q_amt_p': rcd[16],
        'inc_amt_pq': rcd[17],
        'inc_pct_pq': rcd[18],
        'mean_pct': rcd[19],
        'std_pct': rcd[20],
        'publish_date': rcd[21],
        'ticker_id': rcd[22]
    }

    # Execute the query
    conpg.execute(sql, params)

print("Records inserted successfully!")

Number of records to insert: 39
Records inserted successfully!

In [42]:
sql = '''
SELECT * FROM profits
ORDER BY name'''
profits = pd.read_sql(sql, conpg)
profits.sample(5).style.format(format_dict)

In [43]:
profits[cold]

      name  year  quarter
0   ADVANC  2024        4
1      BBL  2023        3
2      BCH  2024        3
3     BDMS  2024        3
4      BEM  2024        3
5       BH  2024        3
6      CBG  2024        3
7       CK  2024        3
8      CKP  2024        3
9    CPALL  2023        4
10   CPAXT  2023        4
11     CRC  2024        3
12  EGATIF  2023        4
13     FPT  2023        2
14    GPSC  2023        3
15  GVREIT  2021        3
16     ILM  2023        4
17  IMPACT  2023        3
18  INTUCH  2023        4
19     KSL  2022        3
20     KTB  2023        3
21    LHFG  2023        3
22       M  2023        4
23    MINT  2024        4
24   PLANB  2024        3
25     PTT  2023        4
26     RCL  2024        3
27   ROJNA  2024        3
28     SCB  2023        4
29    SCCC  2023        4
30    SJWD  2023        4
31     SPC  2023        4
32     SVI  2024        4
33   SYNEX  2024        3
34   TFFIF  2024        3
35     TFG  2024        3
36    TIPH  2023        4
37     TTB  2023        4
38   VIBHA  2024        3

In [44]:
conpg.commit()
conpg.close()

In [45]:
conmy.commit()
conmy.close()

In [46]:
conlt.commit()
conlt.close()

In [47]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-20 14:34:42