### Restart and Run All Cells

In [1]:
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

today = date.today()
today_str = today.strftime("%Y-%m-%d")
current_time = datetime.now()
current_time

datetime.datetime(2025, 2, 1, 11, 53, 48, 513611)

In [3]:
format_dict = {
    "q_amt": "{:,}",
    "y_amt": "{:,}",
    "yoy_gain": "{:,}",
    "q_amt_c": "{:,}",
    "q_amt_p": "{:,}",
    "aq_amt": "{:,}",
    "ay_amt": "{:,}",
    "acc_gain": "{:,}",
    "latest_amt": "{:,}",
    "previous_amt": "{:,}",
    "inc_amt": "{:,}",
    "inc_amt_pq": "{:,}",
    "inc_amt_py": "{:,}",    
    "latest_amt_q": "{:,}",
    "previous_amt_q": "{:,}",
    "inc_amt_q": "{:,}",
    "latest_amt_y": "{:,}",
    "previous_amt_y": "{:,}",
    "inc_amt_y": "{:,}",
    "kind_x": "{:,}",
    "inc_pct": "{:.2f}%",
    "inc_pct_q": "{:.2f}%",
    "inc_pct_y": "{:.2f}%",
    "inc_pct_pq": "{:.2f}%",
    "inc_pct_py": "{:.2f}%",   
    "mean_pct": "{:.2f}%",
    "std_pct": "{:.2f}%",      
}

In [5]:
cols = 'name year quarter q_amt y_amt aq_amt ay_amt q_eps y_eps aq_eps ay_eps ticker_id publish_date'.split()
colt = 'name year qtr_int latest_amt previous_amt inc_amt inc_pct ticker_id'.split()

In [7]:
sql = """
SELECT name, id AS ticker_id
FROM tickers"""

tickers = pd.read_sql(sql, conpg)
tickers.shape

(396, 2)

In [9]:
sql = text("DELETE FROM epss")
rp = conpg.execute(sql)
rp.rowcount

9240

In [11]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,publish_date
FROM epss 
ORDER BY year, quarter, name"""

df_inp = pd.read_sql(sql, conlt)
df_inp.shape

(9257, 12)

In [13]:
df_merge = pd.merge(df_inp, tickers, on="name", how="outer", indicator=True)
df_merge.shape

(9427, 14)

In [15]:
df_left = df_merge[df_merge["_merge"] == "left_only"]
df_left["name"].unique()
df_left

Empty DataFrame
Columns: [name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps, publish_date, ticker_id, _merge]
Index: []

In [17]:
cols = 'name year quarter q_amt y_amt aq_amt ay_amt q_eps y_eps aq_eps ay_eps ticker_id publish_date'.split()
cols

['name',
 'year',
 'quarter',
 'q_amt',
 'y_amt',
 'aq_amt',
 'ay_amt',
 'q_eps',
 'y_eps',
 'aq_eps',
 'ay_eps',
 'ticker_id',
 'publish_date']

In [19]:
df_ins = df_merge[df_merge["_merge"] == "both"]
df_eps = df_ins[cols]
df_eps.shape

(9257, 13)

In [21]:
# Convert DataFrame to list of records
rcds = df_eps.values.tolist()

# Define column names in the same order as values
columns = ['name', 'year', 'quarter', 'q_amt', 'y_amt', 'aq_amt', 'ay_amt', 
           'q_eps', 'y_eps', 'aq_eps', 'ay_eps', 'ticker_id', 'publish_date']

# SQL insert statement with named parameters
sql = text("""
    INSERT INTO epss 
    (name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, 
     q_eps, y_eps, aq_eps, ay_eps, ticker_id, publish_date)
    VALUES (:name, :year, :quarter, :q_amt, :y_amt, :aq_amt, :ay_amt,
            :q_eps, :y_eps, :aq_eps, :ay_eps, :ticker_id, :publish_date)
""")

try:
    # Execute inserts
    for rcd in rcds:
        # Convert list to dictionary
        params = dict(zip(columns, rcd))
        conpg.execute(sql, params)
    
    # Commit the transaction
    conpg.commit()
except Exception as e:
    # Rollback on error
    conpg.rollback()
    raise e

In [23]:
#Temporary process to identify problem (can delete anytime)
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,publish_date
FROM epss 
WHERE name = 'GVREIT'
ORDER BY year DESC, quarter DESC, name"""

df_tmp = pd.read_sql(sql, conpg)
df_tmp

,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,publish_date
0,GVREIT,2024,4,-87267,-21830,457671,565723,0.0000,0.0000,0.0000,0.0000,2024-11-27
1,GVREIT,2024,3,167795,197960,544938,587553,0.0000,0.0000,0.0000,0.0000,2024-08-14
2,GVREIT,2024,2,178836,193037,377143,389593,0.0000,0.0000,0.0000,0.0000,2024-05-15
3,GVREIT,2024,1,198307,196556,198307,196556,0.0000,0.0000,0.0000,0.0000,2024-02-15
4,GVREIT,2023,4,-21830,59007,565723,642744,0.0000,0.0000,0.0000,0.0000,2023-11-28
5,GVREIT,2023,3,197960,196872,587553,583737,0.0000,0.0000,0.0000,0.0000,2023-08-15
6,GVREIT,2023,2,193037,190821,389593,386865,0.0000,0.0000,0.0000,0.0000,2023-05-15
7,GVREIT,2023,1,196556,196044,196556,196044,0.2412,0.2406,0.2412,0.2406,2023-02-14
8,GVREIT,2022,4,59007,84275,642744,705215,0.0724,0.1034,0.7888,0.8655,2022-11-24
9,GVREIT,2022,3,196871,200395,583737,620940,0.2416,0.2459,0.7164,0.7621,2022-08-15
10,GVREIT,2022,2,190821,191491,386865,420545,0.2342,0.2350,0.4748,0.5161,2022-05-13
11,GVREIT,2022,1,196044,229054,196044,229054,0.2406,0.2811,0.2406,0.2811,2022-02-10
12,GVREIT,2021,4,84275,203046,705215,747182,0.1034,0.2492,0.8655,0.9170,2021-11-25
13,GVREIT,2021,3,200395,164635,620940,544136,0.2459,0.2021,0.7621,0.6678,2021-08-09
14,GVREIT,2021,2,191491,186823,420545,379501,0.2350,0.2293,0.5161,0.4658,2021-05-07
15,GVREIT,2021,1,229054,192678,229054,192678,0.2811,0.2365,0.2811,0.2365,2021-02-11
16,GVREIT,2020,4,203046,311230,747182,888301,0.2492,0.3820,0.9170,1.0902,2020-11-20
17,GVREIT,2020,3,164635,188760,544136,577071,0.2021,0.2317,0.6678,0.7082,2020-08-14
18,GVREIT,2020,2,186823,197128,379501,388311,0.2293,0.2419,0.4658,0.4766,2020-05-08
19,GVREIT,2020,1,192678,191183,192678,191183,0.2365,0.2346,0.2365,0.2346,2020-02-14
20,GVREIT,2019,4,311230,495727,888301,1059228,0.3820,0.6084,1.0902,1.3000,2019-11-27
21,GVREIT,2019,3,188760,198716,577071,563501,0.2317,0.2439,0.7082,0.6916,2019-08-06
22,GVREIT,2019,2,197128,185902,388311,364785,0.2419,0.2282,0.4766,0.4477,2019-05-09
23,GVREIT,2019,1,191183,178883,191183,178883,0.2346,0.2195,0.2346,0.2195,2019-02-07
24,GVREIT,2018,4,495727,120694,1059228,647330,0.6084,0.1482,1.3000,0.7945,2019-01-31
25,GVREIT,2018,3,198716,176608,563501,526636,0.2439,0.2168,0.6916,0.6463,2018-08-10
26,GVREIT,2018,2,198716,176608,563501,526636,0.2439,0.2168,0.6916,0.6463,2018-08-10
27,GVREIT,2018,1,178883,170539,178883,170539,0.2195,0.2093,0.2195,0.2093,2018-02-13
28,GVREIT,2017,4,120694,75996,647330,244279,0.1482,0.0933,0.7945,0.2998,2017-12-22
29,GVREIT,2017,3,176608,164195,526636,168283,0.2168,0.2015,0.6463,0.2065,2017-12-22

### Start of Yearly Profit Section

In [26]:
sql = text("DELETE FROM yr_profits")
rp = conpg.execute(sql)
rp.rowcount

6740

In [28]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
ORDER BY year desc, quarter desc, name"""
df_year = pd.read_sql(sql, conlt)
df_year.shape

(6760, 7)

In [30]:
# Extract numeric portion from Q9 format
df_year["qtr_int"] = df_year["quarter"].str[1:]
df_year.shape

(6760, 8)

In [32]:
df_merge = pd.merge(df_year, tickers, on="name", how="outer", indicator=True)
df_merge.shape

(6930, 10)

In [34]:
df_left = df_merge[df_merge["_merge"] == "left_only"]
df_left

Empty DataFrame
Columns: [name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, qtr_int, ticker_id, _merge]
Index: []

In [36]:
df_ins = df_merge[df_merge["_merge"] == "both"]
df_eps = df_ins[colt]
df_eps.shape

(6760, 8)

In [46]:
# Column names (ensure they match the actual column names in your table)
columns = ["name", "year", "quarter", "latest_amt", "previous_amt", "inc_amt", "inc_pct", "ticker_id"]

# Convert list of lists to list of dictionaries
rcds = [dict(zip(columns, row)) for row in df_eps.values.tolist()]

query = text("""
    INSERT INTO yr_profits (name, year, quarter, 
    latest_amt, previous_amt, inc_amt, inc_pct, ticker_id) 
    VALUES (:name, :year, :quarter, :latest_amt, :previous_amt, :inc_amt, :inc_pct, :ticker_id)
""")

conpg.execute(query, rcds)  # Bulk insert with named placeholders
conpg.commit()  # Commit transaction

### Start of Profits section

In [51]:
sql = """
SELECT name, id AS ticker_id
FROM tickers"""
tickers = pd.read_sql(sql, conpg)
tickers.shape

(396, 2)

In [53]:
sql = text("DELETE FROM profits")
rp = conpg.execute(sql)
rp.rowcount

40

In [55]:
sql = """
SELECT *
FROM profits 
ORDER BY year desc, quarter desc, name"""
profits = pd.read_sql(sql, conlt)
profits.shape

(57, 23)

In [57]:
sql = """
SELECT name, year, quarter, publish_date
FROM epss"""
epss = pd.read_sql(sql, conlt)
epss.shape

(9257, 4)

In [59]:
df_merge = pd.merge(
    profits, epss, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.shape

(9266, 25)

In [61]:
prf_eps = df_merge[df_merge["_merge"] == "both"]
prf_eps.shape

(48, 25)

In [63]:
columns = ["id", "ticker_id", "_merge"]
prf_eps_2 = prf_eps.drop(columns, axis=1)
prf_eps_2.shape

(48, 22)

In [65]:
df_merge = pd.merge(prf_eps_2, tickers, on="name", how="inner")
df_merge.shape

(48, 23)

In [67]:
# Convert DataFrame to a list of tuples
rcds = df_merge.values.tolist()
print(f"Number of records to insert: {len(rcds)}")

# SQL query with parameter placeholders
sql = text("""
INSERT INTO profits (
    name, year, quarter, kind,
    latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
    latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
    q_amt_c, y_amt, inc_amt_py, inc_pct_py,
    q_amt_p, inc_amt_pq, inc_pct_pq,
    mean_pct, std_pct, publish_date, ticker_id
)
VALUES (
    :name, :year, :quarter, :kind,
    :latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
    :latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
    :q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
    :q_amt_p, :inc_amt_pq, :inc_pct_pq,
    :mean_pct, :std_pct, :publish_date, :ticker_id
)
""")

# Execute the query for each record
for rcd in rcds:
    # Convert tuple to dictionary
    params = {
        'name': rcd[0],
        'year': rcd[1],
        'quarter': rcd[2],
        'kind': rcd[3],
        'latest_amt_y': rcd[4],
        'previous_amt_y': rcd[5],
        'inc_amt_y': rcd[6],
        'inc_pct_y': rcd[7],
        'latest_amt_q': rcd[8],
        'previous_amt_q': rcd[9],
        'inc_amt_q': rcd[10],
        'inc_pct_q': rcd[11],
        'q_amt_c': rcd[12],
        'y_amt': rcd[13],
        'inc_amt_py': rcd[14],
        'inc_pct_py': rcd[15],
        'q_amt_p': rcd[16],
        'inc_amt_pq': rcd[17],
        'inc_pct_pq': rcd[18],
        'mean_pct': rcd[19],
        'std_pct': rcd[20],
        'publish_date': rcd[21],
        'ticker_id': rcd[22]
    }

    # Execute the query
    conpg.execute(sql, params)

print("Records inserted successfully!")

Number of records to insert: 48
Records inserted successfully!

### End of Profits section

In [69]:
sql = '''
SELECT * FROM profits
ORDER BY name, year DESC, quarter DESC'''
profits = pd.read_sql(sql, conpg)
profits.shape

(48, 24)

In [71]:
profits2 = profits.drop('id',axis=1)
profits2.shape

(48, 23)

In [73]:
dfc_hi = profits2.sort_values(['name','year','quarter'], ascending=False)
dfc_hi.shape

(48, 23)

In [75]:
dfc_hi_uniq = dfc_hi.drop_duplicates(subset='name')
dfc_hi_uniq.shape

(40, 23)

In [77]:
rcds = dfc_hi_uniq.values.tolist()
len(rcds)

40

In [79]:
sql = text('DELETE FROM profits')
print(sql)

DELETE FROM profits

In [81]:
rp = conpg.execute(sql)
rp.rowcount

48

In [83]:
rcds = dfc_hi_uniq.values.tolist()
print(f"Number of records to insert: {len(rcds)}")

# SQL query with parameter placeholders
sql = text("""
INSERT INTO profits (
    name, year, quarter, kind,
    latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
    latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
    q_amt_c, y_amt, inc_amt_py, inc_pct_py,
    q_amt_p, inc_amt_pq, inc_pct_pq,
    mean_pct, std_pct, publish_date, ticker_id
)
VALUES (
    :name, :year, :quarter, :kind,
    :latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
    :latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
    :q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
    :q_amt_p, :inc_amt_pq, :inc_pct_pq,
    :mean_pct, :std_pct, :publish_date, :ticker_id
)
""")

# Execute the query for each record
for rcd in rcds:
    # Convert tuple to dictionary
    params = {
        'name': rcd[0],
        'year': rcd[1],
        'quarter': rcd[2],
        'kind': rcd[3],
        'latest_amt_y': rcd[4],
        'previous_amt_y': rcd[5],
        'inc_amt_y': rcd[6],
        'inc_pct_y': rcd[7],
        'latest_amt_q': rcd[8],
        'previous_amt_q': rcd[9],
        'inc_amt_q': rcd[10],
        'inc_pct_q': rcd[11],
        'q_amt_c': rcd[12],
        'y_amt': rcd[13],
        'inc_amt_py': rcd[14],
        'inc_pct_py': rcd[15],
        'q_amt_p': rcd[16],
        'inc_amt_pq': rcd[17],
        'inc_pct_pq': rcd[18],
        'mean_pct': rcd[19],
        'std_pct': rcd[20],
        'publish_date': rcd[21],
        'ticker_id': rcd[22]
    }

    # Execute the query
    conpg.execute(sql, params)

print("Records inserted successfully!")

Number of records to insert: 40
Records inserted successfully!

In [85]:
sql = '''
SELECT * FROM profits
ORDER BY name'''
profits = pd.read_sql(sql, conpg)
profits.head().style.format(format_dict)

Bad value in file WindowsPath('C:/Users/PC1/.matplotlib/stylelib/my_custom_style.mplstyle'), line 14 ('axes.prop_cycle: color #1f77b4, #ff7f0e, #2ca02c, #d62728, #9467bd, #8c564b, #e377c2, #7f7f7f, #bcbd22, #17becf'): Key axes.prop_cycle: 'color' is not a valid cycler construction: name 'color' is not defined

In [87]:
conpg.commit()
conpg.close()

In [89]:
conmy.commit()
conmy.close()

In [91]:
conlt.commit()
conlt.close()