### port_lite database: stocks tables
### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [61]:
import pandas as pd
import numpy as np
import os

from datetime import date, timedelta, datetime
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

# Define a formatting function to format integers with zero decimal places and floats with two decimal places
def format_cell(x):
    if isinstance(x, int):
        return "{:,.0f}".format(x)
    elif isinstance(x, float):
        return "{:.2f}".format(x)
    else:
        return x
pd.options.display.max_rows = 40
#pd.options.display.float_format = '{:.2f}'.format

today = date.today()
print(today)

2025-02-08

In [3]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2025-02-08
yesterday: 2025-02-07 00:00:00

In [4]:
# find the beginning of the week for the given yesterday
week_start = yesterday.to_period('W').start_time
week_end = yesterday.to_period('W').end_time
week_start = week_start.date()
week_end = week_end.date()
print(f'week start: {week_start}')
print(f'week end: {week_end}')

week start: 2025-02-03
week end: 2025-02-09

In [5]:
yesterday = yesterday.date()
print(week_start, yesterday)

2025-02-03 2025-02-07

### Restart and Run All Cells

In [7]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [8]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Weekly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [9]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',   
    'target':'{:.2f}','max':'{:.2f}','min':'{:.2f}',
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [10]:
sql = '''
SELECT *
FROM profits
LIMIT 1'''
my_profit = pd.read_sql(sql, conmy)
my_profit.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
ticker_id           int64
mean_pct          float64
std_pct           float64
dtype: object

In [11]:
sql = '''
SELECT *
FROM stocks
LIMIT 1'''
lite_stock = pd.read_sql(sql, conlite)
lite_stock.dtypes

id                 int64
name              object
max_price        float64
min_price        float64
status            object
buy_target       float64
sell_target      float64
volume           float64
beta             float64
cost             float64
qty                int64
buy_spread         int64
sell_spread        int64
available_qty      int64
bl               float64
sh               float64
reason            object
market            object
dtype: object

In [12]:
sql = '''
SELECT *
FROM tickers
LIMIT 1'''
pg_ticker = pd.read_sql(sql, conpg)
pg_ticker.dtypes

id                     int64
name                  object
full_name             object
sector                object
subsector             object
market                object
website               object
created_at    datetime64[ns]
updated_at    datetime64[ns]
dtype: object

In [13]:
sql = '''
SELECT P.name, market
FROM profits P
JOIN tickers T
ON P.ticker_id = T.id 
ORDER BY P.name'''
my_profits = pd.read_sql(sql, conmy)
my_profits

      name                             market
0      BCH                     SET100 / SETWB
1     BDMS  SET50 / SETCLMV / SETTHSI / SETWB
2      BEM            SET50 / SETTHSI / SETWB
3       BH            SET50 / SETCLMV / SETWB
4      CBG            SET50 / SETCLMV / SETWB
5       CK         SET100 / SETCLMV / SETTHSI
6      CKP         SET100 / SETCLMV / SETTHSI
7      CRC  SET50 / SETCLMV / SETTHSI / SETWB
8     GULF          SET50 / SETCLMV / SETTHSI
9   INTUCH  SET50 / SETCLMV / SETHD / SETTHSI
10     MTC                    SET50 / SETTHSI
11   PLANB                   SET100 / SETTHSI
12     RCL                   SET100 / SETCLMV
13   ROJNA                               sSET
14   SYNEX                   SET100 / SETTHSI
15     TFG                                SET

### Create consensus from name-ttl and https://www.settrade.com/th/equities/quote/BCH/analyst-consensus

In [15]:
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Weekly'

In [16]:
# Derive the base directory (to_dir) by removing the last folder ('Daily')
base_dir = os.path.dirname(base_path)
print(f"Base Directory : {base_path}")

Base Directory : C:\Users\PC1\OneDrive\A5

In [17]:
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [18]:
!ruby ruby\\crt-consensus-new.rb

Start at: Saturday, Feb 08 03:57 PM
Name,Target,Max,Min,Buy,Hold,Sell
ACE        1.50   1.50   1.50  0  0  0   1
ADVANC   301.74 330.00 283.42  9  6  0   2
AEONTS   147.35 160.00 130.00  8  2  0   3
AH        19.07  22.33  16.20  2  5  1   4
AIMIRT    13.80  13.80  13.80  1  0  0   5
AMATA     32.95  35.00  25.30 10  1  0   6
ANAN       0.76   0.82   0.70  1  0  0   7
AOT       67.30  73.00  50.00 12  3  1   8
AP        11.11  12.90   9.60 15  0  0   9
ASIAN     10.18  10.80   9.00  2  1  0  10
ASK       12.78  18.50   8.60  2  1  1  11
ASP        2.10   2.10   2.10  0  0  0  12
ASW       10.90  11.50  10.30  2  0  0  13
AWC        4.72   5.20   4.40  4  0  0  14
BA        27.36  30.00  20.40  5  1  0  15
BAM        7.79   9.30   6.70  2  4  0  16
BANPU      6.23   7.50   5.20  2  3  1  17
BAY       25.25  26.00  24.75  0  0  0  18
BBL      176.81 196.00 148.00 12  4  0  19
BCH       19.94  21.80  16.50 12  2  0  20
BCP       39.84  46.50  32.00 10  2  0  21
BCPG       8.26   9.00   7.80  7  1  0  22
BDMS      33.91  39.00  28.00 19  0  0  23
BE8       18.43  22.30  16.50  3  0  0  24
BEC        4.56   6.00   3.00  1  1  1  25
BEM       11.45  14.00  10.40 10  0  0  26
BGC        8.35   8.35   8.35  1  0  0  27
BGRIM     21.29  31.00  12.80  5  5  2  28
BH       245.55 280.00 188.00  7  6  0  29
BJC       28.61  32.00  26.00  9  0  0  30
BLA       24.50  27.00  22.00  1  1  0  31
BPP       11.57  12.50  10.00  2  0  0  32
BTS        5.61   6.49   4.67  1  5  0  33
BTSGIF     3.93   4.50   3.40  1  2  0  34
CBG       92.43 101.00  71.75 16  1  0  35
CENTEL    41.64  49.00  33.20 11  2  0  36
CHG        3.21   3.70   2.80 10  1  0  37
CK        26.18  28.00  23.00  7  0  0  38
CKP        4.21   5.00   2.80  8  2  1  39
COM7      29.04  31.00  25.10  5  3  0  40
CPALL     79.56  86.00  67.00 18  1  0  41
CPF       28.63  30.00  25.34 16  0  0  42
CPN       78.78  87.00  68.00  7  2  0  43
CPNREIT   12.27  13.20  11.10  2  1  0  44
CRC       39.82  44.50  35.00 15  0  0  45
DCC        1.92   1.93   1.92  0  0  0  46
DELTA    113.69 133.00  98.00  0  6  0  47
DIF       10.33  11.50   9.20  4  1  0  48
DOHOME    10.28  11.00   9.00  3  7  0  49
DRT        7.40   7.90   6.90  0  1  0  50
EA         3.80   3.80   3.80  0  1  0  51
EGATIF     5.95   5.95   5.95  0  0  0  52
EGCO     123.58 167.00  93.50  3  0  0  53
EPG        5.06   5.80   4.50  4  1  0  54
FPT       14.00  14.00  14.00  0  0  0  55
FTREIT    12.75  13.00  12.50  2  0  0  56
GFPT      12.42  17.00   9.90  7  6  1  57
GGC        4.90   4.90   4.90  0  1  0  58
GLOBAL    14.67  17.00  10.00  3  6  0  59
GPSC      41.80  60.00  26.00 10  4  1  60
GULF      64.85  75.00  58.00  7  2  0  61
GUNKUL     3.71   5.40   2.40  4  0  0  62
HANA      28.82  33.00  25.00  3  8  2  63
HMPRO     12.31  14.10  10.00  9  3  0  64
HTC       20.00  20.00  20.00  1  0  0  65
ICHI      18.27  23.00  15.00  4  3  0  66
III        9.10   9.10   9.10  1  0  0  67
ILM       21.81  26.73  17.00  4  0  0  68
IMPACT    14.10  14.10  14.10  1  0  0  69
INTUCH   107.69 123.00  86.00  2  4  0  70
IRPC       1.34   1.70   1.10  2  4  3  71
IVL       28.38  33.00  24.00  7  5  0  72
3BBIF      6.67   7.80   5.70  4  2  0  73
JMART     17.50  17.50  17.50  1  0  0  74
JMT       20.70  29.40  17.00  4  2  0  75
KBANK    177.00 195.00 163.00 13  4  0  76
KCE       28.88  35.50  24.00  9  6  0  77
KEX        2.97   4.80   1.70  0  1  0  78
KKP       55.77  69.75  50.00  4 12  0  79
KTB       24.68  27.00  23.00 14  2  0  80
KTC       49.00  60.00  39.00  4  5  3  81
LALIN      5.65   5.65   5.65  0  0  0  82
LH         5.68   7.90   4.20  4 11  1  83
LPN        2.47   3.30   1.80  0  2  0  84
M         26.47  30.00  18.80  1  4  0  85
MAJOR     17.30  20.50  14.00  7  1  0  86
MC        12.93  13.30  12.00  5  1  0  87
MEGA      40.17  47.00  34.00  5  2  0  88
MINT      37.56  45.00  34.00 14  1  0  89
MST       10.00  10.00  10.00  0  0  0  90
MTC       56.79  66.00  50.50 15  0  0  91
NER        6.22   8.00   5.38  7  1  0  92
ONEE       5.22   5.55   4.90  3  0  0  93
OR        15.18  20.00  11.70  6  5  1  94
ORI        4.73   5.65   4.00  2  4  0  95
OSP       21.31  30.00  16.40  6 11  2  96
PLANB      9.22  10.70   7.60  8  1  0  97
PRM       10.12  11.80   8.00  6  1  0  98
PSH        7.65   9.50   6.00  2  1  2  99
PSL        8.09  11.40   6.50  2  2  0 100
PTG       10.05  11.00   7.20  7  1  1 101
PTT       36.88  41.00  30.00  7  4  1 102
PTTEP    152.56 182.00 134.00 11  7  0 103
PTTGC     26.72  31.00  20.00  7  7  1 104
QH         2.01   2.14   1.77  3  2  1 105
RATCH     34.81  37.00  33.00  6  1  1 106
RBF        6.35   6.85   5.60  1  4  0 107
RCL       23.98  25.75  22.00  0  2  0 108
RJH       23.90  26.50  21.20  0  0  0 109
ROJNA      9.20   9.20   9.20  1  0  0 110
SAPPE     84.90 111.00  64.25 12  2  0 111
SAT       12.44  14.70  10.60  2  4  1 112
SAWAD     43.39  51.00  37.00  7  6  1 113
SC         3.22   3.46   2.80  5  2  0 114
SCB      127.47 140.00 112.00  4 12  0 115
SCC      170.36 210.00 123.00  2 10  2 116
SCCC     190.33 200.00 185.00  3  0  0 117
SCGP      19.92  29.00  14.00  5  8  3 118
SENA       2.00   2.00   2.00  0  0  0 119
SIRI       2.11   2.34   1.90 15  1  0 120
SJWD      17.13  20.20  15.00  6  0  0 121
SKR       13.00  13.00  13.00  1  0  0 122
SMPC      12.90  12.90  12.90  1  0  0 123
SPALI     19.84  24.00  17.00  9  7  0 124
SPRC       8.19   9.90   5.75 11  3  0 125
SSP        8.45   9.00   7.90  1  1  0 126
STA       23.65  33.70  18.70  8  0  0 127
STANLY   200.37 210.00 184.50  1  3  2 128
STGT      13.13  14.00  12.70  3  0  0 129
SUPEREIF   7.50   7.50   7.50  0  0  0 130
SVI        7.99   8.60   6.00  5  1  1 131
SYNEX     17.27  19.20  16.00  7  0  0 132
TASCO     20.86  22.40  19.50  8  0  0 133
TCAP      55.18  61.10  52.00  3  3  0 134
TFFIF      8.13   8.70   7.55  2  0  0 135
TFG        5.15   7.40   4.10  6  0  0 136
THANI      1.20   1.20   1.20  0  0  0 137
THG       13.70  15.20  12.20  0  0  0 138
TIDLOR    20.39  23.50  15.30 13  1  1 139
TISCO    101.00 112.00  92.00  4 12  1 140
TKN       10.30  12.10   7.00  3  0  0 141
TMT        4.04   4.04   4.04  0  0  0 142
TOA       21.73  23.20  20.00  2  1  0 143
TOP       30.96  41.00  21.00  9 11  2 144
TPIPL      1.44   1.44   1.44  0  0  0 145
TPIPP      3.20   3.20   3.20  1  0  0 146
TQM       33.67  38.00  28.00  2  1  0 147
TRUE      13.73  15.00   9.90  8  2  1 148
TTA        6.40   6.40   6.40  0  0  0 149
TTB        2.12   2.37   1.88 13  4  0 150
TTW       10.15  10.60   9.20  5  1  0 151
TU        15.65  19.30  12.90  9 11  0 152
TVO       26.24  29.00  22.80  3  2  0 153
UTP       10.00  10.00  10.00  0  0  0 154
VGI        2.15   2.20   2.08  0  1  0 155
VIBHA      2.74   2.74   2.74  1  0  0 156
WHA        6.37   6.90   5.30 14  2  0 157
WHAIR      8.37   8.60   8.20  3  0  0 158
WHART     11.55  12.50  11.05  3  0  0 159
WHAUP      5.74   6.10   5.30  2  1  0 160
WICE       5.10   5.80   4.40  1  1  1 161
WORK       7.45   7.45   7.45  0  0  0 162
End at: Saturday, Feb 08 04:04 PM

In [19]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Weekly'

In [20]:
file_name   = 'consensus-new.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\consensus-new.csv

In [21]:
consensus = pd.read_csv(input_file, sep=',', index_col=None)
consensus = consensus.rename(columns=str.lower)
consensus.shape

(162, 7)

In [22]:
consensus.query('buy + hold + sell == 0')

         name  target    max    min  buy  hold  sell
0         ACE    1.50   1.50   1.50    0     0     0
11        ASP    2.10   2.10   2.10    0     0     0
17        BAY   25.25  26.00  24.75    0     0     0
45        DCC    1.92   1.93   1.92    0     0     0
51     EGATIF    5.95   5.95   5.95    0     0     0
54        FPT   14.00  14.00  14.00    0     0     0
81      LALIN    5.65   5.65   5.65    0     0     0
89        MST   10.00  10.00  10.00    0     0     0
108       RJH   23.90  26.50  21.20    0     0     0
118      SENA    2.00   2.00   2.00    0     0     0
129  SUPEREIF    7.50   7.50   7.50    0     0     0
136     THANI    1.20   1.20   1.20    0     0     0
137       THG   13.70  15.20  12.20    0     0     0
141       TMT    4.04   4.04   4.04    0     0     0
144     TPIPL    1.44   1.44   1.44    0     0     0
148       TTA    6.40   6.40   6.40    0     0     0
153       UTP   10.00  10.00  10.00    0     0     0
161      WORK    7.45   7.45   7.45    0     0     0

In [23]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.shape

(16, 8)

In [24]:
prf_css.buy.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [26]:
df_merge = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_merge['_merge'] == 'left_only'
df_merge[prf_wo_css]

Empty DataFrame
Columns: [name, market, target, max, min, buy, hold, sell, _merge]
Index: []

In [27]:
# First gets the filtered DataFrame of records that exist only in my_profits
prf_wo_css = df_merge['_merge'] == 'left_only'
filtered_df = df_merge[prf_wo_css]

# Then extracts just the 'name' column
names = filtered_df['name']

In [28]:
# Get the names as a list or tuple for SQL operations
names_list = names.tolist()

# Or if you want to see some statistics
print(f"Number of names found: {len(names)}")
print("\nFirst few names:")
print(names.head())

# If you need to check for any potential issues
print("\nAny null values:", names.isnull().any())
print("Unique names count:", names.nunique())

Number of names found: 0

First few names:
Series([], Name: name, dtype: object)

Any null values: False
Unique names count: 0

In [29]:
if names_list:
    placeholders = ','.join('?' * len(names_list))
    sqlDel = text(f"DELETE FROM profits WHERE name IN ({placeholders})")
    conmy.execute(sqlDel, names_list)

### Matching check with Buy table in MySql database to filter only records not yet in stocks

In [31]:
sql = """
SELECT name
FROM buy
WHERE active = 1"""
buy_df = pd.read_sql(sql, const)
buy_df.shape

(31, 1)

In [32]:
final_buy = pd.merge(my_profits, buy_df, on='name', how='outer', indicator=True)
final_buy.shape

(44, 3)

In [33]:
final_buy.rename(columns={'_merge':'merge_1'},inplace=True)
final_buy.columns

Index(['name', 'market', 'merge_1'], dtype='object')

In [34]:
sql = """
SELECT name 
FROM stocks
ORDER BY name"""
lite_stocks = pd.read_sql(sql, conlite)
lite_stocks.shape

(31, 1)

In [35]:
df_merge = pd.merge(lite_stocks, final_buy, on='name', how='outer', indicator=True)
df_merge.shape

(44, 4)

In [36]:
not_in_final_buy = df_merge.loc[
    df_merge['_merge'] == 'left_only']
not_in_final_buy

Empty DataFrame
Columns: [name, market, merge_1, _merge]
Index: []

In [37]:
names = not_in_final_buy['name']
names

Series([], Name: name, dtype: object)

In [38]:
names = not_in_final_buy['name']
# Get the names as a list for SQL operations
names_list = names.tolist()

In [39]:
if names_list:
    placeholders = ','.join('?' * len(names_list))
    sqlDel = text(f"DELETE FROM stocks WHERE name IN ({placeholders})")
    conlite.execute(sqlDel, names_list)

In [40]:
not_in_port = final_buy.loc[
    final_buy['merge_1'] == 'left_only']
not_in_port.shape

(13, 3)

In [41]:
file_name = 'consensus-ORD.csv'
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [42]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\consensus-ORD.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\consensus-ORD.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\consensus-ORD.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\consensus-ORD.csv

In [43]:
not_in_port.sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(god_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(icd_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(osd_file, index=False)

### Process to combine profits and in-port records

In [45]:
sql = '''
SELECT P.name, 'O' AS sts
FROM profits P
ORDER BY P.name'''
df_prf = pd.read_sql(sql, conmy)
df_prf.shape

(18, 2)

In [46]:
sql = '''
SELECT name, 'I' AS sts
FROM buy
ORDER BY name'''
df_buy= pd.read_sql(sql, const)
df_buy.shape

(31, 2)

In [47]:
df_ttl = pd.concat([df_buy, df_prf], ignore_index=True)

In [48]:
duplicates_in_name = df_ttl[df_ttl['name'].duplicated(keep=False)]

duplicates_in_name

     name sts
6     BCH   I
19    RCL   I
24  SYNEX   I
33    BCH   O
45    RCL   O
47  SYNEX   O

In [49]:
df_unique = df_ttl.drop_duplicates(subset='name', keep='first')
df_unique.shape

(46, 2)

In [50]:
names = df_unique['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'3BBIF', 'AH', 'AIMIRT', 'ASK', 'ASP', 'AWC', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'TOA', 'TVO', 'WHAIR', 'WHART', '2759', '2760', 'BDMS', 'BEM', 'BH', 'CBG', 'CK', 'CKP', 'CRC', 'GULF', 'INTUCH', 'MTC', 'PLANB', 'ROJNA', 'TFG'"

In [51]:
sql = """
SELECT name 
FROM stocks
WHERE name NOT IN (%s)
"""
sql = sql % in_p
excess_stocks = pd.read_sql(sql, conlite)
excess_stocks

Empty DataFrame
Columns: [name]
Index: []

In [52]:
sql = """
SELECT name, status
FROM stocks
WHERE name  IN (%s)
ORDER BY name
"""
sql = sql % in_p
in_port_on_watch = pd.read_sql(sql, conlite)
in_port_on_watch.shape

(31, 2)

In [53]:
in_port_on_watch.query('status == "T"')

Empty DataFrame
Columns: [name, status]
Index: []

In [54]:
sql = """
SELECT name, status FROM stocks ORDER BY name"""
df_stocks = pd.read_sql(sql, conlite)
df_stocks.shape

(31, 2)

In [55]:
names_list = set(names)
names_in_df = set(df_stocks['name'])

missing_names = names_list - names_in_df
missing_names

{'2759',
 '2760',
 'BDMS',
 'BEM',
 'BH',
 'CBG',
 'CK',
 'CKP',
 'CRC',
 'GULF',
 'INTUCH',
 'MTC',
 'PLANB',
 'ROJNA',
 'TFG'}

In [56]:
# Convert set to desired string format
formatted_str = ', '.join(f"'{item}'" for item in missing_names)
formatted_str

"'CRC', 'PLANB', '2760', 'CKP', 'INTUCH', 'ROJNA', 'CBG', 'CK', 'BH', 'BEM', '2759', 'MTC', 'BDMS', 'TFG', 'GULF'"

In [57]:
# Convert formatted string back to a list
names_list = [name.strip().strip("'") for name in formatted_str.split(",")]
names_list

['CRC',
 'PLANB',
 '2760',
 'CKP',
 'INTUCH',
 'ROJNA',
 'CBG',
 'CK',
 'BH',
 'BEM',
 '2759',
 'MTC',
 'BDMS',
 'TFG',
 'GULF']

In [58]:
# Convert list to DataFrame
df = pd.DataFrame(names_list, columns=['name'])
df.shape

(15, 1)

In [59]:
const.close()
conlite.close()
conpg.close()
conmy.close()

In [63]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-08 16:05:10