### port_lite database: stocks tables
### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [2]:
import pandas as pd
import numpy as np
import os

from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

# Define a formatting function to format integers with zero decimal places and floats with two decimal places
def format_cell(x):
    if isinstance(x, int):
        return "{:,.0f}".format(x)
    elif isinstance(x, float):
        return "{:.2f}".format(x)
    else:
        return x
pd.options.display.max_rows = 40
#pd.options.display.float_format = '{:.2f}'.format

today = date.today()
print(today)

2025-02-23

In [3]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2025-02-23
yesterday: 2025-02-21 00:00:00

In [4]:
# find the beginning of the week for the given yesterday
week_start = yesterday.to_period('W').start_time
week_end = yesterday.to_period('W').end_time
week_start = week_start.date()
week_end = week_end.date()
print(f'week start: {week_start}')
print(f'week end: {week_end}')

week start: 2025-02-17
week end: 2025-02-23

In [5]:
yesterday = yesterday.date()
print(week_start, yesterday)

2025-02-17 2025-02-21

### Restart and Run All Cells

In [7]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [8]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Weekly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [9]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',   
    'target':'{:.2f}','max':'{:.2f}','min':'{:.2f}',
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [10]:
sql = '''
SELECT *
FROM profits
LIMIT 1'''
my_profit = pd.read_sql(sql, conmy)
my_profit.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
ticker_id           int64
mean_pct          float64
std_pct           float64
dtype: object

In [11]:
sql = '''
SELECT *
FROM stocks
LIMIT 1'''
lite_stock = pd.read_sql(sql, conlite)
lite_stock.dtypes

id                 int64
name              object
max_price        float64
min_price        float64
status            object
buy_target       float64
sell_target      float64
volume           float64
beta             float64
cost             float64
qty                int64
buy_spread         int64
sell_spread        int64
available_qty      int64
bl               float64
sh               float64
reason            object
market            object
dtype: object

In [12]:
sql = '''
SELECT *
FROM tickers
LIMIT 1'''
pg_ticker = pd.read_sql(sql, conpg)
pg_ticker.dtypes

id                     int64
name                  object
full_name             object
sector                object
subsector             object
market                object
website               object
created_at    datetime64[ns]
updated_at    datetime64[ns]
dtype: object

In [13]:
sql = '''
SELECT P.name, market
FROM profits P
JOIN tickers T
ON P.ticker_id = T.id 
ORDER BY P.name'''
my_profits = pd.read_sql(sql, conmy)
my_profits

    name                             market
0    BCH                     SET100 / SETWB
1   BDMS  SET50 / SETCLMV / SETTHSI / SETWB
2    BEM            SET50 / SETTHSI / SETWB
3     BH            SET50 / SETCLMV / SETWB
4     CK         SET100 / SETCLMV / SETTHSI
5    CRC  SET50 / SETCLMV / SETTHSI / SETWB
6  PLANB                   SET100 / SETTHSI
7  SYNEX                   SET100 / SETTHSI

### Create consensus from name-ttl and https://www.settrade.com/th/equities/quote/BCH/analyst-consensus

In [15]:
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Weekly'

In [16]:
# Derive the base directory (to_dir) by removing the last folder ('Daily')
base_dir = os.path.dirname(base_path)
print(f"Base Directory : {base_path}")

Base Directory : C:\Users\PC1\OneDrive\A5

In [17]:
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [18]:
!ruby ruby\\crt-consensus-new.rb

Start at: Sunday, Feb 23 08:21 PM
Name,Target,Max,Min,Buy,Hold,Sell
ACE        1.50   1.50   1.50  0  0  0   1
ADVANC   304.88 330.00 283.42  9  7  0   2
AEONTS   147.35 160.00 130.00  8  2  0   3
AH        18.67  22.33  14.20  2  5  1   4
AIMIRT    11.80  11.80  11.80  1  0  0   5
AMATA     34.23  36.10  32.00 16  0  0   6
AOT       55.62  73.00  42.00  8  7  4   7
AP        10.75  12.80   8.10 12  1  0   8
ASIAN     10.18  10.80   9.00  2  1  0   9
ASK       11.47  18.50   5.90  2  1  0  10
ASW        9.15  10.30   8.00  1  1  0  11
AWC        4.75   5.20   4.40  4  0  0  12
BA        26.78  30.00  20.40  5  1  0  13
BAM        7.10   9.30   5.50  2  3  1  14
BANPU      5.80   7.50   5.00  2  3  0  15
BAY       25.08  25.50  24.75  0  0  0  16
BBL      178.72 196.00 160.00 15  3  0  17
BCH       19.73  21.80  16.50 13  1  0  18
BCP       38.50  46.00  30.00 10  2  3  19
BCPG       8.35   9.50   7.80  9  1  0  20
BDMS      33.63  39.00  28.00 16  0  0  21
BE8       19.70  22.30  16.50  4  0  0  22
BEC        4.03   5.06   3.00  1  0  0  23
BEM       11.36  14.00  10.40  9  0  0  24
BGC        8.35   8.35   8.35  1  0  0  25
BGRIM     17.48  23.00  12.80  3  8  1  26
BH       238.39 280.00 188.00  6  4  0  27
BJC       28.48  32.00  26.00 12  1  0  28
BLA       23.50  25.00  22.00  1  1  0  29
BPP        9.73  10.00   9.20  2  0  0  30
BTS        6.05   6.49   5.50  1  7  0  31
BTSGIF     3.30   3.60   3.10  1  2  0  32
CBG       92.43 101.00  71.75 16  1  0  33
CENTEL    39.66  48.00  33.00 11  1  0  34
CHG        3.09   3.40   2.80  9  1  0  35
CK        23.45  27.50  20.00  8  0  0  36
CKP        3.89   5.00   2.80  7  1  1  37
COM7      28.75  32.00  23.00  5  2  0  38
CPALL     79.27  86.00  67.00 15  1  0  39
CPF       28.40  30.00  25.34 13  0  0  40
CPN       76.60  87.00  58.00 11  2  0  41
CPNREIT   12.05  13.20  10.50  1  3  0  42
CRC       40.37  43.00  37.00 12  1  0  43
DCC        1.81   1.92   1.75  0  0  0  44
DELTA     80.60 111.00  60.00  1  2 14  45
DIF       11.50  11.50  11.50  1  0  0  46
DOHOME     9.64  11.00   7.60  7  4  0  47
DRT        7.20   7.50   6.90  0  1  0  48
EA         3.80   3.80   3.80  0  1  0  49
EGCO     115.08 130.00  90.00  4  0  0  50
EPG        4.29   5.30   3.62  4  2  0  51
FPT       12.50  12.50  12.50  1  0  0  52
FTREIT    12.40  13.00  11.70  3  0  0  53
GFPT      11.89  13.80   9.90  9  6  1  54
GGC        4.70   4.90   4.50  0  2  0  55
GLOBAL    10.05  11.95   8.50  1 10  0  56
GPSC      38.47  50.50  26.00 10  7  1  57
GULF      65.90  75.00  58.00 11  2  0  58
GUNKUL     3.89   5.40   2.40  3  0  0  59
HANA      27.50  32.50  25.00  3  6  0  60
HMPRO     11.67  13.50   8.80  7  4  0  61
HTC       20.00  20.00  20.00  1  0  0  62
ICHI      16.58  18.30  15.00  3  2  0  63
III        6.62   7.25   5.70  2  1  0  64
ILM       20.56  26.73  17.00  4  0  0  65
IMPACT    14.10  14.10  14.10  1  0  0  66
INTUCH   110.16 123.00  99.40  4  3  0  67
IRPC       1.12   1.70   0.90  2  5  7  68
IVL       28.90  33.00  26.00  3  2  0  69
3BBIF      6.73   7.80   5.80  5  2  0  70
JMART     16.30  16.30  16.30  1  0  0  71
JMT       18.78  22.80  15.60  5  0  0  72
KBANK    178.00 197.00 163.00 13  4  0  73
KCE       26.96  29.50  24.00  7  5  0  74
KKP       56.08  69.75  50.00  4 12  0  75
KTB       25.83  28.00  24.00 12  1  0  76
KTC       49.50  60.00  39.00  4  3  3  77
LALIN      5.65   5.65   5.65  0  0  0  78
LH         5.63   7.90   4.20  4 11  1  79
LPN        2.47   3.30   1.80  0  2  0  80
M         21.40  24.00  18.80  0  0  0  81
MAJOR     17.28  20.00  15.00  7  1  0  82
MC        12.93  13.30  12.00  6  0  0  83
MEGA      39.46  47.00  34.00  5  2  0  84
MINT      37.89  45.00  34.00 15  0  0  85
MST       10.00  10.00  10.00  0  0  0  86
MTC       56.46  65.00  50.50 16  0  0  87
NER        5.98   8.00   5.00  7  3  0  88
ONEE       4.00   5.10   3.42  2  1  1  89
OR        15.30  22.00  11.70  7  8  0  90
ORI        3.47   4.20   2.94  2  4  1  91
OSP       20.65  30.00  13.00  5 11  3  92
PLANB      9.41  10.70   7.85  8  1  0  93
PRM       10.12  11.80   8.00  6  1  0  94
PSH        7.93   9.50   5.50  2  1  1  95
PSL        8.00  11.40   6.50  3  2  0  96
PTG        9.09  11.00   6.65  7  3  1  97
PTT       34.75  41.00  30.00  7  4  1  98
PTTEP    151.98 182.00 134.00 12  7  0  99
PTTGC     25.33  31.00  19.00  8  8  2 100
QH         1.92   2.14   1.73  3  3  0 101
RATCH     35.20  37.00  33.00  5  0  0 102
RBF        6.06   6.85   5.10  2  3  0 103
RCL       23.98  25.75  22.00  0  2  0 104
RJH       21.10  24.00  18.20  0  0  0 105
SAPPE     81.44 111.00  63.00 13  2  0 106
SAT       12.58  14.80  10.60  3  5  0 107
SAWAD     43.17  50.00  34.00  5  2  2 108
SC         2.92   3.30   2.50  5  4  0 109
SCB      127.53 140.00 112.00  4 12  0 110
SCC      170.36 210.00 123.00  2 10  2 111
SCCC     190.67 200.00 185.00  3  0  0 112
SCGP      19.92  29.00  14.00  5  8  3 113
SINGER     8.50   8.50   8.50  1  0  0 114
SIRI       2.09   2.34   1.90 13  2  0 115
SJWD      12.66  19.50   9.30  7  0  0 116
SMPC      12.90  12.90  12.90  1  0  0 117
SPALI     19.71  24.00  17.00  9  7  0 118
SPRC       7.61   9.90   5.20 11  3  1 119
SSP        6.80   6.80   6.80  1  0  0 120
STA       23.86  33.70  18.70  7  0  0 121
STANLY   200.37 210.00 184.50  1  3  2 122
STGT      13.20  14.28  11.80  4  0  0 123
SVI        7.98   8.60   7.00  4  2  0 124
SYNEX     16.98  17.80  16.00  6  0  0 125
TASCO     21.06  22.40  20.10  7  0  0 126
TCAP      54.00  56.00  52.00  1  2  0 127
TFFIF      7.92   8.70   7.50  3  0  0 128
TFG        4.59   5.05   4.10  4  0  0 129
THANI      1.46   1.77   1.30  3  1  0 130
THG       13.70  15.20  12.20  0  0  0 131
TIDLOR    20.46  23.00  17.00 15  2  0 132
TISCO    101.00 112.00  92.00  4 12  1 133
TKN       11.40  12.10  11.00  3  0  0 134
TOA       23.20  23.20  23.20  1  0  0 135
TOP       29.86  41.00  21.00 10  9  3 136
TPIPP      3.10   3.20   3.00  1  0  0 137
TQM       33.00  38.00  28.00  1  1  0 138
TRUE      13.88  16.50   9.90  9  2  1 139
TTA        6.40   6.40   6.40  0  0  0 140
TTB        2.12   2.37   1.88 13  4  0 141
TTW       10.08  10.60   9.20  4  1  0 142
TU        14.80  17.60  11.30 12  8  0 143
TVO       22.80  22.80  22.80  0  0  0 144
VGI        2.42   2.65   2.20  0  1  0 145
VIBHA      2.74   2.74   2.74  1  0  0 146
WHA        6.34   6.90   5.30 14  2  0 147
WHAIR      8.07   8.60   7.40  3  0  0 148
WHART     11.41  12.50  11.00  3  1  0 149
WHAUP      5.35   5.90   4.50  3  0  0 150
WICE       4.40   4.40   4.40  1  0  0 151
End at: Sunday, Feb 23 08:29 PM

In [19]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Weekly'

In [20]:
file_name   = 'consensus-new.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\consensus-new.csv

In [21]:
consensus = pd.read_csv(input_file, sep=',', index_col=None)
consensus = consensus.rename(columns=str.lower)
consensus.shape

(151, 7)

In [22]:
consensus.query('buy + hold + sell == 0')

      name  target    max    min  buy  hold  sell
0      ACE    1.50   1.50   1.50    0     0     0
15     BAY   25.08  25.50  24.75    0     0     0
43     DCC    1.81   1.92   1.75    0     0     0
77   LALIN    5.65   5.65   5.65    0     0     0
80       M   21.40  24.00  18.80    0     0     0
85     MST   10.00  10.00  10.00    0     0     0
104    RJH   21.10  24.00  18.20    0     0     0
130    THG   13.70  15.20  12.20    0     0     0
139    TTA    6.40   6.40   6.40    0     0     0
143    TVO   22.80  22.80  22.80    0     0     0

In [23]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.shape

(8, 8)

In [24]:
prf_css.buy.value_counts(normalize=True).to_frame().style.format('{:.2%}')

### Profits w/o consensus

In [26]:
df_merge = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_merge['_merge'] == 'left_only'
df_merge[prf_wo_css]

Empty DataFrame
Columns: [name, market, target, max, min, buy, hold, sell, _merge]
Index: []

In [27]:
# First gets the filtered DataFrame of records that exist only in my_profits
prf_wo_css = df_merge['_merge'] == 'left_only'
filtered_df = df_merge[prf_wo_css]

# Then extracts just the 'name' column
names = filtered_df['name']

In [28]:
# Get the names as a list or tuple for SQL operations
names_list = names.tolist()

# Or if you want to see some statistics
print(f"Number of names found: {len(names)}")
print("\nFirst few names:")
print(names.head())

# If you need to check for any potential issues
print("\nAny null values:", names.isnull().any())
print("Unique names count:", names.nunique())

Number of names found: 0

First few names:
Series([], Name: name, dtype: object)

Any null values: False
Unique names count: 0

In [29]:
if names_list:
    placeholders = ','.join([':name{}'.format(i) for i in range(len(names_list))])
    sqlDel = text(f"DELETE FROM profits WHERE name IN ({placeholders})")
    
    # Convert the list into a dictionary of named parameters
    params = {f'name{i}': name for i, name in enumerate(names_list)}
    
    conmy.execute(sqlDel, params)

### Matching check with Buy table in MySql database to filter only records not yet in stocks

In [31]:
sql = """
SELECT name
FROM buy
WHERE active = 1"""
buy_df = pd.read_sql(sql, const)
buy_df.shape

(30, 1)

In [32]:
final_buy = pd.merge(my_profits, buy_df, on='name', how='outer', indicator=True)
final_buy.shape

(36, 3)

In [33]:
final_buy.rename(columns={'_merge':'merge_1'},inplace=True)
final_buy.columns

Index(['name', 'market', 'merge_1'], dtype='object')

In [34]:
sql = """
SELECT name 
FROM stocks
ORDER BY name"""
lite_stocks = pd.read_sql(sql, conlite)
lite_stocks.shape

(30, 1)

In [35]:
df_merge = pd.merge(lite_stocks, final_buy, on='name', how='outer', indicator=True)
df_merge.shape

(36, 4)

In [36]:
not_in_final_buy = df_merge.loc[
    df_merge['_merge'] == 'left_only']
not_in_final_buy

Empty DataFrame
Columns: [name, market, merge_1, _merge]
Index: []

In [37]:
names = not_in_final_buy['name']
names

Series([], Name: name, dtype: object)

In [38]:
names = not_in_final_buy['name']
# Get the names as a list for SQL operations
names_list = names.tolist()

In [39]:
if names_list:
    placeholders = ','.join('?' * len(names_list))
    sqlDel = text(f"DELETE FROM stocks WHERE name IN ({placeholders})")
    conlite.execute(sqlDel, names_list)

In [40]:
not_in_port = final_buy.loc[
    final_buy['merge_1'] == 'left_only']
not_in_port.shape

(6, 3)

In [41]:
file_name = 'consensus-ORD.csv'
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [42]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\consensus-ORD.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\consensus-ORD.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\consensus-ORD.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\consensus-ORD.csv

In [43]:
not_in_port.sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(god_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(icd_file, index=False)
not_in_port.sort_values(['name'],ascending=[True]).to_csv(osd_file, index=False)

### Process to combine profits and in-port records

In [45]:
sql = '''
SELECT P.name, 'O' AS sts
FROM profits P
ORDER BY P.name'''
df_prf = pd.read_sql(sql, conmy)
df_prf.shape

(14, 2)

In [46]:
sql = '''
SELECT name, 'I' AS sts
FROM buy
ORDER BY name'''
df_buy= pd.read_sql(sql, const)
df_buy.shape

(30, 2)

In [47]:
df_ttl = pd.concat([df_buy, df_prf], ignore_index=True)

In [48]:
duplicates_in_name = df_ttl[df_ttl['name'].duplicated(keep=False)]

duplicates_in_name

     name sts
5     BCH   I
23  SYNEX   I
36    BCH   O
43  SYNEX   O

In [49]:
df_unique = df_ttl.drop_duplicates(subset='name', keep='first')
df_unique.shape

(42, 2)

In [50]:
names = df_unique['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'3BBIF', 'AH', 'AIMIRT', 'ASP', 'AWC', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'TOA', 'TVO', 'WHAIR', 'WHART', '2759', '2760', '2761', '2762', '2763', '2764', 'BDMS', 'BEM', 'BH', 'CK', 'CRC', 'PLANB'"

In [51]:
sql = """
SELECT name 
FROM stocks
WHERE name NOT IN (%s)
"""
sql = sql % in_p
excess_stocks = pd.read_sql(sql, conlite)
excess_stocks

Empty DataFrame
Columns: [name]
Index: []

In [52]:
sql = """
SELECT name, status
FROM stocks
WHERE name  IN (%s)
ORDER BY name
"""
sql = sql % in_p
in_port_on_watch = pd.read_sql(sql, conlite)
in_port_on_watch.shape

(30, 2)

In [53]:
in_port_on_watch.query('status == "T"')

Empty DataFrame
Columns: [name, status]
Index: []

In [54]:
sql = """
SELECT name, status FROM stocks ORDER BY name"""
df_stocks = pd.read_sql(sql, conlite)
df_stocks.shape

(30, 2)

In [55]:
names_list = set(names)
names_in_df = set(df_stocks['name'])

missing_names = names_list - names_in_df
missing_names

{'2759',
 '2760',
 '2761',
 '2762',
 '2763',
 '2764',
 'BDMS',
 'BEM',
 'BH',
 'CK',
 'CRC',
 'PLANB'}

In [56]:
# Convert set to desired string format
formatted_str = ', '.join(f"'{item}'" for item in missing_names)
formatted_str

"'2764', 'BDMS', '2763', 'BH', '2762', 'PLANB', 'BEM', '2761', '2760', 'CRC', 'CK', '2759'"

In [57]:
# Convert formatted string back to a list
names_list = [name.strip().strip("'") for name in formatted_str.split(",")]
names_list

['2764',
 'BDMS',
 '2763',
 'BH',
 '2762',
 'PLANB',
 'BEM',
 '2761',
 '2760',
 'CRC',
 'CK',
 '2759']

In [58]:
# Convert list to DataFrame
df = pd.DataFrame(names_list, columns=['name'])
df.shape

(12, 1)

In [59]:
const.close()
conlite.close()
conpg.close()
conmy.close()

In [60]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-23 20:29:11