### port_lite database: stocks tables
### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [2]:
import pandas as pd
import numpy as np
import os

from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

# Define a formatting function to format integers with zero decimal places and floats with two decimal places
def format_cell(x):
    if isinstance(x, int):
        return "{:,.0f}".format(x)
    elif isinstance(x, float):
        return "{:.2f}".format(x)
    else:
        return x
pd.options.display.max_rows = 40
#pd.options.display.float_format = '{:.2f}'.format

today = date.today()
print(today)

2025-08-12

In [3]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2025-08-12
yesterday: 2025-08-08 00:00:00

In [4]:
# find the beginning of the week for the given yesterday
week_start = yesterday.to_period('W').start_time
week_end = yesterday.to_period('W').end_time
week_start = week_start.date()
week_end = week_end.date()
print(f'week start: {week_start}')
print(f'week end: {week_end}')

week start: 2025-08-04
week end: 2025-08-10

In [5]:
yesterday = yesterday.date()
print(week_start, yesterday)

2025-08-04 2025-08-08

### Restart and Run All Cells

In [7]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [8]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Weekly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [9]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',   
    'target':'{:.2f}','max':'{:.2f}','min':'{:.2f}',
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [10]:
sql = '''
SELECT *
FROM profits
LIMIT 1'''
my_profit = pd.read_sql(sql, conmy)
my_profit.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
ticker_id           int64
mean_pct          float64
std_pct           float64
dtype: object

In [11]:
sql = '''
SELECT *
FROM stocks
LIMIT 1'''
lite_stock = pd.read_sql(sql, conlite)
lite_stock.dtypes

id                 int64
name              object
max_price        float64
min_price        float64
status            object
buy_target       float64
sell_target      float64
volume           float64
beta             float64
cost             float64
qty                int64
buy_spread         int64
sell_spread        int64
available_qty      int64
bl               float64
sh               float64
reason            object
market            object
dtype: object

In [12]:
sql = '''
SELECT *
FROM tickers
LIMIT 1'''
pg_ticker = pd.read_sql(sql, conpg)
pg_ticker.dtypes

id                     int64
name                  object
full_name             object
sector                object
subsector             object
market                object
website               object
created_at    datetime64[ns]
updated_at    datetime64[ns]
dtype: object

In [13]:
sql = '''
SELECT P.name, market
FROM profits P
JOIN tickers T
ON P.ticker_id = T.id 
ORDER BY P.name'''
my_profits = pd.read_sql(sql, conmy)
my_profits

   name                             market
0   CBG            SET50 / SETCLMV / SETWB
1   CKP         SET100 / SETCLMV / SETTHSI
2  GPSC                    SET50 / SETTHSI
3  GULF          SET50 / SETCLMV / SETTHSI
4   MTC                    SET50 / SETTHSI
5   SCC  SET50 / SETCLMV / SETHD / SETTHSI
6  SMPC                               sSET
7   TVO              SET / SETTHSI / SETWB

### Create consensus from name-ttl and https://www.settrade.com/th/equities/quote/BCH/analyst-consensus

In [15]:
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Weekly'

In [16]:
# Derive the base directory (to_dir) by removing the last folder ('Daily')
base_dir = os.path.dirname(base_path)
print(f"Base Directory : {base_path}")

Base Directory : C:\Users\PC1\OneDrive\A5

In [17]:
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [18]:
!ruby ruby\\crt-consensus-new.rb

Start at: Tuesday, Aug 12 08:24 PM
name,target,max,min,buy,hold,sell
ACE        1.40   1.40   1.40  0  0  0   1
ADVANC   329.05 350.00 301.00 14  1  0   2
AEONTS   125.00 140.00 110.00  9  1  0   3
AH        14.33  16.00  12.20  2  6  0   4
AIMIRT    11.80  11.80  11.80  1  0  0   5
AMATA     22.08  35.00  14.90 12  2  2   6
ANAN       0.40   0.40   0.40  0  0  0   7
AOT       30.39  48.00  20.00  4  8  8   8
AP         9.41  12.00   7.50 13  3  0   9
ASIAN      6.70   6.70   6.70  0  0  0  10
ASK        6.39   7.38   5.90  1  0  0  11
ASW        7.10   7.60   6.60  1  1  0  12
AWC        3.31   5.00   2.30  3  1  0  13
BA        19.62  23.50  14.30  5  2  0  14
BAM        8.14   9.50   6.85  4  4  1  15
BANPU     10.10  30.00   4.70  1  4  0  16
BAY       24.57  25.00  23.70  1  2  0  17
BBL      163.00 196.00 119.00 11  4  2  18
BCH       18.04  21.70  14.20 18  2  0  19
BCP       39.11  47.00  32.00 13  4  1  20
BCPG       8.92  12.00   7.80 11  0  0  21
BDMS      30.53  36.00  21.80 19  2  0  22
BE8        8.48  11.60   5.80  1  2  0  23
BEC        3.91   4.70   2.50  3  0  0  24
BEM        8.45   9.75   7.30 14  0  0  25
BGRIM     13.45  22.00  10.00  7  7  2  26
BH       200.00 244.00 150.00 10  6  2  27
BJC       25.63  32.00  22.00 13  2  0  28
BLA       25.00  25.00  25.00  1  0  0  29
BPP        9.13  10.00   8.25  1  1  0  30
BTS        5.25   6.49   3.50  1  7  0  31
BTSGIF     3.30   3.40   3.20  1  1  0  32
CBG       72.00  97.00  50.50 13  1  1  33
CENTEL    32.86  40.00  29.00 13  1  0  34
CHG        2.36   3.40   1.72  9  1  0  35
CK        19.74  22.00  16.80 14  0  0  36
CKP        3.85   5.00   3.30 10  0  0  37
COM7      26.82  29.50  19.80  8  1  0  38
CPALL     67.17  83.00  45.75 17  2  0  39
CPF       29.26  35.00  21.00 13  3  0  40
CPN       69.42  83.00  55.00 10  1  0  41
CPNREIT   12.50  12.50  12.50  2  1  0  42
CRC       23.42  40.00  16.50  8  5  2  43
DCC        1.52   1.64   1.43  0  0  0  44
DELTA    106.76 170.00  65.00  3  2 12  45
DIF        9.98  11.40   8.70  4  0  0  46
DOHOME     4.53  10.00   2.12  5  4  7  47
EGCO     123.82 155.00 106.50  9  1  1  48
EPG        3.27   4.20   2.50  4  3  0  49
FTREIT    11.60  12.60  10.60  2  0  0  50
GFPT      12.19  15.50   9.20 12  4  0  51
GLOBAL     6.53  10.00   4.00  3  6  3  52
GPSC      39.19  56.00  31.00 11  5  0  53
GUNKUL     2.91   5.00   2.00  8  0  0  54
GVREIT     6.80   6.80   6.80  0  0  0  55
HANA      19.84  22.00  17.00  2 10  2  56
HMPRO      8.38  13.10   5.35  9  4  3  57
HTC       18.00  18.00  18.00  1  0  0  58
ICHI      11.81  13.00  10.80  2  5  0  59
III        6.27   7.00   5.80  3  0  0  60
ILM       18.10  18.10  18.10  1  0  0  61
IMPACT    11.47  12.30  10.90  1  2  0  62
IRPC       0.97   1.50   0.67  2  7  5  63
IVL       24.08  28.00  18.00  5  1  2  64
3BBIF      6.60   7.80   5.80  1  3  0  65
JMART     10.90  10.90  10.90  0  0  0  66
JMT       10.07  12.00   8.00  0  2  0  67
KBANK    171.56 192.00 142.00  7  8  1  68
KCE       19.26  28.50  13.50  4  5  6  69
KKP       53.49  60.00  45.00  6  9  1  70
KTB       25.67  30.00  22.50 17  0  0  71
KTC       33.62  50.00  18.00  9  3  1  72
LH         4.50   5.80   3.50  4  7  2  73
LPN        1.92   2.30   1.50  2  1  2  74
M         17.55  20.00  15.70  1  3  0  75
MAJOR     12.75  14.80   9.00  5  3  0  76
MC        12.90  13.10  12.60  3  0  0  77
MEGA      32.07  36.00  26.00  3  4  0  78
MINT      32.73  38.60  26.50 13  3  0  79
MST        6.50   6.50   6.50  0  0  0  80
MTC       50.12  65.00  32.00 15  1  1  81
NER        5.70   6.40   4.50  6  3  0  82
ONEE       2.44   2.70   1.90  1  2  2  83
OR        15.24  20.00  12.00  9  3  5  84
ORI        2.06   2.90   1.55  2  4  3  85
OSP       19.02  24.00  13.70 12  4  1  86
PLANB      7.17   9.35   5.80 12  1  0  87
PRM        9.29  11.80   8.20  7  0  0  88
PSH        4.07   5.00   3.20  0  2  0  89
PSL        6.60   7.10   5.40  2  1  1  90
PTG        8.34  11.00   6.70 10  4  0  91
PTT       34.48  41.00  27.00  7  4  1  92
PTTEP    135.39 169.00 112.50 13  4  0  93
PTTGC     22.25  29.00  16.00  9  3  6  94
QH         1.61   2.00   1.35  2  7  1  95
RATCH     32.41  40.00  25.00  4  4  0  96
RBF        4.27   4.80   3.80  0  0  0  97
RCL       26.30  28.20  24.40  0  0  0  98
RJH       14.30  15.00  13.50  0  0  0  99
ROJNA      7.70   8.60   6.80  2  0  0 100
SAPPE     37.29  40.00  31.50  4  7  2 101
SAT       13.70  16.70  11.40  3  3  0 102
SAWAD     23.84  37.00  15.00  8  8  1 103
SC         2.25   2.69   1.90  6  2  1 104
SCB      130.14 145.00 112.00  8  6  0 105
SCC      191.77 252.00 128.00  7  2  5 106
SCCC     191.00 195.00 185.00  3  0  0 107
SCGP      19.59  29.00  12.00  8  7  3 108
SIRI       1.68   2.20   1.20  8  6  0 109
SIS       23.00  23.00  23.00  0  0  0 110
SJWD      11.31  14.00   7.70  6  1  0 111
SKR       10.30  10.30  10.30  1  0  0 112
SPALI     15.99  20.00  14.00  7  8  2 113
SPRC       6.94   9.35   5.40 10  3  0 114
SSP        6.07   7.50   4.70  1  1  1 115
STA       17.63  20.12  15.00  5  2  0 116
STANLY   203.18 214.00 185.00  3  0  0 117
STGT       9.22   9.90   7.60  4  1  0 118
SUPEREIF   5.55   5.55   5.55  0  0  0 119
SVI        5.81   6.80   4.70  0  4  0 120
SYNEX     13.76  16.00  12.00  4  0  0 121
TASCO     17.48  21.00  16.30  6  0  0 122
TCAP      53.86  57.00  48.00  3  4  0 123
TFFIF      7.50   7.50   7.50  1  0  0 124
TFG        6.01   6.80   5.00  7  2  0 125
THANI      1.71   2.05   1.39  3  2  2 126
THG        6.75   7.70   5.80  0  0  0 127
TISCO     97.47 108.00  83.00  2 11  2 128
TKN        6.73   7.50   6.00  2  0  0 129
TMT        3.50   3.50   3.50  0  0  0 130
TOA       15.80  19.80  12.80  2  2  0 131
TOP       31.39  41.00  23.00  9  5  2 132
TQM       21.58  24.30  17.00  4  0  0 133
TRUE      14.59  18.00  12.20 10  2  0 134
TTA        4.46   4.52   4.40  1  0  0 135
TTB        2.00   2.22   1.70  4  9  2 136
TTW        9.88  10.50   8.70  3  3  0 137
TU        12.72  17.40   9.25  9  6  1 138
TVO       27.80  30.00  26.40  4  0  0 139
VGI        1.99   2.21   1.54  0  3  0 140
WHA        4.16   5.40   3.01 12  1  2 141
WHAIR      7.23   8.60   6.10  4  0  0 142
WHART     11.03  11.20  10.90  3  0  0 143
WHAUP      4.74   5.10   4.35  4  0  0 144
WICE       3.45   4.30   2.60  1  0  0 145
WORK       4.80   4.80   4.80  0  0  0 146
End at: Tuesday, Aug 12 08:31 PM

In [19]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Weekly'

In [20]:
file_name   = 'consensus.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\consensus.csv

In [21]:
consensus = pd.read_csv(input_file, sep=',', index_col=None)
consensus = consensus.rename(columns=str.lower)
consensus.shape

(146, 7)

In [22]:
consensus.query('buy + hold + sell == 0')

         name  target    max    min  buy  hold  sell
0         ACE    1.40   1.40   1.40    0     0     0
6        ANAN    0.40   0.40   0.40    0     0     0
9       ASIAN    6.70   6.70   6.70    0     0     0
43        DCC    1.52   1.64   1.43    0     0     0
54     GVREIT    6.80   6.80   6.80    0     0     0
65      JMART   10.90  10.90  10.90    0     0     0
79        MST    6.50   6.50   6.50    0     0     0
96        RBF    4.27   4.80   3.80    0     0     0
97        RCL   26.30  28.20  24.40    0     0     0
98        RJH   14.30  15.00  13.50    0     0     0
109       SIS   23.00  23.00  23.00    0     0     0
118  SUPEREIF    5.55   5.55   5.55    0     0     0
126       THG    6.75   7.70   5.80    0     0     0
129       TMT    3.50   3.50   3.50    0     0     0
145      WORK    4.80   4.80   4.80    0     0     0

### End of Process

In [24]:
const.close()
conlite.close()
conpg.close()
conmy.close()

In [25]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-12 20:31:19