### port_lite database: stocks tables
### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [2]:
import pandas as pd
import numpy as np
import os

from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

# Define a formatting function to format integers with zero decimal places and floats with two decimal places
def format_cell(x):
    if isinstance(x, int):
        return "{:,.0f}".format(x)
    elif isinstance(x, float):
        return "{:.2f}".format(x)
    else:
        return x
pd.options.display.max_rows = 40
#pd.options.display.float_format = '{:.2f}'.format

today = date.today()
print(today)

2025-10-13

In [3]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
#yesterday = yesterday.date()
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2025-10-13
yesterday: 2025-10-10 00:00:00

In [4]:
# find the beginning of the week for the given yesterday
week_start = yesterday.to_period('W').start_time
week_end = yesterday.to_period('W').end_time
week_start = week_start.date()
week_end = week_end.date()
print(f'week start: {week_start}')
print(f'week end: {week_end}')

week start: 2025-10-06
week end: 2025-10-12

In [5]:
print(week_start, yesterday)

2025-10-06 2025-10-10 00:00:00

### Restart and Run All Cells

In [7]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [8]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Weekly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [9]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',   
    'target':'{:.2f}','max':'{:.2f}','min':'{:.2f}',
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [10]:
sql = '''
SELECT *
FROM profits
LIMIT 1'''
my_profits = pd.read_sql(sql, conmy)
my_profits.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
ticker_id           int64
mean_pct          float64
std_pct           float64
dtype: object

In [11]:
sql = '''
SELECT *
FROM stocks
LIMIT 1'''
lite_stocks = pd.read_sql(sql, conlite)
lite_stocks.dtypes

id                 int64
name              object
max_price        float64
min_price        float64
status            object
buy_target       float64
sell_target      float64
volume           float64
beta             float64
cost             float64
qty                int64
buy_spread         int64
sell_spread        int64
available_qty      int64
bl               float64
sh               float64
reason            object
market            object
dtype: object

In [12]:
sql = '''
SELECT *
FROM tickers
LIMIT 1'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.dtypes

id                     int64
name                  object
full_name             object
sector                object
subsector             object
market                object
website               object
created_at    datetime64[ns]
updated_at    datetime64[ns]
dtype: object

In [13]:
sql = '''
SELECT P.name, market
FROM profits P
JOIN tickers T
ON P.ticker_id = T.id 
ORDER BY P.name'''
my_profits = pd.read_sql(sql, conmy)
my_profits

      name                              market
0   ADVANC             SET50 / SETHD / SETTHSI
1      BAM                              SET100
2      BLA                     SET50 / SETTHSI
3      CBG             SET50 / SETCLMV / SETWB
4       CK          SET100 / SETCLMV / SETTHSI
5      CKP          SET100 / SETCLMV / SETTHSI
6     COM7            SET100 / SETTHSI / SETWB
7     GFPT                      sSET / SETTHSI
8     GPSC                     SET50 / SETTHSI
9     GULF           SET50 / SETCLMV / SETTHSI
10  GUNKUL  SET100 / SETCLMV / SETHD / SETTHSI
11     MTC                     SET50 / SETTHSI
12   PLANB                    SET100 / SETTHSI
13     SCC   SET50 / SETCLMV / SETHD / SETTHSI
14    SMPC                                sSET
15   SYNEX                    SET100 / SETTHSI
16     TTW                             SETTHSI
17     TVO               SET / SETTHSI / SETWB

### Create consensus from name-ttl and https://www.settrade.com/th/equities/quote/BCH/analyst-consensus

In [15]:
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Weekly'

In [16]:
# Derive the base directory (to_dir) by removing the last folder ('Daily')
base_dir = os.path.dirname(base_path)
print(f"Base Directory : {base_path}")

Base Directory : C:\Users\PC1\OneDrive\A5

In [17]:
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [18]:
!ruby ruby\\crt-consensus.rb

Start at: Monday, Oct 13 08:21 PM
name,target,max,min,buy,hold,sell
ACE        1.50   1.50   1.50  0  0  0   1
ADVANC   335.72 365.00 319.00 15  0  0   2
AEONTS   128.00 140.00 110.00  8  2  0   3
AH        15.64  17.40  13.60  3  4  1   4
AIMIRT    11.40  11.80  11.00  2  0  0   5
AMATA     23.32  35.00  14.90 13  1  2   6
ANAN       0.40   0.40   0.40  0  0  0   7
AOT       34.92  48.00  24.00  2  9  7   8
AP         9.79  12.50   7.80 13  1  0   9
ASIAN      6.60   6.60   6.60  0  0  0  10
ASK        6.43   7.38   5.90  1  0  0  11
ASW        7.62   8.95   6.60  2  1  0  12
AWC        3.16   5.00   2.33  6  2  0  13
BA        18.64  23.50  14.10  8  1  0  14
BAM        8.25  10.00   6.40  3  3  2  15
BANPU      5.09   5.50   4.90  1  5  1  16
BAY       24.18  26.00  22.00  1  3  0  17
BBL      162.33 196.00 119.00 11  4  3  18
BCH       17.49  21.70  13.80 18  2  0  19
BCP       38.88  47.00  32.00 15  3  1  20
BCPG       9.49  12.00   7.80 12  0  0  21
BDMS      28.55  34.20  20.00 15  5  0  22
BE8        6.17   7.00   5.50  0  2  0  23
BEC        2.96   3.20   2.72  1  1  0  24
BEM        8.68  12.09   7.30 15  0  0  25
BGRIM     15.61  22.00  11.00 13  4  1  26
BH       202.45 240.00 150.00 12  6  2  27
BJC       23.13  32.00  18.00 10  5  1  28
BLA       19.70  22.00  17.40  1  1  0  29
BPP        9.75  10.00   9.00  3  1  0  30
BTS        4.70   6.00   3.50  0  0  0  31
BTSGIF     2.92   3.40   2.45  1  2  0  32
CBG       67.40  79.00  58.00 12  1  0  33
CENTEL    36.21  42.09  31.00 13  2  0  34
CHG        2.13   2.94   1.70 11  3  0  35
CK        20.16  23.50  17.20 14  0  0  36
CKP        3.88   4.40   3.40 11  0  0  37
COM7      29.41  34.00  23.50  8  3  0  38
CPALL     67.35  80.00  57.25 18  0  0  39
CPF       28.22  38.00  21.30 10  6  1  40
CPN       69.48  83.00  55.00 14  0  0  41
CPNREIT   12.40  12.50  12.20  2  1  0  42
CRC       23.21  40.00  16.50  6  8  4  43
DCC        1.52   1.64   1.43  0  0  0  44
DELTA    130.18 196.00  65.00  4  4  9  45
DIF        9.83  11.40   8.60  4  0  0  46
DOHOME     4.17  10.00   2.60  2  4  7  47
EGATIF     5.75   5.75   5.75  0  0  0  48
EGCO     131.18 155.00 116.00 10  0  0  49
EPG        3.86   4.30   3.30  4  1  0  50
FPT        9.80   9.80   9.80  1  0  0  51
FSMART    13.00  13.00  13.00  1  0  0  52
FTREIT    11.58  12.60  10.60  4  0  0  53
GFPT      12.44  15.50   9.95  9  5  0  54
GGC        4.20   4.20   4.20  0  0  0  55
GLOBAL     6.70  10.00   4.00  3  6  3  56
GPSC      44.99  56.00  33.25 13  5  0  57
GUNKUL     2.97   5.00   2.00  7  0  0  58
GVREIT     6.80   6.80   6.80  0  0  0  59
HANA      23.73  31.00  17.00  5  8  1  60
HMPRO      8.43  13.10   5.35  9  6  3  61
HTC       19.05  19.60  18.50  2  0  0  62
ICHI      13.79  15.50  12.00  7  0  0  63
III        6.27   7.00   5.80  3  0  0  64
ILM       15.76  18.10  11.50  2  0  0  65
IMPACT    11.73  12.30  11.20  1  2  0  66
IRPC       0.98   1.50   0.67  2  8  5  67
IVL       23.20  28.00  18.00  7  8  2  68
3BBIF      6.60   7.80   5.80  1  3  0  69
JMART     10.90  10.90  10.90  0  0  0  70
JMT       11.22  15.30   7.50  1  3  1  71
KBANK    174.82 192.00 150.00  8  8  1  72
KCE       24.97  30.00  15.75  4  6  4  73
KKP       55.60  67.00  45.00  6 10  1  74
KTB       27.48  31.00  25.00 16  0  0  75
KTC       33.54  45.00  18.00  8  4  1  76
LH         4.42   5.80   3.50  3  7  1  77
LPN        1.72   2.30   1.16  1  1  4  78
M         26.08  31.00  20.00  4  2  0  79
MAJOR     12.74  14.80   9.00  4  3  0  80
MC        13.08  14.20  12.50  4  0  0  81
MEGA      32.07  36.00  26.00  3  3  1  82
MINT      33.44  38.60  26.50 15  2  0  83
MST        6.50   6.50   6.50  0  0  0  84
MTC       49.91  65.00  32.00 14  1  1  85
NER        5.66   6.40   4.50  6  3  0  86
ONEE       2.45   2.70   1.60  1  4  1  87
OR        15.28  20.00  12.00  9  5  3  88
ORI        2.44   3.30   1.85  2  4  2  89
OSP       20.25  24.00  13.70 11  6  1  90
PLANB      6.87   9.35   5.00 12  1  0  91
PRM        9.42  11.80   8.20  7  0  0  92
PSH        4.19   5.00   3.38  0  2  0  93
PSL        7.67   9.37   7.00  2  2  1  94
PTG        8.77  11.00   6.70  9  4  0  95
PTT       35.52  40.00  32.50 10  6  0  96
PTTEP    133.60 169.00 112.50 16  4  0  97
PTTGC     24.33  33.00  17.00 10  3  6  98
QH         1.48   2.00   1.30  1  9  0  99
RATCH     32.88  37.00  25.75  5  3  0 100
RBF        4.15   4.80   3.80  0  0  0 101
RCL       30.60  33.00  28.20  0  0  0 102
RJH       14.70  15.00  14.40  0  0  0 103
ROJNA      6.95   8.60   5.30  1  1  0 104
SAPPE     35.00  38.00  27.00  2  6  3 105
SAT       14.01  16.70  12.50  4  6  0 106
SAWAD     27.12  36.00  20.00  6 10  0 107
SC         2.31   2.75   1.96  5  3  0 108
SCB      132.81 148.00 116.00  9  7  0 109
SCC      214.29 290.00 130.00  5  5  4 110
SCCC     193.33 200.00 185.00  3  0  0 111
SCGP      20.80  26.00  16.00  9  7  1 112
SINGER     6.70   6.70   6.70  0  0  0 113
SIRI       1.74   2.20   1.37  8  4  0 114
SIS       23.00  23.00  23.00  0  0  0 115
SJWD      12.84  14.00  11.00  7  1  0 116
SKR       10.30  10.30  10.30  1  0  0 117
SPALI     16.89  21.80  14.00  8  7  2 118
SPRC       6.16   7.90   5.00 11  4  1 119
SSP        4.85   5.00   4.70  1  0  0 120
STA       14.53  17.70  12.40  3  4  0 121
STANLY   193.28 214.00 162.00  3  2  1 122
STGT       7.92   9.90   7.30  3  2  0 123
SUPEREIF   5.35   5.35   5.35  0  0  0 124
SVI        5.76   6.80   4.70  0  6  0 125
SYNEX     14.44  16.55  13.00  8  0  0 126
TASCO     16.94  18.00  16.00  6  1  0 127
TCAP      54.44  61.10  52.00  2  5  0 128
TFG        6.55   7.35   5.50  8  1  0 129
THANI      1.82   2.30   1.41  3  2  1 130
THG        7.70   7.70   7.70  0  0  0 131
TISCO     98.91 108.00  87.50  2 12  2 132
TKN        6.37   6.70   6.00  1  2  0 133
TMT        3.40   3.40   3.40  0  0  0 134
TOA       16.23  19.80  13.00  2  2  0 135
TOP       35.01  44.00  24.00  6 11  2 136
TPIPP      2.50   2.50   2.50  0  0  0 137
TQM       17.68  24.00  15.00  2  2  0 138
TRUE      14.77  18.00  11.40  9  2  0 139
TTA        5.30   5.30   5.30  1  1  0 140
TTB        2.01   2.22   1.70  5  8  2 141
TTW        9.90  10.60   8.70  3  3  0 142
TU        13.18  15.80  10.00  8  9  2 143
TVO       29.03  30.00  26.60  4  0  0 144
VGI        1.94   2.21   1.38  0  3  0 145
VIBHA      1.40   1.40   1.40  0  0  0 146
WHA        4.23   5.10   3.01 15  0  0 147
WHAIR      7.23   8.60   6.10  4  0  0 148
WHART     11.20  11.20  11.20  1  0  0 149
WHAUP      4.78   5.00   4.50  4  0  0 150
WICE       3.44   3.44   3.44  1  0  0 151
WORK       5.05   5.30   4.80  1  1  0 152
End at: Monday, Oct 13 08:27 PM

In [19]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Weekly'

In [20]:
file_name   = 'consensus.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\consensus.csv

In [21]:
consensus = pd.read_csv(input_file, sep=',', index_col=None)
consensus = consensus.rename(columns=str.lower)
consensus.shape

(152, 7)

In [22]:
consensus.query('buy + hold + sell == 0')

         name  target    max    min  buy  hold  sell
0         ACE    1.50   1.50   1.50    0     0     0
6        ANAN    0.40   0.40   0.40    0     0     0
9       ASIAN    6.60   6.60   6.60    0     0     0
30        BTS    4.70   6.00   3.50    0     0     0
43        DCC    1.52   1.64   1.43    0     0     0
47     EGATIF    5.75   5.75   5.75    0     0     0
54        GGC    4.20   4.20   4.20    0     0     0
58     GVREIT    6.80   6.80   6.80    0     0     0
69      JMART   10.90  10.90  10.90    0     0     0
83        MST    6.50   6.50   6.50    0     0     0
100       RBF    4.15   4.80   3.80    0     0     0
101       RCL   30.60  33.00  28.20    0     0     0
102       RJH   14.70  15.00  14.40    0     0     0
112    SINGER    6.70   6.70   6.70    0     0     0
114       SIS   23.00  23.00  23.00    0     0     0
123  SUPEREIF    5.35   5.35   5.35    0     0     0
130       THG    7.70   7.70   7.70    0     0     0
133       TMT    3.40   3.40   3.40    0     0     0
136     TPIPP    2.50   2.50   2.50    0     0     0
145     VIBHA    1.40   1.40   1.40    0     0     0

### End of Process

In [24]:
const.close()
conlite.close()
conpg.close()
conmy.close()

In [25]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-10-13 20:27:38