### port_lite database: stocks tables
### portmy database: profits, stocks tables
### portpg database: consensus, tickers tables
### csv files: consensus-ORD.csv

In [2]:
import pandas as pd
import numpy as np
import os

from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/stock')
const = engine.connect()

# Define a formatting function to format integers with zero decimal places and floats with two decimal places
def format_cell(x):
    if isinstance(x, int):
        return "{:,.0f}".format(x)
    elif isinstance(x, float):
        return "{:.2f}".format(x)
    else:
        return x
pd.options.display.max_rows = 40
#pd.options.display.float_format = '{:.2f}'.format

today = date.today()
print(today)

2025-08-17

In [3]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2025-08-17
yesterday: 2025-08-15 00:00:00

In [4]:
# find the beginning of the week for the given yesterday
week_start = yesterday.to_period('W').start_time
week_end = yesterday.to_period('W').end_time
week_start = week_start.date()
week_end = week_end.date()
print(f'week start: {week_start}')
print(f'week end: {week_end}')

week start: 2025-08-11
week end: 2025-08-17

In [5]:
yesterday = yesterday.date()
print(week_start, yesterday)

2025-08-11 2025-08-15

### Restart and Run All Cells

In [7]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [8]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Weekly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [9]:
cols = 'quarter price target_price upside buy hold sell yield max_price min_price pe pbv dly_vol beta'.split()
colt = 'name price target_price upside buy hold sell market sector subsector dly_vol beta yield'.split()
colu = 'price target_price upside buy hold sell mrkt yield'.split()

format_dict = {
    'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',   
    'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',    
    'q_amt_c':'{:,}','y_amt': '{:,}','inc_amt_py':'{:,}', 
    'q_amt_p': '{:,}','inc_amt_pq':'{:,}', 
    'inc_pct_y': '{:.2f}%','inc_pct_q': '{:.2f}%',
    'inc_pct_py': '{:.2f}%','inc_pct_pq': '{:.2f}%',
    'mean_pct': '{:.2f}%','std_pct': '{:.2f}%','upside': '{:.2f}%', 
    
    'price':'{:.2f}','target_price':'{:.2f}','diff':'{:.2f}',
    'eps_a':'{:.2f}','eps_b':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'yield':'{:.2f}%',
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',   
    'target':'{:.2f}','max':'{:.2f}','min':'{:.2f}',
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}',    
}

In [10]:
sql = '''
SELECT *
FROM profits
LIMIT 1'''
my_profit = pd.read_sql(sql, conmy)
my_profit.dtypes

id                  int64
name               object
year               object
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y           int64
latest_amt_q      float64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q           int64
q_amt_c           float64
y_amt               int64
inc_amt_py          int64
inc_pct_py          int64
q_amt_p           float64
inc_amt_pq          int64
inc_pct_pq          int64
ticker_id         float64
mean_pct            int64
std_pct           float64
dtype: object

In [11]:
sql = '''
SELECT *
FROM stocks
LIMIT 1'''
lite_stock = pd.read_sql(sql, conlite)
lite_stock.dtypes

id                 int64
name              object
max_price        float64
min_price        float64
status            object
buy_target       float64
sell_target      float64
volume           float64
beta             float64
cost             float64
qty                int64
buy_spread         int64
sell_spread        int64
available_qty      int64
bl               float64
sh               float64
reason            object
market            object
dtype: object

In [12]:
sql = '''
SELECT *
FROM tickers
LIMIT 1'''
pg_ticker = pd.read_sql(sql, conpg)
pg_ticker.dtypes

id                     int64
name                  object
full_name             object
sector                object
subsector             object
market                object
website               object
created_at    datetime64[ns]
updated_at    datetime64[ns]
dtype: object

In [13]:
sql = '''
SELECT P.name, market
FROM profits P
JOIN tickers T
ON P.ticker_id = T.id 
ORDER BY P.name'''
my_profits = pd.read_sql(sql, conmy)
my_profits

    name                             market
0    CBG            SET50 / SETCLMV / SETWB
1    CKP         SET100 / SETCLMV / SETTHSI
2   GPSC                    SET50 / SETTHSI
3   GULF          SET50 / SETCLMV / SETTHSI
4    MTC                    SET50 / SETTHSI
5    SCC  SET50 / SETCLMV / SETHD / SETTHSI
6   SMPC                               sSET
7  SYNEX                   SET100 / SETTHSI
8    TVO              SET / SETTHSI / SETWB

### Create consensus from name-ttl and https://www.settrade.com/th/equities/quote/BCH/analyst-consensus

In [15]:
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Weekly'

In [16]:
# Derive the base directory (to_dir) by removing the last folder ('Daily')
base_dir = os.path.dirname(base_path)
print(f"Base Directory : {base_path}")

Base Directory : C:\Users\PC1\OneDrive\A5

In [17]:
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [18]:
!ruby ruby\\crt-consensus-new.rb

Start at: Sunday, Aug 17 07:50 PM
name,target,max,min,buy,hold,sell
ACE        1.40   1.40   1.40  0  0  0   1
ADVANC   329.05 350.00 301.00 14  1  0   2
AEONTS   125.00 140.00 110.00  9  1  0   3
AH        14.63  16.00  13.40  2  5  0   4
AIMIRT    11.80  11.80  11.80  1  0  0   5
AMATA     22.63  35.00  14.90 12  2  2   6
ANAN       0.40   0.40   0.40  0  0  0   7
AOT       31.88  48.00  23.50  2  9  8   8
AP         9.37  11.80   7.50 13  2  0   9
ASIAN      6.70   6.70   6.70  0  0  0  10
ASK        6.39   7.38   5.90  1  0  0  11
ASW        7.10   7.60   6.60  1  1  0  12
AWC        3.17   5.00   2.30  4  1  0  13
BA        18.93  23.50  14.10  5  2  0  14
BAM        8.31  10.00   6.85  3  5  1  15
BANPU      4.88   5.50   4.20  1  2  2  16
BAY       24.57  25.00  23.70  1  2  0  17
BBL      163.00 196.00 119.00 11  4  2  18
BCH       17.99  21.70  14.20 17  3  0  19
BCP       39.11  47.00  32.00 13  4  1  20
BCPG       8.92  12.00   7.80 11  0  0  21
BDMS      29.37  34.20  20.00 17  4  0  22
BE8        7.65  11.60   5.80  1  2  1  23
BEC        3.31   4.70   2.50  2  1  0  24
BEM        8.71  12.09   7.30 15  0  0  25
BGRIM     13.49  22.00  10.00  7  7  2  26
BH       201.37 244.00 150.00 11  6  2  27
BJC       24.66  32.00  20.00 10  5  0  28
BLA       22.00  22.00  22.00  1  0  0  29
BPP        9.67  10.00   9.00  2  1  0  30
BTS        5.12   6.49   3.50  1  7  0  31
BTSGIF     3.02   3.40   2.45  1  2  0  32
CBG       70.52  97.00  50.50 14  0  0  33
CENTEL    32.86  40.00  29.00 10  4  0  34
CHG        2.32   2.94   1.72  9  1  0  35
CK        19.85  23.50  16.80 14  0  0  36
CKP        3.85   5.00   3.30 10  0  0  37
COM7      26.61  30.00  19.80  7  1  0  38
CPALL     66.21  80.00  45.75 16  2  0  39
CPF       29.51  38.00  21.00 13  3  0  40
CPN       69.47  83.00  55.00 14  0  0  41
CPNREIT   12.50  12.50  12.50  2  1  0  42
CRC       24.54  48.00  16.50  8  5  3  43
DCC        1.52   1.64   1.43  0  0  0  44
DELTA    106.76 170.00  65.00  3  2 12  45
DIF        9.95  11.40   8.60  4  0  0  46
DOHOME     4.24  10.00   2.12  3  4  8  47
EGATIF     5.75   5.75   5.75  0  0  0  48
EGCO     124.36 155.00 106.50  9  1  1  49
EPG        3.43   4.30   2.50  4  3  0  50
FPT        9.80   9.80   9.80  2  0  0  51
FTREIT    11.60  12.60  10.60  2  0  0  52
GFPT      12.29  15.50   9.20  9  5  0  53
GGC        4.20   4.20   4.20  0  0  0  54
GLOBAL     6.44  10.00   4.00  4  6  3  55
GPSC      40.21  56.00  31.00 11  6  0  56
GUNKUL     2.96   5.00   2.00  7  0  0  57
GVREIT     6.80   6.80   6.80  0  0  0  58
HANA      20.15  25.00  17.00  2 11  2  59
HMPRO      8.37  13.10   5.35 10  4  3  60
HTC       18.00  18.00  18.00  1  0  0  61
ICHI      11.81  13.00  10.80  2  5  0  62
III        6.27   7.00   5.80  3  0  0  63
ILM       15.76  18.10  11.50  2  0  0  64
IMPACT    11.47  12.30  10.90  1  2  0  65
IRPC       0.97   1.50   0.67  2  7  5  66
IVL       23.37  28.00  18.00  8  5  2  67
3BBIF      6.60   7.80   5.80  1  3  0  68
JMART     10.90  10.90  10.90  0  0  0  69
JMT       10.90  13.50   7.50  1  3  1  70
KBANK    171.56 192.00 142.00  7  8  1  71
KCE       21.90  30.00  13.50  4  6  6  72
KKP       53.49  60.00  45.00  6  9  1  73
KTB       25.67  30.00  22.50 17  0  0  74
KTC       33.62  50.00  18.00  9  3  1  75
LH         4.46   5.80   3.50  4  7  1  76
LPN        1.89   2.30   1.50  1  1  2  77
M         16.73  18.50  15.70  0  0  0  78
MAJOR     12.75  14.80   9.00  5  3  0  79
MC        12.85  13.10  12.60  2  0  0  80
MEGA      32.07  36.00  26.00  3  3  1  81
MINT      32.73  38.60  26.50 13  3  0  82
MST        6.50   6.50   6.50  0  0  0  83
MTC       50.13  65.00  32.00 14  1  1  84
NER        5.66   6.40   4.50  6  3  0  85
ONEE       2.50   2.70   1.90  1  3  1  86
OR        15.24  20.00  12.00  9  3  5  87
ORI        2.06   2.90   1.55  2  4  3  88
OSP       19.92  24.00  13.70 13  4  1  89
PLANB      7.13   9.35   5.80 12  1  0  90
PRM        9.29  11.80   8.20  7  0  0  91
PSH        4.35   5.00   3.50  0  2  0  92
PSL        6.60   7.10   5.40  2  1  1  93
PTG        8.79  11.00   6.90 12  2  0  94
PTT       34.75  39.00  32.50  9  7  0  95
PTTEP    135.39 169.00 112.50 13  4  0  96
PTTGC     22.62  28.00  16.00  8  3  7  97
QH         1.55   2.00   1.30  2  9  1  98
RATCH     31.81  36.00  25.00  5  4  0  99
RBF        4.15   4.80   3.80  0  0  0 100
RCL       26.30  28.20  24.40  0  0  0 101
RJH       14.70  15.00  14.40  0  0  0 102
ROJNA      7.70   8.60   6.80  2  0  0 103
SAPPE     37.71  43.50  31.50  3  8  2 104
SAT       13.53  16.70  11.40  3  5  0 105
SAWAD     24.48  37.00  20.00  8  7  1 106
SC         2.25   2.69   1.90  6  3  0 107
SCB      130.14 145.00 112.00  8  6  0 108
SCC      191.77 252.00 128.00  7  2  5 109
SCCC     191.00 195.00 185.00  3  0  0 110
SCGP      19.59  29.00  12.00  8  7  3 111
SIRI       1.65   2.20   1.20  8  6  0 112
SIS       23.00  23.00  23.00  0  0  0 113
SJWD      11.73  14.00  10.00  6  1  0 114
SKR       10.30  10.30  10.30  1  0  0 115
SPALI     15.97  20.00  14.00  6  8  2 116
SPRC       6.41   9.10   5.00 11  5  1 117
SSP        4.85   5.00   4.70  1  0  0 118
STA       17.22  20.00  15.00  4  2  0 119
STANLY   203.18 214.00 185.00  3  0  0 120
STGT       9.08   9.90   7.60  3  1  0 121
SUPEREIF   5.35   5.35   5.35  0  0  0 122
SVI        5.73   6.80   4.70  0  5  0 123
SYNEX     13.76  16.00  12.00  4  0  0 124
TASCO     17.22  19.40  16.30  6  0  0 125
TCAP      54.13  57.00  50.00  3  5  0 126
TFFIF      7.50   7.50   7.50  1  0  0 127
TFG        6.15   7.20   5.00  7  2  0 128
THANI      1.72   2.05   1.41  3  3  2 129
THG        6.75   7.70   5.80  0  0  0 130
TISCO     97.47 108.00  83.00  2 11  2 131
TKN        6.37   6.70   6.00  1  2  0 132
TMT        3.50   3.50   3.50  0  0  0 133
TOA       15.80  19.80  12.80  2  2  0 134
TOP       33.76  44.00  23.00  8  7  3 135
TPIPP      2.50   2.50   2.50  0  0  0 136
TQM       20.08  24.30  16.00  2  2  0 137
TRUE      14.59  18.00  12.20 10  2  0 138
TTA        4.46   4.52   4.40  1  0  0 139
TTB        2.00   2.22   1.70  4  9  2 140
TTW        9.88  10.50   8.70  3  3  0 141
TU        12.82  17.40   9.25  9  6  1 142
TVO       27.45  30.00  26.60  4  0  0 143
VGI        1.99   2.21   1.54  0  3  0 144
WHA        4.15   5.30   3.01 12  1  2 145
WHAIR      7.23   8.60   6.10  4  0  0 146
WHART     10.95  11.00  10.90  2  0  0 147
WHAUP      4.54   5.10   4.05  5  0  0 148
WICE       3.45   4.30   2.60  1  0  0 149
WORK       4.80   4.80   4.80  0  0  0 150
End at: Sunday, Aug 17 07:57 PM

In [19]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Weekly'

In [20]:
file_name   = 'consensus.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\consensus.csv

In [21]:
consensus = pd.read_csv(input_file, sep=',', index_col=None)
consensus = consensus.rename(columns=str.lower)
consensus.shape

(150, 7)

In [22]:
consensus.query('buy + hold + sell == 0')

         name  target    max    min  buy  hold  sell
0         ACE    1.40   1.40   1.40    0     0     0
6        ANAN    0.40   0.40   0.40    0     0     0
9       ASIAN    6.70   6.70   6.70    0     0     0
43        DCC    1.52   1.64   1.43    0     0     0
47     EGATIF    5.75   5.75   5.75    0     0     0
53        GGC    4.20   4.20   4.20    0     0     0
57     GVREIT    6.80   6.80   6.80    0     0     0
68      JMART   10.90  10.90  10.90    0     0     0
77          M   16.73  18.50  15.70    0     0     0
82        MST    6.50   6.50   6.50    0     0     0
99        RBF    4.15   4.80   3.80    0     0     0
100       RCL   26.30  28.20  24.40    0     0     0
101       RJH   14.70  15.00  14.40    0     0     0
112       SIS   23.00  23.00  23.00    0     0     0
121  SUPEREIF    5.35   5.35   5.35    0     0     0
129       THG    6.75   7.70   5.80    0     0     0
132       TMT    3.50   3.50   3.50    0     0     0
135     TPIPP    2.50   2.50   2.50    0     0     0
149      WORK    4.80   4.80   4.80    0     0     0

### End of Process

In [24]:
const.close()
conlite.close()
conpg.close()
conmy.close()

In [25]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-17 19:57:30