### portmy database: stocks table
### stock database: buy, price tables

In [2]:
import pandas as pd
import numpy as np
import os
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)

today = date.today()
print(today)

2025-09-14

In [3]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2025-09-14
yesterday: 2025-09-12 00:00:00

In [4]:
yesterday = yesterday.date()
week_ago = yesterday -timedelta(days = 4)
print(f'a week ago: {week_ago}')
print(f'yesterday: {yesterday}')

a week ago: 2025-09-08
yesterday: 2025-09-12

### Restart & Run All Cells

In [6]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [7]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Weekly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

### This process affects only already in port stocks. To highlight price changes in percent.

In [9]:
cols = 'name price_w price_d percent perform mrkt '.split()

format_dict = {
    'qty':'{:,}',    
    'price':'{:.2f}','price_d':'{:.2f}','price_w':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'maxp':'{:.2f}','minp':'{:.2f}','opnp':'{:.2f}',    
    'pct':'{:,.2f}%','percent':'{:,.2f}%',
    
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',
    'daily_volume':'{:,.2f}','beta':'{:,.2f}', 
    'dly_vol':'{:,.2f}', 
}

In [10]:
sql = '''
SELECT name
FROM buy 
WHERE active = 1
ORDER BY name'''
df_buy = pd.read_sql(sql, const)

names = df_buy.name.tolist()
portfolio = ", ".join(map(lambda name: "'%s'" % name, names))

sql = """
    SELECT name, price AS price_d 
    FROM price 
    WHERE date = '{}' AND name IN ({})
    ORDER BY name, date
""".format(yesterday, portfolio)

df_today = pd.read_sql(sql, const)
df_today.shape[0]

29

In [11]:
sql = """
    SELECT name, price AS price_w
    FROM price 
    WHERE date = '{}' AND name IN ({}) 
    ORDER BY name
""".format(week_ago, portfolio)

df_wkago = pd.read_sql(sql, const)
df_wkago.shape[0]

29

In [12]:
trend = pd.merge(df_today, df_wkago, on='name',how='inner')
trend.tail()

     name  price_d  price_w
24  TFFIF     6.10     5.95
25    TOA    14.80    15.50
26    TVO    25.25    25.25
27  WHAIR     5.65     5.50
28  WHART     9.55     9.15

In [13]:
def performance(vals):
    price_d, price_w = vals
    if (price_d > price_w):
        return 'Better'
    elif (price_d < price_w):
        return 'Worse'
    else:
        return 'No Change'

In [14]:
trend['percent'] = (trend.price_d-trend.price_w)/trend.price_w * 100

In [15]:
trend.tail()

     name  price_d  price_w  percent
24  TFFIF     6.10     5.95     2.52
25    TOA    14.80    15.50    -4.52
26    TVO    25.25    25.25     0.00
27  WHAIR     5.65     5.50     2.73
28  WHART     9.55     9.15     4.37

In [16]:
trend["perform"] = trend[["price_d","price_w"]].apply(performance, axis=1)

In [17]:
trend.sort_values(by=['percent'],ascending=[True]).style.format(format_dict)

In [18]:
file_name = 'trend.csv'
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [19]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\trend.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\trend.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\trend.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\trend.csv

In [20]:
trend.sort_values(['percent'],ascending=[True]).to_csv(output_file, index=False)
trend.sort_values(['percent'],ascending=[True]).to_csv(god_file, index=False)
trend.sort_values(['percent'],ascending=[True]).to_csv(icd_file, index=False)
trend.sort_values(['percent'],ascending=[True]).to_csv(osd_file, index=False)

### Filter only performance = "Worse"

In [22]:
mask = trend.perform == 'Worse'
trend[mask].tail()

   name  price_d  price_w  percent perform
13  NER     4.48     4.54    -1.32   Worse
14  ORI     2.72     2.74    -0.73   Worse
15  PTG     8.40     8.50    -1.18   Worse
22  STA    13.20    13.70    -3.65   Worse
25  TOA    14.80    15.50    -4.52   Worse

In [23]:
trend.perform.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [24]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape

(246, 8)

In [25]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))]
values = ['SET50','SET100','mai']
my_stocks["mrkt"] = np.select(filters, values, default='SET999')

In [26]:
trend2 = pd.merge(trend, my_stocks, on='name', how='inner')
trend2.sort_values(['percent'],ascending=[True]).tail()

,name,price_d,price_w,percent,perform,max,min,pe,pbv,volume,beta,market,mrkt
7,DIF,9.05,8.60,5.23,Better,14.50,13.00,999.99,0.82,99.06,0.29,SET,SET999
16,PTT,33.50,31.75,5.51,Better,41.25,30.75,9.42,0.88,"1,410.13",0.89,SET50 / SETCLMV / SETHD / SETTHSI,SET50
6,CPNREIT,11.80,11.10,6.31,Better,21.30,17.90,999.99,999.99,32.82,0.32,SET,SET999
18,RCL,29.00,26.75,8.41,Better,52.25,26.25,0.89,0.54,92.51,1.78,SET100 / SETCLMV / SETWB,SET100
21,SINGER,7.50,6.50,15.38,Better,59.25,26.25,23.53,1.49,159.28,2.26,SET100 / SETWB,SET100

In [27]:
set50 = trend2.mrkt.str.contains('SET50') 
flt_set50 = trend2[set50]
flt_set50[cols].sort_values(by=['percent','name'],ascending=[True,True]).style.format(format_dict)

In [28]:
flt_set50.perform.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [29]:
set100 = trend2.mrkt.str.contains('SET100')
flt_set100 = trend2[set100]
flt_set100[cols].sort_values(by=['percent','name'],ascending=[True,True]).style.format(format_dict)

In [30]:
flt_set100[cols].perform.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [31]:
set999 = trend2.mrkt.str.contains('SET999')
flt_set999 = trend2[set999]
flt_set999[cols].sort_values(by=['percent','name'],ascending=[True,True]).style.format(format_dict)

In [32]:
flt_set999[cols].perform.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [33]:
setmai = trend2.mrkt.str.contains('mai')
flt_setmai = trend2[setmai]
flt_setmai[cols].sort_values(by=['percent','name'],ascending=[True,True]).style.format(format_dict)

In [34]:
flt_setmai[cols].perform.value_counts(normalize=True).to_frame().style.format('{:.2%}')

In [35]:
const.close()
conmy.close()

In [36]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-09-14 21:28:29