### portpg: stocks
### stock:  price

### Restart & Run All Cells

In [3]:
import pandas as pd
import os 
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine1 = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine1.connect()

engine2 = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine2.connect()

pd.set_option('display.float_format','{:,.2f}'.format)

today = date.today()
week_str = today.strftime('%Y-%U')
print(today, week_str)

2025-02-16 2025-07

In [4]:
sql = '''
SELECT name, market
FROM stocks
'''
stocks_lite = pd.read_sql(sql, conlite)
stocks_lite.shape

(31, 2)

In [5]:
sql = '''
SELECT name, market, id
FROM stocks
'''
stocks_pg = pd.read_sql(sql, conpg)
stocks_pg.shape

(226, 3)

In [6]:
df_merge = pd.merge(stocks_lite, stocks_pg, on='name', how='inner')
df_merge.shape

(31, 4)

In [7]:
set50 = df_merge.market_y.str.contains('SET50')
filter_50 = df_merge[set50].copy()
filter_50['market_x'] = 'SET50'
filter_50.sort_values(by=['name'],ascending=[True])

     name market_x                               market_y   id
4     AWC    SET50                    SET50 / SETTHSI      735
9     IVL    SET50                    SET50 / SETTHSI      813
11  JMART    SET50                              SET50      815
12    JMT    SET50                              SET50      816
18  PTTGC    SET50          SET50 / SETCLMV / SETTHSI      866
20    SCC    SET50  SET50 / SETCLMV / SETHD / SETTHSI      879

In [8]:
set100 = df_merge.market_y.str.contains('SET100')
filter_100 = df_merge[set100].copy()
filter_100['market_x'] = 'SET100'
filter_100.sort_values(by=['name'],ascending=[True])

      name market_x                              market_y   id
5      BCH   SET100  SET100 / SETCLMV / SETHD / SETWB      741
13     KCE   SET100                            SET100      819
16     ORI   SET100          SET100 / SETHD / SETTHSI      851
17     PTG   SET100                  SET100 / SETTHSI      862
19     RCL   SET100          SET100 / SETCLMV / SETWB      870
22  SINGER   SET100                    SET100 / SETWB      885
23     STA   SET100          SET100 / SETTHSI / SETWB      898

In [9]:
setmai = df_merge.market_y.str.contains('mai')
filter_mai = df_merge[setmai].copy()
filter_mai['market_x'] = 'mai'
filter_mai.sort_values(by=['name'],ascending=[True])

Empty DataFrame
Columns: [name, market_x, market_y, id]
Index: []

In [10]:
filter_set = df_merge[~(set100 | set50 | setmai)].copy()
filter_set['market_x'] = 'SET'
filter_set.sort_values(by=['name'],ascending=[True])

       name market_x             market_y   id
10    3BBIF      SET              SET      814
0        AH      SET   sSET / SETTHSI      721
1    AIMIRT      SET              SET      723
2       ASK      SET              SET      732
3       ASP      SET             sSET      733
6   CPNREIT      SET              SET      771
7       DIF      SET              SET      777
8    GVREIT      SET              SET      798
14      MCS      SET             sSET      842
15      NER      SET   sSET / SETTHSI      847
21     SENA      SET             sSET      882
24    SYNEX      SET   sSET / SETTHSI      906
25    TFFIF      SET              SET      909
26      TMT      SET   sSET / SETTHSI      921
28      TOA      SET          SETTHSI      923
30      TVO      SET  SETTHSI / SETWB      938
27    WHAIR      SET              SET      802
29    WHART      SET              SET      945

In [11]:
filter_all = pd.concat([filter_50, filter_100, filter_mai, filter_set], axis=0)
type(filter_all)

pandas.core.frame.DataFrame

In [12]:
filter_all.to_sql('filter_all', engine1, if_exists='replace')

31

In [13]:
sql = text('''
UPDATE stocks
  SET
    market = (SELECT filter_all.market_x FROM filter_all WHERE filter_all.name = stocks.name)
''')
rp = conlite.execute(sql)

In [14]:
rp.rowcount

31

In [15]:
conlite.commit()
conlite.close()

In [16]:
conpg.commit()
conpg.close()

In [17]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-16 20:29:06