In [1]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

format_dict = {
    'qty':'{:,}','available_qty':'{:,}','volbuy':'{:,}',
    'price':'{:.2f}','buy_price':'{:.2f}','sell_price':'{:.2f}','diff':'{:.2f}','cost':'{:.2f}',
    'buy_target':'{:.2f}','sell_target':'{:.2f}',
    'amount':'{:,.2f}','gross':'{:,.2f}','profit':'{:,.2f}',
    'buy_amt':'{:,.2f}','sell_amt':'{:,.2f}','pct':'{:,.2f}%'
}
cols = 'trade name qty price reason market active'.split()

today = date.today()
print(today)

2025-08-31

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
#yesterday = yesterday.strftime("%Y-%m-%d")
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2025-08-31
yesterday: 2025-08-29 00:00:00

In [3]:
# find the beginning of the week for the given yesterday
week_start = yesterday.to_period('W').start_time
week_end = yesterday.to_period('W').end_time
week_start = week_start.date()
week_end = week_end.date()
print(f'week start: {week_start}')
print(f'week end: {week_end}')

week start: 2025-08-25
week end: 2025-08-31

### Restart and Run All Cells

In [5]:
sql = '''
    SELECT name, buys.date AS buy_date, sells.date AS sell_date,
    sells.price AS sell_price, buys.price AS buy_price, 
    (sells.price - buys.price) AS diff, qty, 
    (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
    (sells.price - buys.price) * qty AS gross, 
    ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit
    FROM sells JOIN buys ON sells.buy_id = buys.id
    JOIN stocks ON buys.stock_id = stocks.id
    WHERE sells.date BETWEEN '{}' AND '{}'
    ORDER BY name, sells.date
'''.format(week_start, week_end)
print(sql)

    SELECT name, buys.date AS buy_date, sells.date AS sell_date,
    sells.price AS sell_price, buys.price AS buy_price,
    (sells.price - buys.price) AS diff, qty,
    (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
    (sells.price - buys.price) * qty AS gross,
    ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit
    FROM sells JOIN buys ON sells.buy_id = buys.id
    JOIN stocks ON buys.stock_id = stocks.id
    WHERE sells.date BETWEEN '2025-08-25' AND '2025-08-31'
    ORDER BY name, sells.date

In [6]:
pf_sells = pd.read_sql(sql, conpf)
pf_sells.style.format(format_dict)

In [7]:
sells_grp = pf_sells.groupby(['name'])[['qty','sell_amt','buy_amt','gross','profit']].sum()
#sells_grp.style.format(format_dict)
sells_grp

       qty  sell_amt  buy_amt   gross   profit
name
MCS   6000   50400.0  43800.0  6600.0  6391.35
ORI   5000   11500.0  11000.0   500.0   450.16

In [8]:
pf_sells[['sell_amt','buy_amt','gross','profit']].sum()

sell_amt    61900.00
buy_amt     54800.00
gross        7100.00
profit       6841.51
dtype: float64

In [9]:
sql = '''
    SELECT name, buys.date AS buy_date, buys.price AS buy_price, 
    qty, (buys.price * qty) AS buy_amt 
    FROM buys
    JOIN stocks ON buys.stock_id = stocks.id
    WHERE buys.date BETWEEN '{}' AND '{}'
    ORDER BY name, buys.date
'''.format(week_start, week_end)
print(sql)

    SELECT name, buys.date AS buy_date, buys.price AS buy_price,
    qty, (buys.price * qty) AS buy_amt
    FROM buys
    JOIN stocks ON buys.stock_id = stocks.id
    WHERE buys.date BETWEEN '2025-08-25' AND '2025-08-31'
    ORDER BY name, buys.date

In [10]:
pf_buys = pd.read_sql(sql, conpf)
pf_buys.style.format(format_dict)

In [11]:
pf_buys[['buy_amt']].sum()

buy_amt    120500.0
dtype: float64

In [12]:
pf_sells[['buy_amt']].sum()

buy_amt    54800.0
dtype: float64

In [13]:
diff_amt = pf_buys[['buy_amt']].sum() - pf_sells[['buy_amt']].sum()
diff_amt

buy_amt    65700.0
dtype: float64

In [14]:
sql = '''
SELECT name, available_qty, cost, status
FROM stocks
'''
lite_stocks = pd.read_sql(sql, conlite)
lite_stocks.set_index('name', inplace=True)
lite_stocks.style.format(format_dict)

In [15]:
df_merge = pd.merge(sells_grp,lite_stocks,on='name',how='inner')
df_merge.style.format(format_dict)

In [16]:
sql = '''
SELECT name, SUM(volbuy) AS volbuy, price
FROM buy
WHERE active = 1
GROUP BY name
ORDER BY name'''
df_buy = pd.read_sql(sql, const)
df_buy.volbuy = df_buy.volbuy.astype(int)
df_buy.style.format(format_dict)

In [17]:
df_merge2 = pd.merge(df_buy,lite_stocks,on='name',how='inner')
df_merge2.style.format(format_dict)

In [18]:
mask1 = df_merge2.volbuy != df_merge2.available_qty
mask2 = df_merge2.price != df_merge2.cost
df_merge2[mask1 | mask2].style.format(format_dict)

### New process

In [20]:
sql = '''
SELECT trade, O.name, O.qty, price, S.qty, buy_target
FROM orders O
JOIN stocks S
ON O.name = S.name
WHERE trade = "B" AND price <> buy_target
ORDER BY trade, O.name
'''
lite_orders = pd.read_sql(sql, conlite)
lite_orders.style.format(format_dict)

In [21]:
sql = '''
SELECT trade, O.name, O.qty, price, S.qty, sell_target
FROM orders O
JOIN stocks S
ON O.name = S.name
WHERE trade = "S" AND price <> sell_target
'''
lite_orders = pd.read_sql(sql, conlite)
lite_orders.style.format(format_dict)

In [22]:
const.close()
conmy.close()
conlite.close()
conpf.close()

In [23]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-31 22:30:19