In [1]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

format_dict = {
    'qty':'{:,}','available_qty':'{:,}','volbuy':'{:,}',
    'price':'{:.2f}','buy_price':'{:.2f}','sell_price':'{:.2f}','diff':'{:.2f}','cost':'{:.2f}',
    'buy_target':'{:.2f}','sell_target':'{:.2f}',
    'amount':'{:,.2f}','gross':'{:,.2f}','profit':'{:,.2f}',
    'buy_amt':'{:,.2f}','sell_amt':'{:,.2f}','pct':'{:,.2f}%'
}
cols = 'trade name qty price reason market active'.split()

today = date.today()
print(today)

2025-07-28

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
#yesterday = yesterday.date()
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2025-07-28
yesterday: 2025-07-25 00:00:00

In [3]:
# find the beginning of the week for the given yesterday
week_start = yesterday.to_period('W').start_time
week_end = yesterday.to_period('W').end_time
week_start = week_start.date()
week_end = week_end.date()
print(f'week start: {week_start}')
print(f'week end: {week_end}')

week start: 2025-07-21
week end: 2025-07-27

### Restart and Run All Cells

In [5]:
sql = '''
SELECT name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price, 
(sells.price - buys.price) AS diff, qty, 
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross, 
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE sells.date BETWEEN '%s' AND '%s'
ORDER BY name, sells.date'''
sql = sql % (week_start, week_end)
print(sql)

SELECT name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price,
(sells.price - buys.price) AS diff, qty,
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE sells.date BETWEEN '2025-07-21' AND '2025-07-27'
ORDER BY name, sells.date

In [6]:
sells_df = pd.read_sql(sql, conpf)
sells_df.style.format(format_dict)

In [7]:
sells_grp = sells_df.groupby(['name'])[['qty','sell_amt','buy_amt','gross','profit']].sum()
#sells_grp.style.format(format_dict)
sells_grp

       qty  sell_amt  buy_amt    gross    profit
name
KCE   1000   22400.0  87000.0 -64600.0 -64842.32

In [8]:
sells_df[['sell_amt','buy_amt','gross','profit']].sum()

sell_amt    22400.00
buy_amt     87000.00
gross      -64600.00
profit     -64842.32
dtype: float64

In [9]:
sql = '''
SELECT name, buys.date AS buy_date, buys.price AS buy_price, 
qty, (buys.price * qty) AS buy_amt 
FROM buys
JOIN stocks ON buys.stock_id = stocks.id
WHERE buys.date BETWEEN '%s' AND '%s'
ORDER BY name, buys.date'''
sql = sql % (week_start, week_end)
print(sql)

SELECT name, buys.date AS buy_date, buys.price AS buy_price,
qty, (buys.price * qty) AS buy_amt
FROM buys
JOIN stocks ON buys.stock_id = stocks.id
WHERE buys.date BETWEEN '2025-07-21' AND '2025-07-27'
ORDER BY name, buys.date

In [10]:
buys_df = pd.read_sql(sql, conpf)
buys_df.style.format(format_dict)

In [11]:
buys_df[['buy_amt']].sum()

buy_amt    0
dtype: object

In [12]:
sells_df[['buy_amt']].sum()

buy_amt    87000.0
dtype: float64

In [13]:
diff_amt = buys_df[['buy_amt']].sum() - sells_df[['buy_amt']].sum()
diff_amt

buy_amt   -87000.0
dtype: object

In [14]:
sql = '''
SELECT name, available_qty, cost, status
FROM stocks
'''
stocks_df = pd.read_sql(sql, conlite)
stocks_df.set_index('name', inplace=True)
stocks_df.style.format(format_dict)

In [15]:
df_merge = pd.merge(sells_grp,stocks_df,on='name',how='inner')
df_merge.style.format(format_dict)

In [16]:
sql = '''
SELECT name, SUM(volbuy) AS volbuy, price
FROM buy
WHERE active = 1
GROUP BY name
ORDER BY name'''
buy_df = pd.read_sql(sql, const)
buy_df.volbuy = buy_df.volbuy.astype(int)
buy_df.style.format(format_dict)

In [17]:
df_merge2 = pd.merge(buy_df,stocks_df,on='name',how='inner')
df_merge2.style.format(format_dict)

In [18]:
mask1 = df_merge2.volbuy != df_merge2.available_qty
mask2 = df_merge2.price != df_merge2.cost
df_merge2[mask1 | mask2].style.format(format_dict)

### New process

In [20]:
sql = '''
SELECT trade, O.name, O.qty, price, S.qty, buy_target
FROM orders O
JOIN stocks S
ON O.name = S.name
WHERE trade = "B" AND price <> buy_target
ORDER BY trade, O.name
'''
orders_df = pd.read_sql(sql, conlite)
orders_df.style.format(format_dict)

In [21]:
sql = '''
SELECT trade, O.name, O.qty, price, S.qty, sell_target
FROM orders O
JOIN stocks S
ON O.name = S.name
WHERE trade = "S" AND price <> sell_target
'''
orders_df = pd.read_sql(sql, conlite)
orders_df.style.format(format_dict)

In [22]:
const.close()
conmy.close()
conlite.close()
conpf.close()

In [23]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-07-28 20:19:09