In [1]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine, text
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.set_option('display.max_row',None)

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2025, 2, 2), datetime.date(2025, 2, 1))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
#yesterday = yesterday.date()
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2025-02-02
yesterday: 2025-01-31 00:00:00

In [3]:
yesterday = yesterday.date()
a_year_ago = yesterday - timedelta(days=365)
yesterday, a_year_ago

(datetime.date(2025, 1, 31), datetime.date(2024, 2, 1))

### Restart and Run All Cells

In [5]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [6]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Weekly
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

### Weekly process or when stataus changes.

In [8]:
pd.read_sql_query('SELECT COUNT(*) AS records FROM sales', conlite)

   records
0     1960

In [9]:
sqlDel = text("""DELETE FROM sales""")
rp = conlite.execute(sqlDel)
conlite.commit()
rp.rowcount

1960

In [10]:
sql = """
SELECT name
FROM orders 
ORDER BY name
"""
df = pd.read_sql(sql, conlite)

names = df['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'3BBIF', 'AIMIRT', 'AWC', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'PTG', 'RCL', 'SENA', 'SYNEX', 'TFFIF', 'TVO', 'WHAIR', 'WHART'"

In [11]:
len(in_p.split(','))

20

### Get past one year data

In [13]:
sql = """
SELECT name, date, price, qty, maxp, minp 
FROM price 
WHERE date >= '%s' AND name IN (%s) 
ORDER BY name, date"""
sql = sql % (a_year_ago, in_p)
print(sql)

SELECT name, date, price, qty, maxp, minp
FROM price
WHERE date >= '2024-02-01' AND name IN ('3BBIF', 'AIMIRT', 'AWC', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'PTG', 'RCL', 'SENA', 'SYNEX', 'TFFIF', 'TVO', 'WHAIR', 'WHART')
ORDER BY name, date

In [14]:
df = pd.read_sql(sql, const)
df.tail()

       name        date  price      qty  maxp  minp
4830  WHART  2025-01-28   10.2  1235198  10.2  10.0
4831  WHART  2025-01-28   10.2  1235198  10.2  10.0
4832  WHART  2025-01-29   10.2   818032  10.2  10.1
4833  WHART  2025-01-30   10.0  3405055  10.2  10.0
4834  WHART  2025-01-31   10.0  2037500  10.2  10.0

In [15]:
file_name = "Yearly-Price-by-Name.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\Yearly-Price-by-Name.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Yearly-Price-by-Name.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Yearly-Price-by-Name.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Yearly-Price-by-Name.csv

In [16]:
df.set_index("name", inplace=True)
df.to_csv(output_file, header=None)
df.to_csv(god_file, header=None)
df.to_csv(icd_file, header=None)
df.to_csv(osd_file, header=None)

### Create monitors from orders

In [18]:
sql = """
SELECT name,trade 
FROM orders 
WHERE name IN (%s)
ORDER BY name
"""
sql = sql % in_p
orders = pd.read_sql(sql, conlite)
orders.set_index(['name'],inplace=True)
orders

        trade
name
3BBIF       B
AIMIRT      B
AWC         S
BCH         S
CPNREIT     B
DIF         B
GVREIT      B
JMART       B
JMT         S
KCE         B
MCS         B
NER         B
PTG         S
RCL         S
SENA        B
SYNEX       S
TFFIF       B
TVO         S
WHAIR       B
WHART       S

In [19]:
file_name = "monitors.csv"
data_file = data_path + file_name
output_file = csv_path + file_name

orders.to_csv(data_file, header=None)
orders.to_csv(output_file)

NameError: name 'data_path' is not defined

In [ ]:
sql = """
SELECT trade, COUNT(*) AS items 
FROM orders
GROUP BY trade
ORDER BY trade
"""
grp = pd.read_sql(sql, conlite)
grp

### For new orders that never have XXX.html & XXX.CSV

In [ ]:
file_name = 'price-uploads.csv'
url = data_path + '\\' + file_name
url

In [ ]:
uploads = pd.read_csv(url)
uploads.sort_values(['name'],ascending=[True]).shape

In [ ]:
df_merge = pd.merge(orders, uploads, on='name', how='outer', indicator=True)
df_merge.sort_values(['name'],ascending=[True]).shape

In [ ]:
new_prices = df_merge['_merge'] == 'left_only'
df_merge[new_prices]

In [ ]:
new_prices = df_merge['_merge'] == 'right_only'
df_merge[new_prices].shape

In [ ]:
sql = """
SELECT name, status, market
FROM stocks 
ORDER BY status, name
"""
stocks = pd.read_sql(sql, conlite)
stocks.set_index(["name"], inplace=True)
stocks.shape

In [ ]:
file_name = "stocks-all.csv"
data_file = data_path + '\\' + file_name
output_file = csv_path + '\\' + file_name
one_file = one_path + '\\' + file_name
data_file

In [ ]:
stocks.to_csv(data_file, header=None)
stocks.to_csv(output_file)
stocks.to_csv(one_file)

In [ ]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("B","O")
ORDER BY name
"""
buy_candidates = pd.read_sql(sql, conlite)
buy_candidates.set_index(["name"], inplace=True)
buy_candidates

In [ ]:
buy_candidates.shape[0]

In [ ]:
sql = """
SELECT name, status 
FROM stocks 
WHERE status IN ("I","S")
ORDER BY name
"""

sell_candidates = pd.read_sql(sql, conlite)
sell_candidates.set_index(["name"], inplace=True)
sell_candidates

In [ ]:
sell_candidates.shape[0]

In [ ]:
conlite.close()
const.close()