In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
con = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/portfolio_development")
conpf = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

In [2]:
name = "COTTO"

### MySQL Stock Database

In [3]:
sql = '''
DELETE FROM price
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM price
WHERE name = "COTTO"

In [4]:
rp = con.execute(sql)
rp.rowcount

C:\Users\User\AppData\Local\Temp\ipykernel_25816\853974799.py:1: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  rp = con.execute(sql)

558

In [5]:
sql = '''
DELETE FROM nameall
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM nameall
WHERE name = "COTTO"

In [6]:
rp = con.execute(sql)
rp.rowcount

1

In [7]:
sql = '''
DELETE FROM stockname
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM stockname
WHERE name = "COTTO"

In [8]:
rp = con.execute(sql)
rp.rowcount

1

### PostgreSQL PortPg Database

In [9]:
sql = """
SELECT * FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

SELECT * FROM yr_profits
WHERE name = 'COTTO'

In [10]:
df = pd.read_sql(sql, conpg)
df

,id,name,year,quarter,latest_amt,previous_amt,inc_amt,inc_pct,ticker_id
0,2764619,COTTO,2021,4,583604,420190,163414,38.89,681
1,2764618,COTTO,2022,1,608126,482435,125691,26.05,681
2,2764617,COTTO,2022,2,597648,618161,-20513,-3.32,681
3,2764616,COTTO,2022,3,570805,609378,-38573,-6.33,681
4,2764615,COTTO,2022,4,-227793,583604,-811397,-139.03,681
5,2764614,COTTO,2023,1,-179087,608126,-787213,-129.45,681
6,2764613,COTTO,2023,2,-172429,597648,-770077,-128.85,681
7,2764612,COTTO,2023,3,-97551,570805,-668356,-117.09,681

In [11]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'COTTO'

In [12]:
rp = conpg.execute(sql)
rp.rowcount

8

In [13]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'COTTO'

In [14]:
rp = conpg.execute(sql)
rp.rowcount

15

In [15]:
sql = """
DELETE FROM consensus
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM consensus
WHERE name = 'COTTO'

In [16]:
rp = conpg.execute(sql)
rp.rowcount

1

In [17]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'COTTO'

In [18]:
rp = conpg.execute(sql)
rp.rowcount

1

In [21]:
sql = """
DELETE FROM charts
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM charts
WHERE name = 'COTTO'

In [19]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'COTTO'

In [20]:
rp = conpg.execute(sql)
rp.rowcount

IntegrityError: (psycopg2.errors.ForeignKeyViolation) update or delete on table "tickers" violates foreign key constraint "fk_rails_042e392a9b" on table "charts"
DETAIL:  Key (id)=(681) is still referenced from table "charts".

[SQL:
DELETE FROM tickers
WHERE name = 'COTTO'
]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

### SQLite PortMy Database

In [21]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'BFIT'

In [22]:
rp = conmy.execute(sql)
rp.rowcount

1

In [23]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'BFIT'

In [24]:
rp = conmy.execute(sql)
rp.rowcount

1

### SQLite PortLt Database

In [25]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'BFIT'

In [26]:
rp = conlt.execute(sql)
rp.rowcount

21

In [27]:
sql = """
DELETE FROM qt_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM qt_profits
WHERE name = 'BFIT'

In [28]:
rp = conlt.execute(sql)
rp.rowcount

24

In [29]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'BFIT'

In [30]:
rp = conlt.execute(sql)
rp.rowcount

28

In [31]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'BFIT'

In [32]:
rp = conlt.execute(sql)
rp.rowcount

1

In [33]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'BFIT'

In [34]:
rp = conlt.execute(sql)
rp.rowcount

1

### MySQL Portfolio Database

In [35]:
sql = """
SELECT * FROM stocks
WHERE name = '%s'
"""
sql = sql % name
df = pd.read_sql(sql, conpf)
df

    id  name  category_id website
0  148  BFIT            3

### Delete from name-ttl.csv manually