In [1]:
import pandas as pd
from sqlalchemy import create_engine
    
engine = create_engine('mysql+pymysql://root@localhost:3306/music_development')
conmy = engine.connect()
    
data_path = '../data/'

In [2]:
sql = '''
SELECT * FROM songs
WHERE id = 350
ORDER BY rank 
'''
songs = pd.read_sql(sql, conmy)
songs

,id,rank,name,artist_id,length,location,genre_id,youtube_code,released_date,rating,website
0,350,249,The Night They Drove Old Dixie Down,45,210,The_Night_They_Drove_Old_Dixie_Down.mp3,26,v3JaosE-gZE,1969-09-06,1,0

In [ ]:
sql = 'SELECT * FROM lyrics ORDER BY created_at DESC LIMIT 1 '
lyrics = pd.read_sql(sql, conmy)
lyrics

In [ ]:
sql = 'SELECT * FROM artists LIMIT 1'
artists = pd.read_sql(sql, conmy)
artists.dtypes

In [ ]:
sql = '''
SELECT rank, name, artist_id, released_date FROM songs
'''
songs = pd.read_sql(sql, conmy)
songs.shape

In [ ]:
sql = '''
SELECT id, first_name, last_name
FROM artists
ORDER BY first_name
'''
artists = pd.read_sql(sql, conmy)
artists.shape

In [ ]:
dfm = pd.merge(songs, artists, how='inner', left_on='artist_id',right_on='id')
dfm.dtypes

In [ ]:
dfm["full_name"] = dfm["first_name"] + ' ' + dfm["last_name"]

In [ ]:
columns = ['id','artist_id','first_name','last_name']
dfm = dfm.drop(columns, axis=1)
dfm

In [ ]:
file_name   = 'songs.csv'
output_file = data_path + file_name
dfm = dfm.set_index(['rank'])
dfm.to_csv(output_file)

In [ ]:
columns = ['id','artist_id','first_name','last_name']
dfm.drop(columns,axis=1,inplace=True)
dfm

In [ ]:
grouped = dfm.groupby(['full_name'])
grouped

In [ ]:
functions = ['count']
result = grouped['full_name'].agg(functions)
result.sort_values(by=['count'],ascending=False)

In [ ]:
result

In [ ]:
dfm[dfm['full_name'] == 'Queen'].sort_values(by=['rank'])

In [ ]:
dfm.full_name

In [ ]:
sql = '''
SELECT rank, name, artist_id FROM songs 
JOIN lyrics ON lyrics.song_id = songs.id
WHERE website = true AND location IS NOT NULL
'''
songs = pd.read_sql(sql, conmy)
songs.shape

In [ ]:
sql = '''
SELECT id, first_name, last_name, band 
FROM artists
ORDER BY first_name
'''
artists = pd.read_sql(sql, conmy)
artists.shape

In [ ]:
dfm = pd.merge(songs, artists, how='inner', left_on='artist_id',right_on='id')
dfm

In [ ]:
file_name    = 'music.csv'
output_file = data_path + file_name
df_out = dfm.set_index(['rank'])
df_out.to_csv(output_file, header = None)

In [ ]:
sql = '''
SELECT * 
FROM lyrics
WHERE song_id NOT IN
(SELECT id FROM songs)
'''
lyric = pd.read_sql(sql, conmy)
lyric

In [ ]:
sql = '''
SELECT * 
FROM songs
WHERE rank = 434
'''
song = pd.read_sql(sql, conmy)
song

In [ ]:
sql = '''
SELECT * 
FROM artists
WHERE first_name = 'Deep Purple'
'''
artist = pd.read_sql(sql, conmy)
artist

In [ ]:
sql = '''
UPDATE songs
SET artist_id = 123
WHERE rank = 434
'''
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
sql = '''
UPDATE lyrics
SET song_id = 413
WHERE id  = 216
'''
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
sql = '''
DELETE FROM songs WHERE rank = 501
'''
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
sql = '''
UPDATE songs
SET website = false
WHERE website = true
'''
rp = conmy.execute(sql)
rp.rowcount

### New music database Melody

In [4]:
col_names   = ['year','rank','title','artist_name']
songs = pd.read_csv('c:\\aab\\data\\Billboard.csv', sep=';', header=None, index_col=None, names=col_names)
songs.shape

(5800, 4)

In [5]:
songs.head()

   year  rank                      title          artist_name
0  1960     1  Theme from A Summer Place          Percy Faith
1  1960     2           He'll Have to Go           Jim Reeves
2  1960     3              Cathy's Clown  The Everly Brothers
3  1960     4               Running Bear       Johnny Preston
4  1960     5                 Teen Angel         Mark Dinning

In [6]:
grouped = songs.groupby(['artist_name'])
grouped

In [7]:
functions = ['count']
result = grouped['artist_name'].agg(functions)

In [8]:
sorted = result.sort_values(by=['count'],ascending=[False])
sorted

                                                    count
artist_name
Madonna                                                35
Elton John                                             26
The Beatles                                            26
Janet Jackson                                          24
Mariah Carey                                           24
Michael Jackson                                        22
Stevie Wonder                                          22
Taylor Swift                                           21
Rihanna                                                21
Pink                                                   19
Whitney Houston                                        19
Kelly Clarkson                                         17
Hall & Oates                                           17
The Black Eyed Peas                                    16
Britney Spears                                         16
Elvis Presley                                          15
Chicago                                                15
Rod Stewart                                            14
Aretha Franklin                                        14
Usher                                                  14
Katy Perry                                             14
The Rolling Stones                                     13
Beyoncé                                                13
Boyz II Men                                            13
The Temptations                                        13
Maroon 5                                               13
Phil Collins                                           13
R. Kelly                                               13
Billy Joel                                             12
Olivia Newton-John                                     12
...                                                   ...
Los Indios Tabajaras                                    1
Luscious Jackson                                        1
Ludacris featuring Mystikal and I-20                    1
Lupe Fiasco featuring Matthew Santos                    1
Lupe Fiasco                                             1
Luniz                                                   1
Lumidee                                                 1
Lulu                                                    1
Luke featuring No Good But So Good                      1
Luke Combs                                              1
Lukas Graham                                            1
Luis Fonsi and Daddy Yankee featuring Justin Bi...      1
D12                                                     1
D4L                                                     1
Ludacris featuring Nicki Minaj                          1
Ludacris featuring Mary J. Blige                        1
Los Lobos                                               1
Ludacris featuring Bobby Valentino                      1
DHT featuring Edmee                                     1
Love and Rockets                                        1
Love Unlimited Orchestra                                1
Love Unlimited                                          1
Louis Armstrong                                         1
DJ Khaled featuring Drake                               1
DJ Khaled featuring Drake, Rick Ross and Lil Wayne      1
DJ Khaled featuring Justin Bieber, Quavo, Chanc...      1
Lou Bega                                                1
DJ Khaled featuring Rihanna and Bryson Tiller           1
Los Lonely Boys                                         1
will.i.am featuring Justin Bieber                       1

[2836 rows x 1 columns]

In [9]:
sorted.to_csv('c:\\aab\\data\\artists.csv', header=None, sep=';')