In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()


data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2025, 5, 27), datetime.date(2025, 5, 26))

In [2]:
sql = """
SELECT *
FROM price
LIMIT 1
"""
prices = pd.read_sql(sql, const)
prices.dtypes

name      object
date      object
price    float64
maxp     float64
minp     float64
qty        int64
opnp     float64
dtype: object

In [3]:
sql = """
SELECT COUNT(*)
FROM price
"""
pd.read_sql(sql, const)

   COUNT(*)
0    358679

In [4]:
sql = """
SELECT *
FROM price
WHERE date = '%s'"""
sql = sql % yesterday
df_0526 = pd.read_sql(sql, const)
df_0526.shape

(348, 7)