In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
con = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/portfolio_development")
conpf = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

In [40]:
name = "MACO"

### MySQL Stock Database

In [41]:
sql = '''
DELETE FROM price
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM price
WHERE name = "MACO"

In [42]:
rp = con.execute(sql)
rp.rowcount

1856

In [43]:
sql = '''
DELETE FROM nameall
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM nameall
WHERE name = "MACO"

In [44]:
rp = con.execute(sql)
rp.rowcount

1

In [45]:
sql = '''
DELETE FROM stockname
WHERE name = "%s"'''
sql = sql % name
print(sql)

DELETE FROM stockname
WHERE name = "MACO"

In [46]:
rp = con.execute(sql)
rp.rowcount

1

### PostgreSQL PortPg Database

In [47]:
sql = """
SELECT * FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

SELECT * FROM yr_profits
WHERE name = 'MACO'

In [48]:
df = pd.read_sql(sql, conpg)
df

,id,name,year,quarter,latest_amt,previous_amt,inc_amt,inc_pct,ticker_id
0,2764954,MACO,2017,1,95764,172212,-76448,-44.391796,289
1,2764953,MACO,2017,2,106237,169113,-62876,-37.179874,289
2,2764952,MACO,2017,3,145057,146185,-1128,-0.771625,289
3,2764951,MACO,2017,4,220861,101999,118862,116.532515,289
4,2764950,MACO,2018,1,236559,95764,140795,147.022890,289
5,2764949,MACO,2018,2,248143,106237,141906,133.574932,289
6,2764948,MACO,2018,3,256278,145057,111221,76.673997,289
7,2764947,MACO,2018,4,272619,220861,51758,23.434649,289
8,2764946,MACO,2019,1,256671,236559,20112,8.500000,289
9,2764945,MACO,2019,2,233670,248143,-14473,-5.832524,289
10,2764944,MACO,2019,3,207443,256278,-48835,-19.055479,289
11,2764943,MACO,2019,4,156960,272619,-115659,-42.425143,289
12,2764942,MACO,2020,1,-8500,256671,-265171,-103.310000,289
13,2764941,MACO,2020,3,-346050,207443,-553493,-266.816909,289
14,2764940,MACO,2020,4,-941520,156960,-1098480,-699.847095,289
15,2764939,MACO,2021,1,-719185,-8500,-710685,-8361.000000,289
16,2764938,MACO,2021,3,-429716,-346050,-83666,-24.180000,289
17,2764937,MACO,2021,4,33588,-941520,975108,103.570000,289
18,2764936,MACO,2022,2,-41144,-507862,466718,91.900000,289
19,2764935,MACO,2022,3,17643,-429716,447359,104.110000,289

In [49]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'MACO'

In [50]:
rp = conpg.execute(sql)
rp.rowcount

20

In [51]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'MACO'

In [52]:
rp = conpg.execute(sql)
rp.rowcount

33

In [53]:
sql = """
DELETE FROM consensus
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM consensus
WHERE name = 'MACO'

In [54]:
rp = conpg.execute(sql)
rp.rowcount

0

In [55]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'MACO'

In [56]:
rp = conpg.execute(sql)
rp.rowcount

1

In [57]:
sql = """
DELETE FROM charts
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM charts
WHERE name = 'MACO'

In [58]:
rp = conpg.execute(sql)
rp.rowcount

0

In [59]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'MACO'

In [60]:
rp = conpg.execute(sql)
rp.rowcount

1

### SQLite PortMy Database

In [61]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'MACO'

In [62]:
rp = conmy.execute(sql)
rp.rowcount

1

In [63]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'MACO'

In [64]:
rp = conmy.execute(sql)
rp.rowcount

1

### SQLite PortLt Database

In [65]:
sql = """
DELETE FROM yr_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM yr_profits
WHERE name = 'MACO'

In [66]:
rp = conlt.execute(sql)
rp.rowcount

20

In [67]:
sql = """
DELETE FROM qt_profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM qt_profits
WHERE name = 'MACO'

In [68]:
rp = conlt.execute(sql)
rp.rowcount

22

In [69]:
sql = """
DELETE FROM epss
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM epss
WHERE name = 'MACO'

In [70]:
rp = conlt.execute(sql)
rp.rowcount

33

In [71]:
sql = """
DELETE FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM stocks
WHERE name = 'MACO'

In [72]:
rp = conlt.execute(sql)
rp.rowcount

1

In [73]:
sql = """
DELETE FROM tickers
WHERE name = '%s'
"""
sql = sql % name
print(sql)

DELETE FROM tickers
WHERE name = 'MACO'

In [74]:
rp = conlt.execute(sql)
rp.rowcount

1

### MySQL Portfolio Database

In [75]:
sql = """
SELECT * FROM stocks
WHERE name = '%s'
"""
sql = sql % name
df = pd.read_sql(sql, conpf)
df

Empty DataFrame
Columns: [id, name, category_id, website]
Index: []

### Delete from name-ttl.csv manually