### Restart and Run All Cells

In [2]:
import pandas as pd
import numpy as np
import sidetable
from datetime import date, datetime, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

format_dict = {'qty':'{:,}','volbuy':'{:,}',
               'dividend':'฿{:.2f}','price':'฿{:.2f}','target':'฿{:.2f}','unit_cost':'฿{:.2f}',
               'grs_profit':'฿{:,.2f}','net_profit':'฿{:,.2f}','sell_price':'฿{:.2f}',
               'buy_price':'฿{:.2f}','max':'฿{:.2f}','min':'฿{:.2f}',
               'pct':'{:.2f}%','percent':'{:.2f}%','cumulative_percent':'{:.2f}%', 
               'pe':'{:.2f}','pbv':'{:.2f}','volume':'{:,.2f}','beta':'{:.2f}','diff':'฿{:.2f}',             
               'sell_amt':'฿{:,.2f}','buy_amt':'฿{:,.2f}',
               'cost_amt':'฿{:,.2f}','cumulative_cost_amt':'฿{:,.2f}'}
               
float_formatter = "฿{:,.2f}"

year = 2025
year

2025

### Record selection for sold stocks in year 2025

In [4]:
sql = """
SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price, 
(sells.price - buys.price) AS diff, qty, 
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross, 
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = %s
ORDER BY sells.date DESC, stocks.name"""
sql = sql % year
print(sql)
sells_df = pd.read_sql(sql, conpf)
sells_df.head(5).style.format(format_dict)

SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price,
(sells.price - buys.price) AS diff, qty,
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross,
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE YEAR(sells.date) = 2025
ORDER BY sells.date DESC, stocks.name

In [5]:
sells_df['buy_date'] = pd.to_datetime(sells_df['buy_date'])
sells_df['sell_date'] = pd.to_datetime(sells_df['sell_date'])
sells_df.rename(columns={'gross':'grs_profit','profit':'net_profit'},inplace=True)

In [6]:
sells_df.groupby(['market'])[['grs_profit','net_profit']].sum().style.format(format_dict)

### Total profit amount

In [8]:
ttl_prf = sells_df.grs_profit.sum()
net_prf = sells_df.net_profit.sum()
ttl_prf,round(net_prf,2)

(-941530.0, -950784.31)

In [9]:
array = pd.Series([ttl_prf,net_prf])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿-941,530.00
The value is: ฿-950,784.31

### Input the above figures to Excel

In [11]:
sold_grp = sells_df.groupby(['name','market'])
sold_stocks = sold_grp[['sell_amt','buy_amt','qty','grs_profit','net_profit']].sum()
sold_stocks.head(5).sort_values(['name'],ascending=[True]).style.format(format_dict)

In [12]:
sold_stocks['sell_price'] = sold_stocks['sell_amt'] / sold_stocks['qty']
sold_stocks['buy_price'] = sold_stocks['buy_amt'] / sold_stocks['qty']
sold_stocks['diff'] = sold_stocks['sell_price'] - sold_stocks['buy_price']
cols = 'sell_amt buy_amt grs_profit net_profit qty sell_price buy_price diff'.split()
sold_stocks[cols].head(5).sort_values(['name'],ascending=[True]).style.format(format_dict)

In [13]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
stocks = pd.read_sql(sql, conmy)
stocks.shape[0]

246

In [14]:
filters = [
   (stocks.market.str.contains('SET50')),
   (stocks.market.str.contains('SET100'))]
values = ['SET50','SET100']
stocks["mrkt"] = np.select(filters, values, default='SET')

stocks["mrkt"].value_counts()

mrkt
SET       152
SET50      49
SET100     45
Name: count, dtype: int64

In [15]:
stocks.stb.freq(["mrkt"]).style.format(format_dict)

In [16]:
df_merge = pd.merge(sold_stocks, stocks, on='name', how='inner')
df_merge.set_index('name', inplace=True)
df_merge.head(5).style.format(format_dict)

In [17]:
df_merge.groupby(['mrkt'])[['grs_profit','net_profit']].sum().style.format(format_dict)

In [18]:
set50 = df_merge.market.str.contains('SET50') 
flt_set50 = df_merge[set50]
flt_set50.head(5).sort_values(['name'],ascending=[True]).style.format(format_dict)

In [19]:
prf_set50 = flt_set50.grs_profit.sum()
net_set50 = flt_set50.net_profit.sum()
prf_set50,net_set50

(11880.0, 8897.650000000001)

In [20]:
array = pd.Series([prf_set50,net_set50])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿11,880.00
The value is: ฿8,897.65

In [21]:
set100 = df_merge.market.str.contains('SET100') 
flt_set100 = df_merge[set100]
flt_set100.head(5).sort_values(['name'],ascending=[True]).style.format(format_dict)

In [22]:
prf_set100 = flt_set100.grs_profit.sum()
net_set100 = flt_set100.net_profit.sum()
prf_set100,net_set100

(-564150.0, -567033.72)

In [23]:
array = pd.Series([prf_set100,net_set100])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿-564,150.00
The value is: ฿-567,033.72

In [24]:
flt_set = df_merge[~(set100 | set50)]
flt_set.head(5).sort_values(['name'],ascending=[True]).style.format(format_dict)

In [25]:
prf_set = flt_set.grs_profit.sum()
net_set = flt_set.net_profit.sum()
prf_set,net_set

(-389260.0, -392648.24)

In [26]:
array = pd.Series([prf_set,net_set])
array = array.map('฿{:,.2f}'.format)
for value in array:
    print(f"The value is: {value}")

The value is: ฿-389,260.00
The value is: ฿-392,648.24

### Input to Excel

In [28]:
pct_set50 = 0
pct_set100 = 0
pct_set = 0

if ttl_prf != 0:
    pct_set50 = round(prf_set50 / ttl_prf * 100,2)
    pct_set100 = round(prf_set100 / ttl_prf * 100,2)
    pct_set  = round(prf_set  / ttl_prf * 100,2)
    
pct_set50, pct_set100, pct_set

(-1.26, 59.92, 41.34)

### Start of Balance process

In [30]:
sql = '''
SELECT name, volbuy, price, volbuy * price AS cost_amt
FROM buy
WHERE active = 1 
ORDER BY name
'''
#AND period IN ("3","4")
total_buy = pd.read_sql(sql, const)
total_buy['volbuy'] = total_buy['volbuy'].astype(int)
total_buy.head(5).style.format(format_dict)

In [31]:
total_stocks = pd.merge(total_buy, stocks, on='name', how='inner')
total_stocks.head(5).style.format(format_dict)

In [32]:
total_stocks.stb.freq(['mrkt'], value='cost_amt').style.format(format_dict)

### Total balance amount

In [34]:
ttl_stk_amt = total_stocks.cost_amt.sum()
float_formatter.format(ttl_stk_amt)

'฿10,740,580.00'

In [35]:
total_stocks['volbuy'] = total_stocks['volbuy'].astype(int)
set50 = total_stocks.market.str.contains('SET50') 
port_set50 = total_stocks[set50]
port_set50.head(5).style.format(format_dict)

In [36]:
amt_set50 = port_set50.cost_amt.sum()
float_formatter.format(amt_set50)

'฿1,895,640.00'

In [37]:
set100 = total_stocks.market.str.contains('SET100') 
port_set100 = total_stocks[set100]
port_set100.head(5).sort_values(['name'],ascending=[True]).style.format(format_dict)

In [38]:
amt_set100 = port_set100.cost_amt.sum()
float_formatter.format(amt_set100)

'฿2,074,240.00'

In [39]:
port_set = total_stocks[~(set100 | set50)]
port_set.head(5).style.format(format_dict)

In [40]:
amt_set = port_set.cost_amt.sum()
float_formatter.format(amt_set)

'฿6,770,700.00'

In [41]:
pct_set50 = round(amt_set50 / ttl_stk_amt * 100,2)
pct_set100 = round(amt_set100 / ttl_stk_amt * 100,2)
pct_set  = round(amt_set  / ttl_stk_amt * 100,2)
pct_set50, pct_set100, pct_set

(17.65, 19.31, 63.04)

In [42]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:09:28 23:07:31