In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
from datetime import date, timedelta
from pandas.tseries.offsets import BDay
import calendar

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

data_path = "../excel/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

year = 2024
quarter = 2
today = date.today()
today

datetime.date(2024, 9, 17)

In [2]:
num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()
today, yesterday

(datetime.date(2024, 9, 17), datetime.date(2024, 9, 16))

In [3]:
format_dict = {    
    'shares':'{:,}',    
    'q4':'{:.4f}','q3':'{:.4f}','q2':'{:.4f}','q1':'{:.4f}','dividend':'{:.4f}','qtrly':'{:.4f}',
    'price':'{:.2f}',    
    'amount':'{:,.2f}','net':'{:,.2f}','cost_amt':'{:,.2f}',
    'yield':'{:,.2f}%','pct':'{:,.2f}%',
    'xdate':'{:%Y-%m-%d}','paiddate':'{:%Y-%m-%d}',
              }

### New dividend stock

In [7]:
name = 'ICHI'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [8]:
sqlIns = """
INSERT INTO dividend
VALUES('ICHI',.60,0,0,0,.60,0,0,00,'2023-05-09','2023-05-24','',2)
"""
rp = const.execute(sqlIns)
rp.rowcount

1

In [9]:
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

### Start of Update dividend

In [4]:
def update_dividend1(q2,XDATE,PAIDDATE,actual,name):
    sql = "UPDATE dividend SET q2 = %s, dividend = q1+q2+q3+q4, XDATE = '%s', PAIDDATE = '%s', actual = %s WHERE name = '%s'"
    sql = sql % (q2,XDATE, PAIDDATE, actual,name)
    rp = const.execute(sql)
    return "Records updated = " + str(rp.rowcount)

In [ ]:
def update_dividend1(q2, XDATE, PAIDDATE, actual, name):
    # Use parameterized query to avoid SQL injection
    sql = text("""
        UPDATE dividend 
        SET q2 = :q2, 
            dividend = q1 + q2 + q3 + q4, 
            XDATE = :XDATE, 
            PAIDDATE = :PAIDDATE, 
            actual = :actual 
        WHERE name = :name
    """)
    
    # Execute the query with parameters
    rp = const.execute(sql, {
        'q2': q2,
        'XDATE': XDATE,
        'PAIDDATE': PAIDDATE,
        'actual': actual,
        'name': name
    })
    
    return f"Records updated = {rp.rowcount}"

In [5]:
name = 'JMART'
sql = """
SELECT * FROM DIVIDEND WHERE name = '%s'"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [6]:
q2 = 0.24
XDATE = '2024-09-30'
PAIDDATE = '2024-10-11'
actual = 1

update_dividend1(q2,XDATE,PAIDDATE,actual,name)

'Records updated = 1'

In [7]:
sql = """
SELECT * FROM DIVIDEND WHERE name = '%s'"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [29]:
sql = """
SELECT * FROM price WHERE name = '%s'
ORDER BY date DESC"""
sql = sql % name
price= pd.read_sql(sql, const)
price

     name        date  price   maxp   minp       qty   opnp
0     RCL  2024-08-09  22.80  23.80  22.70  10938786  23.60
1     RCL  2024-08-08  23.40  23.60  22.60   5763256  22.60
2     RCL  2024-08-07  22.70  22.80  22.00   7031034  22.20
3     RCL  2024-08-06  21.90  22.60  21.50   9344114  22.20
4     RCL  2024-08-05  21.40  23.30  21.40  13701876  22.80
...   ...         ...    ...    ...    ...       ...    ...
1303  RCL  2019-03-12   4.66   4.72   4.64     99200   4.68
1304  RCL  2019-03-11   4.68   4.72   4.66    111200   4.72
1305  RCL  2019-03-08   4.72   4.74   4.66    285900   4.70
1306  RCL  2019-03-07   4.70   4.70   4.62    159700   4.62
1307  RCL  2019-03-06   4.66   4.70   4.64    186601   4.70

[1308 rows x 7 columns]

In [ ]:
def update_dividend2(shares, q2, actual, name):
    # Use parameterized query to avoid SQL injection
    sql = text("""
        UPDATE dividend 
        SET q2 = :q2, 
            dividend = q1 + q2 + q3 + q4, 
            shares = :shares, 
            actual = :actual 
        WHERE name = :name
    """)
    
    # Execute the query with parameters
    rp = const.execute(sql, {
        'q2': q2,
        'shares': shares,
        'actual': actual,
        'name': name
    })
    
    return f"Records updated = {rp.rowcount}"

In [16]:
name = 'AH'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [17]:
shares = 1200
q2 = 0.70
actual = 1

In [18]:
update_dividend2(shares,q2,actual,name)

'Records updated = 1'

In [19]:
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [7]:
def update_dividend3(actual,name):
    sql = "UPDATE dividend SET xdate = DATE_ADD(xdate, INTERVAL 3 MONTH), \
    paiddate = DATE_ADD(paiddate, INTERVAL 3 MONTH),dividend=q1+q2+q3+q4, actual = %s \
    WHERE name = '%s'"
    sql = sql % (2, name)
    rp = const.execute(sql)
    return "Records updated = " + str(rp.rowcount)

In [28]:
actual = 2
name = 'RCL'
update_dividend3(actual,name)

'Records updated = 1'

### Toggle actual status

In [4]:
name = 'PTT'
actual = 0
sqlUpd = "UPDATE dividend SET actual = %s WHERE name = '%s'"
sqlUpd = sqlUpd % (actual, name)
rp = const.execute(sqlUpd)
rp.rowcount

1

### Delete dividend record

In [10]:
sqlDel = '''
DELETE FROM dividend
WHERE name IN ("MC")
'''
rp = const.execute(sqlDel)
rp.rowcount

1

### Start of output to cloud

In [5]:
sql = """
SELECT Y.NAME AS name,  Q2 AS qtrly, SHARES, XDATE, PAIDDATE, 
P.price AS price, Y.DIVIDEND, ACTUAL, B.price * B.volbuy AS cost_amt
FROM dividend AS Y, price AS P, buy AS B
WHERE Y.name = P.name 
AND Y.name = B.name 
AND Q2 > 0 
AND P.date = '%s'
ORDER BY XDATE
"""
sql = sql % today 
print(sql)

SELECT Y.NAME AS name,  Q2 AS qtrly, SHARES, XDATE, PAIDDATE,
P.price AS price, Y.DIVIDEND, ACTUAL, B.price * B.volbuy AS cost_amt
FROM dividend AS Y, price AS P, buy AS B
WHERE Y.name = P.name
AND Y.name = B.name
AND Q2 > 0
AND P.date = '2024-08-23'
ORDER BY XDATE

In [6]:
cols = 'name qtrly shares amount net xdate paiddate cost_amt pct actual'.split()

In [7]:
dividend = pd.read_sql(sql, const)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend['amount'] = round(dividend['shares'] * dividend['qtrly'], 2)
dividend['net'] = round(dividend['amount'] * 0.9, 2)
dividend['pct'] = round(dividend['net'] / dividend['cost_amt'] * 100, 2)
dividend[cols].sort_values('xdate',ascending=True).style.format(format_dict)

In [8]:
dividend.net.sum()

82063.84000000001

In [9]:
file_name = '17-div-24q2.xlsx'
data_file = data_path + file_name
output_file = csv_path + file_name
osd_file = osd_path + file_name
one_file = one_path + file_name

dividend[cols].sort_values(['name'],ascending=[True]).to_excel(output_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_excel(data_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_excel(osd_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_excel(one_file, index=False)

In [10]:
sql = 'SELECT name, q_eps, aq_eps, publish_date FROM epss WHERE year = %s-1 AND quarter = %s ORDER BY name'
sql = sql % (year, quarter)
print(sql)
eps = pd.read_sql(sql, conlt)
eps.dtypes

SELECT name, q_eps, aq_eps, publish_date FROM epss WHERE year = 2024-1 AND quarter = 2 ORDER BY name

name             object
q_eps           float64
aq_eps          float64
publish_date     object
dtype: object

In [11]:
df_merge = pd.merge(dividend, eps, on='name', how='inner')
df_merge.sort_values('name',ascending=True)

,name,qtrly,shares,xdate,paiddate,price,dividend,actual,cost_amt,amount,net,pct,q_eps,aq_eps,publish_date
15,AH,0.3000,1200,2024-08-27,2024-09-11,19.80,1.2500,1,44400.0,360.00,324.00,0.73,1.1600,2.7400,2023-08-11
10,AIMIRT,0.1433,12500,2024-08-26,2024-09-12,10.60,0.8680,1,136250.0,1791.25,1612.12,1.18,0.0000,0.0000,2023-08-13
13,ASP,0.0700,30000,2024-08-27,2024-09-12,2.48,0.1700,1,114000.0,2100.00,1890.00,1.66,0.0500,0.1100,2023-08-15
19,BCH,0.1200,4000,2024-08-29,2024-09-12,16.10,0.3700,1,86800.0,480.00,432.00,0.50,0.1100,0.2200,2023-08-15
2,DIF,0.2222,30000,2024-08-13,2024-09-05,7.85,0.8972,1,441000.0,6666.00,5999.40,1.36,0.0000,0.0000,2023-08-11
18,GVREIT,0.1963,66000,2024-08-28,2024-09-12,5.50,0.7833,1,511500.0,12955.80,11660.22,2.28,0.0000,0.0000,2023-05-15
12,IVL,0.1750,8000,2024-08-27,2024-09-12,18.80,0.7750,1,304000.0,1400.00,1260.00,0.41,0.0400,0.1900,2023-08-11
5,JMT,0.3800,6000,2024-08-22,2024-09-05,15.50,0.8700,1,256500.0,2280.00,2052.00,0.80,0.3800,0.6900,2023-08-10
11,KCE,0.6000,10000,2024-08-26,2024-09-11,38.50,1.3000,1,772500.0,6000.00,5400.00,0.70,0.3200,0.6100,2023-08-08
8,MCS,0.2000,78000,2024-08-23,2024-09-10,7.30,0.5200,1,1177800.0,15600.00,14040.00,1.19,0.0200,-0.0100,2023-08-15
9,NER,0.0500,27000,2024-08-23,2024-09-06,4.76,0.3400,1,201150.0,1350.00,1215.00,0.60,0.2470,0.4180,2023-08-11
0,ORI,0.1600,48000,2024-05-08,2024-05-23,4.50,0.4600,0,508800.0,7680.00,6912.00,1.36,0.3558,0.6809,2023-08-15
4,RCL,0.5000,27000,2024-08-22,2024-09-06,21.90,1.0000,1,1046250.0,13500.00,12150.00,1.16,0.6950,1.7960,2023-08-11
1,SCC,2.5000,600,2024-08-07,2024-08-23,211.00,6.0000,1,243000.0,1500.00,1350.00,0.56,6.7400,20.5100,2023-07-26
14,SYNEX,0.1000,15000,2024-08-27,2024-09-10,14.50,0.3600,1,430500.0,1500.00,1350.00,0.31,0.1000,0.2600,2023-08-11
17,TFFIF,0.1102,20000,2024-08-28,2024-09-13,6.40,0.4297,1,150000.0,2204.00,1983.60,1.32,0.0000,0.0000,2023-05-11
6,TMT,0.0500,36000,2024-08-22,2024-09-06,4.44,0.2000,1,367200.0,1800.00,1620.00,0.44,0.0400,0.2800,2023-08-11
16,TOA,0.3300,1000,2024-08-28,2024-09-13,18.70,0.6800,1,26000.0,330.00,297.00,1.14,0.3700,0.6800,2023-08-16
7,WHAIR,0.1372,50000,2024-08-23,2024-09-24,6.15,0.5482,1,435000.0,6860.00,6174.00,1.42,0.0000,0.0000,2023-08-08
3,WHART,0.1930,25000,2024-08-20,2024-09-06,10.00,0.7735,1,290000.0,4825.00,4342.50,1.50,0.0000,0.0000,2023-08-09

In [12]:
colt = 'name qtrly shares amount net publish_date xdate paiddate q_eps aq_eps'.split()

In [13]:
df_merge[colt].sort_values('publish_date',ascending=True)

,name,qtrly,shares,amount,net,publish_date,xdate,paiddate,q_eps,aq_eps
17,TFFIF,0.1102,20000,2204.00,1983.60,2023-05-11,2024-08-28,2024-09-13,0.0000,0.0000
18,GVREIT,0.1963,66000,12955.80,11660.22,2023-05-15,2024-08-28,2024-09-12,0.0000,0.0000
1,SCC,2.5000,600,1500.00,1350.00,2023-07-26,2024-08-07,2024-08-23,6.7400,20.5100
7,WHAIR,0.1372,50000,6860.00,6174.00,2023-08-08,2024-08-23,2024-09-24,0.0000,0.0000
11,KCE,0.6000,10000,6000.00,5400.00,2023-08-08,2024-08-26,2024-09-11,0.3200,0.6100
3,WHART,0.1930,25000,4825.00,4342.50,2023-08-09,2024-08-20,2024-09-06,0.0000,0.0000
5,JMT,0.3800,6000,2280.00,2052.00,2023-08-10,2024-08-22,2024-09-05,0.3800,0.6900
9,NER,0.0500,27000,1350.00,1215.00,2023-08-11,2024-08-23,2024-09-06,0.2470,0.4180
2,DIF,0.2222,30000,6666.00,5999.40,2023-08-11,2024-08-13,2024-09-05,0.0000,0.0000
4,RCL,0.5000,27000,13500.00,12150.00,2023-08-11,2024-08-22,2024-09-06,0.6950,1.7960
6,TMT,0.0500,36000,1800.00,1620.00,2023-08-11,2024-08-22,2024-09-06,0.0400,0.2800
12,IVL,0.1750,8000,1400.00,1260.00,2023-08-11,2024-08-27,2024-09-12,0.0400,0.1900
15,AH,0.3000,1200,360.00,324.00,2023-08-11,2024-08-27,2024-09-11,1.1600,2.7400
14,SYNEX,0.1000,15000,1500.00,1350.00,2023-08-11,2024-08-27,2024-09-10,0.1000,0.2600
10,AIMIRT,0.1433,12500,1791.25,1612.12,2023-08-13,2024-08-26,2024-09-12,0.0000,0.0000
0,ORI,0.1600,48000,7680.00,6912.00,2023-08-15,2024-05-08,2024-05-23,0.3558,0.6809
8,MCS,0.2000,78000,15600.00,14040.00,2023-08-15,2024-08-23,2024-09-10,0.0200,-0.0100
13,ASP,0.0700,30000,2100.00,1890.00,2023-08-15,2024-08-27,2024-09-12,0.0500,0.1100
19,BCH,0.1200,4000,480.00,432.00,2023-08-15,2024-08-29,2024-09-12,0.1100,0.2200
16,TOA,0.3300,1000,330.00,297.00,2023-08-16,2024-08-28,2024-09-13,0.3700,0.6800

In [14]:
file_name = '17-div-24q2.xlsx'
data_file = data_path + file_name
output_file = csv_path + file_name
osd_file = osd_path + file_name
one_file = one_path + file_name

df_merge[colt].sort_values(['name'],ascending=[True]).to_excel(output_file, index=False)
df_merge[colt].sort_values(['name'],ascending=[True]).to_excel(data_file, index=False)
df_merge[colt].sort_values(['name'],ascending=[True]).to_excel(one_file, index=False)

### End of output to cloud

In [ ]:
const.commit()
const.close()