In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
from datetime import date, timedelta
from pandas.tseries.offsets import BDay
import calendar

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

data_path = "../excel/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

year = 2025
quarter = 2
today = date.today()
today

datetime.date(2025, 8, 2)

In [3]:
num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()
today, yesterday

(datetime.date(2025, 8, 2), datetime.date(2025, 8, 1))

In [5]:
format_dict = {    
    'shares':'{:,}',    
    'q4':'{:.4f}','q3':'{:.4f}','q2':'{:.4f}','q1':'{:.4f}','dividend':'{:.4f}','qtrly':'{:.4f}',
    'price':'{:.2f}',    
    'amount':'{:,.2f}','net':'{:,.2f}','cost_amt':'{:,.2f}',
    'yield':'{:,.2f}%','pct':'{:,.2f}%',
    'xdate':'{:%Y-%m-%d}','paiddate':'{:%Y-%m-%d}',
              }

In [7]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")
#C:\Users\PC1\OneDrive\A5\Excel
xsl_path = os.path.join(base_path, "Excel")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Excel path (xsl_path): {xsl_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Ad hoc
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Excel path (xsl_path): C:\Users\PC1\OneDrive\A5\Excel
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

### New dividend stock

In [9]:
name = 'PTT'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [13]:
sqlIns = """
INSERT INTO dividend
VALUES('PTT',1.30,0,0.80,0,2.10,0,0,00,'2025-03-06','2025-04-29','',0)
"""
rp = const.execute(text(sqlIns))
print(rp.rowcount)

1

In [15]:
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

### Start of Update dividend

In [11]:
def update_dividend1(q2,XDATE,PAIDDATE,actual,name):
    sql = "UPDATE dividend SET q2 = %s, dividend = q1+q2+q3+q4, XDATE = '%s', PAIDDATE = '%s', actual = %s WHERE name = '%s'"
    sql = sql % (q2,XDATE, PAIDDATE, actual,name)
    rp = const.execute(sql)
    return "Records updated = " + str(rp.rowcount)

In [13]:
def update_dividend1(q2, XDATE, PAIDDATE, actual, name):
    # Use parameterized query to avoid SQL injection
    sql = text("""
        UPDATE dividend 
        SET q2 = :q2, 
            dividend = q1 + q2 + q3 + q4, 
            XDATE = :XDATE, 
            PAIDDATE = :PAIDDATE, 
            actual = :actual 
        WHERE name = :name
    """)
    
    # Execute the query with parameters
    rp = const.execute(sql, {
        'q2': q2,
        'XDATE': XDATE,
        'PAIDDATE': PAIDDATE,
        'actual': actual,
        'name': name
    })
    
    return f"Records updated = {rp.rowcount}"

In [15]:
name = 'SCC'
sql = """
SELECT * FROM DIVIDEND WHERE name = '%s'"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [17]:
q2 = 2.50
XDATE = '2025-08-13'
PAIDDATE = '2025-08-28'
actual = 1

update_dividend1(q2,XDATE,PAIDDATE,actual,name)

'Records updated = 1'

In [19]:
sql = """
SELECT * FROM DIVIDEND WHERE name = '%s'"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [29]:
sql = """
SELECT * FROM price WHERE name = '%s'
ORDER BY date DESC"""
sql = sql % name
price= pd.read_sql(sql, const)
price

     name        date  price   maxp   minp       qty   opnp
0     RCL  2024-08-09  22.80  23.80  22.70  10938786  23.60
1     RCL  2024-08-08  23.40  23.60  22.60   5763256  22.60
2     RCL  2024-08-07  22.70  22.80  22.00   7031034  22.20
3     RCL  2024-08-06  21.90  22.60  21.50   9344114  22.20
4     RCL  2024-08-05  21.40  23.30  21.40  13701876  22.80
...   ...         ...    ...    ...    ...       ...    ...
1303  RCL  2019-03-12   4.66   4.72   4.64     99200   4.68
1304  RCL  2019-03-11   4.68   4.72   4.66    111200   4.72
1305  RCL  2019-03-08   4.72   4.74   4.66    285900   4.70
1306  RCL  2019-03-07   4.70   4.70   4.62    159700   4.62
1307  RCL  2019-03-06   4.66   4.70   4.64    186601   4.70

[1308 rows x 7 columns]

In [ ]:
def update_dividend2(shares, q2, actual, name):
    # Use parameterized query to avoid SQL injection
    sql = text("""
        UPDATE dividend 
        SET q2 = :q2, 
            dividend = q1 + q2 + q3 + q4, 
            shares = :shares, 
            actual = :actual 
        WHERE name = :name
    """)
    
    # Execute the query with parameters
    rp = const.execute(sql, {
        'q2': q2,
        'shares': shares,
        'actual': actual,
        'name': name
    })
    
    return f"Records updated = {rp.rowcount}"

In [16]:
name = 'AH'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [17]:
shares = 1200
q2 = 0.70
actual = 1

In [18]:
update_dividend2(shares,q2,actual,name)

'Records updated = 1'

In [19]:
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [7]:
def update_dividend3(actual,name):
    sql = "UPDATE dividend SET xdate = DATE_ADD(xdate, INTERVAL 3 MONTH), \
    paiddate = DATE_ADD(paiddate, INTERVAL 3 MONTH),dividend=q1+q2+q3+q4, actual = %s \
    WHERE name = '%s'"
    sql = sql % (2, name)
    rp = const.execute(sql)
    return "Records updated = " + str(rp.rowcount)

In [28]:
actual = 2
name = 'RCL'
update_dividend3(actual,name)

'Records updated = 1'

### Toggle actual status

In [4]:
name = 'PTT'
actual = 0
sqlUpd = "UPDATE dividend SET actual = %s WHERE name = '%s'"
sqlUpd = sqlUpd % (actual, name)
rp = const.execute(sqlUpd)
rp.rowcount

1

### Delete dividend record

In [10]:
sqlDel = '''
DELETE FROM dividend
WHERE name IN ("MC")
'''
rp = const.execute(sqlDel)
rp.rowcount

1

### Start of output to cloud

In [31]:
cols = 'name qtrly shares amount net xdate paiddate cost_amt pct actual'.split()

In [49]:
sql = """
SELECT Y.NAME AS name,  Q2 AS qtrly, SHARES, XDATE, PAIDDATE, 
P.price AS price, Y.DIVIDEND, ACTUAL, B.price * B.volbuy AS cost_amt
FROM dividend AS Y, price AS P, buy AS B
WHERE Y.name = P.name 
AND Y.name = B.name 
AND Q2 > 0 
AND P.date = '%s'
ORDER BY name
"""
sql = sql % yesterday 
print(sql)

SELECT Y.NAME AS name,  Q2 AS qtrly, SHARES, XDATE, PAIDDATE,
P.price AS price, Y.DIVIDEND, ACTUAL, B.price * B.volbuy AS cost_amt
FROM dividend AS Y, price AS P, buy AS B
WHERE Y.name = P.name
AND Y.name = B.name
AND Q2 > 0
AND P.date = '2025-06-20'
ORDER BY name

In [51]:
dividend = pd.read_sql(sql, const)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend['amount'] = round(dividend['shares'] * dividend['qtrly'], 2)
dividend['net'] = round(dividend['amount'] * 0.9, 2)
dividend['pct'] = round(dividend['net'] / dividend['cost_amt'] * 100, 2)
dividend[cols].sort_values('xdate',ascending=True).style.format(format_dict)

In [65]:
formatted_amt = '{:,.2f}'.format(dividend.net.sum())
print(formatted_amt)

83,061.22

In [67]:
file_name = 'dividend-q2.csv'
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [69]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\dividend-q2.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\dividend-q2.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\dividend-q2.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\dividend-q2.csv

In [71]:
dividend[cols].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_csv(god_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_csv(osd_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_csv(icd_file, index=False)

### End of output to cloud

In [74]:
sql = 'SELECT name, q_eps, aq_eps, publish_date FROM epss WHERE year = %s-1 AND quarter = %s ORDER BY name'
sql = sql % (year, quarter)
print(sql)
eps = pd.read_sql(sql, conlt)
eps.dtypes

SELECT name, q_eps, aq_eps, publish_date FROM epss WHERE year = 2025-1 AND quarter = 2 ORDER BY name

name             object
q_eps           float64
aq_eps          float64
publish_date     object
dtype: object

In [76]:
df_merge = pd.merge(dividend, eps, on='name', how='inner')
df_merge.sort_values('name',ascending=True)

,name,qtrly,shares,xdate,paiddate,price,dividend,actual,cost_amt,amount,net,pct,q_eps,aq_eps,publish_date
0,AH,0.3000,1200,2025-03-13,2025-05-23,13.20,0.7800,0,44400.0,360.00,324.00,0.73,0.2900,1.1900,2024-08-13
1,AIMIRT,0.1433,12500,2025-05-19,2025-06-06,9.45,0.7883,0,136250.0,1791.25,1612.12,1.18,0.0000,0.0000,2024-08-14
2,BCH,0.1200,4000,2025-05-02,2025-05-23,12.80,0.4000,0,86800.0,480.00,432.00,0.50,0.1100,0.2400,2024-08-15
3,DIF,0.2222,40000,2025-05-14,2025-06-09,7.95,0.8888,0,524000.0,8888.00,7999.20,1.53,0.0000,0.0000,2024-08-13
4,GVREIT,0.1984,75000,2025-05-28,2025-06-12,6.65,0.7989,0,573000.0,14880.00,13392.00,2.34,0.0000,0.0000,2024-05-15
5,IVL,0.1750,9000,2025-05-27,2025-06-12,19.40,0.7000,0,324000.0,1575.00,1417.50,0.44,-4.1300,-3.9600,2024-08-09
6,JMART,0.2400,6800,2025-05-09,2025-05-29,5.50,0.4700,0,224400.0,1632.00,1468.80,0.65,0.2340,0.3970,2024-08-09
7,JMT,0.3800,9500,2025-02-25,2025-04-30,7.75,0.6600,0,285000.0,3610.00,3249.00,1.14,0.2500,0.5400,2024-08-09
8,KCE,0.6000,6000,2025-03-24,2025-05-09,16.10,1.2000,0,510000.0,3600.00,3240.00,0.64,0.5400,0.9700,2024-08-13
9,MCS,0.2000,81000,2025-04-18,2025-05-07,7.60,0.7000,0,1198800.0,16200.00,14580.00,1.22,0.2400,0.3900,2024-08-09
10,NER,0.0500,32000,2025-04-24,2025-05-09,3.98,0.3600,0,220649.6,1600.00,1440.00,0.65,0.2591,0.5046,2024-08-09
11,RCL,0.5000,27000,2025-03-12,2025-05-16,26.00,2.5000,0,1046250.0,13500.00,12150.00,1.16,1.3900,2.1300,2024-08-09
12,SCC,2.5000,600,2025-04-02,2025-04-22,156.00,5.0000,0,243000.0,1500.00,1350.00,0.56,3.0900,5.1100,2024-07-24
13,SYNEX,0.1000,15000,2025-04-30,2025-05-14,10.80,0.4400,0,430500.0,1500.00,1350.00,0.31,0.1900,0.3700,2024-08-14
14,TFFIF,0.1176,20000,2025-05-28,2025-06-16,5.65,0.4596,0,150000.0,2352.00,2116.80,1.41,0.0000,NaN,2024-05-13
15,TOA,0.3300,1000,2025-05-09,2025-05-23,9.55,0.6000,0,26000.0,330.00,297.00,1.14,0.2400,0.6400,2024-08-14
16,TVO,0.8000,8000,2025-03-14,2025-05-16,20.50,1.7300,0,192000.0,6400.00,5760.00,3.00,0.6200,0.9700,2024-08-09
17,WHAIR,0.1372,60000,2025-05-26,2025-06-25,4.94,0.5508,0,483000.0,8232.00,7408.80,1.53,0.0000,0.0000,2024-08-13
18,WHART,0.1930,20000,2025-05-19,2025-06-06,9.00,0.7133,0,246000.0,3860.00,3474.00,1.41,0.0000,0.0000,2024-08-08

In [78]:
colt = 'name qtrly shares amount net publish_date xdate paiddate q_eps aq_eps'.split()

In [80]:
df_merge[colt].sort_values('publish_date',ascending=True)

,name,qtrly,shares,amount,net,publish_date,xdate,paiddate,q_eps,aq_eps
14,TFFIF,0.1176,20000,2352.00,2116.80,2024-05-13,2025-05-28,2025-06-16,0.0000,NaN
4,GVREIT,0.1984,75000,14880.00,13392.00,2024-05-15,2025-05-28,2025-06-12,0.0000,0.0000
12,SCC,2.5000,600,1500.00,1350.00,2024-07-24,2025-04-02,2025-04-22,3.0900,5.1100
18,WHART,0.1930,20000,3860.00,3474.00,2024-08-08,2025-05-19,2025-06-06,0.0000,0.0000
16,TVO,0.8000,8000,6400.00,5760.00,2024-08-09,2025-03-14,2025-05-16,0.6200,0.9700
11,RCL,0.5000,27000,13500.00,12150.00,2024-08-09,2025-03-12,2025-05-16,1.3900,2.1300
10,NER,0.0500,32000,1600.00,1440.00,2024-08-09,2025-04-24,2025-05-09,0.2591,0.5046
9,MCS,0.2000,81000,16200.00,14580.00,2024-08-09,2025-04-18,2025-05-07,0.2400,0.3900
6,JMART,0.2400,6800,1632.00,1468.80,2024-08-09,2025-05-09,2025-05-29,0.2340,0.3970
5,IVL,0.1750,9000,1575.00,1417.50,2024-08-09,2025-05-27,2025-06-12,-4.1300,-3.9600
7,JMT,0.3800,9500,3610.00,3249.00,2024-08-09,2025-02-25,2025-04-30,0.2500,0.5400
8,KCE,0.6000,6000,3600.00,3240.00,2024-08-13,2025-03-24,2025-05-09,0.5400,0.9700
17,WHAIR,0.1372,60000,8232.00,7408.80,2024-08-13,2025-05-26,2025-06-25,0.0000,0.0000
3,DIF,0.2222,40000,8888.00,7999.20,2024-08-13,2025-05-14,2025-06-09,0.0000,0.0000
0,AH,0.3000,1200,360.00,324.00,2024-08-13,2025-03-13,2025-05-23,0.2900,1.1900
13,SYNEX,0.1000,15000,1500.00,1350.00,2024-08-14,2025-04-30,2025-05-14,0.1900,0.3700
15,TOA,0.3300,1000,330.00,297.00,2024-08-14,2025-05-09,2025-05-23,0.2400,0.6400
1,AIMIRT,0.1433,12500,1791.25,1612.12,2024-08-14,2025-05-19,2025-06-06,0.0000,0.0000
2,BCH,0.1200,4000,480.00,432.00,2024-08-15,2025-05-02,2025-05-23,0.1100,0.2400

In [82]:
file_name = '21-div-25q2.xlsx'
xsl_file = os.path.join(xsl_path, file_name)

df_merge[colt].sort_values(['name'],ascending=[True]).to_excel(xsl_file, index=False)

### End of output to cloud

In [84]:
const.commit()
const.close()