In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
from datetime import date, timedelta
from pandas.tseries.offsets import BDay
import calendar

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

data_path = "../excel/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

year = 2025
quarter = 2
today = date.today()
today

datetime.date(2025, 8, 13)

In [3]:
num_business_days = BDay(3)
yesterday = today - num_business_days
yesterday = yesterday.date()
today, yesterday

(datetime.date(2025, 8, 13), datetime.date(2025, 8, 8))

In [5]:
format_dict = {    
    'shares':'{:,}',    
    'q4':'{:.4f}','q3':'{:.4f}','q2':'{:.4f}','q1':'{:.4f}','dividend':'{:.4f}','qtrly':'{:.4f}',
    'price':'{:.2f}',    
    'amount':'{:,.2f}','net':'{:,.2f}','cost_amt':'{:,.2f}',
    'yield':'{:,.2f}%','pct':'{:,.2f}%',
    'xdate':'{:%Y-%m-%d}','paiddate':'{:%Y-%m-%d}',
              }

In [7]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")
#C:\Users\PC1\OneDrive\A5\Excel
xsl_path = os.path.join(base_path, "Excel")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Excel path (xsl_path): {xsl_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Ad hoc
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Excel path (xsl_path): C:\Users\PC1\OneDrive\A5\Excel
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

### New dividend stock

In [9]:
name = 'PTT'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [13]:
sqlIns = """
INSERT INTO dividend
VALUES('PTT',1.30,0,0.80,0,2.10,0,0,00,'2025-03-06','2025-04-29','',0)
"""
rp = const.execute(text(sqlIns))
print(rp.rowcount)

1

In [15]:
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

### Start of Update dividend

In [11]:
def update_dividend1(q2, XDATE, PAIDDATE, actual, name):
    # Use parameterized query to avoid SQL injection
    sql = text("""
        UPDATE dividend 
        SET q2 = :q2, 
            dividend = q1 + q2 + q3 + q4, 
            XDATE = :XDATE, 
            PAIDDATE = :PAIDDATE, 
            actual = :actual 
        WHERE name = :name
    """)
    
    # Execute the query with parameters
    rp = const.execute(sql, {
        'q2': q2,
        'XDATE': XDATE,
        'PAIDDATE': PAIDDATE,
        'actual': actual,
        'name': name
    })
    
    return f"Records updated = {rp.rowcount}"

In [13]:
name = 'JMT'
sql = """
SELECT * FROM DIVIDEND WHERE name = '%s'"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [15]:
q2 = 0.24
XDATE = '2025-08-26'
PAIDDATE = '2025-09-12'
actual = 1

update_dividend1(q2,XDATE,PAIDDATE,actual,name)

'Records updated = 1'

In [17]:
sql = """
SELECT * FROM DIVIDEND WHERE name = '%s'"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [29]:
sql = """
SELECT * FROM price WHERE name = '%s'
ORDER BY date DESC"""
sql = sql % name
price= pd.read_sql(sql, const)
price

     name        date  price   maxp   minp       qty   opnp
0     RCL  2024-08-09  22.80  23.80  22.70  10938786  23.60
1     RCL  2024-08-08  23.40  23.60  22.60   5763256  22.60
2     RCL  2024-08-07  22.70  22.80  22.00   7031034  22.20
3     RCL  2024-08-06  21.90  22.60  21.50   9344114  22.20
4     RCL  2024-08-05  21.40  23.30  21.40  13701876  22.80
...   ...         ...    ...    ...    ...       ...    ...
1303  RCL  2019-03-12   4.66   4.72   4.64     99200   4.68
1304  RCL  2019-03-11   4.68   4.72   4.66    111200   4.72
1305  RCL  2019-03-08   4.72   4.74   4.66    285900   4.70
1306  RCL  2019-03-07   4.70   4.70   4.62    159700   4.62
1307  RCL  2019-03-06   4.66   4.70   4.64    186601   4.70

[1308 rows x 7 columns]

In [ ]:
def update_dividend2(shares, q2, actual, name):
    # Use parameterized query to avoid SQL injection
    sql = text("""
        UPDATE dividend 
        SET q2 = :q2, 
            dividend = q1 + q2 + q3 + q4, 
            shares = :shares, 
            actual = :actual 
        WHERE name = :name
    """)
    
    # Execute the query with parameters
    rp = const.execute(sql, {
        'q2': q2,
        'shares': shares,
        'actual': actual,
        'name': name
    })
    
    return f"Records updated = {rp.rowcount}"

In [16]:
name = 'AH'
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [17]:
shares = 1200
q2 = 0.70
actual = 1

In [18]:
update_dividend2(shares,q2,actual,name)

'Records updated = 1'

In [19]:
sql = """
SELECT * 
FROM DIVIDEND
WHERE name = '%s'
"""
sql = sql % name
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.style.format(format_dict)

In [7]:
def update_dividend3(actual,name):
    sql = "UPDATE dividend SET xdate = DATE_ADD(xdate, INTERVAL 3 MONTH), \
    paiddate = DATE_ADD(paiddate, INTERVAL 3 MONTH),dividend=q1+q2+q3+q4, actual = %s \
    WHERE name = '%s'"
    sql = sql % (2, name)
    rp = const.execute(sql)
    return "Records updated = " + str(rp.rowcount)

In [28]:
actual = 2
name = 'RCL'
update_dividend3(actual,name)

'Records updated = 1'

### Toggle actual status

In [4]:
name = 'PTT'
actual = 0
sqlUpd = "UPDATE dividend SET actual = %s WHERE name = '%s'"
sqlUpd = sqlUpd % (actual, name)
rp = const.execute(sqlUpd)
rp.rowcount

1

### Delete dividend record

In [10]:
sqlDel = '''
DELETE FROM dividend
WHERE name IN ("MC")
'''
rp = const.execute(sqlDel)
rp.rowcount

1

### Start of output to cloud

In [31]:
cols = 'name qtrly shares amount net xdate paiddate cost_amt pct actual'.split()

In [39]:
sql = """
SELECT Y.NAME AS name,  Q2 AS qtrly, SHARES, XDATE, PAIDDATE, 
P.price AS price, Y.DIVIDEND, ACTUAL, B.price * B.volbuy AS cost_amt
FROM dividend AS Y, price AS P, buy AS B
WHERE Y.name = P.name 
AND Y.name = B.name 
AND Q2 > 0 
AND P.date = '%s'
ORDER BY name
"""
sql = sql % yesterday 
print(sql)

SELECT Y.NAME AS name,  Q2 AS qtrly, SHARES, XDATE, PAIDDATE,
P.price AS price, Y.DIVIDEND, ACTUAL, B.price * B.volbuy AS cost_amt
FROM dividend AS Y, price AS P, buy AS B
WHERE Y.name = P.name
AND Y.name = B.name
AND Q2 > 0
AND P.date = '2025-08-08'
ORDER BY name

In [59]:
dividend = pd.read_sql(sql, const)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend['amount'] = round(dividend['shares'] * dividend['qtrly'], 2)
dividend['net'] = round(dividend['amount'] * 0.9, 2)
dividend['pct'] = round(dividend['net'] / dividend['cost_amt'] * 100, 2)
dividend[cols].sort_values(['actual','xdate'],ascending=[False,True]).style.format(format_dict)

In [43]:
formatted_amt = '{:,.2f}'.format(dividend.net.sum())
print(formatted_amt)

97,554.69

In [26]:
file_name = 'dividend-q2.csv'
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [28]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\dividend-q2.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\dividend-q2.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\dividend-q2.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\dividend-q2.csv

In [30]:
dividend[cols].sort_values(['name'],ascending=[True]).to_csv(output_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_csv(god_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_csv(osd_file, index=False)
dividend[cols].sort_values(['name'],ascending=[True]).to_csv(icd_file, index=False)

### End of output to cloud

## Output Excel file

In [72]:
dividend.dtypes

name                object
qtrly              float64
shares               int64
xdate       datetime64[ns]
paiddate    datetime64[ns]
price              float64
dividend           float64
actual               int64
cost_amt           float64
amount             float64
net                float64
pct                float64
dtype: object

In [96]:
excel_fmt = dividend.sort_values(['name'], ascending=[True]).copy()
excel_fmt['xdate'] = pd.to_datetime(excel_fmt['xdate'])
excel_fmt['paiddate'] = pd.to_datetime(excel_fmt['paiddate'])
excel_fmt['div_amt'] = excel_fmt['qtrly'] * excel_fmt['shares']
excel_fmt['net_amt'] = excel_fmt['div_amt'] * 0.9
excel_fmt['xdate'] = excel_fmt['xdate'].dt.strftime('%Y-%m-%d')
excel_fmt['paiddate'] = excel_fmt['paiddate'].dt.strftime('%Y-%m-%d')

In [98]:
colt = 'name qtrly shares div_amt net_amt xdate paiddate actual'.split()
excel_fmt[colt].sort_values(['actual','xdate','name'],ascending=[False,False,True])

      name   qtrly  shares  div_amt   net_amt       xdate    paiddate  actual
10     NER  0.0500   27000   1350.0   1215.00  2025-08-22  2025-09-05       1
12     RCL  0.5000   24000  12000.0  10800.00  2025-08-22  2025-09-05       1
17     TVO  0.8000    8000   6400.0   5760.00  2025-08-22  2025-09-05       1
2   AIMIRT  0.2050   15000   3075.0   2767.50  2025-08-19  2025-09-05       1
0    3BBIF  0.1546  120000  18552.0  16696.80  2025-08-18  2025-09-03       1
18   WHAIR  0.1325   50000   6625.0   5962.50  2025-08-18  2025-09-15       1
19   WHART  0.1717   25000   4292.5   3863.25  2025-08-18  2025-09-05       1
4      DIF  0.2222   40000   8888.0   7999.20  2025-08-15  2025-09-09       1
13     SCC  2.5000     600   1500.0   1350.00  2025-08-13  2025-08-28       1
5   GVREIT  0.1984   69000  13689.6  12320.64  2025-05-28  2025-06-12       0
15   TFFIF  0.1176   20000   2352.0   2116.80  2025-05-28  2025-06-16       0
6      IVL  0.1750    7200   1260.0   1134.00  2025-05-27  2025-06-12       0
7    JMART  0.2400    6800   1632.0   1468.80  2025-05-09  2025-05-29       0
16     TOA  0.3300    1000    330.0    297.00  2025-05-09  2025-05-23       0
3      BCH  0.1200    4000    480.0    432.00  2025-05-02  2025-05-23       0
14   SYNEX  0.1000   17500   1750.0   1575.00  2025-04-30  2025-05-14       0
9      MCS  0.2000   81000  16200.0  14580.00  2025-04-18  2025-05-07       0
1       AH  0.3000    1200    360.0    324.00  2025-03-13  2025-05-23       0
11     PTT  0.8000    2500   2000.0   1800.00  2025-03-06  2025-04-29       0
8      JMT  0.3800    4200   1596.0   1436.40  2025-02-25  2025-04-30       0

In [100]:
excel_fmt.net.sum()

93898.89

In [104]:
file_name = '21-div-25q2.xlsx'
xsl_file = os.path.join(xsl_path, file_name)

excel_fmt[colt].sort_values(['actual','xdate','name'],ascending=[False,False,True]).to_excel(xsl_file, index=False)

### End of output to cloud

In [84]:
const.commit()
const.close()