### Must check whether completed successfully

In [1]:
import glob
import os
import pandas as pd
from datetime import date, timedelta
from pandas.tseries.offsets import *
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"
dts_path = "/Users/User/Downloads/Datasets/"

# Directory to be monitored
directory = '/Users/User/Downloads'
# Dictionary of file categories and their extensions
categories = {
    'Images': ['jpeg', 'jpg', 'png'],
    'PDFs': ['pdf'],
    'Datasets': ['csv', 'xlsx', 'xls', 'json'],
    'Videos': ['mp4','m4a'],
    'Zips': ['zip'],
    'EXEs': ['exe', 'msi'],
    'Pythons': ['ipynb'],
}
pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 12, 28), datetime.date(2023, 12, 27))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
yesterday = yesterday.date()
print(f'yesterday: {yesterday}')

today: 2023-12-28
yesterday: 2023-12-27

### Restart & Run All Cells

In [3]:
# Function to classify a file
def classify_file(filename):
    # Find the file extension
    extension = filename.split('.')[-1]

    # Iterate over the categories
    for category, extensions in categories.items():
        # If the extension matches one of the extensions in the category, move the file
        if extension in extensions:
            # Construct the file paths
            source_path = os.path.join(directory, filename)
            dest_path = os.path.join(directory, category, filename)

            # Move the file
            os.rename(source_path, dest_path)
            print(f'Moved {filename} to {category}')
            break

In [4]:
# Classify all existing files in the directory
for filename in os.listdir(directory):
    classify_file(filename)

Moved StockQuotation (1).xlsx to Datasets
Moved StockQuotation (10).xlsx to Datasets
Moved StockQuotation (2).xlsx to Datasets
Moved StockQuotation (3).xlsx to Datasets
Moved StockQuotation (4).xlsx to Datasets
Moved StockQuotation (5).xlsx to Datasets
Moved StockQuotation (6).xlsx to Datasets
Moved StockQuotation (7).xlsx to Datasets
Moved StockQuotation (8).xlsx to Datasets
Moved StockQuotation (9).xlsx to Datasets
Moved StockQuotation.xlsx to Datasets

In [5]:
colu = 'Symbol Last Change %Change Open High Low'.split()
vol = 'Total Volume'
colu.append(vol)
val = 'Total Value (k)'
colu.append(val)
colu

['Symbol',
 'Last',
 'Change',
 '%Change',
 'Open',
 'High',
 'Low',
 'Total Volume',
 'Total Value (k)']

In [6]:
file_name = "StockQuotation.xlsx"
input_file = dts_path + file_name
df_S100 = pd.read_excel(input_file, header=8)
df_S100 = df_S100[df_S100['%Change'] != '-']
df_S100[colu].sort_values(['%Change'],ascending=[False])

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
82,STA,16.10,0.90,5.92,15.40,16.20,15.40,9804694,155066.45
66,PTG,8.75,0.45,5.42,8.30,8.85,8.30,24060672,209251.37
6,AURA,15.40,0.60,4.05,14.80,15.40,14.50,2607040,38912.11
84,STGT,6.70,0.25,3.88,6.50,6.85,6.45,9149723,61403.37
96,TTB,1.67,0.06,3.73,1.62,1.68,1.62,422951773,701643.26
...,...,...,...,...,...,...,...,...,...
71,RCL,24.20,-0.30,-1.22,24.30,24.50,24.10,4538986,109985.23
87,THANI,2.60,-0.04,-1.52,2.64,2.68,2.60,11016646,28992.52
88,THG,54.25,-1.00,-1.81,54.75,55.50,54.25,901566,49331.07
27,CKP,3.26,-0.08,-2.40,3.38,3.38,3.22,12877011,42651.61
33,DELTA,88.00,-3.25,-3.56,91.25,92.25,87.75,22661010,2028771.37

In [7]:
df_S100.query('Symbol == "STA"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
82,STA,-,15.20,-0.10,-0.65,15.40,15.40,15.10,0,0.00,2372032,36225.10,374900,15.10,15.20,63100

In [8]:
file_name = "StockQuotation (1).xlsx"
input_file = dts_path + file_name
df_sSET = pd.read_excel(input_file, header=8)
df_sSET = df_sSET[df_sSET['%Change'] != '-']
df_sSET[colu].sort_values(['%Change'],ascending=[False])

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
132,WICE,6.20,0.30,5.08,5.95,6.35,5.95,2695393,16698.79
134,XPG,1.33,0.06,4.72,1.26,1.35,1.21,122398984,158753.48
116,TKC,15.00,0.60,4.17,14.60,15.30,14.60,1563580,23392.74
79,PR9,15.90,0.60,3.92,15.50,16.00,15.40,1390316,21899.72
112,THCOM,13.30,0.50,3.91,12.90,13.50,12.70,17548251,231616.22
...,...,...,...,...,...,...,...,...,...
73,ONEE,3.56,-0.08,-2.20,3.68,3.68,3.56,6961434,25157.15
0,7UP,0.39,-0.01,-2.50,0.41,0.41,0.39,9006431,3580.46
45,ITEL,2.12,-0.06,-2.75,2.18,2.18,2.08,20300356,42887.15
111,TGE,2.78,-0.10,-3.47,2.78,2.88,2.66,26014991,72144.60
24,CCET,2.10,-0.18,-7.89,2.28,2.28,2.10,17777720,38574.32

In [9]:
df_sSET.query('Symbol == "SINGER"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
93,SINGER,-,11.50,-0.10,-0.86,11.70,11.90,11.40,0,0,6701639,77930.32,111900,11.50,11.60,68300

In [10]:
file_name = "StockQuotation (2).xlsx"
input_file = dts_path + file_name
df_CLMV = pd.read_excel(input_file, header=8)
df_CLMV = df_CLMV[df_CLMV['%Change'] != '-']
df_CLMV[colu].sort_values(['%Change'],ascending=[False])

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
43,SJWD,15.20,0.70,4.83,14.50,15.20,14.40,3740771,55684.41
38,RCL,24.50,1.10,4.70,23.90,25.25,23.80,15573577,383190.99
49,THCOM,13.30,0.50,3.91,12.90,13.50,12.70,17548251,231616.22
47,SUPER,0.42,0.01,2.44,0.41,0.42,0.41,13009940,5366.49
23,ICHI,15.60,0.30,1.96,15.40,15.80,15.10,19168176,298801.07
...,...,...,...,...,...,...,...,...,...
9,BGRIM,27.50,-0.25,-0.90,27.75,28.00,27.25,15202204,419111.92
24,IRPC,2.02,-0.02,-0.98,2.02,2.04,2.02,10028795,20348.99
51,TSTH,0.85,-0.01,-1.16,0.86,0.86,0.84,1504900,1280.72
20,GPSC,47.75,-0.75,-1.55,48.75,49.00,47.75,5311407,256968.77
31,OR,19.10,-0.40,-2.05,19.50,19.50,18.90,36494004,699507.22

In [11]:
df_CLMV.query('Symbol == "PTTGC"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
35,PTTGC,-,38.25,-0.25,-0.65,38.50,38.75,38.25,0,0.00,4106377,157701.88,1423200,38.00,38.25,267300

In [12]:
file_name = "StockQuotation (3).xlsx"
input_file = dts_path + file_name
df_HD = pd.read_excel(input_file, header=8)
df_HD = df_HD[df_HD['%Change'] != '-']
df_HD[colu].sort_values(['%Change'],ascending=[False])

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
17,RCL,24.50,1.10,4.70,23.90,25.25,23.80,15573577,383190.99
2,BCH,22.40,0.40,1.82,21.90,22.50,21.80,21283355,473399.62
5,CPF,19.40,0.20,1.04,19.20,19.60,19.20,15644983,304176.75
29,WHA,5.30,0.05,0.95,5.25,5.35,5.25,42386216,224780.59
28,TU,14.90,0.10,0.68,14.80,15.10,14.80,15752517,235863.93
...,...,...,...,...,...,...,...,...,...
21,STA,15.20,-0.10,-0.65,15.40,15.40,15.10,2372032,36225.10
7,INTUCH,71.00,-0.50,-0.70,71.75,72.00,70.75,4195524,299162.77
22,STGT,6.45,-0.05,-0.77,6.50,6.60,6.45,1534112,9936.18
6,EGCO,127.50,-1.00,-0.78,128.50,129.50,127.50,657370,84336.16
18,SAWAD,40.75,-1.50,-3.55,42.00,42.25,40.50,21356461,875092.35

In [13]:
df_HD.query('Symbol == "STA"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
21,STA,-,15.20,-0.10,-0.65,15.40,15.40,15.10,0,0.00,2372032,36225.10,374900,15.10,15.20,63100

In [14]:
file_name = "StockQuotation (4).xlsx"
input_file = dts_path + file_name
df_THSI = pd.read_excel(input_file, header=8)
df_THSI = df_THSI[df_THSI['%Change'] != '-']
df_THSI[colu].sort_values(['%Change'],ascending=[False])

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
53,KEX,4.94,0.50,11.26,4.46,5.10,4.44,19359300,94442.49
91,SJWD,15.20,0.70,4.83,14.50,15.20,14.40,3740771,55684.41
70,PR9,15.90,0.60,3.92,15.50,16.00,15.40,1390316,21899.72
97,THCOM,13.30,0.50,3.91,12.90,13.50,12.70,17548251,231616.22
107,TTA,6.05,0.20,3.42,5.90,6.15,5.90,23483036,141883.80
...,...,...,...,...,...,...,...,...,...
65,OR,19.10,-0.40,-2.05,19.50,19.50,18.90,36494004,699507.22
61,MTC,44.50,-1.00,-2.20,45.25,45.50,43.75,7036608,312481.97
33,DELTA,91.25,-2.75,-2.93,94.00,94.25,91.25,20309748,1868754.28
45,HANA,52.25,-1.75,-3.24,54.00,54.00,52.25,10577016,557225.38
83,SAWAD,40.75,-1.50,-3.55,42.00,42.25,40.50,21356461,875092.35

In [15]:
df_THSI.query('Symbol == "AH"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
3,AH,-,27.75,0.50,1.83,27.25,28.25,27.25,0,0.00,1419668,39544.29,127700,27.50,27.75,8100

In [16]:
file_name = "StockQuotation (5).xlsx"
input_file = dts_path + file_name
df_WB = pd.read_excel(input_file, header=8)
df_WB = df_WB[df_WB['%Change'] != '-']
df_WB[colu].sort_values(['%Change'],ascending=[False])

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
20,KEX,4.94,0.50,11.26,4.46,5.10,4.44,19359300,94442.49
26,SJWD,15.20,0.70,4.83,14.50,15.20,14.40,3740771,55684.41
25,RAM,36.00,1.25,3.60,35.25,36.00,34.25,427757,14994.81
17,DOHOME,12.50,0.40,3.31,12.20,12.60,12.20,9407977,116867.86
28,THG,55.25,1.25,2.31,54.50,55.25,54.00,802457,44035.61
...,...,...,...,...,...,...,...,...,...
13,COM7,23.50,-0.20,-0.84,23.80,24.00,23.50,16033832,380254.96
19,HMPRO,11.60,-0.10,-0.85,11.70,11.80,11.50,28127033,327603.60
10,CBG,83.50,-0.75,-0.89,84.50,85.25,83.50,2198089,185062.87
14,CPALL,55.50,-0.50,-0.89,56.00,56.25,55.50,14256482,796779.31
6,BH,220.00,-2.00,-0.90,222.00,224.00,220.00,1186789,263415.99

In [17]:
df_WB.query('Symbol == "BCH"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
3,BCH,-,22.40,0.40,1.82,21.90,22.50,21.80,0,0.00,21283355,473399.62,523700,22.30,22.40,203500

In [18]:
file_name = "StockQuotation (6).xlsx"
input_file = dts_path + file_name
df_FIN = pd.read_excel(input_file, header=9)
df_FIN = df_FIN[df_FIN['%Change'] != '-']
df_FIN[colu].sort_values(['%Change'],ascending=[False])

   Symbol  Last Change %Change  Open  High   Low Total Volume Total Value (k)
40    XPG  1.33   0.06    4.72  1.26  1.35  1.21    122398984       158753.48
9   CHAYO  5.40   0.10    1.89  5.30  5.45  5.30      1881419        10153.88
8   CHASE  1.80   0.03    1.69  1.79  1.85  1.77      7960400        14445.49
21    MFC 19.90   0.30    1.53 19.70    20 19.60        33405          665.88
23     ML  0.82   0.01    1.23  0.80  0.84  0.80        67730           54.71
..    ...   ...    ...     ...   ...   ...   ...          ...             ...
10    ECL  1.40  -0.03   -2.10  1.43  1.45  1.40      1556901         2212.03
25    MTC 44.50     -1   -2.20 45.25 45.50 43.75      7036608       312481.97
12    FSX  2.60  -0.06   -2.26  2.66  2.66  2.60       328218          862.39
30  SAWAD 40.75  -1.50   -3.55    42 42.25 40.50     21356461       875092.35
2    ASAP  3.02  -0.14   -4.43  3.16  3.18  2.96      4925967        14938.42

[40 rows x 9 columns]

In [19]:
df_FIN.query('Symbol == "JMT"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
17,JMT,-,25.25,0,0,25.50,25.75,25,300000,7650,7195184,182161.22,1242800,25,25.25,172300

In [20]:
file_name = "StockQuotation (7).xlsx"
input_file = dts_path + file_name
df_PROP = pd.read_excel(input_file, header=9)
df_PROP = df_PROP[df_PROP['%Change'] != '-']
df_PROP[colu].sort_values(['%Change'],ascending=[False])

    Symbol Last Change %Change Open High  Low Total Volume Total Value (k)
22      KC 0.11   0.01      10 0.11 0.11 0.10      1372500          149.96
17    EVER 0.17   0.01    6.25 0.16 0.17 0.16      1055500          169.18
38      PF 0.30   0.01    3.45 0.30 0.31 0.29      5326936         1597.74
39     PIN    5   0.16    3.31 4.92 5.05 4.90      6461538        32136.15
35     ORN 1.04   0.02    1.96 1.03 1.05 1.01     13583821        13983.89
..     ...  ...    ...     ...  ...  ...  ...          ...             ...
42  PRECHA 0.92  -0.01   -1.08 0.95 0.95 0.92       276500          259.66
50       S 0.89  -0.01   -1.11 0.90 0.91 0.89      1944856         1747.01
9    BLAND 0.70  -0.01   -1.41 0.70 0.72 0.70      6234336         4380.28
46  RABBIT 0.50  -0.01   -1.96 0.51 0.52 0.50     26445587        13460.15
16   ESTAR 0.25  -0.01   -3.85 0.26 0.26 0.25        92800           23.51

[57 rows x 9 columns]

In [21]:
df_PROP.query('Symbol == "AWC"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
8,AWC,-,3.56,0.06,1.71,3.50,3.68,3.46,0,0,168231874,603049.81,3395700,3.56,3.58,1419700

In [22]:
file_name = "StockQuotation (8).xlsx"
input_file = dts_path + file_name
df_PFREIT = pd.read_excel(input_file, header=9)
df_PFREIT = df_PFREIT[df_PFREIT['%Change'] != '-']
df_PFREIT[colu].sort_values(['%Change'],ascending=[False])

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
48,SSPF,5.40,0.62,12.97,4.78,5.40,4.78,8300,43.43
14,FTREIT,10.70,0.50,4.90,10.10,10.80,10.10,1791890,18861.86
59,WHART,10.30,0.35,3.52,10,10.30,10,2042124,20761.52
36,MNIT,2.16,0.06,2.86,2.10,2.16,2.10,12800,26.98
41,PROSPECT,8.60,0.15,1.78,8.45,8.60,8.45,102600,870.67
...,...,...,...,...,...,...,...,...,...
51,TLHPF,6.90,-0.05,-0.72,7,7,6.70,7300,48.96
26,LHPF,6.05,-0.05,-0.82,6.05,6.05,6.05,1000,6.05
56,URBNPF,1.61,-0.02,-1.23,1.61,1.61,1.61,100,0.16
11,CTARAF,4.24,-0.06,-1.40,4.30,4.30,4.22,323800,1376.98
52,TNPF,1.72,-0.07,-3.91,1.79,1.79,1.72,600,1.07

In [23]:
df_PFREIT.query('Symbol == "GVREIT"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
18,GVREIT,-,5.65,0,0,5.65,5.65,5.60,0,0,1465861,8269.56,273200,5.60,5.65,866800

In [24]:
file_name = "StockQuotation (9).xlsx"
input_file = dts_path + file_name
df_TRANS = pd.read_excel(input_file, header=9)
df_TRANS = df_TRANS[df_TRANS['%Change'] != '-']
df_TRANS[colu].sort_values(['%Change'],ascending=[False])

   Symbol  Last Change %Change  Open  High   Low Total Volume Total Value (k)
12    KEX  4.94   0.50   11.26  4.46  5.10  4.44     19359300        94442.49
29   WICE  6.20   0.30    5.08  5.95  6.35  5.95      2695393        16698.79
24   SJWD 15.20   0.70    4.83 14.50 15.20 14.40      3740771        55684.41
21    RCL 24.50   1.10    4.70 23.90 25.25 23.80     15573577       383190.99
28    TTA  6.05   0.20    3.42  5.90  6.15  5.90     23483036       141883.80
..    ...   ...    ...     ...   ...   ...   ...          ...             ...
10    ETL  1.64      0       0  1.64  1.67  1.59     17438607        28449.51
0     AAV  1.96  -0.01   -0.51  1.97  1.98  1.96     19901810        39197.81
6     BEM  7.90  -0.05   -0.63  7.90  7.95  7.85     13564386       107182.03
15   MENA  2.32  -0.06   -2.52  2.40  2.40  2.32      4014217         9428.68
1     ANI  5.85  -0.35   -5.65  6.20  6.25  5.75     13149932        77686.08

[26 rows x 9 columns]

In [25]:
df_TRANS.query('Symbol == "TFFIF"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
25,TFFIF,-,6.55,0.05,0.77,6.50,6.60,6.50,0,0,419715,2740.25,354800,6.50,6.55,56400

In [26]:
file_name = "StockQuotation (10).xlsx"
input_file = dts_path + file_name
df_ICT = pd.read_excel(input_file, header=9)
df_ICT = df_ICT[df_ICT['%Change'] != '-']
df_ICT[colu].sort_values(['%Change'],ascending=[False])

   Symbol  Last Change %Change  Open  High   Low Total Volume Total Value (k)
34    TWZ  0.05   0.01      25  0.04  0.05  0.04      5011633          214.67
3     AMR  1.78   0.16    9.88  1.66  1.78  1.63     18423163        31370.23
19    JTS 79.25   4.50    6.02    73    80    73      5134359       397665.20
27    SKY    27   1.25    4.85 25.75    27 25.75      2155916        57181.58
32    TKC    15   0.60    4.17 14.60 15.30 14.60      1563580        23392.74
..    ...   ...    ...     ...   ...   ...   ...          ...             ...
11  ILINK  7.05  -0.10   -1.40  7.15  7.15     7       347476         2450.06
8   GABLE  4.38  -0.08   -1.79  4.48  4.50  4.38      1160500         5129.25
21    MSC  8.50  -0.20   -2.30  8.65  8.70  8.50        20800          179.04
15   ITEL  2.12  -0.06   -2.75  2.18  2.18  2.08     20300356        42887.15
29   SYMC  7.70  -0.35   -4.35     8  8.10  7.60       962520         7605.36

[34 rows x 9 columns]

In [27]:
df_ICT.query('Symbol == "JASIF"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
17,JASIF,-,6.20,0.05,0.81,6.15,6.20,6.10,0,0,5169807,31710.23,520500,6.15,6.20,903700

In [28]:
df = pd.concat([df_S100, df_sSET, df_CLMV, df_HD, df_THSI, df_WB, df_FIN, df_PROP, df_PFREIT, df_TRANS, df_ICT])
df.shape

(670, 16)

In [29]:
df.Symbol.nunique()

383

In [30]:
### First equals to latest published pdf file
df = df.drop_duplicates(subset='Symbol', keep='first')
df.shape

(383, 16)

In [31]:
df.rename(columns={col: col.replace(" ", "-") for col in df.columns}, inplace=True)
df.columns

Index(['Symbol', 'Trading-Sign', 'Last', 'Change', '%Change', 'Open', 'High',
       'Low', 'TR-Volume', 'TR-Value-(k)', 'Total-Volume', 'Total-Value-(k)',
       'Bid-Size', 'Bid', 'Offer', 'Offer-Size'],
      dtype='object')

In [32]:
cols = 'Symbol Last Change %Change Open High Low Total-Volume Total-Value-(k)'.split()
df[cols].sort_values('Symbol',ascending=True)

    Symbol  Last Change %Change  Open  High   Low Total-Volume Total-Value-(k)
0      7UP  0.39  -0.01   -2.50  0.41  0.41  0.39      9006431         3580.46
0        A     5      0       0  5.10  5.10     5         1901            9.63
1      AAI  4.42   0.02    0.45  4.36  4.44  4.24     53005263       230502.30
0      AAV  1.96  -0.01   -0.51  1.97  1.98  1.96     19901810        39197.81
1      ACE  1.50  -0.03   -1.96  1.55  1.55  1.50      6775279        10252.01
..     ...   ...    ...     ...   ...   ...   ...          ...             ...
132   WICE  6.20   0.30    5.08  5.95  6.35  5.95      2695393        16698.79
59     WIN  0.53      0       0  0.54  0.54  0.52       696297          364.64
133   WORK 10.90   0.10    0.93 10.90 11.10 10.80       188313         2066.13
134    XPG  1.33   0.06    4.72  1.26  1.35  1.21    122398984       158753.48
135    ZEN  9.00  -0.15   -1.64  9.20  9.35  9.00       112200         1018.44

[383 rows x 9 columns]

In [33]:
df.insert(1, 'Date', today)

In [34]:
colt = 'Symbol Date Last Change %Change Open High Low Total-Volume Total-Value-(k)'.split()
df[colt]

,Symbol,Date,Last,Change,%Change,Open,High,Low,Total-Volume,Total-Value-(k)
0,AAV,2023-12-27,1.96,-0.01,-0.51,1.97,1.98,1.96,19901810,39197.81
1,ACE,2023-12-27,1.50,-0.03,-1.96,1.55,1.55,1.50,6775279,10252.01
2,ADVANC,2023-12-27,219.00,0.00,0.00,219.00,220.00,218.00,5367364,1175001.89
3,AMATA,2023-12-27,27.00,0.00,0.00,27.00,27.25,26.50,2647865,71166.98
4,AOT,2023-12-27,60.25,0.25,0.42,59.75,60.75,59.50,31035571,1869052.85
...,...,...,...,...,...,...,...,...,...,...
25,SDC,2023-12-27,0.04,0,0,0.04,0.05,0.03,64966287,2599.88
27,SKY,2023-12-27,27,1.25,4.85,25.75,27,25.75,2155916,57181.58
28,SVOA,2023-12-27,1.91,0.03,1.60,1.87,1.92,1.87,222800,424.34
29,SYMC,2023-12-27,7.70,-0.35,-4.35,8,8.10,7.60,962520,7605.36
34,TWZ,2023-12-27,0.05,0.01,25,0.04,0.05,0.04,5011633,214.67

In [35]:
file_name = "name-ttl.csv"
input_file = data_path + file_name

df_name = pd.read_csv(input_file, header=None, names=['Symbol'])
df_name.shape

(227, 1)

In [36]:
df_out = df[colt]
df_out.shape

(383, 10)

In [37]:
df_merge = pd.merge(df_name, df_out, on = 'Symbol', how='inner')
df_merge.shape

(189, 10)

In [38]:
df_merge.columns = df_merge.columns.str.lower()
df_merge.columns

Index(['symbol', 'date', 'last', 'change', '%change', 'open', 'high', 'low',
       'total-volume', 'total-value-(k)'],
      dtype='object')

In [39]:
df_merge.rename(columns={'symbol':'name','last':'price','total-volume':'volume',
                         'total-value-(k)':'value(m)'},inplace=True)
df_merge.columns

Index(['name', 'date', 'price', 'change', '%change', 'open', 'high', 'low',
       'volume', 'value(m)'],
      dtype='object')

In [40]:
colp = 'name date price high low volume open'.split()

file_name = "Price.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

df_merge[colp].to_csv(output_file, header=True, index=False)
df_merge[colp].to_csv(osd_file, header=True, index=False)

### End of daily process to export Price to MySql Stock database

In [41]:
file_name = "Price-Today.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

df_merge.to_csv(output_file, header=True, index=False)
df_merge.to_csv(osd_file, header=True, index=False)

### End of daily process to export Price-Today for Market-all, Create Dailies & Daily out processes