### Input files: Price-Today.csv

In [1]:
import glob
import os
import pandas as pd
from datetime import date, timedelta
from pandas.tseries.offsets import *
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

format_dict = {'qty':'{:,}','volbuy':'{:,}',
              'price_x':'{:,.2f}','price_y':'{:,.2f}','change':'{:,.2f}','price':'{:,.2f}',
              'chg_amt':'{:,.2f}','buy_amt':'{:,.2f}','gross':'{:,.2f}','amount':'{:,.2f}',
              'percent':'{:,.2f}','net':'{:,.2f}','dividend':'{:,.4f}'}

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"
dts_path = "/Users/User/Downloads/Datasets/"

pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format
today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2024, 6, 14), datetime.date(2024, 6, 13))

In [2]:
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
yesterday = yesterday.date()
print(f'yesterday: {yesterday}')

today: 2024-06-14
yesterday: 2024-06-13

### Restart and Run All Cells

## Must rerun whenever there is change in orders

In [3]:
sql = """
SELECT name, date, volbuy, price, active, dividend, period, grade 
FROM buy
ORDER BY name"""
stocks = pd.read_sql(sql, const)
stocks['volbuy'] = stocks['volbuy'].astype('int64')
stocks.style.format(format_dict)

In [4]:
names = stocks["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'3BBIF', 'AH', 'AIMIRT', 'ASK', 'ASP', 'AWC', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TMT', 'TOA', 'WHAIR', 'WHART'"

In [5]:
file_name = "Price-Today.csv"
input_file = data_path + file_name
input_file

'../data/Price-Today.csv'

In [6]:
prices = pd.read_csv(input_file)
prices.shape

(184, 10)

In [7]:
df_merge  = pd.merge(stocks, prices, on = 'name', how='inner')
df_merge.shape

(30, 17)

### Convert column name to make it valid for df.query

In [8]:
pd.options.display.max_rows = 30
df_merge['percent'] = df_merge['%change']
df_merge['chg_amt'] = df_merge['volbuy'] * df_merge['change']
df_merge['volbuy'] = df_merge['volbuy'].astype('int64')
colo = ['name', 'volbuy', 'price_x', 'price_y', 'change', 'percent', 'chg_amt']
filter = df_merge['percent'] != 0
df_pct = df_merge[filter][colo].sort_values(by='percent', ascending=True).copy()
df_amt = df_merge[filter][colo].sort_values(by='chg_amt', ascending=True).copy()

In [9]:
df_pct.style.format(format_dict)

In [10]:
df_amt.style.format(format_dict)

In [11]:
df_pct.query('percent >= 3.00').style.format(format_dict)

In [12]:
df_pct.query('percent < -3.00').style.format(format_dict)

In [13]:
df_amt.query('chg_amt >= 6000').style.format(format_dict)

In [14]:
df_amt.query('chg_amt < -6000').style.format(format_dict)

In [15]:
float_formatter = "{:,.2f}"
float_formatter.format(df_amt.chg_amt.sum())

'-43,050.00'

In [16]:
df_amt.query('chg_amt < 0')['chg_amt'].sum()

-58930.0

In [17]:
df_amt.query('chg_amt >= 0')['chg_amt'].sum()

15880.0