### Must run step by step as there are command lines to be executed in the middle of the flow

In [1]:
import numpy as np
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

data_path = "../data/"
#data_path = "\\users\\user\\onedrive\\a7\\Data"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

today = date.today()
today

datetime.date(2023, 12, 28)

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2023-12-28
yesterday: 2023-12-27

In [3]:
cols = 'name fm_date to_date fm_price to_price qty max_price min_price percent status'.split()

format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}',
}

### Begin of Tables in the process

In [4]:
sql = """
SELECT * 
FROM sales 
ORDER BY id DESC LIMIT 1
"""
tmp = pd.read_sql(sql, conlite)
tmp["fm_date"] = pd.to_datetime(tmp["fm_date"])
tmp["to_date"] = pd.to_datetime(tmp["to_date"])
tmp["created_at"] = pd.to_datetime(tmp["created_at"])
tmp["updated_at"] = pd.to_datetime(tmp["updated_at"])
tmp.style.format(format_dict)

In [5]:
names = tmp["name"]
name = names.to_string(index=False)
name

'WHAIR'

In [6]:
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp.style.format(format_dict)

SELECT *
FROM stocks
WHERE name = 'WHAIR'

### End of Tables in the process

In [7]:
sql = """
SELECT DISTINCT a.name
FROM sales a 
WHERE to_date = '%s'
ORDER BY a.name
"""
sql = sql % yesterday
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp.shape

SELECT DISTINCT a.name
FROM sales a
WHERE to_date = '2023-12-27'
ORDER BY a.name

(17, 1)

In [8]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a 
JOIN stocks t ON a.name = t.name 
WHERE to_date = '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % yesterday
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a
JOIN stocks t ON a.name = t.name
WHERE to_date = '2023-12-27' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

### This statement causes program to hang when there is no data

In [9]:
df = pd.read_sql(sql, conlite)
#df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df.eval('diff = to_price - fm_price',inplace=True)
df['percent'] = round(df['diff']/df['fm_price']*100,2)
#df.style.format(format_dict)
df

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,status,market,diff,percent
0,JMT,2023-12-22,2023-12-27,26.25,25.25,78699560,27.00,25.25,B,SET50,-1.00,-3.81
1,ORI,2023-12-27,2023-12-27,8.45,8.40,17549640,8.55,8.20,B,SET100,-0.05,-0.59
2,PTTGC,2023-12-27,2023-12-27,38.50,38.25,28807478,38.75,37.50,B,SET50,-0.25,-0.65
3,SENA,2023-12-26,2023-12-27,2.36,2.34,702596,2.36,2.32,B,SET,-0.02,-0.85
4,SINGER,2023-12-22,2023-12-27,12.00,11.50,71489728,12.30,11.50,B,SET100,-0.50,-4.17
5,SYNEX,2023-12-22,2023-12-27,10.30,10.20,5965336,10.50,10.20,B,SET,-0.10,-0.97
6,TMT,2023-12-27,2023-12-27,6.10,6.15,183560,6.20,6.10,B,SET,0.05,0.82
7,WHAIR,2023-12-20,2023-12-27,5.40,5.55,4970224,5.55,5.30,B,SET,0.15,2.78
8,ASP,2023-12-26,2023-12-27,2.82,2.80,2060352,2.82,2.80,I,SET,-0.02,-0.71
9,KCE,2023-12-22,2023-12-27,56.25,54.25,38505728,57.00,54.25,I,SET100,-2.00,-3.56
10,MCS,2023-12-22,2023-12-27,6.45,6.55,880816,6.55,6.45,I,SET,0.10,1.55
11,RCL,2023-12-27,2023-12-27,23.40,24.50,107581798,24.80,19.80,I,SET100,1.10,4.70
12,STA,2023-12-27,2023-12-27,15.30,15.20,5141028,15.30,14.80,I,SET100,-0.10,-0.65
13,BEM,2023-12-27,2023-12-27,7.95,7.90,172930926,8.10,7.80,O,SET50,-0.05,-0.63
14,BH,2023-12-27,2023-12-27,222.00,220.00,9107256,222.00,214.00,O,SET50,-2.00,-0.90
15,HANA,2023-12-27,2023-12-27,54.00,52.25,63904489,54.75,48.75,O,SET100,-1.75,-3.24
16,KTB,2023-12-18,2023-12-27,18.40,18.10,847406624,18.50,18.10,O,SET50,-0.30,-1.63

### IF the above count not equal number of orders, there must be something incorrect

### Create daily-sales from sales

In [10]:
df[cols].style.format(format_dict)

In [11]:
file_name = "daily-sales.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(output_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(data_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(one_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(osd_file, header=True, index=False)

In [12]:
sales = df[cols]
sales.shape

(40, 10)

In [13]:
file_name = "Price-Today.csv"
input_file = data_path + file_name
prices = pd.read_csv(input_file)
prices.shape

(189, 10)

In [14]:
df_merge = pd.merge(sales,prices,on='name', how='inner')
df_merge.shape

(40, 19)

In [15]:
colu = 'name fm_date to_date fm_price to_price qty max_price min_price percent status \
price change volume date'.split()
df_merge[colu]

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status,price,change,volume,date
0,AH,2023-12-26,2023-12-26,27.50,27.25,1598752,27.50,26.75,-0.91,B,27.75,0.50,1419668,2023-12-27
1,ASK,2023-12-26,2023-12-26,20.00,19.70,412252,20.10,19.70,-1.50,B,19.90,0.20,231243,2023-12-27
2,CPNREIT,2023-12-21,2023-12-26,11.00,11.20,7311248,11.20,10.90,1.82,B,11.30,0.10,1067518,2023-12-27
3,DIF,2023-12-22,2023-12-26,7.50,7.60,70326416,7.60,7.40,1.33,B,7.65,0.05,8859045,2023-12-27
4,GVREIT,2023-12-20,2023-12-26,5.60,5.65,11403200,5.70,5.45,0.89,B,5.65,0.00,1465861,2023-12-27
5,JASIF,2023-12-20,2023-12-26,5.85,6.15,61035160,6.15,5.75,5.13,B,6.20,0.05,5169807,2023-12-27
6,JMT,2023-12-22,2023-12-26,26.25,25.25,39349780,27.00,25.25,-3.81,B,25.25,0.00,7195184,2023-12-27
7,NER,2023-12-21,2023-12-26,4.68,4.84,24608052,4.84,4.62,3.42,B,4.84,0.00,2930449,2023-12-27
8,ORI,2023-12-26,2023-12-26,8.40,8.45,17549640,8.55,8.20,0.60,B,8.40,-0.05,5017199,2023-12-27
9,PTG,2023-12-18,2023-12-26,8.95,8.15,161397152,9.15,8.15,-8.94,B,8.30,0.15,7525624,2023-12-27
10,PTTGC,2023-12-26,2023-12-26,38.00,38.50,28807478,38.75,37.50,1.32,B,38.25,-0.25,4106377,2023-12-27
11,SENA,2023-12-26,2023-12-26,2.36,2.34,351298,2.36,2.32,-0.85,B,2.34,0.00,524683,2023-12-27
12,SINGER,2023-12-22,2023-12-26,12.00,11.60,35744864,12.30,11.60,-3.33,B,11.50,-0.10,6701639,2023-12-27
13,SYNEX,2023-12-22,2023-12-26,10.30,10.20,2982668,10.50,10.20,-0.97,B,10.20,0.00,333500,2023-12-27
14,TFFIF,2023-12-26,2023-12-26,6.55,6.50,2901000,6.60,6.45,-0.76,B,6.55,0.05,419715,2023-12-27
15,TMT,2023-12-25,2023-12-26,6.20,6.10,183560,6.20,6.10,-1.61,B,6.15,0.05,26720,2023-12-27
16,WHAIR,2023-12-20,2023-12-26,5.40,5.55,2485112,5.55,5.30,2.78,B,5.55,0.00,234601,2023-12-27
17,WHART,2023-12-21,2023-12-26,9.80,9.95,13241008,9.95,9.70,1.53,B,10.30,0.35,2042124,2023-12-27
18,AIMIRT,2023-12-26,2023-12-26,10.20,10.30,2904020,10.40,10.20,0.98,I,10.40,0.10,355501,2023-12-27
19,ASP,2023-12-26,2023-12-26,2.82,2.80,1030176,2.82,2.80,-0.71,I,2.80,0.00,251114,2023-12-27
20,AWC,2023-12-25,2023-12-26,3.48,3.50,490443566,3.64,3.42,0.57,I,3.56,0.06,168231874,2023-12-27
21,BCH,2023-12-20,2023-12-26,21.70,22.00,73792604,22.00,21.50,1.38,I,22.40,0.40,21283355,2023-12-27
22,IVL,2023-12-26,2023-12-26,26.75,27.00,75003478,27.75,26.75,0.93,I,27.00,0.00,14484420,2023-12-27
23,JMART,2023-12-22,2023-12-26,18.00,17.40,75158172,18.40,17.40,-3.33,I,17.30,-0.10,11279390,2023-12-27
24,KCE,2023-12-22,2023-12-26,56.25,55.25,19252864,57.00,55.25,-1.78,I,54.25,-1.00,8997897,2023-12-27
25,MCS,2023-12-22,2023-12-26,6.45,6.55,440408,6.55,6.45,1.55,I,6.55,0.00,74400,2023-12-27
26,RCL,2023-12-25,2023-12-26,24.40,23.40,107581798,24.80,19.80,-4.10,I,24.50,1.10,15573577,2023-12-27
27,SCC,2023-12-22,2023-12-26,296.00,301.00,5436916,301.00,292.00,1.69,I,301.00,0.00,1625033,2023-12-27
28,STA,2023-12-22,2023-12-26,15.00,15.30,5141028,15.30,14.80,2.00,I,15.20,-0.10,2372032,2023-12-27
29,TOA,2023-12-14,2023-12-26,21.90,22.80,20672120,22.80,21.90,4.11,I,22.60,-0.20,440505,2023-12-27
30,BBL,2023-12-26,2023-12-26,149.50,151.00,12805346,152.50,149.50,1.00,O,152.00,1.00,10564959,2023-12-27
31,BEM,2023-12-26,2023-12-26,7.85,7.95,172930926,8.10,7.80,1.27,O,7.90,-0.05,13564386,2023-12-27
32,BH,2023-12-22,2023-12-26,216.00,222.00,9107256,222.00,214.00,2.78,O,220.00,-2.00,1186789,2023-12-27
33,CK,2023-12-26,2023-12-26,20.30,20.40,2088208,21.10,20.30,0.49,O,20.40,0.00,1094800,2023-12-27
34,CPN,2023-12-26,2023-12-26,67.50,68.50,8463376,68.50,66.25,1.48,O,69.25,0.75,11540066,2023-12-27
35,HANA,2023-12-26,2023-12-26,53.50,54.00,63904489,54.75,48.75,0.93,O,52.25,-1.75,10577016,2023-12-27
36,ICHI,2023-12-21,2023-12-26,14.80,15.30,66646960,15.30,14.60,3.38,O,15.60,0.30,19168176,2023-12-27
37,KTB,2023-12-18,2023-12-26,18.40,18.20,423703312,18.50,18.20,-1.09,O,18.10,-0.10,45579531,2023-12-27
38,SAPPE,2023-12-26,2023-12-26,84.75,84.00,2008156,86.50,83.75,-0.88,O,86.25,2.25,814038,2023-12-27
39,TTB,2023-12-22,2023-12-26,1.59,1.61,290546152,1.61,1.59,1.26,O,1.61,0.00,104292512,2023-12-27

In [16]:
file_name = "daily-sales-prices.csv"
data_file = data_path + file_name
output_file = csv_path + file_name
one_file = one_path + file_name
osd_file = osd_path + file_name

df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(output_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(data_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(one_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(osd_file, header=True, index=False)

### Call ruby ruby\daily-out-new.rb

In [17]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Daily'

In [18]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [19]:
!ruby ruby\\daily-out-new.rb

Name      From Date    To Date   From     To     Pct      Shares    Max    Min S Action
---------------------------------------------------------------------------------------
AH       2023-12-27 2023-12-27  27.25  27.75   1.83%   1,598,752  27.75  26.75 B Insert
AIMIRT   2023-12-26 2023-12-27  10.20  10.40   1.96%   2,904,020  10.40  10.20 I Update
ASK      2023-12-27 2023-12-27  19.70  19.90   1.02%     412,252  20.10  19.70 B Insert
ASP      2023-12-26 2023-12-27   2.82   2.80  -0.71%   1,030,176   2.82   2.80 I Update
AWC      2023-12-25 2023-12-27   3.48   3.56    2.3% 490,443,566   3.64   3.42 I Update
BBL      2023-12-26 2023-12-27 149.50 152.00   1.67%  12,805,346 152.50 149.50 O Update
BCH      2023-12-20 2023-12-27  21.70  22.40   3.23%  73,792,604  22.40  21.50 I Update
BEM      2023-12-27 2023-12-27   7.95   7.90  -0.63% 172,930,926   8.10   7.80 O Insert
BH       2023-12-27 2023-12-27 222.00 220.00   -0.9%   9,107,256 222.00 214.00 O Insert
CK       2023-12-26 2023-12-27  20.30  20.40   0.49%   2,088,208  21.10  20.30 O Update
CPN      2023-12-26 2023-12-27  67.50  69.25   2.59%   8,463,376  69.25  66.25 O Update
CPNREIT  2023-12-21 2023-12-27  11.00  11.30   2.73%   7,311,248  11.30  10.90 B Update
DIF      2023-12-22 2023-12-27   7.50   7.65    2.0%  70,326,416   7.65   7.40 B Update
GVREIT   2023-12-20 2023-12-27   5.60   5.65   0.89%  11,403,200   5.70   5.45 B Update
HANA     2023-12-27 2023-12-27  54.00  52.25  -3.24%  63,904,489  54.75  48.75 O Insert
ICHI     2023-12-21 2023-12-27  14.80  15.60   5.41%  66,646,960  15.60  14.60 O Update
IVL      2023-12-26 2023-12-27  26.75  27.00   0.93%  75,003,478  27.75  26.75 I Update
JASIF    2023-12-20 2023-12-27   5.85   6.20   5.98%  61,035,160   6.20   5.75 B Update
JMART    2023-12-22 2023-12-27  18.00  17.30  -3.89%  75,158,172  18.40  17.30 I Update
JMT      2023-12-22 2023-12-27  26.25  25.25  -3.81%  39,349,780  27.00  25.25 B Update
KCE      2023-12-22 2023-12-27  56.25  54.25  -3.56%  19,252,864  57.00  54.25 I Update
KTB      2023-12-18 2023-12-27  18.40  18.10  -1.63% 423,703,312  18.50  18.10 O Update
MCS      2023-12-22 2023-12-27   6.45   6.55   1.55%     440,408   6.55   6.45 I Update
NER      2023-12-21 2023-12-27   4.68   4.84   3.42%  24,608,052   4.84   4.62 B Update
ORI      2023-12-27 2023-12-27   8.45   8.40  -0.59%  17,549,640   8.55   8.20 B Insert
PTG      2023-12-27 2023-12-27   8.15   8.30   1.84% 161,397,152   9.15   8.15 B Insert
PTTGC    2023-12-27 2023-12-27  38.50  38.25  -0.65%  28,807,478  38.75  37.50 B Insert
RCL      2023-12-27 2023-12-27  23.40  24.50    4.7% 107,581,798  24.80  19.80 I Insert
SAPPE    2023-12-27 2023-12-27  84.00  86.25   2.68%   2,008,156  86.50  83.75 O Insert
SCC      2023-12-22 2023-12-27 296.00 301.00   1.69%   5,436,916 301.00 292.00 I Update
SENA     2023-12-26 2023-12-27   2.36   2.34  -0.85%     351,298   2.36   2.32 B Update
SINGER   2023-12-22 2023-12-27  12.00  11.50  -4.17%  35,744,864  12.30  11.50 B Update
STA      2023-12-27 2023-12-27  15.30  15.20  -0.65%   5,141,028  15.30  14.80 I Insert
SYNEX    2023-12-22 2023-12-27  10.30  10.20  -0.97%   2,982,668  10.50  10.20 B Update
TFFIF    2023-12-27 2023-12-27   6.50   6.55   0.77%   2,901,000   6.60   6.45 B Insert
TMT      2023-12-27 2023-12-27   6.10   6.15   0.82%     183,560   6.20   6.10 B Insert
TOA      2023-12-27 2023-12-27  22.80  22.60  -0.88%  20,672,120  22.80  21.90 I Insert
TTB      2023-12-22 2023-12-27   1.59   1.61   1.26% 290,546,152   1.61   1.59 O Update
WHAIR    2023-12-20 2023-12-27   5.40   5.55   2.78%   2,485,112   5.55   5.30 B Update
WHART    2023-12-21 2023-12-27   9.80  10.30    5.1%  13,241,008  10.30   9.70 B Update
=======================================================================================

In [20]:
os.chdir("C:\\users\\user\\onedrive\\a7\\Daily")
%pwd

'C:\\users\\user\\onedrive\\a7\\Daily'

### cd\ruby\port_lite
### rails runner db/ins_sales.rb

In [21]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a 
JOIN stocks t ON a.name = t.name 
WHERE to_date = '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % today
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a
JOIN stocks t ON a.name = t.name
WHERE to_date = '2023-12-27' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

In [22]:
df = pd.read_sql(sql, conlite)
#df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df.eval('diff = to_price - fm_price',inplace=True)
df['percent'] = round(df['diff']/df['fm_price']*100,2)
df.style.format(format_dict)

In [23]:
df_sort = df.sort_values(by=['percent'],ascending=[True]).copy()

In [24]:
df_sort.query('percent <= -5.00').style.format(format_dict)

In [25]:
df_sort.query('percent >= 5.00').style.format(format_dict)