In [10]:
import csv
import os
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup
from time import sleep, strftime

input_file = 'name-tmp.csv'
current_dir = '../Data Cleansing'
input_dir = os.path.join(os.path.dirname(current_dir), 'Data')
output_dir = os.path.join(os.path.dirname(current_dir), 'Data')
file_in = os.path.join(input_dir, input_file)
file_out = os.path.join(output_dir, "price-hilo-df.csv")
fo = open(file_out, "w")
fi = open(file_in, "r")
print(file_in, file_out)

..\Data\name-tmp.csv ..\Data\price-hilo-df.csv

In [2]:
header = 'name, today_low, today_high, year_low, year_high'
url = "https://www.set.or.th/th/market/product/stock/quote/"

start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  12:30 PM

In [3]:
with open(file_in, newline='', mode='r') as csv_file:
    reader = csv.reader(csv_file)
#     next(reader)  # Skip header row
    out_line = 'name,today_low,today_high,year_low,year_high'
    out_line += '\n'  
    fo.write(out_line)
    for row in reader:
        array = []
        name = row[0].upper()

        response = urlopen(url + name + '/price')
        html_page = soup(response, 'html.parser')
        array.append(name)
        
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        array.append(today_low)
             
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'        
        array.append(today_high)        
        
        year_low = values_low[1].text       
        array.append(year_low)
        
        year_high = values_high[1].text       
        array.append(year_high)       
            
        out_line = ','.join(array)
        print(out_line)         
        out_line += '\n'       
        fo.write(out_line)

        sleep(1)
        
fo.close()

ACE,1.53,1.58,1.40,2.72
ADVANC,213.00,215.00,194.00,231.00
AEONTS,151.00,153.50,145.00,208.00
AH,28.75,29.50,25.50,39.25
AIE,1.36,1.39,1.16,3.12
AIMIRT,10.70,10.70,10.00,12.50
AIT,3.78,3.82,3.60,7.00
AJ,6.35,6.50,6.10,14.10
AMATA,22.10,22.60,19.40,27.25
ANAN,0.83,0.85,0.70,1.49
AOT,60.50,61.50,58.00,75.50
AP,11.20,11.40,10.10,12.80
ASIAN,6.65,6.80,5.95,14.10
ASK,19.80,20.00,19.20,34.75
ASP,2.82,2.84,2.68,3.24
ASW,8.20,8.30,7.65,9.10
AWC,3.94,4.06,3.40,6.20
BA,14.80,15.10,11.80,17.60
BAM,8.05,8.20,7.75,16.50
BANPU,6.35,6.60,6.25,12.70
BAY,26.75,27.25,26.75,34.00
BBL,145.50,148.50,147.50,175.00
BCH,22.30,22.60,16.60,23.00
BCP,39.50,40.50,28.75,45.25
BCPG,8.15,8.35,8.25,10.60
BCT,59.00,59.00,48.00,61.00
BDMS,26.75,27.75,25.00,30.75
BE8,28.50,29.25,27.00,63.41
BEAUTY,0.59,0.61,0.42,1.63
BEC,4.78,4.88,4.80,10.90
BEM,7.50,7.70,7.50,10.10
BGC,7.65,7.75,7.15,10.40
BGRIM,26.00,27.00,21.80,42.75
BH,232.00,236.00,204.00,272.00
BJC,25.50,26.00,24.20,40.50
BKI,306.00,308.00,278.00,321.00
BLA,19.20,19.60,19.10,32.25
BLAND,0.79,0.80,0.67,1.06
BPP,14.20,14.50,13.00,17.50
BTS,7.05,7.15,5.40,8.75
BTSGIF,3.44,3.50,3.26,3.96
CBG,76.25,78.00,61.25,106.00
CENTEL,41.50,42.75,40.75,58.25
CHG,3.10,3.18,2.60,4.04
CK,21.10,21.70,17.80,24.10
CKP,3.84,3.90,2.98,4.74
COM7,21.50,22.20,21.40,33.50
CPALL,52.75,54.00,50.50,70.25
CPAXT,28.50,29.25,25.25,43.00
CPF,18.40,18.60,18.00,24.20
CPN,62.75,64.00,60.50,75.50
CPNCG,6.60,6.65,4.20,11.70
CPNREIT,11.20,11.40,9.40,21.30
CPTGF,5.40,5.50,4.82,7.85
CRC,37.00,38.00,36.25,47.50
DCC,1.60,1.66,1.37,2.90
DCON,0.46,0.48,0.39,0.55
DELTA,81.50,83.75,70.50,119.50
DIF,8.10,8.25,7.25,13.70
DOHOME,10.30,10.80,8.60,15.15
DRT,8.20,8.25,7.40,8.55
EA,39.00,40.50,39.75,91.25
EASTW,4.12,4.18,4.02,5.50
ECL,1.40,1.42,1.39,2.16
EGATIF,5.90,5.95,5.30,7.00
EGCO,127.00,131.00,114.50,176.50
EPG,7.60,7.90,6.00,9.35
FORTH,19.90,20.40,19.00,46.25
FPT,0.00,0.00,14.20,15.50
FSMART,6.95,7.10,6.60,17.50
FTREIT,10.10,10.20,9.34,12.39
GC,5.25,5.30,4.90,6.75
GFPT,11.20,11.50,9.70,13.70
GGC,9.00,9.60,7.90,15.20
GLOBAL,15.50,15.80,14.60,20.35
GPSC,46.25,48.50,37.00,75.00
GRAMMY,6.50,7.00,6.10,11.10
GULF,45.00,45.75,41.50,54.75
GUNKUL,2.90,2.96,2.24,5.15
GVREIT,6.10,6.15,5.45,9.90
HANA,48.25,50.25,36.00,66.25
HFT,4.42,4.50,3.94,6.95
HMPRO,10.90,11.30,11.20,15.10
HTC,15.50,15.80,14.75,21.25
ICHI,15.80,16.30,11.40,17.60
III,9.60,9.85,8.75,16.10
ILM,23.30,24.20,17.70,26.00
IMH,7.50,7.70,7.20,14.80
IMPACT,12.00,12.20,11.60,14.80
INOX,0.58,0.60,0.53,1.06
INTUCH,71.00,72.00,67.75,78.00
IP,8.95,9.10,8.15,15.70
IRPC,1.92,1.95,1.89,3.20
IVL,23.80,24.90,23.00,42.75
JASIF,6.20,6.30,5.70,8.30
JMART,15.90,16.50,13.10,41.75
JMT,24.30,25.50,23.30,67.75
KBANK,130.00,131.50,121.50,154.00
KCE,47.00,49.50,35.50,58.50
KEX,5.40,5.55,3.86,19.50
KGI,4.66,4.72,4.34,5.25
KKP,48.00,48.75,47.25,73.50
KSL,2.66,2.72,2.46,3.84
KTB,17.90,18.20,16.00,20.50
KTC,42.00,43.25,40.50,59.50
KYE,288.00,291.00,275.00,322.00
LALIN,8.00,8.05,7.85,9.50
LANNA,15.00,15.20,13.80,17.30
LH,7.60,7.75,7.20,10.00
LHFG,1.00,1.01,0.98,1.23
LHK,4.36,4.38,4.14,5.35
LIT,1.12,1.14,0.96,1.88
LPF,13.20,13.40,11.30,14.50
LPH,4.96,5.00,4.80,5.75
LPN,3.86,3.90,3.74,4.88
M,35.25,36.50,35.00,58.25
MAJOR,14.40,14.60,12.80,19.20
MBAX,3.44,3.48,3.06,5.65
MC,13.60,13.80,9.85,14.20
MCS,6.35,6.40,5.90,10.30
MEGA,41.50,43.25,34.75,52.50
MINT,26.75,27.75,25.75,35.00
MST,10.90,11.00,10.50,11.90
MTC,41.75,43.50,30.75,47.00
NER,5.05,5.20,4.40,6.70
NOBLE,3.94,4.02,3.46,5.90
ONEE,4.04,4.16,3.52,8.25
OR,18.30,18.60,17.60,23.80
ORI,8.40,8.55,8.05,12.90
OSP,21.40,21.80,20.70,33.00
PAP,2.66,2.66,2.26,4.08
PCSGH,5.20,5.35,4.40,5.70
PDG,2.58,2.58,2.40,3.52
PLANB,8.60,8.75,7.50,10.10
POPF,6.50,6.50,5.60,11.70
PREB,6.45,6.60,5.95,9.60
PRM,5.80,5.95,4.92,8.10
PSH,12.10,12.20,11.90,14.00
PSL,7.85,8.15,7.20,16.80
PTG,8.70,8.85,7.70,15.00
PTL,10.30,10.50,9.60,27.75
PTT,33.50,34.00,29.50,36.50
PTTEP,146.00,148.50,134.50,175.00
PTTGC,34.25,35.50,31.75,52.50
QH,2.18,2.22,2.16,2.48
RATCH,30.00,31.00,29.75,44.25
RBF,12.90,13.50,8.95,14.60
RCL,25.75,26.25,18.50,33.00
RJH,27.00,27.25,24.70,31.50
ROJNA,5.95,6.10,5.45,7.35
RS,13.30,13.50,13.20,16.73
S11,3.92,3.92,3.48,5.40
SABUY,4.98,5.05,4.86,13.60
SAPPE,83.25,86.75,37.00,100.00
SAT,18.20,18.40,17.10,21.80
SAWAD,38.75,40.75,40.00,61.00
SC,3.22,3.28,2.96,4.78
SCB,101.50,103.00,95.50,118.50
SCC,272.00,276.00,273.00,359.00
SCCC,133.50,135.50,130.00,163.00
SCGP,31.50,32.50,31.50,56.00
SENA,2.34,2.38,2.26,4.06
SGP,8.00,8.10,7.60,10.30
SINGER,10.80,11.20,7.20,29.50
SIRI,1.72,1.77,1.49,2.10
SIS,23.30,24.20,14.90,29.00
SJWD,13.20,13.60,10.80,22.30
SKN,4.56,4.62,3.98,5.60
SKR,10.00,10.20,8.75,13.80
SMPC,9.60,9.70,9.55,13.70
SNC,8.85,8.95,8.30,14.70
SPALI,19.10,19.40,17.10,24.80
SPC,0.00,0.00,60.25,66.75
SPCG,12.30,12.50,12.00,15.20
SPRC,7.75,7.95,7.20,11.80
SPRIME,4.82,4.84,4.68,7.35
SSP,8.00,8.20,5.30,9.36
STA,16.90,17.20,12.10,26.00
STANLY,227.00,230.00,171.50,233.00
STEC,8.85,9.10,7.95,14.80
STGT,7.10,7.30,5.70,12.00
SUPER,0.41,0.42,0.40,0.70
SUPEREIF,6.35,6.40,5.70,9.85
SVI,6.75,6.80,6.70,10.70
SYNEX,10.90,11.30,8.90,17.60
TASCO,16.30,16.60,15.60,21.00
TCAP,49.00,49.75,42.00,52.50
TFFIF,6.95,7.05,6.00,8.30
TFG,3.66,3.72,3.04,5.80
THANI,2.58,2.66,2.52,4.38
THG,52.50,53.25,49.75,72.00
TIDLOR,21.80,22.60,18.60,28.00
TIPH,29.25,30.50,28.50,53.75
TIPCO,9.30,9.40,8.75,12.60
TISCO,97.50,98.25,89.50,103.50
TK,5.50,5.60,4.92,8.90
TKN,10.20,10.60,8.65,14.40
TKS,6.80,7.00,5.00,13.90
TMT,6.10,6.15,6.00,8.45
TMW,48.50,50.00,35.00,53.25
TOA,22.20,22.70,19.20,36.50
TOP,52.00,53.00,42.25,60.25
TPIPL,1.39,1.42,1.32,1.89
TPIPP,3.38,3.42,3.22,3.54
TQM,28.50,29.25,24.70,44.00
TR,42.75,42.75,41.25,48.00
TRUE,5.20,5.40,5.00,9.00
TSE,2.12,2.28,1.64,2.64
TSTH,0.82,0.84,0.77,1.25
TTA,6.10,6.30,4.74,8.35
TTB,1.57,1.61,1.29,1.80
TTLPF,18.00,18.00,17.90,23.20
TTW,9.35,9.50,8.15,9.75
TU,14.90,15.60,12.40,16.60
TVO,21.30,21.60,20.50,29.25
TYCN,2.58,2.60,2.20,3.20
UTP,11.80,11.90,10.10,16.40
VGI,1.78,1.82,1.77,5.10
VIBHA,1.86,1.90,1.72,2.80
VNG,3.68,3.74,3.56,5.90
WHA,4.56,4.66,3.70,5.55
WHAIR,5.50,5.55,5.30,8.10
WHART,9.90,10.10,8.95,12.20
WHAUP,4.06,4.12,3.48,4.28
WICE,6.00,6.15,5.35,12.50
WORK,10.50,10.80,10.50,18.80

In [4]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  12:37 PM

In [5]:
prices = pd.read_csv(file_out)
prices.shape

(226, 5)

In [6]:
prices.query('today_low <= year_low')

      name  today_low  today_high  year_low  year_high
20     BAY      26.75       27.25     26.75      34.00
21     BBL     145.50      148.50    147.50     175.00
24    BCPG       8.15        8.35      8.25      10.60
29     BEC       4.78        4.88      4.80      10.90
30     BEM       7.50        7.70      7.50      10.10
61      EA      39.00       40.50     39.75      91.25
68     FPT       0.00        0.00     14.20      15.50
82   HMPRO      10.90       11.30     11.20      15.10
155  SAWAD      38.75       40.75     40.00      61.00
158    SCC     272.00      276.00    273.00     359.00
160   SCGP      31.50       32.50     31.50      56.00
172    SPC       0.00        0.00     60.25      66.75
225   WORK      10.50       10.80     10.50      18.80

In [7]:
prices.query('today_low <= year_low').shape[0]

13

In [8]:
prices.query('today_high >= year_high')

Empty DataFrame
Columns: [name, today_low, today_high, year_low, year_high]
Index: []

In [9]:
prices.query('today_high >= year_high').shape[0]

0

In [9]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
url = "https://www.set.or.th/en/market/product/stock/quote/"

input_file = 'name-tmp.csv'
current_dir = '../Daily'
input_dir = os.path.join(os.path.dirname(current_dir), 'Data')
output_dir = os.path.join(os.path.dirname(current_dir), 'Data')
file_in = os.path.join(input_dir, input_file)
file_out = os.path.join(output_dir, "price-hilo-df.csv")
print(file_in, file_out)

..\Data\name-tmp.csv ..\Data\price-hilo-df.csv

In [15]:
# output_columns = ['name', 'today_low', 'today_high', 'year_low', 'year_high']
# output_df = pd.DataFrame(columns=output_columns) 
# output_df.dtypes

name          object
today_low     object
today_high    object
year_low      object
year_high     object
dtype: object

In [23]:
def get_stock_data(input_df):
    # Assuming the first row is header, use `usecols` parameter of read_csv method to skip it.
    input_df = pd.read_csv(file_in, header=0, usecols=['Name'])
    
    output_columns = ['name', 'today_low', 'today_high', 'year_low', 'year_high']
    output_df = pd.DataFrame(columns=output_columns)  # create an empty dataframe with required columns
    
    for index, row in input_df.iterrows():
        name = str(row['Name']).upper()
        response = request.urlopen(url + name + '/price')
        html_page = BeautifulSoup(response, 'html.parser')
        
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'         
        
        year_low = values_low[1].text        
        year_high = values_high[1].text        
#         output_row = pd.DataFrame([(name, today_low, today_high, year_low, year_high)], index=output_columns)
        output_row = pd.DataFrame([name, today_low, today_high, year_low, year_high])        
        
        # append new row to the output dataframe
        output_df = output_df.append(output_row, ignore_index=True)
#         sleep(1)   # to avoid overloading the server and getting blocked
    
    return output_df  # return the final dataframe with all values populated

In [24]:
input_df = pd.read_csv(file_in, header=0, usecols=['Name'])
output_df = get_stock_data(input_df)
output_df.dtypes

0             object
name          object
today_high    object
today_low     object
year_high     object
year_low      object
dtype: object

In [20]:
output_df

,0,1,2,3,4,name,today_high,today_low,year_high,year_low
0,ACE,1.52,1.58,1.40,2.72,NaN,NaN,NaN,NaN,NaN
1,ACE,1.52,1.58,1.40,2.72,NaN,NaN,NaN,NaN,NaN
2,ACE,1.52,1.58,1.40,2.72,NaN,NaN,NaN,NaN,NaN
3,ACE,1.52,1.58,1.40,2.72,NaN,NaN,NaN,NaN,NaN
4,ACE,1.52,1.58,1.40,2.72,NaN,NaN,NaN,NaN,NaN
5,ADVANC,213.00,215.00,194.00,231.00,NaN,NaN,NaN,NaN,NaN
6,ADVANC,213.00,215.00,194.00,231.00,NaN,NaN,NaN,NaN,NaN
7,ADVANC,213.00,215.00,194.00,231.00,NaN,NaN,NaN,NaN,NaN
8,ADVANC,213.00,215.00,194.00,231.00,NaN,NaN,NaN,NaN,NaN
9,ADVANC,213.00,215.00,194.00,231.00,NaN,NaN,NaN,NaN,NaN
10,AEONTS,151.00,153.50,145.00,208.00,NaN,NaN,NaN,NaN,NaN
11,AEONTS,151.00,153.50,145.00,208.00,NaN,NaN,NaN,NaN,NaN
12,AEONTS,151.00,153.50,145.00,208.00,NaN,NaN,NaN,NaN,NaN
13,AEONTS,151.00,153.50,145.00,208.00,NaN,NaN,NaN,NaN,NaN
14,AEONTS,151.00,153.50,145.00,208.00,NaN,NaN,NaN,NaN,NaN
15,AH,28.75,29.75,25.50,39.25,NaN,NaN,NaN,NaN,NaN
16,AH,28.75,29.75,25.50,39.25,NaN,NaN,NaN,NaN,NaN
17,AH,28.75,29.75,25.50,39.25,NaN,NaN,NaN,NaN,NaN
18,AH,28.75,29.75,25.50,39.25,NaN,NaN,NaN,NaN,NaN
19,AH,28.75,29.75,25.50,39.25,NaN,NaN,NaN,NaN,NaN
20,AIE,1.36,1.39,1.16,3.12,NaN,NaN,NaN,NaN,NaN
21,AIE,1.36,1.39,1.16,3.12,NaN,NaN,NaN,NaN,NaN
22,AIE,1.36,1.39,1.16,3.12,NaN,NaN,NaN,NaN,NaN
23,AIE,1.36,1.39,1.16,3.12,NaN,NaN,NaN,NaN,NaN
24,AIE,1.36,1.39,1.16,3.12,NaN,NaN,NaN,NaN,NaN
25,AIMIRT,10.60,10.70,10.00,12.50,NaN,NaN,NaN,NaN,NaN
26,AIMIRT,10.60,10.70,10.00,12.50,NaN,NaN,NaN,NaN,NaN
27,AIMIRT,10.60,10.70,10.00,12.50,NaN,NaN,NaN,NaN,NaN
28,AIMIRT,10.60,10.70,10.00,12.50,NaN,NaN,NaN,NaN,NaN
29,AIMIRT,10.60,10.70,10.00,12.50,NaN,NaN,NaN,NaN,NaN
30,AIT,3.78,3.82,3.60,7.00,NaN,NaN,NaN,NaN,NaN
31,AIT,3.78,3.82,3.60,7.00,NaN,NaN,NaN,NaN,NaN
32,AIT,3.78,3.82,3.60,7.00,NaN,NaN,NaN,NaN,NaN
33,AIT,3.78,3.82,3.60,7.00,NaN,NaN,NaN,NaN,NaN
34,AIT,3.78,3.82,3.60,7.00,NaN,NaN,NaN,NaN,NaN
35,AJ,6.35,6.50,6.10,14.10,NaN,NaN,NaN,NaN,NaN
36,AJ,6.35,6.50,6.10,14.10,NaN,NaN,NaN,NaN,NaN
37,AJ,6.35,6.50,6.10,14.10,NaN,NaN,NaN,NaN,NaN
38,AJ,6.35,6.50,6.10,14.10,NaN,NaN,NaN,NaN,NaN
39,AJ,6.35,6.50,6.10,14.10,NaN,NaN,NaN,NaN,NaN
40,AMATA,22.10,23.10,19.40,27.25,NaN,NaN,NaN,NaN,NaN
41,AMATA,22.10,23.10,19.40,27.25,NaN,NaN,NaN,NaN,NaN
42,AMATA,22.10,23.10,19.40,27.25,NaN,NaN,NaN,NaN,NaN
43,AMATA,22.10,23.10,19.40,27.25,NaN,NaN,NaN,NaN,NaN
44,AMATA,22.10,23.10,19.40,27.25,NaN,NaN,NaN,NaN,NaN
45,ANAN,0.83,0.85,0.70,1.49,NaN,NaN,NaN,NaN,NaN
46,ANAN,0.83,0.85,0.70,1.49,NaN,NaN,NaN,NaN,NaN
47,ANAN,0.83,0.85,0.70,1.49,NaN,NaN,NaN,NaN,NaN
48,ANAN,0.83,0.85,0.70,1.49,NaN,NaN,NaN,NaN,NaN
49,ANAN,0.83,0.85,0.70,1.49,NaN,NaN,NaN,NaN,NaN

In [2]:
output_df.to_csv(file_out)  # write the output dataframe to a new CSV file

NameError: name 'file_in' is not defined