In [1]:
import numpy as np
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

year = 2025
quarter = 1
current_time = datetime.now()
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time )

2025-05-17 21:31:33

In [2]:
# Must modify select date to latest unprocess date
select_date = date(2025, 5, 16)
select_date = select_date.strftime("%Y-%m-%d")
select_date

'2025-05-16'

In [3]:
cols = "name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y".split()
colt = "year quarter q_amt y_amt aq_amt ay_amt".split()
colu = 'name year quarter latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt q_amt_p'.split() 
colv = 'name year quarter kind latest_amt_y previous_amt_y inc_amt_y inc_pct_y \
        latest_amt_q previous_amt_q inc_amt_q inc_pct_q q_amt_c y_amt \
        inc_amt_py inc_pct_py q_amt_p inc_amt_pq inc_pct_pq \
        ticker_id mean_pct std_pct'.split()
colw = 'name year quarter kind_x latest_amt_y_x previous_amt_y_x inc_amt_y_x inc_pct_y_x \
        latest_amt_q_x previous_amt_q_x inc_amt_q_x inc_pct_q_x q_amt_c_x y_amt_x \
        inc_amt_py_x inc_pct_py_x q_amt_p_x inc_amt_pq_x inc_pct_pq_x \
        ticker_id_x mean_pct_x std_pct_x'.split()

format_dict = {
    'q_amt': '{:,}',
    'y_amt': '{:,}',
    'yoy_gain': '{:,}',
    'q_amt_c': '{:,}',
    'q_amt_p': '{:,}',
    'aq_amt': '{:,}',
    'ay_amt': '{:,}',
    'acc_gain': '{:,}',
    'latest_amt': '{:,}',
    'previous_amt': '{:,}',
    'inc_amt': '{:,}',
    'inc_amt_pq': '{:,}',
    'inc_amt_py': '{:,}',    
    'latest_amt_q': '{:,}',
    'previous_amt_q': '{:,}',
    'inc_amt_q': '{:,}',
    'latest_amt_y': '{:,}',
    'previous_amt_y': '{:,}',
    'inc_amt_y': '{:,}',
    'kind_x': '{:,}',
    'inc_pct': '{:.2f}%',
    'inc_pct_q': '{:.2f}%',
    'inc_pct_y': '{:.2f}%',
    'inc_pct_pq': '{:.2f}%',
    'inc_pct_py': '{:.2f}%',   
    'mean_pct': '{:.2f}%',
    'std_pct': '{:.2f}%',      
}

### Process for specified stocks

In [5]:
names = """
IP
""".split()
names

['IP']

In [6]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'IP'"

In [7]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND name IN (%s)
"""
sql = sql % (year, quarter, in_p)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

### End of Process for specified stocks

In [9]:
sql = """
SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= '%s'
"""
sql = sql % (year, quarter, select_date)
print(sql)
epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT name,year,quarter,q_amt,y_amt,aq_amt,ay_amt
FROM epss
WHERE year = 2025 AND quarter = 1
AND publish_date >= '2025-05-16'

### End of Normal Process

In [11]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM qt_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
qt_pf = pd.read_sql(sql, conlt)
qt_pf.shape

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM qt_profits
WHERE year = 2025 AND quarter = 'Q1'

(200, 7)

In [12]:
df_merge = pd.merge(epss, qt_pf, on=["name"], suffixes=(["_e", "_q"]), how="inner")
df_merge.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [14]:
columns = ["year_q", "quarter_q"]
epssqt_pf = df_merge.drop(columns, axis=1)
epssqt_pf.head(5).style.format(format_dict)

In [15]:
sql = """
SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct 
FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'
"""
sql = sql % (year, quarter)
print(sql)
yr_pf = pd.read_sql(sql, conlt)
yr_pf.style.format(format_dict)

SELECT name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct
FROM yr_profits
WHERE year = 2025 AND quarter = 'Q1'

In [16]:
df_merge2 = pd.merge(
    epssqt_pf, yr_pf, on=["name"], suffixes=(["_q", "_y"]), how="inner"
)
df_merge2.head(5).style.format(format_dict)

### Delete duplicated year and quarter

In [18]:
columns = ["year_e", "quarter_e"]
profits = df_merge2.drop(columns, axis=1)
profits.head().style.format(format_dict)

### profits criteria
1. Yearly profit amount > 440 millions
2. Previous yearly gain amount > 400 millions
3. Yearly gain percent >= 10 percent
4. YoY Profit Higher

In [20]:
profits[profits["name"] == "GULF"].style.format(format_dict)

In [21]:
criteria_1 = profits.latest_amt_y > 440_000
profits.loc[criteria_1, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [22]:
criteria_2 = profits.previous_amt_y >= 400_000
profits.loc[criteria_2, cols].sort_values(by=["name"], ascending=True).style.format(format_dict)

In [23]:
criteria_3 = profits.inc_pct_y >= 10.00
profits.loc[criteria_3, cols].style.format(format_dict)

In [24]:
criteria_4 = (profits.q_amt > profits.y_amt)
colt = 'name q_amt y_amt inc_amt_q inc_pct_q'.split()
profits.loc[criteria_4,colt].sort_values(['inc_pct_q'],ascending=[False]).style.format(format_dict)

In [25]:
profits_criteria = criteria_1 & criteria_2 & criteria_3 & criteria_4
#profits_criteria = criteria_1 & criteria_2 
filter = profits.loc[profits_criteria]
filter.sort_values('name').style.format(format_dict)

In [26]:
columns = 'year quarter q_amt y_amt aq_amt ay_amt'.split()
pre_final = filter.drop(columns, axis=1)
pre_final.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [27]:
final = pre_final.loc[:,:]
final.style.format(format_dict)

In [28]:
final.sort_values(by=["name"], ascending=True).style.format(format_dict)

In [29]:
sql = """
SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p 
FROM epss A JOIN epss B ON a.name = B.name 
WHERE A.year = %s AND A.quarter = %s 
AND B.year = %s-1 AND B.quarter = %s"""
sql = sql % (year, quarter, year, quarter)
print(sql)

SELECT A.name,A.year,A.quarter,A.q_amt AS q_amt_c,A.y_amt,B.q_amt AS q_amt_p
FROM epss A JOIN epss B ON a.name = B.name
WHERE A.year = 2025 AND A.quarter = 1
AND B.year = 2025-1 AND B.quarter = 1

In [30]:
epss2 = pd.read_sql(sql, conlt)
epss2.head().style.format(format_dict)

In [31]:
df_merge3 = pd.merge(final, epss2, on=["name"], suffixes=(["_f", "_e"]), how="inner")
df_merge3.style.format(format_dict)

### The fifth criteria, added on 2022q1

In [33]:
mask = (df_merge3.q_amt_c > df_merge3.q_amt_p)
df_merge3 = df_merge3[mask]
df_merge3

,name,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,year,quarter,q_amt_c,y_amt,q_amt_p
0,GULF,36054658,18170334,17884324,98.43,36054658,14857734,21196924,142.67,2025,1,21382850,17922660,3498526
1,SPC,2660307,2545377,114930,4.52,2660307,2230666,429641,19.26,2025,1,671439,556509,556509
2,SSP,788418,754395,34023,4.51,788418,601061,187357,31.17,2025,1,238247,204224,204224

In [34]:
final2 = df_merge3[colu].copy()
final2.style.format(format_dict)

### If there is no record in the above statement, no need to further process

In [36]:
def better(vals):
    current, previous = vals
    if current > previous:
        return 1
    else:
        return 0

In [37]:
final2["kind"] = final2[["q_amt_c", "q_amt_p"]].apply(better, axis=1)

In [38]:
final2.kind.value_counts()

kind
1    3
Name: count, dtype: int64

In [39]:
final2["inc_amt_py"] = final2["q_amt_c"] - final2["y_amt"]
final2["inc_pct_py"] = final2["inc_amt_py"] / abs(final2["y_amt"]) * 100

final2["inc_amt_pq"] = final2["q_amt_c"] - final2["q_amt_p"]
final2["inc_pct_pq"] = final2["inc_amt_pq"] / abs(final2["q_amt_p"]) * 100

In [40]:
final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

C:\Users\PC1\AppData\Local\Temp\ipykernel_482120\3023047653.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final2["inc_pct_py"].replace("inf", np.nan, inplace=True)

In [41]:
final2["mean_pct"] = final2[
    ["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]
].mean(axis=1, skipna=True)

In [42]:
final2[["name", "mean_pct"]].sort_values(by=["mean_pct"], ascending=False)

   name    mean_pct
0  GULF  192.900551
2   SSP   17.249824
1   SPC   16.270979

In [43]:
final2["std_pct"] = final2[["inc_pct_y", "inc_pct_q", "inc_pct_py", "inc_pct_pq"]].std(
    axis=1
)

In [44]:
final2[["name", "std_pct"]].sort_values(by=["std_pct"], ascending=True)

   name     std_pct
1   SPC    7.861418
2   SSP   10.905213
0  GULF  218.246616

In [45]:
sql = "SELECT name, id, market FROM tickers"
tickers = pd.read_sql(sql, conlt)
tickers.head().style.format(format_dict)

In [46]:
df_merge4 = pd.merge(final2, tickers, on="name", how="inner")
df_merge4.rename(columns={"id": "ticker_id"}, inplace=True)

final3 = df_merge4[colv].copy()
final3.style.format(format_dict)

In [47]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)

SELECT *
FROM profits
WHERE year = 2025 AND quarter = 1
ORDER BY name

In [48]:
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

In [49]:
df_merge = pd.merge(
    final3, profits, on=["name", "year", "quarter"], how="outer", indicator=True
)
df_merge.head().style.format(format_dict)

In [50]:
final4 = df_merge[df_merge["_merge"] == "left_only"]
final4

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,y_amt_y,inc_amt_py_y,inc_pct_py_y,q_amt_p_y,inc_amt_pq_y,inc_pct_pq_y,ticker_id_y,mean_pct_y,std_pct_y,_merge
0,GULF,2025,1,1,36054658,14857734,21196924,142.67,36054658,18170334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,SPC,2025,1,1,2660307,2230666,429641,19.26,2660307,2545377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,SSP,2025,1,1,788418,601061,187357,31.17,788418,754395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [51]:
final5 = final4[colw]
final5.sort_values('name')

,name,year,quarter,kind_x,latest_amt_y_x,previous_amt_y_x,inc_amt_y_x,inc_pct_y_x,latest_amt_q_x,previous_amt_q_x,...,q_amt_c_x,y_amt_x,inc_amt_py_x,inc_pct_py_x,q_amt_p_x,inc_amt_pq_x,inc_pct_pq_x,ticker_id_x,mean_pct_x,std_pct_x
0,GULF,2025,1,1,36054658,14857734,21196924,142.67,36054658,18170334,...,21382850,17922660,3460190,19.306230,3498526,17884324,511.195972,653,192.900551,218.246616
1,SPC,2025,1,1,2660307,2230666,429641,19.26,2660307,2545377,...,671439,556509,114930,20.651957,556509,114930,20.651957,463,16.270979,7.861418
2,SSP,2025,1,1,788418,601061,187357,31.17,788418,754395,...,238247,204224,34023,16.659648,204224,34023,16.659648,643,17.249824,10.905213

In [52]:
rcds = final5.values.tolist()
len(rcds)

3

In [53]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
print(sql)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

SELECT *
FROM profits
WHERE year = 2025 AND quarter = 1
ORDER BY name

In [54]:
for rcd in rcds:
    print(rcd)

['GULF', 2025, 1, 1, 36054658, 14857734, 21196924, 142.67, 36054658, 18170334, 17884324, 98.43, 21382850, 17922660, 3460190, 19.306230213595526, 3498526, 17884324, 511.19597224659753, 653, 192.90055061504825, 218.24661635853548]
['SPC', 2025, 1, 1, 2660307, 2230666, 429641, 19.26, 2660307, 2545377, 114930, 4.52, 671439, 556509, 114930, 20.65195711120575, 556509, 114930, 20.65195711120575, 463, 16.270978555602873, 7.861418286344371]
['SSP', 2025, 1, 1, 788418, 601061, 187357, 31.17, 788418, 754395, 34023, 4.51, 238247, 204224, 34023, 16.659648229395174, 204224, 34023, 16.659648229395174, 643, 17.24982411469759, 10.905213283904937]

In [55]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

# Insert data using transactions
try:
    with conlt.begin():  # Transaction block
        conlt.execute(sql, records_dicts)  # Bulk insert using named parameters
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
finally:
    conlt.commit()

Error inserting data: This connection has already initialized a SQLAlchemy Transaction() object via begin() or autobegin; can't call begin() here unless rollback() or commit() is called first.

In [56]:
sql = """
SELECT *
FROM profits
WHERE year = %s AND quarter = %s
ORDER BY name"""
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conlt)
profits.head().style.format(format_dict)

### End of Create Data

In [58]:
sql = """
SELECT name, market
FROM tickers"""
tickers = pd.read_sql(sql, conlt)
tickers.shape

(394, 2)

In [59]:
df_merge = pd.merge(final5, tickers, on='name', how='inner')
df_merge[['name','market']].sort_values('name').style.format(format_dict)

### Insert Profits from PortLt to PortMy

In [61]:
names = final5.name
names

0    GULF
1     SPC
2     SSP
Name: name, dtype: object

In [62]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'GULF', 'SPC', 'SSP'"

In [63]:
#quarter = 4
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('GULF', 'SPC', 'SSP') AND year = 2025 AND quarter = 1

In [152]:
profits_inp = pd.read_sql(sql, conlt)
profits_inp.head().style.format(format_dict)

In [154]:
profits_inp.sort_values(by=["kind", "name"], ascending=[True, True]).style.format(format_dict)

KeyError: 'kind'

In [66]:
rcds = profits_inp.values.tolist()
len(rcds)

0

In [67]:
for rcd in rcds:
    print(rcd)

In [68]:
sql = """
INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO profits (id, name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq, ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [69]:
# Define SQL statement using named placeholders
sql = text("""
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (:name, :year, :quarter, :kind,
:latest_amt_y, :previous_amt_y, :inc_amt_y, :inc_pct_y,
:latest_amt_q, :previous_amt_q, :inc_amt_q, :inc_pct_q,
:q_amt_c, :y_amt, :inc_amt_py, :inc_pct_py,
:q_amt_p, :inc_amt_pq, :inc_pct_pq,
:ticker_id, :mean_pct, :std_pct)
""")

# Convert list data to dictionaries for named parameters
columns = [
    "name", "year", "quarter", "kind",
    "latest_amt_y", "previous_amt_y", "inc_amt_y", "inc_pct_y",
    "latest_amt_q", "previous_amt_q", "inc_amt_q", "inc_pct_q",
    "q_amt_c", "y_amt", "inc_amt_py", "inc_pct_py",
    "q_amt_p", "inc_amt_pq", "inc_pct_pq",
    "ticker_id", "mean_pct", "std_pct"
]

records_dicts = [dict(zip(columns, rcd)) for rcd in rcds]

# Insert data using transactions
try:
    with conmy.begin():  # Transaction block
        conmy.execute(sql, records_dicts)  # Bulk insert using named parameters
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)
finally:
    conmy.commit()

Error inserting data: (sqlalchemy.exc.InvalidRequestError) A value is required for bind parameter 'name'
[SQL:
INSERT INTO profits (name, year, quarter, kind,
latest_amt_y, previous_amt_y, inc_amt_y, inc_pct_y,
latest_amt_q, previous_amt_q, inc_amt_q, inc_pct_q,
q_amt_c, y_amt, inc_amt_py, inc_pct_py,
q_amt_p, inc_amt_pq, inc_pct_pq,
ticker_id, mean_pct, std_pct)
VALUES (?, ?, ?, ?,
?, ?, ?, ?,
?, ?, ?, ?,
?, ?, ?, ?,
?, ?, ?,
?, ?, ?)
]
(Background on this error at: https://sqlalche.me/e/20/cd3x)

In [70]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
df_tmp = pd.read_sql(sql, conmy)
df_tmp.set_index("name", inplace=True)
df_tmp.index

Index(['2759', '2760', '2761', '2762', '2763', '2764', '2765', '2766', '2767',
       '2768', '2769', '2770', '2771', '2772', '2773', '2774', '2775', '2776',
       '2777'],
      dtype='object', name='name')

### After call 150-Export-to-PortPg

In [72]:
sql = """
SELECT * 
FROM profits 
WHERE name IN (%s) AND year = %s AND quarter = %s"""
sql = sql % (in_p, year, quarter)
print(sql)

SELECT *
FROM profits
WHERE name IN ('GULF', 'SPC', 'SSP') AND year = 2025 AND quarter = 1

In [73]:
profits_inp = pd.read_sql(sql, conpg)
profits_inp[['name','ticker_id']].sort_values(by=[ "name"], ascending=[True])

Empty DataFrame
Columns: [name, ticker_id]
Index: []

In [74]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('GULF', 'SPC', 'SSP')
ORDER BY name

In [75]:
tickers = pd.read_sql(sql, conpg)
tickers[['name','id','market']].sort_values(by=[ "name"], ascending=[True])

   name   id                     market
0  GULF  207  SET50 / SETCLMV / SETTHSI
1   SPC  471                        SET
2   SSP  486             sSET / SETCLMV

### Additional process to find stocks in SET50 & SET100

In [77]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'SPCG', 'SABUY', 'BCP', 'BE8', 'BGC', 'BJC', 'BKIH', 'DELTA', 'EASTW', 'EGCO', 'GC', 'GGC', 'GULF', 'HFT', 'III', 'IP', 'KGI', 'LALIN', 'ONEE', 'PSH', 'PSL', 'RJH', 'S11', 'SKN', 'SMPC', 'SPC', 'SPRC', 'SSP', 'SUPER', 'THANI', 'TSE', 'TTA', 'TYCN', 'UTP'"

In [78]:
sql = """
SELECT * 
FROM tickers
WHERE name IN (%s)
ORDER BY name"""
sql = sql % in_p
print(sql)

SELECT *
FROM tickers
WHERE name IN ('SPCG', 'SABUY', 'BCP', 'BE8', 'BGC', 'BJC', 'BKIH', 'DELTA', 'EASTW', 'EGCO', 'GC', 'GGC', 'GULF', 'HFT', 'III', 'IP', 'KGI', 'LALIN', 'ONEE', 'PSH', 'PSL', 'RJH', 'S11', 'SKN', 'SMPC', 'SPC', 'SPRC', 'SSP', 'SUPER', 'THANI', 'TSE', 'TTA', 'TYCN', 'UTP')
ORDER BY name

In [79]:
df = pd.read_sql(sql, conlt)
df

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,52,BCP,BANGCHAK CORPORATION PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV / SETTHSI,www.bangchak.co.th,2017-07-23 06:30:48.761380,2021-07-07 03:34:13.600451
1,745,BE8,BERYL 8 PLUS PUBLIC COMPANY LIMITED,Technology,Technology,mai,www.beryl8.com,2022-08-05 10:20:13.082282,2022-08-05 10:20:13.082282
2,677,BGC,BG CONTAINER GLASS PUBLIC COMPANY LIMITED,Industrials,Packaging,sSET / SETCLMV / SETTHSI,www.bgc.co.th,2019-03-03 03:43:37.662577,2022-01-15 03:54:12.688218
3,65,BJC,BERLI JUCKER PUBLIC COMPANY LIMITED,Services,Commerce,SETCLMV / SETTHSI / SETWB,www.bjc.co.th,2017-07-23 06:30:50.362737,2022-01-15 03:54:12.695208
4,68,BKIH,BANGKOK INSURANCE PUBLIC COMPANY LIMITED,Financials,Insurance,SET,www.bangkokinsurance.com,2017-07-23 06:30:50.764348,2017-07-23 06:30:50.764348
5,138,DELTA,DELTA ELECTRONICS (THAILAND) PUBLIC COMPANY LI...,Technology,Electronic Components,SET,www.deltathailand.com,2017-07-23 06:31:00.997874,2022-01-15 03:54:12.754970
6,151,EASTW,EASTERN WATER RESOURCES DEVELOPMENT AND MANAGE...,Resources,Energy & Utilities,SETTHSI,www.eastwater.com,2017-07-23 06:31:03.278563,2022-01-15 03:54:12.776395
7,157,EGCO,ELECTRICITY GENERATING PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETHD / SETTHSI,www.egco.com,2017-07-23 06:31:04.161619,2021-07-07 03:34:13.705244
8,183,GC,GLOBAL CONNECTIONS PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,SET,www.gc.co.th,2017-07-23 06:31:07.933967,2017-07-23 06:31:07.933967
9,188,GGC,GLOBAL GREEN CHEMICALS PUBLIC COMPANY LIMITED,Industrials,Petrochemicals & Chemicals,sSET,www.ggcplc.com,2017-07-23 06:31:08.778581,2022-01-15 03:54:12.807302
10,653,GULF,GULF ENERGY DEVELOPMENT PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET50 / SETCLMV / SETTHSI,www.gulf.co.th,2017-12-21 13:43:30.426842,2021-01-26 15:41:59.507480
11,207,HFT,HWA FONG RUBBER (THAILAND) PUBLIC COMPANY LIMITED,Industrials,Automotive,sSET,www.duro.co.th,2017-07-23 06:31:13.934713,2021-01-26 15:41:59.525849
12,637,III,TRIPLE I LOGISTICS PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,sSET,www.iii-logistics.com,2017-09-01 02:49:07.120556,2018-08-12 12:53:54.151421
13,736,IP,INTER PHARMA PUBLIC COMPANY LIMITED,Consumer Products,Consumer Products,mai,www.interpharma.co.th,2021-10-25 15:07:42.612339,2021-10-25 15:07:42.612339
14,252,KGI,KGI SECURITIES (THAILAND) PUBLIC COMPANY LIMITED,Financials,Finance & Securities,sSET,www.kgieworld.co.th,2017-07-23 06:31:20.067638,2017-12-27 02:26:15.538255
15,263,LALIN,LALIN PROPERTY PUBLIC COMPANY LIMITED,Property & Construction,Property Development,sSET,www.lalinproperty.com,2017-07-23 06:31:21.351487,2021-01-26 15:41:59.652212
16,741,ONEE,THE ONE ENTERPRISE PUBLIC COMPANY LIMITED,Services,Media & Publishing,SET100,www.theoneenterprise.com,2022-07-03 00:17:44.125032,2022-07-03 00:17:44.125032
17,377,PSH,PRUKSA HOLDING PUBLIC COMPANY LIMITED,Property & Construction,Property Development,SETTHSI,www.psh.co.th,2017-07-23 06:31:36.425256,2021-01-26 15:41:59.827209
18,734,PSL,PRECIOUS SHIPPING PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,SET100,www.preciousshipping.com,2021-08-29 06:31:32.538618,2022-01-15 03:54:13.014148
19,399,RJH,RAJTHANEE HOSPITAL PUBLIC COMPANY LIMITED,Services,Health Care Services,sSET,www.rajthanee.com,2017-07-23 06:31:39.891624,2017-12-27 02:26:19.042854
20,412,S11,S 11 GROUP PUBLIC COMPANY LIMITED,Financials,Finance & Securities,sSET,www.sgroup.co.th,2017-07-23 06:31:42.031741,2021-01-26 15:41:59.898759
21,721,SABUY,SABUY TECHNOLOGY PUBLIC COMPANY LIMITED,Services,Commerce,SET,www.sabuytechnology.com,2021-03-16 02:33:57.952553,2022-01-15 03:54:13.051513
22,642,SKN,S.KIJCHAI ENTERPRISE PUBLIC COMPANY LIMITED,Property & Construction,Construction Materials,sSET,www.skn.co.th,2017-10-13 05:33:23.808784,2021-07-07 03:34:13.989298
23,455,SMPC,SAHAMITR PRESSURE CONTAINER PUBLIC COMPANY LIM...,Industrials,Packaging,sSET,www.smpcplc.com,2017-07-23 06:31:48.564852,2021-01-26 15:41:59.994716
24,463,SPC,SAHA PATHANAPIBUL PUBLIC COMPANY LIMITED,Services,Commerce,SET,www.sahapat.co.th,2017-07-23 06:31:49.614868,2017-07-23 06:31:49.614868
25,464,SPCG,SPCG PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET,www.spcg.co.th,2017-07-23 06:31:49.791002,2017-07-23 06:31:49.791002
26,470,SPRC,STAR PETROLEUM REFINING PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV,www.sprc.co.th,2017-07-23 06:31:50.615829,2021-01-26 15:42:00.011693
27,643,SSP,SERMSANG POWER CORPORATION PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET / SETCLMV,www.sermsang.com,2017-10-13 05:33:24.004267,2021-01-26 15:42:00.032186
28,487,SUPER,SUPER ENERGY CORPORATION PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,SET100 / SETCLMV,www.supercorp.co.th,2017-07-23 06:31:52.722805,2021-01-26 15:42:00.060439
29,522,THANI,RATCHTHANI LEASING PUBLIC COMPANY LIMITED,Financials,Finance & Securities,SET100 / SETHD / SETTHSI,www.ratchthani.com,2017-07-23 06:31:58.264521,2022-01-15 03:54:13.160978
30,573,TSE,THAI SOLAR ENERGY PUBLIC COMPANY LIMITED,Resources,Energy & Utilities,sSET,www.thaisolarenergy.com,2017-07-23 06:32:07.987353,2019-11-19 07:11:30.547854
31,579,TTA,THORESEN THAI AGENCIES PUBLIC COMPANY LIMITED,Services,Transportation & Logistics,SET100 / SETWB,www.thoresen.com,2017-07-23 06:32:08.938394,2022-01-15 03:54:13.222818
32,737,TYCN,"TYCOONS WORLDWIDE GROUP (THAILAND) PUBLIC CO.,...",Industrials,Steel and Metal Products,SET,www.tycons.com,2021-11-04 15:13:03.928246,2021-11-04 15:13:03.928246
33,605,UTP,UNITED PAPER PUBLIC COMPANY LIMITED,Industrials,Paper & Printing Materials,sSET / SETCLMV,www.unitedpaper.co.th,2017-07-23 06:32:13.163845,2018-08-12 12:54:15.398741

In [80]:
#conlt.commit()
#conlt.close()

In [81]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:05:17 21:31:34