### Restart and Run All

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3')
conlt = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)
pd.set_option('display.max_rows',None)

year = 2024
quarter = 2

today = date.today()
today

datetime.date(2024, 8, 17)

In [2]:
sql = '''
SELECT name,year,quarter,q_amt
FROM epss 
WHERE (year = %s AND quarter <= %s) 
OR (year = %s-1 AND quarter >= %s+1)
ORDER BY year DESC, quarter DESC'''
sql = sql % (year,quarter,year,quarter)
print(sql)

SELECT name,year,quarter,q_amt
FROM epss
WHERE (year = 2024 AND quarter <= 2)
OR (year = 2024-1 AND quarter >= 2+1)
ORDER BY year DESC, quarter DESC

In [3]:
dfc = pd.read_sql(sql, conlt)
dfc['Counter'] = 1
dfc_grp = dfc.groupby(['name'], as_index=False).sum()
dfc_grp = dfc_grp[dfc_grp['Counter'] == 4]
dfc_grp.shape

(208, 5)

In [4]:
sql = '''
SELECT name,year,quarter,q_amt
FROM epss 
WHERE (year = %s-1 AND quarter <= %s) 
OR (year = %s-2 AND quarter >= %s+1)
ORDER BY year DESC, quarter DESC'''
sql = sql % (year,quarter,year,quarter)
dfp = pd.read_sql(sql, conlt)
dfp['Counter'] = 1
dfp_grp = dfp.groupby(['name'], as_index=False).sum()
dfp_grp = dfp_grp[dfp_grp['Counter'] == 4]
dfp_grp.shape

(228, 5)

In [5]:
dfm = pd.merge(dfc_grp, dfp_grp, on='name', suffixes=(['_c','_p']), how='inner')
dfm['inc_profit'] = dfm['q_amt_c']-dfm['q_amt_p']
dfm['Pct'] = round(dfm['inc_profit']/abs(dfm['q_amt_p'])*100,2)
dfm['year'] = year
dfm['quarter'] = 'Q'+str(quarter)
df_pct = dfm[['name','year','quarter','q_amt_c','q_amt_p','inc_profit','Pct']]
df_pct.sort_values(['Pct'],ascending=[False]).head()

      name  year quarter   q_amt_c  q_amt_p  inc_profit       Pct
31   BGRIM  2024      Q2   1414472     3082     1411390 45,794.61
10     AOT  2024      Q2  16935192 -1336443    18271635  1,367.18
196    TVO  2024      Q2   1424881   152924     1271957    831.76
106    MCS  2024      Q2    355652   -78224      433876    554.66
87   JMART  2024      Q2   1034475   174480      859995    492.89

In [6]:
sql = """
DELETE FROM yr_profits 
WHERE year = %s AND quarter = 'Q%s'"""
sql = sql % (year, quarter)
rp = conlt.execute(sql)
rp.rowcount

153

In [7]:
sql = 'SELECT name, id FROM tickers'
tickers = pd.read_sql(sql, conlt)
df_ins = pd.merge(df_pct, tickers, on='name', how='inner')
rcds = df_ins.values.tolist()
len(rcds)

208

In [8]:
for rcd in rcds:
    print(rcd)

['3BBIF', 2024, 'Q2', -8991660, -739216, -8252444, -1116.38, 234]
['ACE', 2024, 'Q2', 956502, 1166351, -209849, -17.99, 698]
['ADVANC', 2024, 'Q2', 32177272, 27332445, 4844827, 17.73, 6]
['AH', 2024, 'Q2', 1060857, 1983193, -922336, -46.51, 9]
['AIE', 2024, 'Q2', 102313, -186609, 288922, 154.83, 720]
['AIMIRT', 2024, 'Q2', 670135, 693288, -23153, -3.34, 669]
['AIT', 2024, 'Q2', 555202, 473640, 81562, 17.22, 11]
['AJ', 2024, 'Q2', -151991, -536546, 384555, 71.67, 12]
['AMATA', 2024, 'Q2', 1774219, 1944361, -170142, -8.75, 21]
['ANAN', 2024, 'Q2', -442568, -115177, -327391, -284.25, 23]
['AOT', 2024, 'Q2', 16935192, -1336443, 18271635, 1367.18, 24]
['AP', 2024, 'Q2', 5308711, 5596465, -287754, -5.14, 25]
['ASIAN', 2024, 'Q2', 736167, 532125, 204042, 38.34, 36]
['ASK', 2024, 'Q2', 735634, 1541463, -805829, -52.28, 38]
['ASP', 2024, 'Q2', 394400, 536435, -142035, -26.48, 40]
['ASW', 2024, 'Q2', 1501832, 1059831, 442001, 41.7, 728]
['AWC', 2024, 'Q2', 5345833, 4976058, 369775, 7.43, 699]
['BA', 2024, 'Q2', 4150642, 1302119, 2848523, 218.76, 45]
['BAM', 2024, 'Q2', 1722296, 2274028, -551732, -24.26, 709]
['BANPU', 2024, 'Q2', 3380063, 22008425, -18628362, -84.64, 47]
['BAY', 2024, 'Q2', 31579476, 32562537, -983061, -3.02, 49]
['BBL', 2024, 'Q2', 42543193, 36649261, 5893932, 16.08, 50]
['BCH', 2024, 'Q2', 1464161, 404804, 1059357, 261.7, 51]
['BCP', 2024, 'Q2', 14294750, 6141670, 8153080, 132.75, 52]
['BCPG', 2024, 'Q2', 2075021, 1649752, 425269, 25.78, 53]
['BDMS', 2024, 'Q2', 15250260, 13032398, 2217862, 17.02, 54]
['BE8', 2024, 'Q2', 177193, 218029, -40836, -18.73, 745]
['BEAUTY', 2024, 'Q2', -68416, -47952, -20464, -42.68, 55]
['BEC', 2024, 'Q2', 217008, 338762, -121754, -35.94, 56]
['BEM', 2024, 'Q2', 3679126, 3115812, 563314, 18.08, 57]
['BGC', 2024, 'Q2', 352740, 327996, 24744, 7.54, 677]
['BGRIM', 2024, 'Q2', 1414472, 3082, 1411390, 45794.61, 59]
['BH', 2024, 'Q2', 7591881, 6378422, 1213459, 19.02, 61]
['BJC', 2024, 'Q2', 3986500, 5024768, -1038268, -20.66, 65]
['BKIH', 2024, 'Q2', 2881406, 4203494, -1322088, -31.45, 68]
['BLA', 2024, 'Q2', 3058138, 2767010, 291128, 10.52, 70]
['BPP', 2024, 'Q2', 3526211, 5587009, -2060798, -36.89, 74]
['CBG', 2024, 'Q2', 2497887, 1628806, 869081, 53.36, 87]
['CENTEL', 2024, 'Q2', 1421220, 1169423, 251797, 21.53, 92]
['CHG', 2024, 'Q2', 1055826, 990256, 65570, 6.62, 98]
['CK', 2024, 'Q2', 1406435, 1387269, 19166, 1.38, 106]
['CKP', 2024, 'Q2', 1177550, 1430935, -253385, -17.71, 107]
['COM7', 2024, 'Q2', 2853388, 3212242, -358854, -11.17, 114]
['CPALL', 2024, 'Q2', 22479825, 15375843, 7103982, 46.2, 116]
['CPAXT', 2024, 'Q2', 9615847, 7755165, 1860682, 23.99, 283]
['CPF', 2024, 'Q2', 6386787, 3401879, 2984908, 87.74, 117]
['CPN', 2024, 'Q2', 16847868, 12601908, 4245960, 33.69, 121]
['CPNCG', 2024, 'Q2', 350127, -121193, 471320, 388.9, 122]
['CPNREIT', 2024, 'Q2', 2381051, 2180742, 200309, 9.19, 647]
['CPTGF', 2024, 'Q2', 518658, 329796, 188862, 57.27, 690]
['CRC', 2024, 'Q2', 8111293, 8220076, -108783, -1.32, 708]
['DCC', 2024, 'Q2', 1175781, 1281637, -105856, -8.26, 135]
['DCON', 2024, 'Q2', 143279, 186164, -42885, -23.04, 136]
['DELTA', 2024, 'Q2', 21012587, 16583448, 4429139, 26.71, 138]
['DIF', 2024, 'Q2', 7709341, 7271169, 438172, 6.03, 140]
['DOHOME', 2024, 'Q2', 724459, 299480, 424979, 141.91, 701]
['DRT', 2024, 'Q2', 647192, 591759, 55433, 9.37, 143]
['EA', 2024, 'Q2', 4556596, 9622562, -5065966, -52.65, 148]
['EASTW', 2024, 'Q2', 124678, 434330, -309652, -71.29, 151]
['ECL', 2024, 'Q2', 70080, 153521, -83441, -54.35, 153]
['EGATIF', 2024, 'Q2', 931036, 740119, 190917, 25.8, 156]
['EGCO', 2024, 'Q2', -8810596, 2826239, -11636835, -411.74, 157]
['FORTH', 2024, 'Q2', 333588, 819355, -485767, -59.29, 176]
['FPT', 2024, 'Q2', 1694740, 2033577, -338837, -16.66, 746]
['FSMART', 2024, 'Q2', 342279, 290059, 52220, 18.0, 178]
['GC', 2024, 'Q2', 180884, 163925, 16959, 10.35, 183]
['GFPT', 2024, 'Q2', 1778500, 1782162, -3662, -0.21, 187]
['GGC', 2024, 'Q2', -480979, 91029, -572008, -628.38, 188]
['GLOBAL', 2024, 'Q2', 2575233, 2887847, -312614, -10.83, 193]
['GPSC', 2024, 'Q2', 4559811, 1321422, 3238389, 245.07, 197]
['GRAMMY', 2024, 'Q2', 108816, 306321, -197505, -64.48, 198]
['GULF', 2024, 'Q2', 16362607, 13227185, 3135422, 23.7, 653]
['GUNKUL', 2024, 'Q2', 1328385, 2636355, -1307970, -49.61, 202]
['GVREIT', 2024, 'Q2', 553273, 645471, -92198, -14.28, 654]
['HANA', 2024, 'Q2', 1548281, 2393988, -845707, -35.33, 205]
['HFT', 2024, 'Q2', 411723, 245081, 166642, 67.99, 207]
['HMPRO', 2024, 'Q2', 6545104, 6417062, 128042, 2.0, 208]
['HTC', 2024, 'Q2', 590423, 564133, 26290, 4.66, 212]
['ICHI', 2024, 'Q2', 1365766, 862460, 503306, 58.36, 216]
['III', 2024, 'Q2', 783875, 866172, -82297, -9.5, 637]
['ILM', 2024, 'Q2', 767790, 674079, 93711, 13.9, 725]
['IMH', 2024, 'Q2', -35755, 53493, -89248, -166.84, 730]
['INOX', 2024, 'Q2', 80081, -570088, 650169, 114.05, 674]
['INTUCH', 2024, 'Q2', 14273818, 10917236, 3356582, 30.75, 224]
['IP', 2024, 'Q2', 18602, 110079, -91477, -83.1, 736]
['IRPC', 2024, 'Q2', -165839, -11642820, 11476981, 98.58, 227]
['IVL', 2024, 'Q2', -34095200, -1907172, -32188028, -1687.74, 231]
['JMART', 2024, 'Q2', 1034475, 174480, 859995, 492.89, 236]
['JMT', 2024, 'Q2', 1791731, 1949379, -157648, -8.09, 237]
['KBANK', 2024, 'Q2', 46808339, 35500119, 11308220, 31.85, 245]
['KCE', 2024, 'Q2', 2148385, 1877202, 271183, 14.45, 249]
['KEX', 2024, 'Q2', -4296752, -3441619, -855133, -24.85, 740]
['KKP', 2024, 'Q2', 4225059, 7006617, -2781558, -39.7, 255]
['KTB', 2024, 'Q2', 38666712, 36781791, 1884921, 5.12, 258]
['KTC', 2024, 'Q2', 7247036, 7115915, 131121, 1.84, 259]
['LALIN', 2024, 'Q2', 646481, 1046696, -400215, -38.24, 263]
['LANNA', 2024, 'Q2', 1731945, 2571391, -839446, -32.65, 264]
['LH', 2024, 'Q2', 6926239, 7045487, -119248, -1.69, 267]
['LHFG', 2024, 'Q2', 1785000, 2035694, -250694, -12.31, 268]
['LIT', 2024, 'Q2', -127772, -107068, -20704, -19.34, 273]
['LPH', 2024, 'Q2', 63121, 123855, -60734, -49.04, 275]
['LPN', 2024, 'Q2', 300493, 505501, -205008, -40.56, 276]
['M', 2024, 'Q2', 1644878, 1512936, 131942, 8.72, 279]
['MAJOR', 2024, 'Q2', 811754, 699407, 112347, 16.06, 282]
['MBAX', 2024, 'Q2', 23247, 11180, 12067, 107.93, 288]
['MC', 2024, 'Q2', 693640, 847819, -154179, -18.19, 291]
['MCS', 2024, 'Q2', 355652, -78224, 433876, 554.66, 293]
['MEGA', 2024, 'Q2', 1999194, 2041967, -42773, -2.09, 295]
['MINT', 2024, 'Q2', 7097121, 8797837, -1700716, -19.33, 301]
['MST', 2024, 'Q2', 352296, 485646, -133350, -27.46, 290]
['MTC', 2024, 'Q2', 5469902, 4607095, 862807, 18.73, 315]
['NER', 2024, 'Q2', 1706373, 1668497, 37876, 2.27, 680]
['NOBLE', 2024, 'Q2', 929044, 660067, 268977, 40.75, 328]
['ONEE', 2024, 'Q2', 481948, 483497, -1549, -0.32, 741]
['OR', 2024, 'Q2', 11622280, 5688956, 5933324, 104.3, 715]
['ORI', 2024, 'Q2', 1963101, 3552233, -1589132, -44.74, 339]
['OSP', 2024, 'Q2', 2507341, 1907687, 599654, 31.43, 681]
['PAP', 2024, 'Q2', -142355, -210955, 68600, 32.52, 342]
['PCSGH', 2024, 'Q2', 663273, 689648, -26375, -3.82, 346]
['PDG', 2024, 'Q2', 58898, 16648, 42250, 253.78, 347]
['PLANB', 2024, 'Q2', 996876, 784671, 212205, 27.04, 358]
['POPF', 2024, 'Q2', 389846, 289704, 100142, 34.57, 364]
['PREB', 2024, 'Q2', 182969, 247123, -64154, -25.96, 372]
['PRM', 2024, 'Q2', 2279362, 2791103, -511741, -18.33, 639]
['PSH', 2024, 'Q2', 894037, 3481101, -2587064, -74.32, 377]
['PSL', 2024, 'Q2', 1284035, 2261776, -977741, -43.23, 734]
['PTG', 2024, 'Q2', 1278443, 562221, 716222, 127.39, 381]
['PTT', 2024, 'Q2', 128499042, 74717895, 53781147, 71.98, 383]
['PTTEP', 2024, 'Q2', 79045883, 80103369, -1057486, -1.32, 384]
['PTTGC', 2024, 'Q2', 7747806, -19861090, 27608896, 139.01, 385]
['QH', 2024, 'Q2', 2350897, 2557314, -206417, -8.07, 388]
['RATCH', 2024, 'Q2', 5421807, 5579140, -157333, -2.82, 394]
['RBF', 2024, 'Q2', 623108, 504134, 118974, 23.6, 703]
['RCL', 2024, 'Q2', 1774094, 10533168, -8759074, -83.16, 396]
['RJH', 2024, 'Q2', 453791, 335122, 118669, 35.41, 399]
['ROJNA', 2024, 'Q2', 1652478, 954903, 697575, 73.05, 404]
['RS', 2024, 'Q2', 1033921, 253583, 780338, 307.72, 408]
['S11', 2024, 'Q2', -74134, 280743, -354877, -126.41, 412]
['SABUY', 2024, 'Q2', -5411667, 1365128, -6776795, -496.42, 721]
['SAPPE', 2024, 'Q2', 1250242, 919543, 330699, 35.96, 420]
['SAT', 2024, 'Q2', 808232, 968299, -160067, -16.53, 421]
['SAWAD', 2024, 'Q2', 5180194, 4745364, 434830, 9.16, 423]
['SC', 2024, 'Q2', 2068507, 2714912, -646405, -23.81, 425]
['SCB', 2024, 'Q2', 41953187, 40314721, 1638466, 4.06, 426]
['SCC', 2024, 'Q2', 7439793, 27209192, -19769399, -72.66, 427]
['SCCC', 2024, 'Q2', 3303243, 1113800, 2189443, 196.57, 428]
['SCGP', 2024, 'Q2', 5721181, 4991985, 729196, 14.61, 713]
['SENA', 2024, 'Q2', 378928, 476657, -97729, -20.5, 437]
['SGP', 2024, 'Q2', 2613772, -1066174, 3679946, 345.15, 441]
['SINGER', 2024, 'Q2', 78329, -2784892, 2863221, 102.81, 446]
['SIRI', 2024, 'Q2', 5559485, 6262643, -703158, -11.23, 447]
['SIS', 2024, 'Q2', 994095, 609103, 384992, 63.21, 449]
['SJWD', 2024, 'Q2', 1081664, 585087, 496577, 84.87, 242]
['SKN', 2024, 'Q2', 546871, 490634, 56237, 11.46, 642]
['SKR', 2024, 'Q2', 852874, 898322, -45448, -5.06, 451]
['SMPC', 2024, 'Q2', 539472, 481100, 58372, 12.13, 455]
['SNC', 2024, 'Q2', -181952, 402861, -584813, -145.16, 457]
['SPALI', 2024, 'Q2', 5420826, 7701503, -2280677, -29.61, 462]
['SPC', 2024, 'Q2', 2762619, 1890263, 872356, 46.15, 463]
['SPCG', 2024, 'Q2', 1161115, 2303869, -1142754, -49.6, 464]
['SPRC', 2024, 'Q2', 3944796, -5652256, 9597052, 169.79, 470]
['SPRIME', 2024, 'Q2', 287309, 225748, 61561, 27.27, 705]
['SSP', 2024, 'Q2', 671532, 655311, 16221, 2.48, 643]
['STA', 2024, 'Q2', -533553, 2541650, -3075203, -120.99, 481]
['STEC', 2024, 'Q2', 240201, 777168, -536967, -69.09, 484]
['STGT', 2024, 'Q2', 530344, 130935, 399409, 305.04, 714]
['SUPER', 2024, 'Q2', -705552, 455043, -1160595, -255.05, 487]
['SUPEREIF', 2024, 'Q2', 282189, 340669, -58480, -17.17, 706]
['SVI', 2024, 'Q2', 1392397, 1516551, -124154, -8.19, 491]
['SYNEX', 2024, 'Q2', 602375, 624370, -21995, -3.52, 495]
['TASCO', 2024, 'Q2', 540207, 3435558, -2895351, -84.28, 502]
['TCAP', 2024, 'Q2', 6934534, 5768137, 1166397, 20.22, 503]
['TFFIF', 2024, 'Q2', 9492158, 1996055, 7496103, 375.55, 686]
['TFG', 2024, 'Q2', -278185, 3359137, -3637322, -108.28, 513]
['THANI', 2024, 'Q2', 1009347, 1680611, -671264, -39.94, 522]
['THG', 2024, 'Q2', 5196, 1016203, -1011007, -99.49, 661]
['TIDLOR', 2024, 'Q2', 4103540, 3600747, 502793, 13.96, 723]
['TIPCO', 2024, 'Q2', -155032, 489364, -644396, -131.68, 530]
['TIPH', 2024, 'Q2', 1614088, 1810466, -196378, -10.85, 529]
['TISCO', 2024, 'Q2', 7138157, 7224280, -86123, -1.19, 531]
['TK', 2024, 'Q2', 2185, 179794, -177609, -98.78, 532]
['TKN', 2024, 'Q2', 944621, 662122, 282499, 42.67, 533]
['TKS', 2024, 'Q2', 83739, 532842, -449103, -84.28, 534]
['TMT', 2024, 'Q2', 218369, 190603, 27766, 14.57, 545]
['TOA', 2024, 'Q2', 2476909, 2014216, 462693, 22.97, 645]
['TOP', 2024, 'Q2', 25181677, 5829749, 19351928, 331.95, 555]
['TPIPL', 2024, 'Q2', 2749672, 4598321, -1848649, -40.2, 559]
['TPIPP', 2024, 'Q2', 3228910, 3083893, 145017, 4.7, 560]
['TQM', 2024, 'Q2', 846272, 807446, 38826, 4.81, 688]
['TRUE', 2024, 'Q2', -15524656, -5239379, -10285277, -196.31, 571]
['TSE', 2024, 'Q2', -3182626, 599637, -3782263, -630.76, 573]
['TTA', 2024, 'Q2', 1926393, 2099373, -172980, -8.24, 579]
['TTB', 2024, 'Q2', 20290643, 16422761, 3867882, 23.55, 541]
['TTLPF', 2024, 'Q2', 256645, 283610, -26965, -9.51, 707]
['TTW', 2024, 'Q2', 2838516, 2753927, 84589, 3.07, 581]
['TU', 2024, 'Q2', -13611744, 5818867, -19430611, -333.92, 582]
['TVO', 2024, 'Q2', 1424881, 152924, 1271957, 831.76, 585]
['TYCN', 2024, 'Q2', -16578, 152065, -168643, -110.9, 737]
['UTP', 2024, 'Q2', 828475, 615163, 213312, 34.68, 605]
['VGI', 2024, 'Q2', -1626545, -358505, -1268040, -353.7, 609]
['VIBHA', 2024, 'Q2', 953845, 859075, 94770, 11.03, 610]
['VNG', 2024, 'Q2', 487700, -139404, 627104, 449.85, 726]
['WHA', 2024, 'Q2', 5690363, 4489004, 1201359, 26.76, 619]
['WHAIR', 2024, 'Q2', 469112, 547148, -78036, -14.26, 211]
['WHART', 2024, 'Q2', 2240626, 2655166, -414540, -15.61, 622]
['WHAUP', 2024, 'Q2', 1695696, 909289, 786407, 86.49, 623]
['WICE', 2024, 'Q2', 265276, 715972, -450696, -62.95, 624]
['WORK', 2024, 'Q2', -4915, 178676, -183591, -102.75, 628]

In [9]:
sql = """INSERT INTO yr_profits (name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, ticker_id) \
 VALUES (?, ?, ?, ?, ?, ?, ?, ?)"""
print(sql)

INSERT INTO yr_profits (name, year, quarter, latest_amt, previous_amt, inc_amt, inc_pct, ticker_id)  VALUES (?, ?, ?, ?, ?, ?, ?, ?)

In [10]:
for rcd in rcds:
    conlt.execute(sql, rcd)

### End of loop

In [11]:
cols = 'name year quarter q_amt_c q_amt_p inc_profit Pct'.split()

In [12]:
criteria_1 = df_ins.q_amt_c > 440000
df_ins.loc[criteria_1,cols].sort_values(['Pct'],ascending=[False]).head()

      name  year quarter   q_amt_c  q_amt_p  inc_profit       Pct
31   BGRIM  2024      Q2   1414472     3082     1411390 45,794.61
10     AOT  2024      Q2  16935192 -1336443    18271635  1,367.18
196    TVO  2024      Q2   1424881   152924     1271957    831.76
87   JMART  2024      Q2   1034475   174480      859995    492.89
201    VNG  2024      Q2    487700  -139404      627104    449.85

In [13]:
criteria_2 = df_ins.q_amt_p > 300000
df_ins.loc[criteria_2,cols].sort_values(['Pct'],ascending=[False]).head()

      name  year quarter   q_amt_c  q_amt_p  inc_profit    Pct
172  TFFIF  2024      Q2   9492158  1996055     7496103 375.55
185    TOP  2024      Q2  25181677  5829749    19351928 331.95
22     BCH  2024      Q2   1464161   404804     1059357 261.70
69    GPSC  2024      Q2   4559811  1321422     3238389 245.07
17      BA  2024      Q2   4150642  1302119     2848523 218.76

In [14]:
criteria_3 = df_ins.Pct > 5.0
df_ins.loc[criteria_3,cols].sort_values(['Pct'],ascending=[False]).head()

      name  year quarter   q_amt_c  q_amt_p  inc_profit       Pct
31   BGRIM  2024      Q2   1414472     3082     1411390 45,794.61
10     AOT  2024      Q2  16935192 -1336443    18271635  1,367.18
196    TVO  2024      Q2   1424881   152924     1271957    831.76
106    MCS  2024      Q2    355652   -78224      433876    554.66
87   JMART  2024      Q2   1034475   174480      859995    492.89

In [15]:
df_ins_criteria = criteria_1 & criteria_2 & criteria_3
df_ins.loc[df_ins_criteria,cols].sort_values(['Pct'],ascending=[False])

        name  year quarter    q_amt_c   q_amt_p  inc_profit    Pct
172    TFFIF  2024      Q2    9492158   1996055     7496103 375.55
185      TOP  2024      Q2   25181677   5829749    19351928 331.95
22       BCH  2024      Q2    1464161    404804     1059357 261.70
69      GPSC  2024      Q2    4559811   1321422     3238389 245.07
17        BA  2024      Q2    4150642   1302119     2848523 218.76
145     SCCC  2024      Q2    3303243   1113800     2189443 196.57
23       BCP  2024      Q2   14294750   6141670     8153080 132.75
126      PTG  2024      Q2    1278443    562221      716222 127.39
114       OR  2024      Q2   11622280   5688956     5933324 104.30
45       CPF  2024      Q2    6386787   3401879     2984908  87.74
205    WHAUP  2024      Q2    1695696    909289      786407  86.49
152     SJWD  2024      Q2    1081664    585087      496577  84.87
135    ROJNA  2024      Q2    1652478    954903      697575  73.05
127      PTT  2024      Q2  128499042  74717895    53781147  71.98
151      SIS  2024      Q2     994095    609103      384992  63.21
78      ICHI  2024      Q2    1365766    862460      503306  58.36
49     CPTGF  2024      Q2     518658    329796      188862  57.27
37       CBG  2024      Q2    2497887   1628806      869081  53.36
43     CPALL  2024      Q2   22479825  15375843     7103982  46.20
158      SPC  2024      Q2    2762619   1890263      872356  46.15
181      TKN  2024      Q2     944621    662122      282499  42.67
15       ASW  2024      Q2    1501832   1059831      442001  41.70
112    NOBLE  2024      Q2     929044    660067      268977  40.75
12     ASIAN  2024      Q2     736167    532125      204042  38.34
139    SAPPE  2024      Q2    1250242    919543      330699  35.96
134      RJH  2024      Q2     453791    335122      118669  35.41
198      UTP  2024      Q2     828475    615163      213312  34.68
46       CPN  2024      Q2   16847868  12601908     4245960  33.69
89     KBANK  2024      Q2   46808339  35500119    11308220  31.85
116      OSP  2024      Q2    2507341   1907687      599654  31.43
83    INTUCH  2024      Q2   14273818  10917236     3356582  30.75
120    PLANB  2024      Q2     996876    784671      212205  27.04
202      WHA  2024      Q2    5690363   4489004     1201359  26.76
53     DELTA  2024      Q2   21012587  16583448     4429139  26.71
60    EGATIF  2024      Q2     931036    740119      190917  25.80
24      BCPG  2024      Q2    2075021   1649752      425269  25.78
44     CPAXT  2024      Q2    9615847   7755165     1860682  23.99
71      GULF  2024      Q2   16362607  13227185     3135422  23.70
132      RBF  2024      Q2     623108    504134      118974  23.60
192      TTB  2024      Q2   20290643  16422761     3867882  23.55
184      TOA  2024      Q2    2476909   2014216      462693  22.97
38    CENTEL  2024      Q2    1421220   1169423      251797  21.53
171     TCAP  2024      Q2    6934534   5768137     1166397  20.22
32        BH  2024      Q2    7591881   6378422     1213459  19.02
110      MTC  2024      Q2    5469902   4607095      862807  18.73
29       BEM  2024      Q2    3679126   3115812      563314  18.08
2     ADVANC  2024      Q2   32177272  27332445     4844827  17.73
6        AIT  2024      Q2     555202    473640       81562  17.22
25      BDMS  2024      Q2   15250260  13032398     2217862  17.02
21       BBL  2024      Q2   42543193  36649261     5893932  16.08
103    MAJOR  2024      Q2     811754    699407      112347  16.06
146     SCGP  2024      Q2    5721181   4991985      729196  14.61
90       KCE  2024      Q2    2148385   1877202      271183  14.45
176   TIDLOR  2024      Q2    4103540   3600747      502793  13.96
80       ILM  2024      Q2     767790    674079       93711  13.90
155     SMPC  2024      Q2     539472    481100       58372  12.13
153      SKN  2024      Q2     546871    490634       56237  11.46
200    VIBHA  2024      Q2     953845    859075       94770  11.03
35       BLA  2024      Q2    3058138   2767010      291128  10.52
56       DRT  2024      Q2     647192    591759       55433   9.37
48   CPNREIT  2024      Q2    2381051   2180742      200309   9.19
141    SAWAD  2024      Q2    5180194   4745364      434830   9.16
102        M  2024      Q2    1644878   1512936      131942   8.72
16       AWC  2024      Q2    5345833   4976058      369775   7.43
39       CHG  2024      Q2    1055826    990256       65570   6.62
54       DIF  2024      Q2    7709341   7271169      438172   6.03
93       KTB  2024      Q2   38666712  36781791     1884921   5.12

In [16]:
df_ins.loc[df_ins_criteria,cols].sort_values(['name'],ascending=[True])

        name  year quarter    q_amt_c   q_amt_p  inc_profit    Pct
2     ADVANC  2024      Q2   32177272  27332445     4844827  17.73
6        AIT  2024      Q2     555202    473640       81562  17.22
12     ASIAN  2024      Q2     736167    532125      204042  38.34
15       ASW  2024      Q2    1501832   1059831      442001  41.70
16       AWC  2024      Q2    5345833   4976058      369775   7.43
17        BA  2024      Q2    4150642   1302119     2848523 218.76
21       BBL  2024      Q2   42543193  36649261     5893932  16.08
22       BCH  2024      Q2    1464161    404804     1059357 261.70
23       BCP  2024      Q2   14294750   6141670     8153080 132.75
24      BCPG  2024      Q2    2075021   1649752      425269  25.78
25      BDMS  2024      Q2   15250260  13032398     2217862  17.02
29       BEM  2024      Q2    3679126   3115812      563314  18.08
32        BH  2024      Q2    7591881   6378422     1213459  19.02
35       BLA  2024      Q2    3058138   2767010      291128  10.52
37       CBG  2024      Q2    2497887   1628806      869081  53.36
38    CENTEL  2024      Q2    1421220   1169423      251797  21.53
39       CHG  2024      Q2    1055826    990256       65570   6.62
43     CPALL  2024      Q2   22479825  15375843     7103982  46.20
44     CPAXT  2024      Q2    9615847   7755165     1860682  23.99
45       CPF  2024      Q2    6386787   3401879     2984908  87.74
46       CPN  2024      Q2   16847868  12601908     4245960  33.69
48   CPNREIT  2024      Q2    2381051   2180742      200309   9.19
49     CPTGF  2024      Q2     518658    329796      188862  57.27
53     DELTA  2024      Q2   21012587  16583448     4429139  26.71
54       DIF  2024      Q2    7709341   7271169      438172   6.03
56       DRT  2024      Q2     647192    591759       55433   9.37
60    EGATIF  2024      Q2     931036    740119      190917  25.80
69      GPSC  2024      Q2    4559811   1321422     3238389 245.07
71      GULF  2024      Q2   16362607  13227185     3135422  23.70
78      ICHI  2024      Q2    1365766    862460      503306  58.36
80       ILM  2024      Q2     767790    674079       93711  13.90
83    INTUCH  2024      Q2   14273818  10917236     3356582  30.75
89     KBANK  2024      Q2   46808339  35500119    11308220  31.85
90       KCE  2024      Q2    2148385   1877202      271183  14.45
93       KTB  2024      Q2   38666712  36781791     1884921   5.12
102        M  2024      Q2    1644878   1512936      131942   8.72
103    MAJOR  2024      Q2     811754    699407      112347  16.06
110      MTC  2024      Q2    5469902   4607095      862807  18.73
112    NOBLE  2024      Q2     929044    660067      268977  40.75
114       OR  2024      Q2   11622280   5688956     5933324 104.30
116      OSP  2024      Q2    2507341   1907687      599654  31.43
120    PLANB  2024      Q2     996876    784671      212205  27.04
126      PTG  2024      Q2    1278443    562221      716222 127.39
127      PTT  2024      Q2  128499042  74717895    53781147  71.98
132      RBF  2024      Q2     623108    504134      118974  23.60
134      RJH  2024      Q2     453791    335122      118669  35.41
135    ROJNA  2024      Q2    1652478    954903      697575  73.05
139    SAPPE  2024      Q2    1250242    919543      330699  35.96
141    SAWAD  2024      Q2    5180194   4745364      434830   9.16
145     SCCC  2024      Q2    3303243   1113800     2189443 196.57
146     SCGP  2024      Q2    5721181   4991985      729196  14.61
151      SIS  2024      Q2     994095    609103      384992  63.21
152     SJWD  2024      Q2    1081664    585087      496577  84.87
153      SKN  2024      Q2     546871    490634       56237  11.46
155     SMPC  2024      Q2     539472    481100       58372  12.13
158      SPC  2024      Q2    2762619   1890263      872356  46.15
171     TCAP  2024      Q2    6934534   5768137     1166397  20.22
172    TFFIF  2024      Q2    9492158   1996055     7496103 375.55
176   TIDLOR  2024      Q2    4103540   3600747      502793  13.96
181      TKN  2024      Q2     944621    662122      282499  42.67
184      TOA  2024      Q2    2476909   2014216      462693  22.97
185      TOP  2024      Q2   25181677   5829749    19351928 331.95
192      TTB  2024      Q2   20290643  16422761     3867882  23.55
198      UTP  2024      Q2     828475    615163      213312  34.68
200    VIBHA  2024      Q2     953845    859075       94770  11.03
202      WHA  2024      Q2    5690363   4489004     1201359  26.76
205    WHAUP  2024      Q2    1695696    909289      786407  86.49