In [12]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

year = "2024"
quarter = "4"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2025-01-01'

In [14]:
today = date(2024, 11, 27)
today_str = today.strftime("%Y-%m-%d")
today_str

'2024-11-27'

### Tables in the process

In [17]:
cols = 'name year quarter q_amt y_amt yoy_gain yoy_pct'.split()
colt = 'name year quarter q_amt y_amt yoy_gain yoy_pct aq_amt ay_amt acc_gain acc_pct'.split()

format_dict = {
                'q_amt':'{:,}','y_amt':'{:,}','aq_amt':'{:,}','ay_amt':'{:,}',
                'yoy_gain':'{:,}','acc_gain':'{:,}',    
                'q_eps':'{:.4f}','y_eps':'{:.4f}','aq_eps':'{:.4f}','ay_eps':'{:.4f}',
                'yoy_pct':'{:.2f}%','acc_pct':'{:.2f}%'
              }

In [21]:
pd.read_sql_query('SELECT * FROM EPSS ORDER BY id DESC LIMIT 2', conlt).style.format(format_dict)

In [23]:
sql = """
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date = '%s'
"""
sql = sql % (year, quarter, today_str)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.head().style.format(format_dict)

SELECT *
FROM epss
WHERE year = 2024 AND quarter = 4
AND publish_date = '2024-11-27'

In [25]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = round(epss["yoy_gain"] / abs(epss["y_amt"]) * 100, 2)
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = round(epss["acc_gain"] / abs(epss["ay_amt"]) * 100,2)

df_pct = epss[colt]
df_pct.head().style.format(format_dict)

In [27]:
criteria_1 = df_pct.q_amt > 110_000
df_pct.loc[criteria_1,cols].style.format(format_dict)

In [29]:
criteria_2 = df_pct.y_amt > 100_000
df_pct.loc[criteria_2, cols].style.format(format_dict)

In [31]:
criteria_3 = df_pct.yoy_pct > 10.00
df_pct.loc[criteria_3, cols].style.format(format_dict)

In [33]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3
#df_pct_criteria = criteria_1 & criteria_2 
df_pct.loc[df_pct_criteria, cols].style.format(format_dict)

In [35]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False]).style.format(format_dict)

In [37]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [39]:
names = epss['name']
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'GVREIT', 'TFFIF'"

### If new records pass filter criteria then proceed to create quarterly profits process.

In [14]:
#name = "TTB"
sql = """
SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name IN (%s)
ORDER BY E.name, year DESC, quarter DESC 
"""
sql = sql % (in_p)
print(sql)

epss = pd.read_sql(sql, conlt)
epss.style.format(format_dict)

SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name
WHERE E.name IN ('LPF', 'TSTH', 'AEONTS')
ORDER BY E.name, year DESC, quarter DESC

### Delete from profits of older profit stocks

In [15]:
#in_p = "'CPTGF'"
in_p

"'LPF', 'TSTH', 'AEONTS'"

In [16]:
sqlDel = """
DELETE FROM profits
WHERE name IN (%s)
AND quarter <= %s
"""
sqlDel = sqlDel % (in_p, quarter)
print(sqlDel)

DELETE FROM profits
WHERE name IN ('LPF', 'TSTH', 'AEONTS')
AND quarter <= 4

In [17]:
rp = conlt.execute(sqlDel)
rp.rowcount

0

In [18]:
rp = conmy.execute(sqlDel)
rp.rowcount

0

In [19]:
rp = conpg.execute(sqlDel)
rp.rowcount

0

In [20]:
sql = """
SELECT name, year, quarter 
FROM profits
ORDER BY name
"""
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index("name", inplace=True)
lt_profits.index

Index(['2S', 'ADVANC', 'AYUD', 'BBL', 'BDMS', 'CIMBT', 'CPALL', 'CPAXT',
       'EGATIF', 'FPT', 'GPSC', 'GVREIT', 'ILM', 'IMPACT', 'INTUCH', 'INTUCH',
       'KSL', 'KSL', 'KTB', 'LHFG', 'M', 'MTI', 'OISHI', 'PLANB', 'PTT',
       'SAUCE', 'SCB', 'SCCC', 'SJWD', 'SPC', 'SPI', 'STARK', 'TIPH', 'TTB',
       'TTB', 'VNT'],
      dtype='object', name='name')

In [21]:
my_profits = pd.read_sql(sql, conmy)
my_profits.set_index("name", inplace=True)
my_profits.index

Index(['ADVANC', 'BBL', 'BDMS', 'CPALL', 'CPAXT', 'GPSC', 'ILM', 'IMPACT'], dtype='object', name='name')

In [22]:
pg_profits = pd.read_sql(sql, conpg)
pg_profits.set_index("name", inplace=True)
pg_profits.index

Index(['ADVANC', 'BBL', 'BDMS', 'CPALL', 'CPAXT', 'EGATIF', 'FPT', 'GPSC',
       'GVREIT', 'ILM', 'IMPACT', 'INTUCH', 'KSL', 'KTB', 'LHFG', 'M', 'PLANB',
       'PTT', 'SCB', 'SCCC', 'SJWD', 'SPC', 'TIPH', 'TTB'],
      dtype='object', name='name')

In [23]:
epss.shape

(118, 11)

In [24]:
df_pct.shape

(3, 11)

### Compare with portfolio stocks

In [25]:
sql = """
SELECT name FROM buy WHERE active = 1"""
buy = pd.read_sql(sql, const)
buy

       name
0       STA
1    SINGER
2       PTG
3       KCE
4       MCS
5       DIF
6       TMT
7       JMT
8     WHART
9       BCH
10     SENA
11    TFFIF
12    3BBIF
13      ASP
14      IVL
15    PTTGC
16    WHAIR
17      ORI
18       AH
19      ASK
20   GVREIT
21      NER
22    JMART
23      TOA
24      AWC
25    SYNEX
26      SCC
27      RCL
28   AIMIRT
29  CPNREIT

In [26]:
tmp_df = df_pct.merge(buy, on='name', how='inner')
tmp_df.sort_values(by='name')

Empty DataFrame
Columns: [name, year, quarter, q_amt, y_amt, yoy_gain, yoy_pct, aq_amt, ay_amt, acc_gain, acc_pct]
Index: []