### Restart and run all

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, timedelta
import calendar

engine = create_engine("sqlite:///c:\\ruby\\expense\\db\\development.sqlite3")
connection = engine.connect()

pd.set_option('display.max_rows', 11)
format_dict = {'amount':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}
year = 2024
today = date.today()
today

datetime.date(2025, 1, 2)

In [3]:
sql = """
SELECT date, amount, C.name AS item, G.name AS kind, strftime("%m", date) as Month 
FROM transactions T 
JOIN categories C ON category_id = C.id 
JOIN groups G ON group_id = G.id 
WHERE strftime('%Y', date) = '2024'
ORDER BY date DESC
"""
#sql = sql % year
print(sql)

SELECT date, amount, C.name AS item, G.name AS kind, strftime("%m", date) as Month
FROM transactions T
JOIN categories C ON category_id = C.id
JOIN groups G ON group_id = G.id
WHERE strftime('%Y', date) = '2024'
ORDER BY date DESC

In [4]:
df_t = pd.read_sql(sql, connection)
df_t.head().style.format(format_dict)

In [5]:
df_t.columns

Index(['date', 'amount', 'item', 'kind', 'Month'], dtype='object')

In [6]:
grouped = df_t.groupby("item")
#grouped.sum().style.format(format_dict)

In [7]:
grouped = df_t.groupby("kind")
#grouped.sum().style.format(format_dict)

In [8]:
monthly = df_t.groupby("Month")
#monthly.sum().style.format(format_dict)
monthly.sum()

,date,amount,item,kind
Month,,,,
01,2024-01-312024-01-312024-01-312024-01-312024-0...,56420,PetsParentInternet HomeNetflixTelephone DtacGo...,PetsParentCommunicationEdutainmentCommunicatio...
02,2024-02-292024-02-292024-02-292024-02-292024-0...,152930,ParentInternet HomeNetflixTelephone DtacGoogle...,ParentCommunicationEdutainmentCommunicationEdu...
03,2024-03-312024-03-312024-03-312024-03-312024-0...,49000,ParentInternet HomeNetflixTelephone DtacGoogle...,ParentCommunicationEdutainmentCommunicationEdu...
04,2024-04-302024-04-302024-04-302024-04-302024-0...,38570,FoodParentInternet HomeNetflixTelephone DtacGo...,FoodParentCommunicationEdutainmentCommunicatio...
05,2024-05-312024-05-312024-05-312024-05-312024-0...,46080,ParentInternet HomeNetflixNetflixGoogleAppleAp...,ParentCommunicationEdutainmentEdutainmentEduta...
...,...,...,...,...
08,2024-08-312024-08-312024-08-312024-08-312024-0...,65590,ParentInternet HomeNetflixTelephone DtacGoogle...,ParentCommunicationEdutainmentCommunicationEdu...
09,2024-09-302024-09-302024-09-302024-09-302024-0...,24140,ParentInternet HomeNetflixTelephone DtacGoogle...,ParentCommunicationEdutainmentCommunicationEdu...
10,2024-10-312024-10-312024-10-312024-10-312024-1...,60880,ParentInternet HomeNetflixTelephone DtacGoogle...,ParentCommunicationEdutainmentCommunicationEdu...
11,2024-11-302024-11-302024-11-302024-11-302024-1...,26320,ParentInternet HomeNetflixTelephone DtacGoogle...,ParentCommunicationEdutainmentCommunicationEdu...
12,2024-12-312024-12-312024-12-312024-12-312024-1...,37990,ParentInternet HomeNetflixTelephone DtacGoogle...,ParentCommunicationEdutainmentCommunicationEdu...

In [9]:
expense = grouped.amount.sum()
sum(expense)

723500