### Restart and run all

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine, text
from datetime import date, timedelta
import calendar

engine = create_engine("sqlite:///c:\\ruby\\expense\\db\\development.sqlite3")
con_exp = engine.connect()

pd.set_option('display.max_rows', 11)
format_dict = {'amount':'{:,}','y_amt':'{:,}','yoy_gain':'{:,}',
               'q_amt_c':'{:,}','q_amt_p':'{:,}',
               'aq_amt':'{:,}','ay_amt':'{:,}','acc_gain':'{:,}',
               'latest_amt':'{:,}','previous_amt':'{:,}','inc_amt':'{:,}',
               'latest_amt_q':'{:,}','previous_amt_q':'{:,}','inc_amt_q':'{:,}',
               'latest_amt_y':'{:,}','previous_amt_y':'{:,}','inc_amt_y':'{:,}',
               'inc_pct':'{:.2f}','inc_pct_q':'{:.2f}','inc_pct_y':'{:.2f}'}
year = "2025"
today = date.today()
today

datetime.date(2025, 2, 3)

In [3]:
# Establish a connection
with engine.connect() as con_exp:
    sql = text("""
    SELECT date, amount, C.name AS item, G.name AS kind, strftime('%m', date) as Month 
    FROM transactions T 
    JOIN categories C ON category_id = C.id 
    JOIN groups G ON group_id = G.id 
    WHERE strftime('%Y', date) = :year
    ORDER BY date DESC
    """)
    
    # Execute query and fetch results
    result = con_exp.execute(sql, {"year": year})
    
    # Convert result to DataFrame
    df_t = pd.DataFrame(result.fetchall(), columns=result.keys())

# Display the DataFrame
print(df_t)

          date  amount              item           kind Month
0   2025-01-31     180              Food           Food    01
1   2025-01-31   10000            Parent         Parent    01
2   2025-01-31     640     Internet Home  Communication    01
3   2025-01-31     420           Netflix    Edutainment    01
4   2025-01-31     320    Telephone Dtac  Communication    01
..         ...     ...               ...            ...   ...
14  2025-01-08    6340          Medicine       Medicine    01
15  2025-01-07     500              Food           Food    01
16  2025-01-07    1700  Books & Software    Edutainment    01
17  2025-01-05    1160              Food           Food    01
18  2025-01-03    5470              Pets           Pets    01

[19 rows x 5 columns]

In [4]:
df_t.head().style.format(format_dict)

In [5]:
df_t.columns

Index(['date', 'amount', 'item', 'kind', 'Month'], dtype='object')

In [6]:
grouped = df_t.groupby("item")
#grouped.sum().style.format(format_dict)

In [7]:
grouped = df_t.groupby("kind")
#grouped.sum().style.format(format_dict)

In [8]:
monthly = df_t.groupby("Month")
#monthly.sum().style.format(format_dict)
monthly.sum()

,date,amount,item,kind
Month,,,,
01,2025-01-312025-01-312025-01-312025-01-312025-0...,43930,FoodParentInternet HomeNetflixTelephone DtacGo...,FoodParentCommunicationEdutainmentCommunicatio...

In [9]:
expense = grouped.amount.sum()
sum(expense)

43930