In [1]:
import pandas as pd
from datetime import date, datetime, timedelta
from sqlalchemy import create_engine, text

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

format_dict = {'amt':'{:,.2f}','net':'{:,.2f}','refund':'{:,.2f}',
              'grs_amt':'{:,.2f}','net_amt':'{:,.2f}','number':'{:,}',
               'ppu':'{:,.4f}'}
year = 2025
pay_date = date.today()
pay_date

datetime.date(2025, 9, 14)

In [2]:
pay_date = date(2025, 9, 12)
pay_date

datetime.date(2025, 9, 12)

In [3]:
sql = '''
SELECT *
FROM dividends
LIMIT 1'''
print(sql)
df = pd.read_sql(sql, conpf)
df.dtypes

SELECT *
FROM dividends
LIMIT 1

id            int64
stock_id      int64
name         object
year          int64
quarter       int64
number        int64
ppu         float64
amt         float64
net         float64
x_date       object
p_date       object
dtype: object

### Restart and run all

In [5]:
sql = '''
SELECT name, p_date, amt, net, amt-net AS refund, year, quarter AS q
FROM dividends
WHERE YEAR(p_date) = %s AND p_date <= '%s'
ORDER BY p_date DESC, name ASC'''
sql = sql % (year, pay_date)
print(sql)

dtl_by_month = pd.read_sql(sql, conpf)
dtl_by_month.style.format(format_dict).hide(axis="index")

SELECT name, p_date, amt, net, amt-net AS refund, year, quarter AS q
FROM dividends
WHERE YEAR(p_date) = 2025 AND p_date <= '2025-09-12'
ORDER BY p_date DESC, name ASC

In [6]:
sql = '''
SELECT name, p_date, number, ppu, amt, net
FROM dividends
WHERE YEAR(p_date) = %s AND p_date <= '%s'
ORDER BY p_date, name ASC'''
sql = sql % (year, pay_date)
print(sql)

out_by_month = pd.read_sql(sql, conpf)
out_by_month.style.format(format_dict).hide(axis="index")

SELECT name, p_date, number, ppu, amt, net
FROM dividends
WHERE YEAR(p_date) = 2025 AND p_date <= '2025-09-12'
ORDER BY p_date, name ASC

In [7]:
dtl_by_month['p_date'] = pd.to_datetime(dtl_by_month['p_date'])
dtl_by_month.dtypes

name              object
p_date    datetime64[ns]
amt              float64
net              float64
refund           float64
year               int64
q                  int64
dtype: object

### Input dividend to YTD Profit

In [9]:
sql = '''
SELECT YEAR(p_date) AS pay_year, SUM(amt) AS grs_amt, SUM(net) AS net_amt, SUM(amt-net) AS refund
FROM dividends
WHERE p_date <= '%s'
GROUP BY pay_year
ORDER BY pay_year DESC'''
sql = sql % pay_date
print(sql)
ttl_by_year = pd.read_sql(sql, conpf)
ttl_by_year.style.format(format_dict).hide(axis="index")

SELECT YEAR(p_date) AS pay_year, SUM(amt) AS grs_amt, SUM(net) AS net_amt, SUM(amt-net) AS refund
FROM dividends
WHERE p_date <= '2025-09-12'
GROUP BY pay_year
ORDER BY pay_year DESC

### This one is by year, quarter to compare by year

In [11]:
sql = '''
SELECT year, SUM(amt) AS grs_amt, SUM(net) AS net_amt, SUM(amt-net) AS refund
FROM dividends
GROUP BY year
ORDER BY year DESC'''
print(sql)
ttl_by_year = pd.read_sql(sql, conpf)
ttl_by_year.style.format(format_dict).hide(axis="index")

SELECT year, SUM(amt) AS grs_amt, SUM(net) AS net_amt, SUM(amt-net) AS refund
FROM dividends
GROUP BY year
ORDER BY year DESC

In [12]:
current_time = datetime.now()
formatted_time = current_time.strftime("%Y:%m:%d %H:%M:%S")
print(formatted_time)

2025:09:14 23:26:06