In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

In [2]:
format_dict = {
    'number':'{:,}',
    'amt':'{:,.2f}','net':'{:,.2f}',
    'ppu':'{:.4f}',
    'x_date':'{:%Y-%m-%d}',    
    'p_date':'{:%Y-%m-%d}',    
}

In [3]:
sql = '''
SELECT *
FROM dividends
LIMIT 1'''
struct = pd.read_sql(sql, conpf)
struct.dtypes

id            int64
stock_id      int64
name         object
year          int64
quarter       int64
number        int64
ppu         float64
amt         float64
net         float64
x_date       object
p_date       object
dtype: object

In [5]:
sql = '''
SELECT year, quarter, name, 
number, ppu, amt, net, x_date, p_date
FROM dividends
WHERE year = 2024 AND quarter = 2
'''
df = pd.read_sql(sql, conpf)
df.dtypes

year         int64
quarter      int64
name        object
number       int64
ppu        float64
amt        float64
net        float64
x_date      object
p_date      object
dtype: object

In [6]:
df['x_date'] = pd.to_datetime(df['x_date'])
df['p_date'] = pd.to_datetime(df['p_date'])
df.dtypes

year                int64
quarter             int64
name               object
number              int64
ppu               float64
amt               float64
net               float64
x_date     datetime64[ns]
p_date     datetime64[ns]
dtype: object

In [7]:
df.net.sum()

1350.0

In [8]:
df.sort_values(['x_date','name'],ascending=[True,True]).style.format(format_dict)