### Restart and Run All
#### Input file: C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv
#### Update file: C:\Ruby\PortPg\db

In [2]:
import os
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-08 14:54:32

In [3]:
sql = '''
SELECT *
FROM stocks
'''
stocks = pd.read_sql(sql, conpg)
stocks.sample(5)

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
53,874,S11,sSET,3.08,3.70,1.68,8.84,0.99,613.00,3218.25,0.87,0.64,418,2022-05-17 18:59:06.779420,2025-08-05
151,788,FORTH,SET100,7.15,15.00,6.05,47.96,19.99,480.00,39600.00,207.09,1.23,181,2022-05-17 18:59:06.440406,2025-08-05
67,762,CHG,SET100 / SETHD / SETWB,1.85,3.00,1.39,9.71,5.76,1100.00,41800.00,144.55,0.21,101,2022-05-17 18:59:06.345563,2025-08-05
136,941,VGI,SET100 / SETTHSI,2.12,3.68,1.65,999.99,1.99,1119.45,55300.92,226.59,1.23,618,2022-05-17 19:05:48.128137,2025-08-05
106,751,BGRIM,SET50 / SETCLMV / SETTHSI,11.50,24.80,8.90,999.99,3.33,5213.80,104927.73,416.87,1.29,63,2022-05-17 18:59:06.301778,2025-08-05

In [4]:
# Get the current working directory
current_path = os.getcwd()
#print(f"Current path: {current_path}") 
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#print(f"Base path (base_path): {base_path}") 
dat_path = os.path.join(base_path, "Data")
#print(f"Data path (dat_path): {dat_path}") 

file_name = 'price-hilo.csv'
input_file = os.path.join(dat_path, file_name )
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv

In [5]:
in_df = pd.read_csv(input_file)
in_df.sample(5)

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
17,BA,14.90,14.90,15.70,10.60,26.00,-0.67,2025-08-07
72,HANA,22.30,22.20,22.90,14.00,44.00,-3.04,2025-08-07
58,EA,3.00,2.92,3.16,1.73,7.32,2.74,2025-08-07
160,SPCG,8.20,8.20,8.35,6.60,9.40,-1.20,2025-08-07
190,TSE,0.45,0.44,0.46,0.29,1.24,0.00,2025-08-07

In [6]:
# Logic to update year_low and year_high based on conditions
in_df.loc[in_df['today_low'] < in_df['year_low'], 'year_low'] = in_df['today_low']
in_df.loc[in_df['today_high'] > in_df['year_high'], 'year_high'] = in_df['today_high']

In [7]:
in_df.sample(5)

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
201,VNG,2.02,1.99,2.02,1.89,3.82,0.00,2025-08-07
198,UTP,7.70,7.60,7.80,7.20,11.30,1.32,2025-08-07
153,SIS,22.80,22.60,23.20,17.60,31.25,-0.44,2025-08-07
140,S11,3.22,3.14,3.26,1.68,3.70,1.90,2025-08-07
20,BAY,22.80,22.80,23.30,20.70,29.00,0.00,2025-08-07

### Update table Stocks in PortPG Database, columns max_price & min_price with 
### year_high & year_low from price-hilo.csv

In [9]:
for index, row in in_df.iterrows():
    sql = text('''
        UPDATE stocks
        SET price = :price, max_price = :max_price, min_price = :min_price, updated_at = :updated_at 
        WHERE name = :name
    ''')
    
    params = {
        'price': float(row['price']),
        'max_price': float(row['year_high']),
        'min_price': float(row['year_low']),
        'updated_at': row['updated_at'],
        'name': str(row['name'])
    }
    
    conpg.execute(sql, params)

In [10]:
# Commit the changes
conpg.commit()
conpg.close()

In [11]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-08 14:54:32