### Restart and Run All

In [2]:
import os
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine, text
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()
current_time = datetime.now()
current_time

datetime.datetime(2025, 1, 17, 20, 42, 19, 857392)

In [3]:
sql = '''
SELECT *
FROM stocks
'''
stocks = pd.read_sql(sql, conpg)
#stocks.query('name == "BCH"')
stocks.shape

(226, 15)

In [4]:
input_file = 'price-hilo.csv'
current_dir = os.getcwd()
input_dir = os.path.join(os.path.dirname(current_dir), 'Data')
# output_dir = os.path.join(os.path.dirname(current_dir), 'Data')
#print(input_dir)

file_in = os.path.join(input_dir, input_file)
# file_out = os.path.join(output_dir, "price-hilo.csv")
print(file_in)

C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv

In [5]:
in_df = pd.read_csv(file_in)
in_df.shape

(217, 8)

In [6]:
in_df.query('name == "3BBIF"')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
90,3BBIF,5.1,5.1,5.15,5.0,6.75,0.0,2025-01-16

In [7]:
# Logic to update year_low and year_high based on conditions
in_df.loc[in_df['today_low'] < in_df['year_low'], 'year_low'] = in_df['today_low']
in_df.loc[in_df['today_high'] > in_df['year_high'], 'year_high'] = in_df['today_high']

In [8]:
in_df.shape

(217, 8)

### Update table Stocks in PortPG Database, columns max_price & min_price with 
### year_high & year_low from price-hilo.csv

In [10]:
for index, row in in_df.iterrows():
    sql = text('''
        UPDATE stocks
        SET price = :price, max_price = :max_price, min_price = :min_price, updated_at = :updated_at 
        WHERE name = :name
    ''')
    
    params = {
        'price': float(row['price']),
        'max_price': float(row['year_high']),
        'min_price': float(row['year_low']),
        'updated_at': row['updated_at'],
        'name': str(row['name'])
    }
    
    conpg.execute(sql, params)

# Commit the changes
conpg.commit()

In [11]:
current_time

datetime.datetime(2025, 1, 17, 20, 42, 19, 857392)

In [12]:
conpg.close()