### Must check that there are data for all sector

### Input file: name-ttl.csv
### Output files: Price.csv, Price-Today.csv

In [3]:
import glob
import os
import pandas as pd
from datetime import date, timedelta, datetime
from pandas.tseries.offsets import *
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

##pd.reset_option('display.max_rows')
pd.options.display.float_format = '{:.2f}'.format
pd.options.display.max_rows = 120

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-15 2025-08-14

In [4]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
yesterday = yesterday.date()
print(f'yesterday: {yesterday}')

today: 2025-08-15
yesterday: 2025-08-14

In [5]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-15 21:00:55

### Restart & Run All Cells

In [7]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dts_path = os.path.join(user_path, "Downloads", "Datasets")
#print(f"Datasets path: {dts_path}")
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [8]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Datasets path : {dts_path}") 
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"Obsidian path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Datasets path : C:\Users\PC1\Downloads\Datasets
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
Obsidian path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [9]:
colu = 'Symbol Last Change %Change Open High Low'.split()
vol = 'Total Volume'
colu.append(vol)
val = 'Total Value (k)'
colu.append(val)
colu

['Symbol',
 'Last',
 'Change',
 '%Change',
 'Open',
 'High',
 'Low',
 'Total Volume',
 'Total Value (k)']

In [10]:
format_dict = {'Bid Size':'{:,}','Offer Size':'{:,}',
              'Last':'{:,.2f}','Open':'{:,.2f}','High':'{:,.2f}','Low':'{:,.2f}','Bid':'{:,.2f}','Offer':'{:,.2f}',
              'Total Volume':'{:,}','Total-Volume':'{:,}','Total Value (k)':'{:,.3f}','Total-Value-(k)':'{:,.3f}',
              'TR Volume':'{:,}','TR Value (k)':'{:,.3f}',               
              'Change':'{:,.2f}','%Change':'{:.2f}%'}

### If use style.format(format_dict), number of maximum rows will be ineffective

In [12]:
### SET100 b
file_name = "StockQuotation.xlsx"
input_file = os.path.join(dts_path, file_name)
df_S100 = pd.read_excel(input_file, header=8)
df_S100 = df_S100[df_S100['Total Volume'] != '-']
#df_S100[colu].sort_values(['%Change'],ascending=[False])
df_S100[colu].head()

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
0,AAV,1.23,-0.01,-0.81,1.25,1.26,1.23,61721841,76704.76
1,ADVANC,298.00,-2,-0.67,300.00,301.00,298.00,3503683,1049275.55
2,AEONTS,105.00,0.50,0.48,104.00,106.00,104.00,174432,18351.68
3,AMATA,16.10,-0.10,-0.62,16.30,16.40,15.80,11167122,179425.44
4,AOT,39.00,0.50,1.30,38.50,39.50,38.50,16939308,659127.72

In [13]:
df_S100.query('Symbol == ("BCH","IVL","JMART","JMT","PTTGC","RCL","SCC","STA")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
12,BCH,-,13.60,-0.50,-3.55,14.50,14.50,13.50,-,0.00,14581643,200881.05,10600,13.60,13.70,413400
47,IVL,-,21.60,-0.60,-2.70,22.20,22.20,21.50,-,0.00,22197842,480475.53,608300,21.50,21.60,498000
49,JMART,-,8.25,0.10,1.23,8.25,8.45,8.05,-,0.00,20998591,173239.89,2504000,8.25,8.30,34700
50,JMT,-,11.50,-,-,11.50,11.70,11.30,-,0.00,18034528,207663.03,1061900,11.50,11.60,25000
71,PTTGC,-,22.70,-0.30,-1.30,23.10,23.20,22.60,-,0.00,25668257,585771.84,351100,22.70,22.80,16300
74,RCL,-,28.25,-0.50,-1.74,28.75,28.75,28.00,-,0.00,4080726,115810.68,761500,28.00,28.25,10500
77,SCC,-,201.00,-1,-0.50,202.00,204.00,201.00,-,0.00,1628228,329253.00,153900,201.00,202.00,59500
84,STA,-,11.90,-,-,12.00,12.00,11.70,-,0.00,4564015,54239.71,19200,11.90,12.00,346700

In [14]:
### sSET 1
file_name = "StockQuotation (1).xlsx"
input_file = os.path.join(dts_path, file_name)
df_sSET = pd.read_excel(input_file, header=8)
df_sSET = df_sSET[df_sSET['Total Volume'] != '-']
df_sSET[colu].head()

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
0,A5,1.85,-,-,1.87,1.98,1.84,1099500,2058.23
1,AAI,4.80,0.04,0.84,4.82,4.86,4.74,5934330,28473.77
2,ADVICE,5.55,-0.05,-0.89,5.60,5.60,5.40,3789115,20813.88
3,AH,15.30,-,-,15.40,15.50,14.80,170615,2578.63
4,AIT,5.05,-,-,5.10,5.10,5.05,1019733,5159.03

In [15]:
df_sSET.query('Symbol == ("AH","MCS","ORI","SINGER","SYNEX")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
3,AH,-,15.30,-,-,15.40,15.50,14.80,-,0,170615,2578.63,700,15.10,15.30,1000
47,MCS,-,8.65,0.10,1.17,8.60,8.65,8.55,-,0,306419,2637.16,10000,8.60,8.65,35500
58,ORI,-,2.08,0.04,1.96,2.06,2.10,2.00,-,0,3031169,6213.02,30000,2.06,2.08,192500
87,SINGER,-,5.30,-0.10,-1.85,5.40,5.50,5.20,-,0,4782268,25639.36,186600,5.30,5.35,34600
101,SYNEX,-,11.70,-0.50,-4.10,12.10,12.10,11.50,-,0,2873678,33689.54,168600,11.70,11.80,215100

In [16]:
### SETCLMV 2
file_name = "StockQuotation (2).xlsx"
input_file = os.path.join(dts_path, file_name)
df_CLMV = pd.read_excel(input_file, header=8)
df_CLMV = df_CLMV[df_CLMV['Total Volume'] != '-']
df_CLMV[colu].head()

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
0,AAV,1.23,-0.01,-0.81,1.25,1.26,1.23,61721841,76704.76
1,AMATA,16.10,-0.10,-0.62,16.30,16.40,15.80,11167122,179425.44
2,BA,14.70,-,-,14.70,14.80,14.30,6631247,96274.93
3,BANPU,4.78,-0.04,-0.83,4.88,4.88,4.76,20349549,97713.66
4,BBL,153.50,-,-,154.00,154.50,152.00,6060312,929142.96

In [17]:
df_CLMV.query('Symbol == ("BCH","IVL","PTTGC","RCL","SCC","TOA")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
5,BCH,-,13.60,-0.50,-3.55,14.50,14.50,13.50,-,0.00,14581643,200881.05,10600,13.60,13.70,413400
25,IVL,-,21.60,-0.60,-2.70,22.20,22.20,21.50,-,0.00,22197842,480475.53,608300,21.50,21.60,498000
39,PTTGC,-,22.70,-0.30,-1.30,23.10,23.20,22.60,-,0.00,25668257,585771.84,351100,22.70,22.80,16300
42,RCL,-,28.25,-0.50,-1.74,28.75,28.75,28.00,-,0.00,4080726,115810.68,761500,28.00,28.25,10500
47,SCC,-,201.00,-1,-0.50,202.00,204.00,201.00,-,0.00,1628228,329253.00,153900,201.00,202.00,59500
54,TOA,-,14.90,0.20,1.36,15.00,15.00,14.60,-,0.00,3815058,56617.16,10100,14.90,15.00,213400

In [18]:
### SETHD 3
file_name = "StockQuotation (3).xlsx"
input_file = os.path.join(dts_path, file_name)
df_HD = pd.read_excel(input_file, header=8)
df_HD = df_HD[df_HD['Total Volume'] != '-']
df_HD[colu].head()

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
0,AP,7.75,-0.10,-1.27,7.85,7.85,7.70,6353544,49377.40
1,BAM,8.35,-0.10,-1.18,8.40,8.55,8.30,6990570,58621.02
2,BBL,153.50,-,-,154.00,154.50,152.00,6060312,929142.96
3,COM7,24.30,-0.20,-0.82,24.50,24.70,24.10,10648821,259964.94
4,HMPRO,6.85,-0.20,-2.84,7.05,7.10,6.85,50568262,350336.94

In [19]:
df_HD.query('Symbol == ("JMT","RCL")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
6,JMT,-,11.50,-,-,11.50,11.70,11.30,-,0.00,18034528,207663.03,1061900,11.50,11.60,25000
19,RCL,-,28.25,-0.50,-1.74,28.75,28.75,28.00,-,0.00,4080726,115810.68,761500,28.00,28.25,10500

In [20]:
### SETESG 4
file_name = "StockQuotation (4).xlsx"
input_file = os.path.join(dts_path, file_name)
df_THSI = pd.read_excel(input_file, header=8)
df_THSI = df_THSI[df_THSI['Total Volume'] != '-']
df_THSI[colu].head()

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
0,ADVANC,298.00,-2,-0.67,300.00,301.00,298.00,3503683,1049275.55
1,AMATA,16.10,-0.10,-0.62,16.30,16.40,15.80,11167122,179425.44
2,AOT,39.00,0.50,1.30,38.50,39.50,38.50,16939308,659127.72
3,AP,7.75,-0.10,-1.27,7.85,7.85,7.70,6353544,49377.40
4,AWC,2.44,0.06,2.52,2.38,2.44,2.30,119242971,281825.09

In [21]:
df_THSI.query('Symbol == ("AWC","BCH","IVL","JMART","JMT","NER","ORI","PTTGC","SCC","STA","SYNEX","TOA","TVO")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
4,AWC,-,2.44,0.06,2.52,2.38,2.44,2.30,-,0.00,119242971,281825.09,132300,2.42,2.44,1839400
9,BCH,-,13.60,-0.50,-3.55,14.50,14.50,13.50,-,0.00,14581643,200881.05,10600,13.60,13.70,413400
41,IVL,-,21.60,-0.60,-2.70,22.20,22.20,21.50,-,0.00,22197842,480475.53,608300,21.50,21.60,498000
42,JMART,-,8.25,0.10,1.23,8.25,8.45,8.05,-,0.00,20998591,173239.89,2504000,8.25,8.30,34700
43,JMT,-,11.50,-,-,11.50,11.70,11.30,-,0.00,18034528,207663.03,1061900,11.50,11.60,25000
57,NER,-,4.48,-0.04,-0.88,4.50,4.52,4.44,-,0.00,5386135,24124.48,10200,4.48,4.50,217000
59,ORI,-,2.08,0.04,1.96,2.06,2.10,2.00,-,0.00,3031169,6213.02,30000,2.06,2.08,192500
68,PTTGC,-,22.70,-0.30,-1.30,23.10,23.20,22.60,-,0.00,25668257,585771.84,351100,22.70,22.80,16300
77,SCC,-,201.00,-1,-0.50,202.00,204.00,201.00,-,0.00,1628228,329253.00,153900,201.00,202.00,59500
86,STA,-,11.90,-,-,12.00,12.00,11.70,-,0.00,4564015,54239.71,19200,11.90,12.00,346700
89,SYNEX,-,11.70,-0.50,-4.10,12.10,12.10,11.50,-,0.00,2873678,33689.54,168600,11.70,11.80,215100
97,TOA,-,14.90,0.20,1.36,15.00,15.00,14.60,-,0.00,3815058,56617.16,10100,14.90,15.00,213400
105,TVO,-,25.00,-,-,25.00,25.00,24.60,-,0.00,1212778,30087.63,4600,24.90,25.00,156200

In [22]:
### SETWB 5
file_name = "StockQuotation (5).xlsx"
input_file = os.path.join(dts_path, file_name)
df_WB = pd.read_excel(input_file, header=8)
df_WB = df_WB[df_WB['Total Volume'] != '-']
df_WB[colu].head()

  Symbol  Last Change %Change  Open  High   Low  Total Volume  Total Value (k)
0    AAV  1.23  -0.01   -0.81  1.25  1.26  1.23      61721841         76704.76
1    AOT 39.00   0.50    1.30 38.50 39.50 38.50      16939308        659127.72
2   AURA 15.10   0.20    1.34 15.00 15.30 14.80       1165246         17448.48
3     BA 14.70      -       - 14.70 14.80 14.30       6631247         96274.93
4    BCH 13.60  -0.50   -3.55 14.50 14.50 13.50      14581643        200881.05

In [23]:
df_WB.query('Symbol == ("BCH","STA","TVO")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
4,BCH,-,13.60,-0.50,-3.55,14.50,14.50,13.50,-,0.00,14581643,200881.05,10600,13.60,13.70,413400
26,STA,-,11.90,-,-,12.00,12.00,11.70,-,0.00,4564015,54239.71,19200,11.90,12.00,346700
29,TVO,-,25.00,-,-,25.00,25.00,24.60,-,0.00,1212778,30087.63,4600,24.90,25.00,156200

In [24]:
### PROP 6
file_name = "StockQuotation (6).xlsx"
input_file = os.path.join(dts_path, file_name)
df_PROP = pd.read_excel(input_file, header=9)
df_PROP = df_PROP[df_PROP['Total Volume'] != '-']
df_PROP[colu].head()

   Symbol  Last Change %Change  Open  High   Low Total Volume Total Value (k)
0       A  4.84      -       -  4.84  4.84  4.84          200            0.97
1      A5  1.85      -       -  1.87  1.98  1.84      1099500         2058.23
3   AMATA 16.10  -0.10   -0.62 16.30 16.40 15.80     11167122       179425.44
4  AMATAV  2.40   0.02    0.84  2.40  2.40  2.36         6815           16.30
5    ANAN  0.44   0.02    4.76  0.44  0.47  0.44      8319703         3754.49

In [25]:
df_PROP.query('Symbol == ("AWC","ORI","SENA")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
8,AWC,-,2.44,0.06,2.52,2.38,2.44,2.30,-,0,119242971,281825.09,132300,2.42,2.44,1839400
34,ORI,-,2.08,0.04,1.96,2.06,2.10,2,-,0,3031169,6213.02,30000,2.06,2.08,192500
53,SENA,-,1.79,0.01,0.56,1.77,1.80,1.77,-,0,229399,409.79,87100,1.79,1.80,36800

In [26]:
### PFREIT 7
file_name = "StockQuotation (7).xlsx"
input_file = os.path.join(dts_path, file_name)
df_PFREIT = pd.read_excel(input_file, header=9)
df_PFREIT = df_PFREIT[df_PFREIT['Total Volume'] != '-']
df_PFREIT[colu].head()

    Symbol  Last Change %Change  Open  High   Low Total Volume Total Value (k)
0    AIMCG     2  -0.02   -0.99  2.04  2.04     2       135114          271.48
1   AIMIRT  9.85  -0.05   -0.51  9.95  9.95  9.80       180210         1777.42
2     ALLY  4.44      -       -  4.44  4.44  4.40       326426         1444.94
3   AMATAR  6.20  -0.05   -0.80  6.30  6.30  6.20        74400          467.39
4  AXTRART 11.80   0.10    0.85 11.70 11.80 11.70       653716         7687.21

In [27]:
df_PFREIT.query('Symbol == ("AIMIRT","CPNREIT","GVREIT","WHAIR","WHART")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
1,AIMIRT,-,9.85,-0.05,-0.51,9.95,9.95,9.80,-,0,180210,1777.42,79400,9.80,9.85,10300
9,CPNREIT,-,11.50,-,-,11.50,11.70,11.50,-,0,1773096,20516.69,99600,11.50,11.60,89100
17,GVREIT,-,6.50,0.05,0.78,6.50,6.60,6.45,-,0,1476800,9599.24,19900,6.50,6.55,63400
54,WHAIR,-,5.60,0.10,1.82,5.50,5.60,5.50,-,0,674101,3738.23,30500,5.55,5.60,235300
55,WHART,-,9.35,-0.05,-0.53,9.40,9.45,9.35,-,0,1549630,14577.01,75900,9.35,9.40,1000

In [28]:
### TRANS 8
file_name = "StockQuotation (8).xlsx"
input_file = os.path.join(dts_path, file_name)
df_TRANS = pd.read_excel(input_file, header=9)
df_TRANS = df_TRANS[df_TRANS['Total Volume'] != '-']
df_TRANS[colu].head()

   Symbol Last Change %Change  Open  High   Low Total Volume Total Value (k)
0     AAV 1.23  -0.01   -0.81  1.25  1.26  1.23     61721841        76704.76
1     ANI 3.20  -0.02   -0.62  3.30  3.30  3.18        72300          231.85
2     AOT   39   0.50    1.30 38.50 39.50 38.50     16939308       659127.72
3  ASIMAR 1.51   0.04    2.72  1.48  1.56  1.48       280900          425.88
4       B 0.04      -       -  0.04  0.05  0.04       842477           35.33

In [29]:
df_TRANS.query('Symbol == ("RCL","TFFIF")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
20,RCL,-,28.25,-0.50,-1.74,28.75,28.75,28,-,0,4080726,115810.68,761500,28.00,28.25,10500
24,TFFIF,-,6.10,0.05,0.83,6,6.10,6,-,0,2972580,17988.17,1029900,6.05,6.10,2039000

In [30]:
### ICT 9
file_name = "StockQuotation (9).xlsx"
input_file = os.path.join(dts_path, file_name)
df_ICT = pd.read_excel(input_file, header=9)
df_ICT = df_ICT[df_ICT['Total Volume'] != '-']
df_ICT[colu].head()

   Symbol Last Change %Change Open High  Low Total Volume Total Value (k)
0   3BBIF 6.30   0.05    0.80 6.25 6.30 6.25      9079579        57145.72
1  ADVANC  298     -2   -0.67  300  301  298      3503683      1049275.55
2     AIT 5.05      -       - 5.10 5.10 5.05      1019733         5159.03
3     ALT 1.12   0.03    2.75 1.10 1.15 1.04      8581615         9419.53
4     AMR 0.48  -0.02      -4 0.50 0.51 0.47      1481000          717.77

In [31]:
df_ICT.query('Symbol == ("3BBIF","DIF","JMART","SYNEX")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
0,3BBIF,-,6.30,0.05,0.80,6.25,6.30,6.25,-,0,9079579,57145.72,3138600,6.25,6.30,2244900
7,DIF,XD,8.20,-0.20,-2.38,8.20,8.25,8.15,-,0,13763870,112750.45,6215800,8.15,8.20,4150200
19,JMART,-,8.25,0.10,1.23,8.25,8.45,8.05,-,0,20998591,173239.89,2504000,8.25,8.30,34700
33,SYNEX,-,11.70,-0.50,-4.10,12.10,12.10,11.50,-,0,2873678,33689.54,168600,11.70,11.80,215100

## Add section ENERG for PTG

In [33]:
### ENERG 10
file_name = "StockQuotation (10).xlsx"
input_file = os.path.join(dts_path, file_name)
df_ENG = pd.read_excel(input_file, header=9)
df_ENG = df_ENG[df_ENG['Total Volume'] != '-']
df_ENG[colu].head()

  Symbol Last Change %Change Open High  Low Total Volume Total Value (k)
0    ACC 0.29  -0.01   -3.33 0.30 0.31 0.29      2585009          775.50
1    ACE 1.31   0.01    0.77 1.30 1.31 1.29      7667813         9993.51
2     AE 0.12      -       - 0.12 0.12 0.11       459900           53.19
3    AGE 1.18   0.16   15.69 1.06 1.32 1.04     16463589        19330.43
4     AI 3.50      -       - 3.46 3.50 3.46        55953          194.42

In [34]:
df_ENG.query('Symbol == "PTG"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
35,PTG,-,7,0.10,1.45,6.95,7.05,6.80,-,0,4814776,33251.49,66200,6.95,7,105900

### ------------ End of Individual Category

In [36]:
df = pd.concat([df_S100, df_sSET, df_CLMV, df_HD, df_THSI, df_WB, df_PROP, df_PFREIT, df_TRANS, df_ICT, df_ENG])
df.shape

(680, 16)

In [37]:
df.Symbol.nunique()

374

In [38]:
df.query('Symbol == "AH"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
3,AH,-,15.30,-,-,15.40,15.50,14.80,-,0,170615,2578.63,700,15.10,15.30,1000

In [39]:
### First equals to latest published pdf file
df = df.drop_duplicates(subset='Symbol', keep='first')
df.shape

(374, 16)

In [40]:
df.rename(columns={col: col.replace(" ", "-") for col in df.columns}, inplace=True)
df.columns

Index(['Symbol', 'Trading-Sign', 'Last', 'Change', '%Change', 'Open', 'High',
       'Low', 'TR-Volume', 'TR-Value-(k)', 'Total-Volume', 'Total-Value-(k)',
       'Bid-Size', 'Bid', 'Offer', 'Offer-Size'],
      dtype='object')

In [41]:
cols = 'Symbol Last Change %Change Open High Low Total-Volume Total-Value-(k)'.split()
#df[cols].sort_values('Symbol',ascending=True)
df[cols].shape

(374, 9)

In [42]:
# Clean Symbol column (remove <XD>)
df['Symbol'] = df['Symbol'].str.replace(r'\s*<.*?>', '', regex=True)

# Then proceed with numeric conversion as above
numeric_cols = df.columns.drop('Symbol')
df[numeric_cols] = (
    df[numeric_cols].replace('-', 0)
    .apply(pd.to_numeric, errors='coerce', downcast=None)  # Disable downcasting
)
df[cols].shape

C:\Users\PC1\AppData\Local\Temp\ipykernel_134892\3393296708.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[numeric_cols].replace('-', 0)

(374, 9)

In [43]:
# If run after actual work day
#today = today - timedelta(days=2)
#today

In [44]:
df.insert(1, 'Date', today)

In [45]:
colt = 'Symbol Date Last Change %Change Open High Low Total-Volume Total-Value-(k)'.split()
df[colt]

,Symbol,Date,Last,Change,%Change,Open,High,Low,Total-Volume,Total-Value-(k)
0,AAV,2025-08-15,1.23,-0.01,-0.81,1.25,1.26,1.23,61721841,76704.76
1,ADVANC,2025-08-15,298.00,-2.00,-0.67,300.00,301.00,298.00,3503683,1049275.55
2,AEONTS,2025-08-15,105.00,0.50,0.48,104.00,106.00,104.00,174432,18351.68
3,AMATA,2025-08-15,16.10,-0.10,-0.62,16.30,16.40,15.80,11167122,179425.44
4,AOT,2025-08-15,39.00,0.50,1.30,38.50,39.50,38.50,16939308,659127.72
...,...,...,...,...,...,...,...,...,...,...
53,TGE,2025-08-15,1.46,0.02,1.39,1.47,1.51,1.45,97206,143.79
55,TPIPP,2025-08-15,2.34,0.00,0.00,2.36,2.36,2.32,377344,882.85
56,TSE,2025-08-15,0.39,-0.01,-2.50,0.40,0.41,0.39,1355006,538.55
58,UBE,2025-08-15,0.50,0.00,0.00,0.49,0.51,0.49,1200900,598.10
60,WP,2025-08-15,3.76,-0.06,-1.57,3.84,3.84,3.76,27760,104.92

In [46]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [47]:
df_name = pd.read_csv(input_file, header=None, names=['Symbol'])
df_name.shape

(216, 1)

In [48]:
df_out = df[colt]
df_out.shape

(374, 10)

In [49]:
df_merge = pd.merge(df_name, df_out, on = 'Symbol', how='inner')
df_merge.shape

(169, 10)

In [50]:
df_merge.columns = df_merge.columns.str.lower()
df_merge.columns

Index(['symbol', 'date', 'last', 'change', '%change', 'open', 'high', 'low',
       'total-volume', 'total-value-(k)'],
      dtype='object')

In [51]:
df_merge.rename(columns={'symbol':'name','last':'price','total-volume':'volume',
                         'total-value-(k)':'value(m)'},inplace=True)
df_merge.columns

Index(['name', 'date', 'price', 'change', '%change', 'open', 'high', 'low',
       'volume', 'value(m)'],
      dtype='object')

In [52]:
colp = 'name date price high low volume open'.split()

file_name = "Price.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [53]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price.csv

In [54]:
df_merge[colp].to_csv(output_file, header=True, index=False)
df_merge[colp].to_csv(god_file, header=True, index=False)
df_merge[colp].to_csv(icd_file, header=True, index=False)
df_merge[colp].to_csv(osd_file, header=True, index=False)

### End of daily process to export Price to MySql Stock database

In [56]:
file_name = "Price-Today.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [57]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price-Today.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price-Today.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Today.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Today.csv

In [58]:
df_merge.to_csv(output_file, header=True, index=False)
df_merge.to_csv(god_file, header=True, index=False)
df_merge.to_csv(icd_file, header=True, index=False)
df_merge.to_csv(osd_file, header=True, index=False)

In [59]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-15 21:00:56

### End of daily process to export Price-Today for Market-all, Create Dailies & Daily out processes