### Input files: Price-Today, orders-log
### Output files: Price-for-Order, orders-log, monthly-sales

In [2]:
import glob
import os
import pandas as pd
from datetime import date, timedelta, datetime
from pandas.tseries.offsets import *
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

# Define formatting dictionary for all columns
format_dict = {
    'qty': '{:,.0f}',          # Comma-separated, no decimals (10,000)
    'days': '{:,}',     
    'sell_price': '{:.2f}',     # 2 decimals (2.82)
    'price': '{:.2f}',          # 2 decimals (1.87)
    'target': '{:.2f}',          # 2 decimals (1.87)    
    'buy_price': '{:.2f}',          # 2 decimals (1.87)    
    'difa': '{:,.2f}',          # Comma-separated, 2 decimals (-9,500.00)
    'diff': '{:.2f}',          # 2 decimals (1.87)
    'sell_amt': '{:,.2f}',          # 2 decimals (1.87)    
    'buy_amt': '{:,.2f}',          # Comma-separated, 2 decimals (-9,500.00)    
    'gross': '{:,.2f}',          # 2 decimals (1.87)    
    'pct': '{:,.2f}%',          # Comma-separated, 2 decimals (-9,500.00)    
    '%change': '{:.2f}%',        # 2 decimals (-1.58)
    '%profit': '{:.2f}%',        # 2 decimals (-33.69)
    '%decline': '{:.2f}%',        # 2 decimals (-33.69)    
    'sell_date': '{:%Y-%m-%d}'  # Date without time (2025-03-03)
}

pd.options.display.max_rows = 50
pd.options.display.float_format = '{:.2f}'.format

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-04 2025-08-03

In [3]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-04 14:43:40

### Restart and Run All Cells

In [5]:
current_path = os.getcwd()
base_path = os.path.dirname(current_path)
dat_path = os.path.join(base_path, "Data")
print(f"Data path (dat_path): {dat_path}") 
file_name = "Price-Today.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Input file: C:\Users\PC1\OneDrive\A5\Data\Price-Today.csv

In [6]:
prices = pd.read_csv(input_file)
prices.shape

(169, 10)

### Purchase recently sold stocks if price lower than last sold

In [8]:
#Select name from portfolio
sql = """SELECT name FROM buy"""
portfolio = pd.read_sql(sql, const)
names = portfolio.name
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'3BBIF', 'AH', 'AIMIRT', 'AWC', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JMART', 'JMT', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TOA', 'TVO', 'WHAIR', 'WHART'"

In [9]:
#
sql = """
SELECT T.name, S.date AS sell_date, S.price AS sell_price, B.price AS buy_price, B.date AS buy_date, B.qty
FROM sells S
JOIN buys B
ON S.buy_id = B.id 
JOIN stocks T
ON T.id = B.stock_id 
WHERE T.name IN (%s)
ORDER BY T.name, S.date DESC"""
sql = sql % (in_p)
sells = pd.read_sql(sql, conpf)
sells.shape

(216, 6)

In [10]:
sells.dtypes

name           object
sell_date      object
sell_price    float64
buy_price     float64
buy_date       object
qty             int64
dtype: object

In [11]:
# Convert dates to datetime if they're not already
sells['sell_date'] = pd.to_datetime(sells['sell_date'])

# Get the latest record for each name
latest_records = sells.sort_values('sell_date', ascending=False).drop_duplicates('name')
latest_records.shape

(25, 6)

In [12]:
prices.dtypes

name         object
date         object
price       float64
change      float64
%change     float64
open        float64
high        float64
low         float64
volume        int64
value(m)    float64
dtype: object

In [13]:
colu = 'name qty sell_price price target %decline sell_date'.split()
sell_data   = pd.merge(latest_records, prices, on='name', how='inner')
sell_data['diff'] = sell_data['price'] - sell_data['sell_price']
sell_data['%decline'] = round(sell_data['diff'] / (sell_data['sell_price']) * 100,2)
sell_data['sell_date'] = pd.to_datetime(sell_data['sell_date'])
sell_data['target'] = round(sell_data['sell_price'] * 0.9,2)

In [14]:
# Apply filtering with both conditions
filtered = sell_data.loc[
    (sell_data['sell_date'].dt.year == 2025) & 
    (sell_data['sell_price'] >= sell_data['price']),
    colu]

# Sort by %decline   descending
filtered = filtered.sort_values('%decline', ascending=True)

# Format display (if format_dict is defined)
filtered.style.format(format_dict)

### Profit per Month

In [16]:
year = 2025
month = 7
sql = '''
SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month, 
       sells.price AS sell_price, buys.price AS buy_price, (sells.price - buys.price) AS diff, 
       qty, (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt, 
       (sells.price - buys.price) * qty AS gross, 
       ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, days
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = %s AND MONTH(sells.date) = %s
ORDER BY sells.date DESC, name'''
sql = sql % (year, month)
sells_df = pd.read_sql(sql, conpf)
print(sql)

SELECT name, YEAR(sells.date) AS sell_year, MONTH(sells.date) AS sell_month,
       sells.price AS sell_price, buys.price AS buy_price, (sells.price - buys.price) AS diff,
       qty, (sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
       (sells.price - buys.price) * qty AS gross,
       ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, days
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
WHERE YEAR(sells.date) = 2025 AND MONTH(sells.date) = 7
ORDER BY sells.date DESC, name

In [17]:
sells_df.style.format(format_dict)

In [18]:
print(f"Monthly Profit Amount: {sells_df.gross.sum():,.2f}")

Monthly Profit Amount: -363,980.00

In [19]:
# Get the current time
current_time = datetime.now()
# Format the time to remove millisAeconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-04 14:43:40