### Restart and Run All Cells

### Input files: Price-Today, orders-log
### Output files: Price-for-Order, orders-log, monthly-sales

In [3]:
import glob
import os
import pandas as pd
from datetime import date, timedelta, datetime
from pandas.tseries.offsets import *
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.options.display.max_rows = 50
#pd.options.display.float_format = '{:.2f}'.format

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-31 2025-08-30

In [4]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
fmt_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(fmt_time)

2025-08-31 21:06:48

In [5]:
current_path = os.getcwd()
base_path = os.path.dirname(current_path)
dat_path = os.path.join(base_path, "Data")
print(f"Data path (dat_path): {dat_path}") 
file_name = "Price-Today.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Input file: C:\Users\PC1\OneDrive\A5\Data\Price-Today.csv

In [6]:
# Define a formatting function that converts a float to a string with two decimal places
def to_currency(x):
    return '฿{:,.2f}'.format(x)    

# Define a formatting function that converts an integer to a string with comma and no decimal places
def to_integer(x):
    return '{:,.0f}'.format(x)

# Define a formatting function that converts an integer to a string with comma and no decimal places
def to_percent(x):
    return '{:,.2f}%'.format(x)

# Define a formatting function that converts an integer to a string with comma and no decimal places
def to_date(x):
    return '{:%Y-%m-%d}'.format(x)

In [7]:
df_price_tdy = pd.read_csv(input_file)
df_price_tdy.dtypes
#df_price_tdy.columns.tolist()

name         object
date         object
price       float64
change      float64
%change     float64
open        float64
high        float64
low         float64
volume        int64
value(m)    float64
dtype: object

### Purchase recently sold stocks if price lower than last sold

In [9]:
#Select name from portfolio
sql = """SELECT name FROM buy"""
df_buy = pd.read_sql(sql, const)
names = df_buy.name
portfolio = ", ".join(map(lambda name: "'%s'" % name, names))
portfolio

"'3BBIF', 'AH', 'AIMIRT', 'AWC', 'BCH', 'CPF', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', 'JMART', 'JMT', 'MCS', 'NER', 'ORI', 'PTG', 'PTT', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'TOA', 'TVO', 'WHAIR', 'WHART'"

In [10]:
sql = """
    SELECT S.date, B.qty, B.price, B.net,  S.price, S.net, S.profit
    FROM sells S
    JOIN buys B
    ON S.buy_id = B.id 
    JOIN stocks T
    ON T.id = B.stock_id 
    WHERE T.name IN ({})
    ORDER BY S.date DESC
    LIMIT 1
""".format(portfolio)
df_tmp = pd.read_sql(sql, conpf)
df_tmp

         date   qty  price       net  price       net  profit
0  2025-08-28  5000    2.2  11024.36    2.3  11474.52  450.16

In [11]:
#
sql = """
    SELECT T.name, S.date AS sell_date, S.price AS sell_price, B.price AS buy_price, B.date AS buy_date, B.qty
    FROM sells S
    JOIN buys B
    ON S.buy_id = B.id 
    JOIN stocks T
    ON T.id = B.stock_id 
    WHERE T.name IN ({})
    ORDER BY T.name, S.date DESC
""".format(portfolio)
df_sells = pd.read_sql(sql, conpf)
df_sells.shape

(247, 6)

In [12]:
df_sells.dtypes
#df_sells.columns.tolist()

name           object
sell_date      object
sell_price    float64
buy_price     float64
buy_date       object
qty             int64
dtype: object

In [13]:
# Convert dates to datetime if they're not already
df_sells['sell_date'] = pd.to_datetime(df_sells['sell_date'])

# Get the latest record for each name
latest_records = df_sells.sort_values('sell_date', ascending=False).drop_duplicates('name')
latest_records.shape

(27, 6)

In [14]:
colu = 'name sell_date qty sell_price price low target %decline'.split()
sell_data   = pd.merge(latest_records, df_price_tdy, on='name', how='inner')
sell_data['diff'] = sell_data['price'] - sell_data['sell_price']
sell_data['%decline'] = round(sell_data['diff'] / (sell_data['sell_price']) * 100,2)
#sell_data['sell_date'] = pd.to_datetime(sell_data['sell_date'])
sell_data['target'] = round(sell_data['sell_price'] * 0.9,2)
#sell_data['amount'] = round(sell_data['target'] * sell_data['qty'])

In [15]:
# Apply filtering with both conditions
filtered = sell_data.loc[
    (sell_data['sell_price'] >= sell_data['price']),colu]

# Sort by %decline   descending
filtered = filtered.sort_values('%decline', ascending=True)

# Format display (if format_dict is defined)
#filtered.style.format(format_dict)
filtered.sample()

   name  sell_date   qty  sell_price  price   low  target  %decline
16  STA 2024-01-03  2500        16.9   12.1  11.9   15.21     -28.4

In [16]:
# Convert columns to interger
filtered["qty"] = filtered["qty"].astype(int)
# Apply formatting
filtered[["qty"]] = filtered[["qty"]].apply(lambda col: col.map(to_integer))
filtered[["sell_price", "price","low", "target"]] = \
filtered[["sell_price", "price","low", "target"]].apply(lambda col: col.map(to_currency))
filtered[["%decline"]] = filtered[["%decline"]].apply(lambda col: col.map(to_percent))
filtered.sample(5)

       name  sell_date     qty sell_price   price     low  target %decline
15      BCH 2024-01-04   2,000     ฿22.90  ฿13.00  ฿12.90  ฿20.61  -43.23%
10    3BBIF 2024-09-20  10,000      ฿6.50   ฿6.20   ฿6.20   ฿5.85   -4.62%
11  CPNREIT 2024-09-10   5,000     ฿12.70  ฿10.90  ฿10.90  ฿11.43  -14.17%
5     JMART 2025-08-07   3,200      ฿9.40   ฿8.25   ฿8.25   ฿8.46  -12.23%
4    GVREIT 2025-08-08   6,000      ฿6.70   ฿6.20   ฿6.20   ฿6.03   -7.46%

In [17]:
# Apply filtering with both conditions
filtered = sell_data.loc[
    (sell_data['sell_date'].dt.year == 2025) & 
    (sell_data['sell_price'] >= sell_data['price']),
    colu]

# Sort by %decline   descending
filtered = filtered.sort_values('%decline', ascending=True)

filtered.sample()

  name  sell_date   qty  sell_price  price   low  target  %decline
3  RCL 2025-08-08  3000        31.0   27.5  27.5    27.9    -11.29

In [18]:
# Convert columns to interger
filtered["qty"] = filtered["qty"].astype(int)
# Apply formatting
filtered[["qty"]] = filtered[["qty"]].apply(lambda col: col.map(to_integer))
filtered[["sell_price", "price","low", "target"]] = \
filtered[["sell_price", "price","low", "target"]].apply(lambda col: col.map(to_currency))
filtered[["%decline"]] = filtered[["%decline"]].apply(lambda col: col.map(to_percent))
filtered

     name  sell_date    qty sell_price   price     low  target %decline
5   JMART 2025-08-07  3,200      ฿9.40   ฿8.25   ฿8.25   ฿8.46  -12.23%
3     RCL 2025-08-08  3,000     ฿31.00  ฿27.50  ฿27.50  ฿27.90  -11.29%
2     CPF 2025-08-22  5,000     ฿24.30  ฿21.90  ฿21.90  ฿21.87   -9.88%
4  GVREIT 2025-08-08  6,000      ฿6.70   ฿6.20   ฿6.20   ฿6.03   -7.46%
6     NER 2025-08-06  5,000      ฿4.52   ฿4.26   ฿4.26   ฿4.07   -5.75%
9     IVL 2025-07-30  1,800     ฿22.90  ฿21.70  ฿21.70  ฿20.61   -5.24%
0     ORI 2025-08-28  5,000      ฿2.30   ฿2.18   ฿2.16   ฿2.07   -5.22%
1     MCS 2025-08-27  6,000      ฿8.40   ฿8.35   ฿8.30   ฿7.56   -0.60%

In [19]:
current_path = os.getcwd()
base_path = os.path.dirname(current_path)
ruby_path = os.path.join(base_path, "Ruby")
print(f"Ruby path (ruby_path): {ruby_path}")

Ruby path (ruby_path): C:\Users\PC1\OneDrive\A5\Ruby

In [20]:
file_name = "watch-list-buys.xlsx"  
output_file = os.path.join(ruby_path, file_name)

# Apply formatting
filtered[["sell_date"]] = filtered[["sell_date"]].apply(lambda col: col.map(to_date))

# Export to Excel
filtered.sort_values('name', ascending=True).to_excel(
    output_file, 
    header=True, 
    index=False
)

### Profit per Month

In [22]:
year = 2025
month = 8
sql = '''
    SELECT name, S.date, B.qty, B.price AS buy, B.net AS cost_amt, S.price AS sell, S.net AS sale_amt, S.profit
    FROM sells S JOIN buys B ON S.buy_id = B.id
    JOIN stocks T ON B.stock_id = T.id
    WHERE YEAR(S.date) = {} AND MONTH(S.date) = {}
    ORDER BY S.date ASC, name
'''.format(year, month)

df_sells = pd.read_sql(sql, conpf)
#print(sql)

In [23]:
# Format all floats (pandas 1.4.0+)
display(df_sells.style.format({
    col: '{:,.2f}' for col in df_sells.select_dtypes(include=float).columns
}).hide(axis="index"))

In [24]:
# Convert columns to interger
df_sells["qty"] = df_sells["qty"].astype(int)
# Apply formatting
df_sells[["qty"]] = df_sells[["qty"]].apply(lambda col: col.map(to_integer))
df_sells[["buy", "cost_amt","sell", "sale_amt", "profit"]] = \
df_sells[["buy", "cost_amt","sell", "sale_amt", "profit"]].apply(lambda col: col.map(to_currency))
df_sells[["date"]] = df_sells[["date"]].apply(lambda col: col.map(to_date))
df_sells

,name,date,qty,buy,cost_amt,sell,sale_amt,profit
0,ORI,2025-08-05,"10,000",฿1.88,"฿18,841.64",฿1.90,"฿18,957.92",฿116.28
1,JMT,2025-08-06,"2,800",฿10.50,"฿29,465.12",฿11.60,"฿32,408.06","฿2,942.94"
2,NER,2025-08-06,"5,000",฿3.90,"฿19,543.20",฿4.52,"฿22,549.95","฿3,006.75"
3,JMART,2025-08-07,"3,200",฿9.25,"฿29,665.56",฿9.40,"฿30,013.37",฿347.81
4,ORI,2025-08-07,"10,000",฿1.85,"฿18,540.98",฿2.06,"฿20,554.38","฿2,013.40"
5,GVREIT,2025-08-08,"6,000",฿6.10,"฿36,681.06",฿6.70,"฿40,110.97","฿3,429.91"
6,RCL,2025-08-08,"3,000",฿27.75,"฿83,434.39",฿31.00,"฿92,794.01","฿9,359.62"
7,CPF,2025-08-20,"4,000",฿24.10,"฿96,613.52",฿24.30,"฿96,984.72",฿371.20
8,CPF,2025-08-21,"4,000",฿24.10,"฿96,613.52",฿24.30,"฿96,984.72",฿371.20
9,CPF,2025-08-22,"5,000",฿24.10,"฿120,766.90",฿24.30,"฿121,230.88",฿463.98
10,MCS,2025-08-27,"6,000",฿7.30,"฿43,897.02",฿8.40,"฿50,288.37","฿6,391.35"
11,ORI,2025-08-28,"5,000",฿2.20,"฿11,024.36",฿2.30,"฿11,474.52",฿450.16

In [25]:
df_sells = pd.read_sql(sql, conpf)
print(f"Monthly Profit Amount: {df_sells.profit.sum():,.2f}")

Monthly Profit Amount: 29,264.60

In [26]:
# Get the current time
current_time = datetime.now()
# Format the time to remove millisAeconds
fmt_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(fmt_time)

2025-08-31 21:06:49