### Restart and Run All Cells

### Input files: Price-Today, orders-log
### Output files: Price-for-Order, orders-log, monthly-sales

In [3]:
import glob
import os
import pandas as pd
from datetime import date, timedelta, datetime
from pandas.tseries.offsets import *
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

format_dict = {
              'qty':'{:,}','number':'{:,}','net':'{:,.5f}',
              'sell_price':'{:,.2f}','buy_price':'{:,.2f}','diff':'{:,.2f}', 'target':'{:,.2f}','low':'{:,.2f}',
              'cost':'{:,.2f}','price':'{:,.2f}','%change':'{:,.2f}','%profit':'{:,.2f}','profit':'{:,.2f}',
              'sell_amt':'{:,.2f}','buy_amt':'{:,.2f}','gross':'{:,.2f}','amount':'{:,.2f}',
              'amt':'{:,.2f}','mkt_amt':'{:,.2f}','difa':'{:,.2f}','current':'{:,.2f}','change':'{:,.2f}',  
              'pct':'{:,.2f}%','net':'{:,.2f}','%change':'{:,.2f}%','%profit':'{:,.2f}%','sell_date':'{:%Y-%m-%d}',
              '%decline':'{:,.2f}%','ppu':'{:.5f}'
              }
pd.options.display.max_rows = 50
#pd.options.display.float_format = '{:.2f}'.format

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-10-14 2025-10-13

In [4]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
fmt_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(fmt_time)

2025-10-14 20:24:27

In [5]:
current_path = os.getcwd()
base_path = os.path.dirname(current_path)
dat_path = os.path.join(base_path, "Data")
print(f"Data path (dat_path): {dat_path}") 
file_name = "Price-Today.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Input file: C:\Users\PC1\OneDrive\A5\Data\Price-Today.csv

In [6]:
# Define a formatting function that converts a float to a string with two decimal places
def to_currency(x):
    return 'à¸¿{:,.2f}'.format(x)    

# Define a formatting function that converts an integer to a string with comma and no decimal places
def to_integer(x):
    return '{:,.0f}'.format(x)

# Define a formatting function that converts an integer to a string with comma and no decimal places
def to_percent(x):
    return '{:,.2f}%'.format(x)

# Define a formatting function that converts an integer to a string with comma and no decimal places
def to_date(x):
    return '{:%Y-%m-%d}'.format(x)

### Dividend per Month

In [21]:
year = 2025
month = 10
sql = '''
    SELECT name, p_date, number, ' ' AS Buy, ' ' AS Purchase, ppu, amt, net
    FROM dividends
    WHERE YEAR(p_date) = {} AND MONTH(p_date) = {}
    ORDER BY p_date ASC, name
'''.format(year, month)

df_dividends= pd.read_sql(sql, conpf)
#print(sql)

In [23]:
# Format all floats (pandas 1.4.0+)
display(df_dividends.style.format(format_dict).hide(axis="index"))

In [25]:
df_dividends = pd.read_sql(sql, conpf)
print(f"Monthly Dividend Amount: {df_dividends.net.sum():,.2f}")

Monthly Dividend Amount: 6,075.00

In [27]:
# Get the current time
current_time = datetime.now()
# Format the time to remove millisAeconds
fmt_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(fmt_time)

2025-10-14 20:24:43