##### SQLite port_lite database: stocks table
##### PostgreSQL portpg database: stocks table
##### MySQL stock database: setindex, price, buy tables
##### Output files: 5-day-average, extremes

In [2]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine, text
from pandas.tseries.offsets import BDay

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format

today = date.today()
print(today)

2025-02-28

In [4]:
num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()
print(today, yesterday)

2025-02-28 2025-02-27

In [6]:
# If run after actual work day
#today = today - timedelta(days=1)
print(today)

2025-02-28

In [8]:
# If run after actual work day
#yesterday = yesterday - timedelta(days=1)
print(yesterday)

2025-02-27

In [10]:
value = 1203.72

In [12]:
# Method 1: Using named parameters
sql_statement = text("INSERT INTO setindex VALUES(:date, :value)")
rp = const.execute(sql_statement, {"date": today, "value": value})

In [14]:
sql = """SELECT * FROM setindex ORDER BY date DESC LIMIT 2"""
df_tmp = pd.read_sql(sql, const)
df_tmp

         date  setindex
0  2025-02-28   1203.72
1  2025-02-27   1215.73

In [16]:
print(df_tmp.iloc[0] - df_tmp.iloc[1])

date        1 day, 0:00:00
setindex            -12.01
dtype: object

In [18]:
const.commit()
const.close()

In [13]:
###sqlUpd = """UPDATE setindex SET setindex = 1453.03 WHERE date = '2024-10-28'"""
###print(sqlUpd)

In [8]:
###rp = const.execute(sqlUpd)
###rp.rowcount

In [22]:
sqlDel = text("""DELETE FROM setindex WHERE date='2025-02-06' AND setindex = 1286.74""")
print(sqlDel)

DELETE FROM setindex WHERE date='2025-02-06' AND setindex = 1286.74

In [24]:
rp = const.execute(sqlDel)
rp.rowcount

1