##### SQLite port_lite database: stocks table
##### PostgreSQL portpg database: stocks table
##### MySQL stock database: setindex, price, buy tables
##### Output files: 5-day-average, extremes

In [2]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine, text
from pandas.tseries.offsets import BDay

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = os.path.join(os.path.expanduser("~"), "iCloudDrive")
one_path = os.path.join(os.path.expanduser("~"), "OneDrive","Documents","Data")
osd_path = os.path.join(os.path.expanduser("~"),"OneDrive","Documents","obsidian-git-sync","Data")
dts_path = os.path.join(os.path.expanduser("~"),"Downloads","Datasets")

pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format

today = date.today()
today

datetime.date(2025, 1, 17)

In [4]:
num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()
today, yesterday

(datetime.date(2025, 1, 17), datetime.date(2025, 1, 16))

In [6]:
# If run after actual work day
#today = today - timedelta(days=1)
today

datetime.date(2025, 1, 17)

In [8]:
# If run after actual work day
#yesterday = yesterday - timedelta(days=1)
yesterday

datetime.date(2025, 1, 16)

In [10]:
value = 1340.63

In [12]:
# Method 1: Using named parameters
sql_statement = text("INSERT INTO setindex VALUES(:date, :value)")
rp = const.execute(sql_statement, {"date": today, "value": value})

In [14]:
sql = """SELECT * FROM setindex ORDER BY date DESC LIMIT 2"""
df_tmp = pd.read_sql(sql, const)
df_tmp

         date  setindex
0  2025-01-17   1340.63
1  2025-01-16   1352.56

In [13]:
###sqlUpd = """UPDATE setindex SET setindex = 1453.03 WHERE date = '2024-10-28'"""
###print(sqlUpd)

In [8]:
###rp = const.execute(sqlUpd)
###rp.rowcount

In [7]:
###sqlDel = """DELETE FROM setindex WHERE date='2024-11-21'"""
###print(sqlDel)

DELETE FROM setindex WHERE date='2024-11-21'

In [8]:
###rp = const.execute(sqlDel)
###rp.rowcount

1

In [17]:
const.commit()
const.close()