### Start and Run All

In [2]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
# from datetime import date, timedelta
from datetime import datetime
from time import sleep, strftime

# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-10-24 20:21:48

In [3]:
url = "https://www.set.or.th/en/market/product/stock/quote/"
percent_span = ''

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"Obsidian path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
Obsidian path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [7]:
file_name = "price-hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [8]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\price-hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\price-hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\price-hilo.csv

In [9]:
def cvt_str_to_flt(input_str):
    # Check for the special pattern and return 0
    if input_str == '(-)':
        return 0
    
    # Remove parentheses and percent sign
    cleaned_str = input_str.replace('(', '').replace(')', '').replace('%', '')

    # Convert to float
    try:
        return float(cleaned_str)
    except ValueError:
        # Handle the case where the conversion fails
        return None

In [10]:
def get_stock_data(in_df):

    in_df.columns = ['name']
    
    output_columns = ['name', 'price', 'today_low', 'today_high', 'year_low', 'year_high', 'percent', 'updated_at']
    # Initialize an empty DataFrame with specified columns
    out_df = pd.DataFrame(columns=output_columns)
    
    for index, row in in_df.iterrows():
        name = str(row['name']).upper()
        response = request.urlopen(url + name + '/price')
        html_page = BeautifulSoup(response, 'html.parser')
        
  #      price = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info').text.strip()        
  #      if (price == '-'):
  #          price = '0.00'        

        price_div = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info')
        if price_div:
            price = price_div.text.strip()
        else:
            print(f"Price div not found for {name}")
            price = '0.00'     
            
        # Try to find the <h3> tag with the class 'theme-success'
        h3_tag = html_page.find('h3', class_='theme-success')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-danger')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)    
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-normal')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)   
                
        percent = cvt_str_to_flt(percent_span)
                
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'         
        
        year_low = values_low[1].text        
        year_high = values_high[1].text     
        
        # Find the div with the specific class, then find the span within it
        div = html_page.find('div', class_='price-detail-date d-flex align-items-center text-nowrap fs-12px')
        if div:
            span = div.find('span')
            if span:
                text = span.get_text()
#                 print(text)
            else:
                print("Span not found")
        else:
            print("Div not found")
            
        # Extract the date part from the string
        # Assuming the date is always in the format 'dd Mon yyyy'
        date_str = ' '.join(text.split()[2:5])

        # Parse the date string into a datetime object
        date_obj = datetime.strptime(date_str, '%d %b %Y')

        # Format the datetime object to 'yyyy-mm-dd'
        updated_at = date_obj.strftime('%Y-%m-%d')

#         print(updated_at)
        
        # Append row to the DataFrame and print the row
        out_df.loc[len(out_df)] = [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
#       print(out_df.iloc[-1].to_string(header=False, index=False)) 
        print(','.join(map(str, out_df.iloc[-1])))
        sleep(2)
        
    return out_df  # return the final dataframe with all values populated

In [11]:
start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  08:21 PM

In [12]:
df = pd.read_csv(input_file, header=None)
out_df = get_stock_data(df)

ACE,1.30,1.29,1.30,1.23,1.38,-0.76,2025-10-24
ADVANC,308.00,303.00,313.00,259.00,309.00,1.65,2025-10-24
AEONTS,112.00,109.50,112.00,90.50,140.50,0.0,2025-10-24
AH,12.30,12.20,12.60,10.00,21.40,-2.38,2025-10-24
AIE,1.07,1.07,1.10,0.72,1.80,-1.83,2025-10-24
AIMIRT,10.30,10.30,10.40,9.20,10.90,-0.96,2025-10-24
AIT,4.82,4.82,4.86,3.92,5.30,-0.41,2025-10-24
AJ,2.08,2.06,2.16,1.94,5.15,-2.8,2025-10-24
AMATA,15.10,15.10,15.50,11.20,31.00,-1.31,2025-10-24
ANAN,0.48,0.47,0.49,0.37,0.79,2.13,2025-10-24
AOT,39.75,39.50,40.25,26.75,63.25,0.63,2025-10-24
AP,8.70,8.65,8.75,5.60,9.90,1.16,2025-10-24
ASIAN,7.30,7.30,7.40,6.50,9.40,-1.35,2025-10-24
ASK,8.05,8.05,8.20,6.20,12.60,-1.23,2025-10-24
ASP,2.22,2.20,2.24,1.81,2.80,0.0,2025-10-24
ASW,6.20,6.15,6.20,4.90,8.20,0.0,2025-10-24
AWC,2.18,2.16,2.22,1.55,3.80,-0.91,2025-10-24
BA,12.90,12.80,13.40,10.60,26.00,-3.01,2025-10-24
BAM,6.80,6.75,7.05,5.35,9.35,-2.86,2025-10-24
BANPU,4.44,4.40,4.48,4.00,6.45,1.37,2025-10-24
BAY,24.60,24.30,24.70,20.70,25.50,1.23,2025-10-24
BBL,162.50,160.00,163.00,131.00,161.50,1.88,2025-10-24
BCH,11.40,11.20,11.70,11.50,18.60,-0.87,2025-10-24
BCP,30.25,29.75,30.50,26.50,41.00,3.42,2025-10-24
BCPG,8.60,8.60,8.95,5.05,9.60,-2.27,2025-10-24
BCT,50.75,49.50,50.75,43.50,76.00,-1.93,2025-10-24
BDMS,19.70,19.70,20.10,19.60,28.75,-1.99,2025-10-24
BE8,5.60,5.60,5.75,5.20,19.30,0.0,2025-10-24
BEAUTY,0.53,0.49,0.54,0.19,0.68,8.16,2025-10-24
BEC,1.97,1.97,2.02,1.79,4.28,-1.5,2025-10-24
BEM,5.10,5.10,5.15,4.56,8.05,0.0,2025-10-24
BGC,4.60,4.58,4.62,4.54,7.90,-0.43,2025-10-24
BGRIM,16.20,16.00,16.60,8.90,23.40,2.53,2025-10-24
BH,179.00,178.50,182.50,130.00,278.00,-1.1,2025-10-24
BJC,19.30,19.30,19.80,16.50,25.00,-2.03,2025-10-24
BKIH,305.00,305.00,307.00,271.00,310.00,-0.65,2025-10-24
BLA,18.60,18.40,18.70,14.00,25.75,0.54,2025-10-24
BLAND,0.49,0.49,0.50,0.38,0.63,-2.0,2025-10-24
BPP,10.40,10.40,10.70,6.20,12.80,-1.89,2025-10-24
BTS,2.90,2.88,2.96,2.80,6.40,-1.36,2025-10-24
BTSGIF,2.66,2.64,2.66,2.46,3.26,0.76,2025-10-24
CBG,45.25,44.50,45.50,44.00,82.00,2.26,2025-10-24
CENTEL,32.00,31.75,32.50,19.40,38.50,-0.78,2025-10-24
CHG,1.54,1.54,1.59,1.39,2.94,-0.65,2025-10-24
CK,15.40,15.40,15.70,10.20,20.00,-0.65,2025-10-24
CKP,2.62,2.56,2.66,2.10,3.74,1.55,2025-10-24
COM7,26.00,25.75,26.50,16.70,28.25,-0.95,2025-10-24
CPALL,48.25,47.75,48.50,41.50,66.00,1.05,2025-10-24
CPF,21.70,21.40,22.10,19.80,26.50,-1.36,2025-10-24
CPN,55.25,54.50,55.75,41.00,66.25,0.91,2025-10-24
CPNCG,6.20,6.15,6.20,5.75,6.50,0.81,2025-10-24
CPNREIT,11.60,11.50,11.60,10.20,12.60,0.0,2025-10-24
CRC,20.60,20.60,20.90,15.80,36.00,-1.44,2025-10-24
DCC,1.34,1.33,1.36,1.18,1.96,-0.74,2025-10-24
DCON,0.24,0.24,0.25,0.23,0.34,0.0,2025-10-24
DELTA,205.00,197.50,207.00,51.25,202.00,2.76,2025-10-24
DIF,9.30,9.20,9.30,7.35,9.50,0.54,2025-10-24
DOHOME,4.08,4.04,4.20,2.26,10.12,-0.97,2025-10-24
DRT,5.30,5.20,5.30,4.42,8.00,0.95,2025-10-24
EA,3.20,3.18,3.24,1.73,5.70,0.0,2025-10-24
EASTW,2.66,2.64,2.72,1.57,3.30,0.0,2025-10-24
EGATIF,6.05,6.00,6.05,5.75,6.15,0.0,2025-10-24
EGCO,129.00,127.50,130.00,85.00,143.00,0.0,2025-10-24
EPG,2.90,2.88,3.04,2.12,5.05,-3.97,2025-10-24
FORTH,7.10,7.10,7.25,6.05,13.40,-1.39,2025-10-24
FPT,6.50,6.20,6.65,5.85,13.40,-1.52,2025-10-24
FSMART,7.65,7.65,7.90,5.35,9.85,-2.55,2025-10-24
FTREIT,10.10,10.10,10.40,8.60,10.80,-1.94,2025-10-24
GC,3.96,3.92,3.96,3.40,5.10,0.51,2025-10-24
GFPT,10.40,10.30,10.50,8.00,11.70,0.97,2025-10-24
GGC,3.70,3.70,3.70,3.20,5.45,0.0,2025-10-24
GLOBAL,7.55,7.50,8.15,4.16,15.99,-7.93,2025-10-24
GPSC,42.25,42.00,43.00,22.40,46.25,0.6,2025-10-24
GRAMMY,4.56,4.36,4.56,4.20,8.45,5.07,2025-10-24
GUNKUL,2.12,2.10,2.14,1.31,2.84,0.0,2025-10-24
GVREIT,6.50,6.45,6.50,6.15,6.95,0.78,2025-10-24
HANA,23.80,23.80,24.30,14.00,40.50,0.42,2025-10-24
HFT,3.62,3.60,3.72,3.32,4.64,-1.63,2025-10-24
HMPRO,6.90,6.85,7.05,5.70,10.20,-1.43,2025-10-24
HTC,14.70,14.60,14.80,14.50,17.40,0.68,2025-10-24
ICHI,12.50,12.40,12.60,9.40,16.60,0.0,2025-10-24
III,4.58,4.58,4.62,4.18,6.40,-1.29,2025-10-24
ILM,14.80,14.70,15.00,11.50,17.90,-0.67,2025-10-24
IMH,3.88,3.82,3.90,3.50,5.45,-1.52,2025-10-24
IMPACT,10.10,10.00,10.10,9.25,11.90,0.0,2025-10-24
INOX,0.40,0.40,0.41,0.35,0.58,0.0,2025-10-24
IP,3.86,3.72,3.86,2.02,4.54,3.21,2025-10-24
IRPC,1.14,1.13,1.16,0.70,1.54,1.79,2025-10-24
IVL,21.00,20.70,21.10,16.90,27.50,1.45,2025-10-24
3BBIF,6.60,6.60,6.65,5.00,6.85,0.0,2025-10-24
JMART,8.10,8.10,8.35,5.20,15.70,-2.41,2025-10-24
JMT,10.00,10.00,10.30,7.35,20.40,-2.91,2025-10-24
KBANK,183.00,182.50,185.50,145.00,182.00,1.39,2025-10-24
KCE,25.75,25.50,26.50,13.70,38.75,0.0,2025-10-24
KGI,3.94,3.92,3.94,3.40,4.48,0.51,2025-10-24
KKP,65.00,65.00,66.75,43.50,66.75,-1.14,2025-10-24
KSL,1.37,1.36,1.38,1.25,2.10,-0.72,2025-10-24
KTB,27.25,26.75,27.50,19.70,27.00,1.87,2025-10-24
KTC,29.75,29.75,30.25,21.80,52.25,-0.83,2025-10-24
KYE,286.00,286.00,287.00,280.00,324.00,0.35,2025-10-24
LALIN,5.05,4.98,5.05,4.80,6.55,0.0,2025-10-24
LANNA,15.40,15.20,15.40,14.10,17.10,1.32,2025-10-24
LH,3.94,3.88,3.98,3.18,6.00,1.03,2025-10-24
LHFG,0.78,0.78,0.79,0.72,0.86,-1.27,2025-10-24
LHK,3.50,3.48,3.50,3.02,3.96,0.57,2025-10-24
LIT,0.62,0.60,0.63,0.39,1.13,1.64,2025-10-24
LPH,3.68,3.66,3.70,3.20,4.58,0.0,2025-10-24
LPN,1.67,1.66,1.68,1.61,3.24,-0.6,2025-10-24
M,31.75,31.75,33.50,13.80,35.25,-4.51,2025-10-24
MAJOR,7.25,7.05,7.45,7.15,15.60,-2.03,2025-10-24
MBAX,1.38,1.36,1.39,1.17,2.94,-0.72,2025-10-24
MC,11.20,11.10,11.30,9.15,12.90,0.9,2025-10-24
MCS,8.25,8.15,8.25,5.80,9.20,0.61,2025-10-24
MEGA,29.00,28.75,29.25,24.30,40.00,0.0,2025-10-24
MINT,22.90,22.80,23.10,21.70,29.50,-0.43,2025-10-24
MST,6.95,6.95,7.05,5.50,10.30,0.72,2025-10-24
MTC,42.00,41.50,42.25,33.75,53.50,1.2,2025-10-24
NER,4.14,4.10,4.16,3.88,5.10,0.49,2025-10-24
NOBLE,2.18,2.16,2.20,1.60,3.14,0.93,2025-10-24
ONEE,1.98,1.98,2.04,1.99,4.68,-1.0,2025-10-24
OR,13.90,13.90,14.10,10.10,16.10,0.72,2025-10-24
ORI,2.30,2.30,2.38,1.50,4.86,-2.54,2025-10-24
OSP,16.60,16.10,16.70,12.90,22.10,2.47,2025-10-24
PAP,1.90,1.89,1.90,1.31,2.36,0.53,2025-10-24
PCSGH,3.00,3.00,3.02,2.46,4.66,0.0,2025-10-24
PDG,2.78,2.78,2.82,2.36,2.88,-1.42,2025-10-24
PLANB,4.26,4.10,4.30,4.02,7.65,2.9,2025-10-24
POPF,6.40,6.40,6.45,5.40,6.70,-0.78,2025-10-24
PREB,3.62,3.54,3.62,3.34,5.25,0.56,2025-10-24
PRM,6.40,6.35,6.50,5.10,9.30,0.0,2025-10-24
PSH,3.84,3.82,3.90,3.66,9.10,0.0,2025-10-24
PSL,6.85,6.85,7.00,4.96,8.65,-0.72,2025-10-24
PTG,8.50,8.45,8.75,5.45,9.80,-2.86,2025-10-24
PTL,9.80,9.75,10.00,9.20,14.50,0.0,2025-10-24
PTT,31.75,31.00,31.75,27.00,34.50,2.42,2025-10-24
PTTEP,111.50,110.50,112.00,93.00,133.00,3.24,2025-10-24
PTTGC,24.10,23.80,24.40,14.20,28.75,0.84,2025-10-24
QH,1.26,1.24,1.27,1.15,1.89,1.61,2025-10-24
RATCH,28.00,28.00,28.25,22.50,33.50,-0.88,2025-10-24
RBF,3.76,3.76,3.84,3.04,7.40,-2.08,2025-10-24
RCL,25.75,25.50,26.25,18.20,31.75,-0.96,2025-10-24
RJH,13.00,13.00,13.20,11.50,26.25,0.0,2025-10-24
ROJNA,4.30,4.26,4.36,4.14,7.50,-0.46,2025-10-24
RS,0.23,0.23,0.24,0.19,6.30,0.0,2025-10-24
S11,3.22,3.14,3.28,1.86,3.70,0.63,2025-10-24
SAPPE,36.50,35.75,36.50,27.50,83.00,0.69,2025-10-24
SAT,13.20,13.20,13.50,9.95,13.90,-0.75,2025-10-24
SAWAD,29.50,29.25,29.75,14.80,40.00,1.72,2025-10-24
SC,1.70,1.69,1.73,1.40,3.04,-0.58,2025-10-24
SCB,133.50,133.00,135.50,111.00,135.50,0.0,2025-10-24
SCC,209.00,207.00,211.00,124.50,231.00,1.46,2025-10-24
SCCC,142.00,141.50,143.00,138.50,169.00,0.0,2025-10-24
SCGP,18.30,18.20,18.50,10.70,27.00,0.55,2025-10-24
SENA,1.86,1.85,1.89,1.54,2.38,-1.59,2025-10-24
SGP,6.60,6.50,6.60,5.00,7.50,0.0,2025-10-24
SINGER,6.15,6.15,6.25,3.92,11.20,-1.6,2025-10-24
SIRI,1.41,1.41,1.44,1.11,1.87,-0.7,2025-10-24
SIS,19.20,19.10,19.40,17.60,31.25,0.0,2025-10-24
SJWD,8.25,8.25,8.40,5.75,12.40,-0.6,2025-10-24
SKN,5.80,5.80,5.80,5.05,6.40,0.0,2025-10-24
SKR,7.85,7.80,7.90,6.20,9.80,-1.26,2025-10-24
SMPC,8.95,8.80,9.00,7.80,9.95,1.7,2025-10-24
SNC,5.95,5.90,6.05,4.96,7.35,-1.65,2025-10-24
SPALI,17.50,17.30,17.60,13.20,20.40,1.16,2025-10-24
SPC,57.75,57.75,58.00,53.00,60.75,-0.43,2025-10-24
SPCG,8.25,8.10,8.25,6.60,8.90,-0.6,2025-10-24
SPRC,4.78,4.68,4.82,4.26,7.20,3.91,2025-10-24
SPRIME,3.48,3.48,3.50,3.00,4.28,-0.57,2025-10-24
SSP,3.44,3.40,3.48,3.40,5.90,-1.15,2025-10-24
STA,12.00,11.80,12.00,10.30,21.50,0.84,2025-10-24
STANLY,181.50,181.50,182.00,176.00,225.00,0.28,2025-10-24
STGT,6.70,6.70,6.75,5.10,11.40,0.0,2025-10-24
SUPER,0.13,0.12,0.14,0.12,0.29,0.0,2025-10-24
SUPEREIF,5.35,5.35,5.40,4.72,6.95,-0.93,2025-10-24
SVI,6.05,6.00,6.05,5.55,9.40,0.83,2025-10-24
SYNEX,10.50,10.50,10.70,9.30,16.70,-0.94,2025-10-24
TASCO,13.90,13.90,14.10,13.20,20.00,-0.71,2025-10-24
TCAP,52.25,52.00,52.50,44.25,53.00,0.97,2025-10-24
TFFIF,6.05,6.05,6.10,5.25,6.60,-0.82,2025-10-24
TFG,4.62,4.60,4.70,3.02,6.10,-0.86,2025-10-24
THANI,1.57,1.57,1.60,1.15,2.12,-1.26,2025-10-24
THG,8.45,8.25,8.70,6.15,18.41,-2.87,2025-10-24
TIPH,21.70,21.60,21.90,16.70,27.50,-0.91,2025-10-24
TIPCO,8.00,7.90,8.10,7.95,10.40,-1.23,2025-10-24
TISCO,108.00,107.00,108.50,95.00,109.00,0.47,2025-10-24
TK,4.52,4.46,4.52,3.28,4.98,0.0,2025-10-24
TKN,5.20,5.20,5.30,5.00,11.30,0.0,2025-10-24
TKS,5.45,5.45,5.60,4.90,7.25,-1.8,2025-10-24
TMT,3.02,2.96,3.02,2.60,4.34,0.67,2025-10-24
TMW,50.75,49.75,50.75,47.00,66.75,1.0,2025-10-24
TOA,12.50,12.20,12.60,9.35,18.60,1.63,2025-10-24
TOP,37.00,36.75,37.50,21.00,47.00,2.78,2025-10-24
TPIPL,0.72,0.71,0.73,0.69,1.17,0.0,2025-10-24
TPIPP,2.08,2.08,2.10,1.99,3.08,0.0,2025-10-24
TQM,12.70,12.60,12.80,12.20,26.25,0.0,2025-10-24
TRUE,11.40,11.20,11.50,10.10,13.30,1.79,2025-10-24
TSE,0.48,0.47,0.49,0.29,1.03,0.0,2025-10-24
TSTH,0.74,0.74,0.77,0.47,0.93,-3.9,2025-10-24
TTA,4.48,4.42,4.52,3.22,6.30,1.82,2025-10-24
TTB,1.88,1.86,1.89,1.72,2.02,1.08,2025-10-24
TTLPF,10.60,10.50,10.60,10.30,15.80,0.0,2025-10-24
TTW,9.00,8.95,9.00,8.45,9.25,0.0,2025-10-24
TU,12.90,12.80,13.10,8.60,15.50,0.78,2025-10-24
TVO,24.00,23.80,24.30,19.70,26.00,-0.41,2025-10-24
TYCN,1.74,1.66,1.79,1.62,2.22,2.96,2025-10-24
UTP,7.65,7.65,7.75,7.20,10.90,-1.29,2025-10-24
VGI,1.30,1.28,1.36,1.21,3.68,-4.41,2025-10-24
VIBHA,1.46,1.46,1.48,1.37,2.12,-0.68,2025-10-24
VNG,2.00,2.00,2.08,1.89,3.56,-2.91,2025-10-24
WHA,3.50,3.46,3.56,2.26,6.20,-0.57,2025-10-24
WHAIR,5.95,5.95,6.05,4.12,6.75,-0.83,2025-10-24
WHART,9.65,9.65,9.75,8.55,10.50,-0.52,2025-10-24
WHAUP,4.08,4.06,4.14,2.76,5.45,-0.49,2025-10-24
WICE,2.78,2.78,2.82,2.34,6.05,-1.42,2025-10-24
WORK,4.20,4.20,4.22,3.82,9.00,0.0,2025-10-24

In [13]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  08:30 PM

In [14]:
out_df.query('price == "-"')

Empty DataFrame
Columns: [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
Index: []

In [15]:
out_df.shape

(215, 8)

In [16]:
out_df = out_df[out_df['name'] != 'BCT']

In [17]:
out_df = out_df[out_df['name'] != 'LPF']

In [18]:
out_df = out_df[out_df['name'] != 'TYCN']

In [19]:
out_df = out_df[out_df['name'] != 'GRAMMY']

In [20]:
out_df = out_df[out_df['name'] != 'MST']

In [21]:
out_df = out_df[out_df['name'] != 'SPC']

In [22]:
out_df = out_df[out_df['name'] != 'SPRIME']

In [23]:
out_df = out_df[out_df['name'] != 'FPT']

In [24]:
out_df = out_df[out_df['name'] != 'GGC']

In [25]:
out_df = out_df[out_df['name'] != 'SKN']

In [26]:
out_df = out_df[out_df['name'] != 'KYE']

In [27]:
out_df = out_df[out_df['name'] != 'PDG']

In [28]:
out_df = out_df[out_df['name'] != 'PREB']

In [29]:
out_df.shape

(203, 8)

In [30]:
out_df['price'] = out_df['price'].astype('float')
out_df['today_low'] = out_df['today_low'].astype('float')
out_df['today_high'] = out_df['today_high'].astype('float')
out_df['year_low'] = out_df['year_low'].astype('float')
out_df['year_high'] = out_df['year_high'].astype('float')
out_df['percent'] = out_df['percent'].astype('float')

In [31]:
sorted_out_df = out_df.sort_values('percent')

In [32]:
sorted_out_df.query('today_low < year_low')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
109,MAJOR,7.25,7.05,7.45,7.15,15.60,-2.03,2025-10-24
183,TIPCO,8.00,7.90,8.10,7.95,10.40,-1.23,2025-10-24
119,ONEE,1.98,1.98,2.04,1.99,4.68,-1.00,2025-10-24
22,BCH,11.40,11.20,11.70,11.50,18.60,-0.87,2025-10-24

In [33]:
sorted_out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
92,KBANK,183.00,182.50,185.5,145.00,182.0,1.39,2025-10-24
1,ADVANC,308.00,303.00,313.0,259.00,309.0,1.65,2025-10-24
97,KTB,27.25,26.75,27.5,19.70,27.0,1.87,2025-10-24
21,BBL,162.50,160.00,163.0,131.00,161.5,1.88,2025-10-24
55,DELTA,205.00,197.50,207.0,51.25,202.0,2.76,2025-10-24

In [34]:
out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
1,ADVANC,308.00,303.00,313.0,259.00,309.0,1.65,2025-10-24
21,BBL,162.50,160.00,163.0,131.00,161.5,1.88,2025-10-24
55,DELTA,205.00,197.50,207.0,51.25,202.0,2.76,2025-10-24
92,KBANK,183.00,182.50,185.5,145.00,182.0,1.39,2025-10-24
97,KTB,27.25,26.75,27.5,19.70,27.0,1.87,2025-10-24

In [35]:
file_name = "Price-Hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [36]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price-Hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price-Hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Hilo.csv

In [37]:
out_df.to_csv(output_file, index=False)  
out_df.to_csv(god_file, index=False) 
out_df.to_csv(icd_file, index=False)  
out_df.to_csv(osd_file, index=False)

In [38]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-10-24 20:30:39