### Start and Run All

In [2]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
# from datetime import date, timedelta
from datetime import datetime
from time import sleep, strftime

# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-09-09 20:13:55

In [3]:
url = "https://www.set.or.th/en/market/product/stock/quote/"
percent_span = ''

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"Obsidian path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
Obsidian path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [7]:
file_name = "price-hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [8]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\price-hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\price-hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\price-hilo.csv

In [9]:
def cvt_str_to_flt(input_str):
    # Check for the special pattern and return 0
    if input_str == '(-)':
        return 0
    
    # Remove parentheses and percent sign
    cleaned_str = input_str.replace('(', '').replace(')', '').replace('%', '')

    # Convert to float
    try:
        return float(cleaned_str)
    except ValueError:
        # Handle the case where the conversion fails
        return None

In [10]:
def get_stock_data(in_df):

    in_df.columns = ['name']
    
    output_columns = ['name', 'price', 'today_low', 'today_high', 'year_low', 'year_high', 'percent', 'updated_at']
    # Initialize an empty DataFrame with specified columns
    out_df = pd.DataFrame(columns=output_columns)
    
    for index, row in in_df.iterrows():
        name = str(row['name']).upper()
        response = request.urlopen(url + name + '/price')
        html_page = BeautifulSoup(response, 'html.parser')
        
  #      price = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info').text.strip()        
  #      if (price == '-'):
  #          price = '0.00'        

        price_div = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info')
        if price_div:
            price = price_div.text.strip()
        else:
            print(f"Price div not found for {name}")
            price = '0.00'     
            
        # Try to find the <h3> tag with the class 'theme-success'
        h3_tag = html_page.find('h3', class_='theme-success')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-danger')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)    
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-normal')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)   
                
        percent = cvt_str_to_flt(percent_span)
                
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'         
        
        year_low = values_low[1].text        
        year_high = values_high[1].text     
        
        # Find the div with the specific class, then find the span within it
        div = html_page.find('div', class_='price-detail-date d-flex align-items-center text-nowrap fs-12px')
        if div:
            span = div.find('span')
            if span:
                text = span.get_text()
#                 print(text)
            else:
                print("Span not found")
        else:
            print("Div not found")
            
        # Extract the date part from the string
        # Assuming the date is always in the format 'dd Mon yyyy'
        date_str = ' '.join(text.split()[2:5])

        # Parse the date string into a datetime object
        date_obj = datetime.strptime(date_str, '%d %b %Y')

        # Format the datetime object to 'yyyy-mm-dd'
        updated_at = date_obj.strftime('%Y-%m-%d')

#         print(updated_at)
        
        # Append row to the DataFrame and print the row
        out_df.loc[len(out_df)] = [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
#       print(out_df.iloc[-1].to_string(header=False, index=False)) 
        print(','.join(map(str, out_df.iloc[-1])))
        sleep(2)
        
    return out_df  # return the final dataframe with all values populated

In [11]:
start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  08:13 PM

In [12]:
df = pd.read_csv(input_file, header=None)
out_df = get_stock_data(df)

ACE,1.31,1.30,1.32,1.23,1.49,0.77,2025-09-09
ADVANC,290.00,290.00,293.00,253.00,309.00,0.0,2025-09-09
AEONTS,116.00,113.50,116.00,90.50,148.00,0.87,2025-09-09
AH,14.50,14.40,14.60,10.00,23.20,0.0,2025-09-09
AIE,1.12,1.12,1.14,0.72,1.80,-0.88,2025-09-09
AIMIRT,9.80,9.70,9.80,9.20,11.20,1.03,2025-09-09
AIT,4.96,4.94,5.00,3.92,5.30,-0.4,2025-09-09
AJ,2.40,2.32,2.42,1.94,5.80,3.45,2025-09-09
AMATA,16.90,16.60,17.00,11.20,31.00,0.6,2025-09-09
ANAN,0.56,0.54,0.57,0.37,0.85,1.82,2025-09-09
AOT,38.50,37.75,38.75,26.75,65.00,1.99,2025-09-09
AP,8.10,8.00,8.20,5.60,10.50,0.0,2025-09-09
ASIAN,7.25,7.20,7.30,6.50,9.55,0.69,2025-09-09
ASK,8.15,8.05,8.20,6.20,15.30,0.62,2025-09-09
ASP,2.78,2.68,2.80,1.81,2.74,2.21,2025-09-09
ASW,5.20,5.00,5.20,4.90,8.20,0.0,2025-09-09
AWC,2.38,2.34,2.42,1.55,3.94,0.0,2025-09-09
BA,14.30,14.20,14.50,10.60,26.00,-0.69,2025-09-09
BAM,8.40,8.30,8.45,5.35,10.20,1.2,2025-09-09
BANPU,4.84,4.80,4.86,4.00,7.50,-2.42,2025-09-09
BAY,24.00,23.90,24.20,20.70,29.00,0.0,2025-09-09
BBL,152.50,152.50,153.50,131.00,161.50,-0.33,2025-09-09
BCH,13.30,13.20,13.40,12.30,19.20,1.53,2025-09-09
BCP,31.25,30.75,31.25,26.50,41.00,1.63,2025-09-09
BCPG,8.40,8.25,8.45,5.05,8.95,1.2,2025-09-09
BCT,47.75,47.75,47.75,43.50,76.75,0.53,2025-09-09
BDMS,20.70,20.50,20.70,19.80,31.25,-0.48,2025-09-09
BE8,6.40,6.30,6.45,5.20,21.20,2.4,2025-09-09
BEAUTY,0.61,0.55,0.62,0.19,0.66,8.93,2025-09-09
BEC,2.24,2.24,2.28,1.79,4.68,-0.88,2025-09-09
BEM,5.55,5.45,5.75,4.56,8.30,0.91,2025-09-09
BGC,4.76,4.68,4.80,4.54,7.90,1.71,2025-09-09
BGRIM,13.50,13.00,13.70,8.90,24.80,5.47,2025-09-09
BH,186.00,185.00,189.50,130.00,284.00,0.27,2025-09-09
BJC,21.00,20.40,21.00,16.50,25.75,0.0,2025-09-09
BKIH,290.00,289.00,290.00,271.00,316.00,0.35,2025-09-09
BLA,18.50,17.60,18.60,14.00,25.75,4.52,2025-09-09
BLAND,0.51,0.51,0.52,0.38,0.70,0.0,2025-09-09
BPP,8.65,8.55,8.70,6.20,13.60,0.58,2025-09-09
BTS,3.32,3.30,3.46,3.04,6.40,-3.49,2025-09-09
BTSGIF,2.56,2.52,2.56,2.46,3.52,0.79,2025-09-09
CBG,59.25,58.25,62.00,46.50,82.00,-2.87,2025-09-09
CENTEL,33.25,31.50,33.25,19.40,41.25,2.31,2025-09-09
CHG,1.72,1.69,1.72,1.39,3.00,2.38,2025-09-09
CK,16.70,16.20,16.70,10.20,21.10,3.09,2025-09-09
CKP,3.00,2.90,3.00,2.10,4.04,2.74,2025-09-09
COM7,25.25,25.00,26.00,16.70,28.25,1.0,2025-09-09
CPALL,48.25,47.75,48.75,41.50,68.00,0.0,2025-09-09
CPF,23.10,23.10,23.50,19.80,26.50,-1.7,2025-09-09
CPN,57.00,56.00,57.75,41.00,68.75,0.88,2025-09-09
CPNCG,6.10,6.05,6.10,5.75,6.65,0.83,2025-09-09
CPNREIT,11.20,11.10,11.20,10.20,13.60,0.9,2025-09-09
CRC,24.10,23.60,24.20,15.80,36.00,0.42,2025-09-09
DCC,1.42,1.41,1.45,1.18,2.04,0.71,2025-09-09
DCON,0.26,0.25,0.26,0.23,0.41,4.0,2025-09-09
DELTA,145.50,142.50,147.50,51.25,173.50,1.75,2025-09-09
DIF,8.75,8.60,8.75,7.35,9.85,1.74,2025-09-09
DOHOME,4.30,4.22,4.32,2.26,11.07,0.0,2025-09-09
DRT,5.25,5.25,5.35,4.42,8.15,-0.94,2025-09-09
EA,2.84,2.76,2.94,1.73,7.32,3.65,2025-09-09
EASTW,2.84,2.80,2.90,1.57,3.90,0.0,2025-09-09
EGATIF,6.00,5.95,6.05,5.75,6.40,0.84,2025-09-09
EGCO,113.00,111.50,113.00,85.00,128.50,1.35,2025-09-09
EPG,3.24,3.18,3.28,2.12,5.25,0.62,2025-09-09
FORTH,8.40,8.25,8.75,6.05,15.00,3.7,2025-09-09
FPT,6.40,6.35,6.45,5.85,14.00,1.59,2025-09-09
FSMART,7.15,7.05,7.30,5.35,9.15,-1.38,2025-09-09
FTREIT,9.50,9.40,9.50,8.60,11.30,0.53,2025-09-09
GC,4.04,4.00,4.06,3.40,5.10,0.0,2025-09-09
GFPT,9.55,9.55,9.70,8.00,12.40,-1.55,2025-09-09
GGC,3.82,3.82,3.88,3.20,5.45,-1.55,2025-09-09
GLOBAL,8.10,8.00,8.25,4.16,16.27,0.0,2025-09-09
GPSC,41.00,40.50,42.00,22.40,49.75,1.23,2025-09-09
GRAMMY,4.60,4.60,4.74,4.30,8.50,0.0,2025-09-09
GUNKUL,2.02,1.99,2.02,1.31,2.96,1.0,2025-09-09
GVREIT,6.30,6.30,6.35,5.85,7.15,0.8,2025-09-09
HANA,25.25,24.50,25.75,14.00,44.00,3.06,2025-09-09
HFT,4.24,4.20,4.24,3.32,4.76,0.47,2025-09-09
HMPRO,7.85,7.60,7.85,5.70,11.10,0.64,2025-09-09
HTC,15.00,14.80,15.00,14.50,17.70,-1.96,2025-09-09
ICHI,12.30,12.10,12.40,9.40,17.00,0.82,2025-09-09
III,4.90,4.86,4.92,4.18,7.20,0.0,2025-09-09
ILM,14.90,14.90,15.10,11.50,18.90,-0.67,2025-09-09
IMH,4.20,4.12,4.30,3.50,6.05,-0.94,2025-09-09
IMPACT,10.10,9.95,10.10,9.25,12.80,1.51,2025-09-09
INOX,0.42,0.40,0.42,0.35,0.67,2.44,2025-09-09
IP,3.34,3.28,3.46,2.02,5.15,-1.76,2025-09-09
IRPC,1.28,1.24,1.30,0.70,1.86,0.79,2025-09-09
IVL,23.20,22.90,23.40,16.90,27.50,-0.43,2025-09-09
3BBIF,6.55,6.40,6.55,5.00,6.75,2.34,2025-09-09
JMART,10.50,9.95,10.50,5.20,17.70,3.96,2025-09-09
JMT,13.20,12.50,13.20,7.35,22.00,3.13,2025-09-09
KBANK,171.00,170.00,173.00,145.00,173.00,-0.58,2025-09-09
KCE,25.75,25.25,26.50,13.70,40.75,0.98,2025-09-09
KEX,1.49,1.49,1.50,0.78,3.40,0.0,2025-09-09
KGI,3.94,3.90,3.96,3.40,4.66,1.03,2025-09-09
KKP,60.25,59.50,60.25,43.50,62.00,0.0,2025-09-09
KSL,1.43,1.41,1.45,1.25,2.36,1.42,2025-09-09
KTB,26.00,25.25,26.00,19.70,26.00,1.96,2025-09-09
KTC,28.75,28.50,29.25,21.80,52.25,-1.71,2025-09-09
KYE,288.00,286.00,291.00,280.00,324.00,-0.35,2025-09-09
LALIN,5.00,4.98,5.00,4.80,6.80,0.4,2025-09-09
LANNA,15.60,15.30,15.60,14.10,17.10,0.65,2025-09-09
LH,4.26,4.16,4.26,3.18,6.50,1.43,2025-09-09
LHFG,0.77,0.76,0.77,0.72,0.96,1.32,2025-09-09
LHK,3.56,3.54,3.56,3.02,4.12,0.0,2025-09-09
LIT,0.86,0.85,0.91,0.39,1.34,-4.44,2025-09-09
LPH,4.16,4.10,4.16,3.20,4.78,1.46,2025-09-09
LPN,1.74,1.72,1.77,1.61,3.38,-0.57,2025-09-09
M,27.50,26.00,27.50,13.80,30.75,5.77,2025-09-09
MAJOR,8.30,8.25,8.35,7.35,16.00,0.61,2025-09-09
MBAX,1.41,1.40,1.41,1.17,3.10,0.71,2025-09-09
MC,11.10,11.10,11.20,9.15,13.00,0.0,2025-09-09
MCS,8.65,8.50,8.65,5.80,9.20,0.0,2025-09-09
MEGA,32.00,31.50,32.75,24.30,41.25,0.0,2025-09-09
MINT,24.10,23.70,24.30,21.70,29.50,-0.82,2025-09-09
MST,7.05,6.90,7.10,5.50,10.30,-1.4,2025-09-09
MTC,43.25,42.00,43.50,33.75,54.00,0.58,2025-09-09
NER,4.54,4.52,4.60,3.88,5.65,0.0,2025-09-09
NOBLE,2.18,2.16,2.24,1.60,3.44,-0.91,2025-09-09
ONEE,2.38,2.36,2.40,1.99,4.68,0.85,2025-09-09
OR,14.50,14.10,14.50,10.10,17.80,-0.68,2025-09-09
ORI,3.00,2.72,3.08,1.50,5.65,9.49,2025-09-09
OSP,19.40,18.80,19.40,12.90,24.30,2.65,2025-09-09
PAP,1.79,1.78,1.81,1.31,2.96,0.56,2025-09-09
PCSGH,3.10,3.06,3.12,2.46,4.66,-0.64,2025-09-09
PDG,2.76,2.70,2.76,2.36,2.88,1.47,2025-09-09
PLANB,4.98,4.88,5.05,4.08,8.60,1.63,2025-09-09
POPF,6.15,6.10,6.15,5.40,6.70,0.0,2025-09-09
PREB,3.64,3.60,3.66,3.34,5.55,0.55,2025-09-09
PRM,6.55,6.50,6.60,5.10,9.30,0.77,2025-09-09
PSH,4.38,4.32,4.38,3.66,9.80,0.92,2025-09-09
PSL,6.75,6.45,6.75,4.96,9.60,5.47,2025-09-09
PTG,8.40,8.20,8.55,5.45,10.70,-1.18,2025-09-09
PTL,9.85,9.75,9.85,9.20,14.40,1.03,2025-09-09
PTT,32.50,31.75,32.50,27.00,35.00,2.36,2025-09-09
PTTEP,111.00,110.50,112.50,93.00,144.00,-0.89,2025-09-09
PTTGC,27.50,26.75,27.75,14.20,32.75,0.0,2025-09-09
QH,1.39,1.39,1.42,1.15,2.00,-0.71,2025-09-09
RATCH,26.25,26.00,26.25,22.50,34.25,0.96,2025-09-09
RBF,4.26,4.24,4.32,3.04,7.40,0.95,2025-09-09
RCL,27.00,26.50,27.25,18.20,31.75,0.93,2025-09-09
RJH,13.20,13.10,13.40,11.50,26.25,0.76,2025-09-09
ROJNA,4.90,4.80,4.92,4.14,7.50,1.66,2025-09-09
RS,0.29,0.28,0.30,0.19,6.30,-3.33,2025-09-09
S11,3.30,3.28,3.34,1.86,3.70,0.0,2025-09-09
SAPPE,33.25,33.00,34.00,27.50,83.00,-1.48,2025-09-09
SAT,13.50,13.20,13.60,9.95,13.70,2.27,2025-09-09
SAWAD,29.75,28.25,29.75,14.80,41.36,1.71,2025-09-09
SC,1.89,1.80,1.89,1.40,3.22,5.59,2025-09-09
SCB,126.00,125.50,126.50,108.50,133.00,0.0,2025-09-09
SCC,222.00,219.00,224.00,124.50,255.00,-0.89,2025-09-09
SCCC,151.50,150.00,151.50,138.50,177.50,1.34,2025-09-09
SCGP,18.20,17.60,18.30,10.70,32.25,1.11,2025-09-09
SENA,1.94,1.91,1.94,1.54,2.50,0.52,2025-09-09
SGP,6.60,6.35,6.60,5.00,7.65,3.13,2025-09-09
SINGER,6.95,6.50,6.95,3.92,12.70,6.92,2025-09-09
SIRI,1.48,1.46,1.50,1.11,1.94,0.68,2025-09-09
SIS,22.10,21.80,22.20,17.60,31.25,0.0,2025-09-09
SJWD,10.20,10.10,10.50,5.75,12.50,0.99,2025-09-09
SKN,5.70,5.70,5.70,5.05,6.40,0.0,2025-09-09
SKR,8.15,8.10,8.30,6.20,9.80,-1.21,2025-09-09
SMPC,9.00,9.00,9.05,7.80,9.95,-0.55,2025-09-09
SNC,6.00,5.90,6.00,4.96,7.35,1.69,2025-09-09
SPALI,17.40,16.80,17.90,13.20,21.10,3.57,2025-09-09
SPC,58.00,58.00,58.00,53.00,60.75,0.0,2025-09-09
SPCG,8.30,8.25,8.35,6.60,9.40,0.0,2025-09-09
SPRC,4.82,4.78,4.82,4.26,7.25,0.0,2025-09-09
SPRIME,3.36,3.34,3.38,3.00,4.56,0.6,2025-09-09
SSP,3.98,3.96,3.98,3.88,6.35,0.0,2025-09-09
STA,13.60,13.30,13.90,10.30,25.75,-0.73,2025-09-09
STANLY,182.00,182.00,183.00,176.00,225.00,0.28,2025-09-09
STGT,6.85,6.70,6.90,5.10,13.30,0.0,2025-09-09
SUPER,0.15,0.15,0.16,0.12,0.32,0.0,2025-09-09
SUPEREIF,5.35,5.25,5.35,4.72,7.05,0.94,2025-09-09
SVI,5.95,5.80,6.00,5.55,9.40,1.71,2025-09-09
SYNEX,12.50,12.30,12.70,9.30,16.70,2.46,2025-09-09
TASCO,15.00,14.90,15.20,13.20,20.00,-1.32,2025-09-09
TCAP,51.25,50.75,51.25,44.25,53.50,0.0,2025-09-09
TFFIF,6.05,5.95,6.05,5.25,7.20,1.68,2025-09-09
TFG,5.00,4.90,5.15,3.02,6.10,-0.99,2025-09-09
THANI,1.79,1.77,1.81,1.15,2.26,0.56,2025-09-09
THG,6.90,6.55,7.00,6.45,27.36,5.34,2025-09-09
TIPH,21.40,21.30,21.50,16.70,30.50,-0.47,2025-09-09
TIPCO,8.65,8.50,8.65,8.35,10.40,0.58,2025-09-09
TISCO,102.50,102.00,102.50,95.00,103.00,0.0,2025-09-09
TK,4.44,4.40,4.46,3.28,5.45,-0.45,2025-09-09
TKN,6.00,5.95,6.10,5.00,11.80,0.0,2025-09-09
TKS,6.05,6.00,6.20,4.90,8.10,-1.63,2025-09-09
TMT,3.16,3.12,3.30,2.60,5.40,1.28,2025-09-09
TMW,53.50,53.00,53.75,47.00,66.75,0.0,2025-09-09
TOA,15.30,15.20,15.50,9.35,20.50,-1.29,2025-09-09
TOP,33.75,33.50,34.25,21.00,55.50,0.0,2025-09-09
TPIPL,0.70,0.69,0.74,0.69,1.29,-1.41,2025-09-09
TPIPP,2.28,2.26,2.30,1.99,3.14,0.88,2025-09-09
TQM,14.10,13.90,14.10,12.20,33.25,1.44,2025-09-09
TRUE,11.40,11.30,11.60,10.10,13.30,0.88,2025-09-09
TSE,0.52,0.49,0.54,0.29,1.24,6.12,2025-09-09
TSTH,0.74,0.73,0.75,0.47,0.93,-1.33,2025-09-09
TTA,4.36,4.36,4.42,3.22,6.55,0.0,2025-09-09
TTB,1.88,1.88,1.90,1.72,2.06,-0.53,2025-09-09
TTLPF,10.60,10.50,10.60,10.30,16.20,0.95,2025-09-09
TTW,9.25,9.15,9.25,8.45,9.50,0.54,2025-09-09
TU,12.60,12.40,12.70,8.60,15.60,-0.79,2025-09-09
TVO,25.50,25.00,25.50,19.70,25.75,0.99,2025-09-09
TYCN,1.75,1.65,1.81,1.62,2.62,1.16,2025-09-09
UTP,7.85,7.70,7.85,7.20,11.30,1.29,2025-09-09
VGI,2.04,2.02,2.06,1.86,3.68,0.99,2025-09-09
VIBHA,1.48,1.46,1.49,1.37,2.30,2.07,2025-09-09
VNG,2.06,2.02,2.06,1.89,3.82,0.98,2025-09-09
WHA,3.68,3.64,3.74,2.26,6.20,-1.08,2025-09-09
WHAIR,5.50,5.50,5.60,4.12,6.75,0.0,2025-09-09
WHART,9.30,9.15,9.30,8.55,10.80,1.64,2025-09-09
WHAUP,3.94,3.86,3.96,2.76,5.50,2.07,2025-09-09
WICE,3.08,2.96,3.10,2.34,6.95,5.48,2025-09-09
WORK,4.22,4.18,4.22,3.82,10.40,0.48,2025-09-09

In [13]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  08:22 PM

In [14]:
out_df.query('price == "-"')

Empty DataFrame
Columns: [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
Index: []

In [15]:
out_df.shape

(216, 8)

In [16]:
out_df = out_df[out_df['name'] != 'BCT']

In [17]:
out_df = out_df[out_df['name'] != 'LPF']

In [18]:
out_df = out_df[out_df['name'] != 'TYCN']

In [19]:
out_df = out_df[out_df['name'] != 'GRAMMY']

In [20]:
out_df = out_df[out_df['name'] != 'MST']

In [21]:
out_df = out_df[out_df['name'] != 'SPC']

In [22]:
out_df = out_df[out_df['name'] != 'SPRIME']

In [23]:
out_df = out_df[out_df['name'] != 'FPT']

In [24]:
out_df = out_df[out_df['name'] != 'GGC']

In [25]:
out_df = out_df[out_df['name'] != 'SKN']

In [26]:
out_df.shape

(207, 8)

In [27]:
out_df['price'] = out_df['price'].astype('float')
out_df['today_low'] = out_df['today_low'].astype('float')
out_df['today_high'] = out_df['today_high'].astype('float')
out_df['year_low'] = out_df['year_low'].astype('float')
out_df['year_high'] = out_df['year_high'].astype('float')
out_df['percent'] = out_df['percent'].astype('float')

In [28]:
sorted_out_df = out_df.sort_values('percent')

In [29]:
sorted_out_df.query('today_low < year_low')

Empty DataFrame
Columns: [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
Index: []

In [30]:
sorted_out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
14,ASP,2.78,2.68,2.8,1.81,2.74,2.21,2025-09-09

In [31]:
out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
14,ASP,2.78,2.68,2.8,1.81,2.74,2.21,2025-09-09

In [32]:
file_name = "Price-Hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [33]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price-Hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price-Hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Hilo.csv

In [34]:
out_df.to_csv(output_file, index=False)  
out_df.to_csv(god_file, index=False) 
out_df.to_csv(icd_file, index=False)  
out_df.to_csv(osd_file, index=False)

In [35]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-09-09 20:22:43