### Start and Run All

In [2]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
# from datetime import date, timedelta
from datetime import datetime
from time import sleep, strftime
current_time = datetime.now()
current_time

datetime.datetime(2025, 1, 23, 21, 19, 9, 165856)

In [4]:
url = "https://www.set.or.th/en/market/product/stock/quote/"
percent_span = ''

In [6]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [8]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"OSD path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
OSD path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [12]:
file_name = "price-hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [14]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\price-hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\price-hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\price-hilo.csv

In [16]:
def cvt_str_to_flt(input_str):
    # Check for the special pattern and return 0
    if input_str == '(-)':
        return 0
    
    # Remove parentheses and percent sign
    cleaned_str = input_str.replace('(', '').replace(')', '').replace('%', '')

    # Convert to float
    try:
        return float(cleaned_str)
    except ValueError:
        # Handle the case where the conversion fails
        return None

In [18]:
def get_stock_data(in_df):

    in_df.columns = ['name']
    
    output_columns = ['name', 'price', 'today_low', 'today_high', 'year_low', 'year_high', 'percent', 'updated_at']
    # Initialize an empty DataFrame with specified columns
    out_df = pd.DataFrame(columns=output_columns)
    
    for index, row in in_df.iterrows():
        name = str(row['name']).upper()
        response = request.urlopen(url + name + '/price')
        html_page = BeautifulSoup(response, 'html.parser')
        
  #      price = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info').text.strip()        
  #      if (price == '-'):
  #          price = '0.00'        

        price_div = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info')
        if price_div:
            price = price_div.text.strip()
        else:
            print(f"Price div not found for {name}")
            price = '0.00'     
            
        # Try to find the <h3> tag with the class 'theme-success'
        h3_tag = html_page.find('h3', class_='theme-success')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-danger')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)    
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-normal')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)   
                
        percent = cvt_str_to_flt(percent_span)
                
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'         
        
        year_low = values_low[1].text        
        year_high = values_high[1].text     
        
        # Find the div with the specific class, then find the span within it
        div = html_page.find('div', class_='price-detail-date d-flex align-items-center text-nowrap fs-12px')
        if div:
            span = div.find('span')
            if span:
                text = span.get_text()
#                 print(text)
            else:
                print("Span not found")
        else:
            print("Div not found")
            
        # Extract the date part from the string
        # Assuming the date is always in the format 'dd Mon yyyy'
        date_str = ' '.join(text.split()[2:5])

        # Parse the date string into a datetime object
        date_obj = datetime.strptime(date_str, '%d %b %Y')

        # Format the datetime object to 'yyyy-mm-dd'
        updated_at = date_obj.strftime('%Y-%m-%d')

#         print(updated_at)
        
        # Append row to the DataFrame and print the row
        out_df.loc[len(out_df)] = [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
#       print(out_df.iloc[-1].to_string(header=False, index=False)) 
        print(','.join(map(str, out_df.iloc[-1])))
        sleep(1)
        
    return out_df  # return the final dataframe with all values populated

In [20]:
start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  09:22 PM

In [22]:
df = pd.read_csv(input_file, header=None)
out_df = get_stock_data(df)

ACE,1.26,1.25,1.27,1.25,1.60,0.0,2025-01-23
ADVANC,283.00,283.00,288.00,193.00,299.00,-2.08,2025-01-23
AEONTS,113.50,113.50,118.50,107.00,168.50,-3.81,2025-01-23
AH,14.10,13.90,14.40,14.00,29.50,-0.7,2025-01-23
AIE,0.78,0.77,0.79,0.74,1.51,-1.27,2025-01-23
AIMIRT,10.40,10.40,10.50,10.20,11.20,-0.95,2025-01-23
AIT,4.26,4.24,4.38,3.62,5.05,-1.84,2025-01-23
AJ,2.48,2.44,2.56,2.36,7.15,1.64,2025-01-23
AMATA,26.75,26.75,27.50,20.10,31.00,-2.73,2025-01-23
ANAN,0.50,0.50,0.52,0.48,1.03,-1.96,2025-01-23
AOT,57.00,57.00,58.00,55.00,67.50,-2.15,2025-01-23
AP,7.75,7.75,7.85,7.50,11.20,-0.64,2025-01-23
ASIAN,7.75,7.75,7.85,6.35,11.20,0.0,2025-01-23
ASK,8.70,8.60,8.95,8.40,20.30,-1.69,2025-01-23
ASP,2.32,2.32,2.36,2.12,2.88,-0.85,2025-01-23
ASW,7.85,7.75,7.85,7.35,8.45,0.0,2025-01-23
AWC,3.08,3.06,3.12,2.88,4.58,-0.65,2025-01-23
BA,19.00,18.90,19.40,14.20,26.00,-2.56,2025-01-23
BAM,5.65,5.65,5.80,5.35,10.40,-0.88,2025-01-23
BANPU,5.15,5.15,5.35,4.38,7.50,-0.96,2025-01-23
BAY,23.80,23.80,24.00,22.20,29.00,-0.42,2025-01-23
BBL,154.00,154.00,156.50,129.00,159.50,-1.6,2025-01-23
BCH,15.00,14.90,15.20,14.10,23.80,-0.66,2025-01-23
BCP,34.00,33.75,34.75,26.50,47.50,-2.16,2025-01-23
BCPG,6.60,6.45,6.65,5.05,8.45,1.54,2025-01-23
BCT,65.00,62.25,65.25,53.00,76.75,0.0,2025-01-23
BDMS,23.70,23.60,24.00,23.10,31.25,-1.66,2025-01-23
BE8,13.50,12.80,13.90,10.60,30.25,6.3,2025-01-23
BEAUTY,0.28,0.28,0.29,0.27,0.84,0.0,2025-01-23
BEC,4.06,4.00,4.08,3.50,5.25,-0.98,2025-01-23
BEM,6.65,6.65,6.75,6.60,8.45,-1.48,2025-01-23
BGC,6.80,6.60,6.80,5.90,7.90,0.74,2025-01-23
BGRIM,15.60,15.20,15.90,14.30,30.00,1.3,2025-01-23
BH,189.00,188.50,192.00,184.50,284.00,-1.05,2025-01-23
BJC,22.20,22.10,22.50,19.20,26.25,-1.77,2025-01-23
BKIH,285.00,284.00,285.00,279.00,316.00,0.71,2025-01-23
BLA,18.60,18.50,19.20,16.30,25.75,-2.62,2025-01-23
BLAND,0.52,0.51,0.54,0.51,0.77,-3.7,2025-01-23
BPP,8.70,8.65,8.80,8.60,15.20,-0.57,2025-01-23
BTS,5.85,5.80,5.95,3.72,6.90,-0.85,2025-01-23
BTSGIF,2.94,2.94,2.96,2.92,3.70,-0.68,2025-01-23
CBG,79.50,79.00,81.00,61.25,82.00,0.63,2025-01-23
CENTEL,29.50,29.50,30.25,28.00,46.50,-1.67,2025-01-23
CHG,2.28,2.28,2.34,2.12,3.22,0.88,2025-01-23
CK,16.80,16.40,16.80,16.30,24.60,0.6,2025-01-23
CKP,2.94,2.92,2.98,2.86,4.28,-0.68,2025-01-23
COM7,22.60,22.60,23.40,16.40,28.25,-2.16,2025-01-23
CPALL,55.25,55.00,56.00,51.25,68.00,-0.9,2025-01-23
CPF,21.50,21.50,22.00,17.00,26.00,-2.27,2025-01-23
CPN,52.50,52.25,53.50,52.25,68.75,-1.87,2025-01-23
CPNCG,6.25,6.20,6.25,5.30,7.15,0.0,2025-01-23
CPNREIT,12.20,12.10,12.30,9.90,13.60,0.83,2025-01-23
CRC,33.75,33.50,34.00,24.20,37.75,-1.46,2025-01-23
DCC,1.59,1.59,1.62,1.56,2.16,-0.63,2025-01-23
DCON,0.29,0.29,0.30,0.29,0.55,0.0,2025-01-23
DELTA,146.50,146.50,150.50,63.25,173.50,-0.34,2025-01-23
DIF,8.40,8.35,8.45,7.45,9.85,-0.59,2025-01-23
DOHOME,8.25,8.20,8.55,8.05,12.60,-3.51,2025-01-23
DRT,7.45,7.40,7.50,7.35,8.45,0.0,2025-01-23
EA,2.90,2.88,3.12,2.14,28.66,-3.97,2025-01-23
EASTW,2.16,2.12,2.24,2.02,4.16,0.0,2025-01-23
ECL,0.83,0.82,0.85,0.67,1.51,0.0,2025-01-23
EGATIF,5.95,5.95,6.00,5.75,6.40,0.0,2025-01-23
EGCO,113.50,112.50,115.00,94.50,135.00,-1.3,2025-01-23
EPG,3.56,3.54,3.66,3.52,8.00,-2.73,2025-01-23
FORTH,9.30,9.20,9.50,8.80,19.80,-0.53,2025-01-23
FPT,9.00,9.00,9.20,9.10,15.40,-2.17,2025-01-23
FSMART,6.95,6.95,7.25,4.60,9.15,-1.42,2025-01-23
FTREIT,10.10,10.00,10.20,7.80,11.30,0.0,2025-01-23
GC,4.94,4.92,4.94,4.72,5.55,0.0,2025-01-23
GFPT,9.60,9.60,9.90,9.50,13.40,-3.03,2025-01-23
GGC,3.94,3.94,4.10,3.94,9.35,-4.37,2025-01-23
GLOBAL,11.80,11.70,12.40,12.40,17.40,-4.84,2025-01-23
GPSC,32.00,31.75,33.00,30.00,56.50,-1.54,2025-01-23
GRAMMY,8.00,8.00,8.00,3.90,8.90,0.0,2025-01-23
GULF,59.75,59.50,60.50,37.00,70.75,-0.83,2025-01-23
GUNKUL,2.02,2.02,2.06,1.94,3.18,-0.98,2025-01-23
GVREIT,6.50,6.50,6.55,4.98,7.15,0.0,2025-01-23
HANA,24.00,24.00,24.70,22.50,51.50,0.0,2025-01-23
HFT,4.26,4.26,4.34,3.92,4.82,-0.47,2025-01-23
HMPRO,8.65,8.60,8.95,7.65,11.60,-3.35,2025-01-23
HTC,16.10,16.10,16.20,15.00,18.20,0.0,2025-01-23
ICHI,13.30,13.20,13.40,13.10,18.80,0.76,2025-01-23
III,5.05,5.00,5.10,4.64,10.20,-0.98,2025-01-23
ILM,15.40,15.30,15.50,14.70,22.60,0.0,2025-01-23
IMH,4.44,4.42,4.48,4.04,7.95,-1.33,2025-01-23
IMPACT,10.50,10.50,10.70,9.15,12.80,-1.87,2025-01-23
INOX,0.48,0.44,0.52,0.40,0.67,9.09,2025-01-23
INTUCH,99.00,99.00,101.00,65.25,114.50,-1.98,2025-01-23
IP,2.88,2.86,3.00,2.82,7.30,-0.69,2025-01-23
IRPC,1.13,1.13,1.17,1.10,2.06,-2.59,2025-01-23
IVL,22.60,22.30,22.90,16.00,27.50,0.89,2025-01-23
3BBIF,5.15,5.10,5.15,5.00,6.75,0.0,2025-01-23
JMART,11.20,11.20,11.50,9.10,17.70,0.9,2025-01-23
JMT,15.00,14.70,15.30,9.90,25.25,1.35,2025-01-23
KBANK,159.00,159.00,161.50,118.50,163.50,-0.31,2025-01-23
KCE,22.70,22.60,23.30,21.30,48.50,-0.87,2025-01-23
KEX,1.44,1.39,1.45,1.39,6.50,2.86,2025-01-23
KGI,4.20,4.18,4.22,3.98,4.90,0.0,2025-01-23
KKP,53.00,53.00,54.50,37.00,55.50,-1.85,2025-01-23
KSL,1.79,1.78,1.82,1.65,2.68,0.0,2025-01-23
KTB,22.70,22.70,23.10,15.40,23.00,-1.3,2025-01-23
KTC,51.00,51.00,51.50,37.00,52.00,-0.97,2025-01-23
KYE,284.00,284.00,286.00,280.00,342.00,0.35,2025-01-23
LALIN,5.80,5.75,5.80,5.65,8.05,0.87,2025-01-23
LANNA,16.40,16.40,16.60,13.60,17.50,-0.61,2025-01-23
LH,4.74,4.74,4.90,4.58,7.80,-3.27,2025-01-23
LHFG,0.73,0.73,0.75,0.71,1.04,-2.67,2025-01-23
LHK,3.52,3.50,3.54,3.42,4.40,-0.56,2025-01-23
LIT,0.61,0.60,0.62,0.55,1.55,-1.61,2025-01-23
LPH,4.28,4.28,4.30,4.24,4.98,0.47,2025-01-23
LPN,2.14,2.12,2.18,2.06,3.88,0.0,2025-01-23
M,18.30,18.20,18.90,18.90,39.50,-3.17,2025-01-23
MAJOR,14.30,14.20,14.30,11.70,16.00,0.7,2025-01-23
MBAX,1.82,1.81,1.83,1.72,3.48,0.55,2025-01-23
MC,10.10,9.95,10.30,9.65,14.90,-0.98,2025-01-23
MCS,6.30,6.20,6.30,6.10,8.20,0.8,2025-01-23
MEGA,33.00,32.75,34.00,32.00,44.25,-1.49,2025-01-23
MINT,23.80,23.60,24.10,23.10,34.00,-1.24,2025-01-23
MST,9.00,8.90,9.00,8.75,11.00,0.0,2025-01-23
MTC,43.75,43.25,44.75,37.50,54.00,-1.69,2025-01-23
NER,4.92,4.90,5.00,4.48,6.45,-1.6,2025-01-23
NOBLE,2.36,2.32,2.42,2.42,4.10,-2.48,2025-01-23
ONEE,3.66,3.66,3.74,3.02,5.35,0.0,2025-01-23
OR,11.50,11.40,11.80,11.50,19.00,-2.54,2025-01-23
ORI,3.40,3.40,3.46,3.32,8.65,-0.58,2025-01-23
OSP,20.80,20.60,20.90,18.30,25.00,0.0,2025-01-23
PAP,1.83,1.74,1.88,1.46,2.96,5.17,2025-01-23
PCSGH,3.34,3.34,3.50,3.26,5.35,-0.6,2025-01-23
PDG,2.60,2.54,2.60,2.30,2.82,1.56,2025-01-23
PLANB,6.90,6.80,7.00,6.40,9.20,0.73,2025-01-23
POPF,6.35,6.25,6.35,5.35,6.70,0.0,2025-01-23
PREB,4.26,4.26,4.26,4.00,6.60,0.0,2025-01-23
PRM,7.30,7.25,7.45,5.40,9.30,-1.35,2025-01-23
PSH,6.65,6.65,6.85,6.45,12.60,-1.48,2025-01-23
PSL,6.15,6.10,6.20,6.10,11.20,-0.81,2025-01-23
PTG,7.50,7.50,7.65,7.45,10.70,-1.32,2025-01-23
PTL,10.30,10.20,10.40,9.15,14.40,0.0,2025-01-23
PTT,30.50,30.50,31.25,30.00,36.25,-2.4,2025-01-23
PTTEP,121.00,121.00,123.50,116.00,164.50,-2.42,2025-01-23
PTTGC,20.70,20.70,21.50,20.60,41.25,-3.72,2025-01-23
QH,1.72,1.72,1.74,1.59,2.30,-0.58,2025-01-23
RATCH,28.25,28.25,28.75,25.25,34.25,-0.88,2025-01-23
RBF,5.65,5.55,5.85,5.00,13.30,-2.59,2025-01-23
RCL,24.90,24.90,25.75,16.20,31.75,-1.39,2025-01-23
RJH,19.50,19.50,19.90,18.70,27.25,-0.51,2025-01-23
ROJNA,5.90,5.90,6.00,5.05,8.05,-0.84,2025-01-23
RS,1.21,1.21,1.29,1.12,7.35,-6.92,2025-01-23
S11,1.98,1.98,2.00,1.68,3.90,0.51,2025-01-23
SABUY,0.56,0.55,0.58,0.38,5.50,0.0,2025-01-23
SAPPE,59.25,59.25,60.50,57.75,107.50,-0.42,2025-01-23
SAT,10.30,10.30,10.50,10.00,18.90,0.0,2025-01-23
SAWAD,38.75,38.75,40.00,27.25,45.50,-0.64,2025-01-23
SC,2.62,2.60,2.68,2.30,4.00,-1.5,2025-01-23
SCB,122.50,122.50,125.00,100.00,125.00,-1.61,2025-01-23
SCC,150.00,150.00,155.00,150.50,278.00,-2.91,2025-01-23
SCCC,161.00,160.50,162.00,127.50,177.50,0.0,2025-01-23
SCGP,16.40,16.40,17.00,16.60,35.25,-5.2,2025-01-23
SENA,2.20,2.18,2.20,2.16,3.02,0.0,2025-01-23
SGP,7.10,7.05,7.15,6.55,8.45,-0.7,2025-01-23
SINGER,6.85,6.85,7.15,6.35,12.70,-0.72,2025-01-23
SIRI,1.71,1.71,1.73,1.51,1.94,-0.58,2025-01-23
SIS,26.25,26.25,27.25,20.80,31.25,0.96,2025-01-23
SJWD,8.80,8.80,9.00,8.80,16.70,-1.12,2025-01-23
SKN,5.30,5.30,5.40,4.04,6.40,-1.85,2025-01-23
SKR,8.65,8.55,8.75,8.65,10.70,-1.14,2025-01-23
SMPC,9.35,9.25,9.35,6.45,10.10,0.54,2025-01-23
SNC,5.30,5.25,5.35,4.72,8.85,0.0,2025-01-23
SPALI,16.80,16.70,17.10,14.80,21.60,0.0,2025-01-23
SPC,57.50,57.50,57.75,57.00,63.75,0.0,2025-01-23
SPCG,8.00,8.00,8.10,7.95,12.70,-1.23,2025-01-23
SPRC,5.55,5.55,5.75,5.45,9.40,-1.77,2025-01-23
SPRIME,4.18,4.18,4.20,3.66,4.84,-0.48,2025-01-23
SSP,5.25,5.10,5.25,5.10,8.50,0.0,2025-01-23
STA,16.60,16.50,16.90,15.30,25.75,1.22,2025-01-23
STANLY,218.00,218.00,219.00,198.50,233.00,0.0,2025-01-23
STGT,9.00,8.95,9.25,6.70,13.30,0.56,2025-01-23
SUPER,0.22,0.21,0.23,0.21,0.43,0.0,2025-01-23
SUPEREIF,6.20,6.15,6.20,5.60,7.05,0.0,2025-01-23
SVI,6.90,6.70,6.95,5.95,9.40,2.99,2025-01-23
SYNEX,13.20,13.20,13.60,9.70,16.70,-2.22,2025-01-23
TASCO,18.10,18.10,18.40,15.40,20.00,-1.63,2025-01-23
TCAP,49.75,49.75,50.75,43.25,53.50,-1.97,2025-01-23
TFFIF,6.30,6.25,6.30,6.00,7.20,0.0,2025-01-23
TFG,3.30,3.24,3.34,3.20,4.84,-0.6,2025-01-23
THANI,1.36,1.35,1.37,1.27,2.50,0.0,2025-01-23
THG,13.50,13.30,13.60,12.40,50.00,1.5,2025-01-23
TIDLOR,16.50,16.40,16.90,12.50,22.56,-1.2,2025-01-23
TIPH,20.10,20.00,20.40,19.90,32.25,0.0,2025-01-23
TIPCO,10.10,10.10,10.20,9.30,10.60,0.0,2025-01-23
TISCO,98.00,98.00,99.25,90.00,101.50,-1.01,2025-01-23
TK,3.90,3.84,4.00,3.82,5.75,-2.5,2025-01-23
TKN,8.70,8.60,8.75,7.70,12.30,1.75,2025-01-23
TKS,5.50,5.40,5.55,5.20,9.00,0.0,2025-01-23
TMT,3.20,3.04,3.28,2.94,6.15,5.26,2025-01-23
TMW,58.00,58.00,59.50,44.75,66.75,-1.28,2025-01-23
TOA,13.10,12.90,13.20,12.40,26.00,0.0,2025-01-23
TOP,25.50,25.50,26.25,24.50,60.75,-1.92,2025-01-23
TPIPL,1.00,0.99,1.01,0.98,1.45,0.0,2025-01-23
TPIPP,2.96,2.94,2.96,2.70,3.42,0.68,2025-01-23
TQM,19.30,18.80,19.40,18.80,33.25,1.05,2025-01-23
TRUE,11.60,11.60,11.80,5.35,12.40,-1.69,2025-01-23
TSE,0.73,0.69,0.73,0.69,2.12,5.8,2025-01-23
TSTH,0.59,0.54,0.60,0.47,0.90,11.32,2025-01-23
TTA,4.64,4.62,4.76,4.56,8.50,-0.43,2025-01-23
TTB,1.87,1.87,1.92,1.59,2.06,-1.58,2025-01-23
TTLPF,14.20,14.10,14.20,13.20,20.30,0.0,2025-01-23
TTW,8.90,8.90,8.95,8.50,10.10,0.0,2025-01-23
TU,11.30,11.20,12.00,11.80,16.00,-6.61,2025-01-23
TVO,21.00,21.00,21.20,18.60,25.25,0.0,2025-01-23
TYCN,1.83,1.82,1.85,1.84,2.78,-1.08,2025-01-23
UTP,7.60,7.60,7.70,7.30,12.00,0.0,2025-01-23
VGI,3.28,3.26,3.34,1.20,3.68,-1.2,2025-01-23
VIBHA,1.87,1.87,1.89,1.72,2.34,-1.06,2025-01-23
VNG,2.98,2.92,2.98,2.90,3.92,1.36,2025-01-23
WHA,5.00,5.00,5.10,4.50,6.20,-0.99,2025-01-23
WHAIR,6.45,6.45,6.50,5.20,6.75,0.0,2025-01-23
WHART,10.20,10.10,10.30,7.65,10.80,0.0,2025-01-23
WHAUP,3.96,3.94,4.12,3.78,5.50,-2.46,2025-01-23
WICE,3.50,3.50,3.54,3.44,7.55,-1.13,2025-01-23
WORK,5.25,5.20,5.40,5.25,11.10,-2.78,2025-01-23

In [24]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  09:28 PM

In [26]:
out_df.query('price == "-"')

Empty DataFrame
Columns: [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
Index: []

In [28]:
out_df.shape

(221, 8)

In [30]:
out_df = out_df[out_df['name'] != 'BCT']

In [36]:
out_df = out_df[out_df['name'] != 'LPF']

In [38]:
out_df = out_df[out_df['name'] != 'TYCN']

In [40]:
out_df = out_df[out_df['name'] != 'GRAMMY']

In [42]:
out_df = out_df[out_df['name'] != 'KYE']

In [28]:
out_df.shape

(221, 8)

In [30]:
out_df['price'] = out_df['price'].astype('float')
out_df['today_low'] = out_df['today_low'].astype('float')
out_df['today_high'] = out_df['today_high'].astype('float')
out_df['year_low'] = out_df['year_low'].astype('float')
out_df['year_high'] = out_df['year_high'].astype('float')
out_df['percent'] = out_df['percent'].astype('float')

In [32]:
sorted_out_df = out_df.sort_values('percent')

In [34]:
sorted_out_df.query('today_low < year_low')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
208,TU,11.30,11.20,12.00,11.80,16.00,-6.61,2025-01-23
157,SCGP,16.40,16.40,17.00,16.60,35.25,-5.20,2025-01-23
72,GLOBAL,11.80,11.70,12.40,12.40,17.40,-4.84,2025-01-23
112,M,18.30,18.20,18.90,18.90,39.50,-3.17,2025-01-23
155,SCC,150.00,150.00,155.00,150.50,278.00,-2.91,2025-01-23
220,WORK,5.25,5.20,5.40,5.25,11.10,-2.78,2025-01-23
124,OR,11.50,11.40,11.80,11.50,19.00,-2.54,2025-01-23
122,NOBLE,2.36,2.32,2.42,2.42,4.10,-2.48,2025-01-23
66,FPT,9.00,9.00,9.20,9.10,15.40,-2.17,2025-01-23
165,SKR,8.65,8.55,8.75,8.65,10.70,-1.14,2025-01-23
210,TYCN,1.83,1.82,1.85,1.84,2.78,-1.08,2025-01-23
3,AH,14.10,13.90,14.40,14.00,29.50,-0.70,2025-01-23

In [36]:
out_df.query('today_low < year_low').shape[0]

12

In [38]:
sorted_out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
101,KTB,22.7,22.7,23.1,15.4,23.0,-1.3,2025-01-23

In [40]:
out_df.query('today_high > year_high').shape[0]

1

In [42]:
file_name = "Price-Hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [44]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price-Hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price-Hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Hilo.csv

In [46]:
out_df.to_csv(output_file, index=False)  
out_df.to_csv(god_file, index=False) 
out_df.to_csv(icd_file, index=False)  
out_df.to_csv(osd_file, index=False)

In [48]:
current_time = datetime.now()
current_time

datetime.datetime(2025, 1, 23, 21, 31, 33, 177051)