### Start and Run All

In [2]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
# from datetime import date, timedelta
from datetime import datetime
from time import sleep, strftime

# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-07 22:22:07

In [3]:
url = "https://www.set.or.th/en/market/product/stock/quote/"
percent_span = ''

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"Obsidian path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
Obsidian path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [7]:
file_name = "price-hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [8]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\price-hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\price-hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\price-hilo.csv

In [9]:
def cvt_str_to_flt(input_str):
    # Check for the special pattern and return 0
    if input_str == '(-)':
        return 0
    
    # Remove parentheses and percent sign
    cleaned_str = input_str.replace('(', '').replace(')', '').replace('%', '')

    # Convert to float
    try:
        return float(cleaned_str)
    except ValueError:
        # Handle the case where the conversion fails
        return None

In [10]:
def get_stock_data(in_df):

    in_df.columns = ['name']
    
    output_columns = ['name', 'price', 'today_low', 'today_high', 'year_low', 'year_high', 'percent', 'updated_at']
    # Initialize an empty DataFrame with specified columns
    out_df = pd.DataFrame(columns=output_columns)
    
    for index, row in in_df.iterrows():
        name = str(row['name']).upper()
        response = request.urlopen(url + name + '/price')
        html_page = BeautifulSoup(response, 'html.parser')
        
  #      price = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info').text.strip()        
  #      if (price == '-'):
  #          price = '0.00'        

        price_div = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info')
        if price_div:
            price = price_div.text.strip()
        else:
            print(f"Price div not found for {name}")
            price = '0.00'     
            
        # Try to find the <h3> tag with the class 'theme-success'
        h3_tag = html_page.find('h3', class_='theme-success')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-danger')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)    
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-normal')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)   
                
        percent = cvt_str_to_flt(percent_span)
                
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'         
        
        year_low = values_low[1].text        
        year_high = values_high[1].text     
        
        # Find the div with the specific class, then find the span within it
        div = html_page.find('div', class_='price-detail-date d-flex align-items-center text-nowrap fs-12px')
        if div:
            span = div.find('span')
            if span:
                text = span.get_text()
#                 print(text)
            else:
                print("Span not found")
        else:
            print("Div not found")
            
        # Extract the date part from the string
        # Assuming the date is always in the format 'dd Mon yyyy'
        date_str = ' '.join(text.split()[2:5])

        # Parse the date string into a datetime object
        date_obj = datetime.strptime(date_str, '%d %b %Y')

        # Format the datetime object to 'yyyy-mm-dd'
        updated_at = date_obj.strftime('%Y-%m-%d')

#         print(updated_at)
        
        # Append row to the DataFrame and print the row
        out_df.loc[len(out_df)] = [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
#       print(out_df.iloc[-1].to_string(header=False, index=False)) 
        print(','.join(map(str, out_df.iloc[-1])))
        sleep(1)
        
    return out_df  # return the final dataframe with all values populated

In [11]:
start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  10:22 PM

In [12]:
df = pd.read_csv(input_file, header=None)
out_df = get_stock_data(df)

ACE,1.30,1.29,1.30,1.23,1.49,0.78,2025-08-07
ADVANC,298.00,297.00,305.00,235.00,309.00,0.68,2025-08-07
AEONTS,105.50,104.50,107.50,90.50,148.00,0.48,2025-08-07
AH,15.60,15.40,15.60,10.00,23.20,1.96,2025-08-07
AIE,1.22,1.21,1.25,0.72,1.80,-0.81,2025-08-07
AIMIRT,9.85,9.75,9.90,9.20,11.20,0.0,2025-08-07
AIT,5.15,5.10,5.20,3.74,5.30,0.98,2025-08-07
AJ,2.58,2.56,2.68,1.94,5.80,0.0,2025-08-07
AMATA,16.70,16.50,17.00,11.20,31.00,0.0,2025-08-07
ANAN,0.45,0.43,0.47,0.37,0.85,2.27,2025-08-07
AOT,40.50,39.75,41.00,26.75,65.00,1.25,2025-08-07
AP,7.45,7.45,7.65,5.60,10.50,-1.97,2025-08-07
ASIAN,7.55,7.50,7.65,6.50,10.50,0.0,2025-08-07
ASK,8.20,8.10,8.45,6.20,15.30,1.23,2025-08-07
ASP,2.42,2.40,2.46,1.81,2.70,0.83,2025-08-07
ASW,6.55,6.45,6.65,5.55,8.20,0.0,2025-08-07
AWC,2.34,2.24,2.46,1.55,3.94,2.63,2025-08-07
BA,14.90,14.90,15.70,10.60,26.00,-0.67,2025-08-07
BAM,8.30,8.25,8.45,5.35,10.20,-1.19,2025-08-07
BANPU,5.00,4.98,5.10,4.00,7.50,-0.99,2025-08-07
BAY,22.80,22.80,23.30,20.70,29.00,0.0,2025-08-07
BBL,152.50,151.50,154.50,129.00,161.50,0.33,2025-08-07
BCH,14.30,14.20,14.50,12.30,19.20,-0.69,2025-08-07
BCP,34.00,33.50,34.75,26.50,41.00,-1.45,2025-08-07
BCPG,7.55,7.05,7.75,5.05,7.80,7.86,2025-08-07
BCT,47.50,47.00,47.50,43.50,76.75,1.06,2025-08-07
BDMS,22.20,22.00,22.50,19.80,31.25,-0.89,2025-08-07
BE8,7.60,7.60,8.00,5.20,21.20,-1.94,2025-08-07
BEAUTY,0.32,0.30,0.34,0.19,0.57,3.23,2025-08-07
BEC,2.70,2.56,2.72,1.79,4.68,4.65,2025-08-07
BEM,5.55,5.45,5.65,4.56,8.30,0.91,2025-08-07
BGC,5.00,4.94,5.05,4.54,7.90,1.21,2025-08-07
BGRIM,12.40,12.10,13.00,8.90,24.80,5.08,2025-08-07
BH,189.50,187.00,194.00,130.00,284.00,0.0,2025-08-07
BJC,19.40,19.20,19.90,16.50,25.75,-0.51,2025-08-07
BKIH,291.00,289.00,291.00,271.00,316.00,0.34,2025-08-07
BLA,17.90,17.80,18.30,14.00,25.75,-1.1,2025-08-07
BLAND,0.50,0.49,0.51,0.38,0.70,2.04,2025-08-07
BPP,8.20,8.00,8.25,6.20,13.60,1.86,2025-08-07
BTS,3.60,3.58,3.74,3.28,6.40,-0.55,2025-08-07
BTSGIF,2.66,2.64,2.68,2.54,3.52,-0.75,2025-08-07
CBG,57.25,56.75,58.75,46.50,82.00,0.0,2025-08-07
CENTEL,28.25,28.25,29.50,19.40,41.25,-2.59,2025-08-07
CHG,1.82,1.81,1.85,1.39,3.00,-0.55,2025-08-07
CK,13.90,13.80,14.10,10.20,21.10,0.72,2025-08-07
CKP,2.90,2.84,2.94,2.10,4.04,0.69,2025-08-07
COM7,23.40,23.20,23.80,16.70,28.25,0.86,2025-08-07
CPALL,47.50,47.00,48.25,41.50,68.00,1.06,2025-08-07
CPF,24.10,23.70,24.70,19.80,26.50,1.69,2025-08-07
CPN,52.50,52.25,53.50,41.00,68.75,0.48,2025-08-07
CPNCG,6.15,6.05,6.15,5.30,6.65,1.65,2025-08-07
CPNREIT,11.50,11.40,11.60,10.20,13.60,-0.86,2025-08-07
CRC,22.10,22.00,22.50,15.80,36.00,-1.34,2025-08-07
DCC,1.44,1.44,1.47,1.18,2.04,-1.37,2025-08-07
DCON,0.23,0.23,0.24,0.23,0.41,0.0,2025-08-07
DELTA,147.00,145.50,148.50,51.25,173.50,-0.34,2025-08-07
DIF,8.40,8.30,8.40,7.35,9.85,0.6,2025-08-07
DOHOME,4.00,4.00,4.28,2.26,11.26,-8.68,2025-08-07
DRT,5.30,5.25,5.40,4.42,8.15,0.0,2025-08-07
EA,3.00,2.92,3.16,1.73,7.32,2.74,2025-08-07
EASTW,2.10,2.08,2.16,1.57,3.90,-2.78,2025-08-07
EGATIF,6.00,5.95,6.05,5.75,6.40,-0.83,2025-08-07
EGCO,113.50,112.50,117.00,85.00,128.50,1.34,2025-08-07
EPG,3.04,3.04,3.16,2.12,5.25,-1.94,2025-08-07
FORTH,7.25,7.20,7.45,6.05,15.00,0.0,2025-08-07
FPT,6.05,6.00,6.10,5.85,14.00,0.83,2025-08-07
FSMART,6.90,6.90,7.15,4.74,9.15,1.47,2025-08-07
FTREIT,9.35,9.35,9.50,8.60,11.30,-1.06,2025-08-07
GC,4.08,4.00,4.16,3.40,5.20,3.55,2025-08-07
GFPT,10.20,10.10,10.30,8.00,13.20,0.99,2025-08-07
GGC,3.94,3.92,3.96,3.20,5.45,-1.01,2025-08-07
GLOBAL,6.65,6.65,7.15,4.16,16.27,-6.99,2025-08-07
GPSC,36.25,35.25,37.75,22.40,49.75,7.41,2025-08-07
GRAMMY,4.58,4.56,4.62,4.30,8.50,-0.87,2025-08-07
GUNKUL,1.85,1.83,1.88,1.31,2.96,1.65,2025-08-07
GVREIT,6.55,6.50,6.60,5.25,7.15,0.0,2025-08-07
HANA,22.30,22.20,22.90,14.00,44.00,-3.04,2025-08-07
HFT,4.12,4.12,4.16,3.32,4.82,0.0,2025-08-07
HMPRO,7.00,6.95,7.25,5.70,11.10,-2.1,2025-08-07
HTC,15.30,15.20,15.40,14.50,17.70,0.0,2025-08-07
ICHI,11.40,11.30,11.70,9.40,17.00,0.0,2025-08-07
III,4.90,4.72,4.90,4.18,7.20,2.94,2025-08-07
ILM,13.90,13.80,14.00,11.50,18.90,0.0,2025-08-07
IMH,3.94,3.90,3.94,3.50,6.05,0.51,2025-08-07
IMPACT,9.90,9.70,9.90,9.25,12.80,2.06,2025-08-07
INOX,0.42,0.41,0.42,0.35,0.67,2.44,2025-08-07
IP,3.50,3.48,3.64,2.02,5.15,1.16,2025-08-07
IRPC,0.99,0.99,1.02,0.70,1.86,-2.94,2025-08-07
IVL,23.40,23.30,23.90,16.00,27.50,-1.27,2025-08-07
3BBIF,6.35,6.25,6.35,5.00,6.75,0.79,2025-08-07
JMART,9.20,9.05,9.60,5.20,17.70,-3.66,2025-08-07
JMT,12.10,12.00,12.60,7.35,22.00,-2.42,2025-08-07
KBANK,166.50,165.50,168.50,127.00,167.50,0.0,2025-08-07
KCE,24.00,23.90,24.70,13.70,41.50,-2.83,2025-08-07
KEX,1.48,1.48,1.49,0.78,3.40,0.0,2025-08-07
KGI,3.92,3.92,3.96,3.40,4.66,0.51,2025-08-07
KKP,57.00,56.25,57.25,37.75,58.25,0.88,2025-08-07
KSL,1.52,1.51,1.58,1.25,2.36,-1.3,2025-08-07
KTB,23.50,23.40,24.20,17.10,24.70,2.17,2025-08-07
KTC,29.00,28.75,29.75,21.80,52.25,-0.85,2025-08-07
KYE,292.00,291.00,298.00,280.00,324.00,-1.68,2025-08-07
LALIN,4.98,4.94,5.00,4.80,6.80,-0.4,2025-08-07
LANNA,16.20,16.20,16.40,14.00,17.50,-1.22,2025-08-07
LH,3.98,3.96,4.06,3.18,6.50,-1.49,2025-08-07
LHFG,0.77,0.77,0.80,0.71,0.96,-3.75,2025-08-07
LHK,3.56,3.54,3.58,3.02,4.12,-0.56,2025-08-07
LIT,0.72,0.71,0.75,0.39,1.34,1.41,2025-08-07
LPH,4.14,3.70,4.26,3.20,4.78,10.7,2025-08-07
LPN,1.76,1.76,1.78,1.61,3.38,0.0,2025-08-07
M,24.50,24.40,25.25,13.80,30.75,-2.0,2025-08-07
MAJOR,8.60,8.55,8.75,7.35,16.00,-1.15,2025-08-07
MBAX,1.40,1.38,1.40,1.17,3.10,1.45,2025-08-07
MC,10.30,10.20,10.40,9.15,13.00,-0.96,2025-08-07
MCS,8.65,8.45,8.70,5.80,9.20,2.37,2025-08-07
MEGA,30.50,30.25,31.00,24.30,41.25,0.0,2025-08-07
MINT,24.70,24.50,25.25,21.70,29.50,1.65,2025-08-07
MST,7.30,7.25,7.40,5.50,10.30,0.69,2025-08-07
MTC,38.75,38.50,39.50,33.75,54.00,-0.64,2025-08-07
NER,4.54,4.50,4.60,3.88,5.65,0.44,2025-08-07
NOBLE,1.81,1.80,1.88,1.60,3.46,-1.63,2025-08-07
ONEE,2.40,2.38,2.46,1.99,4.68,0.84,2025-08-07
OR,12.90,12.90,13.30,10.10,17.80,-1.53,2025-08-07
ORI,2.14,2.06,2.24,1.50,5.75,7.0,2025-08-07
OSP,18.50,18.40,18.80,12.90,24.30,-1.6,2025-08-07
PAP,1.74,1.72,1.80,1.31,2.96,1.75,2025-08-07
PCSGH,3.12,3.12,3.14,2.46,4.98,-0.64,2025-08-07
PDG,2.78,2.76,2.82,2.36,2.86,0.72,2025-08-07
PLANB,5.20,5.20,5.35,4.08,8.60,-2.8,2025-08-07
POPF,6.00,5.90,6.00,5.40,6.70,0.84,2025-08-07
PREB,3.58,3.50,3.58,3.34,5.55,1.13,2025-08-07
PRM,6.40,6.40,6.55,5.10,9.30,-1.54,2025-08-07
PSH,4.56,4.52,4.64,3.66,9.80,0.88,2025-08-07
PSL,6.55,6.50,6.70,4.96,9.60,-0.76,2025-08-07
PTG,6.80,6.70,7.00,5.45,10.70,-0.73,2025-08-07
PTL,10.60,10.60,10.80,9.20,14.40,-0.93,2025-08-07
PTT,32.25,32.00,32.50,27.00,35.00,0.0,2025-08-07
PTTEP,122.50,122.50,124.00,93.00,150.50,-0.41,2025-08-07
PTTGC,24.20,24.10,24.80,14.20,32.75,-2.02,2025-08-07
QH,1.46,1.46,1.49,1.15,2.00,0.0,2025-08-07
RATCH,26.50,26.25,27.25,22.50,34.25,0.95,2025-08-07
RBF,3.70,3.70,3.88,3.04,7.40,-1.07,2025-08-07
RCL,29.25,29.25,29.75,18.20,31.00,-0.85,2025-08-07
RJH,14.20,14.10,14.30,11.50,26.25,0.0,2025-08-07
ROJNA,4.88,4.82,4.90,4.14,7.50,1.24,2025-08-07
RS,0.30,0.23,0.30,0.19,6.30,30.43,2025-08-07
S11,3.22,3.14,3.26,1.68,3.70,1.9,2025-08-07
SAPPE,39.25,38.25,41.75,27.50,98.00,2.61,2025-08-07
SAT,12.70,12.70,13.10,9.95,13.70,-1.55,2025-08-07
SAWAD,22.70,22.50,23.10,14.80,41.36,0.44,2025-08-07
SC,1.82,1.81,1.86,1.40,3.22,-1.09,2025-08-07
SCB,128.50,128.00,130.00,100.50,129.00,0.0,2025-08-07
SCC,203.00,201.00,206.00,124.50,255.00,-0.98,2025-08-07
SCCC,150.50,150.50,152.00,134.00,177.50,0.33,2025-08-07
SCGP,18.40,18.30,18.90,10.70,32.25,-1.6,2025-08-07
SENA,1.81,1.76,1.81,1.54,2.50,1.12,2025-08-07
SGP,6.60,6.55,6.65,5.90,7.65,-1.49,2025-08-07
SINGER,5.80,5.70,5.90,3.92,12.70,-0.85,2025-08-07
SIRI,1.51,1.49,1.53,1.11,1.94,-0.66,2025-08-07
SIS,22.80,22.60,23.20,17.60,31.25,-0.44,2025-08-07
SJWD,8.95,8.90,9.10,5.75,12.50,-0.56,2025-08-07
SKN,5.75,5.65,5.75,5.05,6.40,0.88,2025-08-07
SKR,7.20,7.10,7.20,6.20,9.80,1.41,2025-08-07
SMPC,8.55,8.50,8.60,7.80,10.10,0.0,2025-08-07
SNC,6.00,6.00,6.10,4.72,7.35,-0.83,2025-08-07
SPALI,15.90,15.70,16.10,13.20,21.10,1.27,2025-08-07
SPC,58.50,58.25,58.50,53.00,61.50,0.0,2025-08-07
SPCG,8.20,8.20,8.35,6.60,9.40,-1.2,2025-08-07
SPRC,5.60,5.55,5.70,4.26,7.55,-0.88,2025-08-07
SPRIME,3.46,3.38,3.46,3.00,4.56,1.76,2025-08-07
SSP,4.08,4.08,4.10,4.04,6.40,0.0,2025-08-07
STA,14.00,13.90,14.40,10.30,25.75,0.0,2025-08-07
STANLY,184.00,184.00,184.50,183.50,225.00,0.0,2025-08-07
STGT,7.05,7.05,7.25,5.10,13.30,-0.7,2025-08-07
SUPER,0.16,0.15,0.16,0.12,0.32,6.67,2025-08-07
SUPEREIF,5.20,5.15,5.25,4.72,7.05,-0.95,2025-08-07
SVI,5.90,5.85,6.10,5.55,9.40,-3.28,2025-08-07
SYNEX,12.60,12.40,12.80,9.30,16.70,0.0,2025-08-07
TASCO,15.00,14.90,15.20,13.20,20.00,0.67,2025-08-07
TCAP,49.00,48.75,49.25,44.25,53.50,1.03,2025-08-07
TFFIF,6.10,6.00,6.10,5.25,7.20,0.83,2025-08-07
TFG,5.20,5.10,5.30,3.02,5.45,1.96,2025-08-07
THANI,1.72,1.69,1.82,1.15,2.26,-6.52,2025-08-07
THG,9.60,8.85,9.60,7.75,37.00,7.87,2025-08-07
TIPH,20.20,19.70,20.30,16.70,30.50,1.51,2025-08-07
TIPCO,8.85,8.85,8.95,8.35,10.40,0.0,2025-08-07
TISCO,99.75,99.25,100.00,90.00,101.00,0.0,2025-08-07
TK,4.14,4.06,4.20,3.28,5.45,1.97,2025-08-07
TKN,6.00,5.95,6.25,5.00,11.80,-0.83,2025-08-07
TKS,5.80,5.75,5.95,4.90,8.15,0.87,2025-08-07
TMT,3.32,3.32,3.40,2.60,5.40,-1.19,2025-08-07
TMW,49.50,49.00,49.50,45.00,66.75,1.02,2025-08-07
TOA,14.80,14.50,14.80,9.35,20.50,1.37,2025-08-07
TOP,33.50,33.50,34.25,21.00,55.50,-1.47,2025-08-07
TPIPL,0.93,0.93,0.95,0.72,1.29,-1.06,2025-08-07
TPIPP,2.40,2.38,2.44,1.99,3.14,0.0,2025-08-07
TQM,15.20,15.10,15.60,12.20,33.25,-1.94,2025-08-07
TRUE,11.00,11.00,11.40,9.65,13.30,-1.79,2025-08-07
TSE,0.45,0.44,0.46,0.29,1.24,0.0,2025-08-07
TSTH,0.79,0.79,0.81,0.47,0.93,0.0,2025-08-07
TTA,4.46,4.42,4.50,3.22,6.55,0.9,2025-08-07
TTB,1.92,1.90,1.94,1.64,2.06,0.0,2025-08-07
TTLPF,11.00,10.90,11.00,10.90,17.00,0.0,2025-08-07
TTW,9.10,9.05,9.10,8.45,9.50,0.0,2025-08-07
TU,12.70,12.40,12.70,8.60,15.80,2.42,2025-08-07
TVO,23.30,23.30,23.50,19.70,25.25,0.0,2025-08-07
TYCN,1.68,1.68,1.75,1.62,2.62,-7.69,2025-08-07
UTP,7.70,7.60,7.80,7.20,11.30,1.32,2025-08-07
VGI,2.12,2.10,2.14,1.65,3.68,0.0,2025-08-07
VIBHA,1.50,1.50,1.52,1.37,2.30,-0.66,2025-08-07
VNG,2.02,1.99,2.02,1.89,3.82,0.0,2025-08-07
WHA,3.62,3.60,3.70,2.26,6.20,0.56,2025-08-07
WHAIR,5.55,5.45,5.55,4.12,6.75,0.0,2025-08-07
WHART,9.30,9.30,9.50,8.55,10.80,-1.06,2025-08-07
WHAUP,3.48,3.46,3.58,2.76,5.50,0.58,2025-08-07
WICE,3.32,3.24,3.36,2.34,6.95,1.22,2025-08-07
WORK,4.52,4.16,4.60,3.82,10.40,9.18,2025-08-07

In [13]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  10:27 PM

In [14]:
out_df.query('price == "-"')

Empty DataFrame
Columns: [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
Index: []

In [15]:
out_df.shape

(216, 8)

In [16]:
out_df = out_df[out_df['name'] != 'BCT']

In [17]:
out_df = out_df[out_df['name'] != 'LPF']

In [18]:
out_df = out_df[out_df['name'] != 'TYCN']

In [19]:
out_df = out_df[out_df['name'] != 'GRAMMY']

In [20]:
out_df = out_df[out_df['name'] != 'MST']

In [21]:
out_df = out_df[out_df['name'] != 'SPC']

In [22]:
out_df = out_df[out_df['name'] != 'SPRIME']

In [23]:
out_df = out_df[out_df['name'] != 'FPT']

In [24]:
out_df = out_df[out_df['name'] != 'GGC']

In [25]:
out_df.shape

(208, 8)

In [26]:
out_df['price'] = out_df['price'].astype('float')
out_df['today_low'] = out_df['today_low'].astype('float')
out_df['today_high'] = out_df['today_high'].astype('float')
out_df['year_low'] = out_df['year_low'].astype('float')
out_df['year_high'] = out_df['year_high'].astype('float')
out_df['percent'] = out_df['percent'].astype('float')

In [27]:
sorted_out_df = out_df.sort_values('percent')

In [28]:
sorted_out_df.query('today_low < year_low')

Empty DataFrame
Columns: [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
Index: []

In [29]:
sorted_out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
150,SCB,128.5,128.0,130.0,100.5,129.0,0.0,2025-08-07
92,KBANK,166.5,165.5,168.5,127.0,167.5,0.0,2025-08-07

In [30]:
out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
92,KBANK,166.5,165.5,168.5,127.0,167.5,0.0,2025-08-07
150,SCB,128.5,128.0,130.0,100.5,129.0,0.0,2025-08-07

In [31]:
file_name = "Price-Hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [32]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price-Hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price-Hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Hilo.csv

In [33]:
out_df.to_csv(output_file, index=False)  
out_df.to_csv(god_file, index=False) 
out_df.to_csv(icd_file, index=False)  
out_df.to_csv(osd_file, index=False)

In [34]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-08-07 22:27:16