### Start and Run All

In [2]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
# from datetime import date, timedelta
from datetime import datetime
from time import sleep, strftime

# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-21 20:04:49

In [3]:
url = "https://www.set.or.th/en/market/product/stock/quote/"
percent_span = ''

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"Obsidian path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
Obsidian path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [7]:
file_name = "price-hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [8]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\price-hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\price-hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\price-hilo.csv

In [9]:
def cvt_str_to_flt(input_str):
    # Check for the special pattern and return 0
    if input_str == '(-)':
        return 0
    
    # Remove parentheses and percent sign
    cleaned_str = input_str.replace('(', '').replace(')', '').replace('%', '')

    # Convert to float
    try:
        return float(cleaned_str)
    except ValueError:
        # Handle the case where the conversion fails
        return None

In [10]:
def get_stock_data(in_df):

    in_df.columns = ['name']
    
    output_columns = ['name', 'price', 'today_low', 'today_high', 'year_low', 'year_high', 'percent', 'updated_at']
    # Initialize an empty DataFrame with specified columns
    out_df = pd.DataFrame(columns=output_columns)
    
    for index, row in in_df.iterrows():
        name = str(row['name']).upper()
        response = request.urlopen(url + name + '/price')
        html_page = BeautifulSoup(response, 'html.parser')
        
  #      price = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info').text.strip()        
  #      if (price == '-'):
  #          price = '0.00'        

        price_div = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info')
        if price_div:
            price = price_div.text.strip()
        else:
            print(f"Price div not found for {name}")
            price = '0.00'     
            
        # Try to find the <h3> tag with the class 'theme-success'
        h3_tag = html_page.find('h3', class_='theme-success')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-danger')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)    
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-normal')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)   
                
        percent = cvt_str_to_flt(percent_span)
                
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'         
        
        year_low = values_low[1].text        
        year_high = values_high[1].text     
        
        # Find the div with the specific class, then find the span within it
        div = html_page.find('div', class_='price-detail-date d-flex align-items-center text-nowrap fs-12px')
        if div:
            span = div.find('span')
            if span:
                text = span.get_text()
#                 print(text)
            else:
                print("Span not found")
        else:
            print("Div not found")
            
        # Extract the date part from the string
        # Assuming the date is always in the format 'dd Mon yyyy'
        date_str = ' '.join(text.split()[2:5])

        # Parse the date string into a datetime object
        date_obj = datetime.strptime(date_str, '%d %b %Y')

        # Format the datetime object to 'yyyy-mm-dd'
        updated_at = date_obj.strftime('%Y-%m-%d')

#         print(updated_at)
        
        # Append row to the DataFrame and print the row
        out_df.loc[len(out_df)] = [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
#       print(out_df.iloc[-1].to_string(header=False, index=False)) 
        print(','.join(map(str, out_df.iloc[-1])))
        sleep(1)
        
    return out_df  # return the final dataframe with all values populated

In [11]:
start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  08:04 PM

In [12]:
df = pd.read_csv(input_file, header=None)
out_df = get_stock_data(df)

ACE,1.29,1.27,1.29,1.23,1.52,0.0,2025-02-21
ADVANC,286.00,280.00,289.00,193.00,307.00,1.06,2025-02-21
AEONTS,110.50,108.50,110.50,103.50,168.50,0.45,2025-02-21
AH,14.00,13.90,14.00,13.70,26.00,0.0,2025-02-21
AIE,1.66,1.66,1.76,0.72,1.65,5.06,2025-02-21
AIMIRT,10.70,10.60,10.80,10.20,11.20,0.0,2025-02-21
AIT,4.66,4.60,4.66,3.74,5.05,1.75,2025-02-21
AJ,2.36,2.34,2.42,2.26,7.15,-1.67,2025-02-21
AMATA,25.25,24.90,25.50,20.10,31.00,1.41,2025-02-21
ANAN,0.45,0.44,0.46,0.40,0.94,2.27,2025-02-21
AOT,43.50,43.50,44.25,41.50,67.50,-0.57,2025-02-21
AP,8.45,8.15,8.55,7.50,11.20,3.05,2025-02-21
ASIAN,7.95,7.75,7.95,6.35,11.20,1.27,2025-02-21
ASK,7.20,7.15,7.35,7.00,19.20,-0.69,2025-02-21
ASP,2.30,2.26,2.30,2.12,2.88,0.0,2025-02-21
ASW,7.20,7.10,7.50,7.35,8.45,-4.64,2025-02-21
AWC,3.14,3.12,3.16,2.88,4.58,0.0,2025-02-21
BA,20.90,20.70,21.10,15.30,26.00,0.0,2025-02-21
BAM,6.45,6.20,6.55,5.35,10.40,3.2,2025-02-21
BANPU,4.42,4.40,4.50,4.38,7.50,-1.78,2025-02-21
BAY,23.50,23.50,23.70,22.20,29.00,-0.84,2025-02-21
BBL,155.50,155.00,159.50,129.00,161.50,-3.72,2025-02-21
BCH,15.60,15.40,15.80,13.40,22.30,-0.64,2025-02-21
BCP,35.75,33.75,36.25,26.50,47.50,-2.05,2025-02-21
BCPG,6.70,6.55,6.80,5.05,8.25,-4.96,2025-02-21
BCT,-,0.00,0.00,53.00,76.75,0.0,2025-02-21
BDMS,23.30,22.90,23.50,22.20,31.25,0.43,2025-02-21
BE8,12.80,12.60,13.00,10.60,29.50,0.79,2025-02-21
BEAUTY,0.23,0.22,0.25,0.21,0.73,-4.17,2025-02-21
BEC,3.86,3.84,3.88,3.50,5.25,0.0,2025-02-21
BEM,6.50,6.45,6.50,6.40,8.45,0.0,2025-02-21
BGC,6.70,6.65,6.80,5.90,7.90,-0.74,2025-02-21
BGRIM,12.60,12.60,12.90,12.30,30.00,-0.79,2025-02-21
BH,187.50,184.00,189.00,171.50,284.00,0.54,2025-02-21
BJC,22.90,22.10,23.00,19.20,26.25,3.15,2025-02-21
BKIH,289.00,289.00,291.00,279.00,316.00,-0.34,2025-02-21
BLA,21.40,21.40,21.80,16.30,25.75,-0.47,2025-02-21
BLAND,0.49,0.48,0.50,0.48,0.72,0.0,2025-02-21
BPP,8.35,8.15,8.35,8.05,15.20,0.6,2025-02-21
BTS,6.20,5.95,6.25,3.72,6.45,3.33,2025-02-21
BTSGIF,3.02,3.02,3.04,2.92,3.70,-0.66,2025-02-21
CBG,74.00,72.00,74.00,61.25,82.00,1.37,2025-02-21
CENTEL,29.50,29.25,30.00,26.00,46.50,-0.84,2025-02-21
CHG,2.28,2.24,2.30,2.04,3.08,0.0,2025-02-21
CK,15.20,14.90,15.20,14.80,24.60,1.33,2025-02-21
CKP,2.74,2.64,2.76,2.58,4.28,3.79,2025-02-21
COM7,21.60,21.30,21.80,16.40,28.25,0.47,2025-02-21
CPALL,52.00,51.25,52.50,46.75,68.00,-0.48,2025-02-21
CPF,22.50,21.90,22.50,17.60,26.00,3.21,2025-02-21
CPN,51.50,51.00,52.00,48.75,68.75,0.49,2025-02-21
CPNCG,6.05,6.05,6.10,5.30,6.65,0.0,2025-02-21
CPNREIT,12.30,12.10,12.30,9.90,13.60,0.0,2025-02-21
CRC,34.50,33.50,34.75,24.20,37.75,2.22,2025-02-21
DCC,1.45,1.45,1.49,1.48,2.16,-2.03,2025-02-21
DCON,0.30,0.29,0.30,0.28,0.53,0.0,2025-02-21
DELTA,75.00,74.75,78.75,63.25,173.50,-2.91,2025-02-21
DIF,8.05,8.05,8.15,7.45,9.85,-0.62,2025-02-21
DOHOME,7.40,6.95,7.45,5.95,12.60,5.71,2025-02-21
DRT,7.45,7.35,7.45,6.80,8.40,0.0,2025-02-21
EA,2.74,2.74,2.86,2.14,28.31,-2.14,2025-02-21
EASTW,2.18,2.14,2.20,2.02,4.04,-0.91,2025-02-21
ECL,0.89,0.89,0.91,0.67,1.51,-2.2,2025-02-21
EGATIF,6.10,6.05,6.10,5.75,6.40,0.83,2025-02-21
EGCO,101.00,99.75,102.00,94.50,132.00,0.5,2025-02-21
EPG,3.38,3.28,3.42,3.00,7.65,0.0,2025-02-21
FORTH,8.25,7.95,8.25,7.80,18.80,3.13,2025-02-21
FPT,7.00,6.95,7.05,7.00,15.40,0.0,2025-02-21
FSMART,7.20,7.00,7.20,4.60,9.15,0.7,2025-02-21
FTREIT,10.20,10.20,10.30,7.80,11.30,0.0,2025-02-21
GC,5.05,5.00,5.05,4.72,5.50,1.0,2025-02-21
GFPT,8.80,8.80,9.05,8.20,13.40,-3.83,2025-02-21
GGC,3.94,3.90,4.00,3.84,8.90,-1.5,2025-02-21
GLOBAL,8.40,8.20,8.40,7.80,17.40,1.82,2025-02-21
GPSC,29.00,28.00,29.50,25.75,56.50,3.57,2025-02-21
GRAMMY,6.95,6.55,7.10,3.90,8.90,-0.71,2025-02-21
GULF,53.00,51.25,53.75,37.00,70.75,3.41,2025-02-21
GUNKUL,1.81,1.79,1.82,1.75,3.10,0.56,2025-02-21
GVREIT,6.90,6.75,6.90,4.98,7.15,0.73,2025-02-21
HANA,21.00,21.00,21.80,20.50,49.75,-2.78,2025-02-21
HFT,4.20,4.18,4.26,3.92,4.82,-0.47,2025-02-21
HMPRO,8.60,8.50,8.65,7.65,11.60,1.78,2025-02-21
HTC,16.70,16.70,16.80,15.00,18.20,-0.6,2025-02-21
ICHI,13.50,13.30,13.60,12.00,18.80,0.75,2025-02-21
III,4.98,4.98,5.05,4.18,9.75,-1.39,2025-02-21
ILM,14.90,14.60,15.00,13.80,22.60,2.05,2025-02-21
IMH,4.36,4.36,4.38,4.00,7.65,0.0,2025-02-21
IMPACT,10.60,10.40,10.80,9.15,12.80,1.92,2025-02-21
INOX,0.46,0.45,0.46,0.40,0.67,2.22,2025-02-21
INTUCH,85.00,81.25,85.75,65.25,114.50,3.03,2025-02-21
IP,2.14,2.08,2.16,2.08,7.30,0.94,2025-02-21
IRPC,0.98,0.97,1.02,1.00,2.06,-2.97,2025-02-21
IVL,21.00,21.00,22.30,16.00,27.50,-4.98,2025-02-21
3BBIF,5.30,5.20,5.30,5.00,6.75,0.95,2025-02-21
JMART,10.40,10.20,10.50,9.10,17.70,0.97,2025-02-21
JMT,13.80,13.70,13.90,9.90,24.40,-0.72,2025-02-21
KBANK,159.00,159.00,163.50,121.50,164.50,-3.05,2025-02-21
KCE,20.50,20.50,21.20,19.50,47.75,-3.3,2025-02-21
KEX,1.14,1.14,1.21,1.19,6.50,-8.8,2025-02-21
KGI,4.20,4.20,4.24,3.98,4.90,-0.94,2025-02-21
KKP,57.00,54.50,57.50,37.00,56.25,2.7,2025-02-21
KSL,1.75,1.25,1.76,1.57,2.60,1.74,2025-02-21
KTB,24.00,23.80,24.60,15.70,24.70,-1.64,2025-02-21
KTC,50.75,50.50,51.25,37.00,52.25,0.0,2025-02-21
KYE,298.00,297.00,300.00,280.00,342.00,1.36,2025-02-21
LALIN,5.45,5.40,5.45,5.30,8.00,0.0,2025-02-21
LANNA,16.70,16.50,16.70,13.60,17.50,0.6,2025-02-21
LH,4.60,4.46,4.60,4.18,7.75,1.32,2025-02-21
LHFG,0.77,0.76,0.77,0.71,1.04,1.32,2025-02-21
LHK,3.38,3.36,3.38,3.30,4.18,0.6,2025-02-21
LIT,0.53,0.51,0.54,0.47,1.55,3.92,2025-02-21
LPH,4.08,4.04,4.08,3.98,4.86,0.49,2025-02-21
LPN,2.20,2.16,2.20,2.06,3.78,1.85,2025-02-21
M,19.00,19.00,19.60,16.70,39.50,-3.06,2025-02-21
MAJOR,13.20,13.00,13.20,11.70,16.00,0.76,2025-02-21
MBAX,1.85,1.85,1.89,1.72,3.34,-1.6,2025-02-21
MC,11.30,11.20,11.40,9.65,14.90,0.89,2025-02-21
MCS,7.25,7.20,7.45,5.80,8.20,6.62,2025-02-21
MEGA,33.25,31.75,33.75,29.75,43.75,3.1,2025-02-21
MINT,29.00,28.25,29.25,22.90,34.00,2.65,2025-02-21
MST,8.65,8.60,8.70,8.60,10.70,-0.57,2025-02-21
MTC,47.75,47.00,48.00,37.50,54.00,1.06,2025-02-21
NER,4.96,4.88,4.96,4.48,6.45,2.06,2025-02-21
NOBLE,2.14,2.14,2.16,1.99,3.82,-1.83,2025-02-21
ONEE,3.16,3.12,3.26,3.02,5.35,-2.47,2025-02-21
OR,12.20,12.10,12.50,10.70,19.00,-0.81,2025-02-21
ORI,3.18,3.16,3.22,2.84,8.00,1.27,2025-02-21
OSP,14.20,14.20,14.90,14.40,25.00,-4.7,2025-02-21
PAP,1.66,1.64,1.67,1.46,2.96,0.61,2025-02-21
PCSGH,3.64,3.58,3.82,3.26,5.25,-0.55,2025-02-21
PDG,2.58,2.54,2.60,2.30,2.82,-0.77,2025-02-21
PLANB,7.00,6.95,7.15,6.40,9.20,-1.41,2025-02-21
POPF,5.85,5.80,5.85,5.35,6.70,0.86,2025-02-21
PREB,4.06,4.00,4.10,4.00,6.45,-0.98,2025-02-21
PRM,7.55,7.50,7.70,6.15,9.30,0.0,2025-02-21
PSH,5.90,5.55,6.00,5.55,12.60,-0.84,2025-02-21
PSL,6.50,6.45,6.60,5.60,11.20,-0.76,2025-02-21
PTG,7.65,7.50,7.70,6.80,10.70,-0.65,2025-02-21
PTL,10.30,10.20,10.50,9.15,14.40,-1.9,2025-02-21
PTT,32.25,31.50,32.25,30.00,36.25,2.38,2025-02-21
PTTEP,126.50,125.00,127.00,116.00,164.50,0.8,2025-02-21
PTTGC,18.30,18.00,19.30,18.60,41.25,-4.69,2025-02-21
QH,1.66,1.63,1.66,1.57,2.30,1.22,2025-02-21
RATCH,27.75,27.50,28.00,25.25,34.25,0.0,2025-02-21
RBF,4.96,4.92,5.00,4.62,12.40,0.0,2025-02-21
RCL,26.75,25.25,27.25,16.20,31.75,5.94,2025-02-21
RJH,18.60,18.30,18.80,16.80,26.50,0.54,2025-02-21
ROJNA,6.00,5.85,6.00,5.05,8.05,1.69,2025-02-21
RS,0.87,0.83,0.89,0.73,7.35,3.57,2025-02-21
S11,2.60,2.48,2.64,1.68,3.64,4.0,2025-02-21
SABUY,0.44,0.44,0.47,0.38,5.50,-4.35,2025-02-21
SAPPE,52.00,51.25,52.75,48.50,107.50,-0.95,2025-02-21
SAT,12.30,12.10,12.50,10.00,18.90,0.82,2025-02-21
SAWAD,39.50,39.00,39.75,27.25,45.50,1.28,2025-02-21
SC,2.62,2.58,2.64,2.30,4.00,0.77,2025-02-21
SCB,126.00,126.00,127.50,100.00,128.00,-1.18,2025-02-21
SCC,141.50,140.50,143.50,142.50,275.00,-1.05,2025-02-21
SCCC,160.00,159.00,160.50,127.50,177.50,0.0,2025-02-21
SCGP,14.30,14.20,14.70,14.50,35.25,-1.38,2025-02-21
SENA,2.24,2.20,2.24,2.08,3.02,0.9,2025-02-21
SGP,7.05,6.95,7.20,6.55,8.45,0.71,2025-02-21
SINGER,5.90,5.90,6.05,5.60,12.70,-1.67,2025-02-21
SIRI,1.71,1.64,1.71,1.51,1.94,3.01,2025-02-21
SIS,25.50,25.00,25.50,20.80,31.25,0.99,2025-02-21
SJWD,7.30,7.20,7.40,7.20,16.70,-1.35,2025-02-21
SKN,5.40,5.40,5.50,4.04,6.40,-1.82,2025-02-21
SKR,8.10,8.00,8.10,8.05,10.70,0.62,2025-02-21
SMPC,9.25,9.20,9.30,6.45,10.10,-0.54,2025-02-21
SNC,5.45,5.30,5.45,4.72,7.80,1.87,2025-02-21
SPALI,16.30,15.80,16.40,14.80,21.60,2.52,2025-02-21
SPC,-,0.00,0.00,57.00,63.75,0.0,2025-02-21
SPCG,8.05,7.90,8.10,7.50,12.70,1.26,2025-02-21
SPRC,5.45,5.40,5.55,4.92,9.40,0.0,2025-02-21
SPRIME,4.20,4.20,4.22,3.66,4.72,0.0,2025-02-21
SSP,5.75,5.25,5.80,4.96,8.20,8.49,2025-02-21
STA,16.80,16.80,17.10,14.20,25.75,0.6,2025-02-21
STANLY,218.00,218.00,219.00,199.50,233.00,-0.46,2025-02-21
STGT,7.90,7.90,8.10,7.05,13.30,-0.63,2025-02-21
SUPER,0.19,0.18,0.19,0.17,0.40,5.56,2025-02-21
SUPEREIF,6.35,6.30,6.35,5.60,7.05,0.0,2025-02-21
SVI,7.15,7.10,7.20,5.95,9.40,-0.69,2025-02-21
SYNEX,10.50,10.30,10.60,9.70,16.70,0.0,2025-02-21
TASCO,17.00,16.90,17.00,15.40,20.00,0.59,2025-02-21
TCAP,51.00,50.00,51.25,43.25,53.50,0.49,2025-02-21
TFFIF,6.35,6.30,6.40,6.00,7.20,-0.78,2025-02-21
TFG,3.50,3.46,3.58,3.02,4.84,-0.57,2025-02-21
THANI,1.64,1.55,1.80,1.15,2.50,5.81,2025-02-21
THG,13.40,13.30,13.60,12.40,46.75,-1.47,2025-02-21
TIDLOR,18.60,18.00,18.60,12.50,22.56,1.09,2025-02-21
TIPH,22.10,21.90,22.40,19.90,32.25,-1.78,2025-02-21
TIPCO,9.95,9.95,10.00,9.45,10.60,0.0,2025-02-21
TISCO,99.50,99.00,99.75,90.00,101.50,0.25,2025-02-21
TK,3.76,3.64,3.76,3.44,5.60,1.08,2025-02-21
TKN,9.05,8.85,9.05,7.70,12.30,0.0,2025-02-21
TKS,5.60,5.15,5.60,4.94,9.00,5.66,2025-02-21
TMT,3.02,3.00,3.02,2.94,6.05,0.67,2025-02-21
TMW,56.25,55.75,57.25,44.75,66.75,-0.88,2025-02-21
TOA,12.20,12.10,12.40,11.60,26.00,0.0,2025-02-21
TOP,25.25,25.00,26.00,23.10,60.75,-3.81,2025-02-21
TPIPL,0.96,0.95,0.96,0.92,1.45,0.0,2025-02-21
TPIPP,2.90,2.88,2.90,2.70,3.42,0.0,2025-02-21
TQM,17.60,17.00,17.90,16.00,33.25,-1.12,2025-02-21
TRUE,12.80,11.90,13.00,6.45,13.30,0.0,2025-02-21
TSE,0.63,0.63,0.68,0.62,1.86,-7.35,2025-02-21
TSTH,0.53,0.53,0.55,0.47,0.90,-1.85,2025-02-21
TTA,4.64,4.64,4.76,3.96,8.50,-1.28,2025-02-21
TTB,1.96,1.96,1.98,1.59,2.06,-1.01,2025-02-21
TTLPF,13.80,13.70,13.90,13.20,20.30,-0.72,2025-02-21
TTW,9.10,9.00,9.10,8.50,9.90,0.55,2025-02-21
TU,11.70,11.60,11.80,10.70,15.80,0.0,2025-02-21
TVO,22.30,21.90,22.30,18.60,25.25,0.45,2025-02-21
TYCN,1.83,1.80,1.84,1.80,2.78,-1.61,2025-02-21
UTP,8.25,8.20,8.35,7.30,12.00,0.61,2025-02-21
VGI,3.20,3.12,3.26,1.20,3.68,1.27,2025-02-21
VIBHA,1.89,1.88,1.90,1.75,2.34,-0.53,2025-02-21
VNG,2.78,2.74,2.78,2.76,3.92,0.0,2025-02-21
WHA,4.60,4.58,4.70,4.38,6.20,0.0,2025-02-21
WHAIR,6.00,5.85,6.05,5.20,6.75,2.56,2025-02-21
WHART,10.30,10.10,10.40,7.65,10.80,0.98,2025-02-21
WHAUP,3.66,3.58,3.70,3.16,5.50,1.67,2025-02-21
WICE,3.26,3.24,3.28,3.10,7.55,0.0,2025-02-21
WORK,6.10,6.05,6.20,5.00,11.10,0.0,2025-02-21

In [13]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  08:10 PM

In [14]:
out_df.query('price == "-"')

    name price today_low today_high year_low year_high  percent  updated_at
25   BCT     -      0.00       0.00    53.00     76.75      0.0  2025-02-21
169  SPC     -      0.00       0.00    57.00     63.75      0.0  2025-02-21

In [15]:
out_df.shape

(221, 8)

In [16]:
out_df = out_df[out_df['name'] != 'BCT']

In [17]:
out_df = out_df[out_df['name'] != 'LPF']

In [18]:
out_df = out_df[out_df['name'] != 'TYCN']

In [19]:
out_df = out_df[out_df['name'] != 'GRAMMY']

In [20]:
out_df = out_df[out_df['name'] != 'MST']

In [24]:
out_df = out_df[out_df['name'] != 'SPC']

In [26]:
out_df.shape

(216, 8)

In [28]:
out_df['price'] = out_df['price'].astype('float')
out_df['today_low'] = out_df['today_low'].astype('float')
out_df['today_high'] = out_df['today_high'].astype('float')
out_df['year_low'] = out_df['year_low'].astype('float')
out_df['year_high'] = out_df['year_high'].astype('float')
out_df['percent'] = out_df['percent'].astype('float')

In [30]:
sorted_out_df = out_df.sort_values('percent')

In [32]:
sorted_out_df.query('today_low < year_low')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
97,KEX,1.14,1.14,1.21,1.19,6.50,-8.80,2025-02-21
126,OSP,14.20,14.20,14.90,14.40,25.00,-4.70,2025-02-21
140,PTTGC,18.30,18.00,19.30,18.60,41.25,-4.69,2025-02-21
15,ASW,7.20,7.10,7.50,7.35,8.45,-4.64,2025-02-21
90,IRPC,0.98,0.97,1.02,1.00,2.06,-2.97,2025-02-21
53,DCC,1.45,1.45,1.49,1.48,2.16,-2.03,2025-02-21
157,SCGP,14.30,14.20,14.70,14.50,35.25,-1.38,2025-02-21
155,SCC,141.50,140.50,143.50,142.50,275.00,-1.05,2025-02-21
214,VNG,2.78,2.74,2.78,2.76,3.92,0.00,2025-02-21
66,FPT,7.00,6.95,7.05,7.00,15.40,0.00,2025-02-21
165,SKR,8.10,8.00,8.10,8.05,10.70,0.62,2025-02-21
100,KSL,1.75,1.25,1.76,1.57,2.60,1.74,2025-02-21

In [34]:
sorted_out_df.query('name == "MCS"')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
116,MCS,7.25,7.2,7.45,5.8,8.2,6.62,2025-02-21

In [36]:
out_df.query('today_low < year_low')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
15,ASW,7.20,7.10,7.50,7.35,8.45,-4.64,2025-02-21
53,DCC,1.45,1.45,1.49,1.48,2.16,-2.03,2025-02-21
66,FPT,7.00,6.95,7.05,7.00,15.40,0.00,2025-02-21
90,IRPC,0.98,0.97,1.02,1.00,2.06,-2.97,2025-02-21
97,KEX,1.14,1.14,1.21,1.19,6.50,-8.80,2025-02-21
100,KSL,1.75,1.25,1.76,1.57,2.60,1.74,2025-02-21
126,OSP,14.20,14.20,14.90,14.40,25.00,-4.70,2025-02-21
140,PTTGC,18.30,18.00,19.30,18.60,41.25,-4.69,2025-02-21
155,SCC,141.50,140.50,143.50,142.50,275.00,-1.05,2025-02-21
157,SCGP,14.30,14.20,14.70,14.50,35.25,-1.38,2025-02-21
165,SKR,8.10,8.00,8.10,8.05,10.70,0.62,2025-02-21
214,VNG,2.78,2.74,2.78,2.76,3.92,0.00,2025-02-21

In [38]:
sorted_out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
99,KKP,57.00,54.50,57.50,37.00,56.25,2.70,2025-02-21
4,AIE,1.66,1.66,1.76,0.72,1.65,5.06,2025-02-21

In [40]:
out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
4,AIE,1.66,1.66,1.76,0.72,1.65,5.06,2025-02-21
99,KKP,57.00,54.50,57.50,37.00,56.25,2.70,2025-02-21

In [42]:
file_name = "Price-Hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [44]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price-Hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price-Hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Hilo.csv

In [46]:
out_df.to_csv(output_file, index=False)  
out_df.to_csv(god_file, index=False) 
out_df.to_csv(icd_file, index=False)  
out_df.to_csv(osd_file, index=False)

In [48]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-21 20:21:41