### Start and Run All

In [2]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
# from datetime import date, timedelta
from datetime import datetime
from time import sleep, strftime
current_time = datetime.now()
current_time

datetime.datetime(2025, 2, 4, 21, 21, 48, 732609)

In [3]:
url = "https://www.set.or.th/en/market/product/stock/quote/"
percent_span = ''

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"Obsidian path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
Obsidian path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [7]:
file_name = "price-hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [8]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\price-hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\price-hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\price-hilo.csv

In [9]:
def cvt_str_to_flt(input_str):
    # Check for the special pattern and return 0
    if input_str == '(-)':
        return 0
    
    # Remove parentheses and percent sign
    cleaned_str = input_str.replace('(', '').replace(')', '').replace('%', '')

    # Convert to float
    try:
        return float(cleaned_str)
    except ValueError:
        # Handle the case where the conversion fails
        return None

In [10]:
def get_stock_data(in_df):

    in_df.columns = ['name']
    
    output_columns = ['name', 'price', 'today_low', 'today_high', 'year_low', 'year_high', 'percent', 'updated_at']
    # Initialize an empty DataFrame with specified columns
    out_df = pd.DataFrame(columns=output_columns)
    
    for index, row in in_df.iterrows():
        name = str(row['name']).upper()
        response = request.urlopen(url + name + '/price')
        html_page = BeautifulSoup(response, 'html.parser')
        
  #      price = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info').text.strip()        
  #      if (price == '-'):
  #          price = '0.00'        

        price_div = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info')
        if price_div:
            price = price_div.text.strip()
        else:
            print(f"Price div not found for {name}")
            price = '0.00'     
            
        # Try to find the <h3> tag with the class 'theme-success'
        h3_tag = html_page.find('h3', class_='theme-success')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-danger')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)    
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-normal')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)   
                
        percent = cvt_str_to_flt(percent_span)
                
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'         
        
        year_low = values_low[1].text        
        year_high = values_high[1].text     
        
        # Find the div with the specific class, then find the span within it
        div = html_page.find('div', class_='price-detail-date d-flex align-items-center text-nowrap fs-12px')
        if div:
            span = div.find('span')
            if span:
                text = span.get_text()
#                 print(text)
            else:
                print("Span not found")
        else:
            print("Div not found")
            
        # Extract the date part from the string
        # Assuming the date is always in the format 'dd Mon yyyy'
        date_str = ' '.join(text.split()[2:5])

        # Parse the date string into a datetime object
        date_obj = datetime.strptime(date_str, '%d %b %Y')

        # Format the datetime object to 'yyyy-mm-dd'
        updated_at = date_obj.strftime('%Y-%m-%d')

#         print(updated_at)
        
        # Append row to the DataFrame and print the row
        out_df.loc[len(out_df)] = [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
#       print(out_df.iloc[-1].to_string(header=False, index=False)) 
        print(','.join(map(str, out_df.iloc[-1])))
        sleep(1)
        
    return out_df  # return the final dataframe with all values populated

In [11]:
start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  09:21 PM

In [12]:
df = pd.read_csv(input_file, header=None)
out_df = get_stock_data(df)

ACE,1.26,1.25,1.27,1.25,1.55,0.0,2025-02-04
ADVANC,279.00,279.00,283.00,193.00,299.00,0.0,2025-02-04
AEONTS,119.00,115.50,119.00,107.00,168.50,2.59,2025-02-04
AH,14.00,14.00,14.40,13.70,29.00,-1.41,2025-02-04
AIE,0.81,0.81,0.85,0.74,1.51,-2.41,2025-02-04
AIMIRT,10.40,10.40,10.50,10.20,11.20,-0.95,2025-02-04
AIT,4.38,4.34,4.42,3.64,5.05,0.46,2025-02-04
AJ,2.46,2.46,2.54,2.36,7.15,0.0,2025-02-04
AMATA,24.70,24.50,25.50,20.10,31.00,-2.18,2025-02-04
ANAN,0.48,0.40,0.51,0.48,1.03,-4.0,2025-02-04
AOT,56.00,55.25,56.50,53.25,67.50,1.82,2025-02-04
AP,7.90,7.85,8.05,7.50,11.20,0.0,2025-02-04
ASIAN,7.50,7.40,7.80,6.35,11.20,-2.6,2025-02-04
ASK,8.35,8.30,8.60,8.40,20.30,-1.76,2025-02-04
ASP,2.34,2.30,2.34,2.12,2.88,0.86,2025-02-04
ASW,7.85,7.75,7.85,7.35,8.45,0.64,2025-02-04
AWC,3.10,3.06,3.16,2.88,4.58,-1.27,2025-02-04
BA,18.20,18.00,19.30,15.10,26.00,-2.67,2025-02-04
BAM,5.65,5.60,5.80,5.35,10.40,-0.88,2025-02-04
BANPU,4.90,4.86,5.05,4.38,7.50,-0.41,2025-02-04
BAY,23.50,23.50,23.70,22.20,29.00,0.0,2025-02-04
BBL,153.00,152.00,154.00,129.00,159.50,0.33,2025-02-04
BCH,14.00,13.90,14.40,13.70,23.80,-2.1,2025-02-04
BCP,35.25,34.75,36.00,26.50,47.50,-1.4,2025-02-04
BCPG,6.85,6.55,6.95,5.05,8.45,5.38,2025-02-04
BCT,68.00,67.75,70.00,53.00,76.75,4.21,2025-02-04
BDMS,23.10,22.90,23.40,22.70,31.25,-1.28,2025-02-04
BE8,14.20,14.10,15.00,10.60,30.25,-4.05,2025-02-04
BEAUTY,0.26,0.26,0.27,0.26,0.84,0.0,2025-02-04
BEC,4.02,3.96,4.02,3.50,5.25,0.5,2025-02-04
BEM,6.70,6.60,6.80,6.40,8.45,0.0,2025-02-04
BGC,6.80,6.70,6.80,5.90,7.90,0.74,2025-02-04
BGRIM,14.30,14.10,15.00,14.30,30.00,-4.03,2025-02-04
BH,173.50,172.50,178.00,171.50,284.00,-1.14,2025-02-04
BJC,21.60,21.60,22.10,19.20,26.25,-0.92,2025-02-04
BKIH,290.00,287.00,295.00,279.00,316.00,1.4,2025-02-04
BLA,17.90,17.80,18.40,16.30,25.75,-1.1,2025-02-04
BLAND,0.51,0.50,0.51,0.49,0.76,2.0,2025-02-04
BPP,8.40,8.40,8.55,8.30,15.20,-1.18,2025-02-04
BTS,6.20,6.10,6.30,3.72,6.45,2.48,2025-02-04
BTSGIF,2.96,2.96,3.00,2.92,3.70,0.0,2025-02-04
CBG,74.00,72.00,74.50,61.25,82.00,3.5,2025-02-04
CENTEL,28.75,28.75,29.75,27.25,46.50,-2.54,2025-02-04
CHG,2.18,2.16,2.28,2.12,3.12,-2.68,2025-02-04
CK,16.20,16.10,16.60,15.90,24.60,-1.22,2025-02-04
CKP,2.82,2.82,2.88,2.80,4.28,-1.4,2025-02-04
COM7,22.00,21.90,22.50,16.40,28.25,-0.45,2025-02-04
CPALL,51.75,51.25,52.50,47.25,68.00,-1.43,2025-02-04
CPF,20.90,20.60,21.30,17.60,26.00,-1.42,2025-02-04
CPN,51.50,51.25,52.25,50.50,68.75,-0.96,2025-02-04
CPNCG,6.25,6.20,6.30,5.30,7.15,0.0,2025-02-04
CPNREIT,12.00,11.90,12.30,9.90,13.60,-1.64,2025-02-04
CRC,33.75,33.00,34.00,24.20,37.75,2.27,2025-02-04
DCC,1.54,1.54,1.57,1.55,2.16,-0.65,2025-02-04
DCON,0.30,0.29,0.30,0.28,0.55,3.45,2025-02-04
DELTA,123.00,123.00,129.00,63.25,173.50,-1.99,2025-02-04
DIF,8.40,8.40,8.50,7.45,9.85,0.0,2025-02-04
DOHOME,7.15,7.10,7.50,6.85,12.60,1.42,2025-02-04
DRT,7.45,7.40,7.45,7.35,8.45,0.68,2025-02-04
EA,2.86,2.80,3.06,2.14,28.66,-3.38,2025-02-04
EASTW,2.08,2.08,2.12,2.02,4.06,-1.89,2025-02-04
ECL,0.90,0.84,0.91,0.67,1.51,7.14,2025-02-04
EGATIF,5.95,5.90,5.95,5.75,6.40,0.0,2025-02-04
EGCO,104.00,103.50,108.50,94.50,135.00,-3.26,2025-02-04
EPG,3.30,3.30,3.40,3.22,7.85,0.0,2025-02-04
FORTH,8.45,8.45,8.80,8.70,18.80,-2.87,2025-02-04
FPT,8.45,8.40,8.50,8.35,15.40,-0.59,2025-02-04
FSMART,6.50,6.50,6.70,4.60,9.15,-0.76,2025-02-04
FTREIT,10.10,10.10,10.20,7.80,11.30,0.0,2025-02-04
GC,4.94,4.94,4.96,4.72,5.55,0.0,2025-02-04
GFPT,8.85,8.80,9.20,9.00,13.40,-3.28,2025-02-04
GGC,4.00,3.98,4.00,3.92,9.30,0.0,2025-02-04
GLOBAL,9.40,9.40,9.95,9.10,17.40,0.53,2025-02-04
GPSC,30.25,30.00,31.00,29.00,56.50,-0.82,2025-02-04
GRAMMY,6.90,6.90,7.90,3.90,8.90,-12.66,2025-02-04
GULF,58.50,57.50,58.75,37.00,70.75,2.18,2025-02-04
GUNKUL,1.92,1.92,1.97,1.90,3.18,-0.52,2025-02-04
GVREIT,6.60,6.60,6.65,4.98,7.15,0.0,2025-02-04
HANA,21.70,21.60,23.20,22.20,51.50,-3.56,2025-02-04
HFT,4.16,4.08,4.26,3.92,4.82,-1.89,2025-02-04
HMPRO,8.50,8.40,8.65,7.65,11.60,-1.16,2025-02-04
HTC,16.20,16.20,16.40,15.00,18.20,-0.61,2025-02-04
ICHI,12.60,12.60,13.00,12.30,18.80,-0.79,2025-02-04
III,4.88,4.82,4.88,4.64,10.20,-0.81,2025-02-04
ILM,14.90,14.60,15.20,14.40,22.60,1.36,2025-02-04
IMH,4.38,4.30,4.42,4.00,7.95,1.39,2025-02-04
IMPACT,10.30,10.20,10.50,9.15,12.80,0.0,2025-02-04
INOX,0.44,0.43,0.45,0.40,0.67,0.0,2025-02-04
INTUCH,98.50,97.00,98.50,65.25,114.50,1.81,2025-02-04
IP,2.40,2.20,2.42,2.28,7.30,1.69,2025-02-04
IRPC,1.11,1.11,1.14,1.10,2.06,-0.89,2025-02-04
IVL,23.10,22.70,23.40,16.00,27.50,-0.86,2025-02-04
3BBIF,5.40,5.40,5.50,5.00,6.75,0.93,2025-02-04
JMART,10.60,10.50,11.00,9.10,17.70,-1.85,2025-02-04
JMT,14.40,14.30,14.90,9.90,25.25,-2.04,2025-02-04
KBANK,163.00,159.50,163.50,118.50,163.50,2.52,2025-02-04
KCE,19.90,19.90,21.60,20.80,47.75,-5.24,2025-02-04
KEX,1.44,1.40,1.47,1.38,6.50,0.0,2025-02-04
KGI,4.18,4.16,4.20,3.98,4.90,0.0,2025-02-04
KKP,52.00,51.25,52.50,37.00,55.50,-0.48,2025-02-04
KSL,1.76,1.72,1.78,1.65,2.66,2.33,2025-02-04
KTB,23.30,22.90,23.50,15.40,23.60,1.75,2025-02-04
KTC,51.75,51.00,52.00,37.00,52.25,0.98,2025-02-04
KYE,287.00,284.00,288.00,280.00,342.00,1.41,2025-02-04
LALIN,5.60,5.60,5.70,5.55,8.05,-0.88,2025-02-04
LANNA,16.20,16.10,16.40,13.60,17.50,-0.61,2025-02-04
LH,4.52,4.50,4.58,4.50,7.75,0.44,2025-02-04
LHFG,0.75,0.75,0.76,0.71,1.04,0.0,2025-02-04
LHK,3.48,3.46,3.48,3.42,4.34,-0.57,2025-02-04
LIT,0.62,0.58,0.64,0.55,1.55,-1.59,2025-02-04
LPH,4.24,4.20,4.24,4.20,4.98,0.47,2025-02-04
LPN,2.20,2.18,2.20,2.06,3.84,0.92,2025-02-04
M,17.20,17.10,17.80,16.80,39.50,-1.15,2025-02-04
MAJOR,14.00,14.00,14.30,11.70,16.00,-2.1,2025-02-04
MBAX,1.80,1.76,1.82,1.72,3.38,1.69,2025-02-04
MC,10.00,10.00,10.20,9.65,14.90,0.0,2025-02-04
MCS,6.10,6.00,6.25,6.05,8.20,0.0,2025-02-04
MEGA,32.75,32.00,32.75,29.75,43.75,3.15,2025-02-04
MINT,25.00,24.70,25.50,22.90,34.00,1.21,2025-02-04
MST,8.90,8.90,9.00,8.75,11.00,-0.56,2025-02-04
MTC,44.50,43.75,44.75,37.50,54.00,1.14,2025-02-04
NER,4.84,4.80,4.90,4.48,6.45,-0.82,2025-02-04
NOBLE,2.14,2.12,2.18,2.06,3.88,0.0,2025-02-04
ONEE,3.40,3.38,3.50,3.02,5.35,-1.16,2025-02-04
OR,11.30,11.20,11.60,10.70,19.00,-0.88,2025-02-04
ORI,3.20,3.18,3.42,3.28,8.65,-5.33,2025-02-04
OSP,15.30,15.30,16.00,14.90,25.00,-1.29,2025-02-04
PAP,1.78,1.77,1.80,1.46,2.96,0.0,2025-02-04
PCSGH,3.56,3.50,3.58,3.26,5.30,1.71,2025-02-04
PDG,2.44,2.42,2.46,2.30,2.82,-0.81,2025-02-04
PLANB,7.00,6.90,7.10,6.40,9.20,0.0,2025-02-04
POPF,6.25,6.25,6.35,5.35,6.70,0.81,2025-02-04
PREB,4.20,4.16,4.22,4.00,6.55,0.0,2025-02-04
PRM,7.20,7.00,7.40,5.95,9.30,-2.04,2025-02-04
PSH,6.30,6.30,6.60,6.25,12.60,-4.55,2025-02-04
PSL,5.95,5.90,6.10,5.85,11.20,0.0,2025-02-04
PTG,7.40,7.30,7.50,7.15,10.70,0.68,2025-02-04
PTL,10.20,10.00,10.30,9.15,14.40,2.0,2025-02-04
PTT,30.75,30.25,31.25,30.00,36.25,-0.81,2025-02-04
PTTEP,123.50,123.50,126.50,116.00,164.50,-1.98,2025-02-04
PTTGC,20.10,20.00,21.00,20.60,41.25,-2.9,2025-02-04
QH,1.68,1.67,1.70,1.59,2.30,0.0,2025-02-04
RATCH,27.75,27.50,28.25,25.25,34.25,-0.89,2025-02-04
RBF,5.45,5.45,5.70,5.00,13.30,-1.8,2025-02-04
RCL,23.10,23.10,23.70,16.20,31.75,-1.7,2025-02-04
RJH,19.20,19.10,19.50,18.70,26.50,0.0,2025-02-04
ROJNA,5.75,5.75,5.95,5.05,8.05,-2.54,2025-02-04
RS,0.95,0.94,1.05,0.98,7.35,-5.94,2025-02-04
S11,2.02,1.97,2.02,1.68,3.76,0.0,2025-02-04
SABUY,0.55,0.53,0.56,0.38,5.50,-1.79,2025-02-04
SAPPE,53.50,53.50,57.00,53.25,107.50,-4.89,2025-02-04
SAT,10.60,10.60,10.80,10.00,18.90,0.0,2025-02-04
SAWAD,38.00,37.25,38.50,27.25,45.50,3.4,2025-02-04
SC,2.70,2.70,2.76,2.30,4.00,-2.17,2025-02-04
SCB,127.00,125.50,127.50,100.00,126.50,0.79,2025-02-04
SCC,147.50,147.00,152.00,148.50,276.00,-2.32,2025-02-04
SCCC,160.50,160.00,162.00,127.50,177.50,-0.62,2025-02-04
SCGP,15.50,15.30,16.30,15.30,35.25,-3.13,2025-02-04
SENA,2.16,2.14,2.16,2.12,3.02,0.0,2025-02-04
SGP,7.10,7.05,7.15,6.55,8.45,0.71,2025-02-04
SINGER,6.60,6.60,7.00,6.35,12.70,-2.94,2025-02-04
SIRI,1.71,1.68,1.71,1.51,1.94,1.18,2025-02-04
SIS,25.25,25.25,27.00,20.80,31.25,-3.81,2025-02-04
SJWD,8.05,8.05,8.30,7.90,16.70,-1.23,2025-02-04
SKN,5.75,5.60,6.10,4.04,6.40,-4.17,2025-02-04
SKR,8.60,8.35,8.60,8.35,10.70,2.99,2025-02-04
SMPC,9.20,9.20,9.30,6.45,10.10,0.0,2025-02-04
SNC,5.60,5.55,5.75,4.72,8.85,-2.61,2025-02-04
SPALI,16.60,16.50,16.80,14.80,21.60,-0.6,2025-02-04
SPC,58.50,58.25,58.50,57.00,63.75,0.86,2025-02-04
SPCG,7.95,7.95,8.10,7.95,12.70,-1.24,2025-02-04
SPRC,5.05,5.05,5.30,5.05,9.40,-4.72,2025-02-04
SPRIME,4.18,4.18,4.18,3.66,4.80,0.0,2025-02-04
SSP,5.20,5.05,5.25,4.98,8.45,0.97,2025-02-04
STA,15.40,15.30,16.00,15.20,25.75,0.0,2025-02-04
STANLY,218.00,218.00,219.00,198.50,233.00,0.0,2025-02-04
STGT,7.70,7.70,8.45,6.70,13.30,-3.14,2025-02-04
SUPER,0.21,0.19,0.21,0.19,0.43,0.0,2025-02-04
SUPEREIF,6.25,6.20,6.30,5.60,7.05,0.81,2025-02-04
SVI,6.65,6.60,6.95,5.95,9.40,-2.92,2025-02-04
SYNEX,12.20,12.10,13.10,9.70,16.70,-6.15,2025-02-04
TASCO,17.90,17.80,18.10,15.40,20.00,0.56,2025-02-04
TCAP,50.00,49.50,50.25,43.25,53.50,0.0,2025-02-04
TFFIF,6.30,6.25,6.30,6.00,7.20,0.8,2025-02-04
TFG,3.10,3.06,3.16,3.04,4.84,0.65,2025-02-04
THANI,1.29,1.29,1.32,1.27,2.50,-0.77,2025-02-04
THG,13.30,13.30,13.80,12.40,49.25,-0.75,2025-02-04
TIDLOR,17.30,16.90,17.40,12.50,22.56,2.37,2025-02-04
TIPH,21.20,20.80,21.80,19.90,32.25,2.42,2025-02-04
TIPCO,10.30,10.20,10.30,9.40,10.60,0.0,2025-02-04
TISCO,100.50,99.75,100.50,90.00,101.50,0.75,2025-02-04
TK,3.70,3.70,3.80,3.64,5.75,-1.07,2025-02-04
TKN,8.30,8.30,8.50,7.70,12.30,-0.6,2025-02-04
TKS,5.30,5.30,5.55,5.20,9.00,-2.75,2025-02-04
TMT,3.06,3.06,3.18,2.94,6.05,-1.92,2025-02-04
TMW,58.50,57.25,59.75,44.75,66.75,0.0,2025-02-04
TOA,12.10,12.10,12.40,11.60,26.00,0.0,2025-02-04
TOP,25.00,25.00,26.00,24.50,60.75,-2.91,2025-02-04
TPIPL,0.98,0.98,1.01,0.98,1.45,-2.0,2025-02-04
TPIPP,2.96,2.94,2.98,2.70,3.42,0.0,2025-02-04
TQM,16.80,16.40,17.80,17.60,33.25,-4.55,2025-02-04
TRUE,11.70,11.50,11.70,6.10,12.40,0.86,2025-02-04
TSE,0.68,0.66,0.68,0.67,2.06,1.49,2025-02-04
TSTH,0.56,0.56,0.59,0.47,0.90,-3.45,2025-02-04
TTA,4.28,4.26,4.40,4.28,8.50,-0.47,2025-02-04
TTB,1.97,1.97,1.99,1.59,2.06,-0.51,2025-02-04
TTLPF,13.70,13.70,14.20,13.20,20.30,-2.84,2025-02-04
TTW,8.90,8.85,8.95,8.50,10.10,-0.56,2025-02-04
TU,11.60,11.50,11.90,11.20,16.00,-1.69,2025-02-04
TVO,20.80,20.80,21.10,18.60,25.25,0.0,2025-02-04
TYCN,1.85,1.85,1.85,1.82,2.78,0.0,2025-02-04
UTP,7.80,7.70,7.85,7.30,12.00,1.3,2025-02-04
VGI,3.08,3.02,3.16,1.20,3.68,-1.28,2025-02-04
VIBHA,1.87,1.85,1.89,1.72,2.34,0.0,2025-02-04
VNG,2.92,2.92,2.94,2.90,3.92,0.0,2025-02-04
WHA,4.76,4.72,4.86,4.50,6.20,-1.24,2025-02-04
WHAIR,6.30,6.20,6.35,5.20,6.75,0.0,2025-02-04
WHART,10.10,10.00,10.20,7.65,10.80,1.0,2025-02-04
WHAUP,3.76,3.74,3.94,3.76,5.50,-3.59,2025-02-04
WICE,3.50,3.50,3.54,3.44,7.55,-0.57,2025-02-04
WORK,5.60,5.55,5.65,5.00,11.10,0.9,2025-02-04

In [13]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  09:26 PM

In [14]:
out_df.query('price == "-"')

Empty DataFrame
Columns: [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
Index: []

In [15]:
out_df.shape

(221, 8)

In [16]:
out_df = out_df[out_df['name'] != 'BCT']

In [17]:
out_df = out_df[out_df['name'] != 'LPF']

In [18]:
out_df = out_df[out_df['name'] != 'TYCN']

In [19]:
out_df = out_df[out_df['name'] != 'GRAMMY']

In [20]:
out_df = out_df[out_df['name'] != 'MST']

In [21]:
out_df.shape

(217, 8)

In [22]:
out_df['price'] = out_df['price'].astype('float')
out_df['today_low'] = out_df['today_low'].astype('float')
out_df['today_high'] = out_df['today_high'].astype('float')
out_df['year_low'] = out_df['year_low'].astype('float')
out_df['year_high'] = out_df['year_high'].astype('float')
out_df['percent'] = out_df['percent'].astype('float')

In [23]:
sorted_out_df = out_df.sort_values('percent')

In [24]:
sorted_out_df.query('today_low < year_low')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
147,RS,0.95,0.94,1.05,0.98,7.35,-5.94,2025-02-04
125,ORI,3.20,3.18,3.42,3.28,8.65,-5.33,2025-02-04
96,KCE,19.90,19.90,21.60,20.80,47.75,-5.24,2025-02-04
200,TQM,16.80,16.40,17.80,17.60,33.25,-4.55,2025-02-04
32,BGRIM,14.30,14.10,15.00,14.30,30.00,-4.03,2025-02-04
9,ANAN,0.48,0.40,0.51,0.48,1.03,-4.00,2025-02-04
218,WHAUP,3.76,3.74,3.94,3.76,5.50,-3.59,2025-02-04
78,HANA,21.70,21.60,23.20,22.20,51.50,-3.56,2025-02-04
70,GFPT,8.85,8.80,9.20,9.00,13.40,-3.28,2025-02-04
140,PTTGC,20.10,20.00,21.00,20.60,41.25,-2.90,2025-02-04
65,FORTH,8.45,8.45,8.80,8.70,18.80,-2.87,2025-02-04
155,SCC,147.50,147.00,152.00,148.50,276.00,-2.32,2025-02-04
13,ASK,8.35,8.30,8.60,8.40,20.30,-1.76,2025-02-04
53,DCC,1.54,1.54,1.57,1.55,2.16,-0.65,2025-02-04
204,TTA,4.28,4.26,4.40,4.28,8.50,-0.47,2025-02-04
116,MCS,6.10,6.00,6.25,6.05,8.20,0.00,2025-02-04
202,TSE,0.68,0.66,0.68,0.67,2.06,1.49,2025-02-04
89,IP,2.40,2.20,2.42,2.28,7.30,1.69,2025-02-04

In [25]:
sorted_out_df.query('name == "MCS"')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
116,MCS,6.1,6.0,6.25,6.05,8.2,0.0,2025-02-04

In [26]:
out_df.query('today_low < year_low')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
9,ANAN,0.48,0.40,0.51,0.48,1.03,-4.00,2025-02-04
13,ASK,8.35,8.30,8.60,8.40,20.30,-1.76,2025-02-04
32,BGRIM,14.30,14.10,15.00,14.30,30.00,-4.03,2025-02-04
53,DCC,1.54,1.54,1.57,1.55,2.16,-0.65,2025-02-04
65,FORTH,8.45,8.45,8.80,8.70,18.80,-2.87,2025-02-04
70,GFPT,8.85,8.80,9.20,9.00,13.40,-3.28,2025-02-04
78,HANA,21.70,21.60,23.20,22.20,51.50,-3.56,2025-02-04
89,IP,2.40,2.20,2.42,2.28,7.30,1.69,2025-02-04
96,KCE,19.90,19.90,21.60,20.80,47.75,-5.24,2025-02-04
116,MCS,6.10,6.00,6.25,6.05,8.20,0.00,2025-02-04
125,ORI,3.20,3.18,3.42,3.28,8.65,-5.33,2025-02-04
140,PTTGC,20.10,20.00,21.00,20.60,41.25,-2.90,2025-02-04
147,RS,0.95,0.94,1.05,0.98,7.35,-5.94,2025-02-04
155,SCC,147.50,147.00,152.00,148.50,276.00,-2.32,2025-02-04
200,TQM,16.80,16.40,17.80,17.60,33.25,-4.55,2025-02-04
202,TSE,0.68,0.66,0.68,0.67,2.06,1.49,2025-02-04
204,TTA,4.28,4.26,4.40,4.28,8.50,-0.47,2025-02-04
218,WHAUP,3.76,3.74,3.94,3.76,5.50,-3.59,2025-02-04

In [27]:
sorted_out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
154,SCB,127.0,125.5,127.5,100.0,126.5,0.79,2025-02-04

In [28]:
out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
154,SCB,127.0,125.5,127.5,100.0,126.5,0.79,2025-02-04

In [29]:
file_name = "Price-Hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [30]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price-Hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price-Hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Hilo.csv

In [31]:
out_df.to_csv(output_file, index=False)  
out_df.to_csv(god_file, index=False) 
out_df.to_csv(icd_file, index=False)  
out_df.to_csv(osd_file, index=False)

In [32]:
current_time = datetime.now()
current_time

datetime.datetime(2025, 2, 4, 21, 26, 58, 902110)