### Start and Run All

In [2]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
# from datetime import date, timedelta
from datetime import datetime
from time import sleep, strftime

# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-09-08 20:21:03

In [3]:
url = "https://www.set.or.th/en/market/product/stock/quote/"
percent_span = ''

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"Obsidian path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
Obsidian path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [7]:
file_name = "price-hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [8]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\price-hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\price-hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\price-hilo.csv

In [9]:
def cvt_str_to_flt(input_str):
    # Check for the special pattern and return 0
    if input_str == '(-)':
        return 0
    
    # Remove parentheses and percent sign
    cleaned_str = input_str.replace('(', '').replace(')', '').replace('%', '')

    # Convert to float
    try:
        return float(cleaned_str)
    except ValueError:
        # Handle the case where the conversion fails
        return None

In [10]:
def get_stock_data(in_df):

    in_df.columns = ['name']
    
    output_columns = ['name', 'price', 'today_low', 'today_high', 'year_low', 'year_high', 'percent', 'updated_at']
    # Initialize an empty DataFrame with specified columns
    out_df = pd.DataFrame(columns=output_columns)
    
    for index, row in in_df.iterrows():
        name = str(row['name']).upper()
        response = request.urlopen(url + name + '/price')
        html_page = BeautifulSoup(response, 'html.parser')
        
  #      price = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info').text.strip()        
  #      if (price == '-'):
  #          price = '0.00'        

        price_div = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info')
        if price_div:
            price = price_div.text.strip()
        else:
            print(f"Price div not found for {name}")
            price = '0.00'     
            
        # Try to find the <h3> tag with the class 'theme-success'
        h3_tag = html_page.find('h3', class_='theme-success')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-danger')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)    
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-normal')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)   
                
        percent = cvt_str_to_flt(percent_span)
                
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'         
        
        year_low = values_low[1].text        
        year_high = values_high[1].text     
        
        # Find the div with the specific class, then find the span within it
        div = html_page.find('div', class_='price-detail-date d-flex align-items-center text-nowrap fs-12px')
        if div:
            span = div.find('span')
            if span:
                text = span.get_text()
#                 print(text)
            else:
                print("Span not found")
        else:
            print("Div not found")
            
        # Extract the date part from the string
        # Assuming the date is always in the format 'dd Mon yyyy'
        date_str = ' '.join(text.split()[2:5])

        # Parse the date string into a datetime object
        date_obj = datetime.strptime(date_str, '%d %b %Y')

        # Format the datetime object to 'yyyy-mm-dd'
        updated_at = date_obj.strftime('%Y-%m-%d')

#         print(updated_at)
        
        # Append row to the DataFrame and print the row
        out_df.loc[len(out_df)] = [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
#       print(out_df.iloc[-1].to_string(header=False, index=False)) 
        print(','.join(map(str, out_df.iloc[-1])))
        sleep(1)
        
    return out_df  # return the final dataframe with all values populated

In [11]:
start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  08:21 PM

In [12]:
df = pd.read_csv(input_file, header=None)
out_df = get_stock_data(df)

ACE,1.30,1.30,1.33,1.23,1.49,-1.52,2025-09-08
ADVANC,290.00,290.00,295.00,253.00,309.00,-1.02,2025-09-08
AEONTS,115.00,111.50,116.50,90.50,148.00,2.22,2025-09-08
AH,14.50,14.30,14.70,10.00,23.20,1.4,2025-09-08
AIE,1.13,1.11,1.16,0.72,1.80,0.89,2025-09-08
AIMIRT,9.70,9.65,9.80,9.20,11.20,-0.51,2025-09-08
AIT,4.98,4.96,5.10,3.92,5.30,-0.4,2025-09-08
AJ,2.32,2.32,2.38,1.94,5.80,-0.85,2025-09-08
AMATA,16.80,16.60,17.00,11.20,31.00,1.2,2025-09-08
ANAN,0.55,0.55,0.60,0.37,0.85,7.84,2025-09-08
AOT,37.75,37.75,39.00,26.75,65.00,-1.95,2025-09-08
AP,8.10,8.00,8.15,5.60,10.50,-1.22,2025-09-08
ASIAN,7.20,7.15,7.30,6.50,9.55,0.7,2025-09-08
ASK,8.10,7.80,8.15,6.20,15.30,3.85,2025-09-08
ASP,2.72,2.68,2.74,1.81,2.74,0.0,2025-09-08
ASW,5.20,5.10,5.20,4.90,8.20,0.97,2025-09-08
AWC,2.38,2.38,2.44,1.55,3.94,0.0,2025-09-08
BA,14.40,14.30,14.60,10.60,26.00,1.41,2025-09-08
BAM,8.30,8.25,8.45,5.35,10.20,0.0,2025-09-08
BANPU,4.96,4.92,5.05,4.00,7.50,-0.4,2025-09-08
BAY,24.00,23.90,24.60,20.70,29.00,0.42,2025-09-08
BBL,153.00,152.50,153.50,131.00,161.50,0.66,2025-09-08
BCH,13.10,12.90,13.20,12.30,19.20,0.77,2025-09-08
BCP,30.75,30.25,31.25,26.50,41.00,0.0,2025-09-08
BCPG,8.30,7.95,8.30,5.05,8.95,5.06,2025-09-08
BCT,47.50,47.00,48.00,43.50,76.75,0.0,2025-09-08
BDMS,20.80,20.70,21.10,19.80,31.25,-0.95,2025-09-08
BE8,6.25,6.15,6.40,5.20,21.20,1.63,2025-09-08
BEAUTY,0.56,0.56,0.62,0.19,0.66,-6.67,2025-09-08
BEC,2.26,2.22,2.28,1.79,4.68,1.8,2025-09-08
BEM,5.50,5.25,5.50,4.56,8.30,4.76,2025-09-08
BGC,4.68,4.68,4.72,4.54,7.90,-0.43,2025-09-08
BGRIM,12.80,12.80,13.40,8.90,24.80,-1.54,2025-09-08
BH,185.50,184.00,186.50,130.00,284.00,0.0,2025-09-08
BJC,21.00,19.60,21.00,16.50,25.75,9.95,2025-09-08
BKIH,289.00,288.00,289.00,271.00,316.00,0.35,2025-09-08
BLA,17.70,17.50,18.00,14.00,25.75,-1.67,2025-09-08
BLAND,0.51,0.50,0.52,0.38,0.70,0.0,2025-09-08
BPP,8.60,8.50,8.75,6.20,13.60,0.0,2025-09-08
BTS,3.44,3.32,3.44,3.04,6.40,4.24,2025-09-08
BTSGIF,2.54,2.50,2.54,2.46,3.52,1.6,2025-09-08
CBG,61.00,56.50,61.00,46.50,82.00,10.41,2025-09-08
CENTEL,32.50,31.75,34.00,19.40,41.25,3.17,2025-09-08
CHG,1.68,1.66,1.69,1.39,3.00,0.6,2025-09-08
CK,16.20,15.80,16.50,10.20,21.10,2.53,2025-09-08
CKP,2.92,2.86,2.94,2.10,4.04,1.39,2025-09-08
COM7,25.00,24.80,25.75,16.70,28.25,-2.91,2025-09-08
CPALL,48.25,48.00,49.25,41.50,68.00,1.58,2025-09-08
CPF,23.50,22.70,23.60,19.80,26.50,4.44,2025-09-08
CPN,56.50,55.50,57.25,41.00,68.75,2.26,2025-09-08
CPNCG,6.05,6.00,6.10,5.75,6.65,0.0,2025-09-08
CPNREIT,11.10,11.00,11.20,10.20,13.60,-0.89,2025-09-08
CRC,24.00,23.90,25.25,15.80,36.00,0.84,2025-09-08
DCC,1.41,1.39,1.42,1.18,2.04,0.0,2025-09-08
DCON,0.25,0.25,0.26,0.23,0.41,0.0,2025-09-08
DELTA,143.00,141.00,148.00,51.25,173.50,-3.05,2025-09-08
DIF,8.60,8.55,8.65,7.35,9.85,0.58,2025-09-08
DOHOME,4.30,4.14,4.52,2.26,11.07,4.88,2025-09-08
DRT,5.30,5.25,5.35,4.42,8.15,0.95,2025-09-08
EA,2.74,2.72,2.88,1.73,7.32,-2.84,2025-09-08
EASTW,2.84,2.54,2.94,1.57,3.90,10.94,2025-09-08
EGATIF,5.95,5.95,6.00,5.75,6.40,-0.83,2025-09-08
EGCO,111.50,111.50,113.00,85.00,128.50,-1.33,2025-09-08
EPG,3.22,3.14,3.26,2.12,5.25,3.21,2025-09-08
FORTH,8.10,7.80,8.20,6.05,15.00,6.58,2025-09-08
FPT,6.30,6.25,6.45,5.85,14.00,0.0,2025-09-08
FSMART,7.25,7.10,7.35,5.35,9.15,4.32,2025-09-08
FTREIT,9.45,9.30,9.50,8.60,11.30,2.72,2025-09-08
GC,4.04,3.98,4.04,3.40,5.10,0.0,2025-09-08
GFPT,9.70,9.55,9.75,8.00,12.40,1.04,2025-09-08
GGC,3.88,3.84,3.90,3.20,5.45,-0.51,2025-09-08
GLOBAL,8.10,7.95,8.40,4.16,16.27,2.53,2025-09-08
GPSC,40.50,40.25,41.25,22.40,49.75,-1.82,2025-09-08
GRAMMY,4.60,4.60,4.64,4.30,8.50,0.0,2025-09-08
GUNKUL,2.00,1.98,2.04,1.31,2.96,2.04,2025-09-08
GVREIT,6.25,6.25,6.30,5.85,7.15,-0.79,2025-09-08
HANA,24.50,24.30,25.25,14.00,44.00,-2.97,2025-09-08
HFT,4.22,4.16,4.24,3.32,4.76,0.0,2025-09-08
HMPRO,7.80,7.75,7.95,5.70,11.10,1.3,2025-09-08
HTC,15.30,15.10,15.40,14.50,17.70,0.0,2025-09-08
ICHI,12.20,11.60,12.20,9.40,17.00,6.09,2025-09-08
III,4.90,4.86,4.96,4.18,7.20,1.24,2025-09-08
ILM,15.00,14.60,15.00,11.50,18.90,2.74,2025-09-08
IMH,4.24,4.16,4.26,3.50,6.05,0.95,2025-09-08
IMPACT,9.95,9.85,10.00,9.25,12.80,1.02,2025-09-08
INOX,0.41,0.41,0.43,0.35,0.67,-2.38,2025-09-08
IP,3.40,3.28,3.40,2.02,5.15,1.19,2025-09-08
IRPC,1.27,1.27,1.32,0.70,1.86,-1.55,2025-09-08
IVL,23.30,22.40,23.70,16.90,27.50,5.43,2025-09-08
3BBIF,6.40,6.35,6.50,5.00,6.75,-0.78,2025-09-08
JMART,10.10,9.35,10.30,5.20,17.70,6.88,2025-09-08
JMT,12.80,12.30,12.90,7.35,22.00,4.92,2025-09-08
KBANK,172.00,171.00,173.00,145.00,172.00,1.18,2025-09-08
KCE,25.50,25.25,26.50,13.70,40.75,-3.77,2025-09-08
KEX,1.49,1.49,1.50,0.78,3.40,0.0,2025-09-08
KGI,3.90,3.90,3.94,3.40,4.66,-1.02,2025-09-08
KKP,60.25,59.75,60.75,43.50,62.00,0.42,2025-09-08
KSL,1.41,1.39,1.41,1.25,2.36,0.71,2025-09-08
KTB,25.50,25.25,26.00,19.30,25.50,0.99,2025-09-08
KTC,29.25,29.00,29.50,21.80,52.25,-0.85,2025-09-08
KYE,289.00,288.00,293.00,280.00,324.00,-0.69,2025-09-08
LALIN,4.98,4.98,5.00,4.80,6.80,-0.4,2025-09-08
LANNA,15.50,15.40,15.50,14.10,17.10,0.0,2025-09-08
LH,4.20,4.12,4.22,3.18,6.50,1.94,2025-09-08
LHFG,0.76,0.76,0.77,0.72,0.96,-1.3,2025-09-08
LHK,3.56,3.52,3.56,3.02,4.12,0.0,2025-09-08
LIT,0.90,0.87,0.93,0.39,1.34,2.27,2025-09-08
LPH,4.10,4.08,4.12,3.20,4.78,0.0,2025-09-08
LPN,1.75,1.73,1.76,1.61,3.38,1.16,2025-09-08
M,26.00,25.00,26.00,13.80,30.75,4.84,2025-09-08
MAJOR,8.25,8.15,8.30,7.35,16.00,1.23,2025-09-08
MBAX,1.40,1.40,1.41,1.17,3.10,0.72,2025-09-08
MC,11.10,11.00,11.20,9.15,13.00,0.91,2025-09-08
MCS,8.65,8.50,8.65,5.80,9.20,1.76,2025-09-08
MEGA,32.00,29.75,32.00,24.30,41.25,7.56,2025-09-08
MINT,24.30,24.20,24.60,21.70,29.50,0.0,2025-09-08
MST,7.15,7.05,7.20,5.50,10.30,-0.69,2025-09-08
MTC,43.00,42.00,43.50,33.75,54.00,2.38,2025-09-08
NER,4.54,4.46,4.58,3.88,5.65,1.79,2025-09-08
NOBLE,2.20,2.10,2.22,1.60,3.46,-0.9,2025-09-08
ONEE,2.36,2.30,2.36,1.99,4.68,2.61,2025-09-08
OR,14.60,14.20,14.70,10.10,17.80,1.39,2025-09-08
ORI,2.74,2.42,2.76,1.50,5.75,13.22,2025-09-08
OSP,18.90,18.10,19.10,12.90,24.30,7.39,2025-09-08
PAP,1.78,1.76,1.81,1.31,2.96,0.0,2025-09-08
PCSGH,3.12,3.06,3.12,2.46,4.72,1.96,2025-09-08
PDG,2.72,2.72,2.74,2.36,2.88,-0.73,2025-09-08
PLANB,4.90,4.82,5.00,4.08,8.60,-2.97,2025-09-08
POPF,6.15,6.10,6.15,5.40,6.70,0.0,2025-09-08
PREB,3.62,3.60,3.66,3.34,5.55,0.0,2025-09-08
PRM,6.50,6.50,6.65,5.10,9.30,-0.76,2025-09-08
PSH,4.34,4.34,4.42,3.66,9.80,-0.91,2025-09-08
PSL,6.40,6.35,6.50,4.96,9.60,0.79,2025-09-08
PTG,8.50,8.40,8.70,5.45,10.70,0.59,2025-09-08
PTL,9.75,9.75,9.80,9.20,14.40,-0.51,2025-09-08
PTT,31.75,31.50,32.25,27.00,35.00,0.79,2025-09-08
PTTEP,112.00,111.00,112.50,93.00,144.00,0.0,2025-09-08
PTTGC,27.50,27.50,28.50,14.20,32.75,-0.9,2025-09-08
QH,1.40,1.39,1.41,1.15,2.00,0.0,2025-09-08
RATCH,26.00,25.75,26.00,22.50,34.25,0.0,2025-09-08
RBF,4.22,4.20,4.40,3.04,7.40,0.48,2025-09-08
RCL,26.75,26.50,27.50,18.20,31.75,-1.83,2025-09-08
RJH,13.10,12.90,13.30,11.50,26.25,0.0,2025-09-08
ROJNA,4.82,4.80,4.86,4.14,7.50,0.42,2025-09-08
RS,0.30,0.28,0.31,0.19,6.30,3.45,2025-09-08
S11,3.30,3.24,3.36,1.86,3.70,1.23,2025-09-08
SAPPE,33.75,33.25,34.25,27.50,83.00,1.5,2025-09-08
SAT,13.20,13.10,13.30,9.95,13.70,0.0,2025-09-08
SAWAD,29.25,28.25,29.25,14.80,41.36,3.54,2025-09-08
SC,1.79,1.79,1.82,1.40,3.22,-1.65,2025-09-08
SCB,126.00,125.00,127.00,108.00,133.00,-0.4,2025-09-08
SCC,224.00,220.00,224.00,124.50,255.00,2.28,2025-09-08
SCCC,149.50,149.00,151.00,138.50,177.50,0.34,2025-09-08
SCGP,18.00,17.80,18.60,10.70,32.25,0.56,2025-09-08
SENA,1.93,1.88,1.94,1.54,2.50,2.66,2025-09-08
SGP,6.40,6.40,6.50,5.00,7.65,0.0,2025-09-08
SINGER,6.50,6.20,6.60,3.92,12.70,4.84,2025-09-08
SIRI,1.47,1.46,1.50,1.11,1.94,-0.68,2025-09-08
SIS,22.10,21.70,22.20,17.60,31.25,1.38,2025-09-08
SJWD,10.10,10.10,10.40,5.75,12.50,-0.98,2025-09-08
SKN,5.70,5.65,5.70,5.05,6.40,0.88,2025-09-08
SKR,8.25,8.20,8.30,6.20,9.80,0.0,2025-09-08
SMPC,9.05,9.00,9.05,7.80,9.95,0.0,2025-09-08
SNC,5.90,5.80,5.90,4.96,7.35,0.0,2025-09-08
SPALI,16.80,16.60,17.10,13.20,21.10,-1.18,2025-09-08
SPC,58.00,57.50,58.00,53.00,60.75,0.87,2025-09-08
SPCG,8.30,8.25,8.35,6.60,9.40,0.0,2025-09-08
SPRC,4.82,4.76,4.86,4.26,7.25,0.0,2025-09-08
SPRIME,3.34,3.32,3.34,3.00,4.56,0.0,2025-09-08
SSP,3.98,3.94,3.98,3.88,6.35,0.0,2025-09-08
STA,13.70,12.70,13.70,10.30,25.75,7.87,2025-09-08
STANLY,181.50,181.50,183.50,176.00,225.00,-0.82,2025-09-08
STGT,6.85,6.55,6.90,5.10,13.30,6.2,2025-09-08
SUPER,0.15,0.14,0.16,0.12,0.32,0.0,2025-09-08
SUPEREIF,5.30,5.20,5.30,4.72,7.05,0.0,2025-09-08
SVI,5.85,5.75,5.90,5.55,9.40,0.0,2025-09-08
SYNEX,12.20,12.10,12.70,9.30,16.70,-3.17,2025-09-08
TASCO,15.20,14.90,15.30,13.20,20.00,2.01,2025-09-08
TCAP,51.25,50.75,51.25,44.25,53.50,0.99,2025-09-08
TFFIF,5.95,5.90,6.00,5.25,7.20,0.85,2025-09-08
TFG,5.05,4.96,5.10,3.02,6.10,3.06,2025-09-08
THANI,1.78,1.78,1.81,1.15,2.26,-1.11,2025-09-08
THG,6.55,6.50,6.65,6.45,28.24,0.0,2025-09-08
TIPH,21.50,21.30,21.60,16.70,30.50,0.94,2025-09-08
TIPCO,8.60,8.55,8.65,8.35,10.40,0.58,2025-09-08
TISCO,102.50,101.50,103.00,95.00,102.50,0.99,2025-09-08
TK,4.46,4.40,4.46,3.28,5.45,0.0,2025-09-08
TKN,6.00,5.80,6.10,5.00,11.80,3.45,2025-09-08
TKS,6.15,6.10,6.30,4.90,8.10,0.0,2025-09-08
TMT,3.12,3.10,3.12,2.60,5.40,0.65,2025-09-08
TMW,53.50,53.00,54.00,47.00,66.75,0.0,2025-09-08
TOA,15.50,15.20,15.60,9.35,20.50,1.97,2025-09-08
TOP,33.75,33.50,34.50,21.00,55.50,0.0,2025-09-08
TPIPL,0.71,0.69,0.71,0.69,1.29,1.43,2025-09-08
TPIPP,2.26,2.24,2.30,1.99,3.14,1.8,2025-09-08
TQM,13.90,13.60,14.00,12.20,33.25,2.96,2025-09-08
TRUE,11.30,11.20,11.50,10.10,13.30,0.0,2025-09-08
TSE,0.49,0.47,0.50,0.29,1.24,2.08,2025-09-08
TSTH,0.75,0.74,0.76,0.47,0.93,-1.32,2025-09-08
TTA,4.36,4.34,4.42,3.22,6.55,0.46,2025-09-08
TTB,1.89,1.89,1.92,1.72,2.06,-1.05,2025-09-08
TTLPF,10.50,10.40,10.50,10.30,16.20,0.0,2025-09-08
TTW,9.20,9.15,9.25,8.45,9.50,0.0,2025-09-08
TU,12.70,12.50,12.80,8.60,15.60,1.6,2025-09-08
TVO,25.25,24.90,25.25,19.70,25.75,1.0,2025-09-08
TYCN,1.73,1.72,1.83,1.62,2.62,-4.42,2025-09-08
UTP,7.75,7.65,7.80,7.20,11.30,0.65,2025-09-08
VGI,2.02,2.02,2.10,1.86,3.68,-3.81,2025-09-08
VIBHA,1.45,1.45,1.48,1.37,2.30,-1.36,2025-09-08
VNG,2.04,2.00,2.06,1.89,3.82,0.99,2025-09-08
WHA,3.72,3.70,3.78,2.26,6.20,0.54,2025-09-08
WHAIR,5.50,5.45,5.55,4.12,6.75,0.0,2025-09-08
WHART,9.15,9.05,9.20,8.55,10.80,1.67,2025-09-08
WHAUP,3.86,3.86,3.94,2.76,5.50,-1.03,2025-09-08
WICE,2.92,2.92,2.98,2.34,6.95,-2.01,2025-09-08
WORK,4.20,4.20,4.22,3.82,10.40,0.0,2025-09-08

In [13]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  08:26 PM

In [14]:
out_df.query('price == "-"')

Empty DataFrame
Columns: [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
Index: []

In [15]:
out_df.shape

(216, 8)

In [16]:
out_df = out_df[out_df['name'] != 'BCT']

In [17]:
out_df = out_df[out_df['name'] != 'LPF']

In [18]:
out_df = out_df[out_df['name'] != 'TYCN']

In [19]:
out_df = out_df[out_df['name'] != 'GRAMMY']

In [20]:
out_df = out_df[out_df['name'] != 'MST']

In [21]:
out_df = out_df[out_df['name'] != 'SPC']

In [22]:
out_df = out_df[out_df['name'] != 'SPRIME']

In [23]:
out_df = out_df[out_df['name'] != 'FPT']

In [24]:
out_df = out_df[out_df['name'] != 'GGC']

In [25]:
out_df = out_df[out_df['name'] != 'SKN']

In [26]:
out_df.shape

(207, 8)

In [27]:
out_df['price'] = out_df['price'].astype('float')
out_df['today_low'] = out_df['today_low'].astype('float')
out_df['today_high'] = out_df['today_high'].astype('float')
out_df['year_low'] = out_df['year_low'].astype('float')
out_df['year_high'] = out_df['year_high'].astype('float')
out_df['percent'] = out_df['percent'].astype('float')

In [28]:
sorted_out_df = out_df.sort_values('percent')

In [29]:
sorted_out_df.query('today_low < year_low')

Empty DataFrame
Columns: [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
Index: []

In [30]:
sorted_out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
98,KTB,25.5,25.25,26.0,19.3,25.5,0.99,2025-09-08
185,TISCO,102.5,101.50,103.0,95.0,102.5,0.99,2025-09-08
92,KBANK,172.0,171.00,173.0,145.0,172.0,1.18,2025-09-08

In [31]:
out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
92,KBANK,172.0,171.00,173.0,145.0,172.0,1.18,2025-09-08
98,KTB,25.5,25.25,26.0,19.3,25.5,0.99,2025-09-08
185,TISCO,102.5,101.50,103.0,95.0,102.5,0.99,2025-09-08

In [32]:
file_name = "Price-Hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [33]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price-Hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price-Hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Hilo.csv

In [34]:
out_df.to_csv(output_file, index=False)  
out_df.to_csv(god_file, index=False) 
out_df.to_csv(icd_file, index=False)  
out_df.to_csv(osd_file, index=False)

In [35]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-09-08 20:26:16