### Start and Run All

In [2]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
# from datetime import date, timedelta
from datetime import datetime
from time import sleep, strftime
current_time = datetime.now()
current_time

datetime.datetime(2025, 1, 22, 21, 38, 29, 285926)

In [4]:
url = "https://www.set.or.th/en/market/product/stock/quote/"
percent_span = ''

In [6]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [8]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"OSD path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
OSD path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [12]:
file_name = "price-hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [14]:
print(f"output_file (output_file): {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

output_file (output_file): C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\price-hilo.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\price-hilo.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\price-hilo.csv

In [16]:
def cvt_str_to_flt(input_str):
    # Check for the special pattern and return 0
    if input_str == '(-)':
        return 0
    
    # Remove parentheses and percent sign
    cleaned_str = input_str.replace('(', '').replace(')', '').replace('%', '')

    # Convert to float
    try:
        return float(cleaned_str)
    except ValueError:
        # Handle the case where the conversion fails
        return None

In [18]:
def get_stock_data(in_df):

    in_df.columns = ['name']
    
    output_columns = ['name', 'price', 'today_low', 'today_high', 'year_low', 'year_high', 'percent', 'updated_at']
    # Initialize an empty DataFrame with specified columns
    out_df = pd.DataFrame(columns=output_columns)
    
    for index, row in in_df.iterrows():
        name = str(row['name']).upper()
        response = request.urlopen(url + name + '/price')
        html_page = BeautifulSoup(response, 'html.parser')
        
  #      price = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info').text.strip()        
  #      if (price == '-'):
  #          price = '0.00'        

        price_div = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info')
        if price_div:
            price = price_div.text.strip()
        else:
            print(f"Price div not found for {name}")
            price = '0.00'     
            
        # Try to find the <h3> tag with the class 'theme-success'
        h3_tag = html_page.find('h3', class_='theme-success')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-danger')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)    
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-normal')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)   
                
        percent = cvt_str_to_flt(percent_span)
                
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'         
        
        year_low = values_low[1].text        
        year_high = values_high[1].text     
        
        # Find the div with the specific class, then find the span within it
        div = html_page.find('div', class_='price-detail-date d-flex align-items-center text-nowrap fs-12px')
        if div:
            span = div.find('span')
            if span:
                text = span.get_text()
#                 print(text)
            else:
                print("Span not found")
        else:
            print("Div not found")
            
        # Extract the date part from the string
        # Assuming the date is always in the format 'dd Mon yyyy'
        date_str = ' '.join(text.split()[2:5])

        # Parse the date string into a datetime object
        date_obj = datetime.strptime(date_str, '%d %b %Y')

        # Format the datetime object to 'yyyy-mm-dd'
        updated_at = date_obj.strftime('%Y-%m-%d')

#         print(updated_at)
        
        # Append row to the DataFrame and print the row
        out_df.loc[len(out_df)] = [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
#       print(out_df.iloc[-1].to_string(header=False, index=False)) 
        print(','.join(map(str, out_df.iloc[-1])))
        sleep(1)
        
    return out_df  # return the final dataframe with all values populated

In [20]:
start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  09:40 PM

In [22]:
df = pd.read_csv(input_file, header=None)
out_df = get_stock_data(df)

ACE,1.26,1.25,1.27,1.25,1.60,0.0,2025-01-22
ADVANC,289.00,286.00,290.00,193.00,299.00,0.35,2025-01-22
AEONTS,118.00,116.50,119.00,107.00,168.50,1.29,2025-01-22
AH,14.20,14.00,15.00,14.30,30.50,-4.7,2025-01-22
AIE,0.79,0.77,0.79,0.74,1.51,0.0,2025-01-22
AIMIRT,10.50,10.40,10.50,10.20,11.20,0.0,2025-01-22
AIT,4.34,4.20,4.36,3.62,5.05,1.88,2025-01-22
AJ,2.44,2.38,2.46,2.36,7.15,0.83,2025-01-22
AMATA,27.50,26.75,27.75,20.10,31.00,2.8,2025-01-22
ANAN,0.51,0.50,0.52,0.48,1.03,0.0,2025-01-22
AOT,58.25,57.75,58.50,55.00,67.50,0.87,2025-01-22
AP,7.80,7.75,7.85,7.50,11.20,0.65,2025-01-22
ASIAN,7.75,7.70,7.80,6.35,11.20,0.0,2025-01-22
ASK,8.85,8.70,8.95,8.40,20.30,2.31,2025-01-22
ASP,2.34,2.34,2.36,2.12,2.88,0.0,2025-01-22
ASW,7.85,7.80,7.85,7.35,8.45,0.64,2025-01-22
AWC,3.10,3.10,3.16,2.88,4.58,0.0,2025-01-22
BA,19.50,19.30,19.80,14.20,26.00,-0.51,2025-01-22
BAM,5.70,5.65,5.85,5.35,10.40,-0.87,2025-01-22
BANPU,5.20,5.20,5.35,4.38,7.50,0.97,2025-01-22
BAY,23.90,23.80,24.10,22.20,29.00,0.0,2025-01-22
BBL,156.50,152.50,156.50,129.00,159.50,3.3,2025-01-22
BCH,15.10,14.40,15.20,14.10,23.80,4.14,2025-01-22
BCP,34.75,33.25,35.00,26.50,47.50,3.73,2025-01-22
BCPG,6.50,6.35,6.55,5.05,8.45,3.17,2025-01-22
BCT,-,0.00,0.00,53.00,76.75,0.0,2025-01-22
BDMS,24.10,23.60,24.30,23.10,31.25,1.26,2025-01-22
BE8,12.70,12.30,13.00,10.60,30.25,0.0,2025-01-22
BEAUTY,0.28,0.27,0.29,0.27,0.84,0.0,2025-01-22
BEC,4.10,3.80,4.10,3.50,5.25,7.89,2025-01-22
BEM,6.75,6.70,6.80,6.60,8.45,0.75,2025-01-22
BGC,6.75,6.70,6.85,5.90,7.90,-0.74,2025-01-22
BGRIM,15.40,15.40,16.00,14.30,30.00,-2.53,2025-01-22
BH,191.00,188.00,193.00,184.50,284.00,-1.04,2025-01-22
BJC,22.60,22.40,23.00,19.20,26.25,-1.31,2025-01-22
BKIH,283.00,283.00,286.00,279.00,316.00,0.0,2025-01-22
BLA,19.10,19.00,19.40,16.30,25.75,-0.52,2025-01-22
BLAND,0.54,0.52,0.54,0.51,0.78,1.89,2025-01-22
BPP,8.75,8.70,9.00,8.60,15.20,-1.69,2025-01-22
BTS,5.90,5.75,5.90,3.72,6.90,1.72,2025-01-22
BTSGIF,2.96,2.94,2.98,2.92,3.70,-0.67,2025-01-22
CBG,79.00,78.50,81.00,61.25,82.00,1.28,2025-01-22
CENTEL,30.00,29.75,31.50,28.00,46.50,0.84,2025-01-22
CHG,2.26,2.22,2.30,2.12,3.24,0.89,2025-01-22
CK,16.70,16.50,16.80,16.30,24.60,0.6,2025-01-22
CKP,2.96,2.96,3.02,2.86,4.28,-0.67,2025-01-22
COM7,23.10,23.00,23.80,16.40,28.25,-2.94,2025-01-22
CPALL,55.75,55.50,57.00,51.25,68.00,-1.76,2025-01-22
CPF,22.00,21.80,22.30,17.00,26.00,-0.9,2025-01-22
CPN,53.50,53.00,54.25,52.25,68.75,0.0,2025-01-22
CPNCG,6.25,6.20,6.25,5.30,7.15,0.81,2025-01-22
CPNREIT,12.10,12.00,12.20,9.90,13.60,0.0,2025-01-22
CRC,34.25,33.75,35.00,24.20,37.75,-0.72,2025-01-22
DCC,1.60,1.60,1.65,1.56,2.16,-1.23,2025-01-22
DCON,0.29,0.29,0.30,0.29,0.55,0.0,2025-01-22
DELTA,147.00,143.50,147.00,63.25,173.50,3.16,2025-01-22
DIF,8.45,8.40,8.50,7.45,9.85,0.0,2025-01-22
DOHOME,8.55,8.45,8.70,8.05,12.60,1.18,2025-01-22
DRT,7.45,7.40,7.50,7.35,8.45,-0.67,2025-01-22
EA,3.02,3.02,3.16,2.14,28.66,-1.95,2025-01-22
EASTW,2.16,2.12,2.16,2.02,4.18,0.93,2025-01-22
ECL,0.83,0.82,0.86,0.67,1.51,1.22,2025-01-22
EGATIF,5.95,5.95,6.00,5.75,6.40,0.0,2025-01-22
EGCO,115.00,113.50,115.00,94.50,135.00,0.44,2025-01-22
EPG,3.66,3.60,3.74,3.52,8.00,1.1,2025-01-22
FORTH,9.35,9.25,9.50,8.80,20.10,-0.53,2025-01-22
FPT,9.20,9.10,9.30,9.30,15.40,-1.08,2025-01-22
FSMART,7.05,6.90,7.10,4.60,9.15,0.0,2025-01-22
FTREIT,10.10,10.00,10.20,7.80,11.30,0.0,2025-01-22
GC,4.94,4.90,4.94,4.72,5.55,0.41,2025-01-22
GFPT,9.90,9.80,10.00,9.50,13.40,-1.0,2025-01-22
GGC,4.12,4.04,4.12,3.94,9.35,3.0,2025-01-22
GLOBAL,12.40,12.40,12.80,12.40,17.40,-2.36,2025-01-22
GPSC,32.50,31.75,33.75,30.00,56.50,-1.52,2025-01-22
GRAMMY,8.00,7.90,8.00,3.90,8.90,0.0,2025-01-22
GULF,60.25,59.50,60.75,37.00,70.75,1.26,2025-01-22
GUNKUL,2.04,2.04,2.08,1.94,3.18,-0.97,2025-01-22
GVREIT,6.50,6.50,6.55,4.98,7.15,-0.76,2025-01-22
HANA,24.00,23.90,24.80,22.50,51.50,-2.04,2025-01-22
HFT,4.28,4.26,4.34,3.92,4.82,0.47,2025-01-22
HMPRO,8.95,8.95,9.15,7.65,11.60,-1.1,2025-01-22
HTC,16.10,16.00,16.20,15.00,18.20,0.63,2025-01-22
ICHI,13.20,13.20,13.60,13.10,18.80,-2.22,2025-01-22
III,5.10,5.05,5.10,4.64,10.20,0.99,2025-01-22
ILM,15.40,15.20,15.80,14.70,23.30,2.67,2025-01-22
IMH,4.50,4.48,4.50,4.04,7.95,0.0,2025-01-22
IMPACT,10.70,10.50,10.70,9.15,12.80,0.94,2025-01-22
INOX,0.44,0.44,0.45,0.40,0.67,0.0,2025-01-22
INTUCH,101.00,100.00,101.00,65.25,114.50,0.5,2025-01-22
IP,2.90,2.88,2.92,2.82,7.30,0.0,2025-01-22
IRPC,1.16,1.16,1.18,1.10,2.06,-0.85,2025-01-22
IVL,22.40,22.30,23.50,16.00,27.50,-2.18,2025-01-22
3BBIF,5.15,5.10,5.15,5.00,6.75,0.98,2025-01-22
JMART,11.10,11.10,11.40,9.10,17.70,-0.89,2025-01-22
JMT,14.80,14.80,15.30,9.90,25.50,-0.67,2025-01-22
KBANK,159.50,156.00,161.00,118.50,163.50,0.63,2025-01-22
KCE,22.90,22.80,23.50,21.30,49.00,-1.29,2025-01-22
KEX,1.40,1.39,1.42,1.40,6.50,-2.1,2025-01-22
KGI,4.20,4.18,4.22,3.98,4.90,0.0,2025-01-22
KKP,54.00,52.25,54.25,37.00,55.50,3.35,2025-01-22
KSL,1.79,1.79,1.81,1.65,2.70,-0.56,2025-01-22
KTB,23.00,21.80,23.00,15.40,22.40,5.5,2025-01-22
KTC,51.50,51.25,52.00,37.00,52.00,-0.48,2025-01-22
KYE,283.00,283.00,287.00,280.00,342.00,-1.39,2025-01-22
LALIN,5.75,5.75,5.85,5.65,8.05,0.0,2025-01-22
LANNA,16.50,16.00,16.50,13.60,17.50,3.13,2025-01-22
LH,4.90,4.84,4.90,4.58,7.80,0.0,2025-01-22
LHFG,0.75,0.73,0.75,0.71,1.04,1.35,2025-01-22
LHK,3.54,3.52,3.54,3.42,4.40,0.0,2025-01-22
LIT,0.62,0.58,0.64,0.55,1.55,6.9,2025-01-22
LPH,4.26,4.26,4.26,4.24,4.98,0.0,2025-01-22
LPN,2.14,2.10,2.22,2.06,3.90,1.9,2025-01-22
M,18.90,18.90,19.70,18.90,39.50,-4.06,2025-01-22
MAJOR,14.20,14.10,14.30,11.70,16.00,0.0,2025-01-22
MBAX,1.81,1.80,1.85,1.72,3.48,0.0,2025-01-22
MC,10.20,9.85,10.30,9.65,14.90,2.51,2025-01-22
MCS,6.25,6.25,6.40,6.10,8.20,-1.57,2025-01-22
MEGA,33.50,33.50,34.00,32.00,44.25,1.52,2025-01-22
MINT,24.10,23.90,24.60,23.10,34.00,-0.82,2025-01-22
MST,9.00,9.00,9.20,8.75,11.00,-2.17,2025-01-22
MTC,44.50,44.00,45.00,37.50,54.00,1.71,2025-01-22
NER,5.00,4.96,5.10,4.48,6.45,1.21,2025-01-22
NOBLE,2.42,2.42,2.50,2.46,4.10,-3.2,2025-01-22
ONEE,3.66,3.62,3.68,3.02,5.35,-0.54,2025-01-22
OR,11.80,11.50,11.90,11.50,19.00,0.0,2025-01-22
ORI,3.42,3.40,3.52,3.32,8.65,0.59,2025-01-22
OSP,20.80,20.80,21.60,18.30,25.00,-3.26,2025-01-22
PAP,1.74,1.73,1.75,1.46,2.96,0.58,2025-01-22
PCSGH,3.36,3.30,3.36,3.26,5.35,2.44,2025-01-22
PDG,2.56,2.56,2.60,2.30,2.82,-0.78,2025-01-22
PLANB,6.85,6.80,7.00,6.40,9.20,-0.72,2025-01-22
POPF,6.35,6.25,6.35,5.35,6.70,1.6,2025-01-22
PREB,4.26,4.20,4.26,4.00,6.60,0.0,2025-01-22
PRM,7.40,7.30,7.75,5.40,9.30,-4.52,2025-01-22
PSH,6.75,6.70,6.85,6.45,12.60,-0.74,2025-01-22
PSL,6.20,6.15,6.40,6.10,11.20,-3.88,2025-01-22
PTG,7.60,7.55,7.70,7.45,10.70,0.0,2025-01-22
PTL,10.30,10.30,10.40,9.15,14.40,0.0,2025-01-22
PTT,31.25,31.00,31.50,30.00,36.25,0.0,2025-01-22
PTTEP,124.00,121.50,124.00,116.00,164.50,1.22,2025-01-22
PTTGC,21.50,21.20,21.80,20.60,41.25,0.47,2025-01-22
QH,1.73,1.72,1.75,1.59,2.30,0.0,2025-01-22
RATCH,28.50,28.50,29.25,25.25,34.25,-1.72,2025-01-22
RBF,5.80,5.60,6.05,5.00,13.40,0.87,2025-01-22
RCL,25.25,25.00,25.50,16.20,31.75,0.0,2025-01-22
RJH,19.60,19.30,19.90,18.70,27.25,-0.51,2025-01-22
ROJNA,5.95,5.80,6.00,5.05,8.05,2.59,2025-01-22
RS,1.30,1.21,1.31,1.12,7.35,5.69,2025-01-22
S11,1.97,1.96,2.00,1.68,3.90,0.51,2025-01-22
SABUY,0.56,0.55,0.57,0.38,5.50,0.0,2025-01-22
SAPPE,59.50,59.00,60.75,57.75,107.50,-0.83,2025-01-22
SAT,10.30,10.30,10.80,10.00,18.90,-2.83,2025-01-22
SAWAD,39.00,38.00,39.50,27.25,45.50,1.96,2025-01-22
SC,2.66,2.58,2.70,2.30,4.00,4.72,2025-01-22
SCB,124.50,122.00,125.00,100.00,123.00,1.63,2025-01-22
SCC,154.50,154.50,158.50,150.50,278.00,-1.28,2025-01-22
SCCC,161.00,160.00,162.00,127.50,177.50,0.0,2025-01-22
SCGP,17.30,17.20,17.70,16.60,35.25,-1.14,2025-01-22
SENA,2.20,2.16,2.20,2.16,3.02,0.92,2025-01-22
SGP,7.15,7.10,7.15,6.55,8.45,0.0,2025-01-22
SINGER,6.90,6.90,7.20,6.35,12.70,-0.72,2025-01-22
SIRI,1.72,1.71,1.73,1.51,1.94,0.58,2025-01-22
SIS,26.00,25.75,26.75,20.80,31.25,0.97,2025-01-22
SJWD,8.90,8.90,9.10,8.80,16.70,-1.11,2025-01-22
SKN,5.40,5.35,5.50,4.04,6.40,-0.92,2025-01-22
SKR,8.75,8.70,8.80,8.65,10.70,0.57,2025-01-22
SMPC,9.30,9.25,9.30,6.45,10.10,0.54,2025-01-22
SNC,5.30,5.25,5.40,4.72,8.90,0.0,2025-01-22
SPALI,16.80,16.60,16.90,14.80,21.60,-0.59,2025-01-22
SPC,57.50,57.50,57.75,57.00,63.75,0.44,2025-01-22
SPCG,8.10,8.00,8.10,7.95,12.70,1.25,2025-01-22
SPRC,5.65,5.45,5.65,5.45,9.40,1.8,2025-01-22
SPRIME,4.20,4.20,4.22,3.66,4.84,0.0,2025-01-22
SSP,5.25,5.15,5.40,5.10,8.50,1.94,2025-01-22
STA,16.40,16.40,16.80,15.30,25.75,-1.2,2025-01-22
STANLY,218.00,218.00,219.00,198.50,233.00,0.0,2025-01-22
STGT,8.95,8.95,9.15,6.70,13.30,0.56,2025-01-22
SUPER,0.22,0.22,0.23,0.21,0.43,0.0,2025-01-22
SUPEREIF,6.20,6.20,6.30,5.60,7.05,-2.36,2025-01-22
SVI,6.70,6.70,6.75,5.95,9.40,0.0,2025-01-22
SYNEX,13.50,13.30,13.60,9.70,16.70,0.0,2025-01-22
TASCO,18.40,18.10,18.40,15.40,20.00,1.1,2025-01-22
TCAP,50.75,49.75,51.00,43.25,53.50,1.5,2025-01-22
TFFIF,6.30,6.25,6.35,6.00,7.20,0.0,2025-01-22
TFG,3.32,3.32,3.38,3.20,4.84,-0.6,2025-01-22
THANI,1.36,1.34,1.38,1.27,2.50,1.49,2025-01-22
THG,13.30,13.20,13.70,12.40,52.25,-1.48,2025-01-22
TIDLOR,16.70,16.40,17.10,12.50,22.56,1.21,2025-01-22
TIPH,20.10,20.10,20.20,19.90,32.25,0.5,2025-01-22
TIPCO,10.10,10.10,10.20,9.30,10.60,-0.98,2025-01-22
TISCO,99.00,98.75,99.50,90.00,101.50,0.0,2025-01-22
TK,4.00,3.90,4.08,3.82,5.75,2.56,2025-01-22
TKN,8.55,8.40,8.70,7.70,12.30,1.79,2025-01-22
TKS,5.50,5.40,5.55,5.20,9.00,-0.9,2025-01-22
TMT,3.04,3.02,3.06,2.94,6.15,1.33,2025-01-22
TMW,58.75,58.00,60.00,44.75,66.75,1.73,2025-01-22
TOA,13.10,13.10,13.50,12.40,26.00,-2.24,2025-01-22
TOP,26.00,25.75,26.75,24.50,60.75,-1.89,2025-01-22
TPIPL,1.00,0.99,1.01,0.98,1.45,1.01,2025-01-22
TPIPP,2.94,2.92,2.96,2.70,3.42,0.68,2025-01-22
TQM,19.10,19.10,19.80,18.80,33.25,-4.5,2025-01-22
TRUE,11.80,11.50,12.10,5.30,12.40,-0.84,2025-01-22
TSE,0.69,0.69,0.73,0.72,2.12,-5.48,2025-01-22
TSTH,0.53,0.53,0.54,0.47,0.90,1.92,2025-01-22
TTA,4.66,4.64,4.74,4.56,8.50,-1.27,2025-01-22
TTB,1.90,1.83,1.91,1.59,2.06,3.83,2025-01-22
TTLPF,14.20,14.20,14.30,13.20,20.30,0.0,2025-01-22
TTW,8.90,8.90,9.00,8.50,10.10,-0.56,2025-01-22
TU,12.10,12.00,12.30,11.80,16.00,0.0,2025-01-22
TVO,21.00,21.00,21.30,18.60,25.25,-0.47,2025-01-22
TYCN,1.85,1.85,1.87,1.84,2.78,-1.6,2025-01-22
UTP,7.60,7.60,7.80,7.30,12.00,-1.3,2025-01-22
VGI,3.32,3.18,3.32,1.20,3.68,3.11,2025-01-22
VIBHA,1.89,1.86,1.89,1.72,2.34,1.61,2025-01-22
VNG,2.94,2.90,2.94,2.92,3.92,-1.34,2025-01-22
WHA,5.05,4.96,5.20,4.50,6.20,1.0,2025-01-22
WHAIR,6.45,6.45,6.50,5.20,6.75,-0.77,2025-01-22
WHART,10.20,10.10,10.20,7.65,10.80,0.0,2025-01-22
WHAUP,4.06,4.04,4.10,3.78,5.50,0.0,2025-01-22
WICE,3.54,3.50,3.54,3.44,7.55,0.0,2025-01-22
WORK,5.40,5.30,5.50,5.25,11.10,-0.92,2025-01-22

In [24]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  09:49 PM

In [26]:
out_df.query('price == "-"')

   name price today_low today_high year_low year_high  percent  updated_at
25  BCT     -      0.00       0.00    53.00     76.75      0.0  2025-01-22

In [28]:
out_df.shape

(221, 8)

In [30]:
out_df = out_df[out_df['name'] != 'BCT']

In [36]:
out_df = out_df[out_df['name'] != 'LPF']

In [38]:
out_df = out_df[out_df['name'] != 'TYCN']

In [40]:
out_df = out_df[out_df['name'] != 'GRAMMY']

In [42]:
out_df = out_df[out_df['name'] != 'KYE']

In [32]:
out_df.shape

(220, 8)

In [34]:
out_df['price'] = out_df['price'].astype('float')
out_df['today_low'] = out_df['today_low'].astype('float')
out_df['today_high'] = out_df['today_high'].astype('float')
out_df['year_low'] = out_df['year_low'].astype('float')
out_df['year_high'] = out_df['year_high'].astype('float')
out_df['percent'] = out_df['percent'].astype('float')

In [36]:
sorted_out_df = out_df.sort_values('percent')

In [38]:
sorted_out_df.query('today_low < year_low')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
202,TSE,0.69,0.69,0.73,0.72,2.12,-5.48,2025-01-22
3,AH,14.20,14.00,15.00,14.30,30.50,-4.70,2025-01-22
122,NOBLE,2.42,2.42,2.50,2.46,4.10,-3.20,2025-01-22
97,KEX,1.40,1.39,1.42,1.40,6.50,-2.10,2025-01-22
214,VNG,2.94,2.90,2.94,2.92,3.92,-1.34,2025-01-22
66,FPT,9.20,9.10,9.30,9.30,15.40,-1.08,2025-01-22

In [40]:
out_df.query('today_low < year_low').shape[0]

6

In [42]:
sorted_out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
154,SCB,124.5,122.0,125.0,100.0,123.0,1.63,2025-01-22
101,KTB,23.0,21.8,23.0,15.4,22.4,5.50,2025-01-22

In [44]:
out_df.query('today_high > year_high').shape[0]

2

In [46]:
file_name = "Price-Hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [48]:
print(f"output_file (output_file): {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

output_file (output_file): C:\Users\PC1\OneDrive\A5\Data\Price-Hilo.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\Price-Hilo.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Hilo.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Hilo.csv

In [50]:
out_df.to_csv(output_file, index=False)  
out_df.to_csv(god_file, index=False) 
out_df.to_csv(icd_file, index=False)  
out_df.to_csv(osd_file, index=False)

In [52]:
current_time

datetime.datetime(2025, 1, 22, 21, 38, 29, 285926)