### Start and Run All

In [2]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
# from datetime import date, timedelta
from datetime import datetime
from time import sleep, strftime

# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-20 20:41:44

In [3]:
url = "https://www.set.or.th/en/market/product/stock/quote/"
percent_span = ''

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"Obsidian path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
Obsidian path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [7]:
file_name = "price-hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [8]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\price-hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\price-hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\price-hilo.csv

In [9]:
def cvt_str_to_flt(input_str):
    # Check for the special pattern and return 0
    if input_str == '(-)':
        return 0
    
    # Remove parentheses and percent sign
    cleaned_str = input_str.replace('(', '').replace(')', '').replace('%', '')

    # Convert to float
    try:
        return float(cleaned_str)
    except ValueError:
        # Handle the case where the conversion fails
        return None

In [10]:
def get_stock_data(in_df):

    in_df.columns = ['name']
    
    output_columns = ['name', 'price', 'today_low', 'today_high', 'year_low', 'year_high', 'percent', 'updated_at']
    # Initialize an empty DataFrame with specified columns
    out_df = pd.DataFrame(columns=output_columns)
    
    for index, row in in_df.iterrows():
        name = str(row['name']).upper()
        response = request.urlopen(url + name + '/price')
        html_page = BeautifulSoup(response, 'html.parser')
        
  #      price = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info').text.strip()        
  #      if (price == '-'):
  #          price = '0.00'        

        price_div = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info')
        if price_div:
            price = price_div.text.strip()
        else:
            print(f"Price div not found for {name}")
            price = '0.00'     
            
        # Try to find the <h3> tag with the class 'theme-success'
        h3_tag = html_page.find('h3', class_='theme-success')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-danger')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)    
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-normal')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)   
                
        percent = cvt_str_to_flt(percent_span)
                
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'         
        
        year_low = values_low[1].text        
        year_high = values_high[1].text     
        
        # Find the div with the specific class, then find the span within it
        div = html_page.find('div', class_='price-detail-date d-flex align-items-center text-nowrap fs-12px')
        if div:
            span = div.find('span')
            if span:
                text = span.get_text()
#                 print(text)
            else:
                print("Span not found")
        else:
            print("Div not found")
            
        # Extract the date part from the string
        # Assuming the date is always in the format 'dd Mon yyyy'
        date_str = ' '.join(text.split()[2:5])

        # Parse the date string into a datetime object
        date_obj = datetime.strptime(date_str, '%d %b %Y')

        # Format the datetime object to 'yyyy-mm-dd'
        updated_at = date_obj.strftime('%Y-%m-%d')

#         print(updated_at)
        
        # Append row to the DataFrame and print the row
        out_df.loc[len(out_df)] = [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
#       print(out_df.iloc[-1].to_string(header=False, index=False)) 
        print(','.join(map(str, out_df.iloc[-1])))
        sleep(1)
        
    return out_df  # return the final dataframe with all values populated

In [11]:
start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  08:41 PM

In [12]:
df = pd.read_csv(input_file, header=None)
out_df = get_stock_data(df)

ACE,1.29,1.27,1.31,1.23,1.52,-1.53,2025-02-20
ADVANC,283.00,283.00,289.00,193.00,307.00,-4.07,2025-02-20
AEONTS,110.00,108.50,112.00,103.50,168.50,-1.79,2025-02-20
AH,14.00,13.90,14.40,13.70,26.00,-0.71,2025-02-20
AIE,1.58,1.40,1.65,0.72,1.51,23.44,2025-02-20
AIMIRT,10.70,10.60,10.80,10.20,11.20,0.94,2025-02-20
AIT,4.58,4.56,4.74,3.74,5.05,-4.18,2025-02-20
AJ,2.40,2.36,2.58,2.26,7.15,-4.0,2025-02-20
AMATA,24.90,24.60,25.25,20.10,31.00,-0.4,2025-02-20
ANAN,0.44,0.44,0.46,0.40,0.94,-2.22,2025-02-20
AOT,43.75,42.75,44.25,41.50,67.50,1.16,2025-02-20
AP,8.20,8.15,8.60,7.50,11.20,-5.75,2025-02-20
ASIAN,7.85,7.70,7.85,6.35,11.20,1.29,2025-02-20
ASK,7.25,7.20,7.35,7.00,19.20,0.0,2025-02-20
ASP,2.30,2.28,2.32,2.12,2.88,-0.86,2025-02-20
ASW,7.55,7.50,7.60,7.35,8.45,-0.66,2025-02-20
AWC,3.14,3.10,3.18,2.88,4.58,-0.63,2025-02-20
BA,20.90,20.50,21.20,15.10,26.00,0.0,2025-02-20
BAM,6.25,6.20,6.45,5.35,10.40,-3.1,2025-02-20
BANPU,4.50,4.48,4.64,4.38,7.50,-1.75,2025-02-20
BAY,23.70,23.70,24.10,22.20,29.00,0.0,2025-02-20
BBL,161.50,159.00,161.50,129.00,161.00,0.62,2025-02-20
BCH,15.70,15.50,15.90,13.40,22.30,0.0,2025-02-20
BCP,36.50,36.25,37.25,26.50,47.50,-2.01,2025-02-20
BCPG,7.05,7.00,7.15,5.05,8.25,0.0,2025-02-20
BCT,69.00,69.00,69.00,53.00,76.75,-1.08,2025-02-20
BDMS,23.20,23.00,23.40,22.20,31.25,-0.43,2025-02-20
BE8,12.70,12.70,13.30,10.60,29.50,-3.05,2025-02-20
BEAUTY,0.24,0.23,0.26,0.21,0.73,9.09,2025-02-20
BEC,3.86,3.82,3.88,3.50,5.25,0.0,2025-02-20
BEM,6.50,6.45,6.50,6.40,8.45,0.0,2025-02-20
BGC,6.75,6.65,6.80,5.90,7.90,-0.74,2025-02-20
BGRIM,12.70,12.50,13.20,12.30,30.00,-2.31,2025-02-20
BH,186.50,184.00,190.00,171.50,284.00,0.81,2025-02-20
BJC,22.20,21.80,22.30,19.20,26.25,-0.89,2025-02-20
BKIH,290.00,287.00,292.00,279.00,316.00,0.69,2025-02-20
BLA,21.50,21.10,22.50,16.30,25.75,7.5,2025-02-20
BLAND,0.49,0.48,0.49,0.48,0.72,2.08,2025-02-20
BPP,8.30,8.30,8.65,8.05,15.20,-1.19,2025-02-20
BTS,6.00,5.95,6.20,3.72,6.45,-0.83,2025-02-20
BTSGIF,3.04,3.02,3.04,2.92,3.70,0.0,2025-02-20
CBG,73.00,72.00,73.00,61.25,82.00,-0.34,2025-02-20
CENTEL,29.75,29.25,30.00,26.00,46.50,0.0,2025-02-20
CHG,2.28,2.26,2.30,2.04,3.08,0.0,2025-02-20
CK,15.00,14.80,15.40,14.90,24.60,-1.32,2025-02-20
CKP,2.64,2.58,2.88,2.58,4.28,-7.69,2025-02-20
COM7,21.50,21.20,21.90,16.40,28.25,-0.92,2025-02-20
CPALL,52.25,50.75,52.25,46.75,68.00,1.95,2025-02-20
CPF,21.80,21.70,22.60,17.60,26.00,-5.22,2025-02-20
CPN,51.25,51.00,52.00,48.75,68.75,-0.49,2025-02-20
CPNCG,6.05,6.05,6.10,5.30,6.65,-1.63,2025-02-20
CPNREIT,12.30,12.10,12.30,9.90,13.60,0.82,2025-02-20
CRC,33.75,33.50,34.25,24.20,37.75,-2.17,2025-02-20
DCC,1.48,1.48,1.52,1.48,2.16,-1.33,2025-02-20
DCON,0.30,0.29,0.30,0.28,0.53,0.0,2025-02-20
DELTA,77.25,75.50,80.50,63.25,173.50,-0.64,2025-02-20
DIF,8.10,8.10,8.20,7.45,9.85,-0.61,2025-02-20
DOHOME,7.00,6.80,7.40,5.95,12.60,5.26,2025-02-20
DRT,7.45,7.35,7.45,6.80,8.40,1.36,2025-02-20
EA,2.80,2.78,3.00,2.14,28.31,-1.41,2025-02-20
EASTW,2.20,2.14,2.22,2.02,4.04,0.0,2025-02-20
ECL,0.91,0.91,0.94,0.67,1.51,-1.09,2025-02-20
EGATIF,6.05,6.05,6.10,5.75,6.40,0.0,2025-02-20
EGCO,100.50,100.50,103.50,94.50,132.00,-2.43,2025-02-20
EPG,3.38,3.28,3.40,3.00,7.85,0.0,2025-02-20
FORTH,8.00,7.95,8.35,7.80,18.80,-1.84,2025-02-20
FPT,7.00,7.00,7.15,7.05,15.40,-2.78,2025-02-20
FSMART,7.15,7.00,7.20,4.60,9.15,0.7,2025-02-20
FTREIT,10.20,10.10,10.30,7.80,11.30,0.0,2025-02-20
GC,5.00,4.98,5.00,4.72,5.50,0.4,2025-02-20
GFPT,9.15,8.95,9.20,8.20,13.40,0.55,2025-02-20
GGC,4.00,4.00,4.10,3.84,8.90,0.0,2025-02-20
GLOBAL,8.25,8.20,8.55,7.80,17.40,-2.37,2025-02-20
GPSC,28.00,27.50,29.50,25.75,56.50,-4.27,2025-02-20
GRAMMY,7.00,6.50,7.05,3.90,8.90,0.72,2025-02-20
GULF,51.25,51.25,56.50,37.00,70.75,-9.29,2025-02-20
GUNKUL,1.80,1.78,1.86,1.75,3.10,-2.7,2025-02-20
GVREIT,6.85,6.75,6.90,4.98,7.15,0.0,2025-02-20
HANA,21.60,21.40,22.30,20.50,49.75,-2.26,2025-02-20
HFT,4.22,4.18,4.26,3.92,4.82,0.0,2025-02-20
HMPRO,8.45,8.35,8.75,7.65,11.60,-2.87,2025-02-20
HTC,16.80,16.60,16.90,15.00,18.20,1.2,2025-02-20
ICHI,13.40,13.40,13.90,12.00,18.80,-1.47,2025-02-20
III,5.05,5.00,5.15,4.18,9.95,0.0,2025-02-20
ILM,14.60,14.50,15.20,13.80,22.60,-3.31,2025-02-20
IMH,4.36,4.26,4.38,4.00,7.65,0.46,2025-02-20
IMPACT,10.40,10.40,10.60,9.15,12.80,0.0,2025-02-20
INOX,0.45,0.45,0.47,0.40,0.67,0.0,2025-02-20
INTUCH,82.50,82.50,91.25,65.25,114.50,-10.33,2025-02-20
IP,2.12,2.10,2.18,2.08,7.30,-2.75,2025-02-20
IRPC,1.01,1.01,1.04,1.00,2.06,-1.94,2025-02-20
IVL,22.10,22.00,22.60,16.00,27.50,-1.34,2025-02-20
3BBIF,5.25,5.25,5.30,5.00,6.75,-0.94,2025-02-20
JMART,10.30,10.20,10.70,9.10,17.70,-0.96,2025-02-20
JMT,13.90,13.70,14.20,9.90,24.40,-2.11,2025-02-20
KBANK,164.00,161.00,164.50,119.50,163.50,0.31,2025-02-20
KCE,21.20,20.70,21.60,19.50,47.75,0.0,2025-02-20
KEX,1.25,1.19,1.27,1.19,6.50,0.0,2025-02-20
KGI,4.24,4.22,4.24,3.98,4.90,0.0,2025-02-20
KKP,55.50,53.75,56.25,37.00,55.50,3.74,2025-02-20
KSL,1.72,1.71,1.75,1.57,2.62,-0.58,2025-02-20
KTB,24.40,24.10,24.70,15.70,24.10,1.67,2025-02-20
KTC,50.75,50.50,51.25,37.00,52.25,-1.93,2025-02-20
KYE,294.00,294.00,297.00,280.00,342.00,0.68,2025-02-20
LALIN,5.45,5.40,5.50,5.30,8.00,0.0,2025-02-20
LANNA,16.60,16.50,16.80,13.60,17.50,-0.6,2025-02-20
LH,4.54,4.52,4.66,4.18,7.75,-3.4,2025-02-20
LHFG,0.76,0.76,0.78,0.71,1.04,-2.56,2025-02-20
LHK,3.36,3.34,3.40,3.30,4.20,-0.59,2025-02-20
LIT,0.51,0.51,0.53,0.47,1.55,0.0,2025-02-20
LPH,4.06,4.02,4.06,3.98,4.90,1.0,2025-02-20
LPN,2.16,2.14,2.18,2.06,3.78,0.0,2025-02-20
M,19.60,19.10,19.70,16.70,39.50,1.55,2025-02-20
MAJOR,13.10,12.90,13.30,11.70,16.00,-1.5,2025-02-20
MBAX,1.88,1.87,1.89,1.72,3.34,0.0,2025-02-20
MC,11.20,11.00,11.30,9.65,14.90,1.82,2025-02-20
MCS,6.80,6.70,7.00,5.80,8.20,-1.45,2025-02-20
MEGA,32.25,31.75,33.00,29.75,43.75,0.78,2025-02-20
MINT,28.25,27.50,28.50,22.90,34.00,0.0,2025-02-20
MST,8.70,8.60,8.75,8.60,10.70,0.58,2025-02-20
MTC,47.25,46.75,48.50,37.50,54.00,-2.07,2025-02-20
NER,4.86,4.78,4.96,4.48,6.45,-3.76,2025-02-20
NOBLE,2.18,2.14,2.18,1.99,3.82,0.0,2025-02-20
ONEE,3.24,3.20,3.28,3.02,5.35,-1.22,2025-02-20
OR,12.30,12.30,12.60,10.70,19.00,-1.6,2025-02-20
ORI,3.14,3.14,3.30,2.84,8.10,-3.68,2025-02-20
OSP,14.90,14.60,15.30,14.40,25.00,-3.25,2025-02-20
PAP,1.65,1.65,1.69,1.46,2.96,0.0,2025-02-20
PCSGH,3.66,3.54,3.86,3.26,5.30,-4.19,2025-02-20
PDG,2.60,2.54,2.60,2.30,2.82,8.33,2025-02-20
PLANB,7.10,7.00,7.20,6.40,9.20,0.71,2025-02-20
POPF,5.80,5.80,5.90,5.35,6.70,-1.69,2025-02-20
PREB,4.10,4.06,4.16,4.00,6.45,-0.49,2025-02-20
PRM,7.55,7.40,7.60,6.15,9.30,1.34,2025-02-20
PSH,5.95,5.80,6.00,5.55,12.60,0.0,2025-02-20
PSL,6.55,6.45,6.70,5.60,11.20,2.34,2025-02-20
PTG,7.70,7.50,7.70,6.80,10.70,-0.65,2025-02-20
PTL,10.50,10.30,10.80,9.15,14.40,-0.94,2025-02-20
PTT,31.50,31.00,31.75,30.00,36.25,0.0,2025-02-20
PTTEP,125.50,125.00,127.00,116.00,164.50,-1.95,2025-02-20
PTTGC,19.20,19.00,20.00,18.60,41.25,-1.03,2025-02-20
QH,1.64,1.62,1.66,1.57,2.30,-0.61,2025-02-20
RATCH,27.75,27.75,28.75,25.25,34.25,-3.48,2025-02-20
RBF,4.96,4.86,5.05,4.62,12.40,0.0,2025-02-20
RCL,25.25,25.00,25.75,16.20,31.75,-0.98,2025-02-20
RJH,18.50,18.10,18.60,16.80,26.50,-0.54,2025-02-20
ROJNA,5.90,5.85,6.10,5.05,8.05,-1.67,2025-02-20
RS,0.84,0.84,0.91,0.73,7.35,-2.33,2025-02-20
S11,2.50,2.40,2.60,1.68,3.64,0.0,2025-02-20
SABUY,0.46,0.45,0.49,0.38,5.50,-4.17,2025-02-20
SAPPE,52.50,52.50,55.00,48.50,107.50,-3.67,2025-02-20
SAT,12.20,11.90,12.50,10.00,18.90,11.93,2025-02-20
SAWAD,39.00,38.75,40.00,27.25,45.50,-2.5,2025-02-20
SC,2.60,2.56,2.64,2.30,4.00,-0.76,2025-02-20
SCB,127.50,126.00,128.00,100.00,128.00,0.39,2025-02-20
SCC,143.00,143.00,149.00,142.50,275.00,-2.72,2025-02-20
SCCC,160.00,159.50,161.50,127.50,177.50,-0.93,2025-02-20
SCGP,14.50,14.50,15.40,14.80,35.25,-6.45,2025-02-20
SENA,2.22,2.18,2.22,2.08,3.02,0.91,2025-02-20
SGP,7.00,6.90,7.20,6.55,8.45,-2.78,2025-02-20
SINGER,6.00,5.90,6.25,5.60,12.70,-2.44,2025-02-20
SIRI,1.66,1.65,1.70,1.51,1.94,-2.35,2025-02-20
SIS,25.25,25.25,25.75,20.80,31.25,-0.98,2025-02-20
SJWD,7.40,7.25,7.60,7.20,16.70,-1.33,2025-02-20
SKN,5.50,5.40,5.55,4.04,6.40,0.92,2025-02-20
SKR,8.05,8.05,8.25,8.05,10.70,-3.01,2025-02-20
SMPC,9.30,9.25,9.30,6.45,10.10,0.0,2025-02-20
SNC,5.35,5.20,5.35,4.72,8.00,0.94,2025-02-20
SPALI,15.90,15.70,16.30,14.80,21.60,-2.45,2025-02-20
SPC,58.50,58.50,59.00,57.00,63.75,-1.27,2025-02-20
SPCG,7.95,7.90,7.95,7.50,12.70,0.63,2025-02-20
SPRC,5.45,5.35,5.65,4.92,9.40,1.87,2025-02-20
SPRIME,4.20,4.18,4.20,3.66,4.76,0.48,2025-02-20
SSP,5.30,5.15,5.30,4.96,8.20,1.92,2025-02-20
STA,16.70,16.50,17.00,14.20,25.75,1.21,2025-02-20
STANLY,219.00,218.00,219.00,199.50,233.00,0.46,2025-02-20
STGT,7.95,7.90,8.20,7.05,13.30,-1.24,2025-02-20
SUPER,0.18,0.18,0.19,0.17,0.41,0.0,2025-02-20
SUPEREIF,6.35,6.30,6.40,5.60,7.05,0.79,2025-02-20
SVI,7.20,7.10,7.25,5.95,9.40,0.7,2025-02-20
SYNEX,10.50,10.30,10.80,9.70,16.70,2.94,2025-02-20
TASCO,16.90,16.90,17.40,15.40,20.00,-2.31,2025-02-20
TCAP,50.75,50.00,50.75,43.25,53.50,0.5,2025-02-20
TFFIF,6.40,6.35,6.45,6.00,7.20,-0.78,2025-02-20
TFG,3.52,3.44,3.56,3.02,4.84,1.15,2025-02-20
THANI,1.55,1.50,1.63,1.15,2.50,-1.9,2025-02-20
THG,13.60,13.30,14.10,12.40,47.00,-2.86,2025-02-20
TIDLOR,18.40,18.00,18.50,12.50,22.56,1.1,2025-02-20
TIPH,22.50,22.10,22.60,19.90,32.25,1.35,2025-02-20
TIPCO,9.95,9.95,10.00,9.45,10.60,-0.5,2025-02-20
TISCO,99.25,98.75,99.50,90.00,101.50,0.0,2025-02-20
TK,3.72,3.68,3.72,3.44,5.60,0.54,2025-02-20
TKN,9.05,8.95,9.25,7.70,12.30,0.56,2025-02-20
TKS,5.30,5.20,5.40,4.94,9.00,-0.93,2025-02-20
TMT,3.00,2.98,3.04,2.94,6.05,-1.32,2025-02-20
TMW,56.75,56.75,58.25,44.75,66.75,-1.73,2025-02-20
TOA,12.20,12.00,12.70,11.60,26.00,-3.17,2025-02-20
TOP,26.25,25.50,26.75,23.10,60.75,-1.87,2025-02-20
TPIPL,0.96,0.95,0.97,0.92,1.45,0.0,2025-02-20
TPIPP,2.90,2.88,2.92,2.70,3.42,0.0,2025-02-20
TQM,17.80,17.40,17.80,16.00,33.25,0.56,2025-02-20
TRUE,12.80,12.70,13.20,6.45,13.30,-3.03,2025-02-20
TSE,0.68,0.67,0.70,0.62,1.88,-2.86,2025-02-20
TSTH,0.54,0.53,0.55,0.47,0.90,0.0,2025-02-20
TTA,4.70,4.60,4.78,3.96,8.50,3.07,2025-02-20
TTB,1.98,1.96,2.00,1.59,2.06,-1.98,2025-02-20
TTLPF,13.90,13.90,14.00,13.20,20.30,0.0,2025-02-20
TTW,9.05,9.00,9.10,8.50,9.90,0.0,2025-02-20
TU,11.70,11.60,12.00,10.70,15.90,-2.5,2025-02-20
TVO,22.20,21.90,22.30,18.60,25.25,0.91,2025-02-20
TYCN,-,0.00,0.00,1.80,2.78,0.0,2025-02-20
UTP,8.20,8.20,8.50,7.30,12.00,0.61,2025-02-20
VGI,3.16,3.12,3.44,1.20,3.68,-2.47,2025-02-20
VIBHA,1.90,1.86,1.90,1.72,2.34,0.0,2025-02-20
VNG,2.78,2.76,2.82,2.76,3.92,-0.71,2025-02-20
WHA,4.60,4.54,4.64,4.38,6.20,-1.71,2025-02-20
WHAIR,5.85,5.80,6.35,5.20,6.75,-7.87,2025-02-20
WHART,10.20,10.10,10.30,7.65,10.80,0.0,2025-02-20
WHAUP,3.60,3.56,3.66,3.16,5.50,0.0,2025-02-20
WICE,3.26,3.24,3.36,3.10,7.55,-1.21,2025-02-20
WORK,6.10,6.00,6.15,5.00,11.10,0.0,2025-02-20

In [13]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  08:47 PM

In [14]:
out_df.query('price == "-"')

     name price today_low today_high year_low year_high  percent  updated_at
210  TYCN     -      0.00       0.00     1.80      2.78      0.0  2025-02-20

In [15]:
out_df.shape

(221, 8)

In [16]:
out_df = out_df[out_df['name'] != 'BCT']

In [17]:
out_df = out_df[out_df['name'] != 'LPF']

In [18]:
out_df = out_df[out_df['name'] != 'TYCN']

In [19]:
out_df = out_df[out_df['name'] != 'GRAMMY']

In [20]:
out_df = out_df[out_df['name'] != 'MST']

In [21]:
out_df.shape

(217, 8)

In [22]:
out_df['price'] = out_df['price'].astype('float')
out_df['today_low'] = out_df['today_low'].astype('float')
out_df['today_high'] = out_df['today_high'].astype('float')
out_df['year_low'] = out_df['year_low'].astype('float')
out_df['year_high'] = out_df['year_high'].astype('float')
out_df['percent'] = out_df['percent'].astype('float')

In [23]:
sorted_out_df = out_df.sort_values('percent')

In [24]:
sorted_out_df.query('today_low < year_low')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
157,SCGP,14.5,14.5,15.40,14.80,35.25,-6.45,2025-02-20
66,FPT,7.0,7.0,7.15,7.05,15.40,-2.78,2025-02-20
44,CK,15.0,14.8,15.40,14.90,24.60,-1.32,2025-02-20

In [25]:
sorted_out_df.query('name == "MCS"')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
116,MCS,6.8,6.7,7.0,5.8,8.2,-1.45,2025-02-20

In [26]:
out_df.query('today_low < year_low')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
44,CK,15.0,14.8,15.40,14.90,24.60,-1.32,2025-02-20
66,FPT,7.0,7.0,7.15,7.05,15.40,-2.78,2025-02-20
157,SCGP,14.5,14.5,15.40,14.80,35.25,-6.45,2025-02-20

In [27]:
sorted_out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
95,KBANK,164.00,161.00,164.50,119.50,163.50,0.31,2025-02-20
21,BBL,161.50,159.00,161.50,129.00,161.00,0.62,2025-02-20
101,KTB,24.40,24.10,24.70,15.70,24.10,1.67,2025-02-20
99,KKP,55.50,53.75,56.25,37.00,55.50,3.74,2025-02-20
4,AIE,1.58,1.40,1.65,0.72,1.51,23.44,2025-02-20

In [28]:
out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
4,AIE,1.58,1.40,1.65,0.72,1.51,23.44,2025-02-20
21,BBL,161.50,159.00,161.50,129.00,161.00,0.62,2025-02-20
95,KBANK,164.00,161.00,164.50,119.50,163.50,0.31,2025-02-20
99,KKP,55.50,53.75,56.25,37.00,55.50,3.74,2025-02-20
101,KTB,24.40,24.10,24.70,15.70,24.10,1.67,2025-02-20

In [29]:
file_name = "Price-Hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [30]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price-Hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price-Hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Hilo.csv

In [31]:
out_df.to_csv(output_file, index=False)  
out_df.to_csv(god_file, index=False) 
out_df.to_csv(icd_file, index=False)  
out_df.to_csv(osd_file, index=False)

In [32]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-20 20:47:00