##### SQLite port_lite database: stocks table
##### PostgreSQL portpg database: stocks table
##### MySQL stock database: setindex, price, buy tables
##### Output files: 5-day-average, extremes

In [2]:
import calendar
import os
import pandas as pd
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format

today = date.today()
print(today)

2025-02-28

In [3]:
num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()
print(today, yesterday)

2025-02-28 2025-02-27

In [4]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-28 20:58:23

### Restart and run all cells

In [6]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [7]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"Obsidian path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
Obsidian path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

### Begin of Tables in the process

In [9]:
cols = "name market price_x maxp max_price qty".split()
colt = 'name pct price_x price_y status diff'.split()
colu = "name prc_pct tdy_price avg_price qty_pct tdy_qty avg_qty".split()
colv = "name market price_x minp min_price qty".split()

In [10]:
format_dict = {
    'setindex':'{:,.2f}',
    
    'qty':'{:,}', 'volbuy':'{:,}',   
    'price':'{:.2f}','maxp':'{:.2f}','minp':'{:.2f}',
    'opnp':'{:.2f}','price_x':'{:.2f}','price_y':'{:.2f}',
    'price_today':'{:.2f}','price_yesterday':'{:.2f}',   
    'date':'{:%Y-%m-%d}',
    
    'price_mean':'{:.2f}','price_today':'{:.2f}','diff':'{:.2f}', 
    'tdy_price':'{:.2f}','avg_price':'{:.2f}','dividend':'{:.2f}',
    'tdy_qty':'{:,}','avg_qty':'{:,}',
    'prc_pct':'{:,.2f}%','qty_pct':'{:,.2f}%','pct':'{:,.2f}%',
    'qty_mean':'{:,}','qty_today':'{:,}',    
    
    'price':'{:.2f}','max_price':'{:.2f}','min_price':'{:.2f}',                
    'pe':'{:.2f}','pbv':'{:.2f}',
    'paid_up':'{:,.2f}','market_cap':'{:,.2f}',   
    'value(m)':'{:,.2f}','beta':'{:,.2f}', 
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',    
    'start_date':'{:%Y-%m-%d}','end_date':'{:%Y-%m-%d}',    
              }

In [11]:
# If run after actual work day
#today = today - timedelta(days=2)
today

datetime.date(2025, 2, 28)

In [12]:
sql = """
SELECT * 
FROM price 
WHERE date = '%s'
ORDER BY name
"""
sql = sql % today
#sql = sql % yesterday
print(sql)

prices = pd.read_sql(sql, const)
#prices.sample(5).style.format(format_dict)
prices.shape

SELECT *
FROM price
WHERE date = '2025-02-28'
ORDER BY name

(182, 7)

In [13]:
sql = """
SELECT * 
FROM stocks
ORDER BY name
"""
stocks = pd.read_sql(sql, conpg)
stocks['created_at'] = pd.to_datetime(stocks['created_at'])
stocks['updated_at'] = pd.to_datetime(stocks['updated_at'])
stocks.head().style.format(format_dict)

In [14]:
stocks.query('name == "JMT"')

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
96,816,JMT,SET50,12.10,23.70,9.90,45.05,3.47,729.58,78064.96,675.65,1.69,245,2022-05-17 18:59:06.541597,2025-02-27

In [15]:
df_merge = pd.merge(prices, stocks, on="name", how="inner")
df_merge.drop(columns=['id','ticker_id','created_at','updated_at','paid_up','market_cap'],inplace=True)
#df_merge.sample(5).style.format(format_dict)
df_merge.sample(5).style.format(format_dict)

### 52 Weeks High

In [17]:
Yearly_High = (df_merge.maxp > df_merge.max_price) & (df_merge.qty > 100000)
Final_High = df_merge[Yearly_High]
Final_High[cols].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [18]:
'New high today: ' + str(df_merge[Yearly_High].shape[0]) + ' stocks'

'New high today: 0 stocks'

### New High by Markets

In [20]:
set50H = Final_High["market"].str.contains("SET50")
Final_High[set50H].sort_values(by=["name"],ascending=[True]).style.format(format_dict)

In [21]:
set100H = Final_High["market"].str.contains("SET100")
Final_High[set100H].sort_values(by=["name"],ascending=[True]).style.format(format_dict)

In [22]:
setsmallH = Final_High["market"].str.contains("sSET")
Final_High[setsmallH].sort_values(by=["name"],ascending=[True]).style.format(format_dict)

In [23]:
maiH = Final_High["market"].str.contains("mai")
Final_High[maiH].sort_values(by=["name"],ascending=[True]).style.format(format_dict)

### 52 Weeks Low

In [25]:
Yearly_Low = (df_merge.minp < df_merge.min_price) & (df_merge.qty > 100000)
Final_Low = df_merge[Yearly_Low]
Final_Low[colv].sort_values(by=["name"], ascending=[True]).style.format(format_dict)

In [26]:
'New low today: ' + str(df_merge[Yearly_Low].shape[0]) + ' stocks'

'New low today: 30 stocks'

### New Low by Markets

In [28]:
set50L = Final_Low["market"].str.contains("SET50")
Final_Low[set50L].sort_values(by=["name"],ascending=[True]).style.format(format_dict)

In [29]:
set100L = Final_Low["market"].str.contains("SET100")
Final_Low[set100L].sort_values(by=["name"],ascending=[True]).style.format(format_dict)

In [30]:
setsmallL = Final_Low["market"].str.contains("sSET")
Final_Low[setsmallL].sort_values(by=["name"],ascending=[True]).style.format(format_dict)

### Break 5-day Average Volume

In [32]:
sql = """
SELECT name, qty, price, date As today
FROM price 
WHERE date = '%s'
ORDER BY name
"""
sql = sql % today
print(sql)

today_vol = pd.read_sql(sql, const)
today_vol.head().style.format(format_dict)

SELECT name, qty, price, date As today
FROM price
WHERE date = '2025-02-28'
ORDER BY name

In [33]:
# specify the number of business days
num_days = 1
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(num_days)
end_date = today - num_business_days
end_date = end_date.date()
end_date

datetime.date(2025, 2, 27)

In [34]:
# create a new column 'start_date' by subtracting the specified number of business days from the 'end_date'
today_vol['end_date'] = today_vol['today'] - num_business_days
today_vol.head()

     name       qty  price       today             end_date
0   3BBIF  16053874   5.35  2025-02-28  2025-02-27 00:00:00
1     ACE   4879348   1.31  2025-02-28  2025-02-27 00:00:00
2  ADVANC  15113754 276.00  2025-02-28  2025-02-27 00:00:00
3  AEONTS    298806 108.50  2025-02-28  2025-02-27 00:00:00
4      AH    506903  13.50  2025-02-28  2025-02-27 00:00:00

In [35]:
# specify the number of business days
num_days = 1
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(num_days)
num_business_days
start_date = yesterday - num_business_days
start_date = start_date.date()
start_date

datetime.date(2025, 2, 26)

In [36]:
# create a new column 'start_date' by subtracting the specified number of business days from the 'end_date'
today_vol['start_date'] = today_vol['end_date'] - num_business_days
today_vol.head()

,name,qty,price,today,end_date,start_date
0,3BBIF,16053874,5.35,2025-02-28,2025-02-27 00:00:00,2025-02-26 00:00:00
1,ACE,4879348,1.31,2025-02-28,2025-02-27 00:00:00,2025-02-26 00:00:00
2,ADVANC,15113754,276.00,2025-02-28,2025-02-27 00:00:00,2025-02-26 00:00:00
3,AEONTS,298806,108.50,2025-02-28,2025-02-27 00:00:00,2025-02-26 00:00:00
4,AH,506903,13.50,2025-02-28,2025-02-27 00:00:00,2025-02-26 00:00:00

In [37]:
sql = """
SELECT * 
FROM price 
WHERE date BETWEEN '%s' AND '%s'
"""
sql = sql % (start_date, end_date)
print(sql)

five_day_vol = pd.read_sql(sql, const)
five_day_vol.sort_values(by=['name','date'],ascending=[True,True]).head().style.format(format_dict)

SELECT *
FROM price
WHERE date BETWEEN '2025-02-26' AND '2025-02-27'

In [38]:
five_day_mean = five_day_vol.groupby(by=["name"])[["qty","price"]].mean()
five_day_mean.reset_index(inplace=True)
five_day_mean.columns

Index(['name', 'qty', 'price'], dtype='object')

In [39]:
df_merge2 = pd.merge(today_vol, five_day_mean, on=["name"], how="inner", 
                     suffixes=( "_today","_mean"))
df_merge2.columns

Index(['name', 'qty_today', 'price_today', 'today', 'end_date', 'start_date',
       'qty_mean', 'price_mean'],
      dtype='object')

In [40]:
df_merge2["qty_mean"] = df_merge2.qty_mean.astype("int64")
df_merge2.head().style.format(format_dict)

In [41]:
break_five_day_mean = df_merge2[(df_merge2.qty_today > df_merge2.qty_mean)]
break_five_day_mean.head().style.format(format_dict)

In [42]:
sql = """
SELECT name, date, volbuy, price, dividend 
FROM buy 
WHERE active = 1
"""
buys = pd.read_sql(sql, const)
buys.volbuy = buys.volbuy.astype("int64")
buys.sample(5).style.format(format_dict)

In [43]:
df_merge3 = pd.merge(break_five_day_mean, buys, on=["name"], how="inner", suffixes=("_mean","_today"))
df_merge3["qty_pct"] = round((df_merge3.qty_today - df_merge3.qty_mean) / abs(df_merge3.qty_mean) * 100,2)
df_merge3["prc_pct"] = round((df_merge3.price_today - df_merge3.price_mean) / abs(df_merge3.price_mean) * 100,2)
df_merge3.rename(columns={'price_mean':'avg_price','price_today':'tdy_price',
                          'qty_mean':'avg_qty','qty_today':'tdy_qty'},inplace=True)
df_merge3[colu].sort_values(["prc_pct"], ascending=False
).style.format(format_dict)

In [44]:
file_name = '5-day-average.csv'
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [45]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\5-day-average.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\5-day-average.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\5-day-average.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\5-day-average.csv

In [46]:
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(output_file, header=True, index=False)
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(god_file, header=True, index=False)
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(icd_file, header=True, index=False)
df_merge3[colu].sort_values(["prc_pct"], ascending=False).to_csv(osd_file, header=True, index=False)

### Extreme price discrepancy

In [48]:
sql = '''
SELECT name, status
FROM stocks'''
stocks = pd.read_sql(sql, conlite)
stocks.sample(5).style.format(format_dict)

In [49]:
names = stocks["name"].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AH', 'AIMIRT', 'ASP', 'AWC', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', '3BBIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'WHAIR', 'TOA', 'WHART', 'TVO'"

In [50]:
sql = """
SELECT name, price 
FROM price 
WHERE date = '%s' AND name IN (%s) 
ORDER BY name"""
sql = sql % (today, in_p)
print(sql)

tdy_prices = pd.read_sql(sql, const)
str(tdy_prices.shape[0]) + ' stocks'

SELECT name, price
FROM price
WHERE date = '2025-02-28' AND name IN ('AH', 'AIMIRT', 'ASP', 'AWC', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', '3BBIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'WHAIR', 'TOA', 'WHART', 'TVO')
ORDER BY name

'29 stocks'

In [51]:
sql = """
SELECT name, price 
FROM price 
WHERE date = '%s' AND name IN (%s) 
ORDER BY name"""
sql = sql % (yesterday, in_p)
print(sql)

ytd_prices = pd.read_sql(sql, const)
str(ytd_prices.shape[0]) + ' stocks'

SELECT name, price
FROM price
WHERE date = '2025-02-27' AND name IN ('AH', 'AIMIRT', 'ASP', 'AWC', 'BCH', 'CPNREIT', 'DIF', 'GVREIT', 'IVL', '3BBIF', 'JMART', 'JMT', 'KCE', 'MCS', 'NER', 'ORI', 'PTG', 'PTTGC', 'RCL', 'SCC', 'SENA', 'SINGER', 'STA', 'SYNEX', 'TFFIF', 'WHAIR', 'TOA', 'WHART', 'TVO')
ORDER BY name

'29 stocks'

In [52]:
compare1 = pd.merge(tdy_prices,ytd_prices,on='name',how='inner',suffixes=("_today","_yesterday"))
compare1.sample(5).style.format(format_dict)

In [53]:
compare2 = pd.merge(compare1,stocks,on='name',how='inner')
compare2.head().style.format(format_dict)

In [54]:
compare2.columns

Index(['name', 'price_today', 'price_yesterday', 'status'], dtype='object')

In [55]:
colx = ['name', 'pct', 'price_today', 'price_yesterday', 'status', 'diff']
colx

['name', 'pct', 'price_today', 'price_yesterday', 'status', 'diff']

In [56]:
compare2['diff'] = round((compare2.price_today - compare2.price_yesterday),2)
compare2['pct'] = round(compare2['diff'] / compare2['price_yesterday'] * 100,2)
compare2[colx].sort_values(['pct'],ascending=[False]).sample(5).style.format(format_dict)

In [57]:
criteria = 3
mask = abs(compare2.pct) >= criteria
extremes = compare2[mask].sort_values(['status','pct'],ascending=[True,False])
extremes[colx].sort_values(['status','pct'],ascending=[True,False]).style.format(format_dict)

In [58]:
file_name = 'extremes.csv'
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [59]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\extremes.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\extremes.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\extremes.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\extremes.csv

In [60]:
extremes[colx].sort_values(['status','pct'],ascending=[True,False]).to_csv(output_file, index=False)
extremes[colx].sort_values(['status','pct'],ascending=[True,False]).to_csv(god_file, index=False)
extremes[colx].sort_values(['status','pct'],ascending=[True,False]).to_csv(icd_file, index=False)
extremes[colx].sort_values(['status','pct'],ascending=[True,False]).to_csv(osd_file, index=False)

In [61]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-02-28 20:58:24