### Must run step by step as there are command lines to be executed in the middle of the flow

### Input files: Price-Today.csv
### Output files: daily-sales.csv, daily-sales-prices.csv

In [3]:
import numpy as np
import os
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine
from pandas.tseries.offsets import BDay

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

today = date.today()
today

datetime.date(2025, 1, 22)

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
yesterday = yesterday.date()
print(f'today: {today}')
print(f'yesterday: {yesterday}')

today: 2025-01-22
yesterday: 2025-01-21

In [7]:
cols = 'name fm_date to_date fm_price to_price qty max_price min_price percent status'.split()

format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}',
    'volume':'{:,.2f}','beta':'{:,.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}',
}

In [9]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [11]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"OSD path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
OSD path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [13]:
sql = """
SELECT DISTINCT a.name
FROM sales a 
WHERE to_date = '%s'
ORDER BY a.name
"""
sql = sql % yesterday
print(sql)
tmp = pd.read_sql(sql, conlite)
tmp.shape

SELECT DISTINCT a.name
FROM sales a
WHERE to_date = '2025-01-21'
ORDER BY a.name

(20, 1)

In [15]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a 
JOIN stocks t ON a.name = t.name 
WHERE to_date = '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % yesterday
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a
JOIN stocks t ON a.name = t.name
WHERE to_date = '2025-01-21' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

### This statement causes program to hang when there is no data

In [18]:
df = pd.read_sql(sql, conlite)
#df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df.eval('diff = to_price - fm_price',inplace=True)
df['percent'] = round(df['diff']/df['fm_price']*100,2)
#df.style.format(format_dict)
df

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,status,market,diff,percent
0,3BBIF,2025-01-21,2025-01-21,5.15,5.10,25049174,5.15,5.05,B,SET,-0.05,-0.97
1,AIMIRT,2025-01-13,2025-01-21,10.50,10.50,5738800,10.60,10.40,B,SET,0.00,0.00
2,CPNREIT,2025-01-21,2025-01-21,11.90,12.10,2155940,12.20,11.90,B,SET,0.20,1.68
3,DIF,2025-01-16,2025-01-21,8.25,8.45,49659928,8.45,8.20,B,SET,0.20,2.42
4,GVREIT,2025-01-20,2025-01-21,6.65,6.55,3527934,6.65,6.45,B,SET,-0.10,-1.50
5,JMART,2025-01-21,2025-01-21,10.70,11.20,17815986,11.80,10.70,B,SET50,0.50,4.67
6,KCE,2025-01-17,2025-01-21,21.70,23.20,26237140,23.20,21.60,B,SET100,1.50,6.91
7,MCS,2025-01-21,2025-01-21,6.30,6.35,2104686,6.60,6.30,B,SET,0.05,0.79
8,NER,2025-01-17,2025-01-21,4.84,4.94,32702916,4.94,4.82,B,SET,0.10,2.07
9,SENA,2025-01-09,2025-01-21,2.20,2.18,6253440,2.24,2.16,B,SET,-0.02,-0.91
10,TFFIF,2025-01-17,2025-01-21,6.25,6.30,14294068,6.40,6.25,B,SET,0.05,0.80
11,WHAIR,2025-01-21,2025-01-21,6.45,6.50,13462448,6.65,6.45,B,SET,0.05,0.78
12,AWC,2025-01-21,2025-01-21,3.04,3.10,111757948,3.18,3.04,S,SET50,0.06,1.97
13,BCH,2025-01-21,2025-01-21,14.20,14.50,11559696,14.90,14.20,S,SET100,0.30,2.11
14,JMT,2025-01-21,2025-01-21,14.30,14.90,72617738,15.70,14.30,S,SET50,0.60,4.20
15,PTG,2025-01-21,2025-01-21,7.50,7.60,3817464,7.80,7.50,S,SET100,0.10,1.33
16,RCL,2025-01-17,2025-01-21,25.00,25.25,4613700,25.75,25.00,S,SET100,0.25,1.00
17,SYNEX,2025-01-21,2025-01-21,13.10,13.50,3996588,13.70,13.10,S,SET,0.40,3.05
18,TVO,2025-01-02,2025-01-21,22.90,21.10,15608732,23.20,21.10,S,SET,-1.80,-7.86
19,WHART,2025-01-08,2025-01-21,10.10,10.20,36840740,10.30,10.00,S,SET,0.10,0.99

In [20]:
df.shape

(20, 12)

### IF the above count not equal number of orders, there must be something incorrect

### Create daily-sales from sales

In [24]:
df[cols].style.format(format_dict)

In [26]:
file_name = "daily-sales.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [28]:
print(f"Output file : {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\daily-sales.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\daily-sales.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\daily-sales.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\daily-sales.csv

In [30]:
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(output_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(god_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(icd_file, header=True, index=False)
df[cols].sort_values(['status','percent'],ascending=[True,True]).to_csv(osd_file, header=True, index=False)

In [32]:
sales = df[cols]
sales.shape

(20, 10)

In [34]:
file_name = "Price-Today.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\Price-Today.csv

In [36]:
prices = pd.read_csv(input_file)
prices.shape

(182, 10)

In [38]:
df_merge = pd.merge(sales,prices,on='name', how='inner')
df_merge.shape

(20, 19)

In [40]:
colu = 'name fm_date to_date fm_price to_price qty max_price min_price percent status \
price change volume date'.split()
df_merge[colu]

,name,fm_date,to_date,fm_price,to_price,qty,max_price,min_price,percent,status,price,change,volume,date
0,3BBIF,2025-01-21,2025-01-21,5.15,5.10,25049174,5.15,5.05,-0.97,B,5.15,0.05,1475600,2025-01-22
1,AIMIRT,2025-01-13,2025-01-21,10.50,10.50,5738800,10.60,10.40,0.00,B,10.50,0.00,29440,2025-01-22
2,CPNREIT,2025-01-21,2025-01-21,11.90,12.10,2155940,12.20,11.90,1.68,B,12.10,0.00,1134627,2025-01-22
3,DIF,2025-01-16,2025-01-21,8.25,8.45,49659928,8.45,8.20,2.42,B,8.45,0.00,2702039,2025-01-22
4,GVREIT,2025-01-20,2025-01-21,6.65,6.55,3527934,6.65,6.45,-1.50,B,6.50,-0.05,104287,2025-01-22
5,JMART,2025-01-21,2025-01-21,10.70,11.20,17815986,11.80,10.70,4.67,B,11.10,-0.10,2047317,2025-01-22
6,KCE,2025-01-17,2025-01-21,21.70,23.20,26237140,23.20,21.60,6.91,B,22.90,-0.30,6300553,2025-01-22
7,MCS,2025-01-21,2025-01-21,6.30,6.35,2104686,6.60,6.30,0.79,B,6.25,-0.10,198500,2025-01-22
8,NER,2025-01-17,2025-01-21,4.84,4.94,32702916,4.94,4.82,2.07,B,5.00,0.06,10159575,2025-01-22
9,SENA,2025-01-09,2025-01-21,2.20,2.18,6253440,2.24,2.16,-0.91,B,2.20,0.02,539058,2025-01-22
10,TFFIF,2025-01-17,2025-01-21,6.25,6.30,14294068,6.40,6.25,0.80,B,6.30,0.00,2692579,2025-01-22
11,WHAIR,2025-01-21,2025-01-21,6.45,6.50,13462448,6.65,6.45,0.78,B,6.45,-0.05,83809,2025-01-22
12,AWC,2025-01-21,2025-01-21,3.04,3.10,111757948,3.18,3.04,1.97,S,3.10,0.00,24918316,2025-01-22
13,BCH,2025-01-21,2025-01-21,14.20,14.50,11559696,14.90,14.20,2.11,S,15.10,0.60,9506545,2025-01-22
14,JMT,2025-01-21,2025-01-21,14.30,14.90,72617738,15.70,14.30,4.20,S,14.80,-0.10,13440460,2025-01-22
15,PTG,2025-01-21,2025-01-21,7.50,7.60,3817464,7.80,7.50,1.33,S,7.60,0.00,1248973,2025-01-22
16,RCL,2025-01-17,2025-01-21,25.00,25.25,4613700,25.75,25.00,1.00,S,25.25,0.00,745304,2025-01-22
17,SYNEX,2025-01-21,2025-01-21,13.10,13.50,3996588,13.70,13.10,3.05,S,13.50,0.00,848936,2025-01-22
18,TVO,2025-01-02,2025-01-21,22.90,21.10,15608732,23.20,21.10,-7.86,S,21.00,-0.10,291984,2025-01-22
19,WHART,2025-01-08,2025-01-21,10.10,10.20,36840740,10.30,10.00,0.99,S,10.20,0.00,1032701,2025-01-22

In [42]:
file_name = "daily-sales-prices.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [44]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

output_file (output_file): C:\Users\PC1\OneDrive\A5\Data\daily-sales-prices.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\daily-sales-prices.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\daily-sales-prices.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\daily-sales-prices.csv

In [46]:
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(output_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(god_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(icd_file, header=True, index=False)
df_merge[colu].sort_values(['name'],ascending=[True]).to_csv(osd_file, header=True, index=False)

### Add or update sells record depends on trend

In [48]:
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [50]:
!ruby ruby\\daily-out-new.rb

Name      From Date    To Date   From     To     Pct      Shares    Max    Min S Action
---------------------------------------------------------------------------------------
3BBIF    2025-01-22 2025-01-22   5.10   5.15   0.98%  25,049,174   5.15   5.05 B Insert
AIMIRT   2025-01-13 2025-01-22  10.50  10.50    0.0%   5,738,800  10.60  10.40 B Update
AWC      2025-01-21 2025-01-22   3.04   3.10   1.97% 111,757,948   3.18   3.04 S Update
BCH      2025-01-21 2025-01-22  14.20  15.10   6.34%  11,559,696  15.10  14.20 S Update
CPNREIT  2025-01-21 2025-01-22  11.90  12.10   1.68%   2,155,940  12.20  11.90 B Update
DIF      2025-01-16 2025-01-22   8.25   8.45   2.42%  49,659,928   8.45   8.20 B Update
GVREIT   2025-01-20 2025-01-22   6.65   6.50  -2.26%   3,527,934   6.65   6.45 B Update
JMART    2025-01-22 2025-01-22  11.20  11.10  -0.89%  17,815,986  11.80  10.70 B Insert
JMT      2025-01-22 2025-01-22  14.90  14.80  -0.67%  72,617,738  15.70  14.30 S Insert
KCE      2025-01-22 2025-01-22  23.20  22.90  -1.29%  26,237,140  23.20  21.60 B Insert
MCS      2025-01-22 2025-01-22   6.35   6.25  -1.57%   2,104,686   6.60   6.25 B Insert
NER      2025-01-17 2025-01-22   4.84   5.00   3.31%  32,702,916   5.00   4.82 B Update
PTG      2025-01-21 2025-01-22   7.50   7.60   1.33%   3,817,464   7.80   7.50 S Update
RCL      2025-01-17 2025-01-22  25.00  25.25    1.0%   4,613,700  25.75  25.00 S Update
SENA     2025-01-22 2025-01-22   2.18   2.20   0.92%   6,253,440   2.24   2.16 B Insert
SYNEX    2025-01-21 2025-01-22  13.10  13.50   3.05%   3,996,588  13.70  13.10 S Update
TFFIF    2025-01-17 2025-01-22   6.25   6.30    0.8%  14,294,068   6.40   6.25 B Update
TVO      2025-01-02 2025-01-22  22.90  21.00   -8.3%  15,608,732  23.20  21.00 S Update
WHAIR    2025-01-22 2025-01-22   6.50   6.45  -0.77%  13,462,448   6.65   6.45 B Insert
WHART    2025-01-08 2025-01-22  10.10  10.20   0.99%  36,840,740  10.30  10.00 S Update
=======================================================================================

In [52]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'



### cd\ruby\port_lite


### rails runner db/ins_sales.rb

In [54]:
sql = """
SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a 
JOIN stocks t ON a.name = t.name 
WHERE to_date = '%s' AND t.status IN ("B","I", "O", "S") 
ORDER BY t.status, a.name
"""
sql = sql % today
print(sql)

SELECT a.name,fm_date,to_date,fm_price,to_price,
a.qty,a.max_price,a.min_price,t.status,t.market
FROM sales a
JOIN stocks t ON a.name = t.name
WHERE to_date = '2025-01-22' AND t.status IN ("B","I", "O", "S")
ORDER BY t.status, a.name

In [56]:
df = pd.read_sql(sql, conlite)
df.shape

(20, 10)

In [58]:
#df.set_index(["name"], inplace=True)
df['fm_date'] = pd.to_datetime(df['fm_date'])
df['to_date'] = pd.to_datetime(df['to_date'])
df.eval('diff = to_price - fm_price',inplace=True)
df['percent'] = round(df['diff']/df['fm_price']*100,2)
df.style.format(format_dict)

In [60]:
df_sort = df.sort_values(by=['percent'],ascending=[True]).copy()

In [62]:
df_sort.query('percent <= -5.00').style.format(format_dict)

In [64]:
df_sort.query('percent >= 5.00').style.format(format_dict)

In [66]:
conlite.close()