### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-18 2025-08-17

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-18 2025-08-17

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-18
Today in mm-dd format: 08-18
yesterday: 2025-08-14 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-18

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-08-14 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   50000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   17500
8       2  CPNREIT   55000
9       2      DIF   50000
10      2   GVREIT   69000
11      2      MCS   81000
12      2      NER   27000
13      2      PTT    2500
14      2     SENA  105000
15      2    TFFIF   20000
16      2    WHAIR   50000
17      2    WHART   25000
18      3    3BBIF  120000
19      3      BCH    4000
20      3      IVL    7200
21      3      RCL   27000
22      3      STA   10000
23      3    SYNEX   17500
24      3      TVO    8000
25      4      CPF    4000
26      4      JMT    4200
27      4      PTG    3600
28      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-18      16.30      14.80      -1.50      -9.20  -1,800.00        -15
         1        AWC       9000   24-12-30   25-08-18       3.52       2.36      -1.16     -32.95 -10,440.00        -58
         1      JMART       6800   24-12-30   25-08-18      13.20       8.15      -5.05     -38.26 -34,340.00        -68
         1        ORI      50000   24-12-30   25-08-18       3.62       2.38      -1.24     -34.25 -62,000.00        -62
         1      PTTGC       6000   24-12-30   25-08-18      24.40      22.50      -1.90      -7.79 -11,400.00        -19
         1        SCC        600   24-12-30   25-08-18     168.00     205.00      37.00      22.02  22,200.00         69
         1     SINGER       6000   24-12-30   25-08-18       7.90       5.25      -2.65     -33.54 -15,900.00        -53
         2     AIMIRT      17500   24-12-30   25-08-18      10.60       9.75      -0.85      -8.02 -14,875.00        -11
         2    CPNREIT      55000   24-12-30   25-08-18      12.30      11.50      -0.80      -6.50 -44,000.00         -8
         2        DIF      50000   24-12-30   25-08-18       8.60       8.15      -0.45      -5.23 -22,500.00         -9
         2     GVREIT      69000   24-12-30   25-08-18       6.50       6.45      -0.05      -0.77  -3,450.00         -1
         2        MCS      81000   24-12-30   25-08-18       6.70       8.55       1.85      27.61 149,850.00         37
         2        NER      27000   24-12-30   25-08-18       4.62       4.44      -0.18      -3.90  -4,860.00         -9
         2        PTT       2500   24-12-30   25-08-18      31.75      32.25       0.50       1.57   1,250.00          2
         2       SENA     105000   24-12-30   25-08-18       2.22       1.83      -0.39     -17.57 -40,950.00        -27
         2      TFFIF      20000   24-12-30   25-08-18       6.35       6.05      -0.30      -4.72  -6,000.00         -6
         2      WHAIR      50000   24-12-30   25-08-18       6.50       5.40      -1.10     -16.92 -55,000.00        -22
         2      WHART      25000   24-12-30   25-08-18      10.20       9.15      -1.05     -10.29 -26,250.00        -18
         3      3BBIF     120000   24-12-30   25-08-18       5.20       6.15       0.95      18.27 114,000.00         19
         3        BCH       4000   24-12-30   25-08-18      15.30      13.20      -2.10     -13.73  -8,400.00        -21
         3        IVL       7200   24-12-30   25-08-18      24.90      21.10      -3.80     -15.26 -27,360.00        -38
         3        RCL      27000   24-12-30   25-08-18      28.25      27.50      -0.75      -2.65 -20,250.00         -3
         3        STA      10000   24-12-30   25-08-18      18.10      12.00      -6.10     -33.70 -61,000.00        -61
         3      SYNEX      17500   24-12-30   25-08-18      15.40      11.20      -4.20     -27.27 -73,500.00        -42
         3        TVO       8000   24-12-30   25-08-18      23.00      25.25       2.25       9.78  18,000.00         21
         4        CPF       4000   24-12-30   25-08-18      22.80      23.80       1.00       4.39   4,000.00         10
         4        JMT       4200   24-12-30   25-08-18      18.20      11.40      -6.80     -37.36 -28,560.00        -68
         4        PTG       3600   24-12-30   25-08-18       8.20       6.95      -1.25     -15.24  -4,500.00        -25
         4        TOA       1000   24-12-30   25-08-18      15.00      15.10       0.10       0.67     100.00          1

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-18,16.30,14.80,-1.50,-9.20,-1800.0,-15
1,1,AWC,9000,2024-12-30,2025-08-18,3.52,2.36,-1.16,-32.95,-10440.0,-58
2,1,JMART,6800,2024-12-30,2025-08-18,13.20,8.15,-5.05,-38.26,-34340.0,-68
3,1,ORI,50000,2024-12-30,2025-08-18,3.62,2.38,-1.24,-34.25,-62000.0,-62
4,1,PTTGC,6000,2024-12-30,2025-08-18,24.40,22.50,-1.90,-7.79,-11400.0,-19
5,1,SCC,600,2024-12-30,2025-08-18,168.00,205.00,37.00,22.02,22200.0,69
6,1,SINGER,6000,2024-12-30,2025-08-18,7.90,5.25,-2.65,-33.54,-15900.0,-53
7,2,AIMIRT,17500,2024-12-30,2025-08-18,10.60,9.75,-0.85,-8.02,-14875.0,-11
8,2,CPNREIT,55000,2024-12-30,2025-08-18,12.30,11.50,-0.80,-6.50,-44000.0,-8
9,2,DIF,50000,2024-12-30,2025-08-18,8.60,8.15,-0.45,-5.23,-22500.0,-9
10,2,GVREIT,69000,2024-12-30,2025-08-18,6.50,6.45,-0.05,-0.77,-3450.0,-1
11,2,MCS,81000,2024-12-30,2025-08-18,6.70,8.55,1.85,27.61,149850.0,37
12,2,NER,27000,2024-12-30,2025-08-18,4.62,4.44,-0.18,-3.90,-4860.0,-9
13,2,PTT,2500,2024-12-30,2025-08-18,31.75,32.25,0.50,1.57,1250.0,2
14,2,SENA,105000,2024-12-30,2025-08-18,2.22,1.83,-0.39,-17.57,-40950.0,-27
15,2,TFFIF,20000,2024-12-30,2025-08-18,6.35,6.05,-0.30,-4.72,-6000.0,-6
16,2,WHAIR,50000,2024-12-30,2025-08-18,6.50,5.40,-1.10,-16.92,-55000.0,-22
17,2,WHART,25000,2024-12-30,2025-08-18,10.20,9.15,-1.05,-10.29,-26250.0,-18
18,3,3BBIF,120000,2024-12-30,2025-08-18,5.20,6.15,0.95,18.27,114000.0,19
19,3,BCH,4000,2024-12-30,2025-08-18,15.30,13.20,-2.10,-13.73,-8400.0,-21
20,3,IVL,7200,2024-12-30,2025-08-18,24.90,21.10,-3.80,-15.26,-27360.0,-38
21,3,RCL,27000,2024-12-30,2025-08-18,28.25,27.50,-0.75,-2.65,-20250.0,-3
22,3,STA,10000,2024-12-30,2025-08-18,18.10,12.00,-6.10,-33.70,-61000.0,-61
23,3,SYNEX,17500,2024-12-30,2025-08-18,15.40,11.20,-4.20,-27.27,-73500.0,-42
24,3,TVO,8000,2024-12-30,2025-08-18,23.00,25.25,2.25,9.78,18000.0,21
25,4,CPF,4000,2024-12-30,2025-08-18,22.80,23.80,1.00,4.39,4000.0,10
26,4,JMT,4200,2024-12-30,2025-08-18,18.20,11.40,-6.80,-37.36,-28560.0,-68
27,4,PTG,3600,2024-12-30,2025-08-18,8.20,6.95,-1.25,-15.24,-4500.0,-25
28,4,TOA,1000,2024-12-30,2025-08-18,15.00,15.10,0.10,0.67,100.0,1

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
2,1,JMART,6800,2024-12-30,2025-08-18,13.20,8.15,-5.05,-38.26,-34340.0,-68
26,4,JMT,4200,2024-12-30,2025-08-18,18.20,11.40,-6.80,-37.36,-28560.0,-68
3,1,ORI,50000,2024-12-30,2025-08-18,3.62,2.38,-1.24,-34.25,-62000.0,-62
22,3,STA,10000,2024-12-30,2025-08-18,18.10,12.00,-6.10,-33.70,-61000.0,-61
1,1,AWC,9000,2024-12-30,2025-08-18,3.52,2.36,-1.16,-32.95,-10440.0,-58
6,1,SINGER,6000,2024-12-30,2025-08-18,7.90,5.25,-2.65,-33.54,-15900.0,-53
23,3,SYNEX,17500,2024-12-30,2025-08-18,15.40,11.20,-4.20,-27.27,-73500.0,-42
20,3,IVL,7200,2024-12-30,2025-08-18,24.90,21.10,-3.80,-15.26,-27360.0,-38
14,2,SENA,105000,2024-12-30,2025-08-18,2.22,1.83,-0.39,-17.57,-40950.0,-27
27,4,PTG,3600,2024-12-30,2025-08-18,8.20,6.95,-1.25,-15.24,-4500.0,-25
16,2,WHAIR,50000,2024-12-30,2025-08-18,6.50,5.40,-1.10,-16.92,-55000.0,-22
19,3,BCH,4000,2024-12-30,2025-08-18,15.30,13.20,-2.10,-13.73,-8400.0,-21
4,1,PTTGC,6000,2024-12-30,2025-08-18,24.40,22.50,-1.90,-7.79,-11400.0,-19
17,2,WHART,25000,2024-12-30,2025-08-18,10.20,9.15,-1.05,-10.29,-26250.0,-18
0,1,AH,1200,2024-12-30,2025-08-18,16.30,14.80,-1.50,-9.20,-1800.0,-15
7,2,AIMIRT,17500,2024-12-30,2025-08-18,10.60,9.75,-0.85,-8.02,-14875.0,-11
12,2,NER,27000,2024-12-30,2025-08-18,4.62,4.44,-0.18,-3.90,-4860.0,-9
9,2,DIF,50000,2024-12-30,2025-08-18,8.60,8.15,-0.45,-5.23,-22500.0,-9
8,2,CPNREIT,55000,2024-12-30,2025-08-18,12.30,11.50,-0.80,-6.50,-44000.0,-8
15,2,TFFIF,20000,2024-12-30,2025-08-18,6.35,6.05,-0.30,-4.72,-6000.0,-6
21,3,RCL,27000,2024-12-30,2025-08-18,28.25,27.50,-0.75,-2.65,-20250.0,-3
10,2,GVREIT,69000,2024-12-30,2025-08-18,6.50,6.45,-0.05,-0.77,-3450.0,-1
28,4,TOA,1000,2024-12-30,2025-08-18,15.00,15.10,0.10,0.67,100.0,1
13,2,PTT,2500,2024-12-30,2025-08-18,31.75,32.25,0.50,1.57,1250.0,2
25,4,CPF,4000,2024-12-30,2025-08-18,22.80,23.80,1.00,4.39,4000.0,10
18,3,3BBIF,120000,2024-12-30,2025-08-18,5.20,6.15,0.95,18.27,114000.0,19
24,3,TVO,8000,2024-12-30,2025-08-18,23.00,25.25,2.25,9.78,18000.0,21
11,2,MCS,81000,2024-12-30,2025-08-18,6.70,8.55,1.85,27.61,149850.0,37
5,1,SCC,600,2024-12-30,2025-08-18,168.00,205.00,37.00,22.02,22200.0,69

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        79600 -113680.0 -206
2       502000  -66785.0  -72
3       193700  -58510.0 -125
4        12800  -28960.0  -82

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         79600  33.848571  37.205714  3.357143 -29.428571 -113680.0
2        502000   9.667273   9.410909 -0.256364  -6.545455  -66785.0
3        193700  18.592857  16.628571 -1.964286 -17.857143  -58510.0
4         12800  16.050000  14.312500 -1.737500 -20.500000  -28960.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-267,935.00'

In [25]:
prev_pl = -267_935
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-60,380.00'