### Modify 2 statements then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-02-20 2025-02-19

In [4]:
#today = date(2025, 1, 24)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-02-20 2025-02-19

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-02-20
Today in mm-dd format: 02-20
yesterday: 2025-02-19 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,1,3)
print(today)

2025-02-20

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,1,2)
print(yesterday)

2025-02-19 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      ASP   30000
2       1      IVL    7200
3       1      ORI   60000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       1      STA   10000
8       1      TMT   36000
9       1      TOA    1000
10      2   AIMIRT   12500
11      2  CPNREIT   55000
12      2      DIF   35000
13      2   GVREIT   75000
14      2      MCS   75000
15      2      NER   27000
16      2     SENA  105000
17      2    TFFIF   20000
18      2    WHAIR   50000
19      2    WHART   20000
20      3    3BBIF  120000
21      3    JMART    6800
22      3      JMT    4200
23      3      KCE   10000
24      4      AWC    9000
25      4      BCH    4000
26      4      PTG    3600
27      4      RCL   27000
28      4    SYNEX   15000
29      4      TVO    4000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-02-20      16.30      14.00      -2.30     -14.11  -2,760.00        -23
         1        ASP      30000   24-12-30   25-02-20       2.36       2.30      -0.06      -2.54  -1,800.00         -3
         1        IVL       7200   24-12-30   25-02-20      24.90      22.10      -2.80     -11.24 -20,160.00        -28
         1        ORI      60000   24-12-30   25-02-20       3.62       3.14      -0.48     -13.26 -28,800.00        -24
         1      PTTGC       6000   24-12-30   25-02-20      24.40      19.20      -5.20     -21.31 -31,200.00        -52
         1        SCC        600   24-12-30   25-02-20     168.00     143.00     -25.00     -14.88 -15,000.00        -50
         1     SINGER       6000   24-12-30   25-02-20       7.90       6.00      -1.90     -24.05 -11,400.00        -38
         1        STA      10000   24-12-30   25-02-20      18.10      16.70      -1.40      -7.73 -14,000.00        -14
         1        TMT      36000   24-12-30   25-02-20       3.14       3.00      -0.14      -4.46  -5,040.00         -7
         1        TOA       1000   24-12-30   25-02-20      15.00      12.20      -2.80     -18.67  -2,800.00        -28
         2     AIMIRT      12500   24-12-30   25-02-20      10.60      10.70       0.10       0.94   1,250.00          1
         2    CPNREIT      55000   24-12-30   25-02-20      12.30      12.30       0.00       0.00       0.00          0
         2        DIF      35000   24-12-30   25-02-20       8.60       8.10      -0.50      -5.81 -17,500.00        -10
         2     GVREIT      75000   24-12-30   25-02-20       6.50       6.85       0.35       5.38  26,250.00          7
         2        MCS      75000   24-12-30   25-02-20       6.70       6.80       0.10       1.49   7,500.00          2
         2        NER      27000   24-12-30   25-02-20       4.62       4.86       0.24       5.19   6,480.00         12
         2       SENA     105000   24-12-30   25-02-20       2.22       2.22       0.00       0.00       0.00          0
         2      TFFIF      20000   24-12-30   25-02-20       6.35       6.40       0.05       0.79   1,000.00          1
         2      WHAIR      50000   24-12-30   25-02-20       6.50       5.85      -0.65     -10.00 -32,500.00        -13
         2      WHART      20000   24-12-30   25-02-20      10.20      10.20       0.00       0.00       0.00          0
         3      3BBIF     120000   24-12-30   25-02-20       5.20       5.25       0.05       0.96   6,000.00          1
         3      JMART       6800   24-12-30   25-02-20      13.20      10.30      -2.90     -21.97 -19,720.00        -29
         3        JMT       4200   24-12-30   25-02-20      18.20      13.90      -4.30     -23.63 -18,060.00        -43
         3        KCE      10000   24-12-30   25-02-20      24.50      21.20      -3.30     -13.47 -33,000.00        -33
         4        AWC       9000   24-12-30   25-02-20       3.52       3.14      -0.38     -10.80  -3,420.00        -19
         4        BCH       4000   24-12-30   25-02-20      15.30      15.70       0.40       2.61   1,600.00          4
         4        PTG       3600   24-12-30   25-02-20       8.20       7.70      -0.50      -6.10  -1,800.00        -10
         4        RCL      27000   24-12-30   25-02-20      28.25      25.25      -3.00     -10.62 -81,000.00        -12
         4      SYNEX      15000   24-12-30   25-02-20      15.40      10.50      -4.90     -31.82 -73,500.00        -49
         4        TVO       4000   24-12-30   25-02-20      23.00      22.20      -0.80      -3.48  -3,200.00         -8

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-02-20,16.30,14.00,-2.30,-14.11,-2760.0,-23
1,1,ASP,30000,2024-12-30,2025-02-20,2.36,2.30,-0.06,-2.54,-1800.0,-3
2,1,IVL,7200,2024-12-30,2025-02-20,24.90,22.10,-2.80,-11.24,-20160.0,-28
3,1,ORI,60000,2024-12-30,2025-02-20,3.62,3.14,-0.48,-13.26,-28800.0,-24
4,1,PTTGC,6000,2024-12-30,2025-02-20,24.40,19.20,-5.20,-21.31,-31200.0,-52
5,1,SCC,600,2024-12-30,2025-02-20,168.00,143.00,-25.00,-14.88,-15000.0,-50
6,1,SINGER,6000,2024-12-30,2025-02-20,7.90,6.00,-1.90,-24.05,-11400.0,-38
7,1,STA,10000,2024-12-30,2025-02-20,18.10,16.70,-1.40,-7.73,-14000.0,-14
8,1,TMT,36000,2024-12-30,2025-02-20,3.14,3.00,-0.14,-4.46,-5040.0,-7
9,1,TOA,1000,2024-12-30,2025-02-20,15.00,12.20,-2.80,-18.67,-2800.0,-28
10,2,AIMIRT,12500,2024-12-30,2025-02-20,10.60,10.70,0.10,0.94,1250.0,1
11,2,CPNREIT,55000,2024-12-30,2025-02-20,12.30,12.30,0.00,0.00,0.0,0
12,2,DIF,35000,2024-12-30,2025-02-20,8.60,8.10,-0.50,-5.81,-17500.0,-10
13,2,GVREIT,75000,2024-12-30,2025-02-20,6.50,6.85,0.35,5.38,26250.0,7
14,2,MCS,75000,2024-12-30,2025-02-20,6.70,6.80,0.10,1.49,7500.0,2
15,2,NER,27000,2024-12-30,2025-02-20,4.62,4.86,0.24,5.19,6480.0,12
16,2,SENA,105000,2024-12-30,2025-02-20,2.22,2.22,0.00,0.00,0.0,0
17,2,TFFIF,20000,2024-12-30,2025-02-20,6.35,6.40,0.05,0.79,1000.0,1
18,2,WHAIR,50000,2024-12-30,2025-02-20,6.50,5.85,-0.65,-10.00,-32500.0,-13
19,2,WHART,20000,2024-12-30,2025-02-20,10.20,10.20,0.00,0.00,0.0,0
20,3,3BBIF,120000,2024-12-30,2025-02-20,5.20,5.25,0.05,0.96,6000.0,1
21,3,JMART,6800,2024-12-30,2025-02-20,13.20,10.30,-2.90,-21.97,-19720.0,-29
22,3,JMT,4200,2024-12-30,2025-02-20,18.20,13.90,-4.30,-23.63,-18060.0,-43
23,3,KCE,10000,2024-12-30,2025-02-20,24.50,21.20,-3.30,-13.47,-33000.0,-33
24,4,AWC,9000,2024-12-30,2025-02-20,3.52,3.14,-0.38,-10.80,-3420.0,-19
25,4,BCH,4000,2024-12-30,2025-02-20,15.30,15.70,0.40,2.61,1600.0,4
26,4,PTG,3600,2024-12-30,2025-02-20,8.20,7.70,-0.50,-6.10,-1800.0,-10
27,4,RCL,27000,2024-12-30,2025-02-20,28.25,25.25,-3.00,-10.62,-81000.0,-12
28,4,SYNEX,15000,2024-12-30,2025-02-20,15.40,10.50,-4.90,-31.82,-73500.0,-49
29,4,TVO,4000,2024-12-30,2025-02-20,23.00,22.20,-0.80,-3.48,-3200.0,-8

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
4,1,PTTGC,6000,2024-12-30,2025-02-20,24.40,19.20,-5.20,-21.31,-31200.0,-52
5,1,SCC,600,2024-12-30,2025-02-20,168.00,143.00,-25.00,-14.88,-15000.0,-50
28,4,SYNEX,15000,2024-12-30,2025-02-20,15.40,10.50,-4.90,-31.82,-73500.0,-49
22,3,JMT,4200,2024-12-30,2025-02-20,18.20,13.90,-4.30,-23.63,-18060.0,-43
6,1,SINGER,6000,2024-12-30,2025-02-20,7.90,6.00,-1.90,-24.05,-11400.0,-38
23,3,KCE,10000,2024-12-30,2025-02-20,24.50,21.20,-3.30,-13.47,-33000.0,-33
21,3,JMART,6800,2024-12-30,2025-02-20,13.20,10.30,-2.90,-21.97,-19720.0,-29
2,1,IVL,7200,2024-12-30,2025-02-20,24.90,22.10,-2.80,-11.24,-20160.0,-28
9,1,TOA,1000,2024-12-30,2025-02-20,15.00,12.20,-2.80,-18.67,-2800.0,-28
3,1,ORI,60000,2024-12-30,2025-02-20,3.62,3.14,-0.48,-13.26,-28800.0,-24
0,1,AH,1200,2024-12-30,2025-02-20,16.30,14.00,-2.30,-14.11,-2760.0,-23
24,4,AWC,9000,2024-12-30,2025-02-20,3.52,3.14,-0.38,-10.80,-3420.0,-19
7,1,STA,10000,2024-12-30,2025-02-20,18.10,16.70,-1.40,-7.73,-14000.0,-14
18,2,WHAIR,50000,2024-12-30,2025-02-20,6.50,5.85,-0.65,-10.00,-32500.0,-13
27,4,RCL,27000,2024-12-30,2025-02-20,28.25,25.25,-3.00,-10.62,-81000.0,-12
12,2,DIF,35000,2024-12-30,2025-02-20,8.60,8.10,-0.50,-5.81,-17500.0,-10
26,4,PTG,3600,2024-12-30,2025-02-20,8.20,7.70,-0.50,-6.10,-1800.0,-10
29,4,TVO,4000,2024-12-30,2025-02-20,23.00,22.20,-0.80,-3.48,-3200.0,-8
8,1,TMT,36000,2024-12-30,2025-02-20,3.14,3.00,-0.14,-4.46,-5040.0,-7
1,1,ASP,30000,2024-12-30,2025-02-20,2.36,2.30,-0.06,-2.54,-1800.0,-3
16,2,SENA,105000,2024-12-30,2025-02-20,2.22,2.22,0.00,0.00,0.0,0
19,2,WHART,20000,2024-12-30,2025-02-20,10.20,10.20,0.00,0.00,0.0,0
11,2,CPNREIT,55000,2024-12-30,2025-02-20,12.30,12.30,0.00,0.00,0.0,0
20,3,3BBIF,120000,2024-12-30,2025-02-20,5.20,5.25,0.05,0.96,6000.0,1
10,2,AIMIRT,12500,2024-12-30,2025-02-20,10.60,10.70,0.10,0.94,1250.0,1
17,2,TFFIF,20000,2024-12-30,2025-02-20,6.35,6.40,0.05,0.79,1000.0,1
14,2,MCS,75000,2024-12-30,2025-02-20,6.70,6.80,0.10,1.49,7500.0,2
25,4,BCH,4000,2024-12-30,2025-02-20,15.30,15.70,0.40,2.61,1600.0,4
13,2,GVREIT,75000,2024-12-30,2025-02-20,6.50,6.85,0.35,5.38,26250.0,7
15,2,NER,27000,2024-12-30,2025-02-20,4.62,4.86,0.24,5.19,6480.0,12

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1       158000 -132960.0 -267
2       474500   -7520.0    0
3       141000  -64780.0 -104
4        62600 -161320.0  -94

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2  avr_chg    avr_spd   ttl_amt
period
1        158000  28.372000  24.164000  -4.2080 -26.700000 -132960.0
2        474500   7.459000   7.428000  -0.0310   0.000000   -7520.0
3        141000  15.275000  12.662500  -2.6125 -26.000000  -64780.0
4         62600  15.611667  14.081667  -1.5300 -15.666667 -161320.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-366,580.00'

In [25]:
prev_pl = -310_880
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-55,700.00'