### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-09-19 2025-09-18

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-09-19 2025-09-18

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-09-19
Today in mm-dd format: 09-19
yesterday: 2025-09-17 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-09-19

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-09-17 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}','price':'{:.2f}','price1':'{:.2f}','price2':'{:.2f}',
    'beta':'{:,.2f}','change':'{:.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%','%change':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}','volume':'{:,.0f}','shares':'{:,.0f}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}','amount':'{:,.2f}'
}

In [11]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy.style.format(format_dict).hide(axis="index")

In [12]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [13]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [14]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [16]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [17]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [18]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-09-19      16.30      14.00      -2.30     -14.11  -2,760.00        -23
         1        AWC       9000   24-12-30   25-09-19       3.52       2.40      -1.12     -31.82 -10,080.00        -56
         1      JMART       6800   24-12-30   25-09-19      13.20       9.85      -3.35     -25.38 -22,780.00        -35
         1        JMT       4200   24-12-30   25-09-19      18.20      12.70      -5.50     -30.22 -23,100.00        -55
         1        TOA       1000   24-12-30   25-09-19      15.00      14.30      -0.70      -4.67    -700.00         -7
         2     AIMIRT      17500   24-12-30   25-09-19      10.60      10.40      -0.20      -1.89  -3,500.00         -2
         2    CPNREIT      55000   24-12-30   25-09-19      12.30      11.50      -0.80      -6.50 -44,000.00         -8
         2        DIF      45000   24-12-30   25-09-19       8.60       9.15       0.55       6.40  24,750.00         11
         2     GVREIT      69000   24-12-30   25-09-19       6.50       6.50       0.00       0.00       0.00          0
         2        MCS      75000   24-12-30   25-09-19       6.70       8.40       1.70      25.37 127,500.00         34
         2        NER      27000   24-12-30   25-09-19       4.62       4.24      -0.38      -8.23 -10,260.00        -19
         2        PTT       7500   24-12-30   25-09-19      31.75      33.25       1.50       4.72  11,250.00          6
         2       SENA     105000   24-12-30   25-09-19       2.22       1.98      -0.24     -10.81 -25,200.00        -13
         2      TFFIF      20000   24-12-30   25-09-19       6.35       6.10      -0.25      -3.94  -5,000.00         -5
         2      WHAIR      50000   24-12-30   25-09-19       6.50       6.10      -0.40      -6.15 -20,000.00         -8
         2      WHART      20000   24-12-30   25-09-19      10.20       9.85      -0.35      -3.43  -7,000.00         -5
         3      3BBIF     120000   24-12-30   25-09-19       5.20       6.45       1.25      24.04 150,000.00         25
         3        BCH       4000   24-12-30   25-09-19      15.30      13.80      -1.50      -9.80  -6,000.00        -15
         3        PTG       3600   24-12-30   25-09-19       8.20       8.90       0.70       8.54   2,520.00         14
         3        RCL      27000   24-12-30   25-09-19      28.25      27.50      -0.75      -2.65 -20,250.00         -3
         3        STA      10000   24-12-30   25-09-19      18.10      12.90      -5.20     -28.73 -52,000.00        -52
         3      SYNEX      17500   24-12-30   25-09-19      15.40      12.60      -2.80     -18.18 -49,000.00        -28
         3        TVO       4000   24-12-30   25-09-19      23.00      25.00       2.00       8.70   8,000.00         20
         4        CPF      10000   24-12-30   25-09-19      22.80      23.20       0.40       1.75   4,000.00          4
         4        IVL       7200   24-12-30   25-09-19      24.90      23.10      -1.80      -7.23 -12,960.00        -18
         4        ORI      50000   24-12-30   25-09-19       3.62       2.90      -0.72     -19.89 -36,000.00        -36
         4      PTTGC       6000   24-12-30   25-09-19      24.40      27.50       3.10      12.70  18,600.00         16
         4        SCC        600   24-12-30   25-09-19     168.00     226.00      58.00      34.52  34,800.00         90
         4     SINGER       6000   24-12-30   25-09-19       7.90       7.45      -0.45      -5.70  -2,700.00         -9

In [19]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [20]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [21]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df.style.format(format_dict).hide(axis="index")

In [22]:
df.sort_values(['spd'],ascending=True).style.format(format_dict).hide(axis="index")

In [23]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares   amount  spd
period
1        22200 -59420.0 -176
2       491000  48540.0   -9
3       186100  33270.0  -39
4        79800   5740.0   47

In [24]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd  ttl_amt
period
1         22200  13.244000  10.650000 -2.594000 -35.200000 -59420.0
2        491000   9.667273   9.770000  0.102727  -0.818182  48540.0
3        186100  16.207143  15.307143 -0.900000  -5.571429  33270.0
4         79800  41.936667  51.691667  9.755000   7.833333   5740.0

In [25]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿28,130.00'

In [26]:
prev_pl = 28_130
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-41,760.00'