### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-22 2025-08-21

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-22 2025-08-21

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-22
Today in mm-dd format: 08-22
yesterday: 2025-08-20 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-22

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-08-20 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   50000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   17500
8       2  CPNREIT   55000
9       2      DIF   50000
10      2   GVREIT   69000
11      2      MCS   81000
12      2      NER   27000
13      2      PTT    2500
14      2     SENA  105000
15      2    TFFIF   20000
16      2    WHAIR   50000
17      2    WHART   25000
18      3    3BBIF  120000
19      3      BCH    4000
20      3      IVL    7200
21      3      RCL   27000
22      3      STA   10000
23      3    SYNEX   17500
24      3      TVO    8000
25      4      CPF       0
26      4      JMT    4200
27      4      PTG    3600
28      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-22      16.30      14.60      -1.70     -10.43  -2,040.00        -17
         1        AWC       9000   24-12-30   25-08-22       3.52       2.42      -1.10     -31.25  -9,900.00        -55
         1      JMART       6800   24-12-30   25-08-22      13.20       8.35      -4.85     -36.74 -32,980.00        -65
         1        ORI      50000   24-12-30   25-08-22       3.62       2.26      -1.36     -37.57 -68,000.00        -68
         1      PTTGC       6000   24-12-30   25-08-22      24.40      27.00       2.60      10.66  15,600.00         14
         1        SCC        600   24-12-30   25-08-22     168.00     223.00      55.00      32.74  33,000.00         87
         1     SINGER       6000   24-12-30   25-08-22       7.90       5.25      -2.65     -33.54 -15,900.00        -53
         2     AIMIRT      17500   24-12-30   25-08-22      10.60       9.55      -1.05      -9.91 -18,375.00        -14
         2    CPNREIT      55000   24-12-30   25-08-22      12.30      11.40      -0.90      -7.32 -49,500.00         -9
         2        DIF      50000   24-12-30   25-08-22       8.60       8.20      -0.40      -4.65 -20,000.00         -8
         2     GVREIT      69000   24-12-30   25-08-22       6.50       6.40      -0.10      -1.54  -6,900.00         -2
         2        MCS      81000   24-12-30   25-08-22       6.70       8.45       1.75      26.12 141,750.00         35
         2        NER      27000   24-12-30   25-08-22       4.62       4.30      -0.32      -6.93  -8,640.00        -16
         2        PTT       2500   24-12-30   25-08-22      31.75      32.00       0.25       0.79     625.00          1
         2       SENA     105000   24-12-30   25-08-22       2.22       1.86      -0.36     -16.22 -37,800.00        -24
         2      TFFIF      20000   24-12-30   25-08-22       6.35       6.05      -0.30      -4.72  -6,000.00         -6
         2      WHAIR      50000   24-12-30   25-08-22       6.50       5.40      -1.10     -16.92 -55,000.00        -22
         2      WHART      25000   24-12-30   25-08-22      10.20       9.00      -1.20     -11.76 -30,000.00        -22
         3      3BBIF     120000   24-12-30   25-08-22       5.20       6.20       1.00      19.23 120,000.00         20
         3        BCH       4000   24-12-30   25-08-22      15.30      13.40      -1.90     -12.42  -7,600.00        -19
         3        IVL       7200   24-12-30   25-08-22      24.90      22.80      -2.10      -8.43 -15,120.00        -21
         3        RCL      27000   24-12-30   25-08-22      28.25      26.75      -1.50      -5.31 -40,500.00         -6
         3        STA      10000   24-12-30   25-08-22      18.10      12.00      -6.10     -33.70 -61,000.00        -61
         3      SYNEX      17500   24-12-30   25-08-22      15.40      11.60      -3.80     -24.68 -66,500.00        -38
         3        TVO       8000   24-12-30   25-08-22      23.00      24.40       1.40       6.09  11,200.00         14
         4        CPF          0   24-12-30   25-08-22      22.80      24.30       1.50       6.58       0.00         15
         4        JMT       4200   24-12-30   25-08-22      18.20      11.40      -6.80     -37.36 -28,560.00        -68
         4        PTG       3600   24-12-30   25-08-22       8.20       7.15      -1.05     -12.80  -3,780.00        -21
         4        TOA       1000   24-12-30   25-08-22      15.00      14.60      -0.40      -2.67    -400.00         -4

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-22,16.30,14.60,-1.70,-10.43,-2040.0,-17
1,1,AWC,9000,2024-12-30,2025-08-22,3.52,2.42,-1.10,-31.25,-9900.0,-55
2,1,JMART,6800,2024-12-30,2025-08-22,13.20,8.35,-4.85,-36.74,-32980.0,-65
3,1,ORI,50000,2024-12-30,2025-08-22,3.62,2.26,-1.36,-37.57,-68000.0,-68
4,1,PTTGC,6000,2024-12-30,2025-08-22,24.40,27.00,2.60,10.66,15600.0,14
5,1,SCC,600,2024-12-30,2025-08-22,168.00,223.00,55.00,32.74,33000.0,87
6,1,SINGER,6000,2024-12-30,2025-08-22,7.90,5.25,-2.65,-33.54,-15900.0,-53
7,2,AIMIRT,17500,2024-12-30,2025-08-22,10.60,9.55,-1.05,-9.91,-18375.0,-14
8,2,CPNREIT,55000,2024-12-30,2025-08-22,12.30,11.40,-0.90,-7.32,-49500.0,-9
9,2,DIF,50000,2024-12-30,2025-08-22,8.60,8.20,-0.40,-4.65,-20000.0,-8
10,2,GVREIT,69000,2024-12-30,2025-08-22,6.50,6.40,-0.10,-1.54,-6900.0,-2
11,2,MCS,81000,2024-12-30,2025-08-22,6.70,8.45,1.75,26.12,141750.0,35
12,2,NER,27000,2024-12-30,2025-08-22,4.62,4.30,-0.32,-6.93,-8640.0,-16
13,2,PTT,2500,2024-12-30,2025-08-22,31.75,32.00,0.25,0.79,625.0,1
14,2,SENA,105000,2024-12-30,2025-08-22,2.22,1.86,-0.36,-16.22,-37800.0,-24
15,2,TFFIF,20000,2024-12-30,2025-08-22,6.35,6.05,-0.30,-4.72,-6000.0,-6
16,2,WHAIR,50000,2024-12-30,2025-08-22,6.50,5.40,-1.10,-16.92,-55000.0,-22
17,2,WHART,25000,2024-12-30,2025-08-22,10.20,9.00,-1.20,-11.76,-30000.0,-22
18,3,3BBIF,120000,2024-12-30,2025-08-22,5.20,6.20,1.00,19.23,120000.0,20
19,3,BCH,4000,2024-12-30,2025-08-22,15.30,13.40,-1.90,-12.42,-7600.0,-19
20,3,IVL,7200,2024-12-30,2025-08-22,24.90,22.80,-2.10,-8.43,-15120.0,-21
21,3,RCL,27000,2024-12-30,2025-08-22,28.25,26.75,-1.50,-5.31,-40500.0,-6
22,3,STA,10000,2024-12-30,2025-08-22,18.10,12.00,-6.10,-33.70,-61000.0,-61
23,3,SYNEX,17500,2024-12-30,2025-08-22,15.40,11.60,-3.80,-24.68,-66500.0,-38
24,3,TVO,8000,2024-12-30,2025-08-22,23.00,24.40,1.40,6.09,11200.0,14
25,4,CPF,0,2024-12-30,2025-08-22,22.80,24.30,1.50,6.58,0.0,15
26,4,JMT,4200,2024-12-30,2025-08-22,18.20,11.40,-6.80,-37.36,-28560.0,-68
27,4,PTG,3600,2024-12-30,2025-08-22,8.20,7.15,-1.05,-12.80,-3780.0,-21
28,4,TOA,1000,2024-12-30,2025-08-22,15.00,14.60,-0.40,-2.67,-400.0,-4

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
3,1,ORI,50000,2024-12-30,2025-08-22,3.62,2.26,-1.36,-37.57,-68000.0,-68
26,4,JMT,4200,2024-12-30,2025-08-22,18.20,11.40,-6.80,-37.36,-28560.0,-68
2,1,JMART,6800,2024-12-30,2025-08-22,13.20,8.35,-4.85,-36.74,-32980.0,-65
22,3,STA,10000,2024-12-30,2025-08-22,18.10,12.00,-6.10,-33.70,-61000.0,-61
1,1,AWC,9000,2024-12-30,2025-08-22,3.52,2.42,-1.10,-31.25,-9900.0,-55
6,1,SINGER,6000,2024-12-30,2025-08-22,7.90,5.25,-2.65,-33.54,-15900.0,-53
23,3,SYNEX,17500,2024-12-30,2025-08-22,15.40,11.60,-3.80,-24.68,-66500.0,-38
14,2,SENA,105000,2024-12-30,2025-08-22,2.22,1.86,-0.36,-16.22,-37800.0,-24
17,2,WHART,25000,2024-12-30,2025-08-22,10.20,9.00,-1.20,-11.76,-30000.0,-22
16,2,WHAIR,50000,2024-12-30,2025-08-22,6.50,5.40,-1.10,-16.92,-55000.0,-22
20,3,IVL,7200,2024-12-30,2025-08-22,24.90,22.80,-2.10,-8.43,-15120.0,-21
27,4,PTG,3600,2024-12-30,2025-08-22,8.20,7.15,-1.05,-12.80,-3780.0,-21
19,3,BCH,4000,2024-12-30,2025-08-22,15.30,13.40,-1.90,-12.42,-7600.0,-19
0,1,AH,1200,2024-12-30,2025-08-22,16.30,14.60,-1.70,-10.43,-2040.0,-17
12,2,NER,27000,2024-12-30,2025-08-22,4.62,4.30,-0.32,-6.93,-8640.0,-16
7,2,AIMIRT,17500,2024-12-30,2025-08-22,10.60,9.55,-1.05,-9.91,-18375.0,-14
8,2,CPNREIT,55000,2024-12-30,2025-08-22,12.30,11.40,-0.90,-7.32,-49500.0,-9
9,2,DIF,50000,2024-12-30,2025-08-22,8.60,8.20,-0.40,-4.65,-20000.0,-8
15,2,TFFIF,20000,2024-12-30,2025-08-22,6.35,6.05,-0.30,-4.72,-6000.0,-6
21,3,RCL,27000,2024-12-30,2025-08-22,28.25,26.75,-1.50,-5.31,-40500.0,-6
28,4,TOA,1000,2024-12-30,2025-08-22,15.00,14.60,-0.40,-2.67,-400.0,-4
10,2,GVREIT,69000,2024-12-30,2025-08-22,6.50,6.40,-0.10,-1.54,-6900.0,-2
13,2,PTT,2500,2024-12-30,2025-08-22,31.75,32.00,0.25,0.79,625.0,1
24,3,TVO,8000,2024-12-30,2025-08-22,23.00,24.40,1.40,6.09,11200.0,14
4,1,PTTGC,6000,2024-12-30,2025-08-22,24.40,27.00,2.60,10.66,15600.0,14
25,4,CPF,0,2024-12-30,2025-08-22,22.80,24.30,1.50,6.58,0.0,15
18,3,3BBIF,120000,2024-12-30,2025-08-22,5.20,6.20,1.00,19.23,120000.0,20
11,2,MCS,81000,2024-12-30,2025-08-22,6.70,8.45,1.75,26.12,141750.0,35
5,1,SCC,600,2024-12-30,2025-08-22,168.00,223.00,55.00,32.74,33000.0,87

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares   amount  spd
period
1        79600 -80220.0 -157
2       502000 -89840.0  -87
3       193700 -59520.0 -111
4         8800 -32740.0  -78

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd  ttl_amt
period
1         79600  33.848571  40.411429  6.562857 -22.428571 -80220.0
2        502000   9.667273   9.328182 -0.339091  -7.909091 -89840.0
3        193700  18.592857  16.735714 -1.857143 -15.857143 -59520.0
4          8800  16.050000  14.362500 -1.687500 -19.500000 -32740.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-262,320.00'

In [25]:
prev_pl = -262_320
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-39,565.00'