### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-01 2025-07-31

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-01 2025-07-31

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-01
Today in mm-dd format: 08-01
yesterday: 2025-07-30 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-01

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-07-30 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   60000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   12500
8       2  CPNREIT   55000
9       2      DIF   40000
10      2   GVREIT   75000
11      2      MCS   81000
12      2      NER   32000
13      2     SENA  105000
14      2    TFFIF   20000
15      2    WHAIR   50000
16      2    WHART   25000
17      3    3BBIF  120000
18      3      BCH    4000
19      3      IVL    7200
20      3      RCL   27000
21      3      STA   10000
22      3    SYNEX   15000
23      3      TVO    8000
24      4      JMT    7000
25      4      PTG    3600
26      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-01      16.30      15.00      -1.30      -7.98  -1,560.00        -13
         1        AWC       9000   24-12-30   25-08-01       3.52       2.04      -1.48     -42.05 -13,320.00        -74
         1      JMART       6800   24-12-30   25-08-01      13.20       7.35      -5.85     -44.32 -39,780.00        -85
         1        ORI      60000   24-12-30   25-08-01       3.62       1.87      -1.75     -48.34 -105,000.00        -93
         1      PTTGC       6000   24-12-30   25-08-01      24.40      23.70      -0.70      -2.87  -4,200.00         -7
         1        SCC        600   24-12-30   25-08-01     168.00     197.00      29.00      17.26  17,400.00         58
         1     SINGER       6000   24-12-30   25-08-01       7.90       5.10      -2.80     -35.44 -16,800.00        -56
         2     AIMIRT      12500   24-12-30   25-08-01      10.60       9.85      -0.75      -7.08  -9,375.00         -9
         2    CPNREIT      55000   24-12-30   25-08-01      12.30      11.10      -1.20      -9.76 -66,000.00        -12
         2        DIF      40000   24-12-30   25-08-01       8.60       8.15      -0.45      -5.23 -18,000.00         -9
         2     GVREIT      75000   24-12-30   25-08-01       6.50       6.55       0.05       0.77   3,750.00          1
         2        MCS      81000   24-12-30   25-08-01       6.70       8.30       1.60      23.88 129,600.00         32
         2        NER      32000   24-12-30   25-08-01       4.62       4.46      -0.16      -3.46  -5,120.00         -8
         2       SENA     105000   24-12-30   25-08-01       2.22       1.77      -0.45     -20.27 -47,250.00        -33
         2      TFFIF      20000   24-12-30   25-08-01       6.35       6.00      -0.35      -5.51  -7,000.00         -7
         2      WHAIR      50000   24-12-30   25-08-01       6.50       5.50      -1.00     -15.38 -50,000.00        -20
         2      WHART      25000   24-12-30   25-08-01      10.20       9.30      -0.90      -8.82 -22,500.00        -15
         3      3BBIF     120000   24-12-30   25-08-01       5.20       6.05       0.85      16.35 102,000.00         17
         3        BCH       4000   24-12-30   25-08-01      15.30      13.70      -1.60     -10.46  -6,400.00        -16
         3        IVL       7200   24-12-30   25-08-01      24.90      22.40      -2.50     -10.04 -18,000.00        -25
         3        RCL      27000   24-12-30   25-08-01      28.25      29.25       1.00       3.54  27,000.00          4
         3        STA      10000   24-12-30   25-08-01      18.10      13.80      -4.30     -23.76 -43,000.00        -43
         3      SYNEX      15000   24-12-30   25-08-01      15.40      11.60      -3.80     -24.68 -57,000.00        -38
         3        TVO       8000   24-12-30   25-08-01      23.00      22.70      -0.30      -1.30  -2,400.00         -3
         4        JMT       7000   24-12-30   25-08-01      18.20      10.60      -7.60     -41.76 -53,200.00        -76
         4        PTG       3600   24-12-30   25-08-01       8.20       6.55      -1.65     -20.12  -5,940.00        -33
         4        TOA       1000   24-12-30   25-08-01      15.00      13.50      -1.50     -10.00  -1,500.00        -15

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-01,16.30,15.00,-1.30,-7.98,-1560.0,-13
1,1,AWC,9000,2024-12-30,2025-08-01,3.52,2.04,-1.48,-42.05,-13320.0,-74
2,1,JMART,6800,2024-12-30,2025-08-01,13.20,7.35,-5.85,-44.32,-39780.0,-85
3,1,ORI,60000,2024-12-30,2025-08-01,3.62,1.87,-1.75,-48.34,-105000.0,-93
4,1,PTTGC,6000,2024-12-30,2025-08-01,24.40,23.70,-0.70,-2.87,-4200.0,-7
5,1,SCC,600,2024-12-30,2025-08-01,168.00,197.00,29.00,17.26,17400.0,58
6,1,SINGER,6000,2024-12-30,2025-08-01,7.90,5.10,-2.80,-35.44,-16800.0,-56
7,2,AIMIRT,12500,2024-12-30,2025-08-01,10.60,9.85,-0.75,-7.08,-9375.0,-9
8,2,CPNREIT,55000,2024-12-30,2025-08-01,12.30,11.10,-1.20,-9.76,-66000.0,-12
9,2,DIF,40000,2024-12-30,2025-08-01,8.60,8.15,-0.45,-5.23,-18000.0,-9
10,2,GVREIT,75000,2024-12-30,2025-08-01,6.50,6.55,0.05,0.77,3750.0,1
11,2,MCS,81000,2024-12-30,2025-08-01,6.70,8.30,1.60,23.88,129600.0,32
12,2,NER,32000,2024-12-30,2025-08-01,4.62,4.46,-0.16,-3.46,-5120.0,-8
13,2,SENA,105000,2024-12-30,2025-08-01,2.22,1.77,-0.45,-20.27,-47250.0,-33
14,2,TFFIF,20000,2024-12-30,2025-08-01,6.35,6.00,-0.35,-5.51,-7000.0,-7
15,2,WHAIR,50000,2024-12-30,2025-08-01,6.50,5.50,-1.00,-15.38,-50000.0,-20
16,2,WHART,25000,2024-12-30,2025-08-01,10.20,9.30,-0.90,-8.82,-22500.0,-15
17,3,3BBIF,120000,2024-12-30,2025-08-01,5.20,6.05,0.85,16.35,102000.0,17
18,3,BCH,4000,2024-12-30,2025-08-01,15.30,13.70,-1.60,-10.46,-6400.0,-16
19,3,IVL,7200,2024-12-30,2025-08-01,24.90,22.40,-2.50,-10.04,-18000.0,-25
20,3,RCL,27000,2024-12-30,2025-08-01,28.25,29.25,1.00,3.54,27000.0,4
21,3,STA,10000,2024-12-30,2025-08-01,18.10,13.80,-4.30,-23.76,-43000.0,-43
22,3,SYNEX,15000,2024-12-30,2025-08-01,15.40,11.60,-3.80,-24.68,-57000.0,-38
23,3,TVO,8000,2024-12-30,2025-08-01,23.00,22.70,-0.30,-1.30,-2400.0,-3
24,4,JMT,7000,2024-12-30,2025-08-01,18.20,10.60,-7.60,-41.76,-53200.0,-76
25,4,PTG,3600,2024-12-30,2025-08-01,8.20,6.55,-1.65,-20.12,-5940.0,-33
26,4,TOA,1000,2024-12-30,2025-08-01,15.00,13.50,-1.50,-10.00,-1500.0,-15

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
3,1,ORI,60000,2024-12-30,2025-08-01,3.62,1.87,-1.75,-48.34,-105000.0,-93
2,1,JMART,6800,2024-12-30,2025-08-01,13.20,7.35,-5.85,-44.32,-39780.0,-85
24,4,JMT,7000,2024-12-30,2025-08-01,18.20,10.60,-7.60,-41.76,-53200.0,-76
1,1,AWC,9000,2024-12-30,2025-08-01,3.52,2.04,-1.48,-42.05,-13320.0,-74
6,1,SINGER,6000,2024-12-30,2025-08-01,7.90,5.10,-2.80,-35.44,-16800.0,-56
21,3,STA,10000,2024-12-30,2025-08-01,18.10,13.80,-4.30,-23.76,-43000.0,-43
22,3,SYNEX,15000,2024-12-30,2025-08-01,15.40,11.60,-3.80,-24.68,-57000.0,-38
13,2,SENA,105000,2024-12-30,2025-08-01,2.22,1.77,-0.45,-20.27,-47250.0,-33
25,4,PTG,3600,2024-12-30,2025-08-01,8.20,6.55,-1.65,-20.12,-5940.0,-33
19,3,IVL,7200,2024-12-30,2025-08-01,24.90,22.40,-2.50,-10.04,-18000.0,-25
15,2,WHAIR,50000,2024-12-30,2025-08-01,6.50,5.50,-1.00,-15.38,-50000.0,-20
18,3,BCH,4000,2024-12-30,2025-08-01,15.30,13.70,-1.60,-10.46,-6400.0,-16
16,2,WHART,25000,2024-12-30,2025-08-01,10.20,9.30,-0.90,-8.82,-22500.0,-15
26,4,TOA,1000,2024-12-30,2025-08-01,15.00,13.50,-1.50,-10.00,-1500.0,-15
0,1,AH,1200,2024-12-30,2025-08-01,16.30,15.00,-1.30,-7.98,-1560.0,-13
8,2,CPNREIT,55000,2024-12-30,2025-08-01,12.30,11.10,-1.20,-9.76,-66000.0,-12
9,2,DIF,40000,2024-12-30,2025-08-01,8.60,8.15,-0.45,-5.23,-18000.0,-9
7,2,AIMIRT,12500,2024-12-30,2025-08-01,10.60,9.85,-0.75,-7.08,-9375.0,-9
12,2,NER,32000,2024-12-30,2025-08-01,4.62,4.46,-0.16,-3.46,-5120.0,-8
14,2,TFFIF,20000,2024-12-30,2025-08-01,6.35,6.00,-0.35,-5.51,-7000.0,-7
4,1,PTTGC,6000,2024-12-30,2025-08-01,24.40,23.70,-0.70,-2.87,-4200.0,-7
23,3,TVO,8000,2024-12-30,2025-08-01,23.00,22.70,-0.30,-1.30,-2400.0,-3
10,2,GVREIT,75000,2024-12-30,2025-08-01,6.50,6.55,0.05,0.77,3750.0,1
20,3,RCL,27000,2024-12-30,2025-08-01,28.25,29.25,1.00,3.54,27000.0,4
17,3,3BBIF,120000,2024-12-30,2025-08-01,5.20,6.05,0.85,16.35,102000.0,17
11,2,MCS,81000,2024-12-30,2025-08-01,6.70,8.30,1.60,23.88,129600.0,32
5,1,SCC,600,2024-12-30,2025-08-01,168.00,197.00,29.00,17.26,17400.0,58

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        89600 -163260.0 -270
2       495500  -91895.0  -80
3       191200    2200.0 -104
4        11600  -60640.0 -124

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         89600  33.848571  36.008571  2.160000 -38.571429 -163260.0
2        495500   7.459000   7.098000 -0.361000  -8.000000  -91895.0
3        191200  18.592857  17.071429 -1.521429 -14.857143    2200.0
4         11600  13.800000  10.216667 -3.583333 -41.333333  -60640.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-313,595.00'

In [25]:
prev_pl = -313_595

diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-69,860.00'