### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-15 2025-08-14

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-15 2025-08-14

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-15
Today in mm-dd format: 08-15
yesterday: 2025-08-13 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-15

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-08-13 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   50000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   17500
8       2  CPNREIT   55000
9       2      DIF   50000
10      2   GVREIT   69000
11      2      MCS   81000
12      2      NER   27000
13      2      PTT    2500
14      2     SENA  105000
15      2    TFFIF   20000
16      2    WHAIR   50000
17      2    WHART   25000
18      3    3BBIF  120000
19      3      BCH    4000
20      3      IVL    7200
21      3      RCL   24000
22      3      STA   10000
23      3    SYNEX   17500
24      3      TVO    8000
25      4      JMT    4200
26      4      PTG    3600
27      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-15      16.30      15.30      -1.00      -6.13  -1,200.00        -10
         1        AWC       9000   24-12-30   25-08-15       3.52       2.44      -1.08     -30.68  -9,720.00        -54
         1      JMART       6800   24-12-30   25-08-15      13.20       8.25      -4.95     -37.50 -33,660.00        -67
         1        ORI      50000   24-12-30   25-08-15       3.62       2.08      -1.54     -42.54 -77,000.00        -77
         1      PTTGC       6000   24-12-30   25-08-15      24.40      22.70      -1.70      -6.97 -10,200.00        -17
         1        SCC        600   24-12-30   25-08-15     168.00     201.00      33.00      19.64  19,800.00         65
         1     SINGER       6000   24-12-30   25-08-15       7.90       5.30      -2.60     -32.91 -15,600.00        -52
         2     AIMIRT      17500   24-12-30   25-08-15      10.60       9.85      -0.75      -7.08 -13,125.00         -9
         2    CPNREIT      55000   24-12-30   25-08-15      12.30      11.50      -0.80      -6.50 -44,000.00         -8
         2        DIF      50000   24-12-30   25-08-15       8.60       8.20      -0.40      -4.65 -20,000.00         -8
         2     GVREIT      69000   24-12-30   25-08-15       6.50       6.50       0.00       0.00       0.00          0
         2        MCS      81000   24-12-30   25-08-15       6.70       8.65       1.95      29.10 157,950.00         39
         2        NER      27000   24-12-30   25-08-15       4.62       4.48      -0.14      -3.03  -3,780.00         -7
         2        PTT       2500   24-12-30   25-08-15      31.75      32.25       0.50       1.57   1,250.00          2
         2       SENA     105000   24-12-30   25-08-15       2.22       1.79      -0.43     -19.37 -45,150.00        -31
         2      TFFIF      20000   24-12-30   25-08-15       6.35       6.10      -0.25      -3.94  -5,000.00         -5
         2      WHAIR      50000   24-12-30   25-08-15       6.50       5.60      -0.90     -13.85 -45,000.00        -18
         2      WHART      25000   24-12-30   25-08-15      10.20       9.35      -0.85      -8.33 -21,250.00        -15
         3      3BBIF     120000   24-12-30   25-08-15       5.20       6.30       1.10      21.15 132,000.00         22
         3        BCH       4000   24-12-30   25-08-15      15.30      13.60      -1.70     -11.11  -6,800.00        -17
         3        IVL       7200   24-12-30   25-08-15      24.90      21.60      -3.30     -13.25 -23,760.00        -33
         3        RCL      24000   24-12-30   25-08-15      28.25      28.25       0.00       0.00       0.00          0
         3        STA      10000   24-12-30   25-08-15      18.10      11.90      -6.20     -34.25 -62,000.00        -62
         3      SYNEX      17500   24-12-30   25-08-15      15.40      11.70      -3.70     -24.03 -64,750.00        -37
         3        TVO       8000   24-12-30   25-08-15      23.00      25.00       2.00       8.70  16,000.00         20
         4        JMT       4200   24-12-30   25-08-15      18.20      11.50      -6.70     -36.81 -28,140.00        -67
         4        PTG       3600   24-12-30   25-08-15       8.20       7.00      -1.20     -14.63  -4,320.00        -24
         4        TOA       1000   24-12-30   25-08-15      15.00      14.90      -0.10      -0.67    -100.00         -1

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-15,16.30,15.30,-1.00,-6.13,-1200.0,-10
1,1,AWC,9000,2024-12-30,2025-08-15,3.52,2.44,-1.08,-30.68,-9720.0,-54
2,1,JMART,6800,2024-12-30,2025-08-15,13.20,8.25,-4.95,-37.50,-33660.0,-67
3,1,ORI,50000,2024-12-30,2025-08-15,3.62,2.08,-1.54,-42.54,-77000.0,-77
4,1,PTTGC,6000,2024-12-30,2025-08-15,24.40,22.70,-1.70,-6.97,-10200.0,-17
5,1,SCC,600,2024-12-30,2025-08-15,168.00,201.00,33.00,19.64,19800.0,65
6,1,SINGER,6000,2024-12-30,2025-08-15,7.90,5.30,-2.60,-32.91,-15600.0,-52
7,2,AIMIRT,17500,2024-12-30,2025-08-15,10.60,9.85,-0.75,-7.08,-13125.0,-9
8,2,CPNREIT,55000,2024-12-30,2025-08-15,12.30,11.50,-0.80,-6.50,-44000.0,-8
9,2,DIF,50000,2024-12-30,2025-08-15,8.60,8.20,-0.40,-4.65,-20000.0,-8
10,2,GVREIT,69000,2024-12-30,2025-08-15,6.50,6.50,0.00,0.00,0.0,0
11,2,MCS,81000,2024-12-30,2025-08-15,6.70,8.65,1.95,29.10,157950.0,39
12,2,NER,27000,2024-12-30,2025-08-15,4.62,4.48,-0.14,-3.03,-3780.0,-7
13,2,PTT,2500,2024-12-30,2025-08-15,31.75,32.25,0.50,1.57,1250.0,2
14,2,SENA,105000,2024-12-30,2025-08-15,2.22,1.79,-0.43,-19.37,-45150.0,-31
15,2,TFFIF,20000,2024-12-30,2025-08-15,6.35,6.10,-0.25,-3.94,-5000.0,-5
16,2,WHAIR,50000,2024-12-30,2025-08-15,6.50,5.60,-0.90,-13.85,-45000.0,-18
17,2,WHART,25000,2024-12-30,2025-08-15,10.20,9.35,-0.85,-8.33,-21250.0,-15
18,3,3BBIF,120000,2024-12-30,2025-08-15,5.20,6.30,1.10,21.15,132000.0,22
19,3,BCH,4000,2024-12-30,2025-08-15,15.30,13.60,-1.70,-11.11,-6800.0,-17
20,3,IVL,7200,2024-12-30,2025-08-15,24.90,21.60,-3.30,-13.25,-23760.0,-33
21,3,RCL,24000,2024-12-30,2025-08-15,28.25,28.25,0.00,0.00,0.0,0
22,3,STA,10000,2024-12-30,2025-08-15,18.10,11.90,-6.20,-34.25,-62000.0,-62
23,3,SYNEX,17500,2024-12-30,2025-08-15,15.40,11.70,-3.70,-24.03,-64750.0,-37
24,3,TVO,8000,2024-12-30,2025-08-15,23.00,25.00,2.00,8.70,16000.0,20
25,4,JMT,4200,2024-12-30,2025-08-15,18.20,11.50,-6.70,-36.81,-28140.0,-67
26,4,PTG,3600,2024-12-30,2025-08-15,8.20,7.00,-1.20,-14.63,-4320.0,-24
27,4,TOA,1000,2024-12-30,2025-08-15,15.00,14.90,-0.10,-0.67,-100.0,-1

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
3,1,ORI,50000,2024-12-30,2025-08-15,3.62,2.08,-1.54,-42.54,-77000.0,-77
2,1,JMART,6800,2024-12-30,2025-08-15,13.20,8.25,-4.95,-37.50,-33660.0,-67
25,4,JMT,4200,2024-12-30,2025-08-15,18.20,11.50,-6.70,-36.81,-28140.0,-67
22,3,STA,10000,2024-12-30,2025-08-15,18.10,11.90,-6.20,-34.25,-62000.0,-62
1,1,AWC,9000,2024-12-30,2025-08-15,3.52,2.44,-1.08,-30.68,-9720.0,-54
6,1,SINGER,6000,2024-12-30,2025-08-15,7.90,5.30,-2.60,-32.91,-15600.0,-52
23,3,SYNEX,17500,2024-12-30,2025-08-15,15.40,11.70,-3.70,-24.03,-64750.0,-37
20,3,IVL,7200,2024-12-30,2025-08-15,24.90,21.60,-3.30,-13.25,-23760.0,-33
14,2,SENA,105000,2024-12-30,2025-08-15,2.22,1.79,-0.43,-19.37,-45150.0,-31
26,4,PTG,3600,2024-12-30,2025-08-15,8.20,7.00,-1.20,-14.63,-4320.0,-24
16,2,WHAIR,50000,2024-12-30,2025-08-15,6.50,5.60,-0.90,-13.85,-45000.0,-18
19,3,BCH,4000,2024-12-30,2025-08-15,15.30,13.60,-1.70,-11.11,-6800.0,-17
4,1,PTTGC,6000,2024-12-30,2025-08-15,24.40,22.70,-1.70,-6.97,-10200.0,-17
17,2,WHART,25000,2024-12-30,2025-08-15,10.20,9.35,-0.85,-8.33,-21250.0,-15
0,1,AH,1200,2024-12-30,2025-08-15,16.30,15.30,-1.00,-6.13,-1200.0,-10
7,2,AIMIRT,17500,2024-12-30,2025-08-15,10.60,9.85,-0.75,-7.08,-13125.0,-9
8,2,CPNREIT,55000,2024-12-30,2025-08-15,12.30,11.50,-0.80,-6.50,-44000.0,-8
9,2,DIF,50000,2024-12-30,2025-08-15,8.60,8.20,-0.40,-4.65,-20000.0,-8
12,2,NER,27000,2024-12-30,2025-08-15,4.62,4.48,-0.14,-3.03,-3780.0,-7
15,2,TFFIF,20000,2024-12-30,2025-08-15,6.35,6.10,-0.25,-3.94,-5000.0,-5
27,4,TOA,1000,2024-12-30,2025-08-15,15.00,14.90,-0.10,-0.67,-100.0,-1
21,3,RCL,24000,2024-12-30,2025-08-15,28.25,28.25,0.00,0.00,0.0,0
10,2,GVREIT,69000,2024-12-30,2025-08-15,6.50,6.50,0.00,0.00,0.0,0
13,2,PTT,2500,2024-12-30,2025-08-15,31.75,32.25,0.50,1.57,1250.0,2
24,3,TVO,8000,2024-12-30,2025-08-15,23.00,25.00,2.00,8.70,16000.0,20
18,3,3BBIF,120000,2024-12-30,2025-08-15,5.20,6.30,1.10,21.15,132000.0,22
11,2,MCS,81000,2024-12-30,2025-08-15,6.70,8.65,1.95,29.10,157950.0,39
5,1,SCC,600,2024-12-30,2025-08-15,168.00,201.00,33.00,19.64,19800.0,65

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        79600 -127580.0 -212
2       502000  -38105.0  -60
3       190700   -9310.0 -107
4         8800  -32560.0  -92

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         79600  33.848571  36.724286  2.875714 -30.285714 -127580.0
2        502000   9.667273   9.479091 -0.188182  -5.454545  -38105.0
3        190700  18.592857  16.907143 -1.685714 -15.285714   -9310.0
4          8800  13.800000  11.133333 -2.666667 -30.666667  -32560.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-207,555.00'

In [25]:
prev_pl = -207_555

diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-14,895.00'