### Modify 2 statements then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2025, 2, 4), datetime.date(2025, 2, 3))

In [4]:
#today = date(2025, 1, 24)
#yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2025, 2, 4), datetime.date(2025, 2, 3))

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-02-04
Today in mm-dd format: 02-04
yesterday: 2025-02-03 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,1,3)
today

datetime.date(2025, 2, 4)

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,1,2)
yesterday

Timestamp('2025-02-03 00:00:00')

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      ASK    6000
2       1      ASP   30000
3       1      IVL    7200
4       1      ORI   50000
5       1    PTTGC    6000
6       1      SCC     600
7       1   SINGER    6000
8       1      STA   10000
9       1      TMT   36000
10      1      TOA    1000
11      2   AIMIRT   12500
12      2  CPNREIT   55000
13      2      DIF   35000
14      2   GVREIT   60000
15      2      MCS   75000
16      2      NER   27000
17      2     SENA  105000
18      2    TFFIF   20000
19      2    WHAIR   50000
20      2    WHART   20000
21      3    3BBIF  120000
22      3    JMART    6800
23      3      JMT    4200
24      3      KCE   10000
25      4      AWC    9000
26      4      BCH    4000
27      4      PTG    3600
28      4      RCL   27000
29      4    SYNEX   15000
30      4      TVO    4000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-02-04      16.30      14.00      -2.30     -14.11  -2,760.00        -23
         1        ASK       6000   24-12-30   25-02-04      10.30       8.35      -1.95     -18.93 -11,700.00        -36
         1        ASP      30000   24-12-30   25-02-04       2.36       2.34      -0.02      -0.85    -600.00         -1
         1        IVL       7200   24-12-30   25-02-04      24.90      23.10      -1.80      -7.23 -12,960.00        -18
         1        ORI      50000   24-12-30   25-02-04       3.62       3.20      -0.42     -11.60 -21,000.00        -21
         1      PTTGC       6000   24-12-30   25-02-04      24.40      20.10      -4.30     -17.62 -25,800.00        -43
         1        SCC        600   24-12-30   25-02-04     168.00     147.50     -20.50     -12.20 -12,300.00        -41
         1     SINGER       6000   24-12-30   25-02-04       7.90       6.60      -1.30     -16.46  -7,800.00        -26
         1        STA      10000   24-12-30   25-02-04      18.10      15.40      -2.70     -14.92 -27,000.00        -27
         1        TMT      36000   24-12-30   25-02-04       3.14       3.06      -0.08      -2.55  -2,880.00         -4
         1        TOA       1000   24-12-30   25-02-04      15.00      12.10      -2.90     -19.33  -2,900.00        -29
         2     AIMIRT      12500   24-12-30   25-02-04      10.60      10.40      -0.20      -1.89  -2,500.00         -2
         2    CPNREIT      55000   24-12-30   25-02-04      12.30      12.00      -0.30      -2.44 -16,500.00         -3
         2        DIF      35000   24-12-30   25-02-04       8.60       8.40      -0.20      -2.33  -7,000.00         -4
         2     GVREIT      60000   24-12-30   25-02-04       6.50       6.60       0.10       1.54   6,000.00          2
         2        MCS      75000   24-12-30   25-02-04       6.70       6.10      -0.60      -8.96 -45,000.00        -12
         2        NER      27000   24-12-30   25-02-04       4.62       4.84       0.22       4.76   5,940.00         11
         2       SENA     105000   24-12-30   25-02-04       2.22       2.16      -0.06      -2.70  -6,300.00         -3
         2      TFFIF      20000   24-12-30   25-02-04       6.35       6.30      -0.05      -0.79  -1,000.00         -1
         2      WHAIR      50000   24-12-30   25-02-04       6.50       6.30      -0.20      -3.08 -10,000.00         -4
         2      WHART      20000   24-12-30   25-02-04      10.20      10.10      -0.10      -0.98  -2,000.00         -1
         3      3BBIF     120000   24-12-30   25-02-04       5.20       5.40       0.20       3.85  24,000.00          4
         3      JMART       6800   24-12-30   25-02-04      13.20      10.60      -2.60     -19.70 -17,680.00        -26
         3        JMT       4200   24-12-30   25-02-04      18.20      14.40      -3.80     -20.88 -15,960.00        -38
         3        KCE      10000   24-12-30   25-02-04      24.50      19.90      -4.60     -18.78 -46,000.00        -46
         4        AWC       9000   24-12-30   25-02-04       3.52       3.10      -0.42     -11.93  -3,780.00        -21
         4        BCH       4000   24-12-30   25-02-04      15.30      14.00      -1.30      -8.50  -5,200.00        -13
         4        PTG       3600   24-12-30   25-02-04       8.20       7.40      -0.80      -9.76  -2,880.00        -16
         4        RCL      27000   24-12-30   25-02-04      28.25      23.10      -5.15     -18.23 -139,050.00        -31
         4      SYNEX      15000   24-12-30   25-02-04      15.40      12.20      -3.20     -20.78 -48,000.00        -32
         4        TVO       4000   24-12-30   25-02-04      23.00      20.80      -2.20      -9.57  -8,800.00        -22

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-02-04,16.30,14.00,-2.30,-14.11,-2760.0,-23
1,1,ASK,6000,2024-12-30,2025-02-04,10.30,8.35,-1.95,-18.93,-11700.0,-36
2,1,ASP,30000,2024-12-30,2025-02-04,2.36,2.34,-0.02,-0.85,-600.0,-1
3,1,IVL,7200,2024-12-30,2025-02-04,24.90,23.10,-1.80,-7.23,-12960.0,-18
4,1,ORI,50000,2024-12-30,2025-02-04,3.62,3.20,-0.42,-11.60,-21000.0,-21
5,1,PTTGC,6000,2024-12-30,2025-02-04,24.40,20.10,-4.30,-17.62,-25800.0,-43
6,1,SCC,600,2024-12-30,2025-02-04,168.00,147.50,-20.50,-12.20,-12300.0,-41
7,1,SINGER,6000,2024-12-30,2025-02-04,7.90,6.60,-1.30,-16.46,-7800.0,-26
8,1,STA,10000,2024-12-30,2025-02-04,18.10,15.40,-2.70,-14.92,-27000.0,-27
9,1,TMT,36000,2024-12-30,2025-02-04,3.14,3.06,-0.08,-2.55,-2880.0,-4
10,1,TOA,1000,2024-12-30,2025-02-04,15.00,12.10,-2.90,-19.33,-2900.0,-29
11,2,AIMIRT,12500,2024-12-30,2025-02-04,10.60,10.40,-0.20,-1.89,-2500.0,-2
12,2,CPNREIT,55000,2024-12-30,2025-02-04,12.30,12.00,-0.30,-2.44,-16500.0,-3
13,2,DIF,35000,2024-12-30,2025-02-04,8.60,8.40,-0.20,-2.33,-7000.0,-4
14,2,GVREIT,60000,2024-12-30,2025-02-04,6.50,6.60,0.10,1.54,6000.0,2
15,2,MCS,75000,2024-12-30,2025-02-04,6.70,6.10,-0.60,-8.96,-45000.0,-12
16,2,NER,27000,2024-12-30,2025-02-04,4.62,4.84,0.22,4.76,5940.0,11
17,2,SENA,105000,2024-12-30,2025-02-04,2.22,2.16,-0.06,-2.70,-6300.0,-3
18,2,TFFIF,20000,2024-12-30,2025-02-04,6.35,6.30,-0.05,-0.79,-1000.0,-1
19,2,WHAIR,50000,2024-12-30,2025-02-04,6.50,6.30,-0.20,-3.08,-10000.0,-4
20,2,WHART,20000,2024-12-30,2025-02-04,10.20,10.10,-0.10,-0.98,-2000.0,-1
21,3,3BBIF,120000,2024-12-30,2025-02-04,5.20,5.40,0.20,3.85,24000.0,4
22,3,JMART,6800,2024-12-30,2025-02-04,13.20,10.60,-2.60,-19.70,-17680.0,-26
23,3,JMT,4200,2024-12-30,2025-02-04,18.20,14.40,-3.80,-20.88,-15960.0,-38
24,3,KCE,10000,2024-12-30,2025-02-04,24.50,19.90,-4.60,-18.78,-46000.0,-46
25,4,AWC,9000,2024-12-30,2025-02-04,3.52,3.10,-0.42,-11.93,-3780.0,-21
26,4,BCH,4000,2024-12-30,2025-02-04,15.30,14.00,-1.30,-8.50,-5200.0,-13
27,4,PTG,3600,2024-12-30,2025-02-04,8.20,7.40,-0.80,-9.76,-2880.0,-16
28,4,RCL,27000,2024-12-30,2025-02-04,28.25,23.10,-5.15,-18.23,-139050.0,-31
29,4,SYNEX,15000,2024-12-30,2025-02-04,15.40,12.20,-3.20,-20.78,-48000.0,-32
30,4,TVO,4000,2024-12-30,2025-02-04,23.00,20.80,-2.20,-9.57,-8800.0,-22

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
24,3,KCE,10000,2024-12-30,2025-02-04,24.50,19.90,-4.60,-18.78,-46000.0,-46
5,1,PTTGC,6000,2024-12-30,2025-02-04,24.40,20.10,-4.30,-17.62,-25800.0,-43
6,1,SCC,600,2024-12-30,2025-02-04,168.00,147.50,-20.50,-12.20,-12300.0,-41
23,3,JMT,4200,2024-12-30,2025-02-04,18.20,14.40,-3.80,-20.88,-15960.0,-38
1,1,ASK,6000,2024-12-30,2025-02-04,10.30,8.35,-1.95,-18.93,-11700.0,-36
29,4,SYNEX,15000,2024-12-30,2025-02-04,15.40,12.20,-3.20,-20.78,-48000.0,-32
28,4,RCL,27000,2024-12-30,2025-02-04,28.25,23.10,-5.15,-18.23,-139050.0,-31
10,1,TOA,1000,2024-12-30,2025-02-04,15.00,12.10,-2.90,-19.33,-2900.0,-29
8,1,STA,10000,2024-12-30,2025-02-04,18.10,15.40,-2.70,-14.92,-27000.0,-27
7,1,SINGER,6000,2024-12-30,2025-02-04,7.90,6.60,-1.30,-16.46,-7800.0,-26
22,3,JMART,6800,2024-12-30,2025-02-04,13.20,10.60,-2.60,-19.70,-17680.0,-26
0,1,AH,1200,2024-12-30,2025-02-04,16.30,14.00,-2.30,-14.11,-2760.0,-23
30,4,TVO,4000,2024-12-30,2025-02-04,23.00,20.80,-2.20,-9.57,-8800.0,-22
25,4,AWC,9000,2024-12-30,2025-02-04,3.52,3.10,-0.42,-11.93,-3780.0,-21
4,1,ORI,50000,2024-12-30,2025-02-04,3.62,3.20,-0.42,-11.60,-21000.0,-21
3,1,IVL,7200,2024-12-30,2025-02-04,24.90,23.10,-1.80,-7.23,-12960.0,-18
27,4,PTG,3600,2024-12-30,2025-02-04,8.20,7.40,-0.80,-9.76,-2880.0,-16
26,4,BCH,4000,2024-12-30,2025-02-04,15.30,14.00,-1.30,-8.50,-5200.0,-13
15,2,MCS,75000,2024-12-30,2025-02-04,6.70,6.10,-0.60,-8.96,-45000.0,-12
9,1,TMT,36000,2024-12-30,2025-02-04,3.14,3.06,-0.08,-2.55,-2880.0,-4
13,2,DIF,35000,2024-12-30,2025-02-04,8.60,8.40,-0.20,-2.33,-7000.0,-4
19,2,WHAIR,50000,2024-12-30,2025-02-04,6.50,6.30,-0.20,-3.08,-10000.0,-4
12,2,CPNREIT,55000,2024-12-30,2025-02-04,12.30,12.00,-0.30,-2.44,-16500.0,-3
17,2,SENA,105000,2024-12-30,2025-02-04,2.22,2.16,-0.06,-2.70,-6300.0,-3
11,2,AIMIRT,12500,2024-12-30,2025-02-04,10.60,10.40,-0.20,-1.89,-2500.0,-2
18,2,TFFIF,20000,2024-12-30,2025-02-04,6.35,6.30,-0.05,-0.79,-1000.0,-1
2,1,ASP,30000,2024-12-30,2025-02-04,2.36,2.34,-0.02,-0.85,-600.0,-1
20,2,WHART,20000,2024-12-30,2025-02-04,10.20,10.10,-0.10,-0.98,-2000.0,-1
14,2,GVREIT,60000,2024-12-30,2025-02-04,6.50,6.60,0.10,1.54,6000.0,2
21,3,3BBIF,120000,2024-12-30,2025-02-04,5.20,5.40,0.20,3.85,24000.0,4
16,2,NER,27000,2024-12-30,2025-02-04,4.62,4.84,0.22,4.76,5940.0,11

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1       154000 -127700.0 -269
2       459500  -78360.0  -17
3       141000  -55640.0 -106
4        62600 -207710.0 -135

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1        154000  26.729091  23.250000 -3.479091 -24.454545 -127700.0
2        459500   7.459000   7.320000 -0.139000  -1.700000  -78360.0
3        141000  15.275000  12.575000 -2.700000 -26.500000  -55640.0
4         62600  15.611667  13.433333 -2.178333 -22.500000 -207710.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-469,410.00'

In [25]:
prev_pl = -407_240
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-62,170.00'