### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-14 2025-08-13

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-14 2025-08-13

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-14
Today in mm-dd format: 08-14
yesterday: 2025-08-12 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-14

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-08-12 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   50000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   17500
8       2  CPNREIT   55000
9       2      DIF   50000
10      2   GVREIT   69000
11      2      MCS   81000
12      2      NER   27000
13      2      PTT    2500
14      2     SENA  105000
15      2    TFFIF   20000
16      2    WHAIR   50000
17      2    WHART   25000
18      3    3BBIF  120000
19      3      BCH    4000
20      3      IVL    7200
21      3      RCL   24000
22      3      STA   10000
23      3    SYNEX   17500
24      3      TVO    8000
25      4      JMT    4200
26      4      PTG    3600
27      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-14      16.30      15.30      -1.00      -6.13  -1,200.00        -10
         1        AWC       9000   24-12-30   25-08-14       3.52       2.38      -1.14     -32.39 -10,260.00        -57
         1      JMART       6800   24-12-30   25-08-14      13.20       8.15      -5.05     -38.26 -34,340.00        -68
         1        ORI      50000   24-12-30   25-08-14       3.62       2.04      -1.58     -43.65 -79,000.00        -79
         1      PTTGC       6000   24-12-30   25-08-14      24.40      23.00      -1.40      -5.74  -8,400.00        -14
         1        SCC        600   24-12-30   25-08-14     168.00     202.00      34.00      20.24  20,400.00         66
         1     SINGER       6000   24-12-30   25-08-14       7.90       5.40      -2.50     -31.65 -15,000.00        -50
         2     AIMIRT      17500   24-12-30   25-08-14      10.60       9.90      -0.70      -6.60 -12,250.00         -7
         2    CPNREIT      55000   24-12-30   25-08-14      12.30      11.50      -0.80      -6.50 -44,000.00         -8
         2        DIF      50000   24-12-30   25-08-14       8.60       8.40      -0.20      -2.33 -10,000.00         -4
         2     GVREIT      69000   24-12-30   25-08-14       6.50       6.45      -0.05      -0.77  -3,450.00         -1
         2        MCS      81000   24-12-30   25-08-14       6.70       8.55       1.85      27.61 149,850.00         37
         2        NER      27000   24-12-30   25-08-14       4.62       4.52      -0.10      -2.16  -2,700.00         -5
         2        PTT       2500   24-12-30   25-08-14      31.75      32.25       0.50       1.57   1,250.00          2
         2       SENA     105000   24-12-30   25-08-14       2.22       1.78      -0.44     -19.82 -46,200.00        -32
         2      TFFIF      20000   24-12-30   25-08-14       6.35       6.05      -0.30      -4.72  -6,000.00         -6
         2      WHAIR      50000   24-12-30   25-08-14       6.50       5.50      -1.00     -15.38 -50,000.00        -20
         2      WHART      25000   24-12-30   25-08-14      10.20       9.40      -0.80      -7.84 -20,000.00        -13
         3      3BBIF     120000   24-12-30   25-08-14       5.20       6.25       1.05      20.19 126,000.00         21
         3        BCH       4000   24-12-30   25-08-14      15.30      14.10      -1.20      -7.84  -4,800.00        -12
         3        IVL       7200   24-12-30   25-08-14      24.90      22.20      -2.70     -10.84 -19,440.00        -27
         3        RCL      24000   24-12-30   25-08-14      28.25      28.75       0.50       1.77  12,000.00          2
         3        STA      10000   24-12-30   25-08-14      18.10      11.90      -6.20     -34.25 -62,000.00        -62
         3      SYNEX      17500   24-12-30   25-08-14      15.40      12.20      -3.20     -20.78 -56,000.00        -32
         3        TVO       8000   24-12-30   25-08-14      23.00      25.00       2.00       8.70  16,000.00         20
         4        JMT       4200   24-12-30   25-08-14      18.20      11.50      -6.70     -36.81 -28,140.00        -67
         4        PTG       3600   24-12-30   25-08-14       8.20       6.90      -1.30     -15.85  -4,680.00        -26
         4        TOA       1000   24-12-30   25-08-14      15.00      14.70      -0.30      -2.00    -300.00         -3

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-14,16.30,15.30,-1.00,-6.13,-1200.0,-10
1,1,AWC,9000,2024-12-30,2025-08-14,3.52,2.38,-1.14,-32.39,-10260.0,-57
2,1,JMART,6800,2024-12-30,2025-08-14,13.20,8.15,-5.05,-38.26,-34340.0,-68
3,1,ORI,50000,2024-12-30,2025-08-14,3.62,2.04,-1.58,-43.65,-79000.0,-79
4,1,PTTGC,6000,2024-12-30,2025-08-14,24.40,23.00,-1.40,-5.74,-8400.0,-14
5,1,SCC,600,2024-12-30,2025-08-14,168.00,202.00,34.00,20.24,20400.0,66
6,1,SINGER,6000,2024-12-30,2025-08-14,7.90,5.40,-2.50,-31.65,-15000.0,-50
7,2,AIMIRT,17500,2024-12-30,2025-08-14,10.60,9.90,-0.70,-6.60,-12250.0,-7
8,2,CPNREIT,55000,2024-12-30,2025-08-14,12.30,11.50,-0.80,-6.50,-44000.0,-8
9,2,DIF,50000,2024-12-30,2025-08-14,8.60,8.40,-0.20,-2.33,-10000.0,-4
10,2,GVREIT,69000,2024-12-30,2025-08-14,6.50,6.45,-0.05,-0.77,-3450.0,-1
11,2,MCS,81000,2024-12-30,2025-08-14,6.70,8.55,1.85,27.61,149850.0,37
12,2,NER,27000,2024-12-30,2025-08-14,4.62,4.52,-0.10,-2.16,-2700.0,-5
13,2,PTT,2500,2024-12-30,2025-08-14,31.75,32.25,0.50,1.57,1250.0,2
14,2,SENA,105000,2024-12-30,2025-08-14,2.22,1.78,-0.44,-19.82,-46200.0,-32
15,2,TFFIF,20000,2024-12-30,2025-08-14,6.35,6.05,-0.30,-4.72,-6000.0,-6
16,2,WHAIR,50000,2024-12-30,2025-08-14,6.50,5.50,-1.00,-15.38,-50000.0,-20
17,2,WHART,25000,2024-12-30,2025-08-14,10.20,9.40,-0.80,-7.84,-20000.0,-13
18,3,3BBIF,120000,2024-12-30,2025-08-14,5.20,6.25,1.05,20.19,126000.0,21
19,3,BCH,4000,2024-12-30,2025-08-14,15.30,14.10,-1.20,-7.84,-4800.0,-12
20,3,IVL,7200,2024-12-30,2025-08-14,24.90,22.20,-2.70,-10.84,-19440.0,-27
21,3,RCL,24000,2024-12-30,2025-08-14,28.25,28.75,0.50,1.77,12000.0,2
22,3,STA,10000,2024-12-30,2025-08-14,18.10,11.90,-6.20,-34.25,-62000.0,-62
23,3,SYNEX,17500,2024-12-30,2025-08-14,15.40,12.20,-3.20,-20.78,-56000.0,-32
24,3,TVO,8000,2024-12-30,2025-08-14,23.00,25.00,2.00,8.70,16000.0,20
25,4,JMT,4200,2024-12-30,2025-08-14,18.20,11.50,-6.70,-36.81,-28140.0,-67
26,4,PTG,3600,2024-12-30,2025-08-14,8.20,6.90,-1.30,-15.85,-4680.0,-26
27,4,TOA,1000,2024-12-30,2025-08-14,15.00,14.70,-0.30,-2.00,-300.0,-3

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
3,1,ORI,50000,2024-12-30,2025-08-14,3.62,2.04,-1.58,-43.65,-79000.0,-79
2,1,JMART,6800,2024-12-30,2025-08-14,13.20,8.15,-5.05,-38.26,-34340.0,-68
25,4,JMT,4200,2024-12-30,2025-08-14,18.20,11.50,-6.70,-36.81,-28140.0,-67
22,3,STA,10000,2024-12-30,2025-08-14,18.10,11.90,-6.20,-34.25,-62000.0,-62
1,1,AWC,9000,2024-12-30,2025-08-14,3.52,2.38,-1.14,-32.39,-10260.0,-57
6,1,SINGER,6000,2024-12-30,2025-08-14,7.90,5.40,-2.50,-31.65,-15000.0,-50
23,3,SYNEX,17500,2024-12-30,2025-08-14,15.40,12.20,-3.20,-20.78,-56000.0,-32
14,2,SENA,105000,2024-12-30,2025-08-14,2.22,1.78,-0.44,-19.82,-46200.0,-32
20,3,IVL,7200,2024-12-30,2025-08-14,24.90,22.20,-2.70,-10.84,-19440.0,-27
26,4,PTG,3600,2024-12-30,2025-08-14,8.20,6.90,-1.30,-15.85,-4680.0,-26
16,2,WHAIR,50000,2024-12-30,2025-08-14,6.50,5.50,-1.00,-15.38,-50000.0,-20
4,1,PTTGC,6000,2024-12-30,2025-08-14,24.40,23.00,-1.40,-5.74,-8400.0,-14
17,2,WHART,25000,2024-12-30,2025-08-14,10.20,9.40,-0.80,-7.84,-20000.0,-13
19,3,BCH,4000,2024-12-30,2025-08-14,15.30,14.10,-1.20,-7.84,-4800.0,-12
0,1,AH,1200,2024-12-30,2025-08-14,16.30,15.30,-1.00,-6.13,-1200.0,-10
8,2,CPNREIT,55000,2024-12-30,2025-08-14,12.30,11.50,-0.80,-6.50,-44000.0,-8
7,2,AIMIRT,17500,2024-12-30,2025-08-14,10.60,9.90,-0.70,-6.60,-12250.0,-7
15,2,TFFIF,20000,2024-12-30,2025-08-14,6.35,6.05,-0.30,-4.72,-6000.0,-6
12,2,NER,27000,2024-12-30,2025-08-14,4.62,4.52,-0.10,-2.16,-2700.0,-5
9,2,DIF,50000,2024-12-30,2025-08-14,8.60,8.40,-0.20,-2.33,-10000.0,-4
27,4,TOA,1000,2024-12-30,2025-08-14,15.00,14.70,-0.30,-2.00,-300.0,-3
10,2,GVREIT,69000,2024-12-30,2025-08-14,6.50,6.45,-0.05,-0.77,-3450.0,-1
21,3,RCL,24000,2024-12-30,2025-08-14,28.25,28.75,0.50,1.77,12000.0,2
13,2,PTT,2500,2024-12-30,2025-08-14,31.75,32.25,0.50,1.57,1250.0,2
24,3,TVO,8000,2024-12-30,2025-08-14,23.00,25.00,2.00,8.70,16000.0,20
18,3,3BBIF,120000,2024-12-30,2025-08-14,5.20,6.25,1.05,20.19,126000.0,21
11,2,MCS,81000,2024-12-30,2025-08-14,6.70,8.55,1.85,27.61,149850.0,37
5,1,SCC,600,2024-12-30,2025-08-14,168.00,202.00,34.00,20.24,20400.0,66

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        79600 -127800.0 -212
2       502000  -43500.0  -57
3       190700   11760.0  -90
4         8800  -33120.0  -96

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         79600  33.848571  36.895714  3.047143 -30.285714 -127800.0
2        502000   9.667273   9.481818 -0.185455  -5.181818  -43500.0
3        190700  18.592857  17.200000 -1.392857 -12.857143   11760.0
4          8800  13.800000  11.033333 -2.766667 -32.000000  -33120.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-192,660.00'

In [25]:
prev_pl = -192_660

diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-149,485.00'