### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-06 2025-08-05

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-06 2025-08-05

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-06
Today in mm-dd format: 08-06
yesterday: 2025-08-04 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-06

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-08-04 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   60000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   12500
8       2  CPNREIT   55000
9       2      DIF   40000
10      2   GVREIT   75000
11      2      MCS   81000
12      2      NER   27000
13      2     SENA  105000
14      2    TFFIF   20000
15      2    WHAIR   50000
16      2    WHART   25000
17      3    3BBIF  120000
18      3      BCH    4000
19      3      IVL    7200
20      3      RCL   27000
21      3      STA   10000
22      3    SYNEX   17500
23      3      TVO    8000
24      4      JMT    4200
25      4      PTG    3600
26      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-06      16.30      15.30      -1.00      -6.13  -1,200.00        -10
         1        AWC       9000   24-12-30   25-08-06       3.52       2.28      -1.24     -35.23 -11,160.00        -62
         1      JMART       6800   24-12-30   25-08-06      13.20       9.55      -3.65     -27.65 -24,820.00        -40
         1        ORI      60000   24-12-30   25-08-06       3.62       2.00      -1.62     -44.75 -97,200.00        -81
         1      PTTGC       6000   24-12-30   25-08-06      24.40      24.70       0.30       1.23   1,800.00          3
         1        SCC        600   24-12-30   25-08-06     168.00     205.00      37.00      22.02  22,200.00         69
         1     SINGER       6000   24-12-30   25-08-06       7.90       5.85      -2.05     -25.95 -12,300.00        -41
         2     AIMIRT      12500   24-12-30   25-08-06      10.60       9.85      -0.75      -7.08  -9,375.00         -9
         2    CPNREIT      55000   24-12-30   25-08-06      12.30      11.60      -0.70      -5.69 -38,500.00         -7
         2        DIF      40000   24-12-30   25-08-06       8.60       8.35      -0.25      -2.91 -10,000.00         -5
         2     GVREIT      75000   24-12-30   25-08-06       6.50       6.55       0.05       0.77   3,750.00          1
         2        MCS      81000   24-12-30   25-08-06       6.70       8.45       1.75      26.12 141,750.00         35
         2        NER      27000   24-12-30   25-08-06       4.62       4.52      -0.10      -2.16  -2,700.00         -5
         2       SENA     105000   24-12-30   25-08-06       2.22       1.79      -0.43     -19.37 -45,150.00        -31
         2      TFFIF      20000   24-12-30   25-08-06       6.35       6.05      -0.30      -4.72  -6,000.00         -6
         2      WHAIR      50000   24-12-30   25-08-06       6.50       5.55      -0.95     -14.62 -47,500.00        -19
         2      WHART      25000   24-12-30   25-08-06      10.20       9.40      -0.80      -7.84 -20,000.00        -13
         3      3BBIF     120000   24-12-30   25-08-06       5.20       6.30       1.10      21.15 132,000.00         22
         3        BCH       4000   24-12-30   25-08-06      15.30      14.40      -0.90      -5.88  -3,600.00         -9
         3        IVL       7200   24-12-30   25-08-06      24.90      23.70      -1.20      -4.82  -8,640.00        -12
         3        RCL      27000   24-12-30   25-08-06      28.25      29.50       1.25       4.42  33,750.00          5
         3        STA      10000   24-12-30   25-08-06      18.10      14.00      -4.10     -22.65 -41,000.00        -41
         3      SYNEX      17500   24-12-30   25-08-06      15.40      12.60      -2.80     -18.18 -49,000.00        -28
         3        TVO       8000   24-12-30   25-08-06      23.00      23.30       0.30       1.30   2,400.00          3
         4        JMT       4200   24-12-30   25-08-06      18.20      12.40      -5.80     -31.87 -24,360.00        -58
         4        PTG       3600   24-12-30   25-08-06       8.20       6.85      -1.35     -16.46  -4,860.00        -27
         4        TOA       1000   24-12-30   25-08-06      15.00      14.60      -0.40      -2.67    -400.00         -4

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-06,16.30,15.30,-1.00,-6.13,-1200.0,-10
1,1,AWC,9000,2024-12-30,2025-08-06,3.52,2.28,-1.24,-35.23,-11160.0,-62
2,1,JMART,6800,2024-12-30,2025-08-06,13.20,9.55,-3.65,-27.65,-24820.0,-40
3,1,ORI,60000,2024-12-30,2025-08-06,3.62,2.00,-1.62,-44.75,-97200.0,-81
4,1,PTTGC,6000,2024-12-30,2025-08-06,24.40,24.70,0.30,1.23,1800.0,3
5,1,SCC,600,2024-12-30,2025-08-06,168.00,205.00,37.00,22.02,22200.0,69
6,1,SINGER,6000,2024-12-30,2025-08-06,7.90,5.85,-2.05,-25.95,-12300.0,-41
7,2,AIMIRT,12500,2024-12-30,2025-08-06,10.60,9.85,-0.75,-7.08,-9375.0,-9
8,2,CPNREIT,55000,2024-12-30,2025-08-06,12.30,11.60,-0.70,-5.69,-38500.0,-7
9,2,DIF,40000,2024-12-30,2025-08-06,8.60,8.35,-0.25,-2.91,-10000.0,-5
10,2,GVREIT,75000,2024-12-30,2025-08-06,6.50,6.55,0.05,0.77,3750.0,1
11,2,MCS,81000,2024-12-30,2025-08-06,6.70,8.45,1.75,26.12,141750.0,35
12,2,NER,27000,2024-12-30,2025-08-06,4.62,4.52,-0.10,-2.16,-2700.0,-5
13,2,SENA,105000,2024-12-30,2025-08-06,2.22,1.79,-0.43,-19.37,-45150.0,-31
14,2,TFFIF,20000,2024-12-30,2025-08-06,6.35,6.05,-0.30,-4.72,-6000.0,-6
15,2,WHAIR,50000,2024-12-30,2025-08-06,6.50,5.55,-0.95,-14.62,-47500.0,-19
16,2,WHART,25000,2024-12-30,2025-08-06,10.20,9.40,-0.80,-7.84,-20000.0,-13
17,3,3BBIF,120000,2024-12-30,2025-08-06,5.20,6.30,1.10,21.15,132000.0,22
18,3,BCH,4000,2024-12-30,2025-08-06,15.30,14.40,-0.90,-5.88,-3600.0,-9
19,3,IVL,7200,2024-12-30,2025-08-06,24.90,23.70,-1.20,-4.82,-8640.0,-12
20,3,RCL,27000,2024-12-30,2025-08-06,28.25,29.50,1.25,4.42,33750.0,5
21,3,STA,10000,2024-12-30,2025-08-06,18.10,14.00,-4.10,-22.65,-41000.0,-41
22,3,SYNEX,17500,2024-12-30,2025-08-06,15.40,12.60,-2.80,-18.18,-49000.0,-28
23,3,TVO,8000,2024-12-30,2025-08-06,23.00,23.30,0.30,1.30,2400.0,3
24,4,JMT,4200,2024-12-30,2025-08-06,18.20,12.40,-5.80,-31.87,-24360.0,-58
25,4,PTG,3600,2024-12-30,2025-08-06,8.20,6.85,-1.35,-16.46,-4860.0,-27
26,4,TOA,1000,2024-12-30,2025-08-06,15.00,14.60,-0.40,-2.67,-400.0,-4

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
3,1,ORI,60000,2024-12-30,2025-08-06,3.62,2.00,-1.62,-44.75,-97200.0,-81
1,1,AWC,9000,2024-12-30,2025-08-06,3.52,2.28,-1.24,-35.23,-11160.0,-62
24,4,JMT,4200,2024-12-30,2025-08-06,18.20,12.40,-5.80,-31.87,-24360.0,-58
6,1,SINGER,6000,2024-12-30,2025-08-06,7.90,5.85,-2.05,-25.95,-12300.0,-41
21,3,STA,10000,2024-12-30,2025-08-06,18.10,14.00,-4.10,-22.65,-41000.0,-41
2,1,JMART,6800,2024-12-30,2025-08-06,13.20,9.55,-3.65,-27.65,-24820.0,-40
13,2,SENA,105000,2024-12-30,2025-08-06,2.22,1.79,-0.43,-19.37,-45150.0,-31
22,3,SYNEX,17500,2024-12-30,2025-08-06,15.40,12.60,-2.80,-18.18,-49000.0,-28
25,4,PTG,3600,2024-12-30,2025-08-06,8.20,6.85,-1.35,-16.46,-4860.0,-27
15,2,WHAIR,50000,2024-12-30,2025-08-06,6.50,5.55,-0.95,-14.62,-47500.0,-19
16,2,WHART,25000,2024-12-30,2025-08-06,10.20,9.40,-0.80,-7.84,-20000.0,-13
19,3,IVL,7200,2024-12-30,2025-08-06,24.90,23.70,-1.20,-4.82,-8640.0,-12
0,1,AH,1200,2024-12-30,2025-08-06,16.30,15.30,-1.00,-6.13,-1200.0,-10
18,3,BCH,4000,2024-12-30,2025-08-06,15.30,14.40,-0.90,-5.88,-3600.0,-9
7,2,AIMIRT,12500,2024-12-30,2025-08-06,10.60,9.85,-0.75,-7.08,-9375.0,-9
8,2,CPNREIT,55000,2024-12-30,2025-08-06,12.30,11.60,-0.70,-5.69,-38500.0,-7
14,2,TFFIF,20000,2024-12-30,2025-08-06,6.35,6.05,-0.30,-4.72,-6000.0,-6
9,2,DIF,40000,2024-12-30,2025-08-06,8.60,8.35,-0.25,-2.91,-10000.0,-5
12,2,NER,27000,2024-12-30,2025-08-06,4.62,4.52,-0.10,-2.16,-2700.0,-5
26,4,TOA,1000,2024-12-30,2025-08-06,15.00,14.60,-0.40,-2.67,-400.0,-4
10,2,GVREIT,75000,2024-12-30,2025-08-06,6.50,6.55,0.05,0.77,3750.0,1
23,3,TVO,8000,2024-12-30,2025-08-06,23.00,23.30,0.30,1.30,2400.0,3
4,1,PTTGC,6000,2024-12-30,2025-08-06,24.40,24.70,0.30,1.23,1800.0,3
20,3,RCL,27000,2024-12-30,2025-08-06,28.25,29.50,1.25,4.42,33750.0,5
17,3,3BBIF,120000,2024-12-30,2025-08-06,5.20,6.30,1.10,21.15,132000.0,22
11,2,MCS,81000,2024-12-30,2025-08-06,6.70,8.45,1.75,26.12,141750.0,35
5,1,SCC,600,2024-12-30,2025-08-06,168.00,205.00,37.00,22.02,22200.0,69

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        89600 -122680.0 -162
2       490500  -33725.0  -59
3       193700   65910.0  -60
4         8800  -29620.0  -89

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         89600  33.848571  37.811429  3.962857 -23.142857 -122680.0
2        490500   7.459000   7.211000 -0.248000  -5.900000  -33725.0
3        193700  18.592857  17.685714 -0.907143  -8.571429   65910.0
4          8800  13.800000  11.283333 -2.516667 -29.666667  -29620.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-120,115.00'

In [25]:
prev_pl = -120_115

diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿145,510.00'