### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-25 2025-08-24

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-25 2025-08-24

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-25
Today in mm-dd format: 08-25
yesterday: 2025-08-21 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-25

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-08-21 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   50000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   17500
8       2  CPNREIT   55000
9       2      DIF   50000
10      2   GVREIT   69000
11      2      MCS   81000
12      2      NER   27000
13      2      PTT    2500
14      2     SENA  105000
15      2    TFFIF   20000
16      2    WHAIR   50000
17      2    WHART   25000
18      3    3BBIF  120000
19      3      BCH    4000
20      3      IVL    7200
21      3      RCL   27000
22      3      STA   10000
23      3    SYNEX   17500
24      3      TVO    8000
25      4      CPF       0
26      4      JMT    4200
27      4      PTG    3600
28      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-25      16.30      15.00      -1.30      -7.98  -1,560.00        -13
         1        AWC       9000   24-12-30   25-08-25       3.52       2.40      -1.12     -31.82 -10,080.00        -56
         1      JMART       6800   24-12-30   25-08-25      13.20       8.60      -4.60     -34.85 -31,280.00        -60
         1        ORI      50000   24-12-30   25-08-25       3.62       2.28      -1.34     -37.02 -67,000.00        -67
         1      PTTGC       6000   24-12-30   25-08-25      24.40      27.25       2.85      11.68  17,100.00         15
         1        SCC        600   24-12-30   25-08-25     168.00     226.00      58.00      34.52  34,800.00         90
         1     SINGER       6000   24-12-30   25-08-25       7.90       5.70      -2.20     -27.85 -13,200.00        -44
         2     AIMIRT      17500   24-12-30   25-08-25      10.60       9.70      -0.90      -8.49 -15,750.00        -12
         2    CPNREIT      55000   24-12-30   25-08-25      12.30      11.40      -0.90      -7.32 -49,500.00         -9
         2        DIF      50000   24-12-30   25-08-25       8.60       8.25      -0.35      -4.07 -17,500.00         -7
         2     GVREIT      69000   24-12-30   25-08-25       6.50       6.45      -0.05      -0.77  -3,450.00         -1
         2        MCS      81000   24-12-30   25-08-25       6.70       8.55       1.85      27.61 149,850.00         37
         2        NER      27000   24-12-30   25-08-25       4.62       4.34      -0.28      -6.06  -7,560.00        -14
         2        PTT       2500   24-12-30   25-08-25      31.75      32.25       0.50       1.57   1,250.00          2
         2       SENA     105000   24-12-30   25-08-25       2.22       1.88      -0.34     -15.32 -35,700.00        -23
         2      TFFIF      20000   24-12-30   25-08-25       6.35       6.05      -0.30      -4.72  -6,000.00         -6
         2      WHAIR      50000   24-12-30   25-08-25       6.50       5.50      -1.00     -15.38 -50,000.00        -20
         2      WHART      25000   24-12-30   25-08-25      10.20       9.05      -1.15     -11.27 -28,750.00        -20
         3      3BBIF     120000   24-12-30   25-08-25       5.20       6.25       1.05      20.19 126,000.00         21
         3        BCH       4000   24-12-30   25-08-25      15.30      13.10      -2.20     -14.38  -8,800.00        -22
         3        IVL       7200   24-12-30   25-08-25      24.90      23.30      -1.60      -6.43 -11,520.00        -16
         3        RCL      27000   24-12-30   25-08-25      28.25      27.00      -1.25      -4.42 -33,750.00         -5
         3        STA      10000   24-12-30   25-08-25      18.10      12.10      -6.00     -33.15 -60,000.00        -60
         3      SYNEX      17500   24-12-30   25-08-25      15.40      11.80      -3.60     -23.38 -63,000.00        -36
         3        TVO       8000   24-12-30   25-08-25      23.00      24.20       1.20       5.22   9,600.00         12
         4        CPF          0   24-12-30   25-08-25      22.80      24.20       1.40       6.14       0.00         14
         4        JMT       4200   24-12-30   25-08-25      18.20      12.20      -6.00     -32.97 -25,200.00        -60
         4        PTG       3600   24-12-30   25-08-25       8.20       7.35      -0.85     -10.37  -3,060.00        -17
         4        TOA       1000   24-12-30   25-08-25      15.00      14.60      -0.40      -2.67    -400.00         -4

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-25,16.30,15.00,-1.30,-7.98,-1560.0,-13
1,1,AWC,9000,2024-12-30,2025-08-25,3.52,2.40,-1.12,-31.82,-10080.0,-56
2,1,JMART,6800,2024-12-30,2025-08-25,13.20,8.60,-4.60,-34.85,-31280.0,-60
3,1,ORI,50000,2024-12-30,2025-08-25,3.62,2.28,-1.34,-37.02,-67000.0,-67
4,1,PTTGC,6000,2024-12-30,2025-08-25,24.40,27.25,2.85,11.68,17100.0,15
5,1,SCC,600,2024-12-30,2025-08-25,168.00,226.00,58.00,34.52,34800.0,90
6,1,SINGER,6000,2024-12-30,2025-08-25,7.90,5.70,-2.20,-27.85,-13200.0,-44
7,2,AIMIRT,17500,2024-12-30,2025-08-25,10.60,9.70,-0.90,-8.49,-15750.0,-12
8,2,CPNREIT,55000,2024-12-30,2025-08-25,12.30,11.40,-0.90,-7.32,-49500.0,-9
9,2,DIF,50000,2024-12-30,2025-08-25,8.60,8.25,-0.35,-4.07,-17500.0,-7
10,2,GVREIT,69000,2024-12-30,2025-08-25,6.50,6.45,-0.05,-0.77,-3450.0,-1
11,2,MCS,81000,2024-12-30,2025-08-25,6.70,8.55,1.85,27.61,149850.0,37
12,2,NER,27000,2024-12-30,2025-08-25,4.62,4.34,-0.28,-6.06,-7560.0,-14
13,2,PTT,2500,2024-12-30,2025-08-25,31.75,32.25,0.50,1.57,1250.0,2
14,2,SENA,105000,2024-12-30,2025-08-25,2.22,1.88,-0.34,-15.32,-35700.0,-23
15,2,TFFIF,20000,2024-12-30,2025-08-25,6.35,6.05,-0.30,-4.72,-6000.0,-6
16,2,WHAIR,50000,2024-12-30,2025-08-25,6.50,5.50,-1.00,-15.38,-50000.0,-20
17,2,WHART,25000,2024-12-30,2025-08-25,10.20,9.05,-1.15,-11.27,-28750.0,-20
18,3,3BBIF,120000,2024-12-30,2025-08-25,5.20,6.25,1.05,20.19,126000.0,21
19,3,BCH,4000,2024-12-30,2025-08-25,15.30,13.10,-2.20,-14.38,-8800.0,-22
20,3,IVL,7200,2024-12-30,2025-08-25,24.90,23.30,-1.60,-6.43,-11520.0,-16
21,3,RCL,27000,2024-12-30,2025-08-25,28.25,27.00,-1.25,-4.42,-33750.0,-5
22,3,STA,10000,2024-12-30,2025-08-25,18.10,12.10,-6.00,-33.15,-60000.0,-60
23,3,SYNEX,17500,2024-12-30,2025-08-25,15.40,11.80,-3.60,-23.38,-63000.0,-36
24,3,TVO,8000,2024-12-30,2025-08-25,23.00,24.20,1.20,5.22,9600.0,12
25,4,CPF,0,2024-12-30,2025-08-25,22.80,24.20,1.40,6.14,0.0,14
26,4,JMT,4200,2024-12-30,2025-08-25,18.20,12.20,-6.00,-32.97,-25200.0,-60
27,4,PTG,3600,2024-12-30,2025-08-25,8.20,7.35,-0.85,-10.37,-3060.0,-17
28,4,TOA,1000,2024-12-30,2025-08-25,15.00,14.60,-0.40,-2.67,-400.0,-4

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
3,1,ORI,50000,2024-12-30,2025-08-25,3.62,2.28,-1.34,-37.02,-67000.0,-67
2,1,JMART,6800,2024-12-30,2025-08-25,13.20,8.60,-4.60,-34.85,-31280.0,-60
26,4,JMT,4200,2024-12-30,2025-08-25,18.20,12.20,-6.00,-32.97,-25200.0,-60
22,3,STA,10000,2024-12-30,2025-08-25,18.10,12.10,-6.00,-33.15,-60000.0,-60
1,1,AWC,9000,2024-12-30,2025-08-25,3.52,2.40,-1.12,-31.82,-10080.0,-56
6,1,SINGER,6000,2024-12-30,2025-08-25,7.90,5.70,-2.20,-27.85,-13200.0,-44
23,3,SYNEX,17500,2024-12-30,2025-08-25,15.40,11.80,-3.60,-23.38,-63000.0,-36
14,2,SENA,105000,2024-12-30,2025-08-25,2.22,1.88,-0.34,-15.32,-35700.0,-23
19,3,BCH,4000,2024-12-30,2025-08-25,15.30,13.10,-2.20,-14.38,-8800.0,-22
17,2,WHART,25000,2024-12-30,2025-08-25,10.20,9.05,-1.15,-11.27,-28750.0,-20
16,2,WHAIR,50000,2024-12-30,2025-08-25,6.50,5.50,-1.00,-15.38,-50000.0,-20
27,4,PTG,3600,2024-12-30,2025-08-25,8.20,7.35,-0.85,-10.37,-3060.0,-17
20,3,IVL,7200,2024-12-30,2025-08-25,24.90,23.30,-1.60,-6.43,-11520.0,-16
12,2,NER,27000,2024-12-30,2025-08-25,4.62,4.34,-0.28,-6.06,-7560.0,-14
0,1,AH,1200,2024-12-30,2025-08-25,16.30,15.00,-1.30,-7.98,-1560.0,-13
7,2,AIMIRT,17500,2024-12-30,2025-08-25,10.60,9.70,-0.90,-8.49,-15750.0,-12
8,2,CPNREIT,55000,2024-12-30,2025-08-25,12.30,11.40,-0.90,-7.32,-49500.0,-9
9,2,DIF,50000,2024-12-30,2025-08-25,8.60,8.25,-0.35,-4.07,-17500.0,-7
15,2,TFFIF,20000,2024-12-30,2025-08-25,6.35,6.05,-0.30,-4.72,-6000.0,-6
21,3,RCL,27000,2024-12-30,2025-08-25,28.25,27.00,-1.25,-4.42,-33750.0,-5
28,4,TOA,1000,2024-12-30,2025-08-25,15.00,14.60,-0.40,-2.67,-400.0,-4
10,2,GVREIT,69000,2024-12-30,2025-08-25,6.50,6.45,-0.05,-0.77,-3450.0,-1
13,2,PTT,2500,2024-12-30,2025-08-25,31.75,32.25,0.50,1.57,1250.0,2
24,3,TVO,8000,2024-12-30,2025-08-25,23.00,24.20,1.20,5.22,9600.0,12
25,4,CPF,0,2024-12-30,2025-08-25,22.80,24.20,1.40,6.14,0.0,14
4,1,PTTGC,6000,2024-12-30,2025-08-25,24.40,27.25,2.85,11.68,17100.0,15
18,3,3BBIF,120000,2024-12-30,2025-08-25,5.20,6.25,1.05,20.19,126000.0,21
11,2,MCS,81000,2024-12-30,2025-08-25,6.70,8.55,1.85,27.61,149850.0,37
5,1,SCC,600,2024-12-30,2025-08-25,168.00,226.00,58.00,34.52,34800.0,90

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares   amount  spd
period
1        79600 -71220.0 -135
2       502000 -63110.0  -73
3       193700 -41470.0 -106
4         8800 -28660.0  -67

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd  ttl_amt
period
1         79600  33.848571  41.032857  7.184286 -19.285714 -71220.0
2        502000   9.667273   9.401818 -0.265455  -6.636364 -63110.0
3        193700  18.592857  16.821429 -1.771429 -15.142857 -41470.0
4          8800  16.050000  14.587500 -1.462500 -16.750000 -28660.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-204,460.00'

In [25]:
prev_pl = -204_460
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿57,860.00'