### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-10-21 2025-10-20

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-10-21 2025-10-20

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-10-21
Today in mm-dd format: 10-21
yesterday: 2025-10-17 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-10-21

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-10-17 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}','price':'{:.2f}','price1':'{:.2f}','price2':'{:.2f}',
    'beta':'{:,.2f}','change':'{:.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%','%change':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}','volume':'{:,.0f}','shares':'{:,.0f}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}','amount':'{:,.2f}'
}

In [11]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy.style.format(format_dict).hide(axis="index")

In [12]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [13]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [14]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [16]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [17]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [18]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-10-21      16.30      12.70      -3.60     -22.09  -4,320.00        -36
         1        AWC       9000   24-12-30   25-10-21       3.52       2.14      -1.38     -39.20 -12,420.00        -69
         1      JMART       6800   24-12-30   25-10-21      13.20       8.25      -4.95     -37.50 -33,660.00        -67
         1        JMT       7000   24-12-30   25-10-21      18.20      10.30      -7.90     -43.41 -55,300.00        -79
         1        TOA       1000   24-12-30   25-10-21      15.00      12.20      -2.80     -18.67  -2,800.00        -28
         2     AIMIRT      17500   24-12-30   25-10-21      10.60      10.50      -0.10      -0.94  -1,750.00         -1
         2    CPNREIT      55000   24-12-30   25-10-21      12.30      11.70      -0.60      -4.88 -33,000.00         -6
         2        DIF      45000   24-12-30   25-10-21       8.60       9.25       0.65       7.56  29,250.00         13
         2     GVREIT      69000   24-12-30   25-10-21       6.50       6.50       0.00       0.00       0.00          0
         2        MCS      75000   24-12-30   25-10-21       6.70       8.20       1.50      22.39 112,500.00         30
         2        NER      27000   24-12-30   25-10-21       4.62       4.10      -0.52     -11.26 -14,040.00        -26
         2        PTT      10000   24-12-30   25-10-21      31.75      30.75      -1.00      -3.15 -10,000.00         -4
         2       SENA     105000   24-12-30   25-10-21       2.22       1.90      -0.32     -14.41 -33,600.00        -21
         2      TFFIF      20000   24-12-30   25-10-21       6.35       6.10      -0.25      -3.94  -5,000.00         -5
         2      WHAIR      50000   24-12-30   25-10-21       6.50       6.00      -0.50      -7.69 -25,000.00        -10
         2      WHART      20000   24-12-30   25-10-21      10.20       9.80      -0.40      -3.92  -8,000.00         -5
         3      3BBIF     120000   24-12-30   25-10-21       5.20       6.65       1.45      27.88 174,000.00         29
         3        BCH       4000   24-12-30   25-10-21      15.30      11.90      -3.40     -22.22 -13,600.00        -34
         3        PTG       3600   24-12-30   25-10-21       8.20       8.80       0.60       7.32   2,160.00         12
         3        RCL      27000   24-12-30   25-10-21      28.25      25.50      -2.75      -9.73 -74,250.00        -11
         3        STA      10000   24-12-30   25-10-21      18.10      11.80      -6.30     -34.81 -63,000.00        -63
         3      SYNEX      17500   24-12-30   25-10-21      15.40      10.50      -4.90     -31.82 -85,750.00        -49
         3        TVO       4000   24-12-30   25-10-21      23.00      24.10       1.10       4.78   4,400.00         11
         4        CPF      10000   24-12-30   25-10-21      22.80      21.80      -1.00      -4.39 -10,000.00        -10
         4        IVL       7200   24-12-30   25-10-21      24.90      19.90      -5.00     -20.08 -36,000.00        -50
         4        ORI      50000   24-12-30   25-10-21       3.62       2.36      -1.26     -34.81 -63,000.00        -63
         4      PTTGC       6000   24-12-30   25-10-21      24.40      23.60      -0.80      -3.28  -4,800.00         -8
         4        SCC        600   24-12-30   25-10-21     168.00     206.00      38.00      22.62  22,800.00         70
         4     SINGER       6000   24-12-30   25-10-21       7.90       6.15      -1.75     -22.15 -10,500.00        -35

In [19]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [20]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [21]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df.style.format(format_dict).hide(axis="index")

In [22]:
df.sort_values(['spd'],ascending=True).style.format(format_dict).hide(axis="index")

In [23]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        25000 -108500.0 -279
2       493500   11360.0  -35
3       186100  -56040.0 -105
4        79800 -101500.0  -96

In [24]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         25000  13.244000   9.118000 -4.126000 -55.800000 -108500.0
2        493500   9.667273   9.527273 -0.140000  -3.181818   11360.0
3        186100  16.207143  14.178571 -2.028571 -15.000000  -56040.0
4         79800  41.936667  46.635000  4.698333 -16.000000 -101500.0

In [25]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-254,680.00'

In [26]:
prev_pl = -254_680
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿25,760.00'