### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-10-10 2025-10-09

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-10-10 2025-10-09

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-10-10
Today in mm-dd format: 10-10
yesterday: 2025-10-08 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-10-10

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-10-08 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}','price':'{:.2f}','price1':'{:.2f}','price2':'{:.2f}',
    'beta':'{:,.2f}','change':'{:.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%','%change':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}','volume':'{:,.0f}','shares':'{:,.0f}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}','amount':'{:,.2f}'
}

In [11]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy.style.format(format_dict).hide(axis="index")

In [12]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [13]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [14]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [16]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [17]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [18]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-10-10      16.30      13.60      -2.70     -16.56  -3,240.00        -27
         1        AWC       9000   24-12-30   25-10-10       3.52       2.18      -1.34     -38.07 -12,060.00        -67
         1      JMART       6800   24-12-30   25-10-10      13.20       8.80      -4.40     -33.33 -29,920.00        -55
         1        JMT       4200   24-12-30   25-10-10      18.20      11.40      -6.80     -37.36 -28,560.00        -68
         1        TOA       1000   24-12-30   25-10-10      15.00      13.50      -1.50     -10.00  -1,500.00        -15
         2     AIMIRT      17500   24-12-30   25-10-10      10.60      10.20      -0.40      -3.77  -7,000.00         -4
         2    CPNREIT      55000   24-12-30   25-10-10      12.30      11.50      -0.80      -6.50 -44,000.00         -8
         2        DIF      45000   24-12-30   25-10-10       8.60       9.15       0.55       6.40  24,750.00         11
         2     GVREIT      69000   24-12-30   25-10-10       6.50       6.50       0.00       0.00       0.00          0
         2        MCS      75000   24-12-30   25-10-10       6.70       8.35       1.65      24.63 123,750.00         33
         2        NER      27000   24-12-30   25-10-10       4.62       4.24      -0.38      -8.23 -10,260.00        -19
         2        PTT       7500   24-12-30   25-10-10      31.75      31.50      -0.25      -0.79  -1,875.00         -1
         2       SENA     105000   24-12-30   25-10-10       2.22       1.95      -0.27     -12.16 -28,350.00        -16
         2      TFFIF      20000   24-12-30   25-10-10       6.35       6.10      -0.25      -3.94  -5,000.00         -5
         2      WHAIR      50000   24-12-30   25-10-10       6.50       6.00      -0.50      -7.69 -25,000.00        -10
         2      WHART      20000   24-12-30   25-10-10      10.20       9.65      -0.55      -5.39 -11,000.00         -8
         3      3BBIF     120000   24-12-30   25-10-10       5.20       6.60       1.40      26.92 168,000.00         28
         3        BCH       4000   24-12-30   25-10-10      15.30      12.70      -2.60     -16.99 -10,400.00        -26
         3        PTG       3600   24-12-30   25-10-10       8.20       9.15       0.95      11.59   3,420.00         19
         3        RCL      27000   24-12-30   25-10-10      28.25      26.50      -1.75      -6.19 -47,250.00         -7
         3        STA      10000   24-12-30   25-10-10      18.10      12.50      -5.60     -30.94 -56,000.00        -56
         3      SYNEX      17500   24-12-30   25-10-10      15.40      11.00      -4.40     -28.57 -77,000.00        -44
         3        TVO       4000   24-12-30   25-10-10      23.00      24.90       1.90       8.26   7,600.00         19
         4        CPF      10000   24-12-30   25-10-10      22.80      22.90       0.10       0.44   1,000.00          1
         4        IVL       7200   24-12-30   25-10-10      24.90      21.50      -3.40     -13.65 -24,480.00        -34
         4        ORI      50000   24-12-30   25-10-10       3.62       2.62      -1.00     -27.62 -50,000.00        -50
         4      PTTGC       6000   24-12-30   25-10-10      24.40      25.25       0.85       3.48   5,100.00          7
         4        SCC        600   24-12-30   25-10-10     168.00     212.00      44.00      26.19  26,400.00         76
         4     SINGER       6000   24-12-30   25-10-10       7.90       6.80      -1.10     -13.92  -6,600.00        -22

In [19]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [20]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [21]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df.style.format(format_dict).hide(axis="index")

In [22]:
df.sort_values(['spd'],ascending=True).style.format(format_dict).hide(axis="index")

In [23]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares   amount  spd
period
1        22200 -75280.0 -232
2       491000  16015.0  -27
3       186100 -11630.0  -67
4        79800 -48580.0  -22

In [24]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd  ttl_amt
period
1         22200  13.244000   9.896000 -3.348000 -46.400000 -75280.0
2        491000   9.667273   9.558182 -0.109091  -2.454545  16015.0
3        186100  16.207143  14.764286 -1.442857  -9.571429 -11630.0
4         79800  41.936667  48.511667  6.575000  -3.666667 -48580.0

In [25]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-119,475.00'

In [26]:
prev_pl = -119_475
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿2,590.00'