### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-02-28 2025-02-27

In [4]:
#today = date(2025, 1, 24)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-02-28 2025-02-27

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-02-28
Today in mm-dd format: 02-28
yesterday: 2025-02-27 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-02-28

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-02-27 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      ASP   30000
2       1      IVL    7200
3       1      ORI   60000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       1      STA   10000
8       1      TOA    1000
9       2   AIMIRT   12500
10      2  CPNREIT   55000
11      2      DIF   35000
12      2   GVREIT   75000
13      2      MCS   81000
14      2      NER   27000
15      2     SENA  105000
16      2    TFFIF   20000
17      2    WHAIR   50000
18      2    WHART   20000
19      3    3BBIF  120000
20      3    JMART    6800
21      3      JMT    4200
22      3      KCE   10000
23      4      AWC    9000
24      4      BCH    4000
25      4      PTG    3600
26      4      RCL   27000
27      4    SYNEX   15000
28      4      TVO    4000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-02-28      16.30      13.50      -2.80     -17.18  -3,360.00        -28
         1        ASP      30000   24-12-30   25-02-28       2.36       2.24      -0.12      -5.08  -3,600.00         -6
         1        IVL       7200   24-12-30   25-02-28      24.90      19.10      -5.80     -23.29 -41,760.00        -58
         1        ORI      60000   24-12-30   25-02-28       3.62       2.96      -0.66     -18.23 -39,600.00        -33
         1      PTTGC       6000   24-12-30   25-02-28      24.40      15.90      -8.50     -34.84 -51,000.00        -85
         1        SCC        600   24-12-30   25-02-28     168.00     127.50     -40.50     -24.11 -24,300.00        -81
         1     SINGER       6000   24-12-30   25-02-28       7.90       5.40      -2.50     -31.65 -15,000.00        -50
         1        STA      10000   24-12-30   25-02-28      18.10      15.80      -2.30     -12.71 -23,000.00        -23
         1        TOA       1000   24-12-30   25-02-28      15.00      11.40      -3.60     -24.00  -3,600.00        -36
         2     AIMIRT      12500   24-12-30   25-02-28      10.60      10.60       0.00       0.00       0.00          0
         2    CPNREIT      55000   24-12-30   25-02-28      12.30      11.70      -0.60      -4.88 -33,000.00         -6
         2        DIF      35000   24-12-30   25-02-28       8.60       7.85      -0.75      -8.72 -26,250.00        -15
         2     GVREIT      75000   24-12-30   25-02-28       6.50       6.55       0.05       0.77   3,750.00          1
         2        MCS      81000   24-12-30   25-02-28       6.70       7.10       0.40       5.97  32,400.00          8
         2        NER      27000   24-12-30   25-02-28       4.62       4.96       0.34       7.36   9,180.00         17
         2       SENA     105000   24-12-30   25-02-28       2.22       2.20      -0.02      -0.90  -2,100.00         -1
         2      TFFIF      20000   24-12-30   25-02-28       6.35       6.30      -0.05      -0.79  -1,000.00         -1
         2      WHAIR      50000   24-12-30   25-02-28       6.50       5.65      -0.85     -13.08 -42,500.00        -17
         2      WHART      20000   24-12-30   25-02-28      10.20      10.20       0.00       0.00       0.00          0
         3      3BBIF     120000   24-12-30   25-02-28       5.20       5.35       0.15       2.88  18,000.00          3
         3      JMART       6800   24-12-30   25-02-28      13.20       9.45      -3.75     -28.41 -25,500.00        -43
         3        JMT       4200   24-12-30   25-02-28      18.20      11.90      -6.30     -34.62 -26,460.00        -63
         3        KCE      10000   24-12-30   25-02-28      24.50      18.30      -6.20     -25.31 -62,000.00        -62
         4        AWC       9000   24-12-30   25-02-28       3.52       2.92      -0.60     -17.05  -5,400.00        -30
         4        BCH       4000   24-12-30   25-02-28      15.30      16.20       0.90       5.88   3,600.00          9
         4        PTG       3600   24-12-30   25-02-28       8.20       7.20      -1.00     -12.20  -3,600.00        -20
         4        RCL      27000   24-12-30   25-02-28      28.25      24.40      -3.85     -13.63 -103,950.00        -19
         4      SYNEX      15000   24-12-30   25-02-28      15.40      10.90      -4.50     -29.22 -67,500.00        -45
         4        TVO       4000   24-12-30   25-02-28      23.00      22.40      -0.60      -2.61  -2,400.00         -6

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-02-28,16.30,13.50,-2.80,-17.18,-3360.0,-28
1,1,ASP,30000,2024-12-30,2025-02-28,2.36,2.24,-0.12,-5.08,-3600.0,-6
2,1,IVL,7200,2024-12-30,2025-02-28,24.90,19.10,-5.80,-23.29,-41760.0,-58
3,1,ORI,60000,2024-12-30,2025-02-28,3.62,2.96,-0.66,-18.23,-39600.0,-33
4,1,PTTGC,6000,2024-12-30,2025-02-28,24.40,15.90,-8.50,-34.84,-51000.0,-85
5,1,SCC,600,2024-12-30,2025-02-28,168.00,127.50,-40.50,-24.11,-24300.0,-81
6,1,SINGER,6000,2024-12-30,2025-02-28,7.90,5.40,-2.50,-31.65,-15000.0,-50
7,1,STA,10000,2024-12-30,2025-02-28,18.10,15.80,-2.30,-12.71,-23000.0,-23
8,1,TOA,1000,2024-12-30,2025-02-28,15.00,11.40,-3.60,-24.00,-3600.0,-36
9,2,AIMIRT,12500,2024-12-30,2025-02-28,10.60,10.60,0.00,0.00,0.0,0
10,2,CPNREIT,55000,2024-12-30,2025-02-28,12.30,11.70,-0.60,-4.88,-33000.0,-6
11,2,DIF,35000,2024-12-30,2025-02-28,8.60,7.85,-0.75,-8.72,-26250.0,-15
12,2,GVREIT,75000,2024-12-30,2025-02-28,6.50,6.55,0.05,0.77,3750.0,1
13,2,MCS,81000,2024-12-30,2025-02-28,6.70,7.10,0.40,5.97,32400.0,8
14,2,NER,27000,2024-12-30,2025-02-28,4.62,4.96,0.34,7.36,9180.0,17
15,2,SENA,105000,2024-12-30,2025-02-28,2.22,2.20,-0.02,-0.90,-2100.0,-1
16,2,TFFIF,20000,2024-12-30,2025-02-28,6.35,6.30,-0.05,-0.79,-1000.0,-1
17,2,WHAIR,50000,2024-12-30,2025-02-28,6.50,5.65,-0.85,-13.08,-42500.0,-17
18,2,WHART,20000,2024-12-30,2025-02-28,10.20,10.20,0.00,0.00,0.0,0
19,3,3BBIF,120000,2024-12-30,2025-02-28,5.20,5.35,0.15,2.88,18000.0,3
20,3,JMART,6800,2024-12-30,2025-02-28,13.20,9.45,-3.75,-28.41,-25500.0,-43
21,3,JMT,4200,2024-12-30,2025-02-28,18.20,11.90,-6.30,-34.62,-26460.0,-63
22,3,KCE,10000,2024-12-30,2025-02-28,24.50,18.30,-6.20,-25.31,-62000.0,-62
23,4,AWC,9000,2024-12-30,2025-02-28,3.52,2.92,-0.60,-17.05,-5400.0,-30
24,4,BCH,4000,2024-12-30,2025-02-28,15.30,16.20,0.90,5.88,3600.0,9
25,4,PTG,3600,2024-12-30,2025-02-28,8.20,7.20,-1.00,-12.20,-3600.0,-20
26,4,RCL,27000,2024-12-30,2025-02-28,28.25,24.40,-3.85,-13.63,-103950.0,-19
27,4,SYNEX,15000,2024-12-30,2025-02-28,15.40,10.90,-4.50,-29.22,-67500.0,-45
28,4,TVO,4000,2024-12-30,2025-02-28,23.00,22.40,-0.60,-2.61,-2400.0,-6

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
4,1,PTTGC,6000,2024-12-30,2025-02-28,24.40,15.90,-8.50,-34.84,-51000.0,-85
5,1,SCC,600,2024-12-30,2025-02-28,168.00,127.50,-40.50,-24.11,-24300.0,-81
21,3,JMT,4200,2024-12-30,2025-02-28,18.20,11.90,-6.30,-34.62,-26460.0,-63
22,3,KCE,10000,2024-12-30,2025-02-28,24.50,18.30,-6.20,-25.31,-62000.0,-62
2,1,IVL,7200,2024-12-30,2025-02-28,24.90,19.10,-5.80,-23.29,-41760.0,-58
6,1,SINGER,6000,2024-12-30,2025-02-28,7.90,5.40,-2.50,-31.65,-15000.0,-50
27,4,SYNEX,15000,2024-12-30,2025-02-28,15.40,10.90,-4.50,-29.22,-67500.0,-45
20,3,JMART,6800,2024-12-30,2025-02-28,13.20,9.45,-3.75,-28.41,-25500.0,-43
8,1,TOA,1000,2024-12-30,2025-02-28,15.00,11.40,-3.60,-24.00,-3600.0,-36
3,1,ORI,60000,2024-12-30,2025-02-28,3.62,2.96,-0.66,-18.23,-39600.0,-33
23,4,AWC,9000,2024-12-30,2025-02-28,3.52,2.92,-0.60,-17.05,-5400.0,-30
0,1,AH,1200,2024-12-30,2025-02-28,16.30,13.50,-2.80,-17.18,-3360.0,-28
7,1,STA,10000,2024-12-30,2025-02-28,18.10,15.80,-2.30,-12.71,-23000.0,-23
25,4,PTG,3600,2024-12-30,2025-02-28,8.20,7.20,-1.00,-12.20,-3600.0,-20
26,4,RCL,27000,2024-12-30,2025-02-28,28.25,24.40,-3.85,-13.63,-103950.0,-19
17,2,WHAIR,50000,2024-12-30,2025-02-28,6.50,5.65,-0.85,-13.08,-42500.0,-17
11,2,DIF,35000,2024-12-30,2025-02-28,8.60,7.85,-0.75,-8.72,-26250.0,-15
28,4,TVO,4000,2024-12-30,2025-02-28,23.00,22.40,-0.60,-2.61,-2400.0,-6
10,2,CPNREIT,55000,2024-12-30,2025-02-28,12.30,11.70,-0.60,-4.88,-33000.0,-6
1,1,ASP,30000,2024-12-30,2025-02-28,2.36,2.24,-0.12,-5.08,-3600.0,-6
15,2,SENA,105000,2024-12-30,2025-02-28,2.22,2.20,-0.02,-0.90,-2100.0,-1
16,2,TFFIF,20000,2024-12-30,2025-02-28,6.35,6.30,-0.05,-0.79,-1000.0,-1
18,2,WHART,20000,2024-12-30,2025-02-28,10.20,10.20,0.00,0.00,0.0,0
9,2,AIMIRT,12500,2024-12-30,2025-02-28,10.60,10.60,0.00,0.00,0.0,0
12,2,GVREIT,75000,2024-12-30,2025-02-28,6.50,6.55,0.05,0.77,3750.0,1
19,3,3BBIF,120000,2024-12-30,2025-02-28,5.20,5.35,0.15,2.88,18000.0,3
13,2,MCS,81000,2024-12-30,2025-02-28,6.70,7.10,0.40,5.97,32400.0,8
24,4,BCH,4000,2024-12-30,2025-02-28,15.30,16.20,0.90,5.88,3600.0,9
14,2,NER,27000,2024-12-30,2025-02-28,4.62,4.96,0.34,7.36,9180.0,17

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1       122000 -205220.0 -400
2       480500  -59520.0  -14
3       141000  -95960.0 -165
4        62600 -179250.0 -111

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1        122000  31.175556  23.755556 -7.420000 -44.444444 -205220.0
2        480500   7.459000   7.311000 -0.148000  -1.400000  -59520.0
3        141000  15.275000  11.250000 -4.025000 -41.250000  -95960.0
4         62600  15.611667  14.003333 -1.608333 -18.500000 -179250.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-539,950.00'

In [25]:
prev_pl = -482_220
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-57,730.00'