### Modify 2 statements then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-02-14 2025-02-13

In [5]:
#today = date(2025, 1, 24)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-02-14 2025-02-13

In [7]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-02-14
Today in mm-dd format: 02-14
yesterday: 2025-02-13 00:00:00

In [9]:
# If run after actual work day
#today = date(2025,1,3)
print(today)

2025-02-14

In [11]:
#yesterday = yesterday.date()
#yesterday = date(2025,1,2)
print(yesterday)

2025-02-13 00:00:00

In [13]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [15]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [17]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      ASK    6000
2       1      ASP   30000
3       1      IVL    7200
4       1      ORI   50000
5       1    PTTGC    6000
6       1      SCC     600
7       1   SINGER    6000
8       1      STA   10000
9       1      TMT   36000
10      1      TOA    1000
11      2   AIMIRT   12500
12      2  CPNREIT   55000
13      2      DIF   35000
14      2   GVREIT   75000
15      2      MCS   75000
16      2      NER   27000
17      2     SENA  105000
18      2    TFFIF   20000
19      2    WHAIR   50000
20      2    WHART   20000
21      3    3BBIF  120000
22      3    JMART    6800
23      3      JMT    4200
24      3      KCE   10000
25      4      AWC    9000
26      4      BCH    4000
27      4      PTG    3600
28      4      RCL   27000
29      4    SYNEX   15000
30      4      TVO    4000

In [19]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [21]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [23]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [26]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [28]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [30]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-02-14      16.30      14.00      -2.30     -14.11  -2,760.00        -23
         1        ASK       6000   24-12-30   25-02-14      10.30       7.60      -2.70     -26.21 -16,200.00        -51
         1        ASP      30000   24-12-30   25-02-14       2.36       2.30      -0.06      -2.54  -1,800.00         -3
         1        IVL       7200   24-12-30   25-02-14      24.90      23.00      -1.90      -7.63 -13,680.00        -19
         1        ORI      50000   24-12-30   25-02-14       3.62       2.90      -0.72     -19.89 -36,000.00        -36
         1      PTTGC       6000   24-12-30   25-02-14      24.40      19.40      -5.00     -20.49 -30,000.00        -50
         1        SCC        600   24-12-30   25-02-14     168.00     145.50     -22.50     -13.39 -13,500.00        -45
         1     SINGER       6000   24-12-30   25-02-14       7.90       5.80      -2.10     -26.58 -12,600.00        -42
         1        STA      10000   24-12-30   25-02-14      18.10      15.90      -2.20     -12.15 -22,000.00        -22
         1        TMT      36000   24-12-30   25-02-14       3.14       3.04      -0.10      -3.18  -3,600.00         -5
         1        TOA       1000   24-12-30   25-02-14      15.00      12.30      -2.70     -18.00  -2,700.00        -27
         2     AIMIRT      12500   24-12-30   25-02-14      10.60      10.60       0.00       0.00       0.00          0
         2    CPNREIT      55000   24-12-30   25-02-14      12.30      12.10      -0.20      -1.63 -11,000.00         -2
         2        DIF      35000   24-12-30   25-02-14       8.60       8.15      -0.45      -5.23 -15,750.00         -9
         2     GVREIT      75000   24-12-30   25-02-14       6.50       6.70       0.20       3.08  15,000.00          4
         2        MCS      75000   24-12-30   25-02-14       6.70       6.45      -0.25      -3.73 -18,750.00         -5
         2        NER      27000   24-12-30   25-02-14       4.62       4.80       0.18       3.90   4,860.00          9
         2       SENA     105000   24-12-30   25-02-14       2.22       2.10      -0.12      -5.41 -12,600.00         -6
         2      TFFIF      20000   24-12-30   25-02-14       6.35       6.30      -0.05      -0.79  -1,000.00         -1
         2      WHAIR      50000   24-12-30   25-02-14       6.50       6.25      -0.25      -3.85 -12,500.00         -5
         2      WHART      20000   24-12-30   25-02-14      10.20      10.10      -0.10      -0.98  -2,000.00         -1
         3      3BBIF     120000   24-12-30   25-02-14       5.20       5.35       0.15       2.88  18,000.00          3
         3      JMART       6800   24-12-30   25-02-14      13.20       9.95      -3.25     -24.62 -22,100.00        -33
         3        JMT       4200   24-12-30   25-02-14      18.20      13.40      -4.80     -26.37 -20,160.00        -48
         3        KCE      10000   24-12-30   25-02-14      24.50      20.80      -3.70     -15.10 -37,000.00        -37
         4        AWC       9000   24-12-30   25-02-14       3.52       3.04      -0.48     -13.64  -4,320.00        -24
         4        BCH       4000   24-12-30   25-02-14      15.30      13.70      -1.60     -10.46  -6,400.00        -16
         4        PTG       3600   24-12-30   25-02-14       8.20       7.10      -1.10     -13.41  -3,960.00        -22
         4        RCL      27000   24-12-30   25-02-14      28.25      24.80      -3.45     -12.21 -93,150.00        -14
         4      SYNEX      15000   24-12-30   25-02-14      15.40      10.00      -5.40     -35.06 -81,000.00        -54
         4        TVO       4000   24-12-30   25-02-14      23.00      21.30      -1.70      -7.39  -6,800.00        -17

In [31]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [32]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [33]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-02-14,16.30,14.00,-2.30,-14.11,-2760.0,-23
1,1,ASK,6000,2024-12-30,2025-02-14,10.30,7.60,-2.70,-26.21,-16200.0,-51
2,1,ASP,30000,2024-12-30,2025-02-14,2.36,2.30,-0.06,-2.54,-1800.0,-3
3,1,IVL,7200,2024-12-30,2025-02-14,24.90,23.00,-1.90,-7.63,-13680.0,-19
4,1,ORI,50000,2024-12-30,2025-02-14,3.62,2.90,-0.72,-19.89,-36000.0,-36
5,1,PTTGC,6000,2024-12-30,2025-02-14,24.40,19.40,-5.00,-20.49,-30000.0,-50
6,1,SCC,600,2024-12-30,2025-02-14,168.00,145.50,-22.50,-13.39,-13500.0,-45
7,1,SINGER,6000,2024-12-30,2025-02-14,7.90,5.80,-2.10,-26.58,-12600.0,-42
8,1,STA,10000,2024-12-30,2025-02-14,18.10,15.90,-2.20,-12.15,-22000.0,-22
9,1,TMT,36000,2024-12-30,2025-02-14,3.14,3.04,-0.10,-3.18,-3600.0,-5
10,1,TOA,1000,2024-12-30,2025-02-14,15.00,12.30,-2.70,-18.00,-2700.0,-27
11,2,AIMIRT,12500,2024-12-30,2025-02-14,10.60,10.60,0.00,0.00,0.0,0
12,2,CPNREIT,55000,2024-12-30,2025-02-14,12.30,12.10,-0.20,-1.63,-11000.0,-2
13,2,DIF,35000,2024-12-30,2025-02-14,8.60,8.15,-0.45,-5.23,-15750.0,-9
14,2,GVREIT,75000,2024-12-30,2025-02-14,6.50,6.70,0.20,3.08,15000.0,4
15,2,MCS,75000,2024-12-30,2025-02-14,6.70,6.45,-0.25,-3.73,-18750.0,-5
16,2,NER,27000,2024-12-30,2025-02-14,4.62,4.80,0.18,3.90,4860.0,9
17,2,SENA,105000,2024-12-30,2025-02-14,2.22,2.10,-0.12,-5.41,-12600.0,-6
18,2,TFFIF,20000,2024-12-30,2025-02-14,6.35,6.30,-0.05,-0.79,-1000.0,-1
19,2,WHAIR,50000,2024-12-30,2025-02-14,6.50,6.25,-0.25,-3.85,-12500.0,-5
20,2,WHART,20000,2024-12-30,2025-02-14,10.20,10.10,-0.10,-0.98,-2000.0,-1
21,3,3BBIF,120000,2024-12-30,2025-02-14,5.20,5.35,0.15,2.88,18000.0,3
22,3,JMART,6800,2024-12-30,2025-02-14,13.20,9.95,-3.25,-24.62,-22100.0,-33
23,3,JMT,4200,2024-12-30,2025-02-14,18.20,13.40,-4.80,-26.37,-20160.0,-48
24,3,KCE,10000,2024-12-30,2025-02-14,24.50,20.80,-3.70,-15.10,-37000.0,-37
25,4,AWC,9000,2024-12-30,2025-02-14,3.52,3.04,-0.48,-13.64,-4320.0,-24
26,4,BCH,4000,2024-12-30,2025-02-14,15.30,13.70,-1.60,-10.46,-6400.0,-16
27,4,PTG,3600,2024-12-30,2025-02-14,8.20,7.10,-1.10,-13.41,-3960.0,-22
28,4,RCL,27000,2024-12-30,2025-02-14,28.25,24.80,-3.45,-12.21,-93150.0,-14
29,4,SYNEX,15000,2024-12-30,2025-02-14,15.40,10.00,-5.40,-35.06,-81000.0,-54
30,4,TVO,4000,2024-12-30,2025-02-14,23.00,21.30,-1.70,-7.39,-6800.0,-17

In [38]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
29,4,SYNEX,15000,2024-12-30,2025-02-14,15.40,10.00,-5.40,-35.06,-81000.0,-54
1,1,ASK,6000,2024-12-30,2025-02-14,10.30,7.60,-2.70,-26.21,-16200.0,-51
5,1,PTTGC,6000,2024-12-30,2025-02-14,24.40,19.40,-5.00,-20.49,-30000.0,-50
23,3,JMT,4200,2024-12-30,2025-02-14,18.20,13.40,-4.80,-26.37,-20160.0,-48
6,1,SCC,600,2024-12-30,2025-02-14,168.00,145.50,-22.50,-13.39,-13500.0,-45
7,1,SINGER,6000,2024-12-30,2025-02-14,7.90,5.80,-2.10,-26.58,-12600.0,-42
24,3,KCE,10000,2024-12-30,2025-02-14,24.50,20.80,-3.70,-15.10,-37000.0,-37
4,1,ORI,50000,2024-12-30,2025-02-14,3.62,2.90,-0.72,-19.89,-36000.0,-36
22,3,JMART,6800,2024-12-30,2025-02-14,13.20,9.95,-3.25,-24.62,-22100.0,-33
10,1,TOA,1000,2024-12-30,2025-02-14,15.00,12.30,-2.70,-18.00,-2700.0,-27
25,4,AWC,9000,2024-12-30,2025-02-14,3.52,3.04,-0.48,-13.64,-4320.0,-24
0,1,AH,1200,2024-12-30,2025-02-14,16.30,14.00,-2.30,-14.11,-2760.0,-23
27,4,PTG,3600,2024-12-30,2025-02-14,8.20,7.10,-1.10,-13.41,-3960.0,-22
8,1,STA,10000,2024-12-30,2025-02-14,18.10,15.90,-2.20,-12.15,-22000.0,-22
3,1,IVL,7200,2024-12-30,2025-02-14,24.90,23.00,-1.90,-7.63,-13680.0,-19
30,4,TVO,4000,2024-12-30,2025-02-14,23.00,21.30,-1.70,-7.39,-6800.0,-17
26,4,BCH,4000,2024-12-30,2025-02-14,15.30,13.70,-1.60,-10.46,-6400.0,-16
28,4,RCL,27000,2024-12-30,2025-02-14,28.25,24.80,-3.45,-12.21,-93150.0,-14
13,2,DIF,35000,2024-12-30,2025-02-14,8.60,8.15,-0.45,-5.23,-15750.0,-9
17,2,SENA,105000,2024-12-30,2025-02-14,2.22,2.10,-0.12,-5.41,-12600.0,-6
19,2,WHAIR,50000,2024-12-30,2025-02-14,6.50,6.25,-0.25,-3.85,-12500.0,-5
9,1,TMT,36000,2024-12-30,2025-02-14,3.14,3.04,-0.10,-3.18,-3600.0,-5
15,2,MCS,75000,2024-12-30,2025-02-14,6.70,6.45,-0.25,-3.73,-18750.0,-5
2,1,ASP,30000,2024-12-30,2025-02-14,2.36,2.30,-0.06,-2.54,-1800.0,-3
12,2,CPNREIT,55000,2024-12-30,2025-02-14,12.30,12.10,-0.20,-1.63,-11000.0,-2
18,2,TFFIF,20000,2024-12-30,2025-02-14,6.35,6.30,-0.05,-0.79,-1000.0,-1
20,2,WHART,20000,2024-12-30,2025-02-14,10.20,10.10,-0.10,-0.98,-2000.0,-1
11,2,AIMIRT,12500,2024-12-30,2025-02-14,10.60,10.60,0.00,0.00,0.0,0
21,3,3BBIF,120000,2024-12-30,2025-02-14,5.20,5.35,0.15,2.88,18000.0,3
14,2,GVREIT,75000,2024-12-30,2025-02-14,6.50,6.70,0.20,3.08,15000.0,4
16,2,NER,27000,2024-12-30,2025-02-14,4.62,4.80,0.18,3.90,4860.0,9

In [40]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1       154000 -154840.0 -323
2       474500  -53740.0  -16
3       141000  -61260.0 -115
4        62600 -195630.0 -147

In [42]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1        154000  26.729091  22.885455 -3.843636 -29.363636 -154840.0
2        474500   7.459000   7.355000 -0.104000  -1.600000  -53740.0
3        141000  15.275000  12.375000 -2.900000 -28.750000  -61260.0
4         62600  15.611667  13.323333 -2.288333 -24.500000 -195630.0

In [44]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-465,470.00'

In [46]:
prev_pl = -441_160
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-24,310.00'