### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-09-03 2025-09-02

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-09-03 2025-09-02

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-09-03
Today in mm-dd format: 09-03
yesterday: 2025-09-01 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-09-03

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-09-01 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   50000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   17500
8       2  CPNREIT   55000
9       2      DIF   45000
10      2   GVREIT   69000
11      2      MCS   75000
12      2      NER   27000
13      2      PTT    5000
14      2     SENA  105000
15      2    TFFIF   20000
16      2    WHAIR   50000
17      2    WHART   25000
18      3    3BBIF  120000
19      3      BCH    4000
20      3      IVL    7200
21      3      RCL   27000
22      3      STA   10000
23      3    SYNEX   17500
24      3      TVO    8000
25      4      CPF    5000
26      4      JMT    4200
27      4      PTG    3600
28      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-09-03      16.30      14.40      -1.90     -11.66  -2,280.00        -19
         1        AWC       9000   24-12-30   25-09-03       3.52       2.32      -1.20     -34.09 -10,800.00        -60
         1      JMART       6800   24-12-30   25-09-03      13.20       9.05      -4.15     -31.44 -28,220.00        -50
         1        ORI      50000   24-12-30   25-09-03       3.62       2.22      -1.40     -38.67 -70,000.00        -70
         1      PTTGC       6000   24-12-30   25-09-03      24.40      27.50       3.10      12.70  18,600.00         16
         1        SCC        600   24-12-30   25-09-03     168.00     217.00      49.00      29.17  29,400.00         81
         1     SINGER       6000   24-12-30   25-09-03       7.90       5.90      -2.00     -25.32 -12,000.00        -40
         2     AIMIRT      17500   24-12-30   25-09-03      10.60       9.75      -0.85      -8.02 -14,875.00        -11
         2    CPNREIT      55000   24-12-30   25-09-03      12.30      11.10      -1.20      -9.76 -66,000.00        -12
         2        DIF      45000   24-12-30   25-09-03       8.60       8.45      -0.15      -1.74  -6,750.00         -3
         2     GVREIT      69000   24-12-30   25-09-03       6.50       6.25      -0.25      -3.85 -17,250.00         -5
         2        MCS      75000   24-12-30   25-09-03       6.70       8.40       1.70      25.37 127,500.00         34
         2        NER      27000   24-12-30   25-09-03       4.62       4.36      -0.26      -5.63  -7,020.00        -13
         2        PTT       5000   24-12-30   25-09-03      31.75      32.00       0.25       0.79   1,250.00          1
         2       SENA     105000   24-12-30   25-09-03       2.22       1.87      -0.35     -15.77 -36,750.00        -23
         2      TFFIF      20000   24-12-30   25-09-03       6.35       5.85      -0.50      -7.87 -10,000.00        -10
         2      WHAIR      50000   24-12-30   25-09-03       6.50       5.45      -1.05     -16.15 -52,500.00        -21
         2      WHART      25000   24-12-30   25-09-03      10.20       8.95      -1.25     -12.25 -31,250.00        -23
         3      3BBIF     120000   24-12-30   25-09-03       5.20       6.25       1.05      20.19 126,000.00         21
         3        BCH       4000   24-12-30   25-09-03      15.30      12.90      -2.40     -15.69  -9,600.00        -24
         3        IVL       7200   24-12-30   25-09-03      24.90      21.80      -3.10     -12.45 -22,320.00        -31
         3        RCL      27000   24-12-30   25-09-03      28.25      27.00      -1.25      -4.42 -33,750.00         -5
         3        STA      10000   24-12-30   25-09-03      18.10      12.00      -6.10     -33.70 -61,000.00        -61
         3      SYNEX      17500   24-12-30   25-09-03      15.40      12.30      -3.10     -20.13 -54,250.00        -31
         3        TVO       8000   24-12-30   25-09-03      23.00      24.80       1.80       7.83  14,400.00         18
         4        CPF       5000   24-12-30   25-09-03      22.80      22.30      -0.50      -2.19  -2,500.00         -5
         4        JMT       4200   24-12-30   25-09-03      18.20      12.10      -6.10     -33.52 -25,620.00        -61
         4        PTG       3600   24-12-30   25-09-03       8.20       7.70      -0.50      -6.10  -1,800.00        -10
         4        TOA       1000   24-12-30   25-09-03      15.00      14.90      -0.10      -0.67    -100.00         -1

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-09-03,16.30,14.40,-1.90,-11.66,-2280.0,-19
1,1,AWC,9000,2024-12-30,2025-09-03,3.52,2.32,-1.20,-34.09,-10800.0,-60
2,1,JMART,6800,2024-12-30,2025-09-03,13.20,9.05,-4.15,-31.44,-28220.0,-50
3,1,ORI,50000,2024-12-30,2025-09-03,3.62,2.22,-1.40,-38.67,-70000.0,-70
4,1,PTTGC,6000,2024-12-30,2025-09-03,24.40,27.50,3.10,12.70,18600.0,16
5,1,SCC,600,2024-12-30,2025-09-03,168.00,217.00,49.00,29.17,29400.0,81
6,1,SINGER,6000,2024-12-30,2025-09-03,7.90,5.90,-2.00,-25.32,-12000.0,-40
7,2,AIMIRT,17500,2024-12-30,2025-09-03,10.60,9.75,-0.85,-8.02,-14875.0,-11
8,2,CPNREIT,55000,2024-12-30,2025-09-03,12.30,11.10,-1.20,-9.76,-66000.0,-12
9,2,DIF,45000,2024-12-30,2025-09-03,8.60,8.45,-0.15,-1.74,-6750.0,-3
10,2,GVREIT,69000,2024-12-30,2025-09-03,6.50,6.25,-0.25,-3.85,-17250.0,-5
11,2,MCS,75000,2024-12-30,2025-09-03,6.70,8.40,1.70,25.37,127500.0,34
12,2,NER,27000,2024-12-30,2025-09-03,4.62,4.36,-0.26,-5.63,-7020.0,-13
13,2,PTT,5000,2024-12-30,2025-09-03,31.75,32.00,0.25,0.79,1250.0,1
14,2,SENA,105000,2024-12-30,2025-09-03,2.22,1.87,-0.35,-15.77,-36750.0,-23
15,2,TFFIF,20000,2024-12-30,2025-09-03,6.35,5.85,-0.50,-7.87,-10000.0,-10
16,2,WHAIR,50000,2024-12-30,2025-09-03,6.50,5.45,-1.05,-16.15,-52500.0,-21
17,2,WHART,25000,2024-12-30,2025-09-03,10.20,8.95,-1.25,-12.25,-31250.0,-23
18,3,3BBIF,120000,2024-12-30,2025-09-03,5.20,6.25,1.05,20.19,126000.0,21
19,3,BCH,4000,2024-12-30,2025-09-03,15.30,12.90,-2.40,-15.69,-9600.0,-24
20,3,IVL,7200,2024-12-30,2025-09-03,24.90,21.80,-3.10,-12.45,-22320.0,-31
21,3,RCL,27000,2024-12-30,2025-09-03,28.25,27.00,-1.25,-4.42,-33750.0,-5
22,3,STA,10000,2024-12-30,2025-09-03,18.10,12.00,-6.10,-33.70,-61000.0,-61
23,3,SYNEX,17500,2024-12-30,2025-09-03,15.40,12.30,-3.10,-20.13,-54250.0,-31
24,3,TVO,8000,2024-12-30,2025-09-03,23.00,24.80,1.80,7.83,14400.0,18
25,4,CPF,5000,2024-12-30,2025-09-03,22.80,22.30,-0.50,-2.19,-2500.0,-5
26,4,JMT,4200,2024-12-30,2025-09-03,18.20,12.10,-6.10,-33.52,-25620.0,-61
27,4,PTG,3600,2024-12-30,2025-09-03,8.20,7.70,-0.50,-6.10,-1800.0,-10
28,4,TOA,1000,2024-12-30,2025-09-03,15.00,14.90,-0.10,-0.67,-100.0,-1

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
3,1,ORI,50000,2024-12-30,2025-09-03,3.62,2.22,-1.40,-38.67,-70000.0,-70
26,4,JMT,4200,2024-12-30,2025-09-03,18.20,12.10,-6.10,-33.52,-25620.0,-61
22,3,STA,10000,2024-12-30,2025-09-03,18.10,12.00,-6.10,-33.70,-61000.0,-61
1,1,AWC,9000,2024-12-30,2025-09-03,3.52,2.32,-1.20,-34.09,-10800.0,-60
2,1,JMART,6800,2024-12-30,2025-09-03,13.20,9.05,-4.15,-31.44,-28220.0,-50
6,1,SINGER,6000,2024-12-30,2025-09-03,7.90,5.90,-2.00,-25.32,-12000.0,-40
23,3,SYNEX,17500,2024-12-30,2025-09-03,15.40,12.30,-3.10,-20.13,-54250.0,-31
20,3,IVL,7200,2024-12-30,2025-09-03,24.90,21.80,-3.10,-12.45,-22320.0,-31
19,3,BCH,4000,2024-12-30,2025-09-03,15.30,12.90,-2.40,-15.69,-9600.0,-24
14,2,SENA,105000,2024-12-30,2025-09-03,2.22,1.87,-0.35,-15.77,-36750.0,-23
17,2,WHART,25000,2024-12-30,2025-09-03,10.20,8.95,-1.25,-12.25,-31250.0,-23
16,2,WHAIR,50000,2024-12-30,2025-09-03,6.50,5.45,-1.05,-16.15,-52500.0,-21
0,1,AH,1200,2024-12-30,2025-09-03,16.30,14.40,-1.90,-11.66,-2280.0,-19
12,2,NER,27000,2024-12-30,2025-09-03,4.62,4.36,-0.26,-5.63,-7020.0,-13
8,2,CPNREIT,55000,2024-12-30,2025-09-03,12.30,11.10,-1.20,-9.76,-66000.0,-12
7,2,AIMIRT,17500,2024-12-30,2025-09-03,10.60,9.75,-0.85,-8.02,-14875.0,-11
27,4,PTG,3600,2024-12-30,2025-09-03,8.20,7.70,-0.50,-6.10,-1800.0,-10
15,2,TFFIF,20000,2024-12-30,2025-09-03,6.35,5.85,-0.50,-7.87,-10000.0,-10
10,2,GVREIT,69000,2024-12-30,2025-09-03,6.50,6.25,-0.25,-3.85,-17250.0,-5
21,3,RCL,27000,2024-12-30,2025-09-03,28.25,27.00,-1.25,-4.42,-33750.0,-5
25,4,CPF,5000,2024-12-30,2025-09-03,22.80,22.30,-0.50,-2.19,-2500.0,-5
9,2,DIF,45000,2024-12-30,2025-09-03,8.60,8.45,-0.15,-1.74,-6750.0,-3
28,4,TOA,1000,2024-12-30,2025-09-03,15.00,14.90,-0.10,-0.67,-100.0,-1
13,2,PTT,5000,2024-12-30,2025-09-03,31.75,32.00,0.25,0.79,1250.0,1
4,1,PTTGC,6000,2024-12-30,2025-09-03,24.40,27.50,3.10,12.70,18600.0,16
24,3,TVO,8000,2024-12-30,2025-09-03,23.00,24.80,1.80,7.83,14400.0,18
18,3,3BBIF,120000,2024-12-30,2025-09-03,5.20,6.25,1.05,20.19,126000.0,21
11,2,MCS,75000,2024-12-30,2025-09-03,6.70,8.40,1.70,25.37,127500.0,34
5,1,SCC,600,2024-12-30,2025-09-03,168.00,217.00,49.00,29.17,29400.0,81

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        79600  -75300.0 -142
2       493500 -113645.0  -86
3       193700  -40520.0 -113
4        13800  -30020.0  -77

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         79600  33.848571  39.770000  5.921429 -20.285714  -75300.0
2        493500   9.667273   9.311818 -0.355455  -7.818182 -113645.0
3        193700  18.592857  16.721429 -1.871429 -16.142857  -40520.0
4         13800  16.050000  14.250000 -1.800000 -19.250000  -30020.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-259,485.00'

In [25]:
prev_pl = -259_485
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿33,400.00'