### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-09-12 2025-09-11

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-09-12 2025-09-11

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-09-12
Today in mm-dd format: 09-12
yesterday: 2025-09-10 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-09-12

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-09-10 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}','price':'{:.2f}','price1':'{:.2f}','price2':'{:.2f}',
    'beta':'{:,.2f}','change':'{:.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%','%change':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}','volume':'{:,.0f}','shares':'{:,.0f}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}','amount':'{:,.2f}'
}

In [11]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy.style.format(format_dict).hide(axis="index")

In [12]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [13]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [14]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [16]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [17]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [18]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-09-12      16.30      14.40      -1.90     -11.66  -2,280.00        -19
         1        AWC       9000   24-12-30   25-09-12       3.52       2.32      -1.20     -34.09 -10,800.00        -60
         1      JMART       6800   24-12-30   25-09-12      13.20      10.10      -3.10     -23.48 -21,080.00        -31
         1        ORI      50000   24-12-30   25-09-12       3.62       2.72      -0.90     -24.86 -45,000.00        -45
         1      PTTGC       6000   24-12-30   25-09-12      24.40      27.75       3.35      13.73  20,100.00         17
         1        SCC        600   24-12-30   25-09-12     168.00     228.00      60.00      35.71  36,000.00         92
         1     SINGER       6000   24-12-30   25-09-12       7.90       7.50      -0.40      -5.06  -2,400.00         -8
         2     AIMIRT      17500   24-12-30   25-09-12      10.60      10.00      -0.60      -5.66 -10,500.00         -6
         2    CPNREIT      55000   24-12-30   25-09-12      12.30      11.80      -0.50      -4.07 -27,500.00         -5
         2        DIF      45000   24-12-30   25-09-12       8.60       9.05       0.45       5.23  20,250.00          9
         2     GVREIT      69000   24-12-30   25-09-12       6.50       6.40      -0.10      -1.54  -6,900.00         -2
         2        MCS      75000   24-12-30   25-09-12       6.70       8.65       1.95      29.10 146,250.00         39
         2        NER      27000   24-12-30   25-09-12       4.62       4.48      -0.14      -3.03  -3,780.00         -7
         2        PTT       5000   24-12-30   25-09-12      31.75      33.50       1.75       5.51   8,750.00          7
         2       SENA     105000   24-12-30   25-09-12       2.22       1.94      -0.28     -12.61 -29,400.00        -17
         2      TFFIF      20000   24-12-30   25-09-12       6.35       6.10      -0.25      -3.94  -5,000.00         -5
         2      WHAIR      50000   24-12-30   25-09-12       6.50       5.65      -0.85     -13.08 -42,500.00        -17
         2      WHART      25000   24-12-30   25-09-12      10.20       9.55      -0.65      -6.37 -16,250.00        -10
         3      3BBIF     120000   24-12-30   25-09-12       5.20       6.70       1.50      28.85 180,000.00         30
         3        BCH       4000   24-12-30   25-09-12      15.30      13.10      -2.20     -14.38  -8,800.00        -22
         3        IVL       7200   24-12-30   25-09-12      24.90      23.80      -1.10      -4.42  -7,920.00        -11
         3        RCL      27000   24-12-30   25-09-12      28.25      29.00       0.75       2.65  20,250.00          3
         3        STA      10000   24-12-30   25-09-12      18.10      13.20      -4.90     -27.07 -49,000.00        -49
         3      SYNEX      17500   24-12-30   25-09-12      15.40      12.40      -3.00     -19.48 -52,500.00        -30
         3        TVO       8000   24-12-30   25-09-12      23.00      25.25       2.25       9.78  18,000.00         21
         4        CPF          0   24-12-30   25-09-12      22.80      23.50       0.70       3.07       0.00          7
         4        JMT       4200   24-12-30   25-09-12      18.20      13.00      -5.20     -28.57 -21,840.00        -52
         4        PTG       3600   24-12-30   25-09-12       8.20       8.40       0.20       2.44     720.00          4
         4        TOA       1000   24-12-30   25-09-12      15.00      14.80      -0.20      -1.33    -200.00         -2

In [19]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [20]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [21]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df.style.format(format_dict).hide(axis="index")

In [22]:
df.sort_values(['spd'],ascending=True).style.format(format_dict).hide(axis="index")

In [23]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        79600  -25460.0  -54
2       493500   33420.0  -14
3       193700  100030.0  -58
4         8800  -21320.0  -43

In [24]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         79600  33.848571  41.827143  7.978571  -7.714286  -25460.0
2        493500   9.667273   9.738182  0.070909  -1.272727   33420.0
3        193700  18.592857  17.635714 -0.957143  -8.285714  100030.0
4          8800  16.050000  14.925000 -1.125000 -10.750000  -21320.0

In [25]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿86,670.00'

In [26]:
prev_pl = 86_670
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿13,090.00'