### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-29 2025-08-28

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-29 2025-08-28

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-29
Today in mm-dd format: 08-29
yesterday: 2025-08-27 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-29

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-08-27 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   50000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   17500
8       2  CPNREIT   55000
9       2      DIF   50000
10      2   GVREIT   69000
11      2      MCS   75000
12      2      NER   27000
13      2      PTT    2500
14      2     SENA  105000
15      2    TFFIF   20000
16      2    WHAIR   50000
17      2    WHART   25000
18      3    3BBIF  120000
19      3      BCH    4000
20      3      IVL    7200
21      3      RCL   27000
22      3      STA   10000
23      3    SYNEX   17500
24      3      TVO    8000
25      4      CPF    5000
26      4      JMT    4200
27      4      PTG    3600
28      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-29      16.30      14.40      -1.90     -11.66  -2,280.00        -19
         1        AWC       9000   24-12-30   25-08-29       3.52       2.22      -1.30     -36.93 -11,700.00        -65
         1      JMART       6800   24-12-30   25-08-29      13.20       8.25      -4.95     -37.50 -33,660.00        -67
         1        ORI      50000   24-12-30   25-08-29       3.62       2.18      -1.44     -39.78 -72,000.00        -72
         1      PTTGC       6000   24-12-30   25-08-29      24.40      26.25       1.85       7.58  11,100.00         11
         1        SCC        600   24-12-30   25-08-29     168.00     215.00      47.00      27.98  28,200.00         79
         1     SINGER       6000   24-12-30   25-08-29       7.90       5.50      -2.40     -30.38 -14,400.00        -48
         2     AIMIRT      17500   24-12-30   25-08-29      10.60       9.60      -1.00      -9.43 -17,500.00        -14
         2    CPNREIT      55000   24-12-30   25-08-29      12.30      10.90      -1.40     -11.38 -77,000.00        -14
         2        DIF      50000   24-12-30   25-08-29       8.60       8.20      -0.40      -4.65 -20,000.00         -8
         2     GVREIT      69000   24-12-30   25-08-29       6.50       6.20      -0.30      -4.62 -20,700.00         -6
         2        MCS      75000   24-12-30   25-08-29       6.70       8.35       1.65      24.63 123,750.00         33
         2        NER      27000   24-12-30   25-08-29       4.62       4.26      -0.36      -7.79  -9,720.00        -18
         2        PTT       2500   24-12-30   25-08-29      31.75      31.00      -0.75      -2.36  -1,875.00         -3
         2       SENA     105000   24-12-30   25-08-29       2.22       1.86      -0.36     -16.22 -37,800.00        -24
         2      TFFIF      20000   24-12-30   25-08-29       6.35       5.90      -0.45      -7.09  -9,000.00         -9
         2      WHAIR      50000   24-12-30   25-08-29       6.50       5.55      -0.95     -14.62 -47,500.00        -19
         2      WHART      25000   24-12-30   25-08-29      10.20       9.00      -1.20     -11.76 -30,000.00        -22
         3      3BBIF     120000   24-12-30   25-08-29       5.20       6.20       1.00      19.23 120,000.00         20
         3        BCH       4000   24-12-30   25-08-29      15.30      13.00      -2.30     -15.03  -9,200.00        -23
         3        IVL       7200   24-12-30   25-08-29      24.90      21.70      -3.20     -12.85 -23,040.00        -32
         3        RCL      27000   24-12-30   25-08-29      28.25      27.50      -0.75      -2.65 -20,250.00         -3
         3        STA      10000   24-12-30   25-08-29      18.10      12.10      -6.00     -33.15 -60,000.00        -60
         3      SYNEX      17500   24-12-30   25-08-29      15.40      11.80      -3.60     -23.38 -63,000.00        -36
         3        TVO       8000   24-12-30   25-08-29      23.00      24.70       1.70       7.39  13,600.00         17
         4        CPF       5000   24-12-30   25-08-29      22.80      21.90      -0.90      -3.95  -4,500.00         -9
         4        JMT       4200   24-12-30   25-08-29      18.20      11.70      -6.50     -35.71 -27,300.00        -65
         4        PTG       3600   24-12-30   25-08-29       8.20       7.75      -0.45      -5.49  -1,620.00         -9
         4        TOA       1000   24-12-30   25-08-29      15.00      13.80      -1.20      -8.00  -1,200.00        -12

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-29,16.30,14.40,-1.90,-11.66,-2280.0,-19
1,1,AWC,9000,2024-12-30,2025-08-29,3.52,2.22,-1.30,-36.93,-11700.0,-65
2,1,JMART,6800,2024-12-30,2025-08-29,13.20,8.25,-4.95,-37.50,-33660.0,-67
3,1,ORI,50000,2024-12-30,2025-08-29,3.62,2.18,-1.44,-39.78,-72000.0,-72
4,1,PTTGC,6000,2024-12-30,2025-08-29,24.40,26.25,1.85,7.58,11100.0,11
5,1,SCC,600,2024-12-30,2025-08-29,168.00,215.00,47.00,27.98,28200.0,79
6,1,SINGER,6000,2024-12-30,2025-08-29,7.90,5.50,-2.40,-30.38,-14400.0,-48
7,2,AIMIRT,17500,2024-12-30,2025-08-29,10.60,9.60,-1.00,-9.43,-17500.0,-14
8,2,CPNREIT,55000,2024-12-30,2025-08-29,12.30,10.90,-1.40,-11.38,-77000.0,-14
9,2,DIF,50000,2024-12-30,2025-08-29,8.60,8.20,-0.40,-4.65,-20000.0,-8
10,2,GVREIT,69000,2024-12-30,2025-08-29,6.50,6.20,-0.30,-4.62,-20700.0,-6
11,2,MCS,75000,2024-12-30,2025-08-29,6.70,8.35,1.65,24.63,123750.0,33
12,2,NER,27000,2024-12-30,2025-08-29,4.62,4.26,-0.36,-7.79,-9720.0,-18
13,2,PTT,2500,2024-12-30,2025-08-29,31.75,31.00,-0.75,-2.36,-1875.0,-3
14,2,SENA,105000,2024-12-30,2025-08-29,2.22,1.86,-0.36,-16.22,-37800.0,-24
15,2,TFFIF,20000,2024-12-30,2025-08-29,6.35,5.90,-0.45,-7.09,-9000.0,-9
16,2,WHAIR,50000,2024-12-30,2025-08-29,6.50,5.55,-0.95,-14.62,-47500.0,-19
17,2,WHART,25000,2024-12-30,2025-08-29,10.20,9.00,-1.20,-11.76,-30000.0,-22
18,3,3BBIF,120000,2024-12-30,2025-08-29,5.20,6.20,1.00,19.23,120000.0,20
19,3,BCH,4000,2024-12-30,2025-08-29,15.30,13.00,-2.30,-15.03,-9200.0,-23
20,3,IVL,7200,2024-12-30,2025-08-29,24.90,21.70,-3.20,-12.85,-23040.0,-32
21,3,RCL,27000,2024-12-30,2025-08-29,28.25,27.50,-0.75,-2.65,-20250.0,-3
22,3,STA,10000,2024-12-30,2025-08-29,18.10,12.10,-6.00,-33.15,-60000.0,-60
23,3,SYNEX,17500,2024-12-30,2025-08-29,15.40,11.80,-3.60,-23.38,-63000.0,-36
24,3,TVO,8000,2024-12-30,2025-08-29,23.00,24.70,1.70,7.39,13600.0,17
25,4,CPF,5000,2024-12-30,2025-08-29,22.80,21.90,-0.90,-3.95,-4500.0,-9
26,4,JMT,4200,2024-12-30,2025-08-29,18.20,11.70,-6.50,-35.71,-27300.0,-65
27,4,PTG,3600,2024-12-30,2025-08-29,8.20,7.75,-0.45,-5.49,-1620.0,-9
28,4,TOA,1000,2024-12-30,2025-08-29,15.00,13.80,-1.20,-8.00,-1200.0,-12

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
3,1,ORI,50000,2024-12-30,2025-08-29,3.62,2.18,-1.44,-39.78,-72000.0,-72
2,1,JMART,6800,2024-12-30,2025-08-29,13.20,8.25,-4.95,-37.50,-33660.0,-67
1,1,AWC,9000,2024-12-30,2025-08-29,3.52,2.22,-1.30,-36.93,-11700.0,-65
26,4,JMT,4200,2024-12-30,2025-08-29,18.20,11.70,-6.50,-35.71,-27300.0,-65
22,3,STA,10000,2024-12-30,2025-08-29,18.10,12.10,-6.00,-33.15,-60000.0,-60
6,1,SINGER,6000,2024-12-30,2025-08-29,7.90,5.50,-2.40,-30.38,-14400.0,-48
23,3,SYNEX,17500,2024-12-30,2025-08-29,15.40,11.80,-3.60,-23.38,-63000.0,-36
20,3,IVL,7200,2024-12-30,2025-08-29,24.90,21.70,-3.20,-12.85,-23040.0,-32
14,2,SENA,105000,2024-12-30,2025-08-29,2.22,1.86,-0.36,-16.22,-37800.0,-24
19,3,BCH,4000,2024-12-30,2025-08-29,15.30,13.00,-2.30,-15.03,-9200.0,-23
17,2,WHART,25000,2024-12-30,2025-08-29,10.20,9.00,-1.20,-11.76,-30000.0,-22
16,2,WHAIR,50000,2024-12-30,2025-08-29,6.50,5.55,-0.95,-14.62,-47500.0,-19
0,1,AH,1200,2024-12-30,2025-08-29,16.30,14.40,-1.90,-11.66,-2280.0,-19
12,2,NER,27000,2024-12-30,2025-08-29,4.62,4.26,-0.36,-7.79,-9720.0,-18
8,2,CPNREIT,55000,2024-12-30,2025-08-29,12.30,10.90,-1.40,-11.38,-77000.0,-14
7,2,AIMIRT,17500,2024-12-30,2025-08-29,10.60,9.60,-1.00,-9.43,-17500.0,-14
28,4,TOA,1000,2024-12-30,2025-08-29,15.00,13.80,-1.20,-8.00,-1200.0,-12
27,4,PTG,3600,2024-12-30,2025-08-29,8.20,7.75,-0.45,-5.49,-1620.0,-9
15,2,TFFIF,20000,2024-12-30,2025-08-29,6.35,5.90,-0.45,-7.09,-9000.0,-9
25,4,CPF,5000,2024-12-30,2025-08-29,22.80,21.90,-0.90,-3.95,-4500.0,-9
9,2,DIF,50000,2024-12-30,2025-08-29,8.60,8.20,-0.40,-4.65,-20000.0,-8
10,2,GVREIT,69000,2024-12-30,2025-08-29,6.50,6.20,-0.30,-4.62,-20700.0,-6
13,2,PTT,2500,2024-12-30,2025-08-29,31.75,31.00,-0.75,-2.36,-1875.0,-3
21,3,RCL,27000,2024-12-30,2025-08-29,28.25,27.50,-0.75,-2.65,-20250.0,-3
4,1,PTTGC,6000,2024-12-30,2025-08-29,24.40,26.25,1.85,7.58,11100.0,11
24,3,TVO,8000,2024-12-30,2025-08-29,23.00,24.70,1.70,7.39,13600.0,17
18,3,3BBIF,120000,2024-12-30,2025-08-29,5.20,6.20,1.00,19.23,120000.0,20
11,2,MCS,75000,2024-12-30,2025-08-29,6.70,8.35,1.65,24.63,123750.0,33
5,1,SCC,600,2024-12-30,2025-08-29,168.00,215.00,47.00,27.98,28200.0,79

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        79600  -94740.0 -181
2       496000 -147345.0 -104
3       193700  -41890.0 -117
4        13800  -34620.0  -95

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         79600  33.848571  39.114286  5.265714 -25.857143  -94740.0
2        496000   9.667273   9.165455 -0.501818  -9.454545 -147345.0
3        193700  18.592857  16.714286 -1.878571 -16.714286  -41890.0
4         13800  16.050000  13.787500 -2.262500 -23.750000  -34620.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-318,595.00'

In [25]:
prev_pl = -266_585
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-52,010.00'