### Modify 2 statements then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2025, 2, 7), datetime.date(2025, 2, 6))

In [4]:
#today = date(2025, 1, 24)
#yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2025, 2, 7), datetime.date(2025, 2, 6))

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-02-07
Today in mm-dd format: 02-07
yesterday: 2025-02-06 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,1,3)
today

datetime.date(2025, 2, 7)

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,1,2)
yesterday

Timestamp('2025-02-06 00:00:00')

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      ASK    6000
2       1      ASP   30000
3       1      IVL    7200
4       1      ORI   50000
5       1    PTTGC    6000
6       1      SCC     600
7       1   SINGER    6000
8       1      STA   10000
9       1      TMT   36000
10      1      TOA    1000
11      2   AIMIRT   12500
12      2  CPNREIT   55000
13      2      DIF   35000
14      2   GVREIT   60000
15      2      MCS   75000
16      2      NER   27000
17      2     SENA  105000
18      2    TFFIF   20000
19      2    WHAIR   50000
20      2    WHART   20000
21      3    3BBIF  120000
22      3    JMART    6800
23      3      JMT    4200
24      3      KCE   10000
25      4      AWC    9000
26      4      BCH    4000
27      4      PTG    3600
28      4      RCL   27000
29      4    SYNEX   15000
30      4      TVO    4000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-02-07      16.30      14.60      -1.70     -10.43  -2,040.00        -17
         1        ASK       6000   24-12-30   25-02-07      10.30       7.65      -2.65     -25.73 -15,900.00        -49
         1        ASP      30000   24-12-30   25-02-07       2.36       2.30      -0.06      -2.54  -1,800.00         -3
         1        IVL       7200   24-12-30   25-02-07      24.90      22.70      -2.20      -8.84 -15,840.00        -22
         1        ORI      50000   24-12-30   25-02-07       3.62       3.04      -0.58     -16.02 -29,000.00        -29
         1      PTTGC       6000   24-12-30   25-02-07      24.40      20.20      -4.20     -17.21 -25,200.00        -42
         1        SCC        600   24-12-30   25-02-07     168.00     149.00     -19.00     -11.31 -11,400.00        -38
         1     SINGER       6000   24-12-30   25-02-07       7.90       6.35      -1.55     -19.62  -9,300.00        -31
         1        STA      10000   24-12-30   25-02-07      18.10      15.00      -3.10     -17.13 -31,000.00        -31
         1        TMT      36000   24-12-30   25-02-07       3.14       3.06      -0.08      -2.55  -2,880.00         -4
         1        TOA       1000   24-12-30   25-02-07      15.00      12.20      -2.80     -18.67  -2,800.00        -28
         2     AIMIRT      12500   24-12-30   25-02-07      10.60      10.50      -0.10      -0.94  -1,250.00         -1
         2    CPNREIT      55000   24-12-30   25-02-07      12.30      11.90      -0.40      -3.25 -22,000.00         -4
         2        DIF      35000   24-12-30   25-02-07       8.60       8.45      -0.15      -1.74  -5,250.00         -3
         2     GVREIT      60000   24-12-30   25-02-07       6.50       6.60       0.10       1.54   6,000.00          2
         2        MCS      75000   24-12-30   25-02-07       6.70       5.90      -0.80     -11.94 -60,000.00        -16
         2        NER      27000   24-12-30   25-02-07       4.62       4.74       0.12       2.60   3,240.00          6
         2       SENA     105000   24-12-30   25-02-07       2.22       2.14      -0.08      -3.60  -8,400.00         -4
         2      TFFIF      20000   24-12-30   25-02-07       6.35       6.35       0.00       0.00       0.00          0
         2      WHAIR      50000   24-12-30   25-02-07       6.50       6.25      -0.25      -3.85 -12,500.00         -5
         2      WHART      20000   24-12-30   25-02-07      10.20      10.00      -0.20      -1.96  -4,000.00         -2
         3      3BBIF     120000   24-12-30   25-02-07       5.20       5.40       0.20       3.85  24,000.00          4
         3      JMART       6800   24-12-30   25-02-07      13.20      10.20      -3.00     -22.73 -20,400.00        -30
         3        JMT       4200   24-12-30   25-02-07      18.20      14.30      -3.90     -21.43 -16,380.00        -39
         3        KCE      10000   24-12-30   25-02-07      24.50      20.30      -4.20     -17.14 -42,000.00        -42
         4        AWC       9000   24-12-30   25-02-07       3.52       2.96      -0.56     -15.91  -5,040.00        -28
         4        BCH       4000   24-12-30   25-02-07      15.30      13.90      -1.40      -9.15  -5,600.00        -14
         4        PTG       3600   24-12-30   25-02-07       8.20       7.10      -1.10     -13.41  -3,960.00        -22
         4        RCL      27000   24-12-30   25-02-07      28.25      22.40      -5.85     -20.71 -157,950.00        -39
         4      SYNEX      15000   24-12-30   25-02-07      15.40      11.30      -4.10     -26.62 -61,500.00        -41
         4        TVO       4000   24-12-30   25-02-07      23.00      20.70      -2.30     -10.00  -9,200.00        -23

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-02-07,16.30,14.60,-1.70,-10.43,-2040.0,-17
1,1,ASK,6000,2024-12-30,2025-02-07,10.30,7.65,-2.65,-25.73,-15900.0,-49
2,1,ASP,30000,2024-12-30,2025-02-07,2.36,2.30,-0.06,-2.54,-1800.0,-3
3,1,IVL,7200,2024-12-30,2025-02-07,24.90,22.70,-2.20,-8.84,-15840.0,-22
4,1,ORI,50000,2024-12-30,2025-02-07,3.62,3.04,-0.58,-16.02,-29000.0,-29
5,1,PTTGC,6000,2024-12-30,2025-02-07,24.40,20.20,-4.20,-17.21,-25200.0,-42
6,1,SCC,600,2024-12-30,2025-02-07,168.00,149.00,-19.00,-11.31,-11400.0,-38
7,1,SINGER,6000,2024-12-30,2025-02-07,7.90,6.35,-1.55,-19.62,-9300.0,-31
8,1,STA,10000,2024-12-30,2025-02-07,18.10,15.00,-3.10,-17.13,-31000.0,-31
9,1,TMT,36000,2024-12-30,2025-02-07,3.14,3.06,-0.08,-2.55,-2880.0,-4
10,1,TOA,1000,2024-12-30,2025-02-07,15.00,12.20,-2.80,-18.67,-2800.0,-28
11,2,AIMIRT,12500,2024-12-30,2025-02-07,10.60,10.50,-0.10,-0.94,-1250.0,-1
12,2,CPNREIT,55000,2024-12-30,2025-02-07,12.30,11.90,-0.40,-3.25,-22000.0,-4
13,2,DIF,35000,2024-12-30,2025-02-07,8.60,8.45,-0.15,-1.74,-5250.0,-3
14,2,GVREIT,60000,2024-12-30,2025-02-07,6.50,6.60,0.10,1.54,6000.0,2
15,2,MCS,75000,2024-12-30,2025-02-07,6.70,5.90,-0.80,-11.94,-60000.0,-16
16,2,NER,27000,2024-12-30,2025-02-07,4.62,4.74,0.12,2.60,3240.0,6
17,2,SENA,105000,2024-12-30,2025-02-07,2.22,2.14,-0.08,-3.60,-8400.0,-4
18,2,TFFIF,20000,2024-12-30,2025-02-07,6.35,6.35,0.00,0.00,0.0,0
19,2,WHAIR,50000,2024-12-30,2025-02-07,6.50,6.25,-0.25,-3.85,-12500.0,-5
20,2,WHART,20000,2024-12-30,2025-02-07,10.20,10.00,-0.20,-1.96,-4000.0,-2
21,3,3BBIF,120000,2024-12-30,2025-02-07,5.20,5.40,0.20,3.85,24000.0,4
22,3,JMART,6800,2024-12-30,2025-02-07,13.20,10.20,-3.00,-22.73,-20400.0,-30
23,3,JMT,4200,2024-12-30,2025-02-07,18.20,14.30,-3.90,-21.43,-16380.0,-39
24,3,KCE,10000,2024-12-30,2025-02-07,24.50,20.30,-4.20,-17.14,-42000.0,-42
25,4,AWC,9000,2024-12-30,2025-02-07,3.52,2.96,-0.56,-15.91,-5040.0,-28
26,4,BCH,4000,2024-12-30,2025-02-07,15.30,13.90,-1.40,-9.15,-5600.0,-14
27,4,PTG,3600,2024-12-30,2025-02-07,8.20,7.10,-1.10,-13.41,-3960.0,-22
28,4,RCL,27000,2024-12-30,2025-02-07,28.25,22.40,-5.85,-20.71,-157950.0,-39
29,4,SYNEX,15000,2024-12-30,2025-02-07,15.40,11.30,-4.10,-26.62,-61500.0,-41
30,4,TVO,4000,2024-12-30,2025-02-07,23.00,20.70,-2.30,-10.00,-9200.0,-23

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
1,1,ASK,6000,2024-12-30,2025-02-07,10.30,7.65,-2.65,-25.73,-15900.0,-49
5,1,PTTGC,6000,2024-12-30,2025-02-07,24.40,20.20,-4.20,-17.21,-25200.0,-42
24,3,KCE,10000,2024-12-30,2025-02-07,24.50,20.30,-4.20,-17.14,-42000.0,-42
29,4,SYNEX,15000,2024-12-30,2025-02-07,15.40,11.30,-4.10,-26.62,-61500.0,-41
28,4,RCL,27000,2024-12-30,2025-02-07,28.25,22.40,-5.85,-20.71,-157950.0,-39
23,3,JMT,4200,2024-12-30,2025-02-07,18.20,14.30,-3.90,-21.43,-16380.0,-39
6,1,SCC,600,2024-12-30,2025-02-07,168.00,149.00,-19.00,-11.31,-11400.0,-38
7,1,SINGER,6000,2024-12-30,2025-02-07,7.90,6.35,-1.55,-19.62,-9300.0,-31
8,1,STA,10000,2024-12-30,2025-02-07,18.10,15.00,-3.10,-17.13,-31000.0,-31
22,3,JMART,6800,2024-12-30,2025-02-07,13.20,10.20,-3.00,-22.73,-20400.0,-30
4,1,ORI,50000,2024-12-30,2025-02-07,3.62,3.04,-0.58,-16.02,-29000.0,-29
10,1,TOA,1000,2024-12-30,2025-02-07,15.00,12.20,-2.80,-18.67,-2800.0,-28
25,4,AWC,9000,2024-12-30,2025-02-07,3.52,2.96,-0.56,-15.91,-5040.0,-28
30,4,TVO,4000,2024-12-30,2025-02-07,23.00,20.70,-2.30,-10.00,-9200.0,-23
3,1,IVL,7200,2024-12-30,2025-02-07,24.90,22.70,-2.20,-8.84,-15840.0,-22
27,4,PTG,3600,2024-12-30,2025-02-07,8.20,7.10,-1.10,-13.41,-3960.0,-22
0,1,AH,1200,2024-12-30,2025-02-07,16.30,14.60,-1.70,-10.43,-2040.0,-17
15,2,MCS,75000,2024-12-30,2025-02-07,6.70,5.90,-0.80,-11.94,-60000.0,-16
26,4,BCH,4000,2024-12-30,2025-02-07,15.30,13.90,-1.40,-9.15,-5600.0,-14
19,2,WHAIR,50000,2024-12-30,2025-02-07,6.50,6.25,-0.25,-3.85,-12500.0,-5
17,2,SENA,105000,2024-12-30,2025-02-07,2.22,2.14,-0.08,-3.60,-8400.0,-4
12,2,CPNREIT,55000,2024-12-30,2025-02-07,12.30,11.90,-0.40,-3.25,-22000.0,-4
9,1,TMT,36000,2024-12-30,2025-02-07,3.14,3.06,-0.08,-2.55,-2880.0,-4
13,2,DIF,35000,2024-12-30,2025-02-07,8.60,8.45,-0.15,-1.74,-5250.0,-3
2,1,ASP,30000,2024-12-30,2025-02-07,2.36,2.30,-0.06,-2.54,-1800.0,-3
20,2,WHART,20000,2024-12-30,2025-02-07,10.20,10.00,-0.20,-1.96,-4000.0,-2
11,2,AIMIRT,12500,2024-12-30,2025-02-07,10.60,10.50,-0.10,-0.94,-1250.0,-1
18,2,TFFIF,20000,2024-12-30,2025-02-07,6.35,6.35,0.00,0.00,0.0,0
14,2,GVREIT,60000,2024-12-30,2025-02-07,6.50,6.60,0.10,1.54,6000.0,2
21,3,3BBIF,120000,2024-12-30,2025-02-07,5.20,5.40,0.20,3.85,24000.0,4
16,2,NER,27000,2024-12-30,2025-02-07,4.62,4.74,0.12,2.60,3240.0,6

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1       154000 -147160.0 -294
2       459500 -104160.0  -27
3       141000  -54780.0 -107
4        62600 -243250.0 -167

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1        154000  26.729091  23.281818 -3.447273 -26.727273 -147160.0
2        459500   7.459000   7.283000 -0.176000  -2.700000 -104160.0
3        141000  15.275000  12.550000 -2.725000 -26.750000  -54780.0
4         62600  15.611667  13.060000 -2.551667 -27.833333 -243250.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-549,350.00'

In [25]:
prev_pl = -549_350
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿18,180.00'