### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-13 2025-08-12

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-13 2025-08-12

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-13
Today in mm-dd format: 08-13
yesterday: 2025-08-11 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-13

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-08-11 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   50000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   17500
8       2  CPNREIT   55000
9       2      DIF   40000
10      2   GVREIT   69000
11      2      MCS   81000
12      2      NER   27000
13      2      PTT    2500
14      2     SENA  105000
15      2    TFFIF   20000
16      2    WHAIR   50000
17      2    WHART   25000
18      3    3BBIF  120000
19      3      BCH    4000
20      3      IVL    7200
21      3      RCL   24000
22      3      STA   10000
23      3    SYNEX   17500
24      3      TVO    8000
25      4      JMT    4200
26      4      PTG    3600
27      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-13      16.30      15.60      -0.70      -4.29    -840.00         -7
         1        AWC       9000   24-12-30   25-08-13       3.52       2.24      -1.28     -36.36 -11,520.00        -64
         1      JMART       6800   24-12-30   25-08-13      13.20       8.95      -4.25     -32.20 -28,900.00        -53
         1        ORI      50000   24-12-30   25-08-13       3.62       2.14      -1.48     -40.88 -74,000.00        -74
         1      PTTGC       6000   24-12-30   25-08-13      24.40      24.00      -0.40      -1.64  -2,400.00         -4
         1        SCC        600   24-12-30   25-08-13     168.00     204.00      36.00      21.43  21,600.00         68
         1     SINGER       6000   24-12-30   25-08-13       7.90       5.65      -2.25     -28.48 -13,500.00        -45
         2     AIMIRT      17500   24-12-30   25-08-13      10.60       9.90      -0.70      -6.60 -12,250.00         -7
         2    CPNREIT      55000   24-12-30   25-08-13      12.30      11.80      -0.50      -4.07 -27,500.00         -5
         2        DIF      40000   24-12-30   25-08-13       8.60       8.45      -0.15      -1.74  -6,000.00         -3
         2     GVREIT      69000   24-12-30   25-08-13       6.50       6.80       0.30       4.62  20,700.00          6
         2        MCS      81000   24-12-30   25-08-13       6.70       8.75       2.05      30.60 166,050.00         41
         2        NER      27000   24-12-30   25-08-13       4.62       4.58      -0.04      -0.87  -1,080.00         -2
         2        PTT       2500   24-12-30   25-08-13      31.75      32.50       0.75       2.36   1,875.00          3
         2       SENA     105000   24-12-30   25-08-13       2.22       1.78      -0.44     -19.82 -46,200.00        -32
         2      TFFIF      20000   24-12-30   25-08-13       6.35       6.10      -0.25      -3.94  -5,000.00         -5
         2      WHAIR      50000   24-12-30   25-08-13       6.50       5.45      -1.05     -16.15 -52,500.00        -21
         2      WHART      25000   24-12-30   25-08-13      10.20       9.50      -0.70      -6.86 -17,500.00        -12
         3      3BBIF     120000   24-12-30   25-08-13       5.20       6.35       1.15      22.12 138,000.00         23
         3        BCH       4000   24-12-30   25-08-13      15.30      14.60      -0.70      -4.58  -2,800.00         -7
         3        IVL       7200   24-12-30   25-08-13      24.90      23.00      -1.90      -7.63 -13,680.00        -19
         3        RCL      24000   24-12-30   25-08-13      28.25      30.25       2.00       7.08  48,000.00          8
         3        STA      10000   24-12-30   25-08-13      18.10      12.70      -5.40     -29.83 -54,000.00        -54
         3      SYNEX      17500   24-12-30   25-08-13      15.40      12.50      -2.90     -18.83 -50,750.00        -29
         3        TVO       8000   24-12-30   25-08-13      23.00      24.40       1.40       6.09  11,200.00         14
         4        JMT       4200   24-12-30   25-08-13      18.20      12.00      -6.20     -34.07 -26,040.00        -62
         4        PTG       3600   24-12-30   25-08-13       8.20       7.05      -1.15     -14.02  -4,140.00        -23
         4        TOA       1000   24-12-30   25-08-13      15.00      15.00       0.00       0.00       0.00          0

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-13,16.30,15.60,-0.70,-4.29,-840.0,-7
1,1,AWC,9000,2024-12-30,2025-08-13,3.52,2.24,-1.28,-36.36,-11520.0,-64
2,1,JMART,6800,2024-12-30,2025-08-13,13.20,8.95,-4.25,-32.20,-28900.0,-53
3,1,ORI,50000,2024-12-30,2025-08-13,3.62,2.14,-1.48,-40.88,-74000.0,-74
4,1,PTTGC,6000,2024-12-30,2025-08-13,24.40,24.00,-0.40,-1.64,-2400.0,-4
5,1,SCC,600,2024-12-30,2025-08-13,168.00,204.00,36.00,21.43,21600.0,68
6,1,SINGER,6000,2024-12-30,2025-08-13,7.90,5.65,-2.25,-28.48,-13500.0,-45
7,2,AIMIRT,17500,2024-12-30,2025-08-13,10.60,9.90,-0.70,-6.60,-12250.0,-7
8,2,CPNREIT,55000,2024-12-30,2025-08-13,12.30,11.80,-0.50,-4.07,-27500.0,-5
9,2,DIF,40000,2024-12-30,2025-08-13,8.60,8.45,-0.15,-1.74,-6000.0,-3
10,2,GVREIT,69000,2024-12-30,2025-08-13,6.50,6.80,0.30,4.62,20700.0,6
11,2,MCS,81000,2024-12-30,2025-08-13,6.70,8.75,2.05,30.60,166050.0,41
12,2,NER,27000,2024-12-30,2025-08-13,4.62,4.58,-0.04,-0.87,-1080.0,-2
13,2,PTT,2500,2024-12-30,2025-08-13,31.75,32.50,0.75,2.36,1875.0,3
14,2,SENA,105000,2024-12-30,2025-08-13,2.22,1.78,-0.44,-19.82,-46200.0,-32
15,2,TFFIF,20000,2024-12-30,2025-08-13,6.35,6.10,-0.25,-3.94,-5000.0,-5
16,2,WHAIR,50000,2024-12-30,2025-08-13,6.50,5.45,-1.05,-16.15,-52500.0,-21
17,2,WHART,25000,2024-12-30,2025-08-13,10.20,9.50,-0.70,-6.86,-17500.0,-12
18,3,3BBIF,120000,2024-12-30,2025-08-13,5.20,6.35,1.15,22.12,138000.0,23
19,3,BCH,4000,2024-12-30,2025-08-13,15.30,14.60,-0.70,-4.58,-2800.0,-7
20,3,IVL,7200,2024-12-30,2025-08-13,24.90,23.00,-1.90,-7.63,-13680.0,-19
21,3,RCL,24000,2024-12-30,2025-08-13,28.25,30.25,2.00,7.08,48000.0,8
22,3,STA,10000,2024-12-30,2025-08-13,18.10,12.70,-5.40,-29.83,-54000.0,-54
23,3,SYNEX,17500,2024-12-30,2025-08-13,15.40,12.50,-2.90,-18.83,-50750.0,-29
24,3,TVO,8000,2024-12-30,2025-08-13,23.00,24.40,1.40,6.09,11200.0,14
25,4,JMT,4200,2024-12-30,2025-08-13,18.20,12.00,-6.20,-34.07,-26040.0,-62
26,4,PTG,3600,2024-12-30,2025-08-13,8.20,7.05,-1.15,-14.02,-4140.0,-23
27,4,TOA,1000,2024-12-30,2025-08-13,15.00,15.00,0.00,0.00,0.0,0

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
3,1,ORI,50000,2024-12-30,2025-08-13,3.62,2.14,-1.48,-40.88,-74000.0,-74
1,1,AWC,9000,2024-12-30,2025-08-13,3.52,2.24,-1.28,-36.36,-11520.0,-64
25,4,JMT,4200,2024-12-30,2025-08-13,18.20,12.00,-6.20,-34.07,-26040.0,-62
22,3,STA,10000,2024-12-30,2025-08-13,18.10,12.70,-5.40,-29.83,-54000.0,-54
2,1,JMART,6800,2024-12-30,2025-08-13,13.20,8.95,-4.25,-32.20,-28900.0,-53
6,1,SINGER,6000,2024-12-30,2025-08-13,7.90,5.65,-2.25,-28.48,-13500.0,-45
14,2,SENA,105000,2024-12-30,2025-08-13,2.22,1.78,-0.44,-19.82,-46200.0,-32
23,3,SYNEX,17500,2024-12-30,2025-08-13,15.40,12.50,-2.90,-18.83,-50750.0,-29
26,4,PTG,3600,2024-12-30,2025-08-13,8.20,7.05,-1.15,-14.02,-4140.0,-23
16,2,WHAIR,50000,2024-12-30,2025-08-13,6.50,5.45,-1.05,-16.15,-52500.0,-21
20,3,IVL,7200,2024-12-30,2025-08-13,24.90,23.00,-1.90,-7.63,-13680.0,-19
17,2,WHART,25000,2024-12-30,2025-08-13,10.20,9.50,-0.70,-6.86,-17500.0,-12
0,1,AH,1200,2024-12-30,2025-08-13,16.30,15.60,-0.70,-4.29,-840.0,-7
19,3,BCH,4000,2024-12-30,2025-08-13,15.30,14.60,-0.70,-4.58,-2800.0,-7
7,2,AIMIRT,17500,2024-12-30,2025-08-13,10.60,9.90,-0.70,-6.60,-12250.0,-7
8,2,CPNREIT,55000,2024-12-30,2025-08-13,12.30,11.80,-0.50,-4.07,-27500.0,-5
15,2,TFFIF,20000,2024-12-30,2025-08-13,6.35,6.10,-0.25,-3.94,-5000.0,-5
4,1,PTTGC,6000,2024-12-30,2025-08-13,24.40,24.00,-0.40,-1.64,-2400.0,-4
9,2,DIF,40000,2024-12-30,2025-08-13,8.60,8.45,-0.15,-1.74,-6000.0,-3
12,2,NER,27000,2024-12-30,2025-08-13,4.62,4.58,-0.04,-0.87,-1080.0,-2
27,4,TOA,1000,2024-12-30,2025-08-13,15.00,15.00,0.00,0.00,0.0,0
13,2,PTT,2500,2024-12-30,2025-08-13,31.75,32.50,0.75,2.36,1875.0,3
10,2,GVREIT,69000,2024-12-30,2025-08-13,6.50,6.80,0.30,4.62,20700.0,6
21,3,RCL,24000,2024-12-30,2025-08-13,28.25,30.25,2.00,7.08,48000.0,8
24,3,TVO,8000,2024-12-30,2025-08-13,23.00,24.40,1.40,6.09,11200.0,14
18,3,3BBIF,120000,2024-12-30,2025-08-13,5.20,6.35,1.15,22.12,138000.0,23
11,2,MCS,81000,2024-12-30,2025-08-13,6.70,8.75,2.05,30.60,166050.0,41
5,1,SCC,600,2024-12-30,2025-08-13,168.00,204.00,36.00,21.43,21600.0,68

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        79600 -109560.0 -179
2       492000   20595.0  -37
3       190700   75970.0  -64
4         8800  -30180.0  -85

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         79600  33.848571  37.511429  3.662857 -25.571429 -109560.0
2        492000   9.667273   9.600909 -0.066364  -3.363636   20595.0
3        190700  18.592857  17.685714 -0.907143  -9.142857   75970.0
4          8800  13.800000  11.350000 -2.450000 -28.333333  -30180.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-43,175.00'

In [25]:
prev_pl = -43_175

diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿11,270.00'