### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-07 2025-08-06

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-07 2025-08-06

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-07
Today in mm-dd format: 08-07
yesterday: 2025-08-05 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-07

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-08-05 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   50000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   12500
8       2  CPNREIT   55000
9       2      DIF   40000
10      2   GVREIT   75000
11      2      MCS   81000
12      2      NER   27000
13      2     SENA  105000
14      2    TFFIF   20000
15      2    WHAIR   50000
16      2    WHART   25000
17      3    3BBIF  120000
18      3      BCH    4000
19      3      IVL    7200
20      3      RCL   27000
21      3      STA   10000
22      3    SYNEX   17500
23      3      TVO    8000
24      4      JMT    4200
25      4      PTG    3600
26      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-07      16.30      15.60      -0.70      -4.29    -840.00         -7
         1        AWC       9000   24-12-30   25-08-07       3.52       2.34      -1.18     -33.52 -10,620.00        -59
         1      JMART       6800   24-12-30   25-08-07      13.20       9.20      -4.00     -30.30 -27,200.00        -48
         1        ORI      50000   24-12-30   25-08-07       3.62       2.14      -1.48     -40.88 -74,000.00        -74
         1      PTTGC       6000   24-12-30   25-08-07      24.40      24.20      -0.20      -0.82  -1,200.00         -2
         1        SCC        600   24-12-30   25-08-07     168.00     203.00      35.00      20.83  21,000.00         67
         1     SINGER       6000   24-12-30   25-08-07       7.90       5.80      -2.10     -26.58 -12,600.00        -42
         2     AIMIRT      12500   24-12-30   25-08-07      10.60       9.85      -0.75      -7.08  -9,375.00         -9
         2    CPNREIT      55000   24-12-30   25-08-07      12.30      11.50      -0.80      -6.50 -44,000.00         -8
         2        DIF      40000   24-12-30   25-08-07       8.60       8.40      -0.20      -2.33  -8,000.00         -4
         2     GVREIT      75000   24-12-30   25-08-07       6.50       6.55       0.05       0.77   3,750.00          1
         2        MCS      81000   24-12-30   25-08-07       6.70       8.65       1.95      29.10 157,950.00         39
         2        NER      27000   24-12-30   25-08-07       4.62       4.54      -0.08      -1.73  -2,160.00         -4
         2       SENA     105000   24-12-30   25-08-07       2.22       1.81      -0.41     -18.47 -43,050.00        -29
         2      TFFIF      20000   24-12-30   25-08-07       6.35       6.10      -0.25      -3.94  -5,000.00         -5
         2      WHAIR      50000   24-12-30   25-08-07       6.50       5.55      -0.95     -14.62 -47,500.00        -19
         2      WHART      25000   24-12-30   25-08-07      10.20       9.30      -0.90      -8.82 -22,500.00        -15
         3      3BBIF     120000   24-12-30   25-08-07       5.20       6.35       1.15      22.12 138,000.00         23
         3        BCH       4000   24-12-30   25-08-07      15.30      14.30      -1.00      -6.54  -4,000.00        -10
         3        IVL       7200   24-12-30   25-08-07      24.90      23.40      -1.50      -6.02 -10,800.00        -15
         3        RCL      27000   24-12-30   25-08-07      28.25      29.25       1.00       3.54  27,000.00          4
         3        STA      10000   24-12-30   25-08-07      18.10      14.00      -4.10     -22.65 -41,000.00        -41
         3      SYNEX      17500   24-12-30   25-08-07      15.40      12.60      -2.80     -18.18 -49,000.00        -28
         3        TVO       8000   24-12-30   25-08-07      23.00      23.30       0.30       1.30   2,400.00          3
         4        JMT       4200   24-12-30   25-08-07      18.20      12.10      -6.10     -33.52 -25,620.00        -61
         4        PTG       3600   24-12-30   25-08-07       8.20       6.80      -1.40     -17.07  -5,040.00        -28
         4        TOA       1000   24-12-30   25-08-07      15.00      14.80      -0.20      -1.33    -200.00         -2

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-07,16.30,15.60,-0.70,-4.29,-840.0,-7
1,1,AWC,9000,2024-12-30,2025-08-07,3.52,2.34,-1.18,-33.52,-10620.0,-59
2,1,JMART,6800,2024-12-30,2025-08-07,13.20,9.20,-4.00,-30.30,-27200.0,-48
3,1,ORI,50000,2024-12-30,2025-08-07,3.62,2.14,-1.48,-40.88,-74000.0,-74
4,1,PTTGC,6000,2024-12-30,2025-08-07,24.40,24.20,-0.20,-0.82,-1200.0,-2
5,1,SCC,600,2024-12-30,2025-08-07,168.00,203.00,35.00,20.83,21000.0,67
6,1,SINGER,6000,2024-12-30,2025-08-07,7.90,5.80,-2.10,-26.58,-12600.0,-42
7,2,AIMIRT,12500,2024-12-30,2025-08-07,10.60,9.85,-0.75,-7.08,-9375.0,-9
8,2,CPNREIT,55000,2024-12-30,2025-08-07,12.30,11.50,-0.80,-6.50,-44000.0,-8
9,2,DIF,40000,2024-12-30,2025-08-07,8.60,8.40,-0.20,-2.33,-8000.0,-4
10,2,GVREIT,75000,2024-12-30,2025-08-07,6.50,6.55,0.05,0.77,3750.0,1
11,2,MCS,81000,2024-12-30,2025-08-07,6.70,8.65,1.95,29.10,157950.0,39
12,2,NER,27000,2024-12-30,2025-08-07,4.62,4.54,-0.08,-1.73,-2160.0,-4
13,2,SENA,105000,2024-12-30,2025-08-07,2.22,1.81,-0.41,-18.47,-43050.0,-29
14,2,TFFIF,20000,2024-12-30,2025-08-07,6.35,6.10,-0.25,-3.94,-5000.0,-5
15,2,WHAIR,50000,2024-12-30,2025-08-07,6.50,5.55,-0.95,-14.62,-47500.0,-19
16,2,WHART,25000,2024-12-30,2025-08-07,10.20,9.30,-0.90,-8.82,-22500.0,-15
17,3,3BBIF,120000,2024-12-30,2025-08-07,5.20,6.35,1.15,22.12,138000.0,23
18,3,BCH,4000,2024-12-30,2025-08-07,15.30,14.30,-1.00,-6.54,-4000.0,-10
19,3,IVL,7200,2024-12-30,2025-08-07,24.90,23.40,-1.50,-6.02,-10800.0,-15
20,3,RCL,27000,2024-12-30,2025-08-07,28.25,29.25,1.00,3.54,27000.0,4
21,3,STA,10000,2024-12-30,2025-08-07,18.10,14.00,-4.10,-22.65,-41000.0,-41
22,3,SYNEX,17500,2024-12-30,2025-08-07,15.40,12.60,-2.80,-18.18,-49000.0,-28
23,3,TVO,8000,2024-12-30,2025-08-07,23.00,23.30,0.30,1.30,2400.0,3
24,4,JMT,4200,2024-12-30,2025-08-07,18.20,12.10,-6.10,-33.52,-25620.0,-61
25,4,PTG,3600,2024-12-30,2025-08-07,8.20,6.80,-1.40,-17.07,-5040.0,-28
26,4,TOA,1000,2024-12-30,2025-08-07,15.00,14.80,-0.20,-1.33,-200.0,-2

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
3,1,ORI,50000,2024-12-30,2025-08-07,3.62,2.14,-1.48,-40.88,-74000.0,-74
24,4,JMT,4200,2024-12-30,2025-08-07,18.20,12.10,-6.10,-33.52,-25620.0,-61
1,1,AWC,9000,2024-12-30,2025-08-07,3.52,2.34,-1.18,-33.52,-10620.0,-59
2,1,JMART,6800,2024-12-30,2025-08-07,13.20,9.20,-4.00,-30.30,-27200.0,-48
6,1,SINGER,6000,2024-12-30,2025-08-07,7.90,5.80,-2.10,-26.58,-12600.0,-42
21,3,STA,10000,2024-12-30,2025-08-07,18.10,14.00,-4.10,-22.65,-41000.0,-41
13,2,SENA,105000,2024-12-30,2025-08-07,2.22,1.81,-0.41,-18.47,-43050.0,-29
22,3,SYNEX,17500,2024-12-30,2025-08-07,15.40,12.60,-2.80,-18.18,-49000.0,-28
25,4,PTG,3600,2024-12-30,2025-08-07,8.20,6.80,-1.40,-17.07,-5040.0,-28
15,2,WHAIR,50000,2024-12-30,2025-08-07,6.50,5.55,-0.95,-14.62,-47500.0,-19
19,3,IVL,7200,2024-12-30,2025-08-07,24.90,23.40,-1.50,-6.02,-10800.0,-15
16,2,WHART,25000,2024-12-30,2025-08-07,10.20,9.30,-0.90,-8.82,-22500.0,-15
18,3,BCH,4000,2024-12-30,2025-08-07,15.30,14.30,-1.00,-6.54,-4000.0,-10
7,2,AIMIRT,12500,2024-12-30,2025-08-07,10.60,9.85,-0.75,-7.08,-9375.0,-9
8,2,CPNREIT,55000,2024-12-30,2025-08-07,12.30,11.50,-0.80,-6.50,-44000.0,-8
0,1,AH,1200,2024-12-30,2025-08-07,16.30,15.60,-0.70,-4.29,-840.0,-7
14,2,TFFIF,20000,2024-12-30,2025-08-07,6.35,6.10,-0.25,-3.94,-5000.0,-5
12,2,NER,27000,2024-12-30,2025-08-07,4.62,4.54,-0.08,-1.73,-2160.0,-4
9,2,DIF,40000,2024-12-30,2025-08-07,8.60,8.40,-0.20,-2.33,-8000.0,-4
4,1,PTTGC,6000,2024-12-30,2025-08-07,24.40,24.20,-0.20,-0.82,-1200.0,-2
26,4,TOA,1000,2024-12-30,2025-08-07,15.00,14.80,-0.20,-1.33,-200.0,-2
10,2,GVREIT,75000,2024-12-30,2025-08-07,6.50,6.55,0.05,0.77,3750.0,1
23,3,TVO,8000,2024-12-30,2025-08-07,23.00,23.30,0.30,1.30,2400.0,3
20,3,RCL,27000,2024-12-30,2025-08-07,28.25,29.25,1.00,3.54,27000.0,4
17,3,3BBIF,120000,2024-12-30,2025-08-07,5.20,6.35,1.15,22.12,138000.0,23
11,2,MCS,81000,2024-12-30,2025-08-07,6.70,8.65,1.95,29.10,157950.0,39
5,1,SCC,600,2024-12-30,2025-08-07,168.00,203.00,35.00,20.83,21000.0,67

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        79600 -105460.0 -165
2       490500  -19885.0  -53
3       193700   62600.0  -64
4         8800  -30860.0  -91

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         79600  33.848571  37.468571  3.620000 -23.571429 -105460.0
2        490500   7.459000   7.225000 -0.234000  -5.300000  -19885.0
3        193700  18.592857  17.600000 -0.992857  -9.142857   62600.0
4          8800  13.800000  11.233333 -2.566667 -30.333333  -30860.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-93,605.00'

In [25]:
prev_pl = -93_605

diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿26,510.00'