### Modify 2 statements then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-02-11 2025-02-10

In [4]:
#today = date(2025, 1, 24)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-02-11 2025-02-10

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-02-11
Today in mm-dd format: 02-11
yesterday: 2025-02-10 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,1,3)
print(today)

2025-02-11

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,1,2)
print(yesterday)

2025-02-10 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      ASK    6000
2       1      ASP   30000
3       1      IVL    7200
4       1      ORI   50000
5       1    PTTGC    6000
6       1      SCC     600
7       1   SINGER    6000
8       1      STA   10000
9       1      TMT   36000
10      1      TOA    1000
11      2   AIMIRT   12500
12      2  CPNREIT   55000
13      2      DIF   35000
14      2   GVREIT   60000
15      2      MCS   75000
16      2      NER   27000
17      2     SENA  105000
18      2    TFFIF   20000
19      2    WHAIR   50000
20      2    WHART   20000
21      3    3BBIF  120000
22      3    JMART    6800
23      3      JMT    4200
24      3      KCE   10000
25      4      AWC    9000
26      4      BCH    4000
27      4      PTG    3600
28      4      RCL   27000
29      4    SYNEX   15000
30      4      TVO    4000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-02-11      16.30      14.00      -2.30     -14.11  -2,760.00        -23
         1        ASK       6000   24-12-30   25-02-11      10.30       7.90      -2.40     -23.30 -14,400.00        -44
         1        ASP      30000   24-12-30   25-02-11       2.36       2.30      -0.06      -2.54  -1,800.00         -3
         1        IVL       7200   24-12-30   25-02-11      24.90      23.00      -1.90      -7.63 -13,680.00        -19
         1        ORI      50000   24-12-30   25-02-11       3.62       3.10      -0.52     -14.36 -26,000.00        -26
         1      PTTGC       6000   24-12-30   25-02-11      24.40      20.40      -4.00     -16.39 -24,000.00        -40
         1        SCC        600   24-12-30   25-02-11     168.00     147.00     -21.00     -12.50 -12,600.00        -42
         1     SINGER       6000   24-12-30   25-02-11       7.90       6.40      -1.50     -18.99  -9,000.00        -30
         1        STA      10000   24-12-30   25-02-11      18.10      14.60      -3.50     -19.34 -35,000.00        -35
         1        TMT      36000   24-12-30   25-02-11       3.14       3.04      -0.10      -3.18  -3,600.00         -5
         1        TOA       1000   24-12-30   25-02-11      15.00      12.20      -2.80     -18.67  -2,800.00        -28
         2     AIMIRT      12500   24-12-30   25-02-11      10.60      10.50      -0.10      -0.94  -1,250.00         -1
         2    CPNREIT      55000   24-12-30   25-02-11      12.30      12.00      -0.30      -2.44 -16,500.00         -3
         2        DIF      35000   24-12-30   25-02-11       8.60       8.45      -0.15      -1.74  -5,250.00         -3
         2     GVREIT      60000   24-12-30   25-02-11       6.50       6.65       0.15       2.31   9,000.00          3
         2        MCS      75000   24-12-30   25-02-11       6.70       6.25      -0.45      -6.72 -33,750.00         -9
         2        NER      27000   24-12-30   25-02-11       4.62       4.70       0.08       1.73   2,160.00          4
         2       SENA     105000   24-12-30   25-02-11       2.22       2.14      -0.08      -3.60  -8,400.00         -4
         2      TFFIF      20000   24-12-30   25-02-11       6.35       6.30      -0.05      -0.79  -1,000.00         -1
         2      WHAIR      50000   24-12-30   25-02-11       6.50       6.25      -0.25      -3.85 -12,500.00         -5
         2      WHART      20000   24-12-30   25-02-11      10.20      10.20       0.00       0.00       0.00          0
         3      3BBIF     120000   24-12-30   25-02-11       5.20       5.45       0.25       4.81  30,000.00          5
         3      JMART       6800   24-12-30   25-02-11      13.20      10.00      -3.20     -24.24 -21,760.00        -32
         3        JMT       4200   24-12-30   25-02-11      18.20      14.10      -4.10     -22.53 -17,220.00        -41
         3        KCE      10000   24-12-30   25-02-11      24.50      21.20      -3.30     -13.47 -33,000.00        -33
         4        AWC       9000   24-12-30   25-02-11       3.52       3.00      -0.52     -14.77  -4,680.00        -26
         4        BCH       4000   24-12-30   25-02-11      15.30      14.20      -1.10      -7.19  -4,400.00        -11
         4        PTG       3600   24-12-30   25-02-11       8.20       7.10      -1.10     -13.41  -3,960.00        -22
         4        RCL      27000   24-12-30   25-02-11      28.25      23.40      -4.85     -17.17 -130,950.00        -29
         4      SYNEX      15000   24-12-30   25-02-11      15.40      10.50      -4.90     -31.82 -73,500.00        -49
         4        TVO       4000   24-12-30   25-02-11      23.00      21.00      -2.00      -8.70  -8,000.00        -20

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-02-11,16.30,14.00,-2.30,-14.11,-2760.0,-23
1,1,ASK,6000,2024-12-30,2025-02-11,10.30,7.90,-2.40,-23.30,-14400.0,-44
2,1,ASP,30000,2024-12-30,2025-02-11,2.36,2.30,-0.06,-2.54,-1800.0,-3
3,1,IVL,7200,2024-12-30,2025-02-11,24.90,23.00,-1.90,-7.63,-13680.0,-19
4,1,ORI,50000,2024-12-30,2025-02-11,3.62,3.10,-0.52,-14.36,-26000.0,-26
5,1,PTTGC,6000,2024-12-30,2025-02-11,24.40,20.40,-4.00,-16.39,-24000.0,-40
6,1,SCC,600,2024-12-30,2025-02-11,168.00,147.00,-21.00,-12.50,-12600.0,-42
7,1,SINGER,6000,2024-12-30,2025-02-11,7.90,6.40,-1.50,-18.99,-9000.0,-30
8,1,STA,10000,2024-12-30,2025-02-11,18.10,14.60,-3.50,-19.34,-35000.0,-35
9,1,TMT,36000,2024-12-30,2025-02-11,3.14,3.04,-0.10,-3.18,-3600.0,-5
10,1,TOA,1000,2024-12-30,2025-02-11,15.00,12.20,-2.80,-18.67,-2800.0,-28
11,2,AIMIRT,12500,2024-12-30,2025-02-11,10.60,10.50,-0.10,-0.94,-1250.0,-1
12,2,CPNREIT,55000,2024-12-30,2025-02-11,12.30,12.00,-0.30,-2.44,-16500.0,-3
13,2,DIF,35000,2024-12-30,2025-02-11,8.60,8.45,-0.15,-1.74,-5250.0,-3
14,2,GVREIT,60000,2024-12-30,2025-02-11,6.50,6.65,0.15,2.31,9000.0,3
15,2,MCS,75000,2024-12-30,2025-02-11,6.70,6.25,-0.45,-6.72,-33750.0,-9
16,2,NER,27000,2024-12-30,2025-02-11,4.62,4.70,0.08,1.73,2160.0,4
17,2,SENA,105000,2024-12-30,2025-02-11,2.22,2.14,-0.08,-3.60,-8400.0,-4
18,2,TFFIF,20000,2024-12-30,2025-02-11,6.35,6.30,-0.05,-0.79,-1000.0,-1
19,2,WHAIR,50000,2024-12-30,2025-02-11,6.50,6.25,-0.25,-3.85,-12500.0,-5
20,2,WHART,20000,2024-12-30,2025-02-11,10.20,10.20,0.00,0.00,0.0,0
21,3,3BBIF,120000,2024-12-30,2025-02-11,5.20,5.45,0.25,4.81,30000.0,5
22,3,JMART,6800,2024-12-30,2025-02-11,13.20,10.00,-3.20,-24.24,-21760.0,-32
23,3,JMT,4200,2024-12-30,2025-02-11,18.20,14.10,-4.10,-22.53,-17220.0,-41
24,3,KCE,10000,2024-12-30,2025-02-11,24.50,21.20,-3.30,-13.47,-33000.0,-33
25,4,AWC,9000,2024-12-30,2025-02-11,3.52,3.00,-0.52,-14.77,-4680.0,-26
26,4,BCH,4000,2024-12-30,2025-02-11,15.30,14.20,-1.10,-7.19,-4400.0,-11
27,4,PTG,3600,2024-12-30,2025-02-11,8.20,7.10,-1.10,-13.41,-3960.0,-22
28,4,RCL,27000,2024-12-30,2025-02-11,28.25,23.40,-4.85,-17.17,-130950.0,-29
29,4,SYNEX,15000,2024-12-30,2025-02-11,15.40,10.50,-4.90,-31.82,-73500.0,-49
30,4,TVO,4000,2024-12-30,2025-02-11,23.00,21.00,-2.00,-8.70,-8000.0,-20

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
29,4,SYNEX,15000,2024-12-30,2025-02-11,15.40,10.50,-4.90,-31.82,-73500.0,-49
1,1,ASK,6000,2024-12-30,2025-02-11,10.30,7.90,-2.40,-23.30,-14400.0,-44
6,1,SCC,600,2024-12-30,2025-02-11,168.00,147.00,-21.00,-12.50,-12600.0,-42
23,3,JMT,4200,2024-12-30,2025-02-11,18.20,14.10,-4.10,-22.53,-17220.0,-41
5,1,PTTGC,6000,2024-12-30,2025-02-11,24.40,20.40,-4.00,-16.39,-24000.0,-40
8,1,STA,10000,2024-12-30,2025-02-11,18.10,14.60,-3.50,-19.34,-35000.0,-35
24,3,KCE,10000,2024-12-30,2025-02-11,24.50,21.20,-3.30,-13.47,-33000.0,-33
22,3,JMART,6800,2024-12-30,2025-02-11,13.20,10.00,-3.20,-24.24,-21760.0,-32
7,1,SINGER,6000,2024-12-30,2025-02-11,7.90,6.40,-1.50,-18.99,-9000.0,-30
28,4,RCL,27000,2024-12-30,2025-02-11,28.25,23.40,-4.85,-17.17,-130950.0,-29
10,1,TOA,1000,2024-12-30,2025-02-11,15.00,12.20,-2.80,-18.67,-2800.0,-28
4,1,ORI,50000,2024-12-30,2025-02-11,3.62,3.10,-0.52,-14.36,-26000.0,-26
25,4,AWC,9000,2024-12-30,2025-02-11,3.52,3.00,-0.52,-14.77,-4680.0,-26
0,1,AH,1200,2024-12-30,2025-02-11,16.30,14.00,-2.30,-14.11,-2760.0,-23
27,4,PTG,3600,2024-12-30,2025-02-11,8.20,7.10,-1.10,-13.41,-3960.0,-22
30,4,TVO,4000,2024-12-30,2025-02-11,23.00,21.00,-2.00,-8.70,-8000.0,-20
3,1,IVL,7200,2024-12-30,2025-02-11,24.90,23.00,-1.90,-7.63,-13680.0,-19
26,4,BCH,4000,2024-12-30,2025-02-11,15.30,14.20,-1.10,-7.19,-4400.0,-11
15,2,MCS,75000,2024-12-30,2025-02-11,6.70,6.25,-0.45,-6.72,-33750.0,-9
19,2,WHAIR,50000,2024-12-30,2025-02-11,6.50,6.25,-0.25,-3.85,-12500.0,-5
9,1,TMT,36000,2024-12-30,2025-02-11,3.14,3.04,-0.10,-3.18,-3600.0,-5
17,2,SENA,105000,2024-12-30,2025-02-11,2.22,2.14,-0.08,-3.60,-8400.0,-4
13,2,DIF,35000,2024-12-30,2025-02-11,8.60,8.45,-0.15,-1.74,-5250.0,-3
12,2,CPNREIT,55000,2024-12-30,2025-02-11,12.30,12.00,-0.30,-2.44,-16500.0,-3
2,1,ASP,30000,2024-12-30,2025-02-11,2.36,2.30,-0.06,-2.54,-1800.0,-3
18,2,TFFIF,20000,2024-12-30,2025-02-11,6.35,6.30,-0.05,-0.79,-1000.0,-1
11,2,AIMIRT,12500,2024-12-30,2025-02-11,10.60,10.50,-0.10,-0.94,-1250.0,-1
20,2,WHART,20000,2024-12-30,2025-02-11,10.20,10.20,0.00,0.00,0.0,0
14,2,GVREIT,60000,2024-12-30,2025-02-11,6.50,6.65,0.15,2.31,9000.0,3
16,2,NER,27000,2024-12-30,2025-02-11,4.62,4.70,0.08,1.73,2160.0,4
21,3,3BBIF,120000,2024-12-30,2025-02-11,5.20,5.45,0.25,4.81,30000.0,5

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1       154000 -145640.0 -295
2       459500  -67490.0  -19
3       141000  -41980.0 -101
4        62600 -225490.0 -157

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1        154000  26.729091  23.085455 -3.643636 -26.818182 -145640.0
2        459500   7.459000   7.344000 -0.115000  -1.900000  -67490.0
3        141000  15.275000  12.687500 -2.587500 -25.250000  -41980.0
4         62600  15.611667  13.200000 -2.411667 -26.166667 -225490.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-480,600.00'

In [25]:
prev_pl = -595_450
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿114,850.00'