### Modify 2 statements then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = os.path.join(os.path.expanduser("~"), "OneDrive","A5","Data")
csv_path = os.path.join(os.path.expanduser("~"), "iCloudDrive")
one_path = os.path.join(os.path.expanduser("~"), "OneDrive","Documents","Data")
osd_path = os.path.join(os.path.expanduser("~"),"OneDrive","Documents","obsidian-git-sync","Data")
dts_path = os.path.join(os.path.expanduser("~"),"Downloads","Datasets")

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2025, 1, 17), datetime.date(2025, 1, 16))

In [4]:
#today = date(2023, 4, 25)
#yesterday = today - timedelta(days=4)
today, yesterday

(datetime.date(2025, 1, 17), datetime.date(2025, 1, 16))

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-01-17
Today in mm-dd format: 01-17
yesterday: 2025-01-16 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,1,3)
today

datetime.date(2025, 1, 17)

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,1,2)
yesterday

Timestamp('2025-01-16 00:00:00')

In [8]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      ASK    6000
2       1      ASP   30000
3       1      IVL    7200
4       1      ORI   50000
5       1    PTTGC    6000
6       1      SCC     600
7       1   SINGER    6000
8       1      STA   10000
9       1      TMT   36000
10      1      TOA    1000
11      2   AIMIRT   12500
12      2  CPNREIT   55000
13      2      DIF   35000
14      2   GVREIT   60000
15      2      MCS   75000
16      2      NER   27000
17      2     SENA  105000
18      2    TFFIF   20000
19      2    WHAIR   50000
20      2    WHART   20000
21      3    3BBIF  120000
22      3    JMART    6800
23      3      JMT    4200
24      3      KCE   10000
25      4      AWC    9000
26      4      BCH    4000
27      4      PTG    3600
28      4      RCL   27000
29      4    SYNEX   15000
30      4      TVO    4000

In [9]:
file_name = "buy-input.csv"
data_file = data_path + file_name
osd_file = osd_path + file_name
buy.to_csv(data_file, index=False)
buy.to_csv(osd_file, index=False)

In [10]:
sql = """
SELECT *
FROM price
LIMIT 1"""
prices = pd.read_sql(sql, const)
prices.dtypes

name      object
date      object
price    float64
maxp     float64
minp     float64
qty        int64
opnp     float64
dtype: object

### Call ruby ruby\find-change-fm-2-dates.rb

In [12]:
# Get the current working directory
current_dir = os.getcwd()
print(f"Current Directory: {current_dir}")

Current Directory: C:\Users\PC1\OneDrive\A5\Daily

In [13]:
# Derive the base directory (to_dir) by removing the last folder ('Daily')
to_dir = os.path.dirname(current_dir)
print(f"Base Directory (to_dir): {to_dir}")

Base Directory (to_dir): C:\Users\PC1\OneDrive\A5

In [14]:
# Extract the last folder from the base directory
last_folder = os.path.basename(to_dir)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [15]:
# Change to the derived directory (optional)
os.chdir(to_dir)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [16]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-01-17      16.30      15.00      -1.30      -7.98  -1,560.00        -13
         1        ASK       6000   24-12-30   25-01-17      10.30       8.45      -1.85     -17.96 -11,100.00        -34
         1        ASP      30000   24-12-30   25-01-17       2.36       2.32      -0.04      -1.69  -1,200.00         -2
         1        IVL       7200   24-12-30   25-01-17      24.90      23.60      -1.30      -5.22  -9,360.00        -13
         1        ORI      50000   24-12-30   25-01-17       3.62       3.34      -0.28      -7.73 -14,000.00        -14
         1      PTTGC       6000   24-12-30   25-01-17      24.40      21.50      -2.90     -11.89 -17,400.00        -29
         1        SCC        600   24-12-30   25-01-17     168.00     156.00     -12.00      -7.14  -7,200.00        -24
         1        STA      10000   24-12-30   25-01-17      18.10      16.80      -1.30      -7.18 -13,000.00        -13
         1        TMT      36000   24-12-30   25-01-17       3.14       2.96      -0.18      -5.73  -6,480.00         -9
         1        TOA       1000   24-12-30   25-01-17      15.00      12.90      -2.10     -14.00  -2,100.00        -21
         2     AIMIRT      12500   24-12-30   25-01-17      10.60      10.50      -0.10      -0.94  -1,250.00         -1
         2    CPNREIT      55000   24-12-30   25-01-17      12.30      12.20      -0.10      -0.81  -5,500.00         -1
         2        DIF      35000   24-12-30   25-01-17       8.60       8.30      -0.30      -3.49 -10,500.00         -6
         2     GVREIT      60000   24-12-30   25-01-17       6.50       6.65       0.15       2.31   9,000.00          3
         2        MCS      75000   24-12-30   25-01-17       6.70       6.35      -0.35      -5.22 -26,250.00         -7
         2        NER      27000   24-12-30   25-01-17       4.62       4.84       0.22       4.76   5,940.00         11
         2       SENA     105000   24-12-30   25-01-17       2.22       2.20      -0.02      -0.90  -2,100.00         -1
         2      TFFIF      20000   24-12-30   25-01-17       6.35       6.25      -0.10      -1.57  -2,000.00         -2
         2      WHAIR      50000   24-12-30   25-01-17       6.50       6.45      -0.05      -0.77  -2,500.00         -1
         2      WHART      20000   24-12-30   25-01-17      10.20      10.10      -0.10      -0.98  -2,000.00         -1
         3      3BBIF     120000   24-12-30   25-01-17       5.20       5.10      -0.10      -1.92 -12,000.00         -2
         3      JMART       6800   24-12-30   25-01-17      13.20      10.90      -2.30     -17.42 -15,640.00        -23
         3        JMT       4200   24-12-30   25-01-17      18.20      14.40      -3.80     -20.88 -15,960.00        -38
         3        KCE      10000   24-12-30   25-01-17      24.50      21.70      -2.80     -11.43 -28,000.00        -28
         4        AWC       9000   24-12-30   25-01-17       3.52       3.14      -0.38     -10.80  -3,420.00        -19
         4        BCH       4000   24-12-30   25-01-17      15.30      14.50      -0.80      -5.23  -3,200.00         -8
         4        PTG       3600   24-12-30   25-01-17       8.20       7.65      -0.55      -6.71  -1,980.00        -11
         4        RCL      27000   24-12-30   25-01-17      28.25      25.00      -3.25     -11.50 -87,750.00        -13
         4     SINGER       6000   24-12-30   25-01-17       7.90       6.65      -1.25     -15.82  -7,500.00        -25
         4      SYNEX      15000   24-12-30   25-01-17      15.40      13.10      -2.30     -14.94 -34,500.00        -23
         4        TVO       4000   24-12-30   25-01-17      23.00      21.30      -1.70      -7.39  -6,800.00        -17

In [17]:
os.chdir(current_dir)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [18]:
#data_path = "../data/"
file_name   = 'prices-change.csv'
input_file = data_path + '\\' + file_name
input_file

'C:\\Users\\PC1\\OneDrive\\A5\\Data\\prices-change.csv'

In [19]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-01-17,16.30,15.00,-1.30,-7.98,-1560.0,-13
1,1,ASK,6000,2024-12-30,2025-01-17,10.30,8.45,-1.85,-17.96,-11100.0,-34
2,1,ASP,30000,2024-12-30,2025-01-17,2.36,2.32,-0.04,-1.69,-1200.0,-2
3,1,IVL,7200,2024-12-30,2025-01-17,24.90,23.60,-1.30,-5.22,-9360.0,-13
4,1,ORI,50000,2024-12-30,2025-01-17,3.62,3.34,-0.28,-7.73,-14000.0,-14
5,1,PTTGC,6000,2024-12-30,2025-01-17,24.40,21.50,-2.90,-11.89,-17400.0,-29
6,1,SCC,600,2024-12-30,2025-01-17,168.00,156.00,-12.00,-7.14,-7200.0,-24
7,1,STA,10000,2024-12-30,2025-01-17,18.10,16.80,-1.30,-7.18,-13000.0,-13
8,1,TMT,36000,2024-12-30,2025-01-17,3.14,2.96,-0.18,-5.73,-6480.0,-9
9,1,TOA,1000,2024-12-30,2025-01-17,15.00,12.90,-2.10,-14.00,-2100.0,-21
10,2,AIMIRT,12500,2024-12-30,2025-01-17,10.60,10.50,-0.10,-0.94,-1250.0,-1
11,2,CPNREIT,55000,2024-12-30,2025-01-17,12.30,12.20,-0.10,-0.81,-5500.0,-1
12,2,DIF,35000,2024-12-30,2025-01-17,8.60,8.30,-0.30,-3.49,-10500.0,-6
13,2,GVREIT,60000,2024-12-30,2025-01-17,6.50,6.65,0.15,2.31,9000.0,3
14,2,MCS,75000,2024-12-30,2025-01-17,6.70,6.35,-0.35,-5.22,-26250.0,-7
15,2,NER,27000,2024-12-30,2025-01-17,4.62,4.84,0.22,4.76,5940.0,11
16,2,SENA,105000,2024-12-30,2025-01-17,2.22,2.20,-0.02,-0.90,-2100.0,-1
17,2,TFFIF,20000,2024-12-30,2025-01-17,6.35,6.25,-0.10,-1.57,-2000.0,-2
18,2,WHAIR,50000,2024-12-30,2025-01-17,6.50,6.45,-0.05,-0.77,-2500.0,-1
19,2,WHART,20000,2024-12-30,2025-01-17,10.20,10.10,-0.10,-0.98,-2000.0,-1
20,3,3BBIF,120000,2024-12-30,2025-01-17,5.20,5.10,-0.10,-1.92,-12000.0,-2
21,3,JMART,6800,2024-12-30,2025-01-17,13.20,10.90,-2.30,-17.42,-15640.0,-23
22,3,JMT,4200,2024-12-30,2025-01-17,18.20,14.40,-3.80,-20.88,-15960.0,-38
23,3,KCE,10000,2024-12-30,2025-01-17,24.50,21.70,-2.80,-11.43,-28000.0,-28
24,4,AWC,9000,2024-12-30,2025-01-17,3.52,3.14,-0.38,-10.80,-3420.0,-19
25,4,BCH,4000,2024-12-30,2025-01-17,15.30,14.50,-0.80,-5.23,-3200.0,-8
26,4,PTG,3600,2024-12-30,2025-01-17,8.20,7.65,-0.55,-6.71,-1980.0,-11
27,4,RCL,27000,2024-12-30,2025-01-17,28.25,25.00,-3.25,-11.50,-87750.0,-13
28,4,SINGER,6000,2024-12-30,2025-01-17,7.90,6.65,-1.25,-15.82,-7500.0,-25
29,4,SYNEX,15000,2024-12-30,2025-01-17,15.40,13.10,-2.30,-14.94,-34500.0,-23
30,4,TVO,4000,2024-12-30,2025-01-17,23.00,21.30,-1.70,-7.39,-6800.0,-17

In [20]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
22,3,JMT,4200,2024-12-30,2025-01-17,18.20,14.40,-3.80,-20.88,-15960.0,-38
1,1,ASK,6000,2024-12-30,2025-01-17,10.30,8.45,-1.85,-17.96,-11100.0,-34
5,1,PTTGC,6000,2024-12-30,2025-01-17,24.40,21.50,-2.90,-11.89,-17400.0,-29
23,3,KCE,10000,2024-12-30,2025-01-17,24.50,21.70,-2.80,-11.43,-28000.0,-28
28,4,SINGER,6000,2024-12-30,2025-01-17,7.90,6.65,-1.25,-15.82,-7500.0,-25
6,1,SCC,600,2024-12-30,2025-01-17,168.00,156.00,-12.00,-7.14,-7200.0,-24
21,3,JMART,6800,2024-12-30,2025-01-17,13.20,10.90,-2.30,-17.42,-15640.0,-23
29,4,SYNEX,15000,2024-12-30,2025-01-17,15.40,13.10,-2.30,-14.94,-34500.0,-23
9,1,TOA,1000,2024-12-30,2025-01-17,15.00,12.90,-2.10,-14.00,-2100.0,-21
24,4,AWC,9000,2024-12-30,2025-01-17,3.52,3.14,-0.38,-10.80,-3420.0,-19
30,4,TVO,4000,2024-12-30,2025-01-17,23.00,21.30,-1.70,-7.39,-6800.0,-17
4,1,ORI,50000,2024-12-30,2025-01-17,3.62,3.34,-0.28,-7.73,-14000.0,-14
27,4,RCL,27000,2024-12-30,2025-01-17,28.25,25.00,-3.25,-11.50,-87750.0,-13
0,1,AH,1200,2024-12-30,2025-01-17,16.30,15.00,-1.30,-7.98,-1560.0,-13
3,1,IVL,7200,2024-12-30,2025-01-17,24.90,23.60,-1.30,-5.22,-9360.0,-13
7,1,STA,10000,2024-12-30,2025-01-17,18.10,16.80,-1.30,-7.18,-13000.0,-13
26,4,PTG,3600,2024-12-30,2025-01-17,8.20,7.65,-0.55,-6.71,-1980.0,-11
8,1,TMT,36000,2024-12-30,2025-01-17,3.14,2.96,-0.18,-5.73,-6480.0,-9
25,4,BCH,4000,2024-12-30,2025-01-17,15.30,14.50,-0.80,-5.23,-3200.0,-8
14,2,MCS,75000,2024-12-30,2025-01-17,6.70,6.35,-0.35,-5.22,-26250.0,-7
12,2,DIF,35000,2024-12-30,2025-01-17,8.60,8.30,-0.30,-3.49,-10500.0,-6
2,1,ASP,30000,2024-12-30,2025-01-17,2.36,2.32,-0.04,-1.69,-1200.0,-2
17,2,TFFIF,20000,2024-12-30,2025-01-17,6.35,6.25,-0.10,-1.57,-2000.0,-2
20,3,3BBIF,120000,2024-12-30,2025-01-17,5.20,5.10,-0.10,-1.92,-12000.0,-2
10,2,AIMIRT,12500,2024-12-30,2025-01-17,10.60,10.50,-0.10,-0.94,-1250.0,-1
11,2,CPNREIT,55000,2024-12-30,2025-01-17,12.30,12.20,-0.10,-0.81,-5500.0,-1
19,2,WHART,20000,2024-12-30,2025-01-17,10.20,10.10,-0.10,-0.98,-2000.0,-1
18,2,WHAIR,50000,2024-12-30,2025-01-17,6.50,6.45,-0.05,-0.77,-2500.0,-1
16,2,SENA,105000,2024-12-30,2025-01-17,2.22,2.20,-0.02,-0.90,-2100.0,-1
13,2,GVREIT,60000,2024-12-30,2025-01-17,6.50,6.65,0.15,2.31,9000.0,3
15,2,NER,27000,2024-12-30,2025-01-17,4.62,4.84,0.22,4.76,5940.0,11

In [21]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1       148000  -83400.0 -172
2       459500  -37160.0   -6
3       141000  -71600.0  -91
4        68600 -145150.0 -116

In [22]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr  avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1        148000  28.612  26.287000 -2.325000 -17.200000  -83400.0
2        459500   7.459   7.384000 -0.075000  -0.600000  -37160.0
3        141000  15.275  13.025000 -2.250000 -22.750000  -71600.0
4         68600  14.510  13.048571 -1.461429 -16.571429 -145150.0

In [23]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-337,310.00'

In [24]:
prev_pl = -295_230
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-42,080.00'