### Modify 2 statements then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2025, 1, 31), datetime.date(2025, 1, 30))

In [4]:
#today = date(2025, 1, 24)
#yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2025, 1, 31), datetime.date(2025, 1, 30))

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-01-31
Today in mm-dd format: 01-31
yesterday: 2025-01-30 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,1,3)
today

datetime.date(2025, 1, 31)

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,1,2)
yesterday

Timestamp('2025-01-30 00:00:00')

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      ASK    6000
2       1      ASP   30000
3       1      IVL    7200
4       1      ORI   50000
5       1    PTTGC    6000
6       1      SCC     600
7       1   SINGER    6000
8       1      STA   10000
9       1      TMT   36000
10      1      TOA    1000
11      2   AIMIRT   12500
12      2  CPNREIT   55000
13      2      DIF   35000
14      2   GVREIT   60000
15      2      MCS   75000
16      2      NER   27000
17      2     SENA  105000
18      2    TFFIF   20000
19      2    WHAIR   50000
20      2    WHART   20000
21      3    3BBIF  120000
22      3    JMART    6800
23      3      JMT    4200
24      3      KCE   10000
25      4      AWC    9000
26      4      BCH    4000
27      4      PTG    3600
28      4      RCL   27000
29      4    SYNEX   15000
30      4      TVO    4000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-01-31      16.30      14.30      -2.00     -12.27  -2,400.00        -20
         1        ASK       6000   24-12-30   25-01-31      10.30       8.70      -1.60     -15.53  -9,600.00        -29
         1        ASP      30000   24-12-30   25-01-31       2.36       2.32      -0.04      -1.69  -1,200.00         -2
         1        IVL       7200   24-12-30   25-01-31      24.90      23.00      -1.90      -7.63 -13,680.00        -19
         1        ORI      50000   24-12-30   25-01-31       3.62       3.42      -0.20      -5.52 -10,000.00        -10
         1      PTTGC       6000   24-12-30   25-01-31      24.40      21.50      -2.90     -11.89 -17,400.00        -29
         1        SCC        600   24-12-30   25-01-31     168.00     154.00     -14.00      -8.33  -8,400.00        -28
         1     SINGER       6000   24-12-30   25-01-31       7.90       6.75      -1.15     -14.56  -6,900.00        -23
         1        STA      10000   24-12-30   25-01-31      18.10      15.70      -2.40     -13.26 -24,000.00        -24
         1        TMT      36000   24-12-30   25-01-31       3.14       3.16       0.02       0.64     720.00          1
         1        TOA       1000   24-12-30   25-01-31      15.00      12.10      -2.90     -19.33  -2,900.00        -29
         2     AIMIRT      12500   24-12-30   25-01-31      10.60      10.50      -0.10      -0.94  -1,250.00         -1
         2    CPNREIT      55000   24-12-30   25-01-31      12.30      12.10      -0.20      -1.63 -11,000.00         -2
         2        DIF      35000   24-12-30   25-01-31       8.60       8.40      -0.20      -2.33  -7,000.00         -4
         2     GVREIT      60000   24-12-30   25-01-31       6.50       6.75       0.25       3.85  15,000.00          5
         2        MCS      75000   24-12-30   25-01-31       6.70       6.20      -0.50      -7.46 -37,500.00        -10
         2        NER      27000   24-12-30   25-01-31       4.62       4.90       0.28       6.06   7,560.00         14
         2       SENA     105000   24-12-30   25-01-31       2.22       2.18      -0.04      -1.80  -4,200.00         -2
         2      TFFIF      20000   24-12-30   25-01-31       6.35       6.30      -0.05      -0.79  -1,000.00         -1
         2      WHAIR      50000   24-12-30   25-01-31       6.50       6.45      -0.05      -0.77  -2,500.00         -1
         2      WHART      20000   24-12-30   25-01-31      10.20      10.00      -0.20      -1.96  -4,000.00         -2
         3      3BBIF     120000   24-12-30   25-01-31       5.20       5.25       0.05       0.96   6,000.00          1
         3      JMART       6800   24-12-30   25-01-31      13.20      10.90      -2.30     -17.42 -15,640.00        -23
         3        JMT       4200   24-12-30   25-01-31      18.20      14.70      -3.50     -19.23 -14,700.00        -35
         3        KCE      10000   24-12-30   25-01-31      24.50      22.00      -2.50     -10.20 -25,000.00        -25
         4        AWC       9000   24-12-30   25-01-31       3.52       3.16      -0.36     -10.23  -3,240.00        -18
         4        BCH       4000   24-12-30   25-01-31      15.30      14.30      -1.00      -6.54  -4,000.00        -10
         4        PTG       3600   24-12-30   25-01-31       8.20       7.45      -0.75      -9.15  -2,700.00        -15
         4        RCL      27000   24-12-30   25-01-31      28.25      24.00      -4.25     -15.04 -114,750.00        -23
         4      SYNEX      15000   24-12-30   25-01-31      15.40      13.40      -2.00     -12.99 -30,000.00        -20
         4        TVO       4000   24-12-30   25-01-31      23.00      21.00      -2.00      -8.70  -8,000.00        -20

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-01-31,16.30,14.30,-2.00,-12.27,-2400.0,-20
1,1,ASK,6000,2024-12-30,2025-01-31,10.30,8.70,-1.60,-15.53,-9600.0,-29
2,1,ASP,30000,2024-12-30,2025-01-31,2.36,2.32,-0.04,-1.69,-1200.0,-2
3,1,IVL,7200,2024-12-30,2025-01-31,24.90,23.00,-1.90,-7.63,-13680.0,-19
4,1,ORI,50000,2024-12-30,2025-01-31,3.62,3.42,-0.20,-5.52,-10000.0,-10
5,1,PTTGC,6000,2024-12-30,2025-01-31,24.40,21.50,-2.90,-11.89,-17400.0,-29
6,1,SCC,600,2024-12-30,2025-01-31,168.00,154.00,-14.00,-8.33,-8400.0,-28
7,1,SINGER,6000,2024-12-30,2025-01-31,7.90,6.75,-1.15,-14.56,-6900.0,-23
8,1,STA,10000,2024-12-30,2025-01-31,18.10,15.70,-2.40,-13.26,-24000.0,-24
9,1,TMT,36000,2024-12-30,2025-01-31,3.14,3.16,0.02,0.64,720.0,1
10,1,TOA,1000,2024-12-30,2025-01-31,15.00,12.10,-2.90,-19.33,-2900.0,-29
11,2,AIMIRT,12500,2024-12-30,2025-01-31,10.60,10.50,-0.10,-0.94,-1250.0,-1
12,2,CPNREIT,55000,2024-12-30,2025-01-31,12.30,12.10,-0.20,-1.63,-11000.0,-2
13,2,DIF,35000,2024-12-30,2025-01-31,8.60,8.40,-0.20,-2.33,-7000.0,-4
14,2,GVREIT,60000,2024-12-30,2025-01-31,6.50,6.75,0.25,3.85,15000.0,5
15,2,MCS,75000,2024-12-30,2025-01-31,6.70,6.20,-0.50,-7.46,-37500.0,-10
16,2,NER,27000,2024-12-30,2025-01-31,4.62,4.90,0.28,6.06,7560.0,14
17,2,SENA,105000,2024-12-30,2025-01-31,2.22,2.18,-0.04,-1.80,-4200.0,-2
18,2,TFFIF,20000,2024-12-30,2025-01-31,6.35,6.30,-0.05,-0.79,-1000.0,-1
19,2,WHAIR,50000,2024-12-30,2025-01-31,6.50,6.45,-0.05,-0.77,-2500.0,-1
20,2,WHART,20000,2024-12-30,2025-01-31,10.20,10.00,-0.20,-1.96,-4000.0,-2
21,3,3BBIF,120000,2024-12-30,2025-01-31,5.20,5.25,0.05,0.96,6000.0,1
22,3,JMART,6800,2024-12-30,2025-01-31,13.20,10.90,-2.30,-17.42,-15640.0,-23
23,3,JMT,4200,2024-12-30,2025-01-31,18.20,14.70,-3.50,-19.23,-14700.0,-35
24,3,KCE,10000,2024-12-30,2025-01-31,24.50,22.00,-2.50,-10.20,-25000.0,-25
25,4,AWC,9000,2024-12-30,2025-01-31,3.52,3.16,-0.36,-10.23,-3240.0,-18
26,4,BCH,4000,2024-12-30,2025-01-31,15.30,14.30,-1.00,-6.54,-4000.0,-10
27,4,PTG,3600,2024-12-30,2025-01-31,8.20,7.45,-0.75,-9.15,-2700.0,-15
28,4,RCL,27000,2024-12-30,2025-01-31,28.25,24.00,-4.25,-15.04,-114750.0,-23
29,4,SYNEX,15000,2024-12-30,2025-01-31,15.40,13.40,-2.00,-12.99,-30000.0,-20
30,4,TVO,4000,2024-12-30,2025-01-31,23.00,21.00,-2.00,-8.70,-8000.0,-20

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
23,3,JMT,4200,2024-12-30,2025-01-31,18.20,14.70,-3.50,-19.23,-14700.0,-35
1,1,ASK,6000,2024-12-30,2025-01-31,10.30,8.70,-1.60,-15.53,-9600.0,-29
5,1,PTTGC,6000,2024-12-30,2025-01-31,24.40,21.50,-2.90,-11.89,-17400.0,-29
10,1,TOA,1000,2024-12-30,2025-01-31,15.00,12.10,-2.90,-19.33,-2900.0,-29
6,1,SCC,600,2024-12-30,2025-01-31,168.00,154.00,-14.00,-8.33,-8400.0,-28
24,3,KCE,10000,2024-12-30,2025-01-31,24.50,22.00,-2.50,-10.20,-25000.0,-25
8,1,STA,10000,2024-12-30,2025-01-31,18.10,15.70,-2.40,-13.26,-24000.0,-24
28,4,RCL,27000,2024-12-30,2025-01-31,28.25,24.00,-4.25,-15.04,-114750.0,-23
7,1,SINGER,6000,2024-12-30,2025-01-31,7.90,6.75,-1.15,-14.56,-6900.0,-23
22,3,JMART,6800,2024-12-30,2025-01-31,13.20,10.90,-2.30,-17.42,-15640.0,-23
0,1,AH,1200,2024-12-30,2025-01-31,16.30,14.30,-2.00,-12.27,-2400.0,-20
29,4,SYNEX,15000,2024-12-30,2025-01-31,15.40,13.40,-2.00,-12.99,-30000.0,-20
30,4,TVO,4000,2024-12-30,2025-01-31,23.00,21.00,-2.00,-8.70,-8000.0,-20
3,1,IVL,7200,2024-12-30,2025-01-31,24.90,23.00,-1.90,-7.63,-13680.0,-19
25,4,AWC,9000,2024-12-30,2025-01-31,3.52,3.16,-0.36,-10.23,-3240.0,-18
27,4,PTG,3600,2024-12-30,2025-01-31,8.20,7.45,-0.75,-9.15,-2700.0,-15
15,2,MCS,75000,2024-12-30,2025-01-31,6.70,6.20,-0.50,-7.46,-37500.0,-10
26,4,BCH,4000,2024-12-30,2025-01-31,15.30,14.30,-1.00,-6.54,-4000.0,-10
4,1,ORI,50000,2024-12-30,2025-01-31,3.62,3.42,-0.20,-5.52,-10000.0,-10
13,2,DIF,35000,2024-12-30,2025-01-31,8.60,8.40,-0.20,-2.33,-7000.0,-4
20,2,WHART,20000,2024-12-30,2025-01-31,10.20,10.00,-0.20,-1.96,-4000.0,-2
12,2,CPNREIT,55000,2024-12-30,2025-01-31,12.30,12.10,-0.20,-1.63,-11000.0,-2
17,2,SENA,105000,2024-12-30,2025-01-31,2.22,2.18,-0.04,-1.80,-4200.0,-2
2,1,ASP,30000,2024-12-30,2025-01-31,2.36,2.32,-0.04,-1.69,-1200.0,-2
18,2,TFFIF,20000,2024-12-30,2025-01-31,6.35,6.30,-0.05,-0.79,-1000.0,-1
11,2,AIMIRT,12500,2024-12-30,2025-01-31,10.60,10.50,-0.10,-0.94,-1250.0,-1
19,2,WHAIR,50000,2024-12-30,2025-01-31,6.50,6.45,-0.05,-0.77,-2500.0,-1
9,1,TMT,36000,2024-12-30,2025-01-31,3.14,3.16,0.02,0.64,720.0,1
21,3,3BBIF,120000,2024-12-30,2025-01-31,5.20,5.25,0.05,0.96,6000.0,1
14,2,GVREIT,60000,2024-12-30,2025-01-31,6.50,6.75,0.25,3.85,15000.0,5
16,2,NER,27000,2024-12-30,2025-01-31,4.62,4.90,0.28,6.06,7560.0,14

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1       154000  -95760.0 -212
2       459500  -45890.0   -4
3       141000  -49340.0  -82
4        62600 -162690.0 -106

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1        154000  26.729091  24.086364 -2.642727 -19.272727  -95760.0
2        459500   7.459000   7.378000 -0.081000  -0.400000  -45890.0
3        141000  15.275000  13.212500 -2.062500 -20.500000  -49340.0
4         62600  15.611667  13.885000 -1.726667 -17.666667 -162690.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-353,680.00'

In [25]:
prev_pl = -353_680
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-81,590.00'