### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-21 2025-08-20

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-21 2025-08-20

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-21
Today in mm-dd format: 08-21
yesterday: 2025-08-19 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-21

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-08-19 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   50000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   17500
8       2  CPNREIT   55000
9       2      DIF   50000
10      2   GVREIT   69000
11      2      MCS   81000
12      2      NER   27000
13      2      PTT    2500
14      2     SENA  105000
15      2    TFFIF   20000
16      2    WHAIR   50000
17      2    WHART   25000
18      3    3BBIF  120000
19      3      BCH    4000
20      3      IVL    7200
21      3      RCL   27000
22      3      STA   10000
23      3    SYNEX   17500
24      3      TVO    8000
25      4      CPF       0
26      4      JMT    4200
27      4      PTG    3600
28      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-21      16.30      14.80      -1.50      -9.20  -1,800.00        -15
         1        AWC       9000   24-12-30   25-08-21       3.52       2.40      -1.12     -31.82 -10,080.00        -56
         1      JMART       6800   24-12-30   25-08-21      13.20       8.45      -4.75     -35.98 -32,300.00        -63
         1        ORI      50000   24-12-30   25-08-21       3.62       2.26      -1.36     -37.57 -68,000.00        -68
         1      PTTGC       6000   24-12-30   25-08-21      24.40      28.00       3.60      14.75  21,600.00         18
         1        SCC        600   24-12-30   25-08-21     168.00     227.00      59.00      35.12  35,400.00         91
         1     SINGER       6000   24-12-30   25-08-21       7.90       5.30      -2.60     -32.91 -15,600.00        -52
         2     AIMIRT      17500   24-12-30   25-08-21      10.60       9.60      -1.00      -9.43 -17,500.00        -14
         2    CPNREIT      55000   24-12-30   25-08-21      12.30      11.40      -0.90      -7.32 -49,500.00         -9
         2        DIF      50000   24-12-30   25-08-21       8.60       8.20      -0.40      -4.65 -20,000.00         -8
         2     GVREIT      69000   24-12-30   25-08-21       6.50       6.35      -0.15      -2.31 -10,350.00         -3
         2        MCS      81000   24-12-30   25-08-21       6.70       8.60       1.90      28.36 153,900.00         38
         2        NER      27000   24-12-30   25-08-21       4.62       4.30      -0.32      -6.93  -8,640.00        -16
         2        PTT       2500   24-12-30   25-08-21      31.75      32.00       0.25       0.79     625.00          1
         2       SENA     105000   24-12-30   25-08-21       2.22       1.85      -0.37     -16.67 -38,850.00        -25
         2      TFFIF      20000   24-12-30   25-08-21       6.35       6.05      -0.30      -4.72  -6,000.00         -6
         2      WHAIR      50000   24-12-30   25-08-21       6.50       5.35      -1.15     -17.69 -57,500.00        -23
         2      WHART      25000   24-12-30   25-08-21      10.20       9.05      -1.15     -11.27 -28,750.00        -20
         3      3BBIF     120000   24-12-30   25-08-21       5.20       6.20       1.00      19.23 120,000.00         20
         3        BCH       4000   24-12-30   25-08-21      15.30      13.40      -1.90     -12.42  -7,600.00        -19
         3        IVL       7200   24-12-30   25-08-21      24.90      23.50      -1.40      -5.62 -10,080.00        -14
         3        RCL      27000   24-12-30   25-08-21      28.25      27.25      -1.00      -3.54 -27,000.00         -4
         3        STA      10000   24-12-30   25-08-21      18.10      12.00      -6.10     -33.70 -61,000.00        -61
         3      SYNEX      17500   24-12-30   25-08-21      15.40      11.50      -3.90     -25.32 -68,250.00        -39
         3        TVO       8000   24-12-30   25-08-21      23.00      25.25       2.25       9.78  18,000.00         21
         4        CPF          0   24-12-30   25-08-21      22.80      24.40       1.60       7.02       0.00         16
         4        JMT       4200   24-12-30   25-08-21      18.20      11.40      -6.80     -37.36 -28,560.00        -68
         4        PTG       3600   24-12-30   25-08-21       8.20       7.00      -1.20     -14.63  -4,320.00        -24
         4        TOA       1000   24-12-30   25-08-21      15.00      14.40      -0.60      -4.00    -600.00         -6

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-21,16.30,14.80,-1.50,-9.20,-1800.0,-15
1,1,AWC,9000,2024-12-30,2025-08-21,3.52,2.40,-1.12,-31.82,-10080.0,-56
2,1,JMART,6800,2024-12-30,2025-08-21,13.20,8.45,-4.75,-35.98,-32300.0,-63
3,1,ORI,50000,2024-12-30,2025-08-21,3.62,2.26,-1.36,-37.57,-68000.0,-68
4,1,PTTGC,6000,2024-12-30,2025-08-21,24.40,28.00,3.60,14.75,21600.0,18
5,1,SCC,600,2024-12-30,2025-08-21,168.00,227.00,59.00,35.12,35400.0,91
6,1,SINGER,6000,2024-12-30,2025-08-21,7.90,5.30,-2.60,-32.91,-15600.0,-52
7,2,AIMIRT,17500,2024-12-30,2025-08-21,10.60,9.60,-1.00,-9.43,-17500.0,-14
8,2,CPNREIT,55000,2024-12-30,2025-08-21,12.30,11.40,-0.90,-7.32,-49500.0,-9
9,2,DIF,50000,2024-12-30,2025-08-21,8.60,8.20,-0.40,-4.65,-20000.0,-8
10,2,GVREIT,69000,2024-12-30,2025-08-21,6.50,6.35,-0.15,-2.31,-10350.0,-3
11,2,MCS,81000,2024-12-30,2025-08-21,6.70,8.60,1.90,28.36,153900.0,38
12,2,NER,27000,2024-12-30,2025-08-21,4.62,4.30,-0.32,-6.93,-8640.0,-16
13,2,PTT,2500,2024-12-30,2025-08-21,31.75,32.00,0.25,0.79,625.0,1
14,2,SENA,105000,2024-12-30,2025-08-21,2.22,1.85,-0.37,-16.67,-38850.0,-25
15,2,TFFIF,20000,2024-12-30,2025-08-21,6.35,6.05,-0.30,-4.72,-6000.0,-6
16,2,WHAIR,50000,2024-12-30,2025-08-21,6.50,5.35,-1.15,-17.69,-57500.0,-23
17,2,WHART,25000,2024-12-30,2025-08-21,10.20,9.05,-1.15,-11.27,-28750.0,-20
18,3,3BBIF,120000,2024-12-30,2025-08-21,5.20,6.20,1.00,19.23,120000.0,20
19,3,BCH,4000,2024-12-30,2025-08-21,15.30,13.40,-1.90,-12.42,-7600.0,-19
20,3,IVL,7200,2024-12-30,2025-08-21,24.90,23.50,-1.40,-5.62,-10080.0,-14
21,3,RCL,27000,2024-12-30,2025-08-21,28.25,27.25,-1.00,-3.54,-27000.0,-4
22,3,STA,10000,2024-12-30,2025-08-21,18.10,12.00,-6.10,-33.70,-61000.0,-61
23,3,SYNEX,17500,2024-12-30,2025-08-21,15.40,11.50,-3.90,-25.32,-68250.0,-39
24,3,TVO,8000,2024-12-30,2025-08-21,23.00,25.25,2.25,9.78,18000.0,21
25,4,CPF,0,2024-12-30,2025-08-21,22.80,24.40,1.60,7.02,0.0,16
26,4,JMT,4200,2024-12-30,2025-08-21,18.20,11.40,-6.80,-37.36,-28560.0,-68
27,4,PTG,3600,2024-12-30,2025-08-21,8.20,7.00,-1.20,-14.63,-4320.0,-24
28,4,TOA,1000,2024-12-30,2025-08-21,15.00,14.40,-0.60,-4.00,-600.0,-6

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
3,1,ORI,50000,2024-12-30,2025-08-21,3.62,2.26,-1.36,-37.57,-68000.0,-68
26,4,JMT,4200,2024-12-30,2025-08-21,18.20,11.40,-6.80,-37.36,-28560.0,-68
2,1,JMART,6800,2024-12-30,2025-08-21,13.20,8.45,-4.75,-35.98,-32300.0,-63
22,3,STA,10000,2024-12-30,2025-08-21,18.10,12.00,-6.10,-33.70,-61000.0,-61
1,1,AWC,9000,2024-12-30,2025-08-21,3.52,2.40,-1.12,-31.82,-10080.0,-56
6,1,SINGER,6000,2024-12-30,2025-08-21,7.90,5.30,-2.60,-32.91,-15600.0,-52
23,3,SYNEX,17500,2024-12-30,2025-08-21,15.40,11.50,-3.90,-25.32,-68250.0,-39
14,2,SENA,105000,2024-12-30,2025-08-21,2.22,1.85,-0.37,-16.67,-38850.0,-25
27,4,PTG,3600,2024-12-30,2025-08-21,8.20,7.00,-1.20,-14.63,-4320.0,-24
16,2,WHAIR,50000,2024-12-30,2025-08-21,6.50,5.35,-1.15,-17.69,-57500.0,-23
17,2,WHART,25000,2024-12-30,2025-08-21,10.20,9.05,-1.15,-11.27,-28750.0,-20
19,3,BCH,4000,2024-12-30,2025-08-21,15.30,13.40,-1.90,-12.42,-7600.0,-19
12,2,NER,27000,2024-12-30,2025-08-21,4.62,4.30,-0.32,-6.93,-8640.0,-16
0,1,AH,1200,2024-12-30,2025-08-21,16.30,14.80,-1.50,-9.20,-1800.0,-15
20,3,IVL,7200,2024-12-30,2025-08-21,24.90,23.50,-1.40,-5.62,-10080.0,-14
7,2,AIMIRT,17500,2024-12-30,2025-08-21,10.60,9.60,-1.00,-9.43,-17500.0,-14
8,2,CPNREIT,55000,2024-12-30,2025-08-21,12.30,11.40,-0.90,-7.32,-49500.0,-9
9,2,DIF,50000,2024-12-30,2025-08-21,8.60,8.20,-0.40,-4.65,-20000.0,-8
15,2,TFFIF,20000,2024-12-30,2025-08-21,6.35,6.05,-0.30,-4.72,-6000.0,-6
28,4,TOA,1000,2024-12-30,2025-08-21,15.00,14.40,-0.60,-4.00,-600.0,-6
21,3,RCL,27000,2024-12-30,2025-08-21,28.25,27.25,-1.00,-3.54,-27000.0,-4
10,2,GVREIT,69000,2024-12-30,2025-08-21,6.50,6.35,-0.15,-2.31,-10350.0,-3
13,2,PTT,2500,2024-12-30,2025-08-21,31.75,32.00,0.25,0.79,625.0,1
25,4,CPF,0,2024-12-30,2025-08-21,22.80,24.40,1.60,7.02,0.0,16
4,1,PTTGC,6000,2024-12-30,2025-08-21,24.40,28.00,3.60,14.75,21600.0,18
18,3,3BBIF,120000,2024-12-30,2025-08-21,5.20,6.20,1.00,19.23,120000.0,20
24,3,TVO,8000,2024-12-30,2025-08-21,23.00,25.25,2.25,9.78,18000.0,21
11,2,MCS,81000,2024-12-30,2025-08-21,6.70,8.60,1.90,28.36,153900.0,38
5,1,SCC,600,2024-12-30,2025-08-21,168.00,227.00,59.00,35.12,35400.0,91

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares   amount  spd
period
1        79600 -70780.0 -145
2       502000 -82565.0  -85
3       193700 -35930.0  -96
4         8800 -33480.0  -82

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd  ttl_amt
period
1         79600  33.848571  41.172857  7.324286 -20.714286 -70780.0
2        502000   9.667273   9.340909 -0.326364  -7.727273 -82565.0
3        193700  18.592857  17.014286 -1.578571 -13.714286 -35930.0
4          8800  16.050000  14.300000 -1.750000 -20.500000 -33480.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-222,755.00'

In [25]:
prev_pl = -222_755
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿63,535.00'