### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-19 2025-08-18

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-08-19 2025-08-18

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-08-19
Today in mm-dd format: 08-19
yesterday: 2025-08-15 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-08-19

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-08-15 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      AWC    9000
2       1    JMART    6800
3       1      ORI   50000
4       1    PTTGC    6000
5       1      SCC     600
6       1   SINGER    6000
7       2   AIMIRT   17500
8       2  CPNREIT   55000
9       2      DIF   50000
10      2   GVREIT   69000
11      2      MCS   81000
12      2      NER   27000
13      2      PTT    2500
14      2     SENA  105000
15      2    TFFIF   20000
16      2    WHAIR   50000
17      2    WHART   25000
18      3    3BBIF  120000
19      3      BCH    4000
20      3      IVL    7200
21      3      RCL   27000
22      3      STA   10000
23      3    SYNEX   17500
24      3      TVO    8000
25      4      CPF    4000
26      4      JMT    4200
27      4      PTG    3600
28      4      TOA    1000

In [11]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [12]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [13]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [15]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [16]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [17]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-08-19      16.30      14.50      -1.80     -11.04  -2,160.00        -18
         1        AWC       9000   24-12-30   25-08-19       3.52       2.42      -1.10     -31.25  -9,900.00        -55
         1      JMART       6800   24-12-30   25-08-19      13.20       8.25      -4.95     -37.50 -33,660.00        -67
         1        ORI      50000   24-12-30   25-08-19       3.62       2.28      -1.34     -37.02 -67,000.00        -67
         1      PTTGC       6000   24-12-30   25-08-19      24.40      22.10      -2.30      -9.43 -13,800.00        -23
         1        SCC        600   24-12-30   25-08-19     168.00     201.00      33.00      19.64  19,800.00         65
         1     SINGER       6000   24-12-30   25-08-19       7.90       5.30      -2.60     -32.91 -15,600.00        -52
         2     AIMIRT      17500   24-12-30   25-08-19      10.60       9.55      -1.05      -9.91 -18,375.00        -14
         2    CPNREIT      55000   24-12-30   25-08-19      12.30      11.40      -0.90      -7.32 -49,500.00         -9
         2        DIF      50000   24-12-30   25-08-19       8.60       8.10      -0.50      -5.81 -25,000.00        -10
         2     GVREIT      69000   24-12-30   25-08-19       6.50       6.30      -0.20      -3.08 -13,800.00         -4
         2        MCS      81000   24-12-30   25-08-19       6.70       8.60       1.90      28.36 153,900.00         38
         2        NER      27000   24-12-30   25-08-19       4.62       4.44      -0.18      -3.90  -4,860.00         -9
         2        PTT       2500   24-12-30   25-08-19      31.75      31.75       0.00       0.00       0.00          0
         2       SENA     105000   24-12-30   25-08-19       2.22       1.83      -0.39     -17.57 -40,950.00        -27
         2      TFFIF      20000   24-12-30   25-08-19       6.35       6.05      -0.30      -4.72  -6,000.00         -6
         2      WHAIR      50000   24-12-30   25-08-19       6.50       5.35      -1.15     -17.69 -57,500.00        -23
         2      WHART      25000   24-12-30   25-08-19      10.20       9.10      -1.10     -10.78 -27,500.00        -20
         3      3BBIF     120000   24-12-30   25-08-19       5.20       6.15       0.95      18.27 114,000.00         19
         3        BCH       4000   24-12-30   25-08-19      15.30      13.10      -2.20     -14.38  -8,800.00        -22
         3        IVL       7200   24-12-30   25-08-19      24.90      20.30      -4.60     -18.47 -33,120.00        -46
         3        RCL      27000   24-12-30   25-08-19      28.25      27.00      -1.25      -4.42 -33,750.00         -5
         3        STA      10000   24-12-30   25-08-19      18.10      11.90      -6.20     -34.25 -62,000.00        -62
         3      SYNEX      17500   24-12-30   25-08-19      15.40      11.20      -4.20     -27.27 -73,500.00        -42
         3        TVO       8000   24-12-30   25-08-19      23.00      25.00       2.00       8.70  16,000.00         20
         4        CPF       4000   24-12-30   25-08-19      22.80      23.50       0.70       3.07   2,800.00          7
         4        JMT       4200   24-12-30   25-08-19      18.20      11.20      -7.00     -38.46 -29,400.00        -70
         4        PTG       3600   24-12-30   25-08-19       8.20       6.80      -1.40     -17.07  -5,040.00        -28
         4        TOA       1000   24-12-30   25-08-19      15.00      14.50      -0.50      -3.33    -500.00         -5

In [18]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [19]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [20]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-08-19,16.30,14.50,-1.80,-11.04,-2160.0,-18
1,1,AWC,9000,2024-12-30,2025-08-19,3.52,2.42,-1.10,-31.25,-9900.0,-55
2,1,JMART,6800,2024-12-30,2025-08-19,13.20,8.25,-4.95,-37.50,-33660.0,-67
3,1,ORI,50000,2024-12-30,2025-08-19,3.62,2.28,-1.34,-37.02,-67000.0,-67
4,1,PTTGC,6000,2024-12-30,2025-08-19,24.40,22.10,-2.30,-9.43,-13800.0,-23
5,1,SCC,600,2024-12-30,2025-08-19,168.00,201.00,33.00,19.64,19800.0,65
6,1,SINGER,6000,2024-12-30,2025-08-19,7.90,5.30,-2.60,-32.91,-15600.0,-52
7,2,AIMIRT,17500,2024-12-30,2025-08-19,10.60,9.55,-1.05,-9.91,-18375.0,-14
8,2,CPNREIT,55000,2024-12-30,2025-08-19,12.30,11.40,-0.90,-7.32,-49500.0,-9
9,2,DIF,50000,2024-12-30,2025-08-19,8.60,8.10,-0.50,-5.81,-25000.0,-10
10,2,GVREIT,69000,2024-12-30,2025-08-19,6.50,6.30,-0.20,-3.08,-13800.0,-4
11,2,MCS,81000,2024-12-30,2025-08-19,6.70,8.60,1.90,28.36,153900.0,38
12,2,NER,27000,2024-12-30,2025-08-19,4.62,4.44,-0.18,-3.90,-4860.0,-9
13,2,PTT,2500,2024-12-30,2025-08-19,31.75,31.75,0.00,0.00,0.0,0
14,2,SENA,105000,2024-12-30,2025-08-19,2.22,1.83,-0.39,-17.57,-40950.0,-27
15,2,TFFIF,20000,2024-12-30,2025-08-19,6.35,6.05,-0.30,-4.72,-6000.0,-6
16,2,WHAIR,50000,2024-12-30,2025-08-19,6.50,5.35,-1.15,-17.69,-57500.0,-23
17,2,WHART,25000,2024-12-30,2025-08-19,10.20,9.10,-1.10,-10.78,-27500.0,-20
18,3,3BBIF,120000,2024-12-30,2025-08-19,5.20,6.15,0.95,18.27,114000.0,19
19,3,BCH,4000,2024-12-30,2025-08-19,15.30,13.10,-2.20,-14.38,-8800.0,-22
20,3,IVL,7200,2024-12-30,2025-08-19,24.90,20.30,-4.60,-18.47,-33120.0,-46
21,3,RCL,27000,2024-12-30,2025-08-19,28.25,27.00,-1.25,-4.42,-33750.0,-5
22,3,STA,10000,2024-12-30,2025-08-19,18.10,11.90,-6.20,-34.25,-62000.0,-62
23,3,SYNEX,17500,2024-12-30,2025-08-19,15.40,11.20,-4.20,-27.27,-73500.0,-42
24,3,TVO,8000,2024-12-30,2025-08-19,23.00,25.00,2.00,8.70,16000.0,20
25,4,CPF,4000,2024-12-30,2025-08-19,22.80,23.50,0.70,3.07,2800.0,7
26,4,JMT,4200,2024-12-30,2025-08-19,18.20,11.20,-7.00,-38.46,-29400.0,-70
27,4,PTG,3600,2024-12-30,2025-08-19,8.20,6.80,-1.40,-17.07,-5040.0,-28
28,4,TOA,1000,2024-12-30,2025-08-19,15.00,14.50,-0.50,-3.33,-500.0,-5

In [21]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
26,4,JMT,4200,2024-12-30,2025-08-19,18.20,11.20,-7.00,-38.46,-29400.0,-70
2,1,JMART,6800,2024-12-30,2025-08-19,13.20,8.25,-4.95,-37.50,-33660.0,-67
3,1,ORI,50000,2024-12-30,2025-08-19,3.62,2.28,-1.34,-37.02,-67000.0,-67
22,3,STA,10000,2024-12-30,2025-08-19,18.10,11.90,-6.20,-34.25,-62000.0,-62
1,1,AWC,9000,2024-12-30,2025-08-19,3.52,2.42,-1.10,-31.25,-9900.0,-55
6,1,SINGER,6000,2024-12-30,2025-08-19,7.90,5.30,-2.60,-32.91,-15600.0,-52
20,3,IVL,7200,2024-12-30,2025-08-19,24.90,20.30,-4.60,-18.47,-33120.0,-46
23,3,SYNEX,17500,2024-12-30,2025-08-19,15.40,11.20,-4.20,-27.27,-73500.0,-42
27,4,PTG,3600,2024-12-30,2025-08-19,8.20,6.80,-1.40,-17.07,-5040.0,-28
14,2,SENA,105000,2024-12-30,2025-08-19,2.22,1.83,-0.39,-17.57,-40950.0,-27
4,1,PTTGC,6000,2024-12-30,2025-08-19,24.40,22.10,-2.30,-9.43,-13800.0,-23
16,2,WHAIR,50000,2024-12-30,2025-08-19,6.50,5.35,-1.15,-17.69,-57500.0,-23
19,3,BCH,4000,2024-12-30,2025-08-19,15.30,13.10,-2.20,-14.38,-8800.0,-22
17,2,WHART,25000,2024-12-30,2025-08-19,10.20,9.10,-1.10,-10.78,-27500.0,-20
0,1,AH,1200,2024-12-30,2025-08-19,16.30,14.50,-1.80,-11.04,-2160.0,-18
7,2,AIMIRT,17500,2024-12-30,2025-08-19,10.60,9.55,-1.05,-9.91,-18375.0,-14
9,2,DIF,50000,2024-12-30,2025-08-19,8.60,8.10,-0.50,-5.81,-25000.0,-10
12,2,NER,27000,2024-12-30,2025-08-19,4.62,4.44,-0.18,-3.90,-4860.0,-9
8,2,CPNREIT,55000,2024-12-30,2025-08-19,12.30,11.40,-0.90,-7.32,-49500.0,-9
15,2,TFFIF,20000,2024-12-30,2025-08-19,6.35,6.05,-0.30,-4.72,-6000.0,-6
21,3,RCL,27000,2024-12-30,2025-08-19,28.25,27.00,-1.25,-4.42,-33750.0,-5
28,4,TOA,1000,2024-12-30,2025-08-19,15.00,14.50,-0.50,-3.33,-500.0,-5
10,2,GVREIT,69000,2024-12-30,2025-08-19,6.50,6.30,-0.20,-3.08,-13800.0,-4
13,2,PTT,2500,2024-12-30,2025-08-19,31.75,31.75,0.00,0.00,0.0,0
25,4,CPF,4000,2024-12-30,2025-08-19,22.80,23.50,0.70,3.07,2800.0,7
18,3,3BBIF,120000,2024-12-30,2025-08-19,5.20,6.15,0.95,18.27,114000.0,19
24,3,TVO,8000,2024-12-30,2025-08-19,23.00,25.00,2.00,8.70,16000.0,20
11,2,MCS,81000,2024-12-30,2025-08-19,6.70,8.60,1.90,28.36,153900.0,38
5,1,SCC,600,2024-12-30,2025-08-19,168.00,201.00,33.00,19.64,19800.0,65

In [22]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        79600 -122320.0 -217
2       502000  -89585.0  -84
3       193700  -81170.0 -138
4        12800  -32140.0  -96

In [23]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         79600  33.848571  36.550000  2.701429 -31.000000 -122320.0
2        502000   9.667273   9.315455 -0.351818  -7.636364  -89585.0
3        193700  18.592857  16.378571 -2.214286 -19.714286  -81170.0
4         12800  16.050000  14.000000 -2.050000 -24.000000  -32140.0

In [24]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-325,215.00'

In [25]:
prev_pl = -325_215
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-57,280.00'