### Modify 2 statements then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [1]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2025, 1, 22), datetime.date(2025, 1, 21))

In [3]:
#today = date(2023, 4, 25)
#yesterday = today - timedelta(days=4)
today, yesterday

(datetime.date(2025, 1, 22), datetime.date(2025, 1, 21))

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-01-22
Today in mm-dd format: 01-22
yesterday: 2025-01-21 00:00:00

In [7]:
# If run after actual work day
#today = date(2025,1,3)
today

datetime.date(2025, 1, 22)

In [9]:
#yesterday = yesterday.date()
#yesterday = date(2025,1,2)
yesterday

Timestamp('2025-01-21 00:00:00')

In [11]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [28]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"OSD path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
OSD path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [30]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [32]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [34]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

In [36]:
sql = """
SELECT *
FROM price
LIMIT 1"""
prices = pd.read_sql(sql, const)
prices.dtypes

name      object
date      object
price    float64
maxp     float64
minp     float64
qty        int64
opnp     float64
dtype: object

### Call ruby ruby\find-change-fm-2-dates.rb

In [38]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [40]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [42]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-01-22      16.30      14.20      -2.10     -12.88  -2,520.00        -21
         1        ASK       6000   24-12-30   25-01-22      10.30       8.85      -1.45     -14.08  -8,700.00        -26
         1        ASP      30000   24-12-30   25-01-22       2.36       2.34      -0.02      -0.85    -600.00         -1
         1        IVL       7200   24-12-30   25-01-22      24.90      22.40      -2.50     -10.04 -18,000.00        -25
         1        ORI      50000   24-12-30   25-01-22       3.62       3.42      -0.20      -5.52 -10,000.00        -10
         1      PTTGC       6000   24-12-30   25-01-22      24.40      21.50      -2.90     -11.89 -17,400.00        -29
         1        SCC        600   24-12-30   25-01-22     168.00     154.50     -13.50      -8.04  -8,100.00        -27
         1     SINGER       6000   24-12-30   25-01-22       7.90       6.90      -1.00     -12.66  -6,000.00        -20
         1        STA      10000   24-12-30   25-01-22      18.10      16.40      -1.70      -9.39 -17,000.00        -17
         1        TMT      36000   24-12-30   25-01-22       3.14       3.04      -0.10      -3.18  -3,600.00         -5
         1        TOA       1000   24-12-30   25-01-22      15.00      13.10      -1.90     -12.67  -1,900.00        -19
         2     AIMIRT      12500   24-12-30   25-01-22      10.60      10.50      -0.10      -0.94  -1,250.00         -1
         2    CPNREIT      55000   24-12-30   25-01-22      12.30      12.10      -0.20      -1.63 -11,000.00         -2
         2        DIF      35000   24-12-30   25-01-22       8.60       8.45      -0.15      -1.74  -5,250.00         -3
         2     GVREIT      60000   24-12-30   25-01-22       6.50       6.50       0.00       0.00       0.00          0
         2        MCS      75000   24-12-30   25-01-22       6.70       6.25      -0.45      -6.72 -33,750.00         -9
         2        NER      27000   24-12-30   25-01-22       4.62       5.00       0.38       8.23  10,260.00         18
         2       SENA     105000   24-12-30   25-01-22       2.22       2.20      -0.02      -0.90  -2,100.00         -1
         2      TFFIF      20000   24-12-30   25-01-22       6.35       6.30      -0.05      -0.79  -1,000.00         -1
         2      WHAIR      50000   24-12-30   25-01-22       6.50       6.45      -0.05      -0.77  -2,500.00         -1
         2      WHART      20000   24-12-30   25-01-22      10.20      10.20       0.00       0.00       0.00          0
         3      3BBIF     120000   24-12-30   25-01-22       5.20       5.15      -0.05      -0.96  -6,000.00         -1
         3      JMART       6800   24-12-30   25-01-22      13.20      11.10      -2.10     -15.91 -14,280.00        -21
         3        JMT       4200   24-12-30   25-01-22      18.20      14.80      -3.40     -18.68 -14,280.00        -34
         3        KCE      10000   24-12-30   25-01-22      24.50      22.90      -1.60      -6.53 -16,000.00        -16
         4        AWC       9000   24-12-30   25-01-22       3.52       3.10      -0.42     -11.93  -3,780.00        -21
         4        BCH       4000   24-12-30   25-01-22      15.30      15.10      -0.20      -1.31    -800.00         -2
         4        PTG       3600   24-12-30   25-01-22       8.20       7.60      -0.60      -7.32  -2,160.00        -12
         4        RCL      27000   24-12-30   25-01-22      28.25      25.25      -3.00     -10.62 -81,000.00        -12
         4      SYNEX      15000   24-12-30   25-01-22      15.40      13.50      -1.90     -12.34 -28,500.00        -19
         4        TVO       4000   24-12-30   25-01-22      23.00      21.00      -2.00      -8.70  -8,000.00        -20

In [44]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [46]:
#data_path = "../data/"
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [48]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-01-22,16.30,14.20,-2.10,-12.88,-2520.0,-21
1,1,ASK,6000,2024-12-30,2025-01-22,10.30,8.85,-1.45,-14.08,-8700.0,-26
2,1,ASP,30000,2024-12-30,2025-01-22,2.36,2.34,-0.02,-0.85,-600.0,-1
3,1,IVL,7200,2024-12-30,2025-01-22,24.90,22.40,-2.50,-10.04,-18000.0,-25
4,1,ORI,50000,2024-12-30,2025-01-22,3.62,3.42,-0.20,-5.52,-10000.0,-10
5,1,PTTGC,6000,2024-12-30,2025-01-22,24.40,21.50,-2.90,-11.89,-17400.0,-29
6,1,SCC,600,2024-12-30,2025-01-22,168.00,154.50,-13.50,-8.04,-8100.0,-27
7,1,SINGER,6000,2024-12-30,2025-01-22,7.90,6.90,-1.00,-12.66,-6000.0,-20
8,1,STA,10000,2024-12-30,2025-01-22,18.10,16.40,-1.70,-9.39,-17000.0,-17
9,1,TMT,36000,2024-12-30,2025-01-22,3.14,3.04,-0.10,-3.18,-3600.0,-5
10,1,TOA,1000,2024-12-30,2025-01-22,15.00,13.10,-1.90,-12.67,-1900.0,-19
11,2,AIMIRT,12500,2024-12-30,2025-01-22,10.60,10.50,-0.10,-0.94,-1250.0,-1
12,2,CPNREIT,55000,2024-12-30,2025-01-22,12.30,12.10,-0.20,-1.63,-11000.0,-2
13,2,DIF,35000,2024-12-30,2025-01-22,8.60,8.45,-0.15,-1.74,-5250.0,-3
14,2,GVREIT,60000,2024-12-30,2025-01-22,6.50,6.50,0.00,0.00,0.0,0
15,2,MCS,75000,2024-12-30,2025-01-22,6.70,6.25,-0.45,-6.72,-33750.0,-9
16,2,NER,27000,2024-12-30,2025-01-22,4.62,5.00,0.38,8.23,10260.0,18
17,2,SENA,105000,2024-12-30,2025-01-22,2.22,2.20,-0.02,-0.90,-2100.0,-1
18,2,TFFIF,20000,2024-12-30,2025-01-22,6.35,6.30,-0.05,-0.79,-1000.0,-1
19,2,WHAIR,50000,2024-12-30,2025-01-22,6.50,6.45,-0.05,-0.77,-2500.0,-1
20,2,WHART,20000,2024-12-30,2025-01-22,10.20,10.20,0.00,0.00,0.0,0
21,3,3BBIF,120000,2024-12-30,2025-01-22,5.20,5.15,-0.05,-0.96,-6000.0,-1
22,3,JMART,6800,2024-12-30,2025-01-22,13.20,11.10,-2.10,-15.91,-14280.0,-21
23,3,JMT,4200,2024-12-30,2025-01-22,18.20,14.80,-3.40,-18.68,-14280.0,-34
24,3,KCE,10000,2024-12-30,2025-01-22,24.50,22.90,-1.60,-6.53,-16000.0,-16
25,4,AWC,9000,2024-12-30,2025-01-22,3.52,3.10,-0.42,-11.93,-3780.0,-21
26,4,BCH,4000,2024-12-30,2025-01-22,15.30,15.10,-0.20,-1.31,-800.0,-2
27,4,PTG,3600,2024-12-30,2025-01-22,8.20,7.60,-0.60,-7.32,-2160.0,-12
28,4,RCL,27000,2024-12-30,2025-01-22,28.25,25.25,-3.00,-10.62,-81000.0,-12
29,4,SYNEX,15000,2024-12-30,2025-01-22,15.40,13.50,-1.90,-12.34,-28500.0,-19
30,4,TVO,4000,2024-12-30,2025-01-22,23.00,21.00,-2.00,-8.70,-8000.0,-20

In [50]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
23,3,JMT,4200,2024-12-30,2025-01-22,18.20,14.80,-3.40,-18.68,-14280.0,-34
5,1,PTTGC,6000,2024-12-30,2025-01-22,24.40,21.50,-2.90,-11.89,-17400.0,-29
6,1,SCC,600,2024-12-30,2025-01-22,168.00,154.50,-13.50,-8.04,-8100.0,-27
1,1,ASK,6000,2024-12-30,2025-01-22,10.30,8.85,-1.45,-14.08,-8700.0,-26
3,1,IVL,7200,2024-12-30,2025-01-22,24.90,22.40,-2.50,-10.04,-18000.0,-25
0,1,AH,1200,2024-12-30,2025-01-22,16.30,14.20,-2.10,-12.88,-2520.0,-21
25,4,AWC,9000,2024-12-30,2025-01-22,3.52,3.10,-0.42,-11.93,-3780.0,-21
22,3,JMART,6800,2024-12-30,2025-01-22,13.20,11.10,-2.10,-15.91,-14280.0,-21
30,4,TVO,4000,2024-12-30,2025-01-22,23.00,21.00,-2.00,-8.70,-8000.0,-20
7,1,SINGER,6000,2024-12-30,2025-01-22,7.90,6.90,-1.00,-12.66,-6000.0,-20
10,1,TOA,1000,2024-12-30,2025-01-22,15.00,13.10,-1.90,-12.67,-1900.0,-19
29,4,SYNEX,15000,2024-12-30,2025-01-22,15.40,13.50,-1.90,-12.34,-28500.0,-19
8,1,STA,10000,2024-12-30,2025-01-22,18.10,16.40,-1.70,-9.39,-17000.0,-17
24,3,KCE,10000,2024-12-30,2025-01-22,24.50,22.90,-1.60,-6.53,-16000.0,-16
28,4,RCL,27000,2024-12-30,2025-01-22,28.25,25.25,-3.00,-10.62,-81000.0,-12
27,4,PTG,3600,2024-12-30,2025-01-22,8.20,7.60,-0.60,-7.32,-2160.0,-12
4,1,ORI,50000,2024-12-30,2025-01-22,3.62,3.42,-0.20,-5.52,-10000.0,-10
15,2,MCS,75000,2024-12-30,2025-01-22,6.70,6.25,-0.45,-6.72,-33750.0,-9
9,1,TMT,36000,2024-12-30,2025-01-22,3.14,3.04,-0.10,-3.18,-3600.0,-5
13,2,DIF,35000,2024-12-30,2025-01-22,8.60,8.45,-0.15,-1.74,-5250.0,-3
26,4,BCH,4000,2024-12-30,2025-01-22,15.30,15.10,-0.20,-1.31,-800.0,-2
12,2,CPNREIT,55000,2024-12-30,2025-01-22,12.30,12.10,-0.20,-1.63,-11000.0,-2
17,2,SENA,105000,2024-12-30,2025-01-22,2.22,2.20,-0.02,-0.90,-2100.0,-1
21,3,3BBIF,120000,2024-12-30,2025-01-22,5.20,5.15,-0.05,-0.96,-6000.0,-1
2,1,ASP,30000,2024-12-30,2025-01-22,2.36,2.34,-0.02,-0.85,-600.0,-1
11,2,AIMIRT,12500,2024-12-30,2025-01-22,10.60,10.50,-0.10,-0.94,-1250.0,-1
18,2,TFFIF,20000,2024-12-30,2025-01-22,6.35,6.30,-0.05,-0.79,-1000.0,-1
19,2,WHAIR,50000,2024-12-30,2025-01-22,6.50,6.45,-0.05,-0.77,-2500.0,-1
20,2,WHART,20000,2024-12-30,2025-01-22,10.20,10.20,0.00,0.00,0.0,0
14,2,GVREIT,60000,2024-12-30,2025-01-22,6.50,6.50,0.00,0.00,0.0,0
16,2,NER,27000,2024-12-30,2025-01-22,4.62,5.00,0.38,8.23,10260.0,18

In [52]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1       154000  -93820.0 -200
2       459500  -46590.0    0
3       141000  -50560.0  -72
4        62600 -124240.0  -86

In [54]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1        154000  26.729091  24.240909 -2.488182 -18.181818  -93820.0
2        459500   7.459000   7.395000 -0.064000   0.000000  -46590.0
3        141000  15.275000  13.487500 -1.787500 -18.000000  -50560.0
4         62600  15.611667  14.258333 -1.353333 -14.333333 -124240.0

In [56]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-315,210.00'

In [58]:
prev_pl = -305_830
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿-9,380.00'