### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-09-08 2025-09-07

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-09-08 2025-09-07

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-09-08
Today in mm-dd format: 09-08
yesterday: 2025-09-04 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-09-08

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-09-04 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}','price':'{:.2f}','price1':'{:.2f}','price2':'{:.2f}',
    'beta':'{:,.2f}','change':'{:.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%','%change':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}','volume':'{:,.0f}','shares':'{:,.0f}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}','amount':'{:,.2f}'
}

In [11]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy.style.format(format_dict).hide(axis="index")

In [12]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [13]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [14]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [16]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [17]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [18]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-09-08      16.30      14.50      -1.80     -11.04  -2,160.00        -18
         1        AWC       9000   24-12-30   25-09-08       3.52       2.38      -1.14     -32.39 -10,260.00        -57
         1      JMART       6800   24-12-30   25-09-08      13.20      10.10      -3.10     -23.48 -21,080.00        -31
         1        ORI      50000   24-12-30   25-09-08       3.62       2.74      -0.88     -24.31 -44,000.00        -44
         1      PTTGC       6000   24-12-30   25-09-08      24.40      27.50       3.10      12.70  18,600.00         16
         1        SCC        600   24-12-30   25-09-08     168.00     224.00      56.00      33.33  33,600.00         88
         1     SINGER       6000   24-12-30   25-09-08       7.90       6.50      -1.40     -17.72  -8,400.00        -28
         2     AIMIRT      17500   24-12-30   25-09-08      10.60       9.70      -0.90      -8.49 -15,750.00        -12
         2    CPNREIT      55000   24-12-30   25-09-08      12.30      11.10      -1.20      -9.76 -66,000.00        -12
         2        DIF      45000   24-12-30   25-09-08       8.60       8.60       0.00       0.00       0.00          0
         2     GVREIT      69000   24-12-30   25-09-08       6.50       6.25      -0.25      -3.85 -17,250.00         -5
         2        MCS      75000   24-12-30   25-09-08       6.70       8.65       1.95      29.10 146,250.00         39
         2        NER      27000   24-12-30   25-09-08       4.62       4.54      -0.08      -1.73  -2,160.00         -4
         2        PTT       5000   24-12-30   25-09-08      31.75      31.75       0.00       0.00       0.00          0
         2       SENA     105000   24-12-30   25-09-08       2.22       1.93      -0.29     -13.06 -30,450.00        -18
         2      TFFIF      20000   24-12-30   25-09-08       6.35       5.95      -0.40      -6.30  -8,000.00         -8
         2      WHAIR      50000   24-12-30   25-09-08       6.50       5.50      -1.00     -15.38 -50,000.00        -20
         2      WHART      25000   24-12-30   25-09-08      10.20       9.15      -1.05     -10.29 -26,250.00        -18
         3      3BBIF     120000   24-12-30   25-09-08       5.20       6.40       1.20      23.08 144,000.00         24
         3        BCH       4000   24-12-30   25-09-08      15.30      13.10      -2.20     -14.38  -8,800.00        -22
         3        IVL       7200   24-12-30   25-09-08      24.90      23.30      -1.60      -6.43 -11,520.00        -16
         3        RCL      27000   24-12-30   25-09-08      28.25      26.75      -1.50      -5.31 -40,500.00         -6
         3        STA      10000   24-12-30   25-09-08      18.10      13.70      -4.40     -24.31 -44,000.00        -44
         3      SYNEX      17500   24-12-30   25-09-08      15.40      12.20      -3.20     -20.78 -56,000.00        -32
         3        TVO       8000   24-12-30   25-09-08      23.00      25.25       2.25       9.78  18,000.00         21
         4        CPF          0   24-12-30   25-09-08      22.80      23.50       0.70       3.07       0.00          7
         4        JMT       4200   24-12-30   25-09-08      18.20      12.80      -5.40     -29.67 -22,680.00        -54
         4        PTG       3600   24-12-30   25-09-08       8.20       8.50       0.30       3.66   1,080.00          6
         4        TOA       1000   24-12-30   25-09-08      15.00      15.50       0.50       3.33     500.00          5

In [19]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [20]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [21]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df.style.format(format_dict).hide(axis="index")

In [22]:
df.sort_values(['spd'],ascending=True).style.format(format_dict).hide(axis="index")

In [23]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares   amount  spd
period
1        79600 -33700.0  -74
2       493500 -69610.0  -58
3       193700   1180.0  -75
4         8800 -21100.0  -36

In [24]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd  ttl_amt
period
1         79600  33.848571  41.102857  7.254286 -10.571429 -33700.0
2        493500   9.667273   9.374545 -0.292727  -5.272727 -69610.0
3        193700  18.592857  17.242857 -1.350000 -10.714286   1180.0
4          8800  16.050000  15.075000 -0.975000  -9.000000 -21100.0

In [25]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-123,230.00'

In [26]:
prev_pl = -123_230
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿40,085.00'