### Modify 2 statements then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [1]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2025, 1, 21), datetime.date(2025, 1, 20))

In [3]:
#today = date(2023, 4, 25)
#yesterday = today - timedelta(days=4)
today, yesterday

(datetime.date(2025, 1, 21), datetime.date(2025, 1, 20))

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-01-21
Today in mm-dd format: 01-21
yesterday: 2025-01-20 00:00:00

In [7]:
# If run after actual work day
#today = date(2025,1,3)
today

datetime.date(2025, 1, 21)

In [9]:
#yesterday = yesterday.date()
#yesterday = date(2025,1,2)
yesterday

Timestamp('2025-01-20 00:00:00')

In [13]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\Downloads\Datasets
dts_path = os.path.join(user_path, "Downloads", "Datasets")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")
#C:\Users\PC1\OneDrive\A5\Excel
xsl_path = os.path.join(base_path, "Excel")

In [15]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Datasets path (dts_path): {dts_path}") 
print(f"Excel path (xsl_path): {xsl_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"OSD path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Datasets path (dts_path): C:\Users\PC1\Downloads\Datasets
Excel path (xsl_path): C:\Users\PC1\OneDrive\A5\Excel
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
OSD path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [17]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy

   period     name  shares
0       1       AH    1200
1       1      ASK    6000
2       1      ASP   30000
3       1      IVL    7200
4       1      ORI   50000
5       1    PTTGC    6000
6       1      SCC     600
7       1   SINGER    6000
8       1      STA   10000
9       1      TMT   36000
10      1      TOA    1000
11      2   AIMIRT   12500
12      2  CPNREIT   55000
13      2      DIF   35000
14      2   GVREIT   60000
15      2      MCS   75000
16      2      NER   27000
17      2     SENA  105000
18      2    TFFIF   20000
19      2    WHAIR   50000
20      2    WHART   20000
21      3    3BBIF  120000
22      3    JMART    6800
23      3      JMT    4200
24      3      KCE   10000
25      4      AWC    9000
26      4      BCH    4000
27      4      PTG    3600
28      4      RCL   27000
29      4    SYNEX   15000
30      4      TVO    4000

In [19]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [21]:
print(f"output_file (output_file): {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

output_file (output_file): C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [23]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

In [25]:
sql = """
SELECT *
FROM price
LIMIT 1"""
prices = pd.read_sql(sql, const)
prices.dtypes

name      object
date      object
price    float64
maxp     float64
minp     float64
qty        int64
opnp     float64
dtype: object

### Call ruby ruby\find-change-fm-2-dates.rb

In [28]:
# Get the current working directory
current_dir = os.getcwd()
print(f"Current Directory: {current_dir}")

Current Directory: C:\Users\PC1\OneDrive\A5\Daily

In [30]:
# Derive the base directory (to_dir) by removing the last folder ('Daily')
to_dir = os.path.dirname(current_dir)
print(f"Base Directory (to_dir): {to_dir}")

Base Directory (to_dir): C:\Users\PC1\OneDrive\A5

In [32]:
# Extract the last folder from the base directory
last_folder = os.path.basename(to_dir)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [34]:
# Change to the derived directory (optional)
os.chdir(to_dir)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [36]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-01-21      16.30      14.90      -1.40      -8.59  -1,680.00        -14
         1        ASK       6000   24-12-30   25-01-21      10.30       8.65      -1.65     -16.02  -9,900.00        -29
         1        ASP      30000   24-12-30   25-01-21       2.36       2.34      -0.02      -0.85    -600.00         -1
         1        IVL       7200   24-12-30   25-01-21      24.90      22.90      -2.00      -8.03 -14,400.00        -20
         1        ORI      50000   24-12-30   25-01-21       3.62       3.40      -0.22      -6.08 -11,000.00        -11
         1      PTTGC       6000   24-12-30   25-01-21      24.40      21.40      -3.00     -12.30 -18,000.00        -30
         1        SCC        600   24-12-30   25-01-21     168.00     156.50     -11.50      -6.85  -6,900.00        -23
         1     SINGER       6000   24-12-30   25-01-21       7.90       6.95      -0.95     -12.03  -5,700.00        -19
         1        STA      10000   24-12-30   25-01-21      18.10      16.60      -1.50      -8.29 -15,000.00        -15
         1        TMT      36000   24-12-30   25-01-21       3.14       3.00      -0.14      -4.46  -5,040.00         -7
         1        TOA       1000   24-12-30   25-01-21      15.00      13.40      -1.60     -10.67  -1,600.00        -16
         2     AIMIRT      12500   24-12-30   25-01-21      10.60      10.50      -0.10      -0.94  -1,250.00         -1
         2    CPNREIT      55000   24-12-30   25-01-21      12.30      12.10      -0.20      -1.63 -11,000.00         -2
         2        DIF      35000   24-12-30   25-01-21       8.60       8.45      -0.15      -1.74  -5,250.00         -3
         2     GVREIT      60000   24-12-30   25-01-21       6.50       6.55       0.05       0.77   3,000.00          1
         2        MCS      75000   24-12-30   25-01-21       6.70       6.35      -0.35      -5.22 -26,250.00         -7
         2        NER      27000   24-12-30   25-01-21       4.62       4.94       0.32       6.93   8,640.00         16
         2       SENA     105000   24-12-30   25-01-21       2.22       2.18      -0.04      -1.80  -4,200.00         -2
         2      TFFIF      20000   24-12-30   25-01-21       6.35       6.30      -0.05      -0.79  -1,000.00         -1
         2      WHAIR      50000   24-12-30   25-01-21       6.50       6.50       0.00       0.00       0.00          0
         2      WHART      20000   24-12-30   25-01-21      10.20      10.20       0.00       0.00       0.00          0
         3      3BBIF     120000   24-12-30   25-01-21       5.20       5.10      -0.10      -1.92 -12,000.00         -2
         3      JMART       6800   24-12-30   25-01-21      13.20      11.20      -2.00     -15.15 -13,600.00        -20
         3        JMT       4200   24-12-30   25-01-21      18.20      14.90      -3.30     -18.13 -13,860.00        -33
         3        KCE      10000   24-12-30   25-01-21      24.50      23.20      -1.30      -5.31 -13,000.00        -13
         4        AWC       9000   24-12-30   25-01-21       3.52       3.10      -0.42     -11.93  -3,780.00        -21
         4        BCH       4000   24-12-30   25-01-21      15.30      14.50      -0.80      -5.23  -3,200.00         -8
         4        PTG       3600   24-12-30   25-01-21       8.20       7.60      -0.60      -7.32  -2,160.00        -12
         4        RCL      27000   24-12-30   25-01-21      28.25      25.25      -3.00     -10.62 -81,000.00        -12
         4      SYNEX      15000   24-12-30   25-01-21      15.40      13.50      -1.90     -12.34 -28,500.00        -19
         4        TVO       4000   24-12-30   25-01-21      23.00      21.10      -1.90      -8.26  -7,600.00        -19

In [38]:
os.chdir(current_dir)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [40]:
#data_path = "../data/"
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file (input_file): {input_file}")

Input file (input_file): C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [42]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
0,1,AH,1200,2024-12-30,2025-01-21,16.30,14.90,-1.40,-8.59,-1680.0,-14
1,1,ASK,6000,2024-12-30,2025-01-21,10.30,8.65,-1.65,-16.02,-9900.0,-29
2,1,ASP,30000,2024-12-30,2025-01-21,2.36,2.34,-0.02,-0.85,-600.0,-1
3,1,IVL,7200,2024-12-30,2025-01-21,24.90,22.90,-2.00,-8.03,-14400.0,-20
4,1,ORI,50000,2024-12-30,2025-01-21,3.62,3.40,-0.22,-6.08,-11000.0,-11
5,1,PTTGC,6000,2024-12-30,2025-01-21,24.40,21.40,-3.00,-12.30,-18000.0,-30
6,1,SCC,600,2024-12-30,2025-01-21,168.00,156.50,-11.50,-6.85,-6900.0,-23
7,1,SINGER,6000,2024-12-30,2025-01-21,7.90,6.95,-0.95,-12.03,-5700.0,-19
8,1,STA,10000,2024-12-30,2025-01-21,18.10,16.60,-1.50,-8.29,-15000.0,-15
9,1,TMT,36000,2024-12-30,2025-01-21,3.14,3.00,-0.14,-4.46,-5040.0,-7
10,1,TOA,1000,2024-12-30,2025-01-21,15.00,13.40,-1.60,-10.67,-1600.0,-16
11,2,AIMIRT,12500,2024-12-30,2025-01-21,10.60,10.50,-0.10,-0.94,-1250.0,-1
12,2,CPNREIT,55000,2024-12-30,2025-01-21,12.30,12.10,-0.20,-1.63,-11000.0,-2
13,2,DIF,35000,2024-12-30,2025-01-21,8.60,8.45,-0.15,-1.74,-5250.0,-3
14,2,GVREIT,60000,2024-12-30,2025-01-21,6.50,6.55,0.05,0.77,3000.0,1
15,2,MCS,75000,2024-12-30,2025-01-21,6.70,6.35,-0.35,-5.22,-26250.0,-7
16,2,NER,27000,2024-12-30,2025-01-21,4.62,4.94,0.32,6.93,8640.0,16
17,2,SENA,105000,2024-12-30,2025-01-21,2.22,2.18,-0.04,-1.80,-4200.0,-2
18,2,TFFIF,20000,2024-12-30,2025-01-21,6.35,6.30,-0.05,-0.79,-1000.0,-1
19,2,WHAIR,50000,2024-12-30,2025-01-21,6.50,6.50,0.00,0.00,0.0,0
20,2,WHART,20000,2024-12-30,2025-01-21,10.20,10.20,0.00,0.00,0.0,0
21,3,3BBIF,120000,2024-12-30,2025-01-21,5.20,5.10,-0.10,-1.92,-12000.0,-2
22,3,JMART,6800,2024-12-30,2025-01-21,13.20,11.20,-2.00,-15.15,-13600.0,-20
23,3,JMT,4200,2024-12-30,2025-01-21,18.20,14.90,-3.30,-18.13,-13860.0,-33
24,3,KCE,10000,2024-12-30,2025-01-21,24.50,23.20,-1.30,-5.31,-13000.0,-13
25,4,AWC,9000,2024-12-30,2025-01-21,3.52,3.10,-0.42,-11.93,-3780.0,-21
26,4,BCH,4000,2024-12-30,2025-01-21,15.30,14.50,-0.80,-5.23,-3200.0,-8
27,4,PTG,3600,2024-12-30,2025-01-21,8.20,7.60,-0.60,-7.32,-2160.0,-12
28,4,RCL,27000,2024-12-30,2025-01-21,28.25,25.25,-3.00,-10.62,-81000.0,-12
29,4,SYNEX,15000,2024-12-30,2025-01-21,15.40,13.50,-1.90,-12.34,-28500.0,-19
30,4,TVO,4000,2024-12-30,2025-01-21,23.00,21.10,-1.90,-8.26,-7600.0,-19

In [44]:
df.sort_values(['spd'],ascending=True)

,period,name,shares,date1,date2,price1,price2,change,%change,amount,spd
23,3,JMT,4200,2024-12-30,2025-01-21,18.20,14.90,-3.30,-18.13,-13860.0,-33
5,1,PTTGC,6000,2024-12-30,2025-01-21,24.40,21.40,-3.00,-12.30,-18000.0,-30
1,1,ASK,6000,2024-12-30,2025-01-21,10.30,8.65,-1.65,-16.02,-9900.0,-29
6,1,SCC,600,2024-12-30,2025-01-21,168.00,156.50,-11.50,-6.85,-6900.0,-23
25,4,AWC,9000,2024-12-30,2025-01-21,3.52,3.10,-0.42,-11.93,-3780.0,-21
3,1,IVL,7200,2024-12-30,2025-01-21,24.90,22.90,-2.00,-8.03,-14400.0,-20
22,3,JMART,6800,2024-12-30,2025-01-21,13.20,11.20,-2.00,-15.15,-13600.0,-20
30,4,TVO,4000,2024-12-30,2025-01-21,23.00,21.10,-1.90,-8.26,-7600.0,-19
7,1,SINGER,6000,2024-12-30,2025-01-21,7.90,6.95,-0.95,-12.03,-5700.0,-19
29,4,SYNEX,15000,2024-12-30,2025-01-21,15.40,13.50,-1.90,-12.34,-28500.0,-19
10,1,TOA,1000,2024-12-30,2025-01-21,15.00,13.40,-1.60,-10.67,-1600.0,-16
8,1,STA,10000,2024-12-30,2025-01-21,18.10,16.60,-1.50,-8.29,-15000.0,-15
0,1,AH,1200,2024-12-30,2025-01-21,16.30,14.90,-1.40,-8.59,-1680.0,-14
24,3,KCE,10000,2024-12-30,2025-01-21,24.50,23.20,-1.30,-5.31,-13000.0,-13
28,4,RCL,27000,2024-12-30,2025-01-21,28.25,25.25,-3.00,-10.62,-81000.0,-12
27,4,PTG,3600,2024-12-30,2025-01-21,8.20,7.60,-0.60,-7.32,-2160.0,-12
4,1,ORI,50000,2024-12-30,2025-01-21,3.62,3.40,-0.22,-6.08,-11000.0,-11
26,4,BCH,4000,2024-12-30,2025-01-21,15.30,14.50,-0.80,-5.23,-3200.0,-8
15,2,MCS,75000,2024-12-30,2025-01-21,6.70,6.35,-0.35,-5.22,-26250.0,-7
9,1,TMT,36000,2024-12-30,2025-01-21,3.14,3.00,-0.14,-4.46,-5040.0,-7
13,2,DIF,35000,2024-12-30,2025-01-21,8.60,8.45,-0.15,-1.74,-5250.0,-3
12,2,CPNREIT,55000,2024-12-30,2025-01-21,12.30,12.10,-0.20,-1.63,-11000.0,-2
17,2,SENA,105000,2024-12-30,2025-01-21,2.22,2.18,-0.04,-1.80,-4200.0,-2
21,3,3BBIF,120000,2024-12-30,2025-01-21,5.20,5.10,-0.10,-1.92,-12000.0,-2
18,2,TFFIF,20000,2024-12-30,2025-01-21,6.35,6.30,-0.05,-0.79,-1000.0,-1
2,1,ASP,30000,2024-12-30,2025-01-21,2.36,2.34,-0.02,-0.85,-600.0,-1
11,2,AIMIRT,12500,2024-12-30,2025-01-21,10.60,10.50,-0.10,-0.94,-1250.0,-1
19,2,WHAIR,50000,2024-12-30,2025-01-21,6.50,6.50,0.00,0.00,0.0,0
20,2,WHART,20000,2024-12-30,2025-01-21,10.20,10.20,0.00,0.00,0.0,0
14,2,GVREIT,60000,2024-12-30,2025-01-21,6.50,6.55,0.05,0.77,3000.0,1
16,2,NER,27000,2024-12-30,2025-01-21,4.62,4.94,0.32,6.93,8640.0,16

In [46]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1       154000  -89820.0 -185
2       459500  -37310.0    1
3       141000  -52460.0  -68
4        62600 -126240.0  -91

In [48]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1        154000  26.729091  24.549091 -2.180000 -16.818182  -89820.0
2        459500   7.459000   7.407000 -0.052000   0.100000  -37310.0
3        141000  15.275000  13.600000 -1.675000 -17.000000  -52460.0
4         62600  15.611667  14.175000 -1.436667 -15.166667 -126240.0

In [50]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-305,830.00'

In [52]:
prev_pl = -337_310
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿31,480.00'